<template>
    <path 
        fill-rule="evenodd" 
        clip-rule="evenodd" 
        d="M6.17034 14.8942L4.79412 22.9182L12.0001 19.1298L19.2061 22.9182L17.8299 14.8942L23.6596 9.21162L15.6031 8.04094L12.0001 0.740479L8.39711 8.04094L0.340576 9.21162L6.17034 14.8942ZM15.6809 14.196L16.5498 19.2622L12.0001 16.8703L7.45038 19.2622L8.3193 14.196L4.6385 10.6081L9.72524 9.86895L12.0001 5.25958L14.275 9.86895L19.3617 10.6081L15.6809 14.196Z" 
        fill="#666FCC"
    />           
</template>