<template>
    <path 
        fill-rule="evenodd" 
        clip-rule="evenodd" 
        d="M14.1421 13.5858L20.5061 7.22182L21.9203 8.63604L15.5564 15L21.9203 21.364L20.5061 22.7782L14.1421 16.4142L7.77818 22.7782L6.36396 21.364L12.7279 15L6.36396 8.63604L7.77818 7.22182L14.1421 13.5858Z" 
    />                    
</template>