<template>
    <path 
        fill-rule="evenodd" 
        clip-rule="evenodd" 
        d="M12 1.04407C14.2091 1.04407 16 2.91377 16 5.22017V12.5284C16 14.8348 14.2091 16.7045 12 16.7045C9.79086 16.7045 8 14.8348 8 12.5284V5.22017C8 2.91377 9.79086 1.04407 12 1.04407ZM13 20.816V21.9246H16V24.0127H8V21.9246H11V20.816C7.05369 20.3022 4 16.7876 4 12.5284V10.4403H6V12.5284C6 15.988 8.68629 18.7925 12 18.7925C15.3137 18.7925 18 15.988 18 12.5284V10.4403H20V12.5284C20 16.7876 16.9463 20.3022 13 20.816ZM10 5.22017C10 4.06697 10.8954 3.13212 12 3.13212C13.1046 3.13212 14 4.06697 14 5.22017V12.5284C14 13.6816 13.1046 14.6164 12 14.6164C10.8954 14.6164 10 13.6816 10 12.5284V5.22017Z" 
        fill="#6C7E82"
    />
</template>