<template>
     <path d="M0.375 11.6562V14.625H3.34375L12.0996 5.86917L9.13083 2.90042L0.375 11.6562ZM2.68667 13.0417H1.95833V12.3133L9.13083 5.14083L9.85917 5.86917L2.68667 13.0417ZM14.3954 2.45708L12.5429 0.604583C12.3846 0.44625 12.1867 0.375 11.9808 0.375C11.775 0.375 11.5771 0.454167 11.4267 0.604583L9.97792 2.05333L12.9467 5.02208L14.3954 3.57333C14.7042 3.26458 14.7042 2.76583 14.3954 2.45708Z" fill="#9299A6"/>
                                    
</template>