<template>
    <path 
        fill-rule="evenodd" 
        clip-rule="evenodd" 
        d="M5.75075 9.80716H11.2232C18.9325 9.80716 22 13.1205 22 21H20.0406C20.0406 14.227 17.8327 11.8422 11.2232 11.8422H5.75075L9.95654 16.2104L8.57102 17.6494L2 10.8247L8.57102 4L9.95654 5.43901L5.75075 9.80716Z" 
        fill="#666FCC"
    />
                
</template>