<template>
    <path 
        fill-rule="evenodd" 
        clip-rule="evenodd" 
        d="M10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8201 17.3922 13.4982 16.3684 14.8425L22 20.4741L20.4741 22L14.8425 16.3684C13.4982 17.3922 11.8201 18 10 18ZM16 10C16 13.3137 13.3137 16 10 16C6.68629 16 4 13.3137 4 10C4 6.68629 6.68629 4 10 4C13.3137 4 16 6.68629 16 10Z" 
        fill="#C2C5C9"
    />          
</template>