<template>
    <path 
        d="M9.49992 13.672L14.3924 16.6249L13.0941 11.0595L17.4166 7.31492L11.7245 6.832L9.49992 1.58325L7.27534 6.832L1.58325 7.31492L5.90575 11.0595L4.60742 16.6249L9.49992 13.672Z" 
    />        
</template>