<template>
    <div class="container h-100 mt-15 mb-15">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="row no-gutters">
                    <div
                        class="inbox_people col-lg-4 px-0 no-gutters"
                        :class="this.$route.params.currentChatId ? 'd-none d-lg-block' : 'col-sm-12'"
                    >

                        <chatSearch
                            @findChat="findChat"
                            @openCreateChatModal="openCreateChatModal"
                        />
<!--                        <create-chat-modal-->
<!--                            :userChats="userChats"-->
<!--                            :organizations="organizations"-->
<!--                            :show="createChatModalShow"-->
<!--                            @closePopup="closeCreateChatModal"-->
<!--                        />-->
                        <div>
                            <chatsUpload
                                :userChats="userChats"
                                :currentChatId="currentChatId"
                            />
                        </div>
                    </div>

                    <div
                        class="chat_messages border-left col-lg-8 col-12 px-0 d-flex flex-column"
                        :class="this.$route.params.currentChatId ? 'active' : ''"
                    >
                        <chatHeader
                            v-if="this.$route.params.currentChatId"
                            :selected_messagesId="selected_messagesId"
                            :replymessage="replymessage"
                            :currentChat="userChats.data && currentChatId ? userChats.data[getCurrentChat()] : {}"
                            :users_online="users_online"
                            :currentMessagesCount="currentMessagesCount"
                            @openChatInfo="openChatInfo"
                            @searchingMessage="findMessage"
                            @unselectMessages="unselectMessages"
                            @reply="reply"
                            @cancelReply="cancelReply"
                            @favMessages="favMessages"
                            @openSelectChatModal="openSelectChatModal"
                            @delete_selected_messages="delete_selected_messages"
                        />
                        <SelectChatModal
                            :show="SelectChatModalShow"
                            @closePopup="closeSelectChatModal"
                            :userChats="userChats"
                            :currentChatId="currentChatId"
                            @replyMsg="reply"
                            @cancelReply="cancelReply"
                        />
                        <ChatInfoModal
                            :currentChat="userChats.data && currentChatId ? userChats.data[getCurrentChat()] : null"
                            :currentChatId="currentChatId"
                            :show="chatInfoShow"
                            :users_online="users_online"
                            @closePopup="closeChatInfo"
                            ref="ChatInfoModal"
                        />

                        <div class="mesgs w-100">
                            <div
                                ref="chatArea"
                                class="msg_history px-4 mb-2"
                                @scroll="checkLoadMessage"
                            >
                                <div
                                    v-for="(msg, k) in chatMessages"
                                    :key="'message_'+k"
                                    :class="selected_messagesId.includes(msg.id) ? 'msg-select' : '' "
                                >
                                    <div
                                        class="container"
                                    >
                                        <div>
                                            <message
                                                :favoriteMessages="favoriteMessages"
                                                :sameUser="checkUser(msg.user_id, k)"
                                                :msg="msg"
                                                :redacted="redacted"
                                                :currentMessageId="currentMessageId"
                                                @select_message="select_message"
                                                @editMessage="editMessage"
                                                @cancelEditingMessage="cancelEditingMessage"
                                                @makeFavorite="makeFavorite"
                                                @makeUnFavorite="makeUnFavorite"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p hidden="hidden">
                                {{ this.receiveMessageData }}
                            </p>

                        </div>
                        <chatFooter
                            :users="userChats.data && currentChatId ? userChats.data[getCurrentChat()].users : []"
                            :user_typing="user_typing"
                            :auth="auth"
                            :currentChatId="currentChatId"
                            :chatMessages="chatMessages"
                            :selected_messagesId="selected_messagesId"
                            :replymessage="replymessage"
                            :redacted="redacted"
                            :currentMessagesCount="currentMessagesCount"
                            :messageText="messageText"
                            :currentMessageId="currentMessageId"
                            @cancelReply="cancelReply"
                            @unselectMessages="unselectMessages"
                            @setEndRedacted="cancelEditingMessage"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { loadOrganizationVSUser } from '@base/api/organization'
import CreateChatModal from '../chat/modals/СreateChatModal'
import SelectChatModal from '../chat/modals/SelectChatModal'
import ChatInfoModal from '../chat/modals/ChatInfoModal'
import message from '../chat/chat_components/message'
import chatSearch from '../chat/chat_components/chatSearch'
import chatHeader from '../chat/chat_components/chatHeader'
import chatFooter from '../chat/chat_components/chatFooter'
import chatsUpload from '../chat/chat_components/chatsUpload'



export default {
    name: "ChatIndex",
    components: {
        CreateChatModal,
        SelectChatModal,
        chatsUpload,
        ChatInfoModal,
        message,
        chatSearch,
        chatHeader,
        chatFooter,
    },
    data () {
        return {
            chat_find: '',
            messageText: '',
            currentMessageId: null,
            currentChatId: null,
            userChats: {},
            chatMessages: [],
            receiveMessageData: [],
            loadMessage: false,
            text: 'Размер файла не более 2 Мб',
            organizations: [],
            createChatModalShow: false,
            SelectChatModalShow: false,
            selected_messagesId: [],
            selected: false,
            redacted: false,
            replymessage: false,
            searchingMessage: '',
            chatInfoShow: false,
            audioSource: null,
            loadMoreState: true,
            favoriteMessages: [],
            isConnected: false,
            users_online: [],
            user_typing: null,
        }
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        currentMessagesCount() {
            if ((this.selected_messagesId.length % 10 == 1) && (this.selected_messagesId.length % 100 != 11)) {
                return "cообщение";
            }
            if (((this.selected_messagesId.length % 100 <= 20) && (this.selected_messagesId.length % 100 >= 5)) || (this.selected_messagesId.length % 10 >= 5) || (this.selected_messagesId.length % 10 == 0)) {
                return "cообщений";
            }
            return "cообщения";
        }
    },
    watch: {
        searchingMessage(){
            this.loadMessage = false;
            this.loadMoreState = true;
        },
        $route (to) {
            if (typeof to.params.currentChatId !== 'undefined') {
                // сделано специально
                if (to.params.currentChatId !== this.currentChatId) {
                    this.loadChatMessages(parseInt(to.params.currentChatId))
                }
            }
            else {
                this.currentChatId = null
                this.chatMessages = []
            }
            this.loadMoreState = true;
        },
        currentChatId: function(n, o){
            if (n != o){
                this.unsubscribeChanel(o);
            }
            if (this.currentChatId) {
                this.createConnect()
            }
            this.$refs.ChatInfoModal.anotherChat()
        },
    },
    created () {
        this.getUserChat()
    },
    mounted () {
        // loadOrganizationVSUser().then((data) => {
        //     if (data.st atus === 200){
        //         this.organizations = data.data.data.organizations.data;
        //     }else{
        //         //console.warm(data);
        //     }
        // })
    },
    methods: {
        findChat(find){
            this.chat_find = find.chat_find
            this.getUserChat();
        },
        unsubscribeChanel(id){
            Echo.leave('chats.'+id)
            Echo.leave('chat.'+id)
        },
        createConnect () {
            Echo.join(`chats.${this.currentChatId}`)
                .here((users) => {
                    for (let user in users){
                        this.users_online.push(users[user].id)
                    }
                })
                .joining((user) => {
                    console.log('joining', user.id);
                    if (this.users_online.filter(el => el == user.id).length == 0){
                        this.users_online.push(user.id)
                    }
                })
                .leaving((user) => {
                    console.log('leaving', user.id);
                    this.users_online = this.users_online.filter(el => el !== user.id)
                }).listenForWhisper('typing', (e) => {
                    this.user_typing = e;
                    setTimeout(() => {
                        this.user_typing = null;
                    }, 2000);
                });
            window.Echo.private(`chat.${this.currentChatId}`)
                .listen('ChatMessage', ({data}) => {
                    this.receiveMessageData = data
                    this.addMessage()
                    this.receiveMessageData = []
                })

            window.Echo.private(`chat.${this.currentChatId}`)
                .listen('ChatMessageEdit', ({data}) => {
                    this.chatMessages.forEach(message => {
                        if (message.id == data.message.id){
                            message.text = data.message.text;
                            message.favorite = data.message.favorite;
                            message.deleted = data.message.deleted;
                        }
                    })
                })
        },
        getUserChat () {
            this.$axios.get(`/api/v2/chats`, {
                params: {
                    search: this.chat_find,
                    open_chat_id: this.currentChatId
                }
            })
                .then((response) => {
                    this.userChats = response.data
                    if (typeof this.$route.params.currentChatId !== 'undefined') {
                        this.loadChatMessages(parseInt(this.$route.params.currentChatId, 10))
                    }
                })
        },
        loadChatMessages (chatId) {
            this.currentChatId = chatId
            this.$axios.get('/api/v2/chat/' + chatId + '/message', { params: {
                'search': this.searchingMessage
            }})
                .then((response) => {
                    this.chatMessages = response.data.messages
                })
        },
        editMessage(message) {
            this.redacted = true;
            this.currentMessageId = message.id
            this.messageText = message.text
        },
        cancelEditingMessage() {
            this.redacted = false;
            this.messageText = ""
        },
        checkLoadMessage (e) {
            if ((e.target.scrollHeight * 0.5 < Math.abs(e.target.scrollTop)) && !this.loadMessage) {
                this.loadMessage = true
                this.loadMore()
            }

            let el = e.target
            let scrolled = el.scrollTop + el.clientHeight + 1 < el.scrollHeight
            let scrollTop = (el.scrollTop < 0) ? (el.scrollHeight - el.offsetHeight) + el.scrollTop : el.scrollTop

            if (scrolled && scrollTop < 1 && !this.loadMessage) {
                this.loadMessage = true
                this.loadMore()
            }
        },
        loadMore () {
            if (this.loadMoreState){
                let minId = this.chatMessages.reduce((min, p) => p.id < min ? p.id : min, this.chatMessages[0].id)
                //console.log('load ', minId);
                this.$axios.get('/api/v2/chat/' + this.currentChatId + '/message', {params: {
                    last_message: minId,
                    type: "before",
                    'search': this.searchingMessage
                    }})
                    .then((response) => {

                        if (!response.data.messages.length){
                            this.loadMoreState = false;
                        }
                        this.loadMessage = false
                        //this.chatMessages.push(response.data);
                        response.data.messages.forEach(element => this.chatMessages.push(element))

                    })
                    .catch((error) => {
                        this.loadMessage = false
                    })
            }
            else{
                this.loadMessage = false
            }

        },
        addMessage () {
            if (this.receiveMessageData && this.currentChatId) {
                if (this.receiveMessageData.message) {
                    this.chatMessages.unshift(this.receiveMessageData.message)
                }
            }
        },
        closeCreateChatModal () {
            this.createChatModalShow = false
        },
        openCreateChatModal () {
            this.createChatModalShow = true
        },
        closeSelectChatModal () {
            this.SelectChatModalShow = false
        },
        openSelectChatModal () {
            this.SelectChatModalShow = true
        },
        select_message (id) {
            if (this.selected_messagesId.includes(id)) {
                this.selected_messagesId = this.selected_messagesId.filter(item => item !== id)
            }
            else {
                this.selected_messagesId.push(id)
            }
        },
        delete_selected_messages() {
            for(let i = 0; i < this.selected_messagesId.length; i++){
                this.$axios.delete('/api/v2/chat/' + this.currentChatId  + '/message/' + this.selected_messagesId[i])
                .then(this.chatMessages.find(msg => msg.id == this.selected_messagesId[i]).deleted = true)
                .catch(console.error)
            }
            this.unselectMessages()
        },
        reply () {
            this.replymessage = true
        },
        cancelReply () {
            this.replymessage = false
        },
        openChatInfo () {
            this.chatInfoShow = true
        },
        closeChatInfo () {
            this.chatInfoShow = false
        },
        unselectMessages() {
            this.selected_messagesId = []
            this.cancelReply()
        },
        checkUser (userId, msgNumber) {
            if (msgNumber !== this.chatMessages.length - 1 ) {
                return userId != this.chatMessages[msgNumber + 1].user_id
            }
            return true
        },
        favMessages () {
            this.selected_messagesId.forEach(element =>
                this.favoriteMessages.includes(element) ? this.makeUnFavorite(element) : this.makeFavorite(element))
            this.unselectMessages()
        },
        makeFavorite (id) {
            this.$axios.post('/api/v2/chat/' + this.currentChatId  + '/message/' + id, {
            _method: "patch",
            action: "set_favorite"
            })
                .then(this.favoriteMessages.push(id))
                .catch(console.error)

        },
        makeUnFavorite (id) {
            this.$axios.post('/api/v2/chat/' + this.currentChatId  + '/message/' + id, {
            _method: "patch",
            action: "unset_favorite"
            })
                .then(this.favoriteMessages = this.favoriteMessages.filter(item => item != id))
                .catch(console.error)
        },
        getCurrentChat() {
            if (this.userChats && this.userChats.data) {
                return this.userChats.data.findIndex(index => index.id == this.currentChatId)
            }
        },
        findMessage(message) {
            console.log(message)
            this.searchingMessage = message;
            this.loadChatMessages(parseInt(this.$route.params.currentChatId))
        }
    }
}
</script>
<style>

.inbox_people {
    float: left;
    overflow: hidden;
//width: 30%;

}

.inbox_msg {
    clear: both;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}


.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 580px;
    overflow-y: scroll;
}
.inbox_chat .active {
    background-color: #F3F7FF;
}

.inbox_chat a {
    text-decoration: none;
}

.inbox_chat .chat_box:hover {
    background-color: #cbced617;
}


.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 0px;
    overflow: hidden;
}

.sent_msg p {
    background: #e4f0fc none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #000000;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.msg_history {
    display: flex;
    flex-direction: column-reverse;
    height: 498px;
    overflow-y: auto;
}

.bg-message-in {
    background-color: #E4F0FC;
}

.input_msg_write {
    border-top: 1px solid #D8DFED;
    /*background-color: #f8fafc;*/
}

.messaging {
    margin-top: 10px;
}

.messaging.nochatlist {
    background-image: url("/images/icons/content_not_found.svg");
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.chat_popup_menu {
    bottom: 84%;
    position: absolute;
    right: 50%;
    overflow: hidden;
}

.chat_popup_menu_items {
    position: absolute;
    visibility: hidden;
    z-index: 5;
    opacity: 0;
    transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
    pointer-events: none;
    min-width: 140px;
    background: #ffffff;
    border: 1px solid #c5d0db;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px #00000014;
}

.chat_popup_menu.show {
    overflow: visible;
}

.chat_popup_menu.show .chat_popup_menu_items {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    right: -108px;
    bottom: 100%;
}

.cpm_item {
    padding: 4px 25px 4px 34px;
    position: relative;
    display: block;
    outline: 0;
    cursor: pointer;
}

.modal-content__chat {
    margin: 0 auto;
    max-width: 708px;
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 67px;
    padding-right: 67px;
    box-shadow: 0px 0px 20px rgba(0, 30, 89, 0.08);
}

.modal-header__chat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-title__teachers {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    font-size: 32px;
    color: #292B2E;
}

.close__chat-btn {
    width: 24px;
    height: 24px;
    opacity: 1;
    outline: none !important;
}

.close__chat {
    display: block;
    background-image: url('/images/icons/delete.svg');
    width: 100%;
    height: 100%;
}

.modal-body__row {
    text-align: center;
}

.modal-body__select {
    margin-bottom: 20px;
}

.msg-select {
    background-color: #ECEDF9
}
.searchInput {
    border: none;
    outline: none;
    height: 24px;
}
.searchInput::placeholder {
    color: #C2C5C9;
}
.messageInput {
    /*background: #f8fafc;*/
    height: 35px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    box-sizing: border-box;
}

.messageInput::placeholder {
    color: #C2C5C9;
}

.height52 {
    height: 52px;
}

.selectedMessagesCount {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #666FCC;
}

.paddingTop14 {
    padding-top: 14px
}

.paddingTop10 {
    padding-top: 10px
}

.replyMessageButton {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #666FCC;
}

.chatName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.withoutOutline {
    outline: none;
}

.infoTabs {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: black;
    border-bottom: 1.4px solid #D8DFED;
    margin: 0.5%;
    padding-bottom: 0.3em;
}

.nav a.active {
    border-bottom: 1.4px solid #F85A40;
}
.nav {
    margin-bottom: 2em;
}
.RowsInfo {
    border: 1px solid #D8DFED;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
.RowsInfo a {
    color: black;
    text-decoration: none;
}
.tableInfo {
    border-top: 0;
}
.input_chatname {
    width: 175px;
    height: 48px;
    background: #ECEDF9;
    border-radius: 2px;
    border: 0;
    outline: none;
    font-size: 32px;
    line-height: 32px;

}
.chat_name {
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
}

.addUserButton {
    background: #F85A40;
    color: white;
    border-radius: 4px;
    width: 240px;
    height: 40px;
}

.addUserButton:hover {
    color: white
}


.addUserCancelButton {
    border: 2px solid #F85A40;
    color: #F85A40;
    border-radius: 4px;
}

.addUserCancelButton:hover {
    color: #F85A40;
}

.chatNamesinList {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #292B2E;
}

.usersNameinMessages {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1A3467;

}
.repliedMessage .usersNameinMessages{
    margin-left: 10px;
}


.repliingMessage {
    font-size: 12px;
    line-height: 20px;
    color: #6C7E82;
}

.messageTime {
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #9299A6;
}
.router-link-exact-active.router-link-active .active {
    background: #e4ebf3;
}
@media(max-width: 992px){
    .chat_messages {
        display: none !important;
    }
    .chat_messages.active {
        display: flex !important;
    }
}
</style>
