<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                :class="colType.system_name === 'Select' ? 'modal-xl' : ''"
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ 'Создание колонки' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="colsType.length !== 'undefined' && colsType.length"
                                        :class="colType.system_name === 'Select' ? 'col-lg-5 pl-0 pr-0' : ''"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Тип колонки</label>
                                        <select
                                            v-model="col.type_id"
                                            class="form-control"
                                            :class="('type_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                :value="0"
                                                disabled
                                            >
                                                Выберите тип колонки
                                            </option>
                                            <option
                                                v-for="(colT, k) in colsType"
                                                :key="k"
                                                :value="colT.id"
                                            >
                                                {{ colT.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'category_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.type_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="showProps"
                                class="row pt-2"
                            >
                                <component
                                    ref="propComponent"
                                    :is="`DBProp${colType.system_name}`"
                                    :col="col"
                                    :colType="colType"
                                />
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="form-group"
                                        :class="colType.system_name === 'Select' ? 'col-lg-5 pl-0 pr-0' : ''"
                                    >
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="col.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="form-group"
                                        :class="colType.system_name === 'Select' ? 'col-lg-5 pl-0 pr-0' : ''"
                                    >
                                        <label class="title gray">Позиция для отображения</label>
                                        <input
                                            v-model="col.order"
                                            class="form-control"
                                            :class="('order' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'order' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.order"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

import deepClone from 'clonedeep';
import { defCol, defColType, defStruct } from '@base/inc/defaults/db';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import DBPropDatetime from '@base/components/inc/DBProp/Datetime';
import DBPropSelect from '@base/components/inc/DBProp/Select';
import DBPropText from '@base/components/inc/DBProp/Text';

export default {
    name: 'AdminDBColsAdd',
    mixins: [Proccess],
    components: {
        DBPropDatetime,
        DBPropSelect,
        DBPropText,
    },
    props: {
        tableRow: {
            type: Object,
            default() {
                return {};
            },
        },
        colsType: {
            type: Array,
            default() {
                return [];
            },
        },
        struct: {
            type: Object,
            default: defStruct,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnHideManage: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            col: {},
            colType: {},
            showProps: false,
        };
    },
    computed: {},
    watch: {
        'col.type_id': function (val) {
            if (val) {
                const type = this.colsType.find((item) => item.id === val);
                if (type) {
                    this.colType = deepClone(type);
                }
                switch (type.system_name) {
                case 'Datetime':
                case 'Select':
                case 'Text':
                    this.showProps = true;
                    break;
                default:
                    this.showProps = false;
                    break;
                }
            }
        },
    },
    created() {
        this.col = deepClone(defCol);
        this.colType = deepClone(defColType);
    },
    mounted() {},
    methods: {
        submit() {
            this.create();
        },
        create() {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'create-col');
            formData.append('type_id', this.col.type_id);
            formData.append('name', this.col.name);
            formData.append('order', this.col.order);
            formData.append('response_with_cols', 1);

            if (this.showProps) {
                formData.append('props', JSON.stringify(this.col.properties));
            }
            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { cols } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.tableRow.cols = cols;
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnHideManage();
            this.clearModal();
        },
        clearModal() {
            this.col = deepClone(defCol);
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
