<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                :class="showProps && col.type.system_name === 'Select' ? 'modal-xl' : ''"
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ 'Редактирование колонки' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="col.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="showProps"
                                class="row pt-2"
                            >
                                <component
                                    :is="`DBProp${col.type.system_name}`"
                                    ref="propComponent"
                                    :col="col"
                                    :col-type="col.type"
                                />
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div сlass="form-group">
                                        <label class="title gray">Позиция для отображения</label>
                                        <input
                                            v-model="col.order"
                                            class="form-control"
                                            :class="('order' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'order' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.order"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

import Proccess from '@base/components/inc/mixin/Proccess.vue';
import DBPropDatetime from '@base/components/inc/DBProp/Datetime';
import DBPropSelect from '@base/components/inc/DBProp/Select';
import DBPropText from '@base/components/inc/DBProp/Text';
import { defCol, defStruct } from '@base/inc/defaults/db';
import deepClone from 'clonedeep'; // eslint-disable-line

export default {
    name: 'AdminDBColsEdit',
    components: {
        DBPropDatetime,
        DBPropSelect,
        DBPropText,
    },
    mixins: [Proccess],
    props: {
        tableRow: {
            type: Object,
            default() {
                return {};
            },
        },
        col: {
            type: Object,
            default: defCol,
        },
        colsType: {
            type: Array,
            default() {
                return [];
            },
        },
        struct: {
            type: Object,
            default: defStruct,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnHideManage: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            showProps: false,
        };
    },
    computed: {},
    watch: {
        'col.id': function () {
            this.checkProps();
        },
    },
    created() {},
    mounted() {
        this.checkProps();
    },
    methods: {
        submit() {
            this.update();
        },
        checkProps() {
            if (this.col.id && typeof this.col.type.system_name !== 'undefined') {
                switch (this.col.type.system_name) {
                case 'Datetime':
                case 'Select':
                case 'Text':
                    this.showProps = true;
                    break;
                default:
                    this.showProps = false;
                    break;
                }
            } else {
                this.showProps = false;
            }
        },
        update() {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'update-col');
            formData.append('col_id', this.col.id);
            formData.append('name', this.col.name);
            formData.append('order', this.col.order);
            formData.append('response_with_cols', 1);

            if (this.showProps) {
                formData.append('props', JSON.stringify(this.col.properties));
            }
            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => { // eslint-disable-line
                    this.showSuccessMessage(loading, btn, notify);
                    this.tableRow.cols = response.data.data.cols;
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnHideManage();
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
