<template>
    <div class="container">
        <div class="course-modules">
            <div class="ml-sm-auto py-3 d-flex align-items-center justify-content-center mb-1">
                <a
                    v-if="permissions.moderation_org_prog_courses && can_edit_course"
                    class="btn btn-create"
                    @click="visibleDisciplinePopup = true"
                >Добавить модуль</a>
            </div>
            <div
                v-if="course.sub_courses !== null"
                class="modules"
            >
                <div
                    v-for="(modul, mk) in course.sub_courses.entries()"
                    :key="mk"
                    class="module"
                >
                    <div class="module-head row align-items-center">
                        <div class="col-lg-8">
                            <span class="fs-24 title gray">{{ modul[1].name }}</span>
                        </div>
                        <div class="col-lg-2 pb-2 module-success">
                        </div>
                        <div class="col-lg-2 pb-2 d-flex align-items-center">
                            <div
                                class="ml-auto"
                                v-if="permissions.moderation_org_prog_courses && can_edit_course"
                            >
                                <a
                                    id="navbarDropdown"
                                    data-toggle="dropdown"
                                    class="btn btn-more"
                                />
                                <div
                                    v-if="permissions.moderation_org_prog_courses"
                                    aria-labelledby="navbarDropdown"
                                    class="dropdown-menu dropdown-menu-right"
                                >
                                    <a
                                        class="dropdown-item"
                                        @click="showPopupDiscipline(modul[1])"
                                    >Редактировать модуль</a>
                                    <a
                                        v-if="permissions.moderation_org_prog_courses"
                                        class="dropdown-item"
                                        @click="deleteDiscipline({id: modul[0]})"
                                    >Удалить модуль</a>
                                </div>
                            </div>

                            <div>
                                <a
                                    class="title gray lessons-hide"
                                    data-hide="Свернуть"
                                    data-show="Развернуть"
                                    style="display: none"
                                >Свернуть</a>
                            </div>
                        </div>
                    </div>
                    <div class="module-content">
                        <div
                            class="lessons active"
                        >
                            <div
                                v-for="(lesson, lk) in course.course_modules.get(modul[0])"
                                :key="lk"
                                class="lesson"
                                v-if="lesson[1]"
                            >
                                <div class="row no-gutters">
                                    <div
                                        class="col-lg-11 fs-18 d-flex align-items-center"
                                    >
                                        <div>
                                            Занятие: <b>{{ lesson[1].name }}</b>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-1 col-md-2 d-flex"
                                        v-if="permissions.moderation_lessons && can_edit_course"
                                    >
                                        <div class="ml-auto">
                                            <a
                                                id="navbarDropdown"
                                                data-toggle="dropdown"
                                                class="btn btn-more"
                                                href="#"
                                            />
                                            <div
                                                aria-labelledby="navbarDropdown"
                                                class="dropdown-menu dropdown-menu-right"
                                            >
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showPopupLesson(lesson[1])"
                                                >Редактировать занятие</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showPopupTask({ lesson_id: lesson[0], task_id: 0 })"
                                                >Добавить задание</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showModalElement(lesson[0])"
                                                >Добавить элемент</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="deleteLesson({ lesson_id: lesson[0], module_id: modul[0] })"
                                                >Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        Количество часов: {{ lesson[1].couples_count }}
                                    </div>
                                </div>
                                <div
                                    class="mt-2 lesson-info row"
                                >
                                    <div
                                        class="col-lg-3 row"
                                    >
                                        <div
                                            v-for="(teacher, tk) in lesson[1].users"
                                            :key="tk"
                                            class="col-lg-12 lesson-teacher pb-2"
                                        >
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="avatar avatar40 mr-2 "
                                                    :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                                                        : ''"
                                                />
                                                <div>
                                                    {{ teacher.firstname + ' ' + teacher.lastname }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-7  align-content-start lesson-content row no-gutters"
                                    >
                                        <div
                                            v-for="(el, ek) in course.elements.get(lesson[0])"
                                            :key="el.id + '_' + ek"
                                        >
                                            <div
                                                class="lesson-item"
                                                :class="`lesson-`+el[1].type.system_name"
                                            >
                                                <a v-if="el[1].type.system_name == 'hyperlink'" target="_blank" :href="el[1].value">
                                                    {{ el[1].name }}
                                                </a>
                                                <a v-else-if="(el[1].type.system_name === 'file') || el[1].type.system_name === 'image'" target="_blank" :href="el[1].content">
                                                    {{ el[1].name }}
                                                </a>
                                                <a v-else-if="el[1].type.system_name == 'page'" class="title blue pointer" @click="showModalElementHtmlPage(el[1])">
                                                    {{ el[1].name }}
                                                </a>
                                                <router-link
                                                    v-else-if="el[1].type.system_name == 'test' && el[1].content"
                                                    :to="{ name: 'org.edu.course.test', params: { test_id: el[1].content.id, course_id: course_id }}"
                                                >
                                                    {{ el[1].name }}
                                                </router-link>

                                                <router-link
                                                    v-else-if="el[1].type.system_name == 'task' && el[1].content"
                                                    :to="{ name: 'org.edu.course.task', params: { task_id: el[1].content.id }}"
                                                >
                                                    {{ el[1].name }}
                                                </router-link>
                                                <i
                                                    v-if="permissions.moderation_org_prog_courses && can_edit_course"
                                                    class="fa fa-trash-o pointer"
                                                    aria-hidden="true"
                                                    @click="deleteLessonElement({
                                                        element_id: el[1].id,
                                                        lesson_id: lesson[0]
                                                    })"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 align-items-center ml-auto">
                                        <div
                                            class="d-flex justify-content-end align-items-center lesson-test-result ml-auto score"
                                            v-if="haveGradebook(modul.id, lesson.id)"
                                        >
                                            <div
                                                v-if="gradebook[modul.id][lesson.id].scores.length > 0"
                                                v-for="score in gradebook[modul.id][lesson.id].scores"
                                                class="score__rating fs-20 mr-5"
                                                :class="'score__rating--' + scoreStyle(score)"
                                            >
                                                {{ score }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module-footer">
                        <div
                            v-if="permissions.moderation_lessons && can_edit_course"
                            class="add-lesson py-3 d-flex justify-content-center"
                        >
                            <div>
                                <a
                                    class="btn btn-create"
                                    @click="openLessonPopup(modul[0])"
                                >Добавить занятие</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <EduManageDiscipline
                v-if="visibleDisciplinePopup"
                @closePopup="closePopupDiscipline"
                :course_id="course_id"
                :modul="currentDiscipline"
            />
            <EduManageLesson
                v-if="visibleLessonPopup"
                :discipline_id="discipline_id"
                :lesson="currentLesson"
                @closePopup="closePopupLesson"
            />
            <EduManageElement
                v-if="visibleElement"
                @closePopup="closeElement"
                :lesson_id = "lesson_id"
            />
            <EduManageElementHtmlPage
                v-if="visibleElementHtmlPage"
                :element="element"
                @closePopup="closeElementHtmlPage"
            />
            <EduAddTask
                v-if="visibleElementTaskPopup"
                :lesson_id="lesson_id"
                @closePopup="closeTaskPopup"
            />
        </div>
    </div>
</template>

<script>
    import { createNamespacedHelpers, mapGetters } from 'vuex';
    import EduManageDiscipline from '@base/components/course/manage/Discipline';
    import EduManageLesson from '@base/components/course/manage/Lesson';
    import EduAddTask from '@base/components/course/manage/Task';
    import EduManageElement from '@base/components/course/manage/Element';
    import EduManageElementHtmlPage from '@base/components/course/manage/ElementHtmlPage';
    import mixScore from '@base/components/course/gradebook/mixScore';
    // import element from '@base/components/course/course/courseElement/element';

    const courses = createNamespacedHelpers('courses');
    const disciplines = createNamespacedHelpers('disciplines');
    const organization = createNamespacedHelpers('organization');
    const lessons = createNamespacedHelpers('lessons');
    const lessonTask = createNamespacedHelpers('lessonTask');
    export default {
        name: 'CourseContent',
        mixins: [mixScore],
        components: {
            EduManageDiscipline,
            EduManageLesson,
            EduAddTask,
            EduManageElement,
            EduManageElementHtmlPage,
        },
        props: {
            permissions: {
                type: Object,
                default: {

                }
            },
            course: {
                type: Object,
                default: {
                }
            },
            gradebook: {
                type: Object | Array,
                default: {}
            },
            can_edit_course: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                program_selected: false,
                visibleElement: false,
                visibleElementHtmlPage: false,
                visibleElementTaskPopup: false,
                lesson_id: 0,
                visibleDisciplinePopup: false,
                visibleLessonPopup: false,
                discipline_id: 0,
                currentDiscipline: {
                    id: 0,
                    name: '',
                    description: '',
                },
                currentLesson: {
                    id: 0,
                    name: '',
                    description: '',
                },
                scoreStylesReverse:  {
                    '': 'none',
                    '3': 'fair',
                    '3.5': 'fair-plus',
                    '4': 'good',
                    '4.5': 'good-plus',
                    '5': 'excellent',
                },
            };
        },
        computed: {
            ...mapGetters({
                auth: 'auth',
            }),
            course_id() {
                return this.course.curr_course.id;
            },
            // elementsLesson() {
            //     return this.$store.state.lessons.elements;
            // },
        },
        watch: {
            scores(val) {
                this.gradeBook = val;
            },
        },
        async created() {
            // this.getDisciplines({ course_id: this.course_id })
            //     .then((response) => {
            //         const disciplinesId = response.map(el => el.id);
            //         this.getLessons(disciplinesId);
            //         this.getScores(disciplinesId);
            //     });
        },
        methods: {
            ...lessons.mapActions({
                //deleteElement: 'DELETE_ELEMENT',
                // getLessons: 'GET_LESSONS_WITH_DISCIPLINE',
                // getScores: 'GET_SCORES',
                //deleteLesson: 'DELETE_LESSON',
            }),
            ...courses.mapActions({
                deleteLessonElement: 'DELETE_LESSON_ELEMENT',
                deleteLesson: 'DELETE_LESSON',
                deleteDiscipline: 'DELETE_DISCIPLINE',
            }),
            closeElement() {
                this.visibleElement = false;
                this.lesson_id = 0;
            },
            showModalElement(id) {
                this.visibleElement = true;
                this.lesson_id = id;
            },
            showModalElementHtmlPage(element) {
                this.visibleElementHtmlPage = true;
                this.element = element;
            },
            closeElementHtmlPage() {
                this.visibleElementHtmlPage = false;
                this.lesson_id = 0;
            },
            haveGradebook(modul_id, lesson_id) {
                return (this.gradebook[modul_id] && this.gradebook[modul_id][lesson_id]);
            },
            openLessonPopup(discipline_id) {
                this.discipline_id = discipline_id;
                this.visibleLessonPopup = true;
            },
            showPopupDiscipline(modul) {
                this.currentDiscipline = modul;
                this.visibleDisciplinePopup = true;
            },
            showPopupLesson(lesson) {
                this.currentLesson = lesson;
                this.visibleLessonPopup = true;
            },

            showPopupTask({ lesson_id, task_id }) {
                this.lesson_id = lesson_id;
                this.visibleElementTaskPopup = true;
            },
            closeTaskPopup() {
                this.visibleElementTaskPopup = false;
            },

            closePopupLesson() {
                this.visibleLessonPopup = false;
                this.currentLesson =  { ...{ id: 0, name: '', description: ''}};
            },
            closePopupDiscipline() {
                this.visibleDisciplinePopup = false;
                this.currentDiscipline = { ...{
                        id: 0,
                        name: '',
                        description: '',
                    },
                };
            },
            scoreStyle(value) {
                if (this.scoreStylesReverse[value]) {
                    return this.scoreStylesReverse[value];
                }
                return 'none';
            }
        },
    };
</script>
