<template>
<div v-if="course.curr_course">
    <div class="header header__event" :style="`background-image: url(${course.curr_course.preview});`">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-lg-8">
                    <brand
                        :logoURL="organization.logo"
                        :brandText="organization.name"
                    >
<!--                        <template v-slot:type>-->
<!--                            <div class="fs-14 title gray">-->
<!--                                Организация-->
<!--                            </div>-->
<!--                        </template>-->
                    </brand>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="" v-if="false">
                        <span class="text-white">Курсов 2</span>
                        <span class="text-white text-uppercase fs-50">+Сформировать заявку</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex">
                    <div class="fs-32 px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                        Мероприятие
                    </div>
                </div>

            </div>
            <div class="row pb-3">
                <div class="col-lg-6 d-flex">
                    <div class="fs-32 px-2 block красный-1 fw-light pt-1 mb-1">
                        {{ course.curr_course.name }}
                    </div>
                </div>
            </div>

            <div
                class="row pb-3"
                v-if="course.curr_course && course.curr_course.can_free_enroll"
            >
                <div class="col-lg-12">
                    <a
                        class="btn btn-danger"
                        @click="freeSingup({ course_id: course.curr_course.id})"
                    >
                        Записаться
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main class="event">
        <div class="container">
            <div class="event__program  mt-5 mb-5">
                <span class="fs-32 title gray upper f-ls-5">
                    О мероприятии
                    <i
                        v-if="permissions.moderation_org_prog_courses"
                        class="fa fa-pencil pointer fs-22" @click="showEduManageCourse"
                    />
                </span>
                <div class="row  mt-3">
                    <div class="col-lg-8">
                        <div class="pt-32 fs-18 title black f-ls-1">
                            {{ course.curr_course.description }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="spikers">
                            <div class="d-inline-flex align-items-center">
                                <div class="event-label">Спикеры: {{ course.curr_course.users.length }}</div>
                                <div
                                    v-if="permissions.moderation_org_prog_courses"
                                    class="add ml-2" @click="openAttachSpiker('attach-user')"
                                />
                                <div class="btn ml-3" @click="openTeacherListPopup()">Смотреть все</div>
                            </div>
                            <div class="mt-2 mb-3 d-flex align-items-center" v-for="(spiker, id) in course.curr_course.users" :key="id">
                                <div class="avatar avatar40"
                                     :style="spiker ? 'background-image: url(' + spiker.avatar.medium + ')' : ''"/>
                                <div class="d-flex flex-column pl-4">
                                    {{ spiker.firstname + " " + spiker.lastname }}
                                </div>
                            </div>
                        </div>
                        <div class="guests" v-if="false">
                            <div class="event-label">Гости: 78</div>
                            <div class="d-inline-flex pl-4 mt-2 mb-3">
                                <div
                                    v-for="(el, id) in logo"
                                    :style="`background-image: url(${el.url});`"
                                    :key="id"
                                    class="logo64 logo logo-fan"
                                >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <router-view />
            </div>
        </div>
    </main>
    <discipline-popup
        v-if="visibleProgramPopup"
        @closePopup="visibleProgramPopup = false"
        :event_id="event_id"
    >
    </discipline-popup>
    <lesson-popup
        v-if="visibleLessonPopup"
        :typeLesson="'event'"
        :discipline_id="11111"
        @closePopup="visibleLessonPopup = false"
    >
    </lesson-popup>
    <AttachSpiker
        v-if="visibleAttachSpiker"
        :users="users"
        :toggle="toggleAttachSpiker"
        @closePopup="closeAttachSpiker"
        @fetch="attachUser"
    />
    <TeacherListModal
        v-if="visibleTeachersListPopup"
        :permissions="permissions"
        :course="course.curr_course"
        :teachers="course.curr_course.users"
        @closePopup="closeTeacherListPopup"
        @fetch="detachUser"
    />
    <EduManageCourse
        :course="course.curr_course"
        :typeCourse="'event'"
        v-if="visibleEduManageCourse"
        @closePopup="hideEduManageCourse"
    />
</div>
</template>

<script>
import brand from '@base/components/base/brand';
import EventLectureCard from '@base/components/course/EventLectureCard';
import disciplinePopup from '@base/components/course/manage/Discipline.vue';
import lessonPopup from '@base/components/course/manage/Lesson.vue';
import AttachSpiker from '@base/components/course/manage/AttachTeacher';
import TeacherListModal from '@base/components/course/manage/TeachersListModal';
import EduManageCourse from '@base/components/course/manage/CourseUpdateInfo';
import { attachOrDetachUser } from '@base/api';

import { mapGetters, createNamespacedHelpers } from 'vuex';

const courses = createNamespacedHelpers('courses');
const organization = createNamespacedHelpers('organization');

export default {
    name: 'Event',
    components: {
        brand,
        EventLectureCard,
        disciplinePopup,
        lessonPopup,
        AttachSpiker,
        TeacherListModal,
        EduManageCourse,
    },
    props: {
        event_id: {
            type: Number,
            default: 0,
        },
        organization_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            visibleProgramPopup: false,
            visibleLessonPopup: false,
            discipline_id: 0,

            visibleAttachSpiker: false,
            toggleAttachSpiker: 'detach-user',
            visibleTeachersListPopup: false,
            visibleEduManageCourse: false,
        }
    },
    methods: {
        ...courses.mapActions({
            getCourse: 'GET_COURSE_DETAIL',
            attachUserAction: 'ATTACH_USER',
            detachUserAction: 'DETACH_USER',
            freeSingup: 'FREE_SINGUP'
        }),
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
        }),
        openLessonPopup(discipline_id) {
            this.discipline_id = discipline_id;
            this.visibleLessonPopup = true;
        },
        closeLessonPopup() {
            this.visibleLessonPopup = false;
        },
        closeAttachSpiker() {
            this.visibleAttachSpiker = false;
        },
        openAttachSpiker(toggle) {
            this.toggleAttachSpiker = toggle;
            this.visibleAttachSpiker = true;
        },
        attachUser(id) {
            this.attachUserAction({ user_id: id, id: this.course.curr_course.id });
        },
        detachUser(id) {
            this.detachUserAction({ user_id: id, id: this.course.curr_course.id });
        },
        closeTeacherListPopup() {
            this.visibleTeachersListPopup = false;
        },
        openTeacherListPopup() {
            this.visibleTeachersListPopup = true;
        },
        hideEduManageCourse(){
            this.visibleEduManageCourse = false;
        },
        showEduManageCourse(){
            this.visibleEduManageCourse = true;
        },
    },
    computed: {
        ...organization.mapGetters({
            permissions: 'PERMISSIONS',
            organization: 'ORGANIZATION',
            teachersOrganization: 'TEACHERS',
        }),
        disciplines() {
            return this.$store.state.disciplines.discipline || '';
        },
        course() {
            return this.$store.state.courses.currentCourseDetail || '';
        },
        teachers() {
            return this.$store.state.courses.course;
        },
        users() {
            // return this.organization.users.filter((x) => !this.course.curr_course.users.find((y) => y.id === x.id));
            return this.teachersOrganization;
        },
    },
    created() {
        if (this.organization_id) {
            this.getOrganization({ id: this.organization_id });
        }
        this.getCourse({id: this.event_id});
    },
}
</script>
<style>
.header__event {
    background-color: #82808069;
}
</style>
