<template>
<div class="card">
    <div class="card-header event-header">
        <div class="row">
            <div class="col-lg-2">
                <img class="avatar avatar60" :src="avatar ? avatar : '/images/icons/user_avatar.svg'">
            </div>
            <div class="col-lg-8 mt-3">
                <div>
                    <span class="text-white fs-16">{{ spikerFIO }}</span>
                </div>
            </div>
            <div class="col-lg-2 pt-1 d-flex justify-content-end">
                <slot name="menu">
                </slot>
            </div>
        </div>
    </div>
    <div class="card-body">
        <span class="fs-18 title gray upper f-ls-5">
            {{ event.name }}
        </span>
        <div class="pt-32 title black f-ls-1">
            {{ event.description }}
        </div>
            <div class="row mt-3">
                <slot name="element">
                </slot>
            </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'EventLectureCard',
    props: {
        event: {
            type: Object,
            default: () => {},
        }
    },
    data() {
        return {
        }
    },
    computed: {
        spiker() {
            return this.event.users ? this.event.users[0] : {};
        },
        avatar() {
            return this.spiker?.avatar?.medium;
        },
        spikerFIO() {
            return (this.spiker?.firstname || '') + ' ' + (this.spiker?.lastname || '');
        }
    },
}
</script>
