<template>
    <div class="course-modules">
        <div
            v-if="course !== null"
        >
            <div>
                <div class="d-inline-flex align-items-center">
                    <span class="fs-32 title gray upper f-ls-5">
                        Расписание
                    </span>
                    <div class="add ml-2"
                        @click="visibleDisciplinePopup = true"
                        v-if="permissions.moderation_org_prog_courses"
                    >
                    </div>
                </div>

                <div
                    v-for="(modul, mk) in course.sub_courses.entries()"
                    :key="mk"
                    class="event__timetable mt-4"
                >
                    <div class="row">
                        <div class="col">
                            <span class="timetable__date fs-20">Событие {{ modul[1].name }}</span>
                        </div>
                        <div class="col d-flex ml-auto">
                            <div class="ml-auto">
                                <a
                                    v-if="permissions.moderation_org_prog_courses"
                                    id="navbarDropdown"
                                    data-toggle="dropdown"
                                    class="btn btn-more"
                                />
                                <div
                                    v-if="permissions.moderation_org_prog_courses"
                                    aria-labelledby="navbarDropdown"
                                    class="dropdown-menu dropdown-menu-right"
                                >
                                    <a
                                        class="dropdown-item"
                                        @click="showPopupDiscipline(modul[1])"
                                    >Редактировать модуль</a>
                                    <a
                                        v-if="permissions.moderation_org_prog_courses"
                                        class="dropdown-item"
                                        @click="deleteDiscipline({id: modul[0]})"
                                    >Удалить модуль</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--
                    <div class="module-head row align-items-center">
                        <div class="col-lg-2 pb-2 d-flex align-items-center">
                            <div class="ml-auto">
                                <a
                                    v-if="permissions.moderation_org_prog_courses"
                                    id="navbarDropdown"
                                    data-toggle="dropdown"
                                    class="btn btn-more"
                                />
                                <div
                                    v-if="permissions.moderation_org_prog_courses"
                                    aria-labelledby="navbarDropdown"
                                    class="dropdown-menu dropdown-menu-right"
                                >
                                    <a
                                        class="dropdown-item"
                                        @click="showModalDiscipline({ 'update': modul.id })"
                                    >Редактировать модуль</a>
                                    <a
                                        v-if="permissions.moderation_org_prog_courses"
                                        class="dropdown-item"
                                        @click="deleteDiscipline(modul.id)"
                                    >Удалить модуль</a>
                                </div>
                            </div>

                            <div>
                                <a
                                    class="title gray lessons-hide"
                                    data-hide="Свернуть"
                                    data-show="Развернуть"
                                    style="display: none"
                                >Свернуть</a>
                            </div>
                        </div>
                    </div>-->
                    <div>
                        <div>

                        <!--<div class="d-inline-flex align-items-center">
                            <span class="fs-32 title gray upper f-ls-5">
                                Расписание
                            </span>
                            <div class="add ml-2" @click="visibleDisciplinePopup = true"></div>
                        </div>

                        <div class="event__timetable mt-4" v-for="(discipline, id) in disciplines" :key="id">

                            <div class="d-inline-flex align-items-center">
                                <span class="timetable__date fs-20">{{ discipline.name }}</span>
                                <div class="add ml-2" @click="openLessonPopup(discipline.id)"></div>
                            </div>
                        </div>-->

                        <div class="timetable-day mt-3">
                            <div class="row mb-2">
                                <div class="col-lg-6 mb-4" v-for="(lesson, id) in course.course_modules.get(modul[0])" :key="id">
                                    <event-lecture-card
                                        :event="lesson[1]"
                                    >
                                        <template v-slot:menu>
                                            <!--<div class="menu-item wh20 ml-2" v-if="permissions.moderation_org_prog_courses">
                                                <i
                                                    class="fa fa-pencil"
                                                    aria-hidden="true"
                                                    @click="showPopupLesson(event[1])"
                                                >
                                                </i>
                                            </div>-->
                                            <div
                                                v-if="permissions.moderation_org_prog_courses"
                                            >
                                                <div class="">
                                                    <a
                                                        id="navbarDropdown"
                                                        data-toggle="dropdown"
                                                        class="btn btn-more"
                                                        href="#"
                                                    />
                                                    <div
                                                        v-if="permissions.moderation_lessons"
                                                        aria-labelledby="navbarDropdown"
                                                        class="dropdown-menu dropdown-menu-right"
                                                    >
                                                        <a
                                                            class="dropdown-item title pointer"
                                                            @click="showPopupLesson(lesson[1])"
                                                        >Редактировать занятие</a>
                                                        <a
                                                            class="dropdown-item title pointer"
                                                            @click="showPopupTask({ lesson_id: lesson[0], task_id: 0 })"
                                                        >Добавить задание</a>
                                                        <a
                                                            class="dropdown-item title pointer"
                                                            @click="showModalElement(lesson[0])"
                                                        >Добавить элемент</a>
                                                        <a
                                                            class="dropdown-item title pointer"
                                                            @click="deleteLesson({ lesson_id: lesson[0], module_id: modul[0] })"
                                                        >Удалить</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        <template v-slot:element>
                                            <div class="col-lg-12  align-content-start lesson-footer row no-gutters">
                                                <div
                                                    v-for="(el, ek) in course.elements.get(lesson[0])"
                                                    :key="el.id + '_' + ek"
                                                >
                                                    <div
                                                        class="lesson-item"
                                                        :class="`lesson-`+el[1].type.system_name"
                                                    >
                                                        <a v-if="el[1].type.system_name == 'hyperlink'" target="_blank" :href="el[1].value">
                                                            {{ el[1].name }}
                                                        </a>
                                                        <a v-else-if="(el[1].type.system_name === 'file') || el[1].type.system_name === 'image'" target="_blank" :href="el[1].content">
                                                            {{ el[1].name }}
                                                        </a>
                                                        <a v-else-if="el[1].type.system_name == 'page'" class="title blue pointer" @click="showModalElementHtmlPage(el[1])">
                                                            {{ el[1].name }}
                                                        </a>
                                                        <router-link
                                                            v-else-if="el[1].type.system_name == 'test' && el[1].content"
                                                            :to="{ name: 'org.edu.course.test', params: { test_id: el[1].content.id, course_id: course_id }}"
                                                        >
                                                            {{ el[1].name }}
                                                        </router-link>

                                                        <router-link
                                                            v-else-if="el[1].type.system_name == 'task' && el[1].content"
                                                            :to="{ name: 'org.edu.course.task', params: { task_id: el[1].content.id }}"
                                                        >
                                                            {{ el[1].name }}
                                                        </router-link>
                                                        <i
                                                            v-if="permissions.moderation_org_prog_courses"
                                                            class="fa fa-trash-o pointer"
                                                            aria-hidden="true"
                                                            @click="deleteLessonElement({
                                                                element_id: el[1].id,
                                                                lesson_id: lesson[0]
                                                            })"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </event-lecture-card>
                                </div>
                            </div>
                            <div class="row mb-2"
                                v-if="permissions.moderation_org_prog_courses"
                            >
                                <div class="col-lg-12">
                                    <span
                                        class="ml-2 pointer"
                                        @click="openLessonPopup(modul[0])"
                                    >
                                        <i class="fa fa-plus-circle"/> Добавить событие
                                    </span>
                                </div>
                            </div>
                        </div>

                            <!--<div
                                v-for="(lesson, lk) in lessons.filter(el => el.course_id === modul.id)"
                                :key="lk"
                                class="lesson"
                            >
                                <div class="row no-gutters">
                                    <div
                                        class="col-lg-12 fs-18 d-flex align-items-center"
                                        v-if="!permissions.moderation_org_prog_courses"
                                    >
                                        <div>
                                            Занятие: <b>{{ lesson.name }}</b>
                                        </div>
                                        <div
                                            v-if="haveScore(modul.id, lesson.id)"
                                            class="ml-auto"
                                        >
                                            <div

                                                v-if="scores[modul.id][lesson.id][0].presence === 'п'"
                                            >
                                                <img src="/images/check-mark.svg">
                                                <span>Присутствовал</span>
                                            </div>
                                            <div
                                                v-else-if="scores[modul.id][lesson.id][0].presence === 'о'"
                                            >
                                                <img src="/images/icons/delete.svg">
                                                <span>Отсутствовал</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div
                                        class="col-lg-11 col-md-10 fs-18"
                                        v-else
                                    >
                                        Занятие: <b>{{ lesson.name }}</b>
                                    </div>
                                    <div
                                        class="col-lg-1 col-md-2 d-flex"
                                        v-if="permissions.moderation_org_prog_courses"
                                    >

                                        <div class="ml-auto">
                                            <a
                                                id="navbarDropdown"
                                                data-toggle="dropdown"
                                                class="btn btn-more"
                                                href="#"
                                            />
                                            <div
                                                v-if="permissions.moderation_lessons"
                                                aria-labelledby="navbarDropdown"
                                                class="dropdown-menu dropdown-menu-right"
                                            >
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showModalLesson({ 'update': lesson.id})"
                                                >Редактировать занятие</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showModalTask({ lesson_id: lesson.id, taskId: 0 })"
                                                >Добавить задание</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="showModalElement(lesson.id)"
                                                >Добавить элемент</a>
                                                <a
                                                    class="dropdown-item title pointer"
                                                    @click="deleteLesson(lesson.id)"
                                                >Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        Количество пар: {{ lesson.couples_count }}
                                    </div>
                                </div>
                                <div
                                    class="mt-40 lesson-info row"
                                >
                                    <div
                                        class="col-lg-3 row"

                                    >
                                        <div
                                            v-for="(teacher, tk) in teachers.filter(el => el.lesson_id === lesson.id)"
                                            :key="tk"
                                            class="col-lg-12 lesson-teacher pb-2"
                                        >
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="teacher-avatar "
                                                    :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                                                    : 'background-image: url(/images/user_avatar.svg)'"
                                                />
                                                <div>
                                                    {{ teacher.firstname + ' ' + teacher.lastname }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-2 align-items-center ml-auto">
                                        <div class="d-flex justify-content-end align-items-center lesson-test-result ml-auto score" v-if="haveScore(modul.id, lesson.id)">
                                            <div
                                                v-if="scores[modul.id][lesson.id][0].scores.length > 0"
                                                v-for="score in scores[modul.id][lesson.id][0].scores"
                                                class="score__rating fs-20 mr-5"
                                                :class="'score__rating--' + scoreStyle(score)"
                                            >
                                                {{ score }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <EduAddTask
                                    :lesson="lesson"
                                />
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <EduManageDiscipline
            v-if="visibleDisciplinePopup"
            @closePopup="closePopupDiscipline"
            :disciplineType="'event'"
            :course_id="event_id"
            :modul="currentDiscipline"
        >
        </EduManageDiscipline>

        <EduManageLesson
            v-if="visibleLessonPopup"
            :discipline_id="discipline_id"
            :typeLesson="'event'"
            :lesson="currentLesson"
            @closePopup="closePopupLesson"
        >
        </EduManageLesson>

        <EduManageElement
            v-if="visibleElement"
            @closePopup="closeElement"
            :lesson_id = "lesson_id"
        />
        <EduManageElementHtmlPage
            v-if="visibleElementHtmlPage"
            :element="element"
            @closePopup="closeElementHtmlPage"
        />

        <EduAddTask
            v-if="visibleElementTaskPopup"
            :lesson_id="lesson_id"
            @closePopup="closeTaskPopup"
        />
    </div>
</template>

<script>
    import { createNamespacedHelpers, mapGetters } from 'vuex';

    import EduManageDiscipline from '@base/components/course/manage/Discipline';
    import EduManageLesson from '@base/components/course/manage/Lesson';
    import EduAddTask from '@base/components/course/manage/Task';
    import EduManageElement from '@base/components/course/manage/Element';
    import EduManageElementHtmlPage from '@base/components/course/manage/ElementHtmlPage';
    import { getGradeBook } from '@base/api/gradebook';
    import mixScore from '@base/components/course/gradebook/mixScore';
    import eventLectureCard from '@base/components/course/EventLectureCard';

    const courses = createNamespacedHelpers('courses');
    const organization = createNamespacedHelpers('organization');


    export default {
        name: 'EventContent',
        mixins: [mixScore],
        components: {
            EduManageDiscipline,
            EduManageLesson,
            EduAddTask,
            EduManageElement,
            EduManageElementHtmlPage,
            eventLectureCard,
        },
        props: {
            event_id: {
                type: Number,
                default: 0,
            },
            gradebook: {
                type: Object || Array,
                default: () => ({})
            },
        },
        data() {
            return {
                program_selected: false,
                visibleElement: false,
                visibleElementHtmlPage: false,
                visibleElementTaskPopup: false,
                lesson_id: 0,
                visibleDisciplinePopup: false,
                visibleLessonPopup: false,
                discipline_id: 0,
                currentDiscipline: {
                    id: 0,
                    name: '',
                    description: '',
                },
                currentLesson: {
                    id: 0,
                    name: '',
                    description: '',
                },
                visibleLessonPopup: null,
            };
        },
        computed: {
            ...mapGetters({
                auth: 'auth',
            }),
            ...courses.mapGetters({
                course: 'COURSE_DETAIL',
            }),
            ...organization.mapGetters({
                organization: 'ORGANIZATION',
                permissions: 'PERMISSIONS',
            }),
            course_id() {
                return Number(this.$route.params.course);
            },
            elementsLesson() {
                return this.$store.state.lessons.elements;
            },
        },
        watch: {
            scores(val) {
                this.gradeBook = val;
            }
        },
        methods: {
            ...courses.mapActions({
                deleteLessonElement: 'DELETE_LESSON_ELEMENT',
                deleteLesson: 'DELETE_LESSON',
                deleteDiscipline: 'DELETE_DISCIPLINE',
            }),
            closeElement() {
                this.visibleElement = false;
                this.lesson_id = 0;
            },
            showModalElement(id) {
                this.visibleElement = true;
                this.lesson_id = id;
            },
            showModalElementHtmlPage(element) {
                this.visibleElementHtmlPage = true;
                this.element = element;
            },
            closeElementHtmlPage() {
                this.visibleElementHtmlPage = false;
                this.lesson_id = 0;
            },

            showPopupTask({ lesson_id, task_id }) {
                this.lesson_id = lesson_id;
                this.visibleElementTaskPopup = true;
            },
            closeTaskPopup() {
                this.visibleElementTaskPopup = false;
            },
            haveScore(modulId, lesson_id) {
                return (this.scores[modulId] && this.scores[modulId][lesson_id]);
            },
            openLessonPopup(discipline_id) {
                this.discipline_id = discipline_id;
                this.visibleLessonPopup = true;
            },
            showPopupDiscipline(modul) {
                this.currentDiscipline = modul;
                this.visibleDisciplinePopup = true;
            },
            showPopupLesson(lesson) {
                this.currentLesson = lesson;
                this.visibleLessonPopup = true;
            },
            closePopupLesson() {
                this.visibleLessonPopup = false;
                this.currentLesson =  { ...{ id: 0, name: '', description: ''}};
            },
            closePopupDiscipline() {
                this.visibleDisciplinePopup = false;
                this.currentDiscipline = { ...{
                        id: 0,
                        name: '',
                        description: '',
                    },
                };
            },
        },
    };
</script>
