<template>
    <div class="container py-2">
        <div
            class="row"
            v-if="permissions.moderation_groups"
        >
            <div class="col-lg-2">
                <a
                    class="btn"
                    @click="courseCreateGroup = true"
                >
                    Создать группу
                </a>
            </div>

            <div class="ml-auto col-lg-2">
                <select
                    class="form-control"
                    v-model="groupsFilter.show"
                >
                    <option value="">Все</option>
                    <option value=1>Видимые</option>
                    <option value=0>Скрытые</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select
                    class="form-control"
                    v-model="groupsFilter.action"
                >
                    <option value="">Все</option>
                    <option value="filling">в процессе набора</option>
                    <option value="filled">набран</option>
                    <option value="not-filled">не набран</option>
                    <option value="studying">в процессе обучения</option>
                    <option value="studyed">закончили обучение</option>
                </select>
            </div>

        </div>
        <div
            v-for="(group, k) in groups.data"
            :key="k"
            class="row border rounded py-3 my-3"
        >
            <div class="col-lg-12 d-flex align-items-center pb-2">
                <span class="fs-24 pr-4">Группа: <b>{{ group.name }}</b></span>
                <i
                    class="fa fa-eye  ml-10 pointer"
                    v-if="group.show && permissions.moderation_groups" @click="changeGroupVisible(group, k,0)"
                    v-tooltip.top-center="'Видимая, сделать скрытой'"
                />
                <i
                    class="fa fa-eye-slash  ml-2 pointer"
                    v-if="!group.show && permissions.moderation_groups"
                    @click="changeGroupVisible(group, k,1)"
                    v-tooltip.top-center="'Скрытая, сделать видимой'"
                />
                <i
                    v-if="permissions.moderation_groups"
                    class="fa fa-pencil pointer ml-2"
                    @click="updateGroup(group)"
                />
                <i
                    v-if="permissions.moderation_groups && group.users.length == 0"
                    class="fa fa-trash-o pointer ml-2"
                    aria-hidden="true"
                    @click="delGroup(group.id)"
                    v-tooltip.top-center="'Удалить'"
                />
                <div
                    v-if="!selected && !permissions.moderation_lessons"
                    class="center pt-10 ml-auto"
                >
                    <a
                        class="m-auto btn btn-danger"
                        @click="signUp(group.id)"
                    >Записаться</a>
                </div>
                <div
                    class="ml-auto"
                    v-if="group.users.filter(item => { return item.id == auth.id }).length > 0"
                >
                    <a class="btn btn-danger">Вы записаны!</a>
                </div>
            </div>
            <div class="col-lg-4">
                Обучение: с <b>{{ group.started_at | moment('DD.MM.YYYY') }}</b> по <b>{{ group.finished_at | moment('DD.MM.YYYY') }}</b>
            </div>
            <div class="col-lg-3">
                Обучающиеся: порог <b>{{ group.min }}</b>, сейчас <b>{{ group.users_count }}</b> из <b>{{ group.max }}</b>
            </div>
            <div
                v-if="permissions.moderation_groups"
                class="col-lg-12 pt-2 pb-2"
            >
                Обучающиеся:
            </div>

            <div
                v-if="permissions.moderation_groups"
                v-for="(user, j) in group.users"
                :key="j"
                class="col-lg-3 pb-2 d-flex align-items-center"
            >
                <i
                    v-if="permissions.moderation_groups"
                    class="fa fa-trash-o pointer pr-2"
                    aria-hidden="true"
                    @click="signOut(group.id, user.id)"
                />
                <div
                    class="avatar avatar40 small mr-2"
                    :style="(user) ? 'background-image: url(' + user.avatar.medium + ')'
                                        : 'background-image: url(\'/images/user_avatar.svg\')'"
                />
                <div class="align-self-center">
                    <div class="fs-16 align-self-center pr-2">
                        {{ user.firstname + " " + user.lastname }}
                    </div>
                    <div class="fs-12 align-self-center pr-2">
                        <i>{{ user.email }}</i>
                    </div>
                </div>

            </div>
            <div
                v-if="permissions.moderation_groups"
                class="col-lg-3 pb-10 d-flex align-items-center"
            >
                <i
                    class="pr-10"
                    aria-hidden="true"
                    @click="signOut(group.id, user.id)"
                />
                <div
                    class="add-btn-round wh-40"
                    @click="openAttachStudent(group.id)"
                />
                <div>
                    Перенести студента
                </div>
            </div>
        </div>

        <course-create-group
            :show="courseCreateGroup"
            :course_id="course_id"
            :organization_id="organization_id"
            @closePopup="courseCreateGroupClosePopup"
        />

        <course-group-update-schedule
            v-if="visibleCourseGroupUpdateSchedule"
            :prop_group="prop_group"
            @closePopup="closeUpdateSchedule"
        />

        <course-attach-student
            v-if="visibleCourseAttachStudent"
            @closePopup="closeAttachStudent"
            :fetch="fetchAttachStudent"
            :getUser="getStudent"
        />

    </div>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';
    import { getListGroup, movetoGroup, signupGroup, signoutGroup, deleteGroup, updateGroup, updateGroupVisible } from '@base/api/group_course';

    import CourseCreateGroup from './manage/courseCreateGroup';
    import CourseGroupUpdateSchedule from './manage/CourseGroupUpdateSchedule';
    import CourseAttachStudent from './manage/CourseAttachStudent';

    export default {
        name: 'CourseGroups',
        components: { CourseCreateGroup, CourseGroupUpdateSchedule, CourseAttachStudent },
        props: {
            permissions: {
                moderation_groups: false,
            },
            selected: {
                type: Boolean,
                default: false
            },
            organization_id: null,
            course_id: null
        },
        data() {
            return {
                groupsFilter: {
                    action: "filling",
                    program_id: 0,
                    show: "1",
                    with_users: 1,
                },
                courseCreateGroup: false,
                groups: {
                    data: []
                },
                visibleCourseGroupUpdateSchedule: false,
                visibleCourseAttachStudent: false,
                prop_group: null,
            }
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
        },
        watch:{
            groupsFilter: {
                handler(val){
                    this.getGroups();
                },
                deep: true
            },
        },
        mounted() {
            this.getGroups();
        },
        methods: {
            courseCreateGroupClosePopup(){
                this.courseCreateGroup = false;
                this.getGroups();
            },
            getGroups(){
                getListGroup({
                    action: this.groupsFilter.action,
                    show: this.groupsFilter.show,
                    course_id: this.course_id,
                    with_users: true
                }).then((request) => {
                    this.groups = request.groups;
                })
            },
            changeGroupVisible(group, k, status){
                let out = updateGroupVisible({
                    id: group.id,
                    show: status
                }).then((response) => {
                    this.groups.data[k].show = status;
                });
            },
            updateGroup(group){
                this.prop_group = group;
                this.visibleCourseGroupUpdateSchedule = true;
            },
            closeUpdateSchedule(){
                this.visibleCourseGroupUpdateSchedule = false;
                this.prop_group = false;
                this.getGroups();
            },
            delGroup(id) {
                deleteGroup(id).then(() => this.removeGroup(id));
            },
            async signOut(groupId, userId) {



                signoutGroup({ id: groupId, user_id: userId })
                    .then(({ data: { data: { group: { users } } } }) => {

                        let group = this.groups.data.find(el => el.id === groupId)
                        group.users = group.users.filter(el => el.id != userId)
                        group.users_count--;
                    });
            },
            async fetchAttachStudent(arrayId) {
                // let request = arrayId.map((id) =>
                //     signupGroup({ user_id: id, id: this.currentGroupId })
                //         .then((res) => res));
                let request = arrayId.map((id) =>
                    movetoGroup({ user_id: id, id: this.currentGroupId, course_id: this.course_id })
                        .then((res) => res));
                return Promise.all(request);
            },
            async getStudent() {
                return getListGroup({
                    course_id: this.course_id,
                    with_users: 1,
                })
                    .then((response) => {
                        // let result = response.groups.data.filter(group => group.name === 'system');
                        let result = [];
                        response.groups.data.forEach((element) => {
                            result = result.concat(element.users);
                        });
                        return result;
                    });
            },
            openAttachStudent(groupId) {
                this.currentGroupId = groupId;
                this.visibleCourseAttachStudent = true;
            },
            closeAttachStudent() {
                this.currentGroupId = null;
                this.visibleCourseAttachStudent = false;
                this.getGroups();
            },
            signUp(groupId) {
                signupGroup({user_id: this.auth.id, id:  groupId})
                    .then(() => {
                        location.reload();
                    })
            },
        }
    };
</script>

