<template>
    <div class="course-info">
        <div class="row">
            <div
                class="col-lg-6 py-5 d-flex"
            >
                <div
                    v-if="organization.name"
                    class="avatar avatar60"
                    :style="organization.logo ? 'background-image: url(\''+organization.logo+'\')'
                                        : 'background-image: url(/images/icons/edu_org.svg)'"
                />
                <div
                    v-if="organization.name"
                    class="pl-3 d-flex flex-column align-self-center"
                >
                    <div class="fs-16 ">
                        <router-link
                            :to="{ name: 'org.'+ organization.type.toLowerCase() + '.about', params: { id: organization.id }}"
                            class="default-link"
                        >
                            {{ organization ? organization.name : '' }}
                        </router-link>
                    </div>
                    <div class="fs-14 title gray">
                        Организация
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-5 d-flex align-items-center">
                <div
                    class="ml-auto"
                    v-if="course"
                >
                    <span class="title gray">Модулей: </span>
                    <b class="pr-2 text-danger">
                        {{ course.sub_courses ? course.sub_courses.size : 0 }}
                    </b>
                    <span class="title gray">Занятий: </span>
                    <b class="pr-2 text-danger">
                        {{ lessonsLength }}
                    </b>
                    <span class="title gray">Часов: </span>
                    <b class="pr-2 text-danger">
                        {{ course.curr_course ? course.curr_course.couples_count : 0 }}
                    </b>
                    <span class="title gray">Индикаторов: </span>
                    <b class="pr-2 text-danger">
                        {{ course.indicator_levels ? course.indicator_levels.length : 0 }}
                    </b>
                </div>
                <div
                    v-if="(permissions.moderation_org_prog_courses || permissions.checker_org_prog_courses) && can_edit_course"
                    class="ml-3"
                >
                    <a
                        class="btn btn-edit"
                        @click="showEduManageCourse"
                    >
                        Редактировать
                    </a>
                </div>
            </div>
        </div>


        <div>
            <div class="d-inline-flex pb-4 align-items-center">
                <b>Преподаватели: {{ courseTeachers ? courseTeachers.length : 0 }}</b>
                <div
                    v-if="(permissions.moderation_org_prog || permissions.moderation_org_prog_main) && can_edit_course"
                    class="add ml-2"
                    @click="openAttachTeacher('attach-user')"
                />
                <div
                    v-if="courseTeachers && courseTeachers.length"
                    class="btn ml-3"
                     @click="openTeacherListPopup()"
                >
                    Смотреть все
                </div>
            </div>
            <div class="row no-gutters">
                <!--<div
                    v-for="(teacher, id) in courseTeachers"
                    :key="'teacher_'+id"
                    class="col-lg-4 d-flex pb-4"
                >
                    <div
                        class="avatar avatar40 mr-2"
                        :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                            : 'background-image: url(\'/images/user_avatar.svg\')'"
                    />
                    <div class="d-flex align-self-center">
                        <div class="fs-16 align-self-center pr-4">
                            {{ teacher.firstname + " " + teacher.lastname }}
                        </div>
                        <div>
                            <a
                                v-if="program_selected && auth"
                                :href="`/chats/start/`+teacher.id"
                                class="btn"
                            >
                                <img src="/images/icons/comment.svg">
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <hr>
        <nav
            class="nav red flex-row flex-nowrap justify-content-xxl-center"
        >
            <li
                v-if="(permissions.moderation_org_prog || permissions.moderation_org_prog_main) && can_edit_course"
                class="nav-item"
                :class="$route.name == 'org.edu.course.view' ? 'active' : ''"
            >
                <router-link
                    class="nav-link"

                    :to="{ name: 'org.edu.course.view', params: { id: course.organization_id, course: course.id } }"
                >
                    Программа курса
                </router-link>
            </li>
            <li
                v-if="(permissions.moderation_org_course_groups || permissions.moderation_org_prog_main) && can_edit_course"
                class="nav-item"
                :class="$route.name == 'org.edu.course.groups' ? 'active' : ''"
            >
                <router-link
                    class="nav-link"

                    :to="{ name: 'org.edu.course.groups', params: { id: course.organization_id, course: course.id } }"
                >
                    Учебные группы
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    v-if="permissions.moderation_gradebooks && can_edit_course"
                    class="nav-link"
                    :to="{ name: 'org.edu.course.gradebooklist' }"

                >
                    Журнал
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    v-if="permissions.moderation_org_prog && can_edit_course"
                    class="nav-link"
                    :class="[($route.name === 'org.edu.course.bank-question') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.edu.course.bank-question'}"

                >
                    Банк вопросов
                </router-link>
            </li>
        </nav>
        <EduManageCourse
            :course="course.curr_course"
            v-if="visibleEduManageCourse"
            @closePopup="hideEduManageCourse"
        />

        <AttachTeacher
            v-if="visibleAttachTeacher"
            :users="users"
            :toggle="toggleAttachTeacher"
            @closePopup="closeAttachTeacher"
            @fetch="attachUser"
        />
        <TeacherListModal
            v-if="visibleTeachersListPopup"
            :permissions="permissions"
            :course="course.curr_course"
            :teachers="course.curr_course.users"
            :can_edit_course="can_edit_course"
            @closePopup="closeTeacherListPopup"
            @fetch="detachUser"
        />
    </div>
</template>

<script>
    import {createNamespacedHelpers, mapGetters} from "vuex";
    import EduManageCourse from '@base/components/course/manage/CourseUpdateInfo';
    import AttachTeacher from '@base/components/course/manage/AttachTeacher';
    import TeacherListModal from '@base/components/course/manage/TeachersListModal';

    const courses = createNamespacedHelpers('courses');
    const organization = createNamespacedHelpers('organization');

    export default {
        name: "CourseHeader",
        components: {
            EduManageCourse,
            AttachTeacher,
            TeacherListModal,
        },
        data() {
            return {
                visibleEduManageCourse: false,
                show: false,
                hours: 0,
                link: [
                    {  }
                ],
                visibleAttachTeacher: false,
                visibleTeachersListPopup: false,
                toggleAttachTeacher: 'detach-user',
            }
        },
        props:{
            program: {},
            course: {},
            organization: {},
            teachers: {},
            lessons: {},
            permissions: {},
            program_selected: {},
            can_edit_course: {
                type: Boolean,
                default: false
            }
        },
        watch:{
            lessons(val) {
                if (val) {
                    let count = 0;
                    val.forEach((element) => {
                        count += parseInt(element.couples_count, 10);
                    });
                    this.hours = count;
                }
            },
        },
        methods:{
            ...courses.mapActions({
                attachUserAction: 'ATTACH_USER',
                detachUserAction: 'DETACH_USER',
            }),
            showEduManageCourse(){
                this.visibleEduManageCourse = true;
            },
            hideEduManageCourse(){
                this.visibleEduManageCourse = false;
            },
            openAttachTeacher(toggle) {
                this.toggleAttachTeacher = toggle;
                this.visibleAttachTeacher = true;
            },
            closeAttachTeacher() {
                this.visibleAttachTeacher = false;
            },
            closeTeacherListPopup() {
                this.visibleTeachersListPopup = false;
            },
            openTeacherListPopup() {
                this.visibleTeachersListPopup = true;
            },
            attachUser(id) {
                this.attachUserAction({ user_id: id, id: this.course.curr_course.id });
            },
            detachUser(id) {
                this.detachUserAction({ user_id: id, id: this.course.curr_course.id });
            },
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
            ...courses.mapGetters({
                courseTeachers: 'COURSE_TEACHERS',
                lessonsLength: 'QUANTITY_LESSONS',
            }),
            users() {
                return this.teachers.filter((x) => !this.course.curr_course.users.find((y) => y.id === x.id));
            },
        }
    }
</script>
