<template>
    <div>
        <div
            v-if="$route.name.indexOf('org.edu.course.test')"
            class="head-course"
        >
            <div
                class="page-head course-info"
            >
                <div
                    class="container py-5"
                >
                    <div class="row no-gutters">
                        <div class="pb-2">
                            <span class="fs-32 px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                                Курс
                            </span>
                            <div
                                class="pt-2"
                                v-if="course.curr_course && course.curr_course.name"
                            >
                                <span
                                    class="fs-32 px-2 block красный-1 fw-light pt-1 mb-1"
                                >
                                    {{ course.curr_course ? course.curr_course.name : '' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="row"
                        v-if="course.curr_course && course.curr_course.can_free_enroll"
                    >
                        <div class="col-lg-12">
                            <a
                                class="btn btn-danger"
                                @click="freeSingup({ course_id: course.curr_course.id})"
                            >
                                Записаться
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <course-header
                :course="course"
                :lessons="lessons"
                :organization="organization"
                :teachers="teachers"
                :permissions="permissions"
                :selected="selected"
                :can_edit_course="can_edit_course"
            />
        </div>
        <main class="course">
            <div class="course-content">
                    <router-view
                        :course="course"
                        :permissions="permissions"
                        :selected="selected"
                        :gradebook="gradebook"
                        :can_edit_course="can_edit_course"
                    />
            </div>
        </main>
    </div>
</template>

<script>
    import { createNamespacedHelpers, mapGetters } from 'vuex';
    import CourseViewContent from '@base/components/program/course/Content';
    import CourseHeader from '@base/components/course/Header';


    const courses = createNamespacedHelpers('courses');
    const organization = createNamespacedHelpers('organization');
    const lessons = createNamespacedHelpers('lessons');

    export default {
        name: 'CourseIndex',
        components: {
            CourseViewContent,
            CourseHeader
        },
        props: {
            organization_id: {
                type: Number,
                default: 0,
            },
            course_id: {
                type: Number,
                default: 0,
            },
        },
        data() {
            return {
                show: false,
            };
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
            ...courses.mapGetters({
                course: 'COURSE_DETAIL',
                gradebook: 'COURSE_GRADEBOOK',
                courseTeachers: 'COURSE_TEACHERS',
                selected: 'COURSE_SELECTED',
            }),
            ...organization.mapGetters({
                organization: 'ORGANIZATION',
                teachers: 'TEACHERS',
                permissions: 'PERMISSIONS',
            }),
            ...lessons.mapGetters({
                lessons: 'LESSONS',
            }),
            can_edit_course() {
                if (this.course.curr_course){
                    if (this.course.curr_course.user_id == this.auth.id) return true

                    if (typeof this.course.curr_course.users == 'array'){
                        this.course.curr_course.users.forEach((user) => {
                            if (user.id == this.auth.id) return true
                        })
                    }
                    if (typeof this.course.curr_course.users == 'object'){
                        for(var key in this.course.curr_course.users){
                            if (this.course.curr_course.users[key].id == this.auth.id) return true
                        }
                    }
                }
                return false
            }
        },
        watch: {
            course(val) {
                this.getOrganization({ id: val.organization_id });
            },
        },
        created() {
            this.getCourseDetail({ id: this.course_id });
            this.getOrganization({ id: this.organization_id });
        },
        mounted() {
        },
        methods: {
            ...courses.mapActions({
                getCourseDetail: 'GET_COURSE_DETAIL',
                freeSingup: 'FREE_SINGUP'
            }),
            ...organization.mapActions({
                getOrganization: 'GET_ORGANIZATION',
            }),
        },
    };
</script>

<style scoped>

</style>
