<template>
    <main class="pt-20">
        <div class="container admin-struct">
            <div
                v-if="not_success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-warning alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        <strong>Ошибка!</strong>&nbsp;
                        <span>Данные не обновлены.</span>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="not_success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                v-if="success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-success alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        Данные обновлены.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <ManageNav />
            <a
                class="btn btn-create mb-10"
                href="javascript:void(0)"
                @click="showManage(0)"
            > Добавить</a>
            <v-server-table
                ref="tableDBCategory"
                url="/api/v1/vue/table"
                :columns="table.columns"
                :options="table.options"
            >
                <i
                    slot="h__show"
                    class="fa fa-eye"
                    aria-hidden="true"
                />
                <!--                <select slot="filter__show" name="vf__show" class="form-control">-->
                <!--                    <option value>...</option>-->
                <!--                    <option value="1">да</option>-->
                <!--                    <option value="0">нет</option>-->
                <!--                </select>-->
                <span
                    slot="parent.name"
                    slot-scope="props"
                >
                    {{ props.row.parent && typeof props.row.parent.name === 'string' ?
                        props.row.parent.name : '' }}
                </span>
                <span
                    slot="organization.name"
                    slot-scope="props"
                >
                    {{ props.row.organization && typeof props.row.organization.name === 'string' ?
                        props.row.organization.name : '' }}
                </span>
                <span
                    slot="type"
                    slot-scope="props"
                >
                    {{ props.row.type }}
                </span>
                <span
                    slot="show"
                    slot-scope="props"
                >
                    <i
                        v-if="props.row.show"
                        v-tooltip.top-center="tooltip.show"
                        class="fa fa-check"
                        aria-hidden="true"
                    />
                    <i
                        v-else
                        v-tooltip.top-center="tooltip.hide"
                        class="fa fa-times"
                        aria-hidden="true"
                    />
                </span>
                <span
                    slot="action"
                    slot-scope="props"
                >
                    <i
                        class="fa fa-pencil pointer"
                        aria-hidden="true"
                        @click="showManage(props.row.id)"
                    />
                    <i
                        class="fa fa-trash-o pointer ml-10"
                        aria-hidden="true"
                        @click="remove(props.row.id)"
                    >
                        <span
                            v-if="spinner.row.delete.includes(props.row.id)"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                    </i>
                </span>
            </v-server-table>
            <ManageCategory
                :show="showModalManage"
                :category="currentCategory"
                :fn-modal-hide="hideManage"
                :fn-refresh-table="refreshTable"
            />
        </div>
    </main>
</template>

<script>
import deepClone from 'clonedeep';
import ManageNav from '@base/components/admin/database/Nav';
import ManageCategory from '@base/components/admin/database/manage/Category';
import { defStructCategory } from '@base/inc/defaults/db';

export default {
    name: 'AdminDBCategory',
    components: {
        ManageNav,
        ManageCategory,
    },
    props: [],
    data() {
        return {
            spinner: {
                row: {
                    delete: [],
                },
            },
            not_success: false,
            success: false,
            tooltip: {
                show: 'Видимая',
                hide: 'Скрытая',
            },
            currentCategory: {},
            showModalManage: false,
            tableData: [],
            table: {
                columns: ['id', 'name', 'tag', 'parent.name', 'organization.name', 'type', 'show', 'action'],
                options: {
                    headings: {
                        id: 'ID',
                        name: 'Название',
                        tag: 'Ключ',
                        'parent.name': 'Родительская категория',
                        'organization.name': 'Создано для организации',
                        type: 'Тип',
                        show: '',
                        action: '',
                    },
                    sortable: ['id', 'name', 'tag'],
                    filterable: ['name', 'tag', 'type', 'parent.name', 'organization.name'],
                    filterByColumn: true,
                    listColumns: {
                        type: [
                            {
                                id: 'PUBLIC',
                                text: 'PUBLIC',
                            },
                            {
                                id: 'PRIVATE',
                                text: 'PRIVATE',
                            },
                        ],
                    },
                    perPage: 15,
                    requestFunction(data) {

                        return this.$axios.post(this.url, {
                            params: data,
                            columns: ['id', 'name', 'tag', 'parent', 'organization', 'type', 'show'],
                            relations: ['parent', 'organization'],
                            additionally: [],
                            model: 'DatabaseStructCategory',
                            modelVue: 'VueTable\\WithRelation',
                        }).catch((e) => {
                            this.dispatch('error', e);

                        });
                    },
                    responseAdapter: ({ data: { data: { data, count } } }) => {

                        this.tableData = data;
                        return { data, count };
                    },
                },
            },
        };
    },
    computed: {},
    watch: {},
    created() {},
    mounted() {},
    methods: {
        refreshTable() {
            this.$refs.tableDBCategory.refresh();
        },
        hideManage() {
            this.showModalManage = false;
            this.currentCategory = deepClone(defStructCategory);
        },
        remove(categotyId) {
            if (confirm('Вы уверены ?')) { // eslint-disable-line no-restricted-globals
                const rowData = this.tableData.find((item) => item.id === categotyId);
                if (rowData) {
                    const url = `/api/v1/organizations/${rowData.organization_id}/struct-categories/${rowData.id}`;
                    const loading = 'local';
                    const formData = new FormData();

                    formData.append('_method', 'delete');

                    this.animateBtnRowDelete(categotyId, 'show');

                    this.$axios.post(url, formData,
                        { headers: { 'Content-Type': 'multipart/form-data' } })
                        .then(() => {
                            this.animateBtnRowDelete(categotyId, 'hide');

                            this.refreshTable();
                            this.success = true;
                            setTimeout(() => {
                                this.success = false;
                            }, 2000);
                        })
                        .catch(() => {
                            this.not_success = true;
                            this.animateBtnRowDelete(categotyId, 'hide');

                        })
                        .finally(() => {
                        });
                }
            }
        },
        showManage(categotyId) {
            if (categotyId) {
                const rowData = this.tableData.find((item) => item.id === categotyId);
                if (rowData) {
                    this.currentCategory = deepClone(rowData);
                    if (this.currentCategory.parent_id === undefined) {
                        this.currentCategory.parent_id = null;
                    }
                    this.showModalManage = true;
                }
            } else {
                this.currentCategory = deepClone(defStructCategory);
                this.showModalManage = true;
            }
        },
        animateBtnRowDelete(rowId, action) {
            const exist = this.spinner.row.delete.includes(rowId);
            if (action === 'show') {
                if (!exist) {
                    this.spinner.row.delete.push(rowId);
                }
            } else if (action === 'hide') {
                if (exist) {
                    this.spinner.row.delete.pop(rowId);
                }
            }
        },
    },
};
</script>

<style scoped>

</style>
