<template>
    <div>
        <div
            v-if="not_success"
            class="row mt-10 mb-20"
        >
            <div class="col-lg-12 m-auto">
                <div
                    class="alert alert-warning alert-dismissible fade mb-0 show"
                    role="alert"
                >
                    <strong>Ошибка!</strong>&nbsp;
                    <span>Данные не обновлены.</span>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        @click="not_success = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div
            v-if="success"
            class="row mt-10 mb-20"
        >
            <div class="col-lg-12 m-auto">
                <div
                    class="alert alert-success alert-dismissible fade mb-0 show"
                    role="alert"
                >
                    Данные обновлены.
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        @click="success = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <button
            type="button"
            class="btn btn-light btn-create mb-10"
            @click="showManage(0)"
        >
            Добавить колонку
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Тип
                    </th>
                    <th scope="col">
                        Название
                    </th>
                    <th scope="col">
                        Параметры
                    </th>
                    <th scope="col">
                        Позиция
                    </th>
                    <th scope="col" />
                </tr>
            </thead>
            <tbody v-if="typeof cols.length !== 'undefined' && cols.length">
                <tr
                    v-for="(col, k) in cols"
                    :key="k"
                >
                    <td>{{ col.type.name }}</td>
                    <td>{{ col.name }}</td>
                    <td v-html="showProps(col.type, col.properties)" />
                    <td>{{ col.order }}</td>
                    <td>
                        <i
                            class="fa fa-pencil pointer"
                            aria-hidden="true"
                            @click="showManage(col.id)"
                        />
                        <i
                            class="fa fa-trash-o pointer ml-10"
                            aria-hidden="true"
                            @click="remove(col.id)"
                        >
                            <span
                                v-if="spinner.row.delete.includes(col.id)"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <DBColsAdd
            v-if="!currentCol.id"
            :show="showModalManage"
            :struct="struct"
            :table-row="tableRow"
            :cols-type="colsType"
            :fn-hide-manage="hideManage"
        />
        <DBColsEdit
            v-if="currentCol.id"
            :show="showModalManage"
            :struct="struct"
            :table-row="tableRow"
            :col="currentCol"
            :cols-type="colsType"
            :fn-hide-manage="hideManage"
        />
    </div>
</template>

<script>
import deepClone from 'clonedeep';
import { defCol, defStruct } from '@base/inc/defaults/db';
import DBColsAdd from '@base/components/admin/database/manage/cols/Add';
import DBColsEdit from '@base/components/admin/database/manage/cols/Edit';

export default {
    name: 'AdminDBShowCols',
    components: {
        DBColsAdd,
        DBColsEdit,
    },
    props: {
        tableRow: {
            type: Object,
            default() {
                return {};
            },
        },
        cols: {
            type: Array,
            default() {
                return [];
            },
        },
        colsType: {
            type: Array,
            default() {
                return [];
            },
        },
        struct: {
            type: Object,
            default: defStruct,
        },
    },
    data() {
        return {
            showModalManage: false,
            currentCol: {},
            spinner: {
                row: {
                    delete: [],
                },
            },
            not_success: false,
            success: false,
        };
    },
    computed: {},
    watch: {},
    created() {
        this.currentCol = deepClone(defCol);
    },
    mounted() {},
    methods: {
        showProps(type, props) {
            let html = '';
            if (typeof props.type_id !== 'undefined') {
                switch (type.system_name) {
                case 'Datetime':
                case 'Text':
                    if (typeof type.properties.types[props.type_id].name !== 'undefined') {
                        html = type.properties.types[props.type_id].name;
                    }
                    break;
                case 'Select':
                    html = Object.values(props.select).reduce((sum, name) => {
                        sum.push(`<span class="badge badge-secondary">${name}</span>`);
                        return sum;
                    }, []).join(' ');
                    break;
                default:
                    html = '';
                    break;
                }
            }
            return html;
        },
        remove(colId) {
            if (confirm('Вы уверены ?')) { // eslint-disable-line no-restricted-globals
                const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
                const loading = 'local';
                const formData = new FormData();

                formData.append('_method', 'patch');
                formData.append('action', 'delete-col');
                formData.append('col_id', colId);

                this.animateBtnRowDelete(colId, 'show');

                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {
                        this.animateBtnRowDelete(colId, 'hide');

                        this.tableRow.cols = this.tableRow.cols.filter((col) => col.id !== colId);
                        this.success = true;
                        setTimeout(() => {
                            this.success = false;
                        }, 2000);
                    })
                    .catch(() => {
                        this.not_success = true;
                        this.animateBtnRowDelete(colId, 'hide');

                    })
                    .finally(() => {
                    });
            }
        },
        showManage(colId) {
            if (colId) {
                const col = this.cols.find((item) => item.id === colId);
                if (typeof col === 'object' && col.id) {
                    this.currentCol = deepClone(col);
                }
            } else {
                this.currentCol = deepClone(defCol);
            }
            this.showModalManage = true;
        },
        hideManage() {
            this.showModalManage = false;
            this.currentCol = deepClone(defCol);
        },
        animateBtnRowDelete(rowId, action) {
            const exist = this.spinner.row.delete.includes(rowId);
            if (action === 'show') {
                if (!exist) {
                    this.spinner.row.delete.push(rowId);
                }
            } else if (action === 'hide') {
                if (exist) {
                    this.spinner.row.delete.pop(rowId);
                }
            }
        },
    },
};
</script>

<style scoped>

</style>
