<template>
    <nav class="nav  red flex-row flex-nowrap justify-content-center">
        <li
            class="nav-item"
            :class="$route.name == 'admin.db.struct' ? 'active' : ''"
        >
            <router-link
                class="nav-link"
                :to="{ name: 'admin.db.struct' }"
            >
                Структуры
            </router-link>
        </li>
        <li
            class="nav-item"
            :class="$route.name == 'admin.db.category' ? 'active' : ''"
        >
            <router-link
                class="nav-link"
                :to="{ name: 'admin.db.category' }"
            >
                Категории
            </router-link>
        </li>
        <li
            class="nav-item"
            :class="$route.name == 'admin.db.table' ? 'active' : ''"
        >
            <router-link
                class="nav-link"
                :to="{ name: 'admin.db.table' }"
            >
                Таблицы
            </router-link>
        </li>
    </nav>
</template>

<script>
export default {
    name: 'AdminDBNav',
};
</script>
