<template>
    <main class="pt-2">
        <div class="container admin-struct">
            <div
                v-if="not_success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-warning alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        <strong>Ошибка!</strong>&nbsp;
                        <span>Данные не обновлены.</span>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="not_success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                v-if="success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-success alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        Данные обновлены.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <ManageNav />
            <a
                class="btn btn-create mb-10"
                href="javascript:void(0)"
                @click="showManage(0)"
            > Добавить</a>

            <v-server-table
                ref="tableDBStruct"
                url="/api/v1/vue/table"
                :columns="table.columns"
                :options="table.options"
            >
                <div
                    slot="child_row"
                    slot-scope="props"
                >
                    <ShowStructCols
                        :struct="{
                            id: props.row.id,
                            name: props.row.name,
                            organization_id: props.row.organization_id,
                        }"
                        :table-row="props.row"
                        :cols="props.row.cols"
                        :cols-type="colsType"
                    />
                </div>
                <span
                    slot="created_by_organization.name"
                    slot-scope="props"
                >
                    {{ props.row.created_by_organization && typeof props.row.created_by_organization.name === 'string' ?
                        props.row.created_by_organization.name : '' }}
                </span>
                <span
                    slot="action"
                    slot-scope="props"
                >
                    <i
                        v-tooltip.top-center="tooltip.struct.edit"
                        class="fa fa-pencil pointer"
                        aria-hidden="true"
                        @click="showManage(props.row.id)"
                    />
                    <i
                        v-tooltip.top-center="tooltip.struct.attachToOrganization"
                        class="fa fa-link pointer ml-10"
                        aria-hidden="true"
                        @click="showManageOrganization(props.row.id)"
                    />
                    <i
                        v-tooltip.top-center="tooltip.struct.attachToCategory"
                        class="fa fa-paperclip pointer ml-10"
                        aria-hidden="true"
                        @click="showManageCategory(props.row.organization_id, props.row.id)"
                    />
                    <i
                        v-tooltip.top-center="tooltip.struct.remove"
                        class="fa fa-trash-o pointer ml-10"
                        aria-hidden="true"
                        @click="remove(props.row.id)"
                    >
                        <span
                            v-if="spinner.row.delete.includes(props.row.id)"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                    </i>
                    <a
                        v-tooltip.top-center="tooltip.struct.excel"
                        class="fa fa-file-excel-o pointer ml-10"
                        aria-hidden="true"
                        :href="'/api/v1/database/structs/'+props.row.id+'/excel'"
                        target="_blank"
                    ></a>
                </span>
            </v-server-table>
            <ManageStruct
                :struct="currentStruct.manage"
                :show="showModalManage.struct"
                :fn-modal-hide="hideManage"
                :fn-refresh-struct="refreshStruct"
            />
            <ManageStructOrganization
                :struct="currentStruct.manageOrganization"
                :show="showModalManage.structOrganization"
                :fn-modal-hide="hideManageOrganization"
                :fn-refresh-struct="refreshStruct"
            />
            <ManageStructCategory
                :struct="currentStruct.manageCategory"
                :show="showModalManage.structCategory"
                :fn-modal-hide="hideManageCategory"
                :fn-refresh-struct="refreshStruct"
            />
        </div>
    </main>
</template>

<script>

import deepClone from 'clonedeep';
import { defStruct } from '@base/inc/defaults/db';
import ManageNav from '@base/components/admin/database/Nav';
import ManageStruct from '@base/components/admin/database/manage/Struct';
import ManageStructOrganization from '@base/components/admin/database/manage/StructOrganization';
import ManageStructCategory from '@base/components/admin/database/manage/StructCategory';
import ShowStructCols from '@base/components/admin/database/Cols';

export default {
    name: 'AdminDBStruct',
    components: {
        ManageNav,
        ManageStruct,
        ManageStructOrganization,
        ManageStructCategory,
        ShowStructCols,
    },
    props: [],
    data() {
        return {
            spinner: {
                row: {
                    delete: [],
                },
            },
            not_success: false,
            success: false,
            tooltip: {
                struct: {
                    edit: 'Редактировать структуру',
                    attachToOrganization: 'Прикрикрепить к организации',
                    attachToCategory: 'Прикрикрепить к категории',
                    remove: 'Удалить структуру',
                    excel: 'Свести в excel документ'
                },
            },
            showModalManage: {
                struct: false,
                structOrganization: false,
                structCategory: false,
            },
            currentStruct: {
                manage: {},
                manageOrganization: {},
                manageCategory: {},
            },
            colsType: [],
            tableData: [],
            table: {
                columns: ['id', 'name', 'created_by_organization.name', 'type', 'status', 'action'],
                options: {
                    headings: {
                        id: 'ID',
                        name: 'Название',
                        'created_by_organization.name': 'Создано для организации',
                        type: 'Тип',
                        status: 'Статус',
                        action: '',
                    },
                    sortable: ['id', 'name'],
                    filterable: ['name', 'type', 'status', 'created_by_organization.name'],
                    filterByColumn: true,
                    listColumns: {
                        type: [
                            {
                                id: 'PUBLIC',
                                text: 'PUBLIC',
                            },
                            {
                                id: 'PRIVATE',
                                text: 'PRIVATE',
                            },
                        ],
                        status: [
                            {
                                id: 'DRAFT',
                                text: 'DRAFT',
                            },
                            {
                                id: 'ACTIVE',
                                text: 'ACTIVE',
                            },
                        ],
                    },
                    perPage: 15,
                    requestFunction(data) {

                        return this.$axios.post(this.url, {
                            params: data,
                            columns: ['id', 'name', 'type', 'status'],
                            relations: ['createdByOrganization', 'structCategories', 'organizations', 'cols.type'],
                            additionally: [],
                            model: 'DatabaseStruct',
                            modelVue: 'VueTable\\WithRelation',
                        }).catch((e) => {
                            this.dispatch('error', e);

                        });
                    },
                    responseAdapter: ({ data: { data: { data, count } } }) => {

                        this.tableData = data;
                        return { data, count };
                    },
                },
            },
        };
    },
    computed: {},
    watch: {},
    created() {
        this.currentStruct.manage = deepClone(defStruct);
        this.currentStruct.manageRelation = deepClone(defStruct);
    },
    mounted() {
        this.getColType();
    },
    methods: {
        getColType() {
            const url = '/api/v1/databases-cols-type';
            const loading = 'local';


            this.$axios.get(url, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.colsType = response.data.data.colsType;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        remove(structId) {
            if (confirm('Вы уверены ?')) { // eslint-disable-line no-restricted-globals
                const rowData = this.tableData.find((item) => item.id === structId);
                if (rowData) {
                    const url = `/api/v1/organizations/${rowData.organization_id}/structs/${rowData.id}`;
                    const loading = 'local';
                    const formData = new FormData();

                    formData.append('_method', 'delete');

                    this.animateBtnRowDelete(structId, 'show');

                    this.$axios.post(url, formData,
                        { headers: { 'Content-Type': 'multipart/form-data' } })
                        .then(() => {
                            this.animateBtnRowDelete(structId, 'hide');

                            this.refreshStruct();
                            this.success = true;
                            setTimeout(() => {
                                this.success = false;
                            }, 2000);
                        })
                        .catch(() => {
                            this.not_success = true;
                            this.animateBtnRowDelete(structId, 'hide');

                        })
                        .finally(() => {
                        });
                }
            }
        },
        showManage(structId) {
            if (structId) {
                const rowData = this.tableData.find((item) => item.id === structId);
                if (rowData) {
                    this.currentStruct.manage = deepClone(rowData);
                    this.showModalManage.struct = true;
                }
            } else {
                this.currentStruct.manage = deepClone(defStruct);
                this.showModalManage.struct = true;
            }
        },
        showManageOrganization(structId) {
            if (structId) {
                const rowData = this.tableData.find((item) => item.id === structId);
                if (rowData) {
                    this.currentStruct.manageOrganization = deepClone(rowData);
                    this.showModalManage.structOrganization = true;
                }
            } else {
                this.currentStruct.manageOrganization = deepClone(defStruct);
                this.showModalManage.structOrganization = true;
            }
        },
        showManageCategory(organizationId, structId) {
            if (structId) {
                const rowData = this.tableData.find((item) => item.id === structId);
                if (rowData) {
                    this.currentStruct.manageCategory = deepClone(rowData);
                    this.showModalManage.structCategory = true;
                }
            } else {
                this.currentStruct.manageCategory = deepClone(defStruct);
                this.showModalManage.structCategory = true;
            }
        },
        refreshStruct() {
            this.$refs.tableDBStruct.refresh();
        },
        hideManage() {
            this.showModalManage.struct = false;
            this.currentStruct.manageCategory = deepClone(defStruct);
        },
        hideManageOrganization() {
            this.showModalManage.structOrganization = false;
            this.currentStruct.manageOrganization = deepClone(defStruct);
        },
        hideManageCategory() {
            this.showModalManage.structCategory = false;
            this.currentStruct.manageCategory = deepClone(defStruct);
        },
        animateBtnRowDelete(rowId, action) {
            const exist = this.spinner.row.delete.includes(rowId);
            if (action === 'show') {
                if (!exist) {
                    this.spinner.row.delete.push(rowId);
                }
            } else if (action === 'hide') {
                if (exist) {
                    this.spinner.row.delete.pop(rowId);
                }
            }
        },
    },
};
</script>

<style scoped>

</style>
