<template>
    <main class="pt-20">
        <div class="container admin-struct">
            <div
                v-if="not_success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-warning alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        <strong>Ошибка!</strong>&nbsp;
                        <span>Данные не обновлены.</span>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="not_success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                v-if="success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-success alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        Данные обновлены.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <ManageNav />
            <a
                class="btn btn-create mb-10"
                href="javascript:void(0)"
                @click="showManage(0)"
            > Добавить</a>
            <a
                class="btn btn-create mb-10 ml-10"
                href="javascript:void(0)"
                @click="showMultipleManage(0)"
            > Добавить несколько</a>
            <v-server-table
                ref="tableDBTable"
                url="/api/v1/vue/table"
                :columns="table.columns"
                :options="table.options"
            >
                <i
                    v-tooltip.top-center="tooltip.table.priority"
                    slot="h__priority"
                    class="fa fa-sort-numeric-asc"
                    aria-hidden="true"
                />
                <i
                    v-tooltip.top-center="tooltip.table.show"
                    slot="h__show"
                    class="fa fa-eye"
                    aria-hidden="true"
                />
                <span
                    slot="model.name|"
                    slot-scope="props"
                >
                    {{ props.row.model && typeof props.row.model.name === 'string' ?
                        props.row.model.name : '' }}
                </span>
                <span
                    slot="databaseStruct.name"
                    slot-scope="props"
                >
                    {{ props.row.database_struct && typeof props.row.database_struct.name === 'string' ?
                        props.row.database_struct.name : '' }}
                </span>
                <span
                    slot="show"
                    slot-scope="props"
                >
                    <i
                        v-if="props.row.show"
                        v-tooltip.top-center="tooltip.show"
                        class="fa fa-check"
                        aria-hidden="true"
                    />
                    <i
                        v-else
                        v-tooltip.top-center="tooltip.hide"
                        class="fa fa-times"
                        aria-hidden="true"
                    />
                </span>
                <span
                    slot="action"
                    slot-scope="props"
                >
                    <router-link
                        v-if="props.row.model_type === 'App\\Models\\Organization' && props.row.organization.type === 'EMPLOYER'"
                        class="fa fa-external-link pointer"
                        aria-hidden="true"
                        :to="{ name: `org.${ props.row.organization.type.toLowerCase() }.database`, params: { id: props.row.model_id, table: props.row.id, page: 1 }}"
                    />
                    <router-link
                        v-else-if="props.row.model_type === 'App\\Models\\Organization'"
                        class="fa fa-external-link pointer"
                        aria-hidden="true"
                        :to="{ name: 'org.edu.database', params: { id: props.row.model_id, table: props.row.id, page: 1 }}"
                    />
                    <i
                        class="fa fa-pencil ml-10 pointer"
                        aria-hidden="true"
                        @click="showManage(props.row.id)"
                    />
                    <i
                        class="fa fa-trash-o pointer ml-10"
                        aria-hidden="true"
                        @click="remove(props.row.id)"
                    >
                        <span
                            v-if="spinner.row.delete.includes(props.row.id)"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                    </i>
                </span>
            </v-server-table>
            <AddMultipleTable
                :show="showModalMultipleManage"
                :model-types="modelTypes"
                :fn-modal-hide="hideMultipleManage"
                :fn-refresh-table="refreshTable"
            />
            <ManageTable
                :show="showModalManage"
                :table="currentTable"
                :model-types="modelTypes"
                :fn-modal-hide="hideManage"
                :fn-refresh-table="refreshTable"
            />
        </div>
    </main>
</template>

<script>

import ManageNav from '@base/components/admin/database/Nav';
import ManageTable from '@base/components/admin/database/manage/Table';
import AddMultipleTable from '@base/components/admin/database/manage/multiple/add/Table';
import deepClone from 'clonedeep';
import { defTable } from '@base/inc/defaults/db';

export default {
    name: 'AdminDBTable',
    components: {
        ManageNav,
        ManageTable,
        AddMultipleTable,
    },
    props: [],
    data() {
        return {
            modelTypes: {
                organization: {
                    label: 'Организация',
                    field: 'name',
                    response: 'organizations',
                    model: 'App\\Models\\Organization',
                },
            },
            tooltip: {
                show: 'Видимая',
                hide: 'Скрытая',
                table: {
                    show: 'Показывать',
                    popularity: 'Приоритет',
                },
            },
            spinner: {
                row: {
                    delete: [],
                },
            },
            not_success: false,
            success: false,
            showModalMultipleManage: false,
            showModalManage: false,
            currentTable: {},
            tableData: [],
            table: {
                columns: ['id', 'name', 'model.name|', 'databaseStruct.name', 'priority', 'show', 'action'],
                options: {
                    headings: {
                        id: 'ID',
                        name: 'Название',
                        'model.name|': 'Модель',
                        'databaseStruct.name': 'Структура',
                        priority: '',
                        show: '',
                        action: '',
                    },
                    sortable: ['id', 'name'],
                    filterable: ['name', 'databaseStruct.name'],
                    filterByColumn: true,
                    listColumns: {
                        show: [],
                    },
                    perPage: 15,
                    orderBy: {
                        ascending: 1,
                        column: 'priority',
                    },
                    requestFunction(data) {

                        return this.$axios.post(this.url, {
                            params: data,
                            columns: ['id', 'name', 'priority', 'show'],
                            relations: ['model', 'databaseStruct', 'organization'],
                            additionally: [],
                            model: 'Database',
                            modelVue: 'VueTable\\WithRelation',
                        }).catch((e) => {
                            this.dispatch('error', e);

                        });
                    },
                    responseAdapter: ({ data: { data: { data, count } } }) => {

                        this.tableData = data;
                        return { data, count };
                    },
                },
            },
        };
    },
    computed: {
    },
    watch: {},
    created() {
        this.currentTable = deepClone(defTable);
    },
    mounted() {},
    methods: {
        remove(tableId) {
            if (confirm('Вы уверены ?')) { // eslint-disable-line no-restricted-globals
                const url = `/api/v1/databases/${tableId}`;
                const loading = 'local';
                const formData = new FormData();

                formData.append('_method', 'delete');

                this.animateBtnRowDelete(tableId, 'show');

                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {
                        this.animateBtnRowDelete(tableId, 'hide');

                        this.refreshTable();

                        this.success = true;
                        setTimeout(() => {
                            this.success = false;
                        }, 2000);
                    })
                    .catch(() => {
                        this.not_success = true;
                        this.animateBtnRowDelete(tableId, 'hide');

                    })
                    .finally(() => {
                    });
            }
        },
        refreshTable() {
            this.$refs.tableDBTable.refresh();
        },
        hideManage() {
            this.showModalManage = false;
            this.currentTable = deepClone(defTable);
        },
        showManage(tableId) {
            if (tableId) {
                const rowData = this.tableData.find((item) => item.id === tableId);
                if (rowData) {
                    this.currentTable = deepClone(rowData);
                    this.showModalManage = true;
                }
            } else {
                this.currentTable = deepClone(defTable);
                this.showModalManage = true;
            }
        },
        hideMultipleManage() {
            this.showModalMultipleManage = false;
        },
        showMultipleManage(tableId) {
            if (!tableId) {
                this.showModalMultipleManage = true;
            }
        },
        animateBtnRowDelete(rowId, action) {
            const exist = this.spinner.row.delete.includes(rowId);
            if (action === 'show') {
                if (!exist) {
                    this.spinner.row.delete.push(rowId);
                }
            } else if (action === 'hide') {
                if (exist) {
                    this.spinner.row.delete.pop(rowId);
                }
            }
        },
    },
};
</script>
