<!-- Bashinsky --> 
<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Добавление вопросов
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div class="container-fluid">
                            <div class="row pt-3" v-if="activeSection === 'home'">
                                <div class="col align-items-center d-flex flex-column">
                                    <a class="btn my-2"
                                       v-for="(description, section) in sections"
                                       :key="section"
                                       @click="changeSection(section)"
                                    >
                                        {{ description }}
                                    </a>
                                </div>
                            </div>

                            <div class="row pt-12">
                                <div class="col-lg-12 m-auto">
                                    <div class="mb-2" v-if="activeSection === 'add-question-specific'">
                                        <div class="form-group">
                                            <label
                                                class="title gray"
                                            >Категория вопросов</label>

                                            <custom-tree
                                                class="item"
                                                :item="treeBankObject"
                                                @selectedTreeEl="selectedTreeEl"
                                            >
                                            </custom-tree>
                                        </div>

                                        <div class="form-group">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Колличество баллов</label>
                                            <input
                                                id="point_count"
                                                v-model.number="questionSpecific.point_count"
                                                type="number"
                                                class="form-control"
                                                :class="('point_count' in invalid) ? 'is-invalid' : ''"
                                                required
                                            />
                                            <valid-sign
                                                :name="'point_count'"
                                                :invalid="invalid"
                                            />
                                        </div>

                                        <div class="form-group"
                                             v-if="questionSpecific.bank_id && listQuestion.questions"
                                        >
                                            <label
                                                class="title gray"
                                            >Вопросы:</label>

                                            <select-card-pagination
                                                :elements="listQuestion.questions.data"
                                                @selected="selected"
                                                name="select_card_paginate"
                                            >
                                            </select-card-pagination>
                                            <valid-sign
                                                :name="'question_id'"
                                                :invalid="invalid"
                                            />
                                        </div>
                                    </div>

                                    <div class="form-group mb-10" v-if="activeSection === 'add-question-random'">
                                        <label
                                            class="title gray"
                                            for="question_random"
                                        >Категория</label>
                                        <custom-tree
                                            class="item"
                                            :item="treeBankObject"
                                            @selectedTreeEl="selectedTreeEl"
                                        >
                                        </custom-tree>
                                        <label
                                            class="title gray"
                                            for="question_count"
                                        >Колличество вопросов</label>
                                        <input
                                            id="question_count"
                                            v-model.number="questionRandom.question_count"
                                            type="number"
                                            class="form-control"
                                            :class="('question_count' in invalid) ? 'is-invalid' : ''"
                                            required
                                        />
                                        <valid-sign
                                            name="question_count"
                                            :invalid="invalid"
                                        />

                                        <label
                                            class="title gray"
                                            for="question_random"
                                        >Колличество баллов</label>
                                        <input
                                            id="question_random"
                                            v-model.number="questionRandom.point_count"
                                            type="number"
                                            class="form-control"
                                            :class="('question_count' in invalid) ? 'is-invalid' : ''"
                                            required
                                        />
                                        <valid-sign
                                            :name="'question_count'"
                                            :invalid="invalid"
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-if="activeSection === 'add-question-all'">
                                        <label
                                            class="title gray"
                                        >Категория</label>
                                        <custom-tree
                                            class="item"
                                            :item="treeBankObject"
                                            @selectedTreeEl="selectedTreeEl"
                                        >
                                        </custom-tree>
                                        <label
                                            class="title gray"
                                            for="question_count"
                                        >Колличество баллов</label>
                                        <input
                                            id="question_count"
                                            v-model.number="questionAll.point_count"
                                            type="number"
                                            class="form-control"
                                            :class="('question_count' in invalid) ? 'is-invalid' : ''"
                                            required
                                        />
                                        <valid-sign
                                            name="point_count"
                                            :invalid="invalid"
                                        />
                                    </div>

                                    <div>

                                    </div>

                                    <div class="row pt-32">
                                        <div class="col-lg-8 pt-32 m-auto">
                                            <SuccessError :show="{ not_success, success }" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32 d-flex justify-content-center">
                        <button
                            type="button"
                            class="btn btn-red"
                            @click="activeSection = 'home'"
                            v-if="activeSection !== 'home'"
                        >
                            {{ 'Назад' }}
                        </button>
                        <button
                            type="button"
                            class="btn btn-red"
                            @click="submit()"
                            v-if="activeSection !== 'home'"
                        >
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { getListBank } from '@base/api/bank-question/bank';
import customTree from '@base/components/base/Tree/Tree';
import { addQuestionRandom, addQuestionSpecific, addQuestionAll } from '@base/api/test/adding-questions';
import validSign from '@base/components/base/validSign';
import SelectCardPagination from '@base/components/base/SelectCardPagination';
import { getListQuestions } from '@base/api/bank-question/question';

export default {
    name: 'addingQuestionPopup',

    components: {
        SuccessError,
        customTree,
        validSign,
        SelectCardPagination,
    },

    data() {
        return {
            activeSection: 'home',
            sections: {
                'add-question-specific': 'Добавление определенного вопроса в тест',
                'add-question-random': 'Добавление случайных вопросов в тест из определенного банка',
                'add-question-all': 'Добавление всех вопросов из банка в тест',
            },
            questionRandom: {
                id: this.$route.params.test_id,
                bank_id: 0,
                question_count: 0,
                point_count: 0,
            },
            questionSpecific: {
                id: this.$route.params.test_id,
                bank_id: 0,
                question_id: 0,
            },
            questionAll: {
                id: this.$route.params.test_id,
                bank_id: 0,
                point_count: 0,
            },
            listQuestion: {},
        }
    },
    props: {
        treeBank: {
            type: Array,
            default: () => [],
        },
        test_id: {
            type: Number,
            default: 0,
        },
    },
    mixins: [Proccess],
    created() {
    },
    computed: {
        treeBankObject() {
            return this.treeBank[0];
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        changeSection(section) {
            this.activeSection = section;
        },
        async selectedTreeEl(bank) {
            switch(this.activeSection) {
                case 'home':
                    break;
                case 'add-question-specific':
                    this.questionSpecific.bank_id = bank.id;
                    this.listQuestion = await getListQuestions({ bank_id: bank.id });
                    break;
                case 'add-question-random':
                    this.questionRandom.bank_id = bank.id;
                    break;
                case 'add-question-all':
                    this.questionAll.bank_id = bank.id;
                    break;
            }
        },
        submit() {
            switch(this.activeSection) {
                case 'home':
                    break;
                case 'add-question-specific':
                    addQuestionSpecific(this.questionSpecific)
                        .then(() => {
                            this.showSuccessMessage('local', 'save', true);
                            this.backHome()
                        })
                        .catch((error => {
                            this.showErrorMessage('local', 'save', true, error);
                        }))
                    break;
                case 'add-question-random':
                    addQuestionRandom(this.questionRandom)
                        .then(() => {
                            this.showSuccessMessage('local', 'save', true);
                            this.backHome()
                        })
                        .catch((error) => {
                            this.showErrorMessage('local', 'save', true, error);
                        });
                    break;
                case 'add-question-all':
                    addQuestionAll(this.questionAll)
                        .then(() => {
                            this.showSuccessMessage('local', 'save', true);
                            this.backHome()
                        })
                        .catch((error) => {
                            this.showErrorMessage('local', 'save', true, error);
                        });
                    break;
            }
        },
        backHome() {
            this.activeSection = 'home';
            this.clear();
        },
        clear() {
            this.questionRandom = { ...this.questionRandom, ...{ bank_id: 0, question_count: 0, point_count: 0 }}
            this.questionSpecific = { ...this.questionSpecific, ...{ bank_id: 0, question_id: 0, point_count: 0 }}
            this.questionAll = { ...this.questionSpecific, ...{ bank_id: 0, question_id: 0, point_count: 0 }}
        },
        selected(id) {
            this.questionSpecific.question_id = id;
        },
    }
}
</script>
