<!-- Bashinsky --> 
<template>
    <popup :caption="'Обновить настройки'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Название</label>
                        <input
                            class="form-control"
                            :class="('name' in errors) ? 'is-invalid' : ''"
                            type="text"
                            name="name"
                            v-model="settings.name"
                        />
                        <valid-sign
                            :name="'name'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Количество попыток</label>
                        <input
                            class="form-control"
                            :class="('count_attempts' in errors) ? 'is-invalid' : ''"
                            type="number"
                            name="count_attempts"
                            v-model="settings.count_attempts"
                        />
                        <valid-sign
                            :name="'count_attempts'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Время прохождения теста</label>
                        <input
                            class="form-control"
                            :class="('lead_time' in errors) ? 'is-invalid' : ''"
                            type="number"
                            v-model="settings.lead_time"
                        />
                        <valid-sign
                            :name="'lead_time'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Проходной балл</label>
                        <input
                            class="form-control"
                            :class="('passing_score' in errors) ? 'is-invalid' : ''"
                            type="number"
                            v-model="settings.passing_score"
                        />
                        <valid-sign
                            :name="'passing_score'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="settings.see_result_questions"
                        >
                            Просматривать подробный отчет об ошибках
                        </b-form-checkbox>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="settings.change_answers"
                        >
                                Изменять ответы в процессе выполнения
                        </b-form-checkbox>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата начала теста</label>

                        <datetime
                            format="YYYY-MM-DD H:i"
                            v-model="settings.start_time_availability"
                            :class="('start_time_availability' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'start_time_availability'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата окончания теста</label>

                        <datetime
                            format="YYYY-MM-DD H:i"
                            v-model="settings.end_time_availability"
                            :class="('end_time_availability' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'end_time_availability'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="settings.protected"
                        >
                            Защитить тест паролем
                        </b-form-checkbox>
                    </div>
                    <div class="form-group" v-if="settings.protected">
                        <label>Пароль</label>
                        <input
                            class="form-control"
                            :class="('password' in errors) ? 'is-invalid' : ''"
                            type="password"
                            v-model="password"
                        />
                        <valid-sign
                            :name="'password'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update(settings)">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import { defTestSettings } from '@base/inc/defaults/app';
import datetime from '@base/components/base/datetime-picker';
import popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

const test = createNamespacedHelpers('test');
export default {
    name: 'changeTestSettings',
    components: {
        datetime,
        popup,
        SuccessError,
        validSign,
    },
    mixins: [mixSuccess],
    data() {
        return {
            password: '',
            testSettings: deepClone(this.$store.state.test.settings),
            errors: {},
        }
    },
    computed: {
        settings() {
            if (this.testSettings) return this.testSettings;
            else return { ...defTestSettings };
        },
    },
    methods: {
        ...test.mapActions({
            updateTestSettings: 'UPDATE_TEST_SETTINGS',
        }),
        closePopup() {
            this.$emit('closePopup');
        },
        async update(settings) {
            try {
                await this.updateTestSettings({...settings, ...{ password: this.password }});
                this.mixShow('success');
            } catch (e) {
                this.mixShow('error');
                this.errors = e.response.data.errors;
            }
        },
    },
}
</script>
