<!-- Bashinsky --> 
<template>
    <div>
        <test-header :caption="{ label: 'Тест:', description: test[0] ? test[0].name : '' }"
                     :testAttemptPagination="testAttemptPagination"
                     :test="test[0]">
            <template v-slot:action v-if="$route.name === 'test.attempt'">

                <div class="fs-18 text-color-white" v-if="$store.state.test.currentAttempt.status !== 'ACTIVE'">
                    <div
                        v-if="totalTime"
                    >
                        <span>Вы справились за <b>{{ totalTime.min }}</b> мин. <b>{{ totalTime.sec }}</b> сек.</span>
                    </div>
                    <div v-if="test[0]">
                        Баллы за попытку:
                        {{ attempt.attempt_result ? attempt.attempt_result.score : '-'}}
                        из
                        {{ test[0].max_score }}
                    </div>
                </div>
                <test-button class="m-auto" v-if="$store.state.test.currentAttempt.status === 'ACTIVE'">
                    <template v-slot:action>
                        <div class="ml-auto mr-2">
                            <!--<span class="fs-18 text-color-white" v-if="validTime">
                                Неправильные настройки времени на текущем устройстве
                            </span>-->
                            <span class="fs-18 text-color-white">
                                <timer v-if="$store.state.test.test[0] && $store.state.test.server_time"
                                        :startTime="new Date($store.state.test.currentAttempt.start_time.replace(/-/g, '/'))"
                                        :endTime="new Date($store.state.test.currentAttempt.finished_at.replace(/-/g, '/'))"
                                        :serverTime="$store.state.test.server_time"
                                        @timeEnded="timeEnded()"
                                />
                            </span>
                        </div>

                        <a
                            v-if="$store.state.test.currentAttempt.status === 'ACTIVE'"
                            class="btn btn--red text-white"
                            @click="finishConfirm">
                            Завершить попытку
                        </a>
                        <a
                            v-if="$store.state.test.currentAttempt.status !== 'ACTIVE'"
                            class="mt-20 btn btn-sm btn-success"
                            @click="backToResults">
                            Вернуться к результатам
                        </a>
                    </template>
                </test-button>

            </template>

            <template #bottom="testAttemptPagination" v-if="$route.name === 'test.attempt'">
<!--                <b-pagination-->
<!--                    v-if="showPaginate"-->
<!--                    v-model="testAttemptPagination.testAttemptPagination.currentPage"-->
<!--                    :total-rows="testAttemptPagination.testAttemptPagination.items"-->
<!--                    :per-page="testAttemptPagination.testAttemptPagination.perPage"-->

<!--                ></b-pagination>-->
                <div

                >
                    <ul role="menubar" aria-disabled="false" aria-label="Pagination" class="pagination b-pagination flex-wrap">
                        <li
                            role="presentation" aria-hidden="true" class="page-item py-2"
                            v-for="(item,k) in testAttemptPagination.testAttemptPagination.items"
                            :class="
                                (testAttemptPagination.testAttemptPagination.currentPage == (k+1))
                                ?
                                'active'
                                :
                                (($store.state.test.front_result.result[k] && $store.state.test.front_result.result[k].count_change > 0) ? 'send' : '')
                            "

                            @click="testAttemptPagination.testAttemptPagination.currentPage = (k+1)"
                        >
                            <button role="menuitemradio" type="button" aria-checked="false" aria-posinset="2" aria-setsize="17" tabindex="-1" class="page-link">
                                {{ k+1 }}
                            </button>
                        </li>
                    </ul>
                </div>
            </template>

            <template #availability="{ test }" v-else>
                <div v-if="test">
                    Доступен c: <p>{{ test.start_time_availability }}</p>
                </div>
                <div v-if="test">
                    Доступен до: <p>{{ test.end_time_availability }}</p>
                </div>
            </template>

            <template v-slot:navigation>
                    <router-link
                        v-if="$route.params.course"
                        :to="{ name: 'org.edu.course.view'}"
                        class="mb-2 btn btn-sm btn-success title black"
                    >
                        На страницу курса
                    </router-link>
            </template>
        </test-header>

        <main class="course">
            <div class="container">
                <test-navigation
                    v-if="($route.name !== 'org.edu.course.test.attempt') && $attrs.permission && $attrs.permission.teaching"
                />

                <router-view
                    :permission="$attrs.permission"
                    :testPaginate="testAttemptPagination" @createComponent="createComponent"
                    :finishAttemptId="finishAttemptId"
                    :test="test"
                >

                </router-view>
                <div class="row pt-32">
                    <div class="col-lg-6 pb-16 m-auto">
                        <SuccessError :show="{ not_success, success }" />
                    </div>
                </div>
            </div>
        </main>
        <PopupConfirm
            v-if="finishConfirmVisible"
            :message="messageFinishConfirm"
            message_class="h2"
            @confirm="finish"
            @reject="finishReject"
        />
    </div>
</template>

<script>
import { createNamespacedHelpers} from 'vuex';
import testHeader from './TestHeader';
import testNavigation from './TestNavigation';
import testButton from './testComponent/testButton';
import timer from './testComponent/Timer';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import dateManager from '@base/inc/func/dateManager/index';
import PopupConfirm from '@base/components/base/PopupConfirm';
const test = createNamespacedHelpers('test');


export default {
    name: 'Test',
    components: {
        testHeader,
        testButton,
        testNavigation,
        timer,
        SuccessError,
        PopupConfirm,
    },
    data() {
        return {
            testAttemptPagination: {
                currentPage: 1,
                perPage: 1,
                items: 0,
            },
            time: "Старт",
            //timerVisible: true,
            finishAttemptId: 0,
            validTime: true,
            messageFinishConfirm: "Вы уверенны что хотите завершить попытку?",
            finishConfirmVisible: false,
        }
    },

    mixins: [Proccess],
    computed: {
        ...test.mapGetters({
            test: 'TEST',
            treeBank: 'TREE_BANK',
            attempt: 'ATTEMPT',
            questionsAttempt: 'QUESTIONS_ATTEMPT',
            availabilityStatus: 'AVAILABILITY_STATUS',
        }),
        showPaginate() {
            return (this.$store.state.test.currentAttempt.status === 'ACTIVE' || (this.$store.state.test.settings.see_result_questions &&
            ( this.$store.state.test.currentAttempt.status === 'SUCCESS'
            || this.$store.state.test.currentAttempt.status === 'FAILED')))
        },
        totalTime() {
            let currentAttempt = this.$store.state.test.currentAttempt
            if (currentAttempt.start_time && currentAttempt.finished_at){
                return dateManager.totalMinSec(new Date(currentAttempt.start_time.replace(/-/g, '/')), new Date(currentAttempt.finished_at.replace(/-/g, '/')));
            }
            return null;
        },
    },
    async created() {
        await this.getTest({ id: this.$route.params.test_id });
    },
    watch:{
        questionsAttempt(){
            this.testAttemptPagination.items = this.questionsAttempt.length;
        }
    },
    methods: {
        ...test.mapActions({
            getTest: 'GET_TEST',
            createAttempt: 'CREATE_ATTEMPT',
            getBank: 'GET_BANK',
            startTest: 'START_TEST',
            finishAttempt: 'FINISH_ATTEMPT',
            getQuestionsAttempt: 'GET_QUESTIONS_ATTEMPT',
        }),
        ...test.mapMutations({
            setFinishDate: 'SET_FINISH_DATE',
        }),
        async createComponent() {
            //console.log('validDate');
            //this.validDate();
            //this.timerVisible=false;
        },
        finishConfirm() {
            this.finishConfirmVisible = true;
        },
        async finish() {
            this.finishConfirmVisible = false;
            await this.finishAttempt()
                      .then(() => {
                          this.finishAttemptId = this.$store.state.test.currentAttempt.id;
                          this.testAttemptPagination.currentPage = 1;
                      });
        },
        backToResults() {
            this.$router.push({ name: 'test.results' });
        },

        finishReject() {
            this.finishConfirmVisible = false;
        },

        async timeEnded() {
            await this.getQuestionsAttempt(this.$route.params.attempt_id);
        },
    },
}
</script>
<style>
    .page-item.send .page-link {
        background-color: #929fbb8c;
    }
</style>
