<!-- Bashinsky --> 
<template>
    <popup :caption="'Добавление оценочной шкалы'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label
                                    class="title gray"
                                    for="point_count"
                                >Колличество баллов</label>
                                <input
                                    v-model.number="grade"
                                    value="scale.grade"
                                    type="number"
                                    class="form-control"
                                    :class="(`scales.${index}.grade` in errors) ? 'is-invalid' : ''"
                                    required
                                />
                                <valid-sign
                                    :name="`scales.${index}.grade`"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col">
                                <label
                                    class="title gray"
                                    for="point_count"
                                >Начало диапазона для оценки</label>
                                <input
                                    v-model.number="start_score"
                                    value="scale.start_score"
                                    type="number"
                                    class="form-control"
                                    :class="(`scales.${index}.start_score` in errors) ? 'is-invalid' : ''"
                                    required
                                />
                                <valid-sign
                                    :name="`scales.${index}.start_score`"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col">
                                <label
                                    class="title gray"
                                    for="point_count"
                                >Конец диапазона для оценки</label>
                                <input
                                    v-model.number="end_score"
                                    value="scale.end_score"
                                    type="number"
                                    class="form-control"
                                    :class="(`scales.${index}.end_score` in errors) ? 'is-invalid' : ''"
                                    required
                                />
                                <valid-sign
                                    :name="`scales.${index}.end_score`"
                                    :invalid="errors"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <SuccessError class="mt-18" :show="{success, not_success}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update">
                Задать
            </button>
        </template>
    </popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
const test = createNamespacedHelpers('test');

import Popup from "@base/components/base/Popup";
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: 'scalesPopup',
    props: {
        index: {
            type: Number,
            default: 0,
        },
        scale: {
            type: Object,
            default: () => ({}),
        },
        errorScale: {
            type: Object,
            default: () => ({}),
        },
    },
    mixins: [mixSuccess],
    components: {
        Popup,
        SuccessError,
        validSign,
    },
    data() {
        return {
            numberOfGradation: 0,
            grade: this.scale.grade,
            start_score: this.scale.start_score,
            end_score: this.scale.end_score,
            errors: {},
        }
    },
    methods: {
        ...test.mapActions({
            getScales: 'GET_SCALES',
            updateScales: 'UPDATE_SCALES',
        }),
        closePopup() {
            this.$emit('closePopup');
        },
        
        update() {
            this.updateScales({
                ...{ index: this.index, value: { grade: this.grade, start_score: this.start_score, end_score: this.end_score }}, 
                ...{ test_id: this.$route.params.test_id }
                })
                .then(() => { this.mixShow('success'); })
                .catch( error => {
                    this.errors = error.errors;
                    this.mixShow('error');
                });
        },
    },
    computed: {
    
    }

}
</script>