<!-- Bashinsky --> 
<template>
    <div class="database ml-auto mr-auto pt-30 pb-30">
        <div class="row mb-10">
            <div class="col d-flex mb-16">
                <button
                    class="btn ml-auto"
                    @click="visibleChangeTestSettingsPopup = true"
                >
                    Изменить настройки теста
                </button>
            </div>
        </div>

        <table class="table" v-if="test[0]">
            <thead>
                <caption>Вопросы</caption>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Тип
                    </th>
                    <th>
                        Баллы
                    </th>
                    <th>
                        Вопрос
                    </th>

                    <th>
                        Создан
                    <th>
                        Последнее изменение
                    </th>
                    <th>
                        Действия
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(ruleTestQuestion, id) in test[0].questions" :key="id">
                    <td>
                        {{ ruleTestQuestion.id }}
                    </td>
                    <td>
                        {{ types[ruleTestQuestion.type_rule] }}
                        <div v-if="ruleTestQuestion.props.rand">
                            Кол-во: {{ ruleTestQuestion.props.rand ? ruleTestQuestion.props.rand : '' }}
                        </div>
                    </td>
                    <td>
                        {{ ruleTestQuestion.props.point_count }}
                    </td>
                    <td>
                        <div
                            style="max-height: 60px; overflow: auto"
                            v-html="ruleTestQuestion.model.name"
                        >

                        </div>
                    </td>
                    <td>
                        {{ ruleTestQuestion.created_at }}
                    </td>
                    <td>
                        {{ ruleTestQuestion.updated_at }}
                    </td>
                    <td v-if="true">
                        <button
                            class="btn btn-red"
                            @click="deleteQuestion({question_id: ruleTestQuestion.id, quiz_id: test[0].id})"
                        >
                            Удалить
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="7">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <a
                                        class="btn btn-create"
                                        @click="visibleAddingQuestionPopup = true"
                                    >Добавить вопросы в тест</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <addingQuestionPopup
            v-if="visibleAddingQuestionPopup"
            :treeBank="treeBank"
            :test_id="parseInt($route.params.test_id)"
            @closePopup="closePopup"
        />

        <test-update
            :show="update_setting_popup_show"
            :test="testModel"
            @closePopup="update_setting_popup_close"
        />
        <changeTestSettings
            v-if="visibleChangeTestSettingsPopup"
            @closePopup="closePopupTestSettings"
        />
    </div>
</template>

<script>
    import deepClone from 'clonedeep';
    import { createNamespacedHelpers} from 'vuex';
    const test = createNamespacedHelpers('test');

    import testUpdate from "./manage/testUpdate";
    import changeTestSettings from './changeTestSettings';
    import addingQuestionPopup from './addingQuestionPopup';

export default {
    name: "TestSettings",

    components: {
        addingQuestionPopup,
        testUpdate,
        changeTestSettings,
    },

    props: {
    },
    watch: {

    },
    data() {
        return {
            testModel:{},
            update_setting_popup_show: false,
            types: {
                'specific-question': 'Конкретный вопрос',
                'all-questions-from-bank': 'Все вопросы из банка',
                'random-questions-from-bank': 'Рандомные вопросы из банка',
            },
            visibleAddingQuestionPopup: false,
            visibleChangeTestSettingsPopup: false,
        }
    },
    async created() {
        await this.getBank({ course_id:  this.$route.params.course, 'with[]': 'tree-childs' });
        await this.getTest({ id: Number(this.$route.params.test_id) });
    },
    computed: {
        ...test.mapGetters({
            test: 'TEST',
            treeBank: 'TREE_BANK',
        }),
    },
    methods: {
        update_setting_popup(){
            this.testModel = deepClone(this.test[0].model);
            this.update_setting_popup_show = true;
        },
        async update_setting_popup_close(data){
            this.update_setting_popup_show = false;
            if (data.update){
                await this.getTest({ id: Number(this.$route.params.test_id) });
            }
        },
        ...test.mapActions({
            getTest: 'GET_TEST',
            getBank: 'GET_BANK',
            removeQuestionRule: 'REMOVE_QUESTION_RULE',
        }),
        async closePopup(){
            this.visibleAddingQuestionPopup = false;
            await this.getTest({ id: Number(this.$route.params.test_id) });
        },
        async closePopupTestSettings() {
            this.visibleChangeTestSettingsPopup = false;
            await this.getTest({ id: Number(this.$route.params.test_id) });
        },
        async deleteQuestion(payload) {
            try {
                await this.removeQuestionRule(payload);
            } catch(e) {
                this.makeToast(e.response)
            }
        },
        makeToast(message) {
            this.$bvToast.toast(`Что-то пошло не так, попробуйте позже`, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: 'Ошибка!',
                variant: 'danger',
                appendToast: true,
            })
        }
    },

}
</script>
