<!-- Bashinsky --> 
<template>
<div>
    <main
        class="questions"
    >
        <div
            class="pt-3 pb-4"
            v-if="(attemptStatus == 'ACTIVE' || attemptStatus != 'ACTIVE' && (test[0] && !test[0].params.denied_see_attempt))"
        >
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        {{ commonQuestionName }}
                    </div>
                    <div class="fs-20 pt-2 pb-2" v-html="commonQuestionDescription" />
                    <div v-if="commonQuestionFiles && commonQuestionFiles.length">
                        <span class="title gray">Дополнительные материалы</span>
                        <div class="row no-gutters pt-3 pb-3">
                            <div v-for="(file, key) in commonQuestionFiles" :key="key" class="file">
                                <a
                                    target="_blank"
                                    :href="file.full_url"
                                >
                                    {{ file.name }}.{{file.extension}}
                                </a> <b>{{ file.size | filesize }}</b>
                                <!--<i aria-hidden="true" class="fa fa-trash-o pointer"></i>-->
                            </div>
                        </div>
                    </div>

                    <div v-if="commonQuestionAudio" class="row pb-2">
                        <customAudio v-for="(element, key) in commonQuestionAudio"
                                     :key="key"
                                     :element="element"
                                     :deletable="false"
                                     class="col-lg-4" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <variant-answer :disabled="resultChangeDisabled" :caption="variantAnswerCaption" @submit="answerTheQuestion">
                        <template v-slot:variantAnswers>
                            <div v-if="typeCurrentQuestion === 'relation'">

                                <relation :answers_front="answersFront[0] || []"
                                          :list-el="answersFront[1] || []"
                                          :disabled="resultChangeDisabled"
                                          v-model="theAnswerToTheQuestion" />

                            </div>
                            <div v-else-if="typeCurrentQuestion === 'many-choose'">
                                <choose v-for="(el, id) in questionAnswers" :key="id"
                                        v-model="theAnswerToTheQuestion"
                                        :question_answer="el"
                                        :model_id="$store.state.test.questionAnswer[testPaginate.currentPage]"
                                        :disabled="resultChangeDisabled"
                                        :correct="$store.state.test.currentCorrectQuestion.includes(el.id) ? el.id : 0"></choose>
                            </div>
                            <div v-else-if="typeCurrentQuestion === 'one-choose'">
                                <choose v-for="(el, id) in questionAnswers"
                                        :key="id"
                                        v-model="theAnswerToTheQuestion"
                                        :question_answer="el"
                                        :type-el="'radio'"
                                        :radio_model_id="$store.state.test.questionAnswer[testPaginate.currentPage]"
                                        :disabled="resultChangeDisabled"
                                        :correct=" $store.state.test.currentCorrectQuestion.includes(el.id) ? el.id : 0"></choose>
                            </div>
                            <div v-else-if="typeCurrentQuestion === 'text'">
<!--                                <div>-->
<!--                                    <textarea-->
<!--                                        v-model="textAnswer"-->
<!--                                        class="form-control mb-3"-->
<!--                                        rows="6"-->
<!--                                        :disabled="resultChangeDisabled"-->
<!--                                        @blur="changeTextAnswer"-->
<!--                                    />-->
<!--                                </div>-->
                                <text-files-audio
                                    :currentQuestion="currentQuestion"
                                    v-model="textFilesAudioAnswer"
                                    :new_audios="new_audios"
                                    :new_files="new_files"
                                    :resultChangeDisabled="resultChangeDisabled"
                                    @changeTextAnswer="changeTextAnswer"
                                    :testPaginate="testPaginate"
                                />
                            </div>

                            <div v-else-if="typeCurrentQuestion === 'sequence' || typeCurrentQuestion === 'position'">
                                <draggable v-model="theAnswerToTheQuestion"
                                           :disabled="resultChangeDisabled"
                                           class="list-group"
                                           ghost-class="ghost"
                                           @start="dragging = true"
                                           @end="dragging = false">
                                    <sequence v-for="(el, id) in theAnswerToTheQuestion"
                                              :key="id"
                                              :answer="el"
                                              :correct="($store.state.test.currentCorrectQuestion[id] && ($store.state.test.currentCorrectQuestion[id] === el.id)) ? 'correct' : ''">
                                    </sequence>
                                </draggable>
                            </div>
                        </template>
                        <template v-if="visibleScore" v-slot:score>
                            <div class="row">
                                <div class="col d-flex align-items-center">
                                    <div class="ml-auto d-flex justify-items-center align-items-center">
                                        <span class="pr-2">Полученный балл за вопрос:</span>
                                        <div :class="'score__rating score__rating--good'">
                                            {{ currentGrade.score }}
                                        </div>
                                    </div>

                                    <span class="pl-2 pr-2">из</span>
                                    <div :class="'score__rating score__rating--good mr-auto'">
                                        {{ currentGrade.point_count }}
                                    </div>
                                </div>
                            </div>
                        </template>
                    </variant-answer>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6 pb-2 m-auto">
                    <SuccessError :show="{ not_success, success }" />
                </div>
            </div>
        </div>
        <div
            v-else
            class="d-flex mt-4"
        >
            <div
                class="m-auto"
            >
                <h3 v-if="test[0] && test[0].params.denied_see_attempt && attemptStatus">Просмотр попытки запрещен</h3>
                <h3 v-else>Загрузка</h3>
            </div>
        </div>
    </main>
</div>
</template>

<script>
import Choose from '@base/components/course/test/testComponent/Choose';
import Relation from '@base/components/course/test/testComponent/Relation';
import Sequence from '@base/components//course/test/testComponent/Sequence';
import VariantAnswer from '@base/components/course/test/testComponent/VariantAnswer';
import {
    answer,
    answerTextAudiosFiles
} from '@base/api/test/test-attempt';
import Draggable from 'vuedraggable';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import customAudio from '@base/components/base/customAudio';
import deepClone from 'clonedeep';
import {
    createNamespacedHelpers
} from 'vuex';
import EndTest from './testComponent/EndTest.vue';
import TextFilesAudio from './testComponent/TextFilesAudio';
const test = createNamespacedHelpers('test');
export default {
    name: 'TestAttempt',
    components: {
        TextFilesAudio,
        Choose,
        Relation,
        Sequence,
        VariantAnswer,
        Draggable,
        SuccessError,
        EndTest,
        customAudio,
    },
    mixins: [Proccess],
    props: {
        test: {
            type: Array | Object,
            default: []
        },
        testPaginate: {
            type: Object,
            default: () => ({}),
        },
        finishAttemptId: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            questions: {},
            answers: {},
            choose: [],
            title: {
                'many-choose': 'Выберите несколько вариантов ответа:',
                'one-choose': 'Выберите один вариант ответа:',
                relation: 'Определите соответствие перетаскивая элементы в правом столбце:',
                sequence: 'Определите правильную последовательность:',
                position: 'Определите правильное расположение:',
                text: '',
            },
            answer: {},
            relationAnswer: [],
            newValue: [],
            new_audios: [],
            new_files: [],
        };
    },
    watch: {
        'currentQuestion.id': function (val) {
            if (this.attempt.status == 'ACTIVE') {
                this.getQurrentQuestion();
            }
        },
        'testPaginate.currentPage': function (val) {
            this.changeCurrentQuestion(val - 1);
            this.relationAnswer = this.questionAnswer[this.testPaginate.currentPage];
        },
        relationAnswer(val) {
            this.changeRelationAnswerEl({
                id: this.testPaginate.currentPage,
                value: val
            });
        },
        'textFilesAudioAnswer.text': function (val) {
            this.changeOneChoose(val);
        }
    },
    methods: {
        ...test.mapActions({
            getQuestionsAttempt: 'GET_QUESTIONS_ATTEMPT',
            changeCurrentQuestion: 'CHANGE_CURRENT_QUESTION',
            getQurrentQuestion: 'GET_CURRENT_QUESTION',
        }),
        ...test.mapMutations({
            changePositionQuestion: 'SET_CHANGED_POSITION_QUESTION',
            setQuestion: 'SET_QUESTION_ANSWER',
            addAnswerEl: 'ADD_ANSWER_EL',
            deleteAnswerEl: 'DELETE_ANSWER_EL',
            addOneChooseAnswerEl: 'ADD_ONE_CHOOSE_ANSWER_EL',
            addTextAudioFilesEl: 'ADD_TEXT_AUDIO_FILES_EL',
            changeRelationAnswerEl: 'CHANGE_RELATION_ANSWER_EL',
        }),
        answerTextRequest() {
            answerTextAudiosFiles(this.currentQuestion.id, {
                text: (this.textFilesAudioAnswer.text) ? this.textFilesAudioAnswer.text : '',
                audio: this.new_audios,
                files: this.new_files,
            }).then((response) => {
                this.new_audios = [];
                this.new_files = [];


                this.addTextAudioFilesEl({
                    id: this.testPaginate.currentPage,
                    value: response.data.data.answer
                });

                this.makeToast({
                    title: 'Отправлено',
                    description: 'Поздравляем, вы ответили на вопрос',
                    variant: 'success'
                });
                if (this.$store.state.test.front_result && this.$store.state.test.front_result.result[(this.testPaginate.currentPage - 1)]) {
                    this.$store.state.test.front_result.result[(this.testPaginate.currentPage - 1)].count_change++;
                }
            }).catch((error) => {
                let msg = '';
                if (error.response) {
                    msg = error.response?.data.errors.answer.join(' ');
                } else {
                    msg = 'Отсутствует подключение к сети';
                }
                this.makeToast({
                    title: 'Ошибка',
                    description: msg,
                    variant: 'danger'
                });
            });
        },
        answerRequest(val) {
            answer(this.currentQuestion.id, val)
                .then(() => {
                    this.makeToast({
                        title: 'Отправлено',
                        description: 'Поздравляем, вы ответили на вопрос',
                        variant: 'success'
                    });
                    if (this.$store.state.test.front_result && this.$store.state.test.front_result.result[(this.testPaginate.currentPage - 1)]) {
                        this.$store.state.test.front_result.result[(this.testPaginate.currentPage - 1)].count_change++;
                    }
                })
                .catch((error) => {
                    let msg = '';
                    if (error.response) {
                        msg = error.response?.data.errors.answer.join(' ');
                    } else {
                        msg = 'Отсутствует подключение к сети';
                    }
                    this.makeToast({
                        title: 'Ошибка',
                        description: msg,
                        variant: 'danger'
                    });
                });
        },
        changeManyChoose(payload) {
            if (payload.action === 'add') {
                this.addAnswerEl({
                    id: this.testPaginate.currentPage,
                    value: payload.id
                });
            } else if (action === 'delete') {
                this.deleteAnswerEl({
                    id: this.testPaginate.currentPage,
                    value: id
                });
            }
        },
        changeTextAudioFiles() {
            console.log('changeTextAudioFiles', this.textFilesAudioAnswer);
            this.addTextAudioFilesEl({
                id: this.testPaginate.currentPage,
                value: this.textFilesAudioAnswer
            });
        },
        changeOneChoose(val) {
            this.addOneChooseAnswerEl({
                id: this.testPaginate.currentPage,
                value: val
            });
        },
        changeTextAnswer() {
            this.changeTextAudioFiles();
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            });
        },
        answerTheQuestion() {
            if (this.typeCurrentQuestion === 'sequence' || this.typeCurrentQuestion === 'position') {
                this.answerRequest(this.theAnswerToTheQuestion.map((el) => el.id));
            } else {
                if (this.currentQuestion.common_question.question_type.system_name === 'text') {
                    this.answerTextRequest();
                } else {
                    this.answerRequest(this.$store.state.test.questionAnswer[this.testPaginate.currentPage]);
                }
            }
        },
        getAnswerPositionRelation() {
            let positionAnswer = JSON.parse(JSON.stringify(this.$store.state.test.questionsAttempt[this.testPaginate.currentPage - 1].common_question.question_answers));
            if (this.questionAnswer[this.testPaginate.currentPage] && Array.isArray(this.questionAnswer[this.testPaginate.currentPage])) {
                positionAnswer = this.questionAnswer[this.testPaginate.currentPage].map((el1) => positionAnswer.find((el2) => el1 === el2.id));
            }
            return JSON.parse(JSON.stringify(positionAnswer));
        },
    },
    computed: {
        ...test.mapGetters({
            //test: 'TEST',
            attempt: 'ATTEMPT',
            questionsAttempt: 'QUESTIONS_ATTEMPT',
            currentQuestion: 'CURRENT_QUESTION_ATTEMPT',
            questionAnswer: 'QUESTION_ANSWER',
            questionAnswerAudio: 'QUESTION_ANSWER_AUDIO',
            currentGrade: 'CURRENT_GRADE'
        }),
        front_result() {
            return this.$store.state.test.front_result;
        },
        commonQuestionDescription() {
            return this.currentQuestion?.common_question?.description || '';
        },
        commonQuestionName() {
          return this.currentQuestion?.common_question?.name || '';
        },
        commonQuestionFiles() {
            return this.currentQuestion?.common_question?.files || [];
        },
        commonQuestionAudio() {
            return this.currentQuestion?.common_question?.audio || [];
        },
        typeCurrentQuestion() {
            return this.currentQuestion.common_question?.question_type?.system_name || '';
        },
        answersFront() {
            return this.currentQuestion.common_question?.answers_front || [];
        },
        questionAnswers() {
          return this.currentQuestion.common_question?.question_answers || [];
        },
        attemptStatus() {
            return this.$store.state.test?.currentAttempt?.status;
        },
        quizType() {
            return this.$store.state.test.currentAttempt?.quiz?.type;
        },

        theAnswerToTheQuestion: {
            get() {
                if (this.typeCurrentQuestion === 'sequence' || this.typeCurrentQuestion === 'position') {
                    return this.getAnswerPositionRelation();
                }
                return this.$store.state.test.questionAnswer[this.testPaginate.currentPage];
            },
            set(val) {
                switch (this.typeCurrentQuestion) {
                case 'many-choose':
                    this.changeManyChoose(val);
                    break;
                case 'one-choose':
                    this.changeOneChoose(val);
                    break;
                case 'text':
                    this.changeOneChoose(val);
                    break;
                case 'relation':
                    this.changeRelationAnswerEl({ id: this.testPaginate.currentPage, value: val });
                    break;
                case 'sequence':
                case 'position':
                    this.changePositionQuestion({ id: this.testPaginate.currentPage, value: val });
                    this.setQuestion({ [this.testPaginate.currentPage]: val.map((el) => el.id) });
                    break;
                }
            }
        },

        textFilesAudioAnswer: {
            get() {
                let data = {
                    text: this.$store.state.test.questionAnswer[this.testPaginate.currentPage],
                    files: this.$store.state.test.questionAnswerFiles[this.testPaginate.currentPage],
                    audios: this.$store.state.test.questionAnswerAudio[this.testPaginate.currentPage],
                };
                return data;
            },
        },
        textAnswer: {
            get() {
                return this.$store.state.test.questionAnswer[this.testPaginate.currentPage];
            },
            set(val) {
                this.changeOneChoose(val);
            },
        },
        waitingCalc() {
            return (this.attemptStatus !== undefined && (this.attemptStatus === 'WAITING_CALC' ||
                this.attemptStatus === 'PENDING'
            ));
        },
        showResult() {
            return (this.$store.state.test.settings.see_result_questions &&
                (this.attemptStatus === 'SUCCESS' ||
                    this.attemptStatus === 'FAILED'));
        },
        resultChangeDisabled() {
            return (this.attemptStatus !== 'ACTIVE');
        },
        variantAnswerCaption() {
            return this.title[this.typeCurrentQuestion];
        },
        visibleScore() {
            if (this.$store.state.test.currentAttempt.quiz) return ((this.quizType === 'test') && (this.attemptStatus === 'SUCCESS') || (this.attemptStatus === 'FAILED'));
            return false;
        },
    },
    async created() {
        if (this.testPaginate.currentPage != 1)
            this.testPaginate.currentPage = 1;
        await this.getQuestionsAttempt(this.$route.params.attempt_id);
        await this.changeCurrentQuestion(this.testPaginate.currentPage - 1);
        this.relationAnswer = this.questionAnswer[this.testPaginate.currentPage];
        this.$emit('createComponent');
    },
};
</script>
