<!-- Bashinsky --> 
<template>
    <div class="database ml-auto mr-auto col-lg-8 pt-30 pb-30">
        <table class="table">
            <thead>
                <tr>
                    <th class="title gray vertical-align-middle">
                    Оценка
                    <span class="arrow asc"></span></th>
                    <th class="title gray vertical-align-middle">
                    Начало диапазона для оценки 
                    <span class="arrow asc"></span></th>
                    <th class="title gray vertical-align-middle">
                    Конец диапазона для оценки
                    <span class="arrow asc"></span></th>
                    <th v-if="$attrs.permission && $attrs.permission.teaching" class="title gray vertical-align-middle">
                    Действие
                    <span class="arrow asc"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(scale, id) in scales" :key="id">
                    <td class="vertical-align-middle">
                        {{ scale.grade }}
                    <span class="arrow asc"></span></td>

                    <td class="vertical-align-middle">
                        {{ scale.start_score }}
                    <span class="arrow asc"></span></td>

                    <td class="vertical-align-middle">
                        {{ scale.end_score }}
                    </td>

                    <td v-if="$attrs.permission && $attrs.permission.teaching">
                        <i class="fa fa-pencil" aria-hidden="true" @click="openPopupScale(id, scale)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <scales-popup v-if="visiblePopupScale" 
                        :index="currentScale.id" 
                        :scale="currentScale.scale"
                        :errorScale="{ not_success, success }"
                        @closePopup="closePopupScale" />
    </div>
</template>

<script>
import scalesPopup from "./scalesPopup";
import { createNamespacedHelpers } from 'vuex';
const test = createNamespacedHelpers('test');
import Proccess from '@base/components/inc/mixin/Proccess.vue';

export default {
    name: 'TestCustomScales',
    data() {
        return {
            visiblePopupScale: false,
            currentScale: {
                id: 0,
                scale: {},
                errorScale: {},
            },
        }
    },
    mixins: [Proccess],
    components: {
       scalesPopup,
    },
    methods: {
        ...test.mapActions({
            getScales: 'GET_SCALES',
            updateScales: 'UPDATE_SCALES',
        }),
        closePopupScale() {
            this.currentScale.id = 0;
            this.currentScale.scale = {};
            this.visiblePopupScale = false;
        },
        openPopupScale(id, scale) {
            this.currentScale.id = id;
            this.currentScale.scale = scale;
            this.visiblePopupScale = true;
        },
    },
    computed: {
        scales() {
            return this.$store.state.test.scales;
        },
    },
    created() {
        this.getScales({ id: this.$route.params.test_id });
    },
}
</script>