<!-- Bashinsky --> 
<template>
<div class="database py-3">
    <table class="table table-adaptive" v-if="test[0]">
        <thead>
            <caption>Попытки</caption>
            <tr>
                <th>
                    №
                    <span class="arrow asc"></span>
                </th>
                <th v-if="permissions.teaching">
                    Фамилия
                </th>
                <th v-if="permissions.teaching">
                    Имя
                </th>
                <th>
                    Время начала
                </th>
                <th>
                    Время завершения
                </th>
                <th>
                    Баллы
                </th>
                <th>
                    Статус
                </th>
                <th
                    v-if="test[0].params.municipal_tutor_attach_question_result"
                >
                    Оценочные листы
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(result, id) in resultAttemptUser.data" :key="id">
                <td data-label="№">
                    {{ result.id }}

                </td>

                <td data-label="Фамилия" v-if="permissions.teaching">
                    {{ result.user ? result.user.lastname : '' }}
                </td>

                <td data-label="Имя" v-if="permissions.teaching">
                    {{ result.user ? result.user.firstname : '' }}
                </td>

                <td data-label="Время начала">
                    {{ result.start_time }}
                </td>
                <td data-label="Время завершения">
                    {{ result.finished_at }}
                </td>
                <td data-label="№">
                    {{ result.attempt_result ? result.attempt_result.score : '-'}}
                    из
                    {{ test[0].max_score }}
                </td>

                <td data-label="Баллы">
                    <div
                        v-if="result.start_time"
                    >
                        {{ result_statuses[result.status] }}
                    </div>
                    <div
                        v-else
                    >
                        Ожидает начала
                    </div>
                </td>
                <td
                    v-if="test[0].params.municipal_tutor_attach_question_result"
                >
                    <div
                        v-for="file in result.files"
                    >
                        <a
                            target="_blank"
                            :href="file.full_url"
                        >
                            {{ file.file_name }} <i class="fa fa-eye"/>
                        </a>
                    </div>
                </td>
                <td data-label="Статус">
                    <router-link
                        v-if="result.start_time === null" :to="{ name: 'test.attempt', params: { attempt_id: result.id }}" class="btn badge-danger"
                        v-b-tooltip="'После нажатия пойдет отсчёт времени отведенный на попытку!'"
                    >
                        Начать
                    </router-link>
                    <router-link v-else-if="result.status === 'ACTIVE' || result.start_time === null" :to="{ name: 'test.attempt', params: { attempt_id: result.id }}" class="btn badge-danger">
                        Продолжить
                    </router-link>
                    <button class="btn btn-red" v-else-if="canRate(result)" @click="checkingPopup(result.id)">
                        Оценить
                    </button>
                    <span v-else>
                        <!-- если в denied_see_attempt стоит true не давать перейти на просмотр попытки  -->
                        <router-link
                            v-if="!test[0].params.denied_see_attempt"
                            :to="{ name: 'test.attempt', params: { attempt_id: result.id }}" class="btn badge-danger fa fa-eye"
                        >

                        </router-link>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" v-if="!$attrs.permission || !$attrs.permission.teaching">
        <div class="col-lg-2">
            <div>
                <a class="btn btn-danger" @click="start" v-b-tooltip="'После нажатия пойдет отсчёт времени отведенного на попытку!'">Начать тест</a>
            </div>
        </div>
        <div class="col m-auto">
            <b-pagination v-if="resultAttemptUser.paginate" aria-controls="my-table" align="center" class="m-auto" v-model="currentPage" :total-rows="resultAttemptUser.paginate.total" :per-page="resultAttemptUser.paginate.per_page"></b-pagination>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="row pt-10">
        <div class="col-lg-8 pb-16 m-auto">
            <SuccessError :show="{ not_success, success }">
            </SuccessError>
        </div>
    </div>

    <checking-popup v-if="visibleCheckingPopup" :currentResultAttempt="currentResultAttempt" @closePopup="closePopup" />
    <test-password-popup v-if="visiblePopupPassword" @start="startRequest" @closePopup="closePasswordPopup" />

</div>
</template>

<script>
import {
    mapGetters,
    createNamespacedHelpers
} from 'vuex';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import CheckingPopup from './CheckingAnswerPopup.vue';
import testPasswordPopup from './manage/testPasswordPopup';

const test = createNamespacedHelpers('test');
const organization = createNamespacedHelpers('organization');

export default {
    data() {
        return {
            result_statuses: {
                'SUCCESS': 'Оценен',
                'PENDING': 'Ожидает оценки',
                'FAILED': 'Не пройден',
                'WAITING_CALC': 'Расчитывается',
                'ACTIVE': 'Прохождение',
            },
            attemptsResult: {},
            visibleCheckingPopup: false,
            currentResultAttempt: 0,
            visiblePopupPassword: false,
            currentPage: 1,
            paginate: 1,
            qty: 5,
            test_password: null
        }
    },
    components: {
        SuccessError,
        CheckingPopup,
        testPasswordPopup,
    },
    mixins: [Proccess],
    computed: {
        ...mapGetters({
            auth: 'auth'
        }),
        ...test.mapGetters({
            test: 'TEST',
            attempt: 'ATTEMPT',
            resultAttemptUser: 'RESULTS_ATTEMPT_USER',
        }),
        ...organization.mapGetters({
            permissions: 'PERMISSIONS',
        }),
    },
    watch: {
        currentPage(val) {
            if (this.permissions && this.permissions.teaching) {
                this.getResultAttemptUser({
                    quiz_id: this.$route.params.test_id,
                    with: ['user'],
                    paginated: 1,
                    page: val,
                    qty: this.qty
                });
            } else {
                this.getResultAttemptUser({
                    quiz_id: this.$route.params.test_id,
                    user_id: this.auth.id,
                    paginated: 1,
                    page: val,
                    qty: this.qty
                });
            }
        },
        async auth() {
            //await this.getResultAttemptUser({ quiz_id: this.$route.params.test_id, user_id: this.auth.id });
        },
        test() {
            if (this.test[0].model_type === "App\\Models\\Organization") {
                this.getOrganization({
                    id: this.test[0].model_id
                })
            }
        }
    },
    methods: {
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
        }),
        ...test.mapActions({
            startTest: 'START_TEST',
            getResultAttemptUser: 'GET_RESULTS_ATTEMPT_USER',
        }),
        start() {
            if (this.$store.state.test.test[0].protected === true) {
                this.visiblePopupPassword = true;
            } else {
                this.startRequest({});
            }
        },

        async startRequest(payload) {
            try {
                await this.startTest(payload);
                this.$router.push({
                    name: 'test.attempt',
                    params: {
                        attempt_id: this.attempt.id
                    }
                })
            } catch (e) {
                this.makeToast({
                    title: 'Ошибка',
                    description: e.quizzes,
                    variant: 'danger'
                });
            }
        },

        canRate(result) {
            return (this.permissions.teaching && result.attempt_result && result.attempt_result.status === 'PENDING')
        },
        checkingPopup(id) {
            this.currentResultAttempt = id;
            this.visibleCheckingPopup = true;
        },
        closePopup(val) {
            if (val) {
                this.getResultAttemptUser({
                    quiz_id: this.$route.params.test_id,
                    with: ['user']
                });
            }
            this.visibleCheckingPopup = false;
        },
        closePasswordPopup() {
            this.visiblePopupPassword = false;
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            })
        }
    },
    created() {
        if (this.permissions && this.permissions.teaching) {
            this.getResultAttemptUser({
                quiz_id: this.$route.params.test_id,
                with: ['user'],
                page: this.currentPage,
                qty: this.qty
            });
        } else {
            this.getResultAttemptUser({
                quiz_id: this.$route.params.test_id,
                user_id: this.auth.id,
                with: ['indicatorLevels'],
                page: this.currentPage,
                qty: this.qty
            });
        }
    }

}
</script>
