<!-- Bashinsky --> 
<template>
    <nav
        class="nav red flex-row flex-nowrap justify-content-xxl-center mt-25"
    >
        <li
            class="nav-item"
        >
            <router-link
                class="nav-link"
                :class="[($route.name === 'org.edu.course.test.results') && 'router-link-exact-active router-link-active']"
                :to="{ name: 'org.edu.course.test.results'}"

            >
                Результаты
            </router-link>
        </li>
        <li
            class="nav-item"
        >
            <router-link
                class="nav-link"
                :class="[($route.name === 'org.edu.course.test.settings') && 'router-link-exact-active router-link-active']"
                :to="{ name: 'org.edu.course.test.settings'}"

            >
            Настройки
            </router-link>
        </li>
        <li
            class="nav-item"
        >
            <router-link
                class="nav-link"
                :class="[($route.name === 'org.edu.course.test.scales') && 'router-link-exact-active router-link-active']"
                :to="{ name: 'org.edu.course.test.scales'}"

            >
            Оценочная шкала
            </router-link>
        </li>
    </nav>
</template>

<script>
export default {
    name: 'TestNavigation',
    data() {
        return {

        }
    }
}
</script>
