<!-- Bashinsky --> 
<template>
    <div

    >
        <div class="head-test">
            <div class="container pb-3">
                <div class="row no-gutters align-items-center ">
                    <div class="col-lg-6">
                        <span
                            class="fs-24 text-color-white">
                            {{ caption.description }}
                        </span>
                        <br>
                        <router-link
                            v-if="$route.name != 'test.results'"
                            class="btn btn-sm btn-light"
                            :to="{ name: 'test.results', test_id: test.id }"
                        >
                            назад
                        </router-link>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <slot name="action" action="action">
                        </slot>
                        <slot name="availability" action="action">
                        </slot>
                    </div>
                </div>
            </div>
        </div>
        <!-- если в test.params.denied_see_attempt стоит true не показывать пагинацию  -->
        <div class="container pt-3">
            <div
                class="row"
                v-if="(test && test.params && !test.params.denied_see_attempt) || $store.state.test.currentAttempt.status == 'ACTIVE'"
            >
                <div class="col-lg-12">
                    <slot name="navigation">
                    </slot>
                    <slot name="bottom" :testAttemptPagination="testAttemptPagination">
                    </slot>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
export default {
    name: 'testHeader',
    props: {
        caption: {
            type: Object,
            default: () => ({
                label: '',
                description: '',
            }),
        },
        testAttemptPagination: {
            type: Object,
            default: () => ({}),
        },
        test: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {

        }
    },
    methods: {
        action() {
            this.$emit('action');
        }
    },
}
</script>
<style>
.dropdown-menu {
    z-index: 1030;
}
</style>
