<!-- Bashinsky --> 
<template>
    <popup :caption="caption[block.type]" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <div class="row mb-20 align-items-center">
                            <div class="col-2">
                                <label>Позиция</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    v-model="htmlBlock.position"
                                />
                                <b-form-checkbox
                                    v-model="htmlBlock.show"
                                    class="mt-2"
                                    switch
                                >
                                    Показать блок
                                </b-form-checkbox>
                            </div>
                        </div>

                        <div v-if="block.type === type.SLIDER && htmlBlock.structure">
                            <div class="row mt-2 align-items-end" v-for="(el, id) in Object.keys(htmlBlock.structure)" :key="id">
                                <div class="col-lg-7 ml-auto mr-auto">
                                    <label
                                        class="title gray"
                                        for="point_count"
                                    >Текст {{ el }} слайда</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        v-model="htmlBlock.structure[el].text"
                                    />
                                </div>
                                <div class="col-lg-3 ml-auto mr-auto">
                                    <label
                                        class="title gray"
                                        for="point_count"
                                    >Изображение {{ el }} слайда</label>
                                    <input
                                        class="form-control"
                                        ref="slide"
                                        type="file"
                                        @change="handleFileUpload(el)"
                                    />
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-delete">Удалить</button>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.MENU && htmlBlock.structure">
                            <div class="row mt-2 align-items-end" v-for="(el, id) in Object.keys(htmlBlock.structure)" :key="id">
                                <div class="col-lg-7 ml-auto mr-auto">
                                    <label
                                        class="title gray"
                                        for="point_count"
                                    >Текст меню</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        v-model="htmlBlock.structure[el].text"
                                    />
                                </div>
                                <div class="col-lg-3 ml-auto mr-auto">
                                    <label
                                        class="title gray"
                                        for="point_count"
                                    >Ссылка</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        v-model="htmlBlock.structure[el].url"
                                    />
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-delete">Удалить</button>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.AUTH && htmlBlock.structure">
                            <div class="row mt-2 align-items-end">
                                <div class="col-lg-7 mr-auto">
                                    <b-form-checkbox
                                        v-model="htmlBlock.structure['test-login']"
                                        class="mt-2"
                                        switch
                                    >
                                        Разрешить тестовый вход
                                    </b-form-checkbox>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.EDU && htmlBlock.structure">
                            <div class="row mt-2 align-items-start">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select
                                                v-model="organizationId"
                                                class="custom-select"
                                                @change="changeOrganization()"
                                            >
                                                <option value="0">
                                                    Выберите организацию
                                                </option>
                                                <option
                                                    v-for="(organization, key) in organizations"
                                                    :key="key"
                                                    :value="organization.id"
                                                >
                                                    {{ organization.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                                <select-card-course-pagination
                                                    :elements="courses"
                                                    @selected="selectCourse"
                                                    name="select_card_paginate"
                                                >
                                                </select-card-course-pagination>
                                                <b-pagination
                                                    v-model="currentPage"
                                                    :total-rows="paginateCourse.total"
                                                    :per-page="paginateCourse.per_page"
                                                    aria-controls="my-table"
                                                ></b-pagination>
                                        </div>
                                        <!--<div class="col-3 mt-20">
                                            <button class="btn btn-create" @click="addCourseStructure()">Добавить блок</button>
                                        </div>-->
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-6"
                                            v-for="(el, id) in selectedCourse"
                                            :key="id"
                                        >

                                                <div class="card-body card-stats mt-2">
                                                    <div class="container">
                                                        <div class="row align-items-center">
                                                            <div class="col-lg-11">
                                                                <h5 class="card-title text-uppercase text-muted mb-0">{{ el.name }}</h5>
                                                            </div>
                                                            <div class="col-lg-1">
                                                            <span class="h2 font-weight-bold" @click="deleteCourse(el.id)">
                                                                <i class="fa fa-trash" aria-hidden="true">
                                                                </i>
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.STATISTIC && htmlBlock.structure">
                            <div class="row mt-2 align-items-start">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <b-form-group label="Статистика:">
                                            <b-form-checkbox-group
                                                v-model="selectedStatisticParameter"
                                                :options="optionStatistic"
                                            ></b-form-checkbox-group>
                                            </b-form-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.HTML">
                            <div class="row mt-2">
                                <div class="col">
                                    <label
                                        class="title gray"
                                        for="point_count"
                                    >Баннер</label>
                                    <textarea v-model="htmlBlock.structure.html" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.BANNERS && htmlBlock.structure">
                            <div class="row mt-2">
                                <div class="col">
                                    <button class="btn btn-create" @click="addStructure({blockType: 'BANNERS', type: 'menu'})">Добавить блок меню</button>
                                </div>
                            </div>
                            <div class="row mt-2 align-items-end" v-for="(el, id) in Object.keys(htmlBlock.structure)" :key="id">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-6 ml-auto mr-auto">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Размер</label>
                                            <select
                                                v-model="htmlBlock.structure[el].size"
                                                class="form-control"
                                                required
                                            >
                                                <option
                                                    v-for="(el, id) in 12"
                                                    :key="id"
                                                    :value="`col-lg-${el}`"
                                                >
                                                    {{ el }}/12
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 ml-auto mr-auto">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Фон</label>
                                            <color-picker
                                                @input="addElementStructure({typeBlock: type.BANNERS, id: el, key: 'background', value: $event.hex8})"
                                                :value="{hex: htmlBlock.structure[el]['background']}"
                                                :palette="[
                                                    '#f00', '#00ff00', '#00ff0055', 'rgb(201, 76, 76)', 'rgba(0,0,255,1)', 'hsl(89, 43%, 51%)', 'hsla(89, 43%, 51%, 0.6)'
                                                ]"
                                            ></color-picker>
                                        </div>
                                    </div>
                                    <div class="row" v-if="htmlBlock.structure[el].type === 'banner'">
                                        <div class="col">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Баннер</label>
                                            <html-editor
                                                type="text"
                                                :content.sync="htmlBlock.structure[el].html"
                                            />
                                        </div>
                                    </div>

                                    <div v-if="htmlBlock.structure[el].type === 'menu'">
                                        <div class="row" v-for="(menuItem, id) in  Object.keys(htmlBlock.structure[el].items)" :key="id">
                                            <div class="col-lg-6 ml-auto mr-auto">
                                                <label
                                                    class="title gray"
                                                    for="point_count"
                                                >Название</label>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    @change="addElementMenuItem({ el: el, menuItem: menuItem, key: 'title', value: $event.target.value })"
                                                    :value="htmlBlock.structure[el].items[menuItem].title"
                                                />
                                            </div>
                                            <div class="col-lg-6 ml-auto mr-auto">
                                                <label
                                                    class="title gray"
                                                    for="point_count"
                                                >URL</label>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    @change="addElementMenuItem({ el: el, menuItem: menuItem, key: 'url', value: $event.target.value })"
                                                    :value="htmlBlock.structure[el].items[menuItem].url"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <button class="btn btn-create" @click="createStructureMenuElement(el)">Добавить элемент меню</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" v-if="htmlBlock.id">
                                <div class="col-lg-6">
                                    <input
                                        ref="filesBlock"
                                        type="file"
                                        multiple
                                        class="form-control btn btn-create"
                                        @change="filesInputChange()"
                                    >
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div
                                    v-if="htmlBlock.data"
                                    class="col-lg-12 row no-gutters"
                                >
                                    <div
                                        v-for="(el, id) in htmlBlock.data"
                                        :key="id"
                                        class="document-item file"
                                    >
                                        <a target="_blank" :href="el.url">
                                            {{ el.id.name }}
                                        </a>
                                        <i
                                            class="fa fa-trash-o pointer"
                                            aria-hidden="true"
                                            @click="deleteEl(el.id.id)"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="block.type === type.HEAD">
                            <div class="row mt-2 align-items-end">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-lg-12 mr-auto">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Заголовок</label>
                                            <html-editor
                                                type="text"
                                                :content.sync="htmlBlock.structure.text"
                                            />
                                        </div>
                                        <div class="col-lg-12 mr-auto">
                                            <label
                                                class="title gray"
                                                for="point_count"
                                            >Label</label>
                                            <textarea v-model="htmlBlock.structure.label" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" v-if="!( block.type === 'AUTH' || block.type === 'HEAD' || block.type === 'EDU' || block.type === 'HTML' || block.type === 'STATISTIC')">
                            <div class="col">
                                <button class="btn btn-create" @click="addStructure({ blockType: block.type })">Добавить блок</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <SuccessError class="mt-2" :show="{success, not_success}" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update">
                Задать
            </button>
        </template>
    </popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
const organization = createNamespacedHelpers('organization');

import { getCategories } from '@base/api/news';
import { getCourses } from '@base/api/courses';

import Popup from "@base/components/base/Popup";
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';
import htmlEditor from '@base/components/base/vueEditor';
import SelectCardCoursePagination from '@base/components/base/SelectCardCoursePagination';

let colors = {
    hex: '#452C4582',
}

import deepClone from 'clonedeep';

import {
        defSliderStructure,
        defMenuStructure,
        defNewsStructure,
        defCourseStructure,
        defBannerStructure,
        defBannerMenuStructure,
        defHtmlStructure,
        defLinkStructure,
        defHeadStructure,
        defBlock,
    } from '@base/inc/defaults/app';

export default {
    name: 'blockPopup',
    props: {
        block: {
            type: Object,
            default: () => {},
        },
        createBlock: {
            type: Promise | Function,
        },
        updateBlock: {
            type: Promise | Function,
        },
        deleteFile: {
            type: Promise | Function,
        },
    },
    mixins: [mixSuccess],
    components: {
        Popup,
        SuccessError,
        validSign,
        htmlEditor,
        SelectCardCoursePagination,
    },
    data() {
        return {
            slider: {
                structure: {

                }
            },
            organizationId: 0,
            visibleSelectProgramPopup: false,
            paginateCourse: {
                currentPage: 1,
            },
            currentCourse: {},
            selectedCourse: [],
            optionStatistic: [
                { text: 'Колличество пользователей', value: 'users'},
                { text: 'Колличество образовательных программ', value: 'education_program'},
                { text: 'Колличество учебных заведений', value: 'education_organization'},
                { text: 'Колличество работников организации', value: 'employer_organization'},
                { text: 'Колличество учителей', value: 'teachers'},
            ],
            selectedStatisticParameter: [],
            colors,
            htmlBlock: deepClone(this.block),
            type: {
                SLIDER: 'SLIDER',
                MENU: 'MENU',
                EDU: 'EDU',
                BANNERS: 'BANNERS',
                HTML: 'HTML',
                STATISTIC: 'STATISTIC',
                HEAD: 'HEAD',
                AUTH: 'AUTH',
            },
            caption: {
                SLIDER: 'Настройка слайдера',
                MENU: 'Настройка меню',
                EDU: 'Настройка блока курсов',
                BANNERS: 'Настройка баннера',
                HTML: 'Настройка HTML блока',
                STATISTIC: 'Настройка блока статистики',
                HEAD: 'Настройка блока шапка',
                AUTH: 'Настройка блока авторизации',
            },
            errors: [],
            courses: [],
            filesBlock: [],
        }
    },
    computed: {
        organizations() {
            return this.$store.state.organization.organizations;
        },
        currentPage: {
            get: function () {
                return this.paginateCourse.current_page;
            },
            set: function (val) {
                this.$set(this.paginateCourse, 'current_page', val);
                this.changeOrganization();
            },
        },
    },
    watch: {
        selectedStatisticParameter() {
            this.htmlBlock.structure['parameters'] = this.selectedStatisticParameter;
        }
    },
    methods: {
        ...organization.mapActions({
            getOrganizations: 'GET_ORGANIZATIONS',
        }),
        async changeOrganization() {
            if (this.organizationId) {
                const response = await getCourses({
                    parents: 0,
                    status: 'active',
                    type: 'course',
                    action: 'get-from-organization',
                    organization_id: this.organizationId,
                    show: 1,
                    page: this.paginateCourse.current_page,
                    qty: 5,
                });
                this.courses = response.data.data.courses.data;

                const noData = ({ data, ...rest }) => rest;
                this.paginateCourse = noData(response.data.data.courses);
            }
        },
        closePopup() {
            this.$emit('closePopup');
        },
        async update() {
            try {
                if (this.htmlBlock.id) {
                    await this.updateBlock(this.htmlBlock)
                } else {
                    await this.createBlock(this.htmlBlock)
                }
                this.mixShow('success');
                setTimeout(() => { this.closePopup(); },3000);
            } catch (e) {
                this.mixShow('error');
            }
        },
        async deleteEl(id) {
            try {
                await this.deleteFile({ file_id: id, page_id: this.block.welcome_page_id, element_id: this.block.id });
                this.htmlBlock.data = this.htmlBlock.data.filter(el => el.id.id !== id);
                this.mixShow('success');
            } catch (e) {
                console.warn(e);
                this.mixShow('error');
            }
        },
        handleFileUpload(el) {
            this.fileUpload(el, this.$refs.slide[el-1].files[0]);
        },
        headUploadBg() {
            this.htmlBlock.structure.background = this.$refs.headbg.files[0];
        },
        headUploadImage(el) {
            this.htmlBlock.structure.block[el].image = this.$refs.headimage[el].files[0];
        },
        selectCourse(course) {
            this.currentCourse = course;
            this.addCourseStructure();
        },
        addCourseStructure() {
            if (this.currentCourse && this.htmlBlock.structure.id && !this.htmlBlock.structure.id.find(el => el === this.currentCourse.id)) {
                this.htmlBlock.structure['id'].push(Number(this.currentCourse.id));
                this.selectedCourse.push(this.currentCourse);
            }
        },
        deleteCourse(id) {
            this.selectedCourse = this.selectedCourse.filter((el) => {
                if (el.id !== id) {
                    return el;
                }
            });
            this.htmlBlock.structure['id'] = this.htmlBlock.structure['id'].filter((el) => {
                if (el !== id) {
                    return el;
                }
            });
        },


        addStructure(payload) {
            switch (payload.blockType) {
                case this.type.SLIDER:
                    this.createStructureElement(deepClone(defSliderStructure));
                    break;
                case this.type.MENU:
                    this.createStructureElement(deepClone(defMenuStructure));
                    break;
                case this.type.EDU:
                    this.htmlBlock.structure['id']=[];
                    break;
                case this.type.STATISTIC:
                    this.htmlBlock.structure['parameters']=[];
                    break;
                case this.type.BANNERS:
                    if (payload && (payload.type === 'menu')) {
                        this.createStructureElement(deepClone(defBannerMenuStructure));
                    } else {
                        this.createStructureElement(deepClone(defBannerStructure));
                    }
                    this.htmlBlock.upload_files = [];
                    break;
                case this.type.HTML:
                    this.htmlBlock.structure['html']=[];
                    break;
                case this.type.HEAD:
                    this.htmlBlock.structure.block ? '' : this.htmlBlock.structure.block=[];
                    this.createStructureHead();
                    break;
                case this.type.AUTH:
                    this.htmlBlock.structure['test-login'] = 0;
            }
        },

        createStructureHead() {
            this.htmlBlock.structure.block.push({ ...defHeadStructure });
        },

        createStructureElement(defStructure) {
            this.htmlBlock.structure = { ...this.htmlBlock.structure, ...{ [Object.keys(this.htmlBlock.structure).length + 1]: { ...defStructure } } }
        },

        createStructureMenuElement(el) {
            this.htmlBlock.structure[el].items = { ...this.htmlBlock.structure[el].items, ...{ [Object.keys(this.htmlBlock.structure[el].items).length + 1]: { ...defLinkStructure } } }
        },

        fileUpload(el, file) {
            this.htmlBlock.structure[el].image = file;
        },

        addElementStructure(payload) {
            switch (payload.typeBlock) {
                case this.type.BANNERS:
                    this.htmlBlock.structure[payload.id][payload.key] = payload.value;
                    break;
            }
        },

        addElementMenuItem(payload) {
            this.htmlBlock.structure[payload.el].items[payload.menuItem][payload.key] = payload.value;
        },

        async filesInputChange() {
            this.htmlBlock.upload_files = [];
            const files = this.$refs.filesBlock.files; // eslint-disable-line
            for (let i = 0; i < files.length; i++) { // eslint-disable-line
                this.htmlBlock.upload_files.push(files[i]);
            }
        },
    },
    async created() {
        if (!this.block && (this.block.type === 'EDU' || this.block.type === 'HTML')) {
            this.addStructure({blockType: this.block.type });
        }
        if (this.block.type === 'EDU') {
            this.getOrganizations({
                per_page: 9999,
                page: 1,
                type: 'EDU',
            });
        }
        if (this.htmlBlock.type === 'EDU' && !this.htmlBlock.structure.id) {
            this.addStructure({blockType: this.block.type });
        }
        this.newsCategories = await getCategories();
    },
}
</script>
