<!-- Bashinsky --> 
<template>
    <popup :caption="'Страница'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="row mb-20 align-items-center">
                            <div class="col-lg-6">
                                <label>Название</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    :class="('name' in errors) ? 'is-invalid' : ''"
                                    v-model="currentPage.name"
                                />
                                <valid-sign
                                    :name="'name'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col-lg-6">
                                <label>Заголовок</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    :class="('title' in errors) ? 'is-invalid' : ''"
                                    v-model="currentPage.title"
                                />
                                <valid-sign
                                    :name="'title'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col-lg-6">
                                <label>Описание</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    :class="('description' in errors) ? 'is-invalid' : ''"
                                    v-model="currentPage.description"
                                />
                                <valid-sign
                                    :name="'description'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col-lg-6">
                                <label>Тип</label>
                                <select
                                    v-model="currentPage.type"
                                    class="form-control"
                                    :class="('type' in errors) ? 'is-invalid' : ''"
                                    required
                                >
                                    <option v-for="(type, id) in types" :key="id" :value="type.name">
                                        {{ type.description }}
                                    </option>
                                </select>
                                <valid-sign
                                    :name="'type'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="col-lg-6">
                                <label>Статус</label>
                                <select
                                    v-model="currentPage.status"
                                    class="form-control"
                                    :class="('status' in errors) ? 'is-invalid' : ''"
                                    required
                                >
                                    <option v-for="(status, id) in statuses" :key="id" :value="status.name">
                                        {{ status.description }}
                                    </option>
                                </select>
                                <valid-sign
                                    :name="'status'"
                                    :invalid="errors"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <SuccessError class="mt-2" :show="{success, not_success}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update">
                Задать
            </button>
        </template>
    </popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
const welcomepage = createNamespacedHelpers('welcomepage');

import Popup from "@base/components/base/Popup";
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';
import htmlEditor from '@base/components/base/vueEditor';
import { defWelcomePage } from '@base/inc/defaults/app';
import deepClone from 'clonedeep';

export default {
    name: 'PagePopup',
    props: {
        slider: {
            type: Object,
            default: () => ({})
        },
        page: {
            type: Object,
            default: defWelcomePage,
        },
    },
    mixins: [mixSuccess],
    components: {
        Popup,
        SuccessError,
        validSign,
        htmlEditor,
    },
    data() {
        return {
            types: [
                { name: "", description: "Выберите тип"},
                { name: "main", description: "Главная страница"},
                { name: "page", description: "Статическая страница"},
            ],
            statuses: [
                { name: "", description: "Выберите статус" },
                { name: "DRAFT", description: "DRAFT" },
                { name: "ACTIVE", description: "ACTIVE" },
            ],
            currentPage: { ...this.page },
            errors: {},
        }
    },
    computed: {

    },
    methods: {
        ...welcomepage.mapActions({
            createPage: 'CREATE_PAGE',
            updatePage: 'UPDATE_PAGE',
        }),
        closePopup() {
            this.$emit('closePopup');
        },

        async update() {
            try {
                const response = this.page.id ? await this.updatePage(this.currentPage) : await this.createPage(this.currentPage);
                this.mixShow('success');
                this.currentPage = { ...defWelcomePage };
                this.$emit('update');
                setTimeout(() => { this.$emit('closePopup'); }, 3000)
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
    },
}
</script>
