<template>
    <div class="tab-pane fade" id="nav-audio" role="tabpanel" aria-labelledby="nav-audio-tab">
        <div
            v-for="message in massAudio"
            :key="message.id"
        >
            <div
                v-if="message.audio"
                class="container"
            >
                <div class="pb-1">
                {{fullname(message.user_info.firstname, message.user_info.lastname)}}
                </div>
                <div class="row">
                    <div class="col-2">
                        <img
                            v-if="message.user_info.avatar !== ''"
                            class="user-avatar small"
                            :src="message.user_info.avatar.small"
                        >
                        <img
                            v-else
                            src="/images/icons/user_avatar.svg"
                            class="border rounded-circle"
                            width="40px"
                        >
                    </div>
                    <div class="col-10">
                        <audio controls class="w-100">
                            <source :src="message.audio.url">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        massAudio: {
            type: Array,
            default: []
        },
    },
    methods: {
        fullname(firstname, lastname) {
            return firstname + ' ' + lastname
        }
    }
}
</script>
