<template>
     <div class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
        <div
            v-for="(document, k) in massFile"
            :key="k"
            class="text-left"
        >
            <div class="row pt-3 RowsInfo"
            :class = "(k == 0) ? '' : 'tableInfo'"
            >
                <div class="col-3">
                    <a
                        :href="document.url"
                        target="_blank"
                    >{{ document.name }}</a>
                </div>
                <div
                    class="text-right col-9"
                    
                >{{ document.size | filesize }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        massFile: {
            type: Array,
            default: [],
        }
    }
}
</script>