<template>
    <div class="tab-pane fade container" id="nav-photo" role="tabpanel" aria-labelledby="nav-photo-tab">
        <div class="row">
            <div
                v-for="imgUrl in massImg"
                :key="imgUrl"
                class="col-12 col-sm-6 col-md-4 col-lg-3"
                style="overflow:hidden;
                       border: 2px solid white;
                       height: 145px;
                       position: relative;"
            >   
                <img
                    :src ="imgUrl" 
                    style="
                    position: absolute;
                    height: 145px;
                    width: 145px;
                    top: 0;
	                bottom: 0;
	                left: 0;
	                right: 0;
	                margin: auto;"
                >
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        massImg: {
            type: Array,
            default: []

        }
    }
}
</script>