<template>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="text-left">
            <div class="row RowsInfo align-items-center">
                <div class="col-sm-1 col-2 pr-4 pr-sm-0">
                    <img
                        v-if="currentChat.current_user[0] && currentChat.current_user[0].avatar != ''"
                        class="avatar avatar40"
                        :src="currentChat.current_user[0].avatar.small"
                    >
                    <img
                        v-else
                        class="avatar avatar40"
                        width="40px"
                    >
                </div>
                <div class="col-lg-10 col-sm-9 col-7 mt-14 pl-20 d-flex">
                    {{ currentChat.current_user[0].firstname }} {{ currentChat.current_user[0].lastname }}
                    <div class="ml-auto">
                        <i>Вы</i>
                    </div>
                </div>
            </div>
            <div
                v-for="user in currentChat.users"
                :key = user.id
            >
                <div class="row RowsInfo tableInfo align-items-center">
                    <div class="col-sm-1 col-2 pr-20 pr-sm-0">
                        <img
                            v-if="user && user.avatar != ''"
                            class="rounded-circle small mt-1"
                            :src="user.avatar.small"
                        >
                        <img
                            v-else
                            src="/images/icons/user_avatar.svg"
                            class="border rounded-circle mt-1"
                            width="40px"
                        >
                    </div>
                    <div class="col-lg-10 col-sm-9 col-7 mt-14 pl-20 d-flex">
                        {{ user.firstname }} {{ user.lastname }}
                        <div class="ml-auto d-flex align-items-center">
                            <div
                                class="user_status"
                                :class="(users_online.filter(el => el == user.id).length > 0) ? 'online' : 'offline'"
                            >
                            </div>
                        </div>
                    </div>
                    <div
                        v-if="false"
                        class="col-lg-1 col-2"
                    >
                        <a
                            @click="deleteUser(user.id)"
                            class="pointer"
                        >
                            <img
                                src="/images/24/basic/delete.svg"
                                class="mt-2"
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div
                v-if="false"
                style="text-align: center">
                <button
                    @click="addUser"
                    class="btn w-50 addUserButton text-center px-1 px-sm-0"
                    style="margin-top: 42px"
                >
                    Добавить участника
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        deleteUser (id) {
            this.$axios.post('/api/v2/chats/' + this.currentChat.id, {
                _method: "PATCH",
                action: "remove-users",
                users: [ id ]
            })
                .then(console.log(id))
                .catch(console.error)
            this.currentChat.users = this.currentChat.users.filter(user => user.id != id)
        },
        addUser () {
            this.$emit('addUser')
        },
        cancelAddingUser () {
            this.$emit('cancelAddingUser')
        },
    },
    props: {
        users_online: {
            type: Array,
            default: []
        },
        currentChat: {
            type: Object,
            default: () => ({})
        },
    }
}
</script>
<style>
.user_status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.user_status.online {
    background-color: #38c172;
}
.user_status.offline {
    background-color: red;
}
</style>
