<!-- Bashinsky --> 
<template>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-lg-4">
            <MathOperations
                :visible="visibleKeyCalculate"
            >
                <template v-slot:customIndicator>
                    <slot name="customIndicator">

                    </slot>
                </template>
            </MathOperations>
        </div>
        <div class="col-lg-8">

            <div class="row">
                <slot name="head">
                </slot>

                <div class="col-lg-12  d-flex justify-content-center">
                    <p class="text-center">{{ CurrFormula }}</p>
                </div>

            </div>

            <div class="row parent" :class="elements.length ? 'parent--center' : ''">
                <Nested
                    :elements="elements"
                    :class="`${ parentError ? '  d-flex justify-content-center col-lg-12 error' : ' d-flex justify-content-center col-lg-12'}`"
                    @change="createFormula()"
                    @error="error()"
                >
                </Nested>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <draggable
                        v-model="trashed"
                        :options="trashOptions"
                        class="calculator-key calculator-key__trash"
                    >
                    </draggable>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import MathOperations from "@base/components/formula-constructor/MathOperations";
import Nested from "@base/components/formula-constructor/nested";
import deepClone from 'clonedeep';
export default {
    name: 'FormulaConstructor',
    components: {
        MathOperations,
        Nested,
    },
    props: {
        value: {
            type: Object | Array,
            default: () => ({
                name: '',
                formula: null,
                structure: [],
            }),
        },
        visibleKeyCalculate: {
            type: Array,
            default: [],
        },
        customIndicators: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            elements: deepClone(this.value.structure),
            CurrFormula: this.value.formula,
            operator: new Map([
                [ 'sum', '+' ],
                [ 'diff', '-' ],
                [ 'div', '/' ],
                [ 'mul', '×' ],
                [ 'pow', '^' ],
                [ 'сред', ',' ],
                [ 'min', ',' ],
                [ 'max', ',' ],
                [ 'and', '&' ],
                [ 'or', '||' ]
            ]),
            functionOperator: ['сред', 'min', 'max'],
            parentError: false,
            childrenError: false,
            trashed: null,
            trashOptions: {
                group: {
                    name: 'trash',
                    draggable: '.dropitem',
                    put: () => true,
                    pull: false
                }
            },
        }
    },
    watch: {
        CurrFormula() {
            this.update();
        }
    },
    methods: {
        update() {
            this.$emit('input', { structure: this.elements, formula: this.CurrFormula } );
        },
        createFormula() {
            if (this.elements.length > 1) {
                this.parentError = true;
            } else {
                this.parentError = false;
            }
            if (this.elements.length) {
                this.CurrFormula = this._formula(this.elements[0]);
            } else {
                this.CurrFormula='';
            }
        },

        error(err) {
            console.log('err', err);
            this.childrenError = err;
        },

        _formula(formula) {

            if (typeof formula === 'string') {
                return formula;
            }

            if (formula.name === 'indicator') {
                return formula.indicatorType + formula.id;
            }

            if (formula.name === 'custom-indicator') {
                return formula.indicator;
            }

            if (!(formula.elements && formula.elements.length > 1 )) {
                return formula.name;
            }

            const symbol = this.operator.get(formula.name);

            let result = formula.elements.reduce( (acc, curr) => {
                return this._formula(acc) + ' ' + symbol + ' ' + this._formula(curr);
            });

            return this.functionOperator.find((el) => formula.name === el)
                            ? `${formula.name}(` + result + ')'
                            : '(' + result + ')';
        },

    },
}
</script>
