<!-- Bashinsky --> 
<template>
<div class="calculator">
    <div class="calculator__keypad">
        <draggable
            :list="functionKeys"
            :group="{ name: 'calculator', pull: 'clone', put: false }"
            :clone="cloneLog"
            class="calculator__function mb-3"
        >
                <div v-for="(el, id) in functionKeys" :key="id" class="calculator-key calculator-key__function" v-if="visible.find(v => v === el.type)" >
                    <span class="fs-20 mt-2 ml-4 mr-4">{{ el.name }}</span>
                </div>
        </draggable>

        <draggable
            :list="operatorKeys"
            :group="{ name: 'calculator', pull: 'clone', put: false }"
            :clone="cloneLog"
            class="calculator__operator"
        >
                <div v-for="(el, id) in operatorKeys" :key="id" class="calculator-key calculator-key__operator" v-if="visible.find(v => v === el.type)">
                        <span class="fs-20 mt-2" v-if="el.symbol === '^'"><em>n</em><sup>x</sup></span>
                        <span class="fs-20 mt-2" v-else>{{ el.description }}</span>
                </div>
        </draggable>

        <slot name="customIndicator">

        </slot>

        <draggable
            v-if="visible.find(v => v === 'indicator')"
            :list="indicators"
            :group="{ name: 'calculator', pull: 'clone', put: false }"
            :clone="indicatorClone"
            class="calculator__indicator">
                <div class="calculator-key calculator-key__indicator" v-for="(el, id) in indicators" :key="id">
                    <span class="fs-20 mt-2 mr-2 ml-2"><em>{{ el }}</em><sub></sub></span>
                </div>
        </draggable>

        <draggable
            v-if="customIndicators"
            :list="customIndicators"
            :group="{ name: 'calculator', pull: 'clone', put: false }"
            :clone="customIndicatorClone"
            class="calculator__indicator"
        >
            <div class="calculator-key calculator-key__indicator" v-for="(el, id) in customIndicators" :key="id">
                <span class="fs-20 mt-2 mr-2 ml-2"><em>{{ el.indicator }}</em><sub></sub></span>
            </div>
        </draggable>
    </div>
</div>
</template>

<script>
import Draggable from 'vuedraggable';
import deepClone from 'clonedeep';
export default {
    name: 'MathOperations',
    components: {
        Draggable,
    },
    props: {
        visible: {
            type: Array,
            default: () => [],
        },
        customIndicators: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            functionKeys: [
                { name: 'min', type: 'function', symbol: ',', elements: [], description: 'мин' },
                { name: 'max', type: 'function', symbol: ',', elements: [], description: 'макс'},
                { name: 'сред', type: 'function', symbol: ',', elements: [], description: 'сред' },
                { name: 'число', type: 'number', symbol: '', number: 0,  edited: true },
            ],
            operatorKeys: [
                { name: 'sum', type: 'operator', description: 'сум', elements: [], symbol: '+' },
                { name: 'diff', type: 'operator', description: 'разн', elements: [], symbol: '-' },
                { name: 'div', type: 'operator', description: 'делен', elements: [], symbol: '÷' },
                { name: 'mul', type: 'operator', description: 'умнож', elements: [], symbol: '×' },
                { name: 'pow', type: 'operator', description: 'степ', elements: [], symbol: '^' },
                { name: 'and', type: 'operatorLogic', description: 'и', elements: [], symbol: '&' },
                { name: 'or', type: 'operatorLogic', description: 'или', elements: [], symbol: '||' },
            ],
            indicators: [
                'q', 'qt', 'tmax', 'treal', 'qc', 'qms', 'tms', 'ql', 'qcount'
            ],
        }
    },
    methods: {
        cloneLog(element) {
            return deepClone(element);
        },
        indicatorClone(type) {
            return { name: 'indicator', id: '', indicatorType: type }
        },
        customIndicatorClone(el) {
            return el;
        },
    },
}
</script>
