<!-- Bashinsky --> 
<template>
    <draggable
        tag="ul"
        :list="elements"
        group="calculator"
        @change="change()"
    >
        <li v-for="(el, id) in elements" :key="id" class="d-flex align-items-center">
            <span class="operator" v-if="el.type === 'function'">{{ el.name }}</span>

            <div v-if="el.type === 'number'">
                <input
                    type="number"
                    v-model="el.name"
                    class="operator"
                    v-if="el.edited"
                    @keyup.enter="() => {changeNumber(); el.edited = false; } "
                >
                <span class="indicator"
                    @click="el.edited = true"
                    v-else>
                    {{ el.name }}
                </span>
            </div>

            <nested-draggable
                v-if="el.name !== 'indicator' && el.name !== 'custom-indicator' &&  el.type !== 'number'"
                :elements="el.elements"
                :operator="el.description"
                class="operator-block"
                :class="errorShow(el)"
                :indicator="el.name !== 'indicator' ? '' : ('q' + el.id)"
                @change="change()"
                @error="errorShow()"
            />

            <span
                v-else-if="el.name === 'indicator'"
                class="indicator"
            >
                <em @click="inputId(id)">
                    {{ el.indicatorType }}
                    <input v-model="el.id" class="operator mt-2 mb-2"
                           v-show="id === visibleInputIndicarorId"
                           type="number"
                           @keyup.enter="changeIndicatorId"
                           @focusout="changeIndicatorId"
                    />
                </em>
                <sub v-show="id !== visibleInputIndicarorId">{{ el.id }}</sub>
            </span>

            <span
                v-else-if="el.name === 'custom-indicator'"
                class="indicator"
            >
                <em>
                    {{ el.indicator }}
                </em>
            </span>

            <span class="symbol" v-if="elements.length !== id + 1">{{ operator }}</span>
        </li>
    </draggable>
</template>

<script>
import Draggable from 'vuedraggable';
import deepClone from 'clonedeep';
export default {
    name: "nested-draggable",
    props: {
        elements: {
            type: Array || Number,
        },
        operator: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            error: false,
            visibleInputIndicarorId: null,
        }
    },
    methods: {
        change() {
            this.$emit('change');
        },
        changeNumber() {
            this.$emit('change');
        },
        changeIndicatorId() {
            this.change();
            this.visibleInputIndicarorId = null;
        },
        errorShow(el) {
            if (el?.elements?.length > 1) {
                this.errorEmit(false);
                return '';
            } else {
                this.errorEmit(true);
                return 'error';
            }
        },
        errorEmit(err) {
            this.error = err || this.error;
            this.$emit('error', this.error);
        },
        inputId(id) {
            this.visibleInputIndicarorId = id;
        },
    },
    components: {
        Draggable,
    }
}
</script>
