<template>
    <div>
        <div class="head-my">
            <div
                class="page-head user-info"
            >
                <div
                    class="container"
                >
                    <div class="row user-discount">
                        <div class="col-lg-6 pt-3 d-flex flex-wrap user">
                            <div
                                class="user-avatar medium"
                                :style="auth.avatar ? `background-image: url(${auth.avatar.medium})` : ''"
                            />
                            <div class="user-info d-flex flex-column align-self-center">
                                <div
                                    class="fs-32"
                                    :style="auth.firstname ? '' : 'visibility: hidden;'"
                                >

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="d-flex pb-4">
                        <div class="pr-3">
                            <img
                                class="avatar avatar96"
                                :src="auth.avatar.medium"
                            />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div class="fs-32 px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                                {{ auth.lastname + ' ' + auth.firstname + ' ' + (auth.patronymic ? auth.patronymic : '') }}
                            </div>
                        </div>
                    </div>
                    <vue-profile-competence />
                </div>


                <div class="container">
                    <NavTab  :value="routes"/>
                </div>
            </div>
        </div>
        <router-view />
    </div>

</template>

<script>

import { mapGetters } from 'vuex';
import VueProfileCompetence from '@base/components/profile/Competence';
import NavTab from "@base/components/base/NavTab";

export default {
    name: 'AdminIndex',
    components: {
        VueProfileCompetence,
        NavTab,
    },
    props: [],
    data() {
        return {
            permission: {
                admin_index_show: false,
            },
            routes: [
                { name: 'admin.iom',  description: 'ИОМ', visible: true },
                { name: 'admin.indicators.index', description: 'Индикаторы', visible: true },
                { name: 'admin.users',  description: 'Пользователи', visible: true },
                { name: 'admin.organization',  description: 'Организации', visible: true },
                { name: 'admin.role',  description: 'Роли', visible: true },
                { name: 'admin.statistics.general', description: 'Статистика', visible: true },
                { name: 'admin.staticpage',  description: 'Статические страницы', visible: true },
                { name: 'admin.settings.index',  description: 'Настройки', visible: true },
            ]
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
        ]),
        routeActive() {
            return this.routes.map(el => this.$route.name.includes(el.includes) ? 'active' : '');
        },
    },
    watch: {
        $route(to) {
            if (to.name === 'me') {
            }
        },
    },
    created() {},
    methods: {
        loadPage() {
        },
    },
};
</script>
