<template>
    <div class="container pb-50">
        <div class="fs-32 fs-sm pt-50">
            Новости
        </div>
        <div
            v-if="typeof news.length !== 'undefined' && news.length"
            class="news-list row"
        >
            <div
                v-for="(item, k) in news"
                :key="k"
                class="col-lg-3 news pt-3"
            >
                <router-link
                    :to="{ name: 'news.show', params: { id: item.id }}"
                    class="default-link-no-c"
                >
                    <div
                        class="news-head"
                        :style="('small' in item.image_conversions) ?
                            'background-image: url(' + item.image_conversions.small + ')' :
                            'background-image: url(\'/images/news/new 1.png\')'"
                    >
                        <div class="pt-16 pl-24">
                            <img
                                :src="item.organization.logo"
                                width="40px"
                            >
                        </div>
                    </div>
                    <div class="pt-2 title gray">
                        {{ item.publish_at }}
                    </div>
                    <div class="title black fs-16 pr-16">
                        {{ item.title }}
                    </div>
                </router-link>
            </div>
        </div>
        <div class="pt-56 center">
            <nav>
                <ul
                    v-if="1 in pagination.page"
                    class="pagination justify-content-center"
                >
                    <li
                        class="page-item"
                        :class="pagination.prev.show ? '' : 'disabled'"
                    >
                        <router-link
                            v-if="pagination.prev.show"
                            :to="{ name: 'news.list', params: { page: pagination.prev.page }}"
                            rel="prev"
                            class="page-link"
                        >
                            ‹
                        </router-link>
                        <span
                            v-else
                            class="page-link"
                        >‹</span>
                    </li>
                    <li
                        v-for="(page, k) in pagination.page"
                        :key="k"
                        aria-current="page"
                        class="page-item"
                        :class="page == pagination.page_current ? 'active' : ''"
                    >
                        <router-link
                            v-if="page != filter.page"
                            class="page-link"
                            :to="{ name: 'news.list', params: { page: page }}"
                        >
                            {{ page }}
                        </router-link>
                        <span
                            v-else
                            class="page-link"
                        >{{ filter.page }}</span>
                    </li>
                    <li
                        class="page-item"
                        :class="pagination.next.show ? '' : 'disabled'"
                    >
                        <router-link
                            v-if="pagination.next.show"
                            :to="{ name: 'news.list', params: { page: pagination.next.page }}"
                            rel="next"
                            class="page-link"
                        >
                            ›
                        </router-link>
                        <span
                            v-else
                            class="page-link"
                        >›</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>

import Paginate from '@base/inc/func/Paginate';

export default {
    name: 'NewsList',
    props: [],
    data() {
        return {
            news: {},
            filter: {
                page: 1,
                per_page: 12,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
        };
    },
    watch: {
        $route(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getNews('local');
        },
    },
    created() {

    },
    mounted() {
        if (typeof this.$route.params.page !== 'undefined') {
            this.filter.page = this.$route.params.page;
        }
        this.getNews('global');
    },
    methods: {
        getNews(loading) {
            this.$axios.get(`/api/v1/news?qty=${this.filter.per_page}&page=${this.filter.page}&status=ACTIVE`)
                .then((response) => {
                    this.pagination = Paginate.calculate(response.data.data.news);
                    this.news = response.data.data.news.data;
                    this.permission = response.data.data.permission;
                })
                .catch((error) => {
                })
                .finally(() => {
                });
        },
    },
};

</script>
