<template>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-xl"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        Создание новости
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="news-category"
                                        class="title gray"
                                    >Категория</label>
                                    <select
                                        id="news-category"
                                        v-model="news.category_id"
                                        class="form-control"
                                        :class="('category_id' in invalid) ? 'is-invalid' : ''"
                                        required
                                    >
                                        <option
                                            :value="0"
                                            disabled
                                        >
                                            Выберите категорию
                                        </option>
                                        <option
                                            v-for="(category, k) in categories"
                                            :key="k"
                                            :value="category.id"
                                        >
                                            {{ category.name }}
                                        </option>
                                    </select>
                                    <div
                                        v-if="'category_id' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.category_id"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="news-title"
                                        class="title gray"
                                    >Название в системе</label>
                                    <input
                                        id="news-title"
                                        v-model="news.name"
                                        class="form-control"
                                        :class="('name' in invalid) ? 'is-invalid' : ''"
                                        type="text"
                                    >
                                    <div
                                        v-if="'name' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.name"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="news-status"
                                        class="title gray"
                                    >Статус</label>
                                    <select
                                        id="news-status"
                                        v-model="news.status"
                                        class="form-control"
                                        :class="('status' in invalid) ? 'is-invalid' : ''"
                                        required
                                    >
                                        <option
                                            :value="null"
                                            disabled
                                        >
                                            Выберите статус
                                        </option>
                                        <option value="DRAFT">
                                            Черновик
                                        </option>
                                        <option value="ACTIVE">
                                            Отображать новость
                                        </option>
                                    </select>
                                    <div
                                        v-if="'status' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.status"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <label class="title gray upper">ГЛАВНОЕ ИЗОБРАЖЕНИЕ</label>
                                <input
                                    ref="image"
                                    type="file"
                                    class="form-control btn btn-download"
                                    :class="('image' in invalid) ? 'is-invalid' : ''"
                                    @change="handleFileUpload()"
                                >
                                <div
                                    v-if="'image' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.image"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <label class="title gray upper">Название H1</label>
                                <input
                                    v-model="news.title"
                                    type="text"
                                    class="form-control"
                                    :class="('title' in invalid) ? 'is-invalid' : ''"
                                    required
                                >
                                <div
                                    v-if="'title' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.title"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <label class="title gray upper">Под заголовок</label>
                                <input
                                    v-model="news.description"
                                    type="text"
                                    class="form-control"
                                    :class="('description' in invalid) ? 'is-invalid' : ''"
                                >
                                <div
                                    v-if="'description' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.description"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <label class="title gray upper">Текст новости</label>
                                <htmlEditor
                                    :content.sync="news.text"
                                    name="text"
                                    :class="('text' in invalid) ? 'is-invalid' : ''"
                                />
                                <div
                                    v-if="'text' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.text"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>

                        <div
                            v-if="false"
                            class="row pt-50"
                        >
                            <div class="col-lg-10 m-auto">
                                <div class="d-flex">
                                    <label class="m-auto title gray upper">МЕТАДАННЫЕ</label>
                                </div>

                                <div class="meta-data-list">
                                    <div class="meta-data m-auto pb-40 pt-3 mt-32">
                                        <div class="row pl-20 m-auto">
                                            <div class="col-lg-4 col-md-4">
                                                <label class="title gray">Тип</label>
                                                <select
                                                    name="text"
                                                    class="form-control"
                                                >
                                                    <option value="name">
                                                        name
                                                    </option>
                                                    <option value="property">
                                                        property
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label class="title gray">Название</label>
                                                <input
                                                    type="text"
                                                    name="text"
                                                    class="form-control"
                                                >
                                            </div>
                                        </div>

                                        <div class="row pl-20 m-auto">
                                            <div class="col-lg-10 pt-2">
                                                <label class="title gray">Содержание</label>
                                                <textarea
                                                    name="text"
                                                    class="form-control"
                                                />
                                            </div>
                                        </div>

                                        <div class="col-lg-12 d-flex pt-32">
                                            <a
                                                class="btn m-auto btn-delete"
                                                href="#"
                                            > Удалить</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-3 d-flex">
                                    <a
                                        class="m-auto btn btn-create"
                                        href="#"
                                    > Добавить</a>
                                </div>
                            </div>
                        </div>

                        <div
                            v-if="not_success"
                            class="row pt-2"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="row pt-2"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-success alert-dismissible fade show"
                                    role="alert"
                                >
                                    Данные обновлены.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red ml-auto"
                        @click="submitNews()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ news.id ? "Обновить новость" : "Создать новость" }}
                    </button>
                    <button
                        v-if="news.id"
                        ::disabled="spinner.delete"
                        type="button"
                        class="btn btn-red mr-auto"
                        @click="deleteNews()"
                    >
                        <span
                            v-if="spinner.delete"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        Удалить новость
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import deepClone from 'clonedeep';
import { defNews } from '@base/inc/defaults/app';
import htmlEditor from '@base/components/base/vueEditor';


export default {
    name: 'NewsManage',
    components: {
        htmlEditor,
    },
    props: {
        news_id: {
            type: Number,
            default: 0,
        },
        organization_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            news: {
                id: 0,
                name: '',
                title: '',
                description: '',
                text: '',
                status: '',
                author_id: 0,
                category_id: 0,
                organization_id: 0,
            },
            categories: {},
            invalid: {},
            spinner: {
                save: false,
                delete: false,
            },
            success: false,
            not_success: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasAddNews() {
            return this.getStore('modal.news.add');
        },
        hasEditNews() {
            return this.getStore('modal.news.edit');
        },
    },
    watch: {
        hasAddNews(val) {
            if (!this.news_id) {
                if (typeof this.organization_id === 'number') {
                    this.show = val.includes(this.organization_id);
                }
            }
        },
        hasEditNews(val) {
            if (this.news_id) {
                if (typeof this.news_id === 'number') {
                    this.show = val.includes(this.news_id);
                }
            }
        },
        news_id(val) {
            if (typeof val === 'number' && val) {
                this.getNews();
            }
        },
    },
    created() {

    },
    mounted() {
        this.getCategory();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getNews() {
            if (typeof this.news_id === 'number') {

                this.$axios.get(`/api/v1/news/${this.news_id}`, {})
                    .then((response) => {

                        this.news = response.data.data.news;
                        delete this.news.image;
                    })
                    .catch((error) => {

                    })
                    .finally(() => {
                    });
            }
        },
        getCategory() {

            this.$axios.get('/api/v1/news-categories', {})
                .then((response) => {

                    this.categories = response.data.data.categories;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
        submitNews() {
            this.saveNews();
        },
        saveNews() {
            const formData = new FormData();
            formData.append('name', this.news.name);
            formData.append('category_id', this.news.category_id);
            formData.append('status', this.news.status);
            formData.append('title', this.news.title);
            formData.append('description', this.news.description);
            formData.append('text', this.news.text);

            if (this.news.organization_id) {
                formData.append('organization_id', this.news.organization_id);
            } else if (this.organization_id) {
                formData.append('organization_id', this.organization_id);
            }
            if (typeof this.news.image !== 'undefined' && this.news.image) {
                formData.append('image', this.news.image);
            } else {
                formData.append('image', '');
            }

            if (this.news.id) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');
                if (!this.news.publish_at && this.news.status === 'ACTIVE') {
                    formData.append('publish_at', Date.now());
                }
                this.updateNews(formData);
            } else {
                this.addNews(formData);
            }
        },
        deleteNews() {
            this.$axios.post(`/api/v1/news/${this.news.id}`, { _method: 'delete' })
                .then(() => {
                    this.showSuccessMessage('delete');
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                    this.$router.go(-1);
                })
                .catch((error) => {
                    this.showErrorMessage('delete', error);
                });
        },
        addNews(formData) {
            this.showProcessMessage('save');
            this.$axios.post('/api/v1/news', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');

                    const update = this.getStore('update.org.news');
                    if (!update.includes(this.organization_id)) {
                        update.push(this.organization_id);
                    }
                    this.setStore({ key: 'update.org.news', data: update });

                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        updateNews(formData) {
            this.showProcessMessage('save');
            this.$axios.post(`/api/v1/news/${this.news.id}`, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');

                    const update = this.getStore('update.news');
                    if (!update.includes(this.news_id)) {
                        update.push(this.news_id);
                    }
                    this.setStore({ key: 'update.news', data: update });

                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn) {

            this.spinner[btn] = false;
            this.success = true;
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        handleFileUpload() {
            [this.news.image] = this.$refs.image.files;
        },
        modalHide() {
            if (!this.news.id) {
                if (typeof this.organization_id === 'number') {
                    if (this.hasAddNews.includes(this.organization_id)) {
                        this.hasAddNews.pop(this.organization_id);
                    }
                    this.setStore({ key: 'modal.news.add', data: this.hasAddNews });
                }
            } else {
                if (typeof this.news_id === 'number') { // eslint-disable-line no-lonely-if
                    if (this.hasEditNews.includes(this.news_id)) {
                        this.hasEditNews.pop(this.news_id);
                    }
                    this.setStore({ key: 'modal.news.edit', data: this.hasEditNews });
                }
            }

            this.resetNews();
            this.clearModal();
        },
        resetNews() {
            if (!this.news.id) {
                this.news = deepClone(defNews);
            }
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};

</script>
