<template>
    <main class="one-news">
        <div class="container">
            <div class="row pt-50 pb-50">
                <div class="col-lg-1">
                    <div class="share-links">
                        <div
                            v-if="typeof news.id !== 'undefined'"
                            class="share-links-box"
                        >
                            <div class="share-link">
                                <a
                                    target="_blank"
                                    :href="`https://www.facebook.com/sharer/sharer.php?u=http://viro36.ru/news/${news.id}`"
                                >
                                    <img src="/images/icons/share/facebook.svg">
                                </a>
                            </div>
                            <!--                            <div class="share-link">-->
                            <!--                                <img src="/images/icons/share/instagram.svg">-->
                            <!--                            </div>-->
                            <div class="share-link">
                                <a
                                    target="_blank"
                                    :href="`https://vk.com/share.php?url=http://viro36.ru/news/${news.id}`"
                                >
                                    <img src="/images/icons/share/vk.svg">
                                </a>
                            </div>
                            <div
                                v-if="permission"
                                class="share-link"
                            >
                                <img
                                    class="pointer"
                                    src="/images/icons/pencil-create.svg"
                                    @click="showManage()"
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="typeof news.id !== 'undefined'"
                    class="col-lg-8"
                >
                    <div class="pt-16">
                        <span>
                            <img
                                :src="news.organization.logo"
                                width="40px"
                            >
                            <span class="pl-10">{{ news.organization.name }}</span>
                        </span>
                        <span
                            v-if="news.publish_at"
                            class="ml-90 title gray"
                        >
                            <img src="/images/icons/calendar.svg"> {{ news.publish_at }}
                        </span>
                    </div>
                    <div class="pt-10">
                        <div>
                            <a class="title black fs-40 fs-b ">{{ news.title }}</a>
                        </div>
                        <div class="pt-32">
                            <div>
                                <!-- eslint-disable-next-line max-len -->
                                <img :src="typeof news.image_conversions.large !== 'undefined' ? news.image_conversions.large : '/images/seed/news_1_main_img.png'">
                                <!--<div class="title gray center pt-16">Фото: Сергей Дробышев</div>-->
                            </div>
                        </div>
                        <div
                            class="pt-16"
                            v-html="news.text"
                        />
                    </div>
                </div>
                <div class="col-lg-2 to-top-bottom">
                    <a
                        class="btn"
                        href="javascript:void(0)"
                        @click="$scrollTo('#pointPageTop', 500);"
                    ><img src="/images/icons/arrow-top.svg"> Наверх</a>
                </div>
            </div>
        </div>
        <vue-news-manage
            :news_id="news.id"
            :organization_id="news.organization_id"
        />
    </main>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';

import VueNewsManage from './Manage.vue';

export default {
    name: 'NewsShow',

    components: {
        VueNewsManage,
    },
    props: [],
    data() {
        return {
            permission: false,
            news: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
            'getStore',
        ]),
        hasUpdateNews() {
            return this.getStore('update.news');
        },
    },
    watch: {
        $route(to) { // to, from
            if (typeof this.news.id !== 'undefined' && to.params.id !== this.news.id) {
                this.getNews('global');
            }
        },
        hasUpdateNews(val) {
            if (typeof this.news.id === 'number') {
                if (val.includes(this.news.id)) {
                    val.pop(this.news.id);
                    this.setStore({ key: 'update.news', data: val });
                    this.getNews('local');
                }
            }
        },
    },
    created() {

    },
    mounted() {
        if (typeof this.auth === 'undefined' || !this.auth) {
            this.$store.dispatch('getAuth', { loading: { type: 'global' } });
        }
        this.getNews('global');
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        showManage() {
            const modal = this.getStore('modal.news.edit');
            if (!modal.includes(this.news.id)) {
                modal.push(this.news.id);
            }
            this.setStore({ key: 'modal.news.edit', data: modal });
        },
        getNews(loading) {

            this.$axios.get(`/api/v1/news/${this.$route.params.id}`, {})
                .then((response) => {

                    this.news = response.data.data.news;
                    this.permission = response.data.data.permission;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
    },
};

</script>
