<template>
    <div
        class="container"
        v-if="course"
    >
        <div class="gradebook">
            <div class="gradebook__header align-items-center row">
                <div class="gradebook__group col-lg-4">
                    <span class="fs-20">Группа: <b>{{ group.name }}</b></span>
                </div>
                <div class="gradebook__date-interval col-lg-8">
                    <div
                        class="col-lg-4 d-flex align-items-center ml-auto"
                    >
                        <select
                            v-model="sub_course_key"
                            class="form-control"
                        >
                            <option
                                v-for="(discipline, k) in course.sub_courses"
                                :value="k"
                            >
                                {{discipline.name}}
                            </option>
                        </select>
                        <a
                            target="_blank"
                            class="btn fa fa-file-excel-o ml-2"
                            :href="'/api/v1/groups/' + group.id + '/' + course.id + '/getExcel'"
                        >
                        </a>
                    </div>
                </div>
            </div>
            <div
                class="gradebook__body"
                v-if="course.sub_courses"
            >
                <table class="gradebook__table">
                    <thead class="gradebook__thead">
                    <tr>
                        <th class="gradebook__user d-flex">
                            <p class="user__head">Обучающиеся:</p>
                        </th>
                        <th
                            class="gradebook__date gradebook__date--future"
                            v-if="course.sub_courses[sub_course_key]"
                            v-for="(lesson, id) in course.sub_courses[sub_course_key].course_modules"
                            :key="'lesson_'+id"
                        >
                            {{ lesson.name }}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="gradebook__tbody">
                    <tr v-for="(user, id) in group.users" :key="id">
                        <td class="gradebook__user">
                            <div class="user">
                                <div class="avatar avatar60"
                                     :style="(user && user.avatar) ? 'background-image: url(' + user.avatar.medium + ')' : ''"/>
                                <div class="pl-2">
                                    {{ user.firstname + " " + user.lastname }}
                                </div>
                            </div>
                        </td>
                        <td class="gradebook__score score m-auto"
                            v-if="course.sub_courses[sub_course_key]"
                            v-for="(lesson, id) in course.sub_courses[sub_course_key].course_modules"
                            :class="( gradeBook[lesson.id]
                                      && gradeBook[lesson.id][user.id]
                                      && gradeBook[lesson.id][user.id][0].presence === 'п') ? 'score--absent' : ''"
                        >
                            <div
                                style="position: absolute;"
                                v-if="select.user_id === user.id && select.lesson_id === lesson.id"
                            >
                                <popup-score
                                    @remove_select="remove_select()"
                                    @addScore="addScore"
                                    @setPresence="setPresence"
                                    :scoreStyles="scoreStyles"
                                    :scoreHead="true"
                                />
                            </div>
                            <div v-if="gradeBook[lesson.id] && gradeBook[lesson.id][user.id]"
                            >
                                <div
                                    class="pointer"
                                    @click="set_select(user.id, lesson.id)"
                                >
                                    <div
                                        class="score__presence score__presence--absent"
                                        v-if="gradeBook[lesson.id][user.id][0].presence === 'п'"
                                    >
                                        <span>Присутствовал</span>
                                    </div>
                                    <div v-else-if="gradeBook[lesson.id][user.id][0].presence === 'о'"
                                         class="score__presence score__presence--attended"
                                    >
                                        <span>Отсутствовал</span>
                                    </div>
                                </div>


                                <div>
                                    <div
                                        v-for="(score,k) in gradeBook[lesson.id][user.id][0].scores"
                                        class="d-flex align-items-center mb-4"
                                    >
                                        <div
                                            class="ml-auto mr-2"
                                            :class="'score__rating score__rating--' + scoreStyle(score)"
                                        >
                                            {{ score }}
                                        </div>
                                        <i aria-hidden="true" class="mr-auto fa fa-trash-o pointer" @click="remove_grade(user.id, lesson.id, score, k)"></i>
                                    </div>

                                </div>

                            </div>
                            <div class="score__wrapper" v-else @click="set_select(user.id, lesson.id)">

                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { getGradeBook, addScore, setScores, setPresence, delScore } from '@base/api/gradebook';
    import { getGroupDetail, getListGroup } from '@base/api/group'
    import { listLessonWithDiscipline } from '@base/api/lesson'
    import PopupScore from './PopupScore';
    import { createNamespacedHelpers } from 'vuex';
    import SelectSearch from '@base/components/base/SelectSearch';
    import mixScore from '@base/components/course/gradebook/mixScore';

    const disciplines = createNamespacedHelpers('disciplines');
    const lessons = createNamespacedHelpers('lessons');

    export default {
        name: 'OrgEduViewGradeBook',
        components: {
            PopupScore,
            SelectSearch,
        },
        mixins: [mixScore],
        props: {
            group: {
                type: Object,
                default: () => {
                    return {}
                }
            },
            course: {
                type: Object,
                default: {

                }
            },
        },
        data() {
            return {
                sub_course_key: 0,
                users: [],
                scoreStyles: {
                    'fair': '3',
                    'fair-plus': '3.5',
                    'good': '4',
                    'good-plus': '4.5',
                    'excellent': '5',
                },
                select: {
                    user_id: null,
                    lesson_id: null,
                },
            };
        },
        computed: {

        },
        async created() {
            this.gradeBook = await getGradeBook({
                group_id: this.group.id,
                group_by: [
                    'course_module_id',
                    'user_id'
                ],
                course_id: this.course_id
            }).then((res) => res.data.data.gradebooks);

        },
        methods: {
            ...disciplines.mapActions({
                getDisciplines: 'GET_DISCIPLINES_WITH_COURSES',
            }),
            ...lessons.mapActions({
                getLessons: 'GET_LESSONS_WITH_DISCIPLINE',
            }),
            remove_grade(user_id, lesson_id, score, target){
                delScore({
                    user_id: user_id,
                    lesson_id: lesson_id,
                    score: score
                }).then(res => {

                });

                this.gradeBook[lesson_id][user_id][0].scores.splice(target, 1);
            },
            async addScore(val) {
                addScore({ user_id: this.select.user_id,
                    lesson_id: this.select.lesson_id,
                    group_id: this.group.id,
                    score: Number(val),
                })
                    .then(res => {
                        this.gradeBook[this.select.lesson_id] = { ...this.gradeBook[this.select.lesson_id],
                            ...{[this.select.user_id]:  [ res.data.data.gradebook ]}
                        };
                    });
            },
            async setScores(val) {
                setScores({ user_id: this.select.user_id,
                    lesson_id: this.select.lesson_id,
                    group_id: this.group.id,
                    scores: Number(val),
                })
                    .then(res => {
                        this.gradeBook[this.select.lesson_id] = { ...this.gradeBook[this.select.lesson_id],
                            ...{[this.select.user_id]:  [ res.data.data.gradebook ]}
                        };
                    });
            },
            async setPresence(val) {
                setPresence({ user_id: this.select.user_id,
                    lesson_id: this.select.lesson_id,
                    group_id: this.group.id,
                    presence: val,
                })
                    .then(res => {
                        this.gradeBook[this.select.lesson_id] = { ...this.gradeBook[this.select.lesson_id],
                            ...{[this.select.user_id]:  [ res.data.data.gradebook ]}
                        };
                    });
            },
            set_select(userId, lessonId){
                this.select.user_id  = userId;
                this.select.lesson_id  = lessonId;
            },
            remove_select(){
                this.select.user_id  = null;
                this.select.lesson_id  = null;
            },
        },
    };
</script>
