<template>
    <div class="container">
        <div class="gradebooklist pb-3">
            <div class="row py-3">
                <div class="col-lg-2 d-flex align-items-center">
                    <div>
                        Группа:
                    </div>
                    <select
                        class="ml-2 form-control"
                        v-model="select"
                    >
                        <option v-for="(group, id) in groups" :value="id">{{group.name}}</option>
                    </select>
                </div>
            </div>
            <div v-for="(group, id) in groups" :key="id">
                <gradebook
                    v-if="id == select"
                    :group="group"
                    :course="course"
                    class="py-3"
                >
                </gradebook>
            </div>
        </div>
    </div>

</template>

<script>
import Gradebook from './Gradebook';
import { getListGroup } from '@base/api/group';
import CourseHeader from '@base/components/program/course/Header';
import { mapGetters} from "vuex";


export default {
    name: 'GradebookList',
    components: {
        Gradebook,
        CourseHeader
    },
    props: {
        course: {
            type: Object,
            default: {

            }
        },
    },
    computed: {
        ...mapGetters({
            auth: 'auth',
        }),
    },
    data() {
        return {
            groups: [],
            select: 0
        }
    },
    created() {
        if (this.course && this.course.curr_course) {
            getListGroup({
                action: 'studying',
                with_users: 'with_users',
                course_id: this.course.curr_course.id
            })
                .then(res => {
                    this.groups = res.groups.data
                });
        }
    },
    watch: {
        'course.curr_course': function () {
            getListGroup({
                action: 'studying',
                with_users: 'with_users',
                course_id: this.course.curr_course.id
            }).then(res => {
                this.groups = res.groups.data
            });
        }
    }
}
</script>
