<template>
    <div class="popup-score">
        <div class="popup-score__head" v-if="scoreHead">
            <a class="score__presence score__presence--active pointer"
               @click="setPresence('п')"
            >Присутствовал</a>
            <a class="score__presence pointer"
               @click="setPresence('о')"
            >Отсутствовал</a>
        </div>
        <div class="popup-score__body">
            <div class="score__point">
                <p>Балл:</p>
            </div>
            <div class="popup-score__point-group">

                <div v-for="[key, value] of Object.entries(scoreStyles)" :key="key"
                     :class="'score__rating--'+ key"
                     class="score__rating pointer"
                     @click="addScore(value)"
                >
                    {{ value }}
                </div>
            </div>
        </div>
        <div
            @click="close()"
            class="d-flex mt-4"
        >
            <a class="btn m-auto">Закрыть</a>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'PopupScore',
        props: {
            scoreStyles: {
                type: Object,
                default: () => {
                    return {}
                }
            },
            scoreHead: {
                type: Boolean,
                default: false,
            }
        },
        methods: {
            close(){
                this.$emit("remove_select");
            },
            addScore(score) {
                this.$emit('addScore', score);
            },
            setPresence(presence) {
                this.$emit('setPresence', presence);
            },
        },
        data() {
            return {

            }
        }
    }
</script>
