<!-- Bashinsky --> 
<template>
    <div class="tree">
        <ul style="padding-left: 0px">
            <li>
                <div
                    v-on:mouseenter="editElementsShow = true"
                    v-on:mouseleave="editElementsShow = false"
                    :class="{'tree-view-fa': true, bold: true}">
                    <span :class="{ selected: isSelected === item.id }"
                    >
                        <i
                            @click="toggle"
                            :class="[ isOpen ? 'fa fa-minus-circle' : 'fa fa-plus-circle']"></i>
                        <a
                            v-if="!isEdit"
                        >
                            {{ item.name }}
                        </a>
                        <input
                            v-if="isEdit"
                            v-model="item.name"
                            v-on:keyup.enter="updateElement"
                            v-on:keyup.esc="updateElementEsc"
                        >
                    </span>
                    <span v-if="editElementsShow">
                        <a
                            v-if="selected_tree_el"
                            class="pointer"
                            @click="selectedTreeEl(item)"
                            title="Подгрузить список вопросов"
                        >
                           <i class="fa fa-list-ul"></i>
                        </a>
                        <a
                            v-if="change_parent & item.id != isSelected & isSelected > 0"
                            class="pointer"
                            @click="selectChangeParent(item)"
                        >
                            <i class="fa fa-check-circle"></i>
                        </a>
                        <a
                            v-if="!isEdit && can_edit_delete"
                            @click="isEdit = true"
                            class="pointer ml-2"
                        >
                            <i class="fa fa-pencil" />
                        </a>
                        <a
                            v-if="isEdit && can_edit_delete"
                            @click="updateElementEsc"
                            class="pointer ml-2"
                        >
                            <i class="fa fa-undo" />
                        </a>
                        <a
                            v-if="isEdit && can_edit_delete"
                            @click="updateElement"
                            class="pointer ml-2"
                        >
                            <i class="fa fa-floppy-o"/>
                        </a>
                    </span>
                </div>
                <ul class="tree-bg" v-show="isOpen">
                    <tree-item
                        class="item"
                        v-for="(child, index) in item.tree_childs"
                        :key="index"
                        :item="child"
                        :isSelected="isSelected"
                        @selectedTreeEl="selectedTreeEl"
                        @createdTreeEl="createdTreeEl"
                        :change_parent="change_parent"
                        :selected_tree_el="selected_tree_el"
                        @selectChangeParent="selectChangeParent"
                        :can_edit_delete="can_edit_delete"
                    ></tree-item>
                    <li class="last-li" v-if="can_edit_delete">
                        <span>
                            <a
                                v-if="!isCreate"
                                class="pointer"
                                @click="isCreate = true"
                            >
                                Создать новую
                            </a>
                            <input
                                v-if="isCreate"
                                v-model="createName"
                                v-on:keyup.enter="createElement"
                                v-on:keyup.esc="createElementEsc"
                            >
                            <a
                                v-if="isCreate"
                                @click="createElement"
                                class="pointer"
                            >
                                <i class="fa fa-floppy-o ml-2"/>
                            </a>
                            <a
                                v-if="isCreate"
                                @click="createElementEsc"
                                class="pointer"
                            >
                                <i class="fa fa-undo ml-2"/>
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</template>

<script>
import treeItem from "./tree-item";

import { changeName, deleteCategory, createBankCategory,changeParent } from '@base/api/bank-question/bank.js'
export default {
    name: "customTree",
    props: {
        change_parent: {
            type: Boolean,
            default: () => false,
        },
        selected_tree_el: {
            type: Boolean,
            default: () => true,
        },
        can_edit_delete: {
            type: Boolean,
            default: () => true,
        },
        default_select: null,
        item: {
            type: Object,
            default: () => ({}),
        },
        updateVisible: {
            type: Boolean,
            default: false,
        },
    },
    components: {
        treeItem,
    },
    watch: {
        default_select(){
            if (this.default_select){
                this.isSelected = this.default_select;
            }
        }
    },
    data() {
        return {
            createName: '',
            editElementsShow: false,
            isEdit: false,
            isCreate: false,
            visibleCategoryPopup: false,
            isOpen: false,
            isSelected: 0,
        }
    },
    created() {
        if (this.default_select){
            this.isSelected = this.default_select;
        }
    },
    computed: {
        isFolder() {
            return this.item.tree_childs && this.item.tree_childs.length;
        }
    },
    methods: {
        createElement(){
            createBankCategory({
                parent_id: this.item.id,
                name: this.createName
            }).then(() => {
                this.isCreate = false;
                this.createName = '';
                this.$emit("createdTreeEl");
            }).catch((error) => {
                console.warn(error)
            });
        },
        createElementEsc(){
            this.isCreate = false;
            this.createName = '';
        },
        updateElement(){
            changeName({
                id: this.item.id,
                name: this.item.name
            })
            this.editElementsShow = false;
            this.isEdit = false;
        },
        updateElementEsc(){
            this.editElementsShow = false;
            this.isEdit = false;
            this.$emit("createdTreeEl");
        },
        openCategoryPopup(){
            this.visibleCategoryPopup = true;
        },
        closeCategoryPopup(){
            this.visibleCategoryPopup = false;
            this.$emit("createdTreeEl");
        },
        createdTreeEl(){
            this.$emit("createdTreeEl");
        },
        toggle() {
            //if (this.isFolder) {
                this.isOpen = !this.isOpen;
            //}
        },
        selectedTreeEl(item) {
            this.isSelected = item.id;
            this.$emit("selectedTreeEl", item)
        },
        selectChangeParent(item){
            if (this.isSelected){
                if (item.id == this.isSelected){
                    this.isSelected = 0;
                }else{
                    this.changeParentId(this.isSelected, item.id);
                    this.isSelected = 0;
                }
            }else{
                this.isSelected = item.id;
            }
        },
        changeParentId(selected_bank_id, move_to_bank_id){
            changeParent({
                selected_bank_id: selected_bank_id,
                move_to_bank_id: move_to_bank_id
            }).then(data => {
                this.$emit("createdTreeEl");
            })
        }
    }

}
</script>

<style scoped>
    .tree-view-fa .fa.fa-check-circle {
        display: none;
    }
    .tree-view-fa:hover .fa.fa-check-circle {
        display: inline-block;
    }
</style>
