<!-- Bashinsky --> 

<template>
    <div>
        <li>
            <div
                v-on:mouseenter="editElementsShow = true"
                v-on:mouseleave="editElementsShow = false"
                :class="{'tree-view-fa': true, bold: true }"
            >
                <span :class="{ selected: isSelected === item.id }">
                    <i
                        v-if="(change_parent & (item.id != isSelected)) || (!change_parent)"
                       :class="[ isOpen ? 'fa fa-minus-circle' : 'fa fa-plus-circle']"
                       @click="toggle" />

                    <a
                        v-if="!isEdit"
                        class="pointer"
                    >
                            {{ item.name }}
                    </a>
                    <input
                        v-if="isEdit"
                        v-model="item.name"
                        v-on:keyup.enter="updateElement"
                        v-on:keyup.esc="updateElementEsc"
                    >
                </span>
                <span v-if="editElementsShow">
                    <a
                        v-if="!isEdit & selected_tree_el"
                        class="pointer"
                        @click="selectedTreeEl(item)"
                    >
                        <i class="fa fa-list-ul"></i>
                    </a>
                    <a
                        v-if="!isEdit & change_parent & item.id != isSelected & can_edit_delete"
                        class="pointer"
                        @click="selectChangeParent(item)"
                    >
                        <i class="fa fa-check-circle"></i>
                    </a>

                    <a
                        v-if="change_parent & item.id == isSelected & can_edit_delete"
                        class="pointer"
                        @click="selectChangeParent(item)"
                    >
                        <i class="fa fa-times-circle"></i>
                    </a>

                    <a
                        v-if="!isEdit & can_edit_delete"
                        @click="isEdit = true"
                        class="pointer ml-2"
                    >
                        <i class="fa fa-pencil" />
                    </a>
                    <a
                        v-if="isEdit & can_edit_delete"
                        @click="updateElementEsc"
                        class="pointer ml-2"
                    >
                        <i class="fa fa-undo" />
                    </a>
                    <a
                        v-if="isEdit & can_edit_delete"
                        @click="updateElement"
                        class="pointer ml-2"
                    >
                        <i class="fa fa-floppy-o"/>
                    </a>
                    <a
                        v-if="can_edit_delete"
                        @click="deleteCategory"
                        class="pointer ml-2"
                    >
                        <i class="fa fa-trash"/>
                    </a>
                </span>

            </div>
            <ul class="tree-ul" v-show="isOpen">
                <tree-item
                    v-if="(change_parent & (item.id != isSelected)) || (!change_parent)"
                    class="item"
                    v-for="(child, index) in item.tree_childs"
                    :key="index"
                    :item="child"
                    :isSelected="isSelected"
                    @selectedTreeEl="selectedTreeEl"
                    @createdTreeEl="createdTreeEl"
                    :change_parent="change_parent"
                    :selected_tree_el="selected_tree_el"
                    @selectChangeParent="selectChangeParent"
                    :can_edit_delete="can_edit_delete"
                ></tree-item>
                <li class="last-li" v-if="((change_parent & (item.id != isSelected)) || !change_parent) & can_edit_delete">
                    <span>
                        <a
                            v-if="!isCreate"
                            class="pointer"
                            @click="isCreate = true"
                        >
                            Создать новую
                        </a>
                        <input
                            v-if="isCreate"
                            v-model="createName"
                            v-on:keyup.enter="createElement"
                            v-on:keyup.esc="createElementEsc"
                        >
                        <a
                            v-if="isCreate"
                            @click="createElement"
                        >
                            <i class="fa fa-floppy-o ml-2"/>
                        </a>
                        <a
                            v-if="isCreate"
                            @click="createElementEsc"
                        >
                            <i class="fa fa-undo ml-2"/>
                        </a>

                    </span>

                </li>
            </ul>
        </li>

    </div>
</template>

<script>

    import { changeName, deleteCategory, createBankCategory } from '@base/api/bank-question/bank.js'

    export default {
        name: "tree-item",
        props: {
            change_parent: false,
            selected_tree_el: true,
            item: {
                type: Object,
                default: () => ({})
            },
            isSelected: {
                type: Number,
                default: 0,
            },
            can_edit_delete: {
                type: Boolean,
                default: () => true,
            },
        },
        data: function() {
            return {
                createName: '',
                isCreate: false,
                editElementsShow: false,
                visibleCategoryPopup: false,
                isOpen: false,
                isEdit: false,
                selected: 0,
            };
        },
        computed: {
            isFolder: function() {
                return this.item.tree_childs && this.item.tree_childs.length;
            }
        },
        methods: {
            createElement(){
                createBankCategory({
                    parent_id: this.item.id,
                    name: this.createName
                }).then(() => {
                    this.isCreate = false;
                    this.createName = '';
                    this.$emit("createdTreeEl");
                }).catch((error) => {
                    console.warn(error)
                });
            },
            createElementEsc(){
                this.isCreate = false;
                this.createName = '';
            },
            deleteCategory(){
                deleteCategory({
                    id: this.item.id
                }).then((data) => {

                    this.$emit("createdTreeEl");
                    console.warn('then ok')
                });
            },
            updateElementEsc(){
                this.editElementsShow = false;
                this.isEdit = false;
                this.$emit("createdTreeEl");
            },
            updateElement(){
                changeName({
                    id: this.item.id,
                    name: this.item.name
                })
                this.editElementsShow = false;
                this.isEdit = false;
            },
            toggle: function() {
                //if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                // }
            },
            createdTreeEl(){
                this.$emit("createdTreeEl");
            },
            selectedTreeEl(item) {
                //this.isSelected = id;
                this.$emit("selectedTreeEl", item);
            },
            selectChangeParent(item){
                this.$emit("selectChangeParent", item);
            }
        }
    }
</script>

<style scoped>
    .tree-view-fa .fa.fa-check-circle {
        display: none;
    }
    .tree-view-fa:hover .fa.fa-check-circle {
        display: inline-block;
    }
</style>
