<template>
    <div>
        <div class="container min-vh-75 py-4">
            <div class="row"
                v-if="task"
            >
                <div class="col-lg-12">
                    <h4>
                        Задание:
                        {{ task.name }}
                    </h4>
                </div>
                <div class="col-lg-6">
                    <i>Описание:</i>
                    <div v-html="task.description"></div>
                </div>
                <div class="col-lg-6 row">
                    <div class="col-lg-12">
                        <i>Документы:</i>
                    </div>
                    <div
                        v-for="(doc, k) in task.documents"
                        :key="k"
                        class="col-lg-12">
                        <a
                            :href="doc.url"
                            target="_blank"
                        >
                            <img src="/images/table/paperclip.svg">
                            {{ doc.name }}
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div
                v-if="permissions.teaching != null"
            >
                <div
                    class="row"
                    v-if="permissions.teaching"
                >
                    <div
                        class="col-lg-12"
                    >
                        <h4>Ответы учеников</h4>
                    </div>
                    <div class="col-lg-12">
                        <table
                            class="table table-bordered"
                        >
                            <tr>
                                <td>ID</td>
                                <td>Ученик </td>
                                <td>Ответ</td>
                                <td>Файлы</td>
                                <td>Статус</td>
                                <td>Создано</td>
                                <td>Обновлено</td>
                                <td>Оценка</td>
                            </tr>
                            <tr
                                v-for="(item, k) in task.answers"
                                :key="k"
                            >
                                <td>{{item.id}}</td>
                                <td>
                                    {{item.user.firstname}} {{item.user.lastname}}
                                </td>
                                <td>{{item.text_answer}}</td>
                                <td>
                                    <div
                                        v-for="(file, k) in item.documents"
                                        :key="k"
                                    >
                                        <a
                                            :href="file.url"
                                            target="_blank"
                                        >
                                            {{ file.name }}
                                        </a>
                                        {{ file.size | filesize }}
                                    </div>
                                </td>
                                <td>{{status_lang[item.status]}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.updated_at}}</td>
                                <td>
                                    <i
                                        v-tooltip.top-center="tooltip.grade"
                                        class="fa fa-graduation-cap title pointer fs-20"
                                        aria-hidden="true"
                                        @click="openGradePopup(item.user_id, item.id)"
                                        v-if="item.status == 'check'"
                                    ></i>
                                    <i
                                        v-tooltip.top-center="tooltip.re_answer"
                                        class="fa fa-reply title pointer fs-20"
                                        aria-hidden="true"
                                        @click="re_answer(item.id)"
                                        v-if="item.status == 'check'"
                                    ></i>
                                    <i
                                        v-tooltip.top-center="tooltip.answer_fail"
                                        class="fa fa-times title pointer fs-20"
                                        aria-hidden="true"
                                        @click="answer_fail(item.id)"
                                        v-if="item.status == 'check'"
                                    ></i>
                                    <a
                                        v-tooltip.top-center="tooltip.send_message"
                                        :href="`/chats/start/`+item.user.id"
                                        class="fa fa-comments-o title pointer fs-20"
                                        aria-hidden="true"
                                    ></a>
                                    <div style="position: absolute;" v-if="selectAnswer && selectAnswer.answer_id === item.id">
                                        <popup-score
                                            @remove_select="remove_select()"
                                            @addScore="setScores"
                                            style="left: -90px;"
                                            :scoreStyles="scoreStyles"
                                        />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div
                    v-else
                    class="row"
                >
                    <div class="col-lg-6">
                        <h4>Ответ</h4>
                        <div class="form-group">

                            <textarea
                                id="text_answer"
                                class="form-control"
                                v-model="answer.text_answer"
                                rows="3"
                                :disabled="answer.status != 'draft' && answer.status != 're-answer'"
                            ></textarea>
                        </div>

                        <div class="form-group"
                            v-if="answer.status == 'draft' || answer.status == 're-answer'"
                        >
                            <label class="title gray label-with-icon">
                                Добавить файл(ы)
                                <i
                                    v-tooltip.top-center="tooltip.file"
                                    class="fa fa-question-circle-o pointer ml-8"
                                    aria-hidden="true"
                                />
                            </label>
                            <input
                                ref="documents"
                                type="file"
                                multiple
                                class="form-control btn btn-create"

                                @change="filesInputChange()"
                            >
                        </div>
                        <div
                            v-if="answer && answer.documents && answer.documents.length > 0"
                            class="form-group"
                        >
                            <div
                                v-for="(file, k) in answer.documents"
                                :key="k"
                            >
                                <a
                                    :href="file.url"
                                    target="_blank"
                                >{{file.name}}</a>
                                {{ file.size | filesize }}
                                <a
                                    v-if="answer.status == 'draft'  || answer.status == 're-answer'"
                                    @click="remove_document(file.id)"
                                >
                                    <i aria-hidden="true" class="fa fa-trash-o pointer"></i>
                                </a>
                            </div>
                        </div>
                        <div
                            class="row"
                            v-if="answer.status == 'draft'  || answer.status == 're-answer'"
                        >
                            <a
                                class="m-auto btn btn-primary"
                                @click="save_ansver"
                            >
                                Сохранить
                            </a>
                            <a
                                class="m-auto btn btn-success"
                                @click="save_check_answer"
                            >
                                Сохранить и отправить
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div
                            v-if="answer.status && answer.created_at"
                        >
                            <div><b>Статус:</b> {{ status_lang[answer.status] }}</div>
                            <div><b>Создан:</b> {{ answer.created_at }}</div>
                            <div><b>Обновлен:</b> {{ answer.updated_at }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import { createNamespacedHelpers, mapGetters } from 'vuex';
    import PopupScore from '@base/components/course/gradebook/PopupScore'
    import { addScore } from '@base/api/gradebook'

    const organization = createNamespacedHelpers('organization');
    const lessonTask = createNamespacedHelpers('lessonTask');


    export default {
        name: 'OrgEduViewTask',
        components: {
            PopupScore,
        },
        data() {
            return {
                tooltip: {
                    send_message : 'Написать сообщение',
                    re_answer: 'Переделать',
                    answer_success: 'Зачет',
                    answer_fail: 'Незачет',
                    file: 'Вы можете выбрать несколько файлов',
                    grade: 'Добавить оценку',
                },
                answer: {
                    new_documents: [],
                    text_answer: "",
                    status: "draft",
                },
                status_lang: {
                    'draft' : 'Черновик',
                    'check' : 'На проверке',
                    'success' : 'Проверен успешно',
                    'fail' : 'Проверен неуспешно',
                    're-check' : 'Перепроверка',
                    're-answer' : 'Переответить',
                },
                scoreStyles: {
                    'fair': '3',
                    'fair-plus': '3.5',
                    'good': '4',
                    'good-plus': '4.5',
                    'excellent': '5',
                },
                selectAnswer: {},
            };
        },
        watch:{
            task(val){
                if(val && val.answer && val.answer.status) {
                    this.answer = val.answer;
                }
            },
            task_id(val) {
                if (val) {
                    this.getTask({ task_id: val });
                }
            },
        },
        mounted() {
            if (this.task_id) {
                this.getTask({ task_id: this.task_id });
            }
            if (this.permissions && !this.permissions.teaching){

            }
        },
        methods: {
            ...lessonTask.mapActions({
                getTask: 'GET_TASK',
                saveAnswer: 'SAVE_ANSWER',
                saveCheckAnswer: 'save_check_answer',
                removeAnswerDocumnet: 'remove_answer_documnet',
                manageAnswer: 'manage_answer',
            }),
            remove_document(document_id){
                if (this.answer && this.answer.id){
                    let out = this.removeAnswerDocumnet({
                        answer_id: this.answer.id,
                        task_id: this.task_id,
                        document_id: document_id
                    });
                }else{
                    alert('Error');
                }
            },
            save_check_answer(){
                let out = this.saveCheckAnswer({
                    task_id: this.task_id,
                    text_answer: this.answer.text_answer,
                    documents: this.answer.new_documents
                });
                this.answer.new_documents = [];
            },
            save_ansver(){
                let out = this.saveAnswer({
                    task_id: this.task_id,
                    text_answer: this.answer.text_answer,
                    documents: this.answer.new_documents
                });
                this.answer.new_documents = [];
                this.$refs.documents.value = null;
            },
            filesInputChange() {
                this.answer.new_documents = this.$refs.documents.files;
            },
            answer_success(answer_id){
                let out = this.manageAnswer({
                    task_id: this.task_id,
                    answer_id: answer_id,
                    action: 'answer-success'
                });
            },
            answer_fail(answer_id){
                let out = this.manageAnswer({
                    task_id: this.task_id,
                    answer_id: answer_id,
                    action: 'answer-fail'
                });
            },
            re_answer(answer_id){
                let out = this.manageAnswer({
                    task_id: this.task_id,
                    answer_id: answer_id,
                    action: 're-answer'
                });
            },
            openGradePopup(user_id, answer_id) {
                this.selectAnswer = { user_id: user_id, answer_id: answer_id };
            },
            setScores(val) {
                addScore({ user_id: this.selectAnswer.user_id,
                            lesson_id: this.task.model.course_module_id,
                            // group_id: this.group.id,
                            score: Number(val),
                        })
                    .then(() => {
                        this.answer_success(this.selectAnswer.answer_id);
                        this.remove_select();
                    });
            },
            remove_select() {
                this.selectAnswer = null;
            },
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
            ...lessonTask.mapGetters({
                task: 'TASK',
            }),
            task_id() {
                return Number(this.$route.params.task_id);
            },
            ...organization.mapGetters({
                organization: 'ORGANIZATION',
                permissions: 'PERMISSIONS',
            }),
        },

    };
</script>
