<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Категории
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">
                                <img src="/images/icons/close-popup.svg" />
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <custom-tree
                            class=""
                            :item="bankCategory"
                            @selectedTreeEl="selectedTreeEl"
                            :default_select="category_id"
                            @createdTreeEl="createdTreeEl"
                        >
                        </custom-tree>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import CustomTree from '@base/components/base/Tree/Tree';

    export default {
        name: 'CategoriesPopup',
        components: { CustomTree },
        props: {
            category_id: null,
            bankCategory: {},
            show: {
                type: Boolean,
                default: false,
            },
        },
        methods: {
            createdTreeEl(){
                this.$emit('createdTreeEl');
            },
            selectedTreeEl(item){
                this.$emit('selectedId', item)
                this.$emit('closePopup')
            },
            modalHide(){
                this.$emit('closePopup')
            }
        }
    };
</script>

<style scoped>

</style>
