<template>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ 'Редактирование контактов ' + organization.name }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group contact-user">
                                    <label class="title gray">Пользователь</label>
                                    <vue-bootstrap-typeahead
                                        ref="typeahead"
                                        v-model="search.user"
                                        :data="users"
                                        :serializer="s => s.firstname + ' ' + s.lastname"
                                        placeholder="Имя Фамилия"
                                        @hit="filter.user = $event"
                                    />
                                    <div
                                        v-if="'user_id' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.user_id"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-15">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Должность</label>
                                    <input
                                        v-model="contact.position"
                                        class="form-control"
                                        :class="('position' in invalid) ? 'is-invalid' : ''"
                                        placeholder="Начальник отдела ..."
                                        type="text"
                                    >
                                    <div
                                        v-if="'position' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.position"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-15">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Емейл</label>
                                    <input
                                        v-model="contact.email"
                                        class="form-control"
                                        :class="('email' in invalid) ? 'is-invalid' : ''"
                                        type="email"
                                    >
                                    <div
                                        v-if="'email' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-15">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Телефон</label>
                                    <!--
                                    <vue-masked-input
                                        v-model="contact.phone"
                                        class="form-control"
                                        mask="\+1 (111) 111-11-11"
                                        type="tel"
                                    />-->
                                    <input
                                        v-model="contact.phone"
                                        class="form-control"
                                        type="text"
                                    />
                                    <div
                                        v-if="'phone' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.phone"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-15 pl-18">
                            <div class="col-lg-10 m-auto form-group form-check">
                                <input
                                    v-model="contact.show"
                                    type="checkbox"
                                    name="attached"
                                    class="form-check-input"
                                    :class="('show' in invalid) ? 'is-invalid' : ''"
                                >
                                <label class="title gray upper form-check-label">Показывать</label>
                                <div
                                    v-if="'show' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.show"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="not_success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-success alert-dismissible fade show"
                                    role="alert"
                                >
                                    Данные обновлены.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submit()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ 'Сохранить' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import VueMaskedInput from 'vue-masked-input'; // eslint-disable-line vue/no-unused-components
import { defOrganization, defDepartment, defDepartmentContact } from '@base/inc/defaults/app';
import deepClone from 'clonedeep';

export default {
    name: 'CoppTabManageDepartmentContact',
    components: {
        VueMaskedInput, // eslint-disable-line vue/no-unused-components
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        department: {
            type: Object,
            default: defDepartment,
        },
        contactId: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            filter: {
                user: {},
            },
            users: [],
            contact: {},
            invalid: {},
            search: {
                user: '',
            },
            searched: {
                user: '',
            },
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasAddDepartmentContact() {
            return this.getStore('modal.org.department.contact.add');
        },
        hasEditDepartmentContact() {
            return this.getStore('modal.org.department.contact.edit');
        },
    },
    watch: {
        hasAddDepartmentContact(val) {
            if (typeof this.department.id === 'number') {
                this.show = val.includes(this.department.id);
            }
        },
        hasEditDepartmentContact(val) {
            if (typeof this.contactId === 'number') {
                this.show = val.includes(this.contactId);
            }
        },
        'organization.id': function () {
            this.changeProps();
        },
        contactId() {
            this.changeProps();
        },
        'search.user': function (val) {
            if (val.length && Math.abs(val.length - this.searched.user.length) > 2) {
                this.searched.user = val;
                if (typeof this.filter.user.id === 'undefined') {
                    this.getUsers('local');
                }
            } else if (!val.length) {
                this.searched.user = '';
                this.filter.user_id = 0;
                this.filter.user = {};
            }
        },
        'filter.user': function (val) {
            if (typeof val.id !== 'undefined' && val.id) {
                this.contact.user_id = val.id;
            } else {
                this.contact.user_id = 0;
            }
        },
    },
    created() {
        this.contact = deepClone(defDepartmentContact);
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        changeProps() {
            if ((typeof this.organization.id === 'number' && this.organization.id)
                && (typeof this.contactId === 'number' && this.contactId)) {
                this.getContact();
            }
        },
        getUsers(loading) {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                const url = `/api/v1/organizations/${this.organization.id}/users`;
                const params = {};

                params.search = this.searched.user;
                params.attached = 1;
                params.organization_id = this.organization.id;
                params.order_direction = 'asc';
                params.order_by = 'firstname';
                params.page = 1;
                params.qty = 50;


                this.$axios.get(url, { params })
                    .then((response) => {

                        this.users = response.data.data.users.data;
                    })
                    .catch(() => {

                    })
                    .finally(() => {
                    });
            }
        },
        getContact() {
            const loading = 'global';
            const url = `/api/v1/organizations/${this.organization.id}/contacts/${this.contactId}`;

            this.$axios.get(url, {},
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {
                    this.contact = response.data.data.contact;
                    this.users = [response.data.data.user];
                    this.filter.user = response.data.data.user;
                    this.search.user = this.filter.user.firstname + ' ' + this.filter.user.lastname; // eslint-disable-line
                    this.$refs.typeahead.inputValue = this.search.user;

                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        submit() {
            const formData = new FormData();

            formData.append('user_id', this.contact.user_id);
            formData.append('organization_id', this.organization.id);
            formData.append('email', this.contact.email);
            formData.append('phone', this.contact.phone);
            formData.append('position', this.contact.position);
            formData.append('show', this.contact.show ? 1 : 0);

            if (typeof this.contactId === 'number' && this.contactId) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');

                this.updateContact(formData);
            } else {
                formData.append('department_id', this.department.id);

                this.addContact(formData);
            }
        },
        addContact(formData) {
            const loading = 'local';
            const url = `/api/v1/organizations/${this.organization.id}/departments/${this.department.id}/contacts`;
            this.showProcessMessage(loading, 'save');
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, 'save');
                    this.refreshContact();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, 'save', error);
                })
                .finally(() => {
                });
        },
        updateContact(formData) {
            const loading = 'local';
            const url = `/api/v1/organizations/${this.organization.id}/contacts/${this.contactId}`;
            this.showProcessMessage(loading, 'save');
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, 'save');
                    this.refreshContact();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, 'save', error);
                })
                .finally(() => {
                });
        },
        showProcessMessage(loading, btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(loading, btn) {

            this.spinner[btn] = false;
            this.success = true;
            this.invalid = {};
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(loading, btn, e) {

            this.spinner[btn] = false;
            if (typeof e.response.status !== 'undefined' && e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        refreshContact() {
            if (typeof this.organization.id === 'number') {
                const update = this.getStore('update.org.department');
                if (!update.includes(this.organization.id)) {
                    update.push(this.organization.id);
                }
                this.setStore({ key: 'update.org.department', data: update });
            }
        },
        modalHide() {
            this.clearModal();
            if (typeof this.department.id === 'number' && this.department.id) {
                if (typeof this.contact.id === 'number' && this.contact.id) {
                    if (this.hasEditDepartmentContact.includes(this.contact.id)) {
                        this.hasEditDepartmentContact.pop(this.contact.id);
                    }
                    this.setStore({ key: 'modal.org.department.contact.edit', data: this.hasEditDepartmentContact });
                } else {
                    if (this.hasAddDepartmentContact.includes(this.department.id)) {
                        this.hasAddDepartmentContact.pop(this.department.id);
                    }
                    this.setStore({ key: 'modal.org.department.contact.add', data: this.hasAddDepartmentContact });
                    this.contact = deepClone(defDepartmentContact);
                }
            }
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
            this.search.user = '';
            this.searched.user = '';
        },
    },
};
</script>

<style scoped>

</style>
