<template>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ department_id ? 'Редактирование ' + department.name : 'Создание департамента' }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide(false)"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Название</label>
                                    <input
                                        v-model="department.name"
                                        class="form-control"
                                        :class="('name' in invalid) ? 'is-invalid' : ''"
                                        type="email"
                                    >
                                    <div
                                        v-if="'name' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.name"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-lg-10 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Позиция (по убыванию)</label>
                                    <input
                                        v-model="department.popularity"
                                        class="form-control"
                                    >
                                    <div
                                        v-if="'popularity' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.popularity"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32 pl-18">
                            <div class="col-lg-10 m-auto form-group form-check">
                                <input
                                    v-model="department.show"
                                    type="checkbox"
                                    name="attached"
                                    class="form-check-input"
                                    :class="('show' in invalid) ? 'is-invalid' : ''"
                                >
                                <label class="title gray upper form-check-label">Показывать</label>
                                <div
                                    v-if="'show' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.show"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>

                        <div
                            v-if="not_success"
                            class="row pt-2"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="row pt-2"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-success alert-dismissible fade show"
                                    role="alert"
                                >
                                    Данные обновлены.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submit()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ 'Сохранить' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import deepClone from 'clonedeep';
import { mapGetters, mapMutations } from 'vuex';
import { defOrganization, defDepartment } from '@base/inc/defaults/app';

export default {
    name: 'CoppTabManageDepartment',
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        department_id: {
            type: Number,
            default: 0,
        },
        parent_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            department: {},
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasAddDepartment() {
            return this.getStore('modal.org.department.add');
        },
        hasEditDepartment() {
            return this.getStore('modal.org.department.edit');
        },
    },
    watch: {
        hasAddDepartment(val) {
            if (typeof this.organization.id === 'number') {
                this.show = val.includes(this.organization.id);
            }
        },
        hasEditDepartment(val) {
            if (typeof this.department_id === 'number') {
                this.show = val.includes(this.department_id);
            }
        },
        'organization.id': function () {
            this.changeProps();
        },
        department_id() {
            this.changeProps();
        },
    },
    created() {
        this.department = deepClone(defDepartment);
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        submit() {
            const formData = new FormData();
            formData.append('name', this.department.name);
            formData.append('popularity', this.department.popularity);
            formData.append('show', this.department.show ? 1 : 0);
            formData.append('organization_id', this.organization.id);

            if (this.parent_id) {
                formData.append('parent_id', this.parent_id);
            }
            if (this.department_id) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');

                this.updateDepartment(formData);
            } else {
                this.createDepartment(formData);
            }
        },
        createDepartment(formData) {
            const url = `/api/v1/organizations/${this.organization.id}/departments`;
            this.showProcessMessage('save');
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');
                    this.refreshDepartment();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        updateDepartment(formData) {
            const url = `/api/v1/organizations/${this.organization.id}/departments/${this.department_id}`;
            this.showProcessMessage('save');
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');
                    this.refreshDepartment();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        changeProps() {
            if ((typeof this.organization.id === 'number' && this.organization.id)
                && (typeof this.department_id === 'number' && this.department_id)) {
                this.getDepartment();
            }
        },
        getDepartment() {
            const url = `/api/v1/organizations/${this.organization.id}/departments/${this.department_id}`;
            this.$
            this.$axios.get(url, {},
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((respose) => {
                    this.$
                    this.department = respose.data.data.department;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn) {

            this.spinner[btn] = false;
            this.success = true;
            this.invalid = {};
            setTimeout(() => {
                this.success = false;
            }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (typeof e.response.status !== 'undefined' && e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        refreshDepartment() {
            if (typeof this.organization.id === 'number') {
                const update = this.getStore('update.org.department');
                if (!update.includes(this.organization.id)) {
                    update.push(this.organization.id);
                }
                this.setStore({ key: 'update.org.department', data: update });
            }
        },
        modalHide() {
            this.clearModal();
            if (typeof this.department_id === 'number' && this.department_id) {
                if (this.hasEditDepartment.includes(this.department_id)) {
                    this.hasEditDepartment.pop(this.department_id);
                }
                this.setStore({ key: 'modal.org.department.edit', data: this.hasEditDepartment });
            } else if (typeof this.organization.id === 'number' && this.organization.id) {
                if (this.hasAddDepartment.includes(this.organization.id)) {
                    this.hasAddDepartment.pop(this.organization.id);
                }
                this.setStore({ key: 'modal.org.department.add', data: this.hasAddDepartment });
                this.department = deepClone(defDepartment);
            }
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>
