<template>
    <div
        class="modal fade"
        :class="showModal ? 'show' : ''"
        :style="showModal ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-xl"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        {{ page_id ? 'Редактирование страницы организации' : 'Создание страницы организации' }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="url-adress"
                                        class="title gray"
                                    >URL адрес</label>
                                    <input
                                        id="url-adress"
                                        v-model="page.url"
                                        class="form-control"
                                        :class="('url' in invalid) ? 'is-invalid' : ''"
                                        type="text"
                                    >
                                    <div
                                        v-if="'url' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.url"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="title-name"
                                        class="title gray"
                                    >Название</label>
                                    <input
                                        id="title-name"
                                        v-model="page.title"
                                        class="form-control"
                                        :class="('title' in invalid) ? 'is-invalid' : ''"
                                        type="text"
                                    >
                                    <div
                                        v-if="'title' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.title"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label
                                        for="title-label"
                                        class="title gray"
                                    >Label</label>
                                    <input
                                        id="title-label"
                                        v-model="page.label"
                                        class="form-control"
                                        :class="('label' in invalid) ? 'is-invalid' : ''"
                                        type="text"
                                    >
                                    <div
                                        v-if="'label' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.label"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <page-files-upload
                                    :organization_id="organization_id"
                                    :page_id="page_id"
                                    :documents="page.documents"
                                    :delete-document="deleteDocument"
                                    :save-document="saveDocument"
                                />
                            </div>
                        </div>

                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <label class="title gray upper">Контент</label>
                                <htmlEditor
                                    :content.sync="page.content"
                                    name="content"
                                    :class="('content' in invalid) ? 'is-invalid' : ''"
                                />
                                <div
                                    v-if="'content' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.content"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-32">
                            <div class="col-lg-10 m-auto">
                                <label class="title gray upper">Meta</label>
                                <textarea
                                    v-model="page.meta"
                                    name="text"
                                    class="form-control"
                                    :class="('meta' in invalid) ? 'is-invalid' : ''"
                                />
                                <div
                                    v-if="'meta' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.meta"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <SuccessError :show="{ not_success, success }" />
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        :disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submitPages()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ page_id ? "Обновить" : "Создать" }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import htmlEditor from '@base/components/base/vueEditor';
import { defPage } from '@base/inc/defaults/app';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import pageFilesUpload from './base/FilesUpload.vue';

export default {
    name: 'DinamicPages',
    components: {
        htmlEditor,
        pageFilesUpload,
        SuccessError,
    },
    mixins: [Proccess],
    props: {
        organization_id: {
            type: Number,
            default: 0,
        },
        page_id: {
            type: Number,
            default: 0,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_organization_pages: false,
                };
            },
        },
        showModal: Boolean,
        closeDinamicPage: {
            type: Function,
            default: () => {},
        },
        changePageList: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            page: {
                ...defPage,
            },
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },

    watch: {
        page_id(val) {
            if (typeof val === 'number' && val) {
                this.changeProp();
            }
        },

    },
    mounted() {
        this.changeProp();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        changeProp() {
            if ((typeof this.organization_id === 'number' && this.organization_id)
            && (typeof this.page_id === 'number' && this.page_id)) {
                this.getPage();
            }
        },
        getPage() {

            this.$axios.get(`/api/v1/organizations/${this.organization_id}/pages/${this.page_id}`,
                { headers: { 'Content-type': 'multipart/form-data' } })
                .then((response) => {

                    this.page = response.data.data.page;
                })
                .catch(() => {

                })
                .finally(() => {});
        },
        modalHide() {
            this.closeDinamicPage();
            this.page = { ...defPage };
            this.clearMixModal();
        },
        submitPages() {
            this.savePages();
        },
        savePages() {
            const formData = new FormData();
            formData.append('meta', this.page.meta);
            formData.append('url', this.page.url);
            formData.append('label', this.page.label);
            formData.append('title', this.page.title);
            formData.append('content', this.page.content);
            if (typeof this.page.document !== 'undefined' && this.page.document) {
                formData.append('documents', [this.page.document]);
            } else {
                formData.append('documents', '');
            }
            if (this.page_id) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');
                this.updatePages(formData);
            } else {
                this.addPages(formData);
            }
        },
        updatePages(formData) {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            this.$axios.post(`/api/v1/organizations/${this.organization_id}/pages/${this.page_id}`, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.changePageList(this.page);
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {

                });
        },
        addPages(formData) {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            this.$axios.post(`/api/v1/organizations/${this.organization_id}/pages`, formData,
                { headers: { 'Content-type': 'multipart/form-data' } })
                .then((response) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.changePageList(response.data.data.page);
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    //console.log(error);
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {});
        },
        handleFileUpload() {
            [this.page.document] = this.$refs.document.files;
        },
        deleteDocument(document) {
            this.page.documents = this.page.documents.filter((doc) => doc.id !== document);
        },
        saveDocument(document) {
            this.page.documents = document;
        },
    },
};
</script>
