<template>
    <popup :caption="'Обновить настройки'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Название</label>
                        <input
                            class="form-control"
                            :class="('name' in errors) ? 'is-invalid' : ''"
                            type="text"
                            name="name"
                            v-model="test.name"
                        />
                        <valid-sign
                            :name="'name'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Количество попыток</label>
                        <input
                            class="form-control"
                            :class="('count_attempts' in errors) ? 'is-invalid' : ''"
                            type="number"
                            name="count_attempts"
                            v-model="test.params.count_attempts"
                        />
                        <valid-sign
                            :name="'count_attempts'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Время прохождения теста</label>
                        <input
                            class="form-control"
                            :class="('lead_time' in errors) ? 'is-invalid' : ''"
                            type="number"
                            v-model="test.lead_time"
                        />
                        <valid-sign
                            :name="'lead_time'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Проходной балл</label>
                        <input
                            class="form-control"
                            :class="('passing_score' in errors) ? 'is-invalid' : ''"
                            type="number"
                            v-model="test.passing_score"
                        />
                        <valid-sign
                            :name="'passing_score'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.denied_see_attempt"
                            v-b-tooltip="'Если включить - пользователь не сможет просматривать страницу со своими ответами.'"
                            switch
                        >
                            Запретить просматривать попытку после завершения
                        </b-form-checkbox>
                    </div>

                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.see_result_questions"
                            v-b-tooltip="'Если включить - система подсветит правильные ответы.'"
                            switch
                        >
                            Просматривать правильные ответы
                        </b-form-checkbox>
                    </div>

                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.change_answers"
                            switch
                        >
                                Изменять ответы в процессе выполнения
                        </b-form-checkbox>
                    </div>

                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.municipal_tutor_attach_result"
                            v-b-tooltip="'Проверяющий из муниципалитета сможет прикрепить скан проверки работы. При просмотре списка попыток теста пользователь будет видеть поле Оценочные листы'"
                            switch
                        >
                            Тест проверяется муниципалитетом?
                        </b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.municipal_tutor_attach_question_result"
                            switch
                            v-b-tooltip="'В том случае если ребенок пишет ответ на листе и потом прикрепляет фото ответа, а оригинал отдает проверяющим'"
                        >
                            Проверяющий может прикреплять ответы ребенка в вопросы с типом "Свободный ответ"?
                        </b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.params.municipal_tutor_save_answer_files"
                            switch
                            v-b-tooltip="'Если в тесте есть ответы в свободной форме'"
                        >
                            Проверяющий может скачивать ответы в архив?
                        </b-form-checkbox>
                    </div>
                    <div class="form-group">
                        <b-form-checkbox
                            switch
                            v-model="test.params.municipal_tutor_save_users_list"
                        >
                            Проверяющий может скачивать список логинов отвечающих?
                        </b-form-checkbox>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата начала теста</label>

                        <datetime
                            format="YYYY-MM-DD H:i:s"
                            v-model="test.start_time_availability"
                            :class="('start_time_availability' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'start_time_availability'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата окончания теста</label>

                        <datetime
                            format="YYYY-MM-DD H:i:s"
                            v-model="test.end_time_availability"
                            :class="('end_time_availability' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'end_time_availability'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="test.protected"
                        >
                            Защитить тест паролем
                        </b-form-checkbox>
                    </div>
                    <div class="form-group" v-if="test.protected">
                        <label>Пароль</label>
                        <input
                            class="form-control"
                            :class="('password' in errors) ? 'is-invalid' : ''"
                            type="password"
                            v-model="test.password"
                        />
                        <valid-sign
                            :name="'password'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>

import { createNamespacedHelpers } from 'vuex';
import { defTestSettings } from '@base/inc/defaults/app';
import datetime from '@base/components/base/datetime-picker';
import popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

import { update_v2 } from '@base/api/test/test-update';

export default {
    name: 'changeTestSettings',
    components: {
        datetime,
        popup,
        SuccessError,
        validSign,
    },
    mixins: [mixSuccess],
    props: {
        test: {

        }
    },
    data() {
        return {
            errors: {},
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        update() {
            update_v2(this.test.id, this.test).then((response) => {
                if (response.status == 200){
                    this.mixShow('success');
                    this.errors = {};
                }else{
                    this.mixShow('error');
                    this.errors = response.data.errors;
                }
            })
        },
    },
}
</script>
