<template>
    <popup :caption="'Список тестов'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div
                    v-for="quiz in user.quizzes"
                    class="alert alert-secondary fade show mr-2 mb-2"
                >
                    {{ quiz.name }}
                    <i
                        @click="detachQuiz(user.id, quiz.id)"
                        class="fa fa-trash pointer ml-2"
                    />
                </div>
            </div>
        </template>
        <template v-slot:footer>
        </template>
    </popup>
</template>

<script>
import Popup from "@base/components/base/Popup";
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';


export default {
    name: 'testReviewersPopup',
    props: {
        user: {
            type: Object,
            default: () => ({}),
        },
    },
    mixins: [mixSuccess],
    components: {
        Popup,
        SuccessError,
        validSign,
    },
    data() {
        return {

        }
    },
    computed: {

    },
    watch: {

    },
    methods: {
        detachQuiz(user_id, quiz_id) {
            this.$emit("detachQuiz", user_id, quiz_id);
        },
        closePopup() {
            this.$emit("closePopup");
        }
    },
    async created() {

    },
}
</script>
