<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Добавить индикатор
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="col-lg-12 mb-2">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Индикатор</td>
                                    <td>Формула</td>
                                    <td>Уровней</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tr
                                    v-for="(indicator, id) in indicators"
                                    :key="id"
                                >
                                    <td>
                                        {{ indicator.id }}
                                    </td>
                                    <td>
                                        {{ indicator.name }}
                                    </td>
                                    <td>{{ indicator.formula }}</td>
                                    <td>{{ indicator.levels ? indicator.levels.length : 0 }}</td>
                                    <td>
                                        <button
                                            class="btn"
                                            @click="addIndicator(indicator)"
                                        >
                                            Добавить
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-12 d-flex mb-2">
                            <b-pagination
                                v-model="page"
                                :total-rows="pagination.total"
                                :per-page="pagination.perPage"
                                aria-controls="my-table"
                                class="m-auto"
                            ></b-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import { getIndicators } from '@base/api/indicators.js';

    export default {
        name: 'AdminTestAddIndicator',
        data(){
            return {
                indicators: [],
                pagination: {
                    currentPage: 1,
                    total: 0,
                    perPage: 12
                },
                page: 1,
            }
        },
        props: {
            testIndicators: {
                type: Array,
                default: [],
            },
            show: false
        },
        created() {
            this.getIndicators();
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            addIndicator(indicator) {
                update(this.$route.params.test_id, {
                    'action': 'add-indicator',
                    'indicator_id': indicator.id
                }).then((data) => {
                    this.closePopup();
                })
            },
            getIndicators(){
                getIndicators({
                    page: this.page,
                    'with[]': 'levels'
                }).then(response => {
                    this.indicators = response.data.data.indicators.data;
                    this.pagination.total = response.data.data.indicators.total;
                })
            }
        }
    };
</script>
