<template>
    <popup :caption="'Список пользователей'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row mb-3">
                <div
                    class="col-lg-3"
                >
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            v-model="filter.login"
                            placeholder="Логин..."
                        />
                        <div class="input-group-append">
                            <a
                                class="input-group-text pointer"
                                @click="loadUsers"
                            >
                                <i class="fa fa-search"/>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <table
                class="table"
            >
                <thead>
                    <tr>
                       <td>#</td>
                       <td>Логин</td>
                       <td>ФИО</td>
                       <td>Организации</td>
                       <td>Попытки</td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="user in users.data"
                    >
                        <td>{{ user.id }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.fio }}</td>
                        <td>
                            <div
                                v-for="org in user.organizations"
                            >
                                {{org.name}}
                            </div>
                        </td>
                        <td>
                            <div
                                v-for="quiz_attempt in user.quiz_attempts"
                            >
                                {{ quiz_attempt.id }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                class="row py-2"
                v-if="users.last_page > 1"
            >
                <b-pagination
                    v-model="users.page"
                    :total-rows="users.total"
                    :per-page="users.per_page"
                    class="m-auto"
                ></b-pagination>
            </div>
        </template>
    </popup>
</template>

<script>
import Popup from "@base/components/base/Popup";

export default {
    name: 'OrgTestAccessPopup',
    components: {
        Popup,
    },
    props: {
        access: {
            type: Object,
            default: {

            }
        }
    },
    data() {
        return {
            filter: {
                login: ''
            },
            users: {
                data: [],
                page: 1,
                total: 0,
                per_page: 15,
                last_page: 1
            }
        }
    },
    watch: {
        'users.page': function() {
            this.loadUsers()
        },
        'filter.login': function (){
            if (this.filter.login == ""){
                this.loadUsers()
            }
        }
    },
    created() {
        this.loadUsers()
    },
    methods: {
        closePopup(){
            this.$emit("closePopup");
        },
        loadUsers(){
            axios.get('/api/v1/quiz-access/' + this.access.id, {
                    params: {
                        page: this.users.page,
                        qty: this.users.per_page,
                        'filter[login]': this.filter.login
                    }
                })
                .then(response => {
                    this.users.data = response.data.data.users.data;
                    this.users.total = response.data.data.users.total;
                    this.users.last_page = response.data.data.users.last_page;
                })
        }
    }
};
</script>

<style scoped>

</style>
