<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Доступ пользователей к тесту {{ access.quiz.name ? access.quiz.name : '' }} (#{{ access.id }})
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Пользователи добавленные к доступу {{ access.users ? access.users.length : '0' }} из {{ access.count }} </label>
                                    </div>
                                    <div class="col-lg-12">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>ФИО</td>
                                                <td>Email</td>
                                                <td></td>
                                            </tr>
                                            </thead>
                                            <tr v-for="user in access.users">
                                                <td>{{ user.model.id }}</td>
                                                <td>{{ user.model.firstname }} {{ user.model.lastname }}</td>
                                                <td>{{ user.model.email }}</td>
                                                <td>
                                                    <a
                                                        @click="deleteUserFromAccess(user.model)"
                                                        class="btn fa fa-trash"
                                                    />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row" v-if="access.users && access.users.length < access.count">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Поиск по пользователям в организации <b>{{ access.model.name }}</b></label>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    v-model="user_search"
                                                />
                                                <div class="input-group-append">
                                                    <a
                                                        class="input-group-text pointer"
                                                        @click="getUsers"
                                                    >
                                                        <i class="fa fa-search"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>ФИО</td>
                                                <td>Email</td>
                                                <td></td>
                                            </tr>
                                            </thead>
                                            <tr v-for="user in users_list.data">
                                                <td>{{ user.id }}</td>
                                                <td>{{ user.firstname }} {{ user.lastname }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>
                                                    <a
                                                        v-if="(access.users.filter((row) => { return row.model.id == user.id }).length == 0)"
                                                        @click="addUser(user)"
                                                        class="btn fa fa-plus-circle"
                                                    />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 row py-2">
                                        <b-pagination
                                            v-model="users_list.current_page"
                                            :total-rows="users_list.total"
                                            :per-page="users_list.per_page"
                                            aria-controls="my-table"
                                            class="m-auto"
                                        ></b-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="m-auto py-2">
                                <a
                                    @click="closePopup"
                                    class="btn btn-success"
                                >
                                    Готово
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import { getUsers } from '@base/api/user';

    export default {
        name: "testAccessUsers",
        props: {
            show: {
                type: Boolean,
                default: false,
            },
            access: {
                type: Object,
                default: {
                    id: null,
                    quiz: {
                        name: ''
                    },
                    users: []
                }
            }
        },
        data() {
            return {
                user_search: '',
                users_list: {
                    current_page: 1,
                    per_page: 10,
                },
            }
        },
        watch: {
            'users_list.current_page': function (){
                this.getUsers();
            },
            show: function (){
                if (this.show){
                    this.getUsers();
                }
            }
        },
        methods: {
            deleteUserFromAccess(user){
                let data = {};
                data.quiz_access_id = this.access.id;
                data.organization_id = this.access.model.id;
                data.action = 'remove-access-organization-select-user';
                data.user_id = user.id;
                update(this.access.quiz_id, data).then((response) => {
                    if (response.status == 200){
                        this.access.users = response.data.data.result.users
                    }else{

                    }
                });
            },
            addUser(user){

                let data = {};
                data.quiz_access_id = this.access.id;
                data.organization_id = this.access.model.id;
                data.action = 'add-access-organization-select-user';
                data.user_id = user.id;
                update(this.access.quiz_id, data).then((response) => {
                    if (response.status == 200){
                        this.access.users = response.data.data.result.users
                    }else{

                    }
                });
            },
            getUsers(){
                getUsers({
                    attached: 1,
                    organization_id: this.access.model.id,
                    search: this.user_search,
                    page: this.users_list.current_page,
                    qty: this.users_list.per_page
                }).then((response) => {
                    this.users_list = response;
                });
            },
            closePopup() {
                this.$emit('closePopup');
            },
        }
    }
</script>
