<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Создать тест
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 m-auto">
                            <div class="form-group">
                                <label>Тест</label>
                                <input
                                    v-model="test.name"
                                    class="form-control m-auto"
                                    type="text"
                                    :class="('name' in errors) ? 'is-invalid' : ''"
                                >
                                <valid-sign
                                    :name="'name'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="form-group">
                                <label>Минут отведено на тестирование</label>
                                <input
                                    v-model="test.lead_time"
                                    class="form-control mb-2"
                                    type="number"
                                    :class="('lead_time' in errors) ? 'is-invalid' : ''"
                                >
                                <valid-sign
                                    :name="'lead_time'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="form-group">
                                <label>C какого момента тест доступен</label>
                                <datetime
                                    type="datetime"
                                    v-model="test.start_time_availability"
                                    :class="('test.start_time_availability' in errors) ? 'is-invalid' : ''"
                                />
                                <valid-sign
                                    :name="'start_time_availability'"
                                    :invalid="errors"
                                />
                            </div>
                            <div class="form-group">
                                <label>C какого момента тест не доступен</label>
                                <datetime
                                    format="YYYY-MM-DD H:i"
                                    v-model="test.end_time_availability"
                                    :class="('test.end_time_availability' in errors) ? 'is-invalid' : ''"
                                />
                                <valid-sign
                                    :name="'end_time_availability'"
                                    :invalid="errors"
                                />
                            </div>




                            <button
                                class="form-control mt-20 btn btn-red m-auto"
                                @click="addTest()"
                            >
                                Добавить
                            </button>
                        </div>
                        <div class="col-lg-12 mt-3" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { createOrganizationTest } from '@base/api/organization';
    import dateManager from '@base/inc/func/dateManager/index';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import validSign from '@base/components/base/validSign';
    import datetime from '@base/components/base/datetime-picker';

    export default {
        name: 'AdminTestCreate',
        props: {
            show: false,
            organization_id: null,
        },
        mixins: [mixSuccess],
        components: {
            SuccessError,
            validSign,
            datetime,
        },
        data(){
            return {
                test: {
                    name: '',
                    type_id: 0,
                    lesson_id: 0,
                    lead_time: 0,
                    start_time_availability: '',
                    end_time_availability: '',
                },
                errors: {

                }
            }
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            addTest() {
                var data = this.test;
                data.action = 'create-quiz';
                data._method = 'PATCH';
                createOrganizationTest(this.organization_id, data).then(response => {
                    this.mixShow('success');
                    this.errors = {}
                }).catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
            }
        }
    };
</script>

<style scoped>

</style>
