<template>
    <popup
        :caption="'Добавить доступ'" @closePopup="closePopup"
    >
        <template v-slot:body>
            <div v-if="type == null" class="row">
                <div
                    v-for="(t,k) in types"
                    class="col-lg-4 d-flex flex-column"
                >
                    <a
                        class="btn mb-4"
                        @click="selectType(k)"
                    >
                        {{ t }}
                    </a>
                </div>
            </div>
            <div v-if="type == 'all'" class="row">
                <h3>Доспут будет добавлен ко всем организациям</h3>
            </div>
            <div
                v-if="type == 'district' || type == 'organization'"

            >
                <div
                    class="form-group"
                >
                    <label>Район</label>
                    <select
                        class="form-control"
                        v-model="district_select"
                        :class="('district_select' in errors) ? 'is-invalid' : ''"
                    >
                        <option :value='null'>Выбрать район</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                    <valid-sign
                        :name="'district_select'"
                        :invalid="errors"
                    />
                </div>

            </div>
            <div v-if="type == 'organization' && district_select" >
                <div class="form-group">
                    <label>Организация</label>
                    <select
                        class="custom-select"
                        required
                        v-model="organization_select"
                        :class="('organization_select' in errors) ? 'is-invalid' : ''"
                    >
                        <option value="null">Выбрать...</option>
                        <option v-for="organization in organizations"
                                :value="organization.id"
                        >
                            {{ organization.name }}
                        </option>
                    </select>
                    <valid-sign
                        :name="'organization_select'"
                        :invalid="errors"
                    />
                </div>
            </div>
            <div class="col-lg-12" v-if="errors">
                <SuccessError :show="{success, not_success, invalid, msg}" />
            </div>
        </template>
        <template v-slot:footer>
            <a
                v-if="type != null"
                class="btn"
                @click="resetData"
            >
                 Назад
            </a>
            <a
                v-if="type != null"
                class="btn btn-success"
                @click="save"
            >
                Сохранить
            </a>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../../base/Popup';
import { createNamespacedHelpers } from 'vuex';
import { update } from '@base/api/test/test-update';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

const organization = createNamespacedHelpers('organization');

export default {
    name: "testAddResultAccess",
    components: {
        Popup,
        SuccessError,
        validSign,
    },
    mixins: [mixSuccess],
    data() {
        return {
            type: null,
            types: {
                all: 'Все организации',
                district: 'Район',
                organization: 'Организация',
            },
            district_select: null,
            organization_select: null,
            districts: {
                data: []
            },
            errors: {}
        }
    },
    props: {
        test: {},
    },
    computed: {
        ...organization.mapGetters({
            organizations: 'ORGANIZATIONS',
        }),
    },
    watch: {
        type: function (val){
            console.log(this.type);
            if ((this.type == 'district' || this.type == 'organization') && this.districts.data.length == 0){
                this.getDistricts();
            }
        },
        district_select: function (val){
            if (this.type == 'organization'){
                this.getEduOrganizations({
                    per_page: 999,
                    type: 'EDU,VIRO',
                    page: 1,
                    district: this.district_select,
                    with: [
                        'roles',
                        'userCardTemplates'
                    ]
                });
            }
        }
    },
    methods: {
        ...organization.mapActions({
            getEduOrganizations: 'GET_ORGANIZATIONS',
        }),
        closePopup() {
            this.resetData();
            this.$emit('closePopup');
        },
        selectType(type) {
            this.type = type;
        },
        resetData(){
            this.type = null;
            this.district_select = null;
            this.errors = { };
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
        save(){
            let data = {};
            data.action = 'add-result-access';
            data.type = this.type;
            data.district_select = this.district_select;
            data.organization_select = this.organization_select;

            update(this.test.id, data).then((response) => {
                if (response.status == 200){
                    this.resetData();
                    this.closePopup();
                } else {
                    this.mixShow('error');
                    this.errors = response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
