<template>
    <popup
        :caption="'Добавить доступ'" @closePopup="closePopup"
    >
        <template v-slot:body>
            <div v-if="type == null" class="row">
                <div class="col-lg-6 d-flex flex-column">
                    <a
                        class="btn mb-4"
                        @click="type = 'organization'"
                    >
                        Ко всей организации
                    </a>
                    <a
                        class="btn mb-4"
                        @click="type = 'organization_select'"
                    >
                        К пользователям организации
                    </a>
                    <a
                        class="btn mb-4"
                        @click="type = 'user';getUsers();"
                    >
                        К любому пользователю
                    </a>
                </div>
                <div class="col-lg-6 d-flex flex-column">
                    <a
                        class="btn mb-4"
                        @click="type = 'organizations_role'"
                    >
                        К пользователям всех организаций с определенной ролью
                    </a>
                    <a
                        class="btn mb-4"
                        @click="type = 'organization_role'"
                    >
                        К пользователям организации с определенной ролью
                    </a>
                    <a
                        class="btn mb-4"
                        @click="type = 'organization_card'"
                    >
                        К пользователям организации с определенной карточкой
                    </a>
                    <a
                        class="btn mb-4"
                        @click="type = 'users_card_dynamic_filter'"
                    >
                        К пользователям системы с динамичным фильтром по карточкам
                    </a>
                </div>
            </div>

            <div
                v-if="type == 'organization'
                        || type == 'organization_select'
                        || type == 'organization_role'
                        || type == 'organization_card'
                        || type == 'organization_card_filter'
                    "
            >
                <div
                    class="form-group"
                >
                    <select
                        class="form-control"
                        v-model="district_select"
                    >
                        <option :value='null'>Выбрать район</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                </div>
            </div>


            <div v-if="type == 'organization'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization"
                        >
                            <option value="null">Выбрать...</option>
                            <option v-for="organization in organizations"
                                    :value="organization"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-if="type == 'organization_select'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization"
                        >
                            <option value="null">Выбрать...</option>
                            <option v-for="organization in organizations"
                                    :value="organization"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Кол-во пользователей</label>
                        <input
                            type="number"
                            min="0"
                            class="form-control"
                            v-model="organization_select_users_count"
                        />
                    </div>
                </div>
            </div>

            <div v-if="type == 'organization_role'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization"
                        >
                            <option value="null">Выбрать...</option>
                            <option v-for="organization in organizations"
                                    :value="organization"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Роль</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization_role_id"
                        >
                            <option value="null">Выбрать...</option>
                            <option
                                v-for="role in organization.roles"
                                :value="role.id"
                            >
                                {{ role.label }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-if="type == 'organizations_role'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Роль</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization_role_id"
                        >
                            <option value="null">Выбрать...</option>
                            <option
                                v-for="role in roles"
                                :value="role.id"
                            >
                                {{ role.label }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-if="type == 'organization_card'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization"
                        >
                            <option value="null">Выбрать...</option>
                            <option v-for="organization in organizations"
                                    :value="organization"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Карточка</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization_user_card_templates_id"
                        >
                            <option value="null">Выбрать...</option>
                            <option
                                v-for="card in organization.user_card_templates"
                                :value="card.id"
                            >
                                {{ card.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-if="type == 'organization_card_filter'" class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Организация</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization"
                        >
                            <option value="null">Выбрать...</option>
                            <option v-for="organization in organizations"
                                    :value="organization"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Карточка</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization_user_card_templates_id"
                        >
                            <option value="null">Выбрать...</option>
                            <option
                                v-for="card in organization.user_card_templates"
                                :value="card.id"
                            >
                                {{ card.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6" v-if="cardTemplate.fields">
                    <div class="form-group">
                        <label>Поле</label>
                        <div class="input-group">
                            <select
                                class="form-control"
                                v-model="cardTemplateField"
                            >
                                <option value="null">Выбрать...</option>
                                <option
                                    v-for="field in cardTemplate.fields"
                                    :value="field"
                                >
                                    {{ field.name }}
                                </option>
                            </select>
                            <div class="input-group-append">
                                            <span
                                                class="input-group-text pointer"
                                                @click="addFilter"
                                            >
                                                <i class="fa fa-plus" />
                                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="pb-2"
                v-if="type == 'organization_card_filter'"
            >
                <div
                    class="border rounded m-2 p-2 shadow-sm row mb-2 filter-box"
                    v-for="(filter,key) in filters"
                    :key="'filter_'+key"
                >
                    <div class="col-lg-4">
                        {{ filter.field.name }}
                    </div>
                    <div
                        class="col-lg-6"
                    >
                        <div
                            v-for="(f,j) in filter.data"
                            class="form-group"
                            :key="'filter_'+key+'_'+j"
                        >
                            <label v-if="j > 0">
                                или
                            </label>
                            <div class="input-group mb-3">

                                <input
                                    v-if="filter.field.type == 'text' || filter.field.type == 'date' || filter.field.type == 'number'"
                                    class="form-control"
                                    :type="filter.field.type"
                                    v-model="filters[filter.field.id].data[j]"
                                />
                                <input
                                    v-if="filter.field.type == 'checkbox'"
                                    class="custom-checkbox"
                                    :type="filter.field.type"
                                    v-model="filters[filter.field.id].data[j]"
                                />
                                <textarea
                                    class="form-control"
                                    v-if="filter.field.type == 'textarea'"
                                    :type="filter.field.type"
                                    v-model="filters[filter.field.id].data[j]"
                                />
                                <select
                                    class="form-control"
                                    v-if="filter.field.type == 'select'"
                                    v-model="filters[filter.field.id].data[j]"
                                >
                                    <option v-for="row in filter.field.data" :value="row">{{row}}</option>
                                </select>


                                <div class="input-group-append">
                                                <span
                                                    @click="removeFilterData(filter.field.id, j)"
                                                    class="pointer input-group-text"
                                                >
                                                    <i class="fa fa-trash"/>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-lg-2 d-flex"
                    >
                        <i
                            @click="deleteFilter(key, filter)"
                            class="ml-auto fa fa-trash pointer"
                        />
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="m-auto">
                        <a
                            v-if="Object.keys(filters).length > 0"
                            @click="loadUserVsFilters"
                            class="btn btn-success"
                        >
                            Поиск
                        </a>
                    </div>
                </div>
                <div
                    class="row pb-2"
                    v-if="Object.keys(filters).length > 0"
                >
                    <div
                        v-if="users_list.total"
                        class="col-lg-12"
                    >
                        <label>
                            Кол-во пользователей которым будет добавлен доступ к тесту: <b>{{ users_list.total }}</b>
                        </label>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>ФИО</td>
                                <td>Email</td>
                            </tr>
                            </thead>
                            <tr v-for="user in users_list.data">
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstname }} {{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div
                    class="row"
                    v-if="Object.keys(filters).length > 0"
                >
                    <b-pagination
                        v-model="users_list.current_page"
                        :total-rows="users_list.total"
                        :per-page="users_list.per_page"
                        aria-controls="my-table"
                        class="m-auto"
                    ></b-pagination>
                </div>
            </div>

            <div v-if="type == 'user'" class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Поиск</label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                v-model="user_search"
                            />
                            <div class="input-group-append">
                                <a
                                    class="input-group-text pointer"
                                    @click="getUsers"
                                >
                                    <i class="fa fa-search"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <label v-if="users.length > 0">Выбранные пользователи</label>
                    <div class="d-flex flex-wrap">
                        <div
                            class="alert alert-secondary fade show d-flex mr-1 mb-1"
                            v-for="(u,k) in users"
                        >
                            <div>
                                {{ users_fio[u] ? users_fio[u].fio : u }}
                            </div>
                            <div class="ml-2">
                                <a
                                    @click="deleteUser(k)"
                                    class="fa fa-trash"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>ФИО</td>
                            <td>Email</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tr v-for="user in users_list.data">
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }} {{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a
                                    @click="addUser(user)"
                                    class="btn fa fa-plus-circle"
                                />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 row py-2">
                    <b-pagination
                        v-model="users_list.current_page"
                        :total-rows="users_list.total"
                        :per-page="users_list.per_page"
                        aria-controls="my-table"
                        class="m-auto"
                    ></b-pagination>
                </div>
            </div>


            <div
                v-if="type == 'users_card_dynamic_filter'"
                class="row"
            >
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Карточка</label>
                        <select
                            class="custom-select"
                            required
                            v-model="organization_user_card_templates"
                        >
                            <option value="null">Выбрать...</option>
                            <option
                                v-for="card in userCardTemplates.data"
                                :value="card"
                            >
                                {{ card.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div
                    v-if="organization_user_card_templates && organization_user_card_templates.fields"
                    class="col-lg-12"
                >
                    <div
                        class="form-group"
                        v-for="(filter,key) in filters"
                    >
                        <label>{{filter.field.name}}</label>
                        <input
                            v-if="filter.field.type == 'text' || filter.field.type == 'date' || filter.field.type == 'number'"
                            class="form-control"
                            :type="filter.field.type"
                            v-model="filters[filter.field.id].data"
                        />
                        <input
                            v-if="filter.field.type == 'checkbox'"
                            class="custom-checkbox"
                            :type="filter.field.type"
                            v-model="filters[filter.field.id].data"
                        />
                        <textarea
                            class="form-control"
                            v-if="filter.field.type == 'textarea'"
                            :type="filter.field.type"
                            v-model="filters[filter.field.id].data"
                        />
                        <select
                            class="form-control"
                            v-if="filter.field.type == 'select'"
                            v-model="filters[filter.field.id].data"
                        >
                            <option v-for="row in filter.field.data" :value="row">{{row}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-if="errors" class="row">
                <div class="col-lg-3" v-for="error in errors">
                    <div v-for="row in error">
                        {{ row }}
                    </div>
                </div>
            </div>
            <div v-if="type != null" class="row">

                <div class="m-auto">
                    <a
                        class="btn mr-2"
                        @click="selectType"
                    >
                        Назад
                    </a>
                    <a
                        class="btn btn-success ml-2"
                        @click="createAccess"
                    >
                        Добавить
                    </a>
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
    import Popup from '../../../../base/Popup';
    import { getCardTemplateById } from '@base/api/user-card';
    import { update } from '@base/api/test/test-update';
    import { getUsers } from '@base/api/user';
    import { getCardTemplate } from '@base/api/user-card';

    import { createNamespacedHelpers } from 'vuex';

    const organization = createNamespacedHelpers('organization');
    export default {
        name: "testAddAccess",
        components: {
            Popup
        },
        data() {
            return {
                type: null,
                district_select: {

                },
                roles: {},
                organization: {
                    roles: []
                },
                organization_role_id: null,
                organization_user_card_templates_id: null,
                organization_user_card_templates: null,
                users: [],
                users_fio: [],
                users_list: {
                    current_page: 1,
                    per_page: 10,
                },
                organization_select_users_count: 0,
                errors: [],
                user_search: '',
                cardTemplate: {},
                cardTemplateField: {},
                filters: {},
                userCardTemplates: {
                    data: [

                    ],
                    per_page: 999,
                    current_page: 1
                },
                districts: {
                    data: []
                },
            }
        },
        props: {
            test: {

            },
            show: {
                type: Boolean,
                default: false,
            }
        },
        watch: {
            'district_select': function (){
                this.getEduOrganizations({
                    per_page: 999,
                    type: 'EDU,VIRO',
                    page: 1,
                    district: this.district_select,
                    with: [
                        'roles',
                        'userCardTemplates'
                    ]
                });
            },
            organization_user_card_templates_id: function (){
                if (this.type == 'organization_card_filter'){
                    getCardTemplateById(this.organization_user_card_templates_id, {}).then((data) => {
                        this.cardTemplate = data.userCardTemplate;
                    })
                }
            },
            'users_list.current_page': function (){
                this.getUsers();
            },
            type: function (){
                if (this.type == 'users_card_dynamic_filter'){
                    this.getCards();
                }
                if (this.type == 'organizations_role'){
                    this.$axios.get('/api/v1/role')
                    .then((response) => {
                        this.roles = response.data.data.roles
                    })
                }
            },
            organization_user_card_templates: function (){
                this.filters = {};
                this.organization_user_card_templates.fields.forEach(f => {
                    if (!(this.filters[f.id] && this.filters[f.id].field)){
                        this.filters[f.id] = {};
                        this.filters[f.id].field = f;
                        this.filters[f.id].data = null;
                    }
                    this.$forceUpdate();
                })
            }
        },
        created() {
            this.getDistricts();
        },
        computed: {
            ...organization.mapGetters({
                organizations: 'ORGANIZATIONS',
            }),
        },
        methods: {
            ...organization.mapActions({
                getEduOrganizations: 'GET_ORGANIZATIONS',
            }),
            getCards(){
                getCardTemplate({
                    qty: this.userCardTemplates.per_page,
                    page: this.userCardTemplates.current_page,
                    with: [
                        'fields',
                    ]
                }).then((response) => {
                    this.userCardTemplates = response.userCardTemplates;
                });
            },
            getDistricts(){
                axios.get('/api/v1/districts', {params: {
                        qty: 999
                    }})
                    .then((response) => {
                        this.districts.data = response.data.data.districts.data;
                    });
            },
            loadUserVsFilters(){
                var filter = {};
                filter['organization_id'] = this.organization.id;
                filter['card_template_id'] =  this.organization_user_card_templates_id;
                filter['filter[fields]'] = [];

                for (var key in this.filters) {
                    filter['filter[fields]['+key+']'] = this.filters[key].data;
                }

                getUsers(filter).then(response => {
                    this.users_list = response;
                })
            },
            removeFilterData(i,j){
                this.filters[i].data.splice(j, 1);
                this.$forceUpdate();
            },
            addFilter(){
                if (this.cardTemplateField.id){
                    if (!(this.filters[this.cardTemplateField.id] && this.filters[this.cardTemplateField.id].field)){
                        this.filters[this.cardTemplateField.id] = {};
                        this.filters[this.cardTemplateField.id].field = this.cardTemplateField;
                        this.filters[this.cardTemplateField.id].data = [];
                        this.$forceUpdate();
                    }

                    this.filters[this.cardTemplateField.id].data.push('');

                }
                this.cardTemplateField = null;
                this.$forceUpdate();
            },
            deleteFilter(key, filter){
                delete this.filters[key];
                this.$forceUpdate();
            },
            addUser(user){
                if (!this.users.includes(user.id)){
                    this.users.push(user.id);
                    this.users_fio[user.id] = {
                        fio: user.lastname + ' ' + user.firstname
                    };
                }
            },
            deleteUser(k){
                this.users.splice(k,1);
            },
            selectType(){
                this.type = null;
                this.organization = {};
                this.organization_user_card_templates_id = null;
                this.filters = {};
            },
            closePopup() {
                this.selectType();
                this.$emit('closePopup');
            },
            getUsers(){
                getUsers({
                    search: this.user_search,
                    page: this.users_list.current_page,
                    qty: this.users_list.per_page
                }).then((response) => {
                    this.users_list = response;
                });
            },
            reload_popup(){
                this.organization = {};
                this.organization_user_card_templates = {};
                this.type = null;
                this.users = [];
                this.organization_select_users_count = 0;
                this.errors = [];
                this.users_list = {
                    current_page: 1
                };
            },
            createAccess(){
                let data = {};
                data.type = this.type;
                if (this.type == 'organization'){
                    data.action = 'add-access-organization-all';
                    data.organization_id = this.organization.id;
                }
                if (this.type == 'organization_select'){
                    data.action = 'add-access-organization-select';
                    data.organization_id = this.organization.id;
                    data.organization_select_users_count = this.organization_select_users_count;
                }
                if (this.type == 'organization_role'){
                    data.action = 'add-access-organization-role';
                    data.organization_id = this.organization.id;
                    data.organization_role_id = this.organization_role_id;
                }

                if (this.type == 'organizations_role'){
                    data.action = 'add-access-organizations-role'
                    data.organization_role_id = this.organization_role_id;
                }

                if (this.type == 'organization_card'){
                    data.action = 'add-access-organization-card';
                    data.organization_id = this.organization.id;
                    data.organization_user_card_templates_id = this.organization_user_card_templates_id;
                }
                if (this.type == 'user'){
                    data.action = 'add-access-users';
                    data.users = this.users;
                    // this.users.forEach(user => {
                    //     data.users
                    // })
                }
                if (this.type == 'organization_card_filter'){
                    data.action = 'add-access-filter';

                    data.organization_id = this.organization.id;
                    data.card_template_id =  this.organization_user_card_templates_id;
                    data.filter = {};
                    data.filter.fields = {};


                    for (var key in this.filters) {
                        data.filter.fields[key] = this.filters[key].data;
                    }
                }

                if (this.type == 'users_card_dynamic_filter'){
                    data.action = 'add-users-card-dynamic-filter';
                    data.organization_id = this.organization.id;
                    data.card_template_id =  this.organization_user_card_templates.id;

                    data.filter = {};
                    data.filter.fields = {};

                    for (var key in this.filters) {
                        data.filter.fields[key] = this.filters[key].data;
                    }
                }




                update(this.test.id, data).then((response) => {
                    if (response.status == 200){
                        this.reload_popup();
                        this.closePopup();
                    } else {
                        this.errors = response.data.errors;
                    }
                });
            }
        }
    }
</script>
