<template>
    <i
        v-if="props.sortable"
        :class="icon"
        class="float-right float-sm-right pointer fa"
        aria-hidden="true"
    />
</template>

<script>
export default {
    name: 'VtSortControl',
    props: ['props'],
    computed: {
        icon() {
            // sortStatus = { sorted: Boolean, asc: Boolean }
            // if not sorted return base icon
            if (!this.props.sortStatus.sorted) return 'fa-sort';

            // return sort direction icon
            return this.props.sortStatus.asc ? 'fa-sort-up' : 'fa-sort-down';
        },
    },
};
</script>
