<template>
    <div class="container pt-2 pb-4">
        <div class="row">
            <div class="col-lg-10 row no-gutters">
                <div class="mr-2">
                    <div
                        class="avatar avatar96"
                        :style="(organization.logo)
                                            ? 'background-image: url(' + organization.logo + ')'
                                            : 'background-image: url(\'/images/icons/edu_org.svg\')'"
                    />
                </div>
                <div class="col-lg-9 col-xl-10">
                    <div class="title gray fs-14">
                        Организация
                    </div>
                    <div class="d-flex">
                        <div class="fs-32 px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                            <div>
                                {{ organization.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'OrgHeader',
    props: {
        organization: {
            type: Object,
            default: () => {
                return {}
            }
        },
        mapParam: {
            type: Object,
            default: () => {
                return {}
            }
        }
    }
}
</script>
