<template>
    <popup
        :caption="'Запрос на создание пользователей'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="form-group">
                <label>Класс</label>
                <select
                    class="form-control"
                    v-model="class_number"
                >
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select>
            </div>
            <div class="form-group">
                <label>Профиль</label>
                <select
                    class="form-control"
                    v-model="profile"
                    :class="('profile' in errors) ? 'is-invalid' : ''"
                >
                    <option
                        v-for="p in profiles"
                        :value="p"
                    >
                        {{ p }}
                    </option>
                </select>
                <valid-sign
                    :name="'profile'"
                    :invalid="errors"
                />
            </div>
            <div class="form-group">
                <label>Количество детей</label>
                <input
                    type="number"
                    min="1"
                    class="form-control"
                    v-model="users_count"
                >
            </div>

            <div class="row pt-2">
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{not_success}" />
                </div>
            </div>

            <div class="row">
                <div
                    v-for="file in easyImports"
                    class="col-lg-12"
                >
                    <a
                        :href="file.url"
                    >
                        {{ file.name }} <i class="ml-2 fa fa-download"/>
                    </a>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a
                class="btn btn-success"
                @click="submit"
            >
                Скачать
            </a>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: "OrganizationCreateUsersEasyByProfiles",
    components: {
        Popup,
        validSign,
        SuccessError,
    },
    mixins: [mixSuccess],
    props: {
        organization: {
            type: Object,
            default: {
                id: null,
            }
        }
    },
    data(){
       return {
           errors: {},
           profiles: [
               "Биология",
               "Литература",
               "Физика",
               "Испанский язык",
               "Французский язык",
               "История",
               "ОБЖ",
               "Русский язык",
               "Технология",
               "Астрономия",
               "Искусство (мировая художественная культура)",
               "Экология",
               "Экономика",
               "Немецкий язык",
               "География",
               "Право",
               "Математика",
               "Физическая культура",
               "Информатика",
               "Итальянский язык ",
               "Китайский язык",
               "Английский язык",
               "Обществознание",
               "Химия"
           ],
           profile: null,
           class_number: 7,
           users_count: 1,
           easyImports: {

           }
       }
    },
    created() {
        this.getFiles();
    },
    methods: {
        getFiles(){
            this.$axios.get('/api/v2/organizations/'+this.organization.id+'/easy-create-users')
                .then((response) => {
                    this.easyImports = response.data.data.easyImports;
                })
        },
        closePopup() {
            this.$emit('closePopup');
        },
        submit(){
            this.$axios.post('/api/v2/organizations/'+this.organization.id+'/easy-create-users', {
                profile: this.profile,
                class_number: this.class_number,
                users_count: this.users_count,
            }).then((response) => {
                if (response.data.data.file_url){
                    window.open(response.data.data.file_url, '_blank');
                }
                this.getFiles();
                this.errors = {}
            }).catch((error) => {
                this.mixShow('error');
                this.errors = error.response?.data.errors || {};
            })
        }
    }
}
</script>
