<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Запросы
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table
                            id="requests_table"
                            class="table table-bordered"
                        >
                            <tr
                                v-for="item in data.requests.data"
                            >
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="user-avatar small"
                                            :style="item.user.avatar ? `background-image: url(${item.user.avatar.medium})` : ''"
                                        ></div>
                                        <div class="ml-10">
                                            {{ item.user.firstname + " " + item.user.lastname }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <select
                                           @change="changeRequestsStatus(item)"
                                           class="form-control"
                                           v-model="item.status"
                                        >
                                            <option value="created" disabled>Подана</option>
                                            <option value="rejected">Отклонена</option>
                                            <option value="confirmed">Подтверждена</option>
                                        </select>
                                        <div v-if="spinner == item.id">
                                            <b-spinner></b-spinner>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ item.created_at }}
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex">
                            <b-pagination
                                class="m-auto"
                                v-model="page"
                                :total-rows="data.requests.total"
                                :per-page="qty"
                                aria-controls="requests_table"
                            ></b-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { loadPortfolioRequests,changeRequestsStatus } from '@base/api/portfolio';

    export default {
        name: "PortfolioRequests",
        props: {
            show: false,
        },
        data() {
            return {
                spinners: [],
                spinner: 0,
                data: {
                    requests: {
                        data: null,
                        total: 1,
                    }
                },
                page: 1,
                qty: 12,
            };
        },
        watch: {
            page(){
                loadPortfolioRequests({
                    page: this.page,
                    qty: this.qty
                }).then((data) => {
                    this.data = data.data;
                });
            },
            show() {
                if (this.show){
                    loadPortfolioRequests({
                        page: this.page,
                        qty: this.qty
                    }).then((data) => {
                        this.data = data.data;
                    });
                }
            }
        },
        methods: {
            changeRequestsStatus(item){
                this.spinners[item.id] = 1;
                this.spinner = item.id;
                let data = new FormData();
                data.append('status', item.status);
                changeRequestsStatus(data, item.id).then((data) => {
                    //delete this.spinners[item.id];
                    this.spinner = 0;
                }).catch((e) => {
                    //delete this.spinners[item.id];
                    this.spinner = 0;
                });
            },
            closePopup(){
                this.$emit('closePopup');
            },
        }
    }
</script>
