<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ types[currentType] }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body teachers">
                        <div class="container-fluid py-20">
                            <div
                                v-if="currentType === 0"
                                class="row"
                            >
                                <div class="col-lg-4 mb-10">
                                    <div
                                        @click="setType('photo')"
                                        class="btn"
                                        >
                                        Фото
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-10">
                                    <div
                                        @click="setType('file')"
                                        class="btn"
                                    >
                                        Файл
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-10">
                                    <div
                                        @click="setType('url')"
                                        class="btn"
                                    >
                                        Ссылка
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="currentType == 'photo'"
                                class="row align-items-center"
                            >
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group mb-20">
                                        <input
                                            ref="fileInput"
                                            type="file"
                                            name="file"
                                            required
                                            @change="fileInputChange"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="currentType == 'file'"
                                class="row align-items-center"
                            >
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group mb-20">
                                        <input
                                            ref="fileInput"
                                            type="file"
                                            name="file"
                                            required
                                            @change="fileInputChange"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="currentType == 'url'"
                                class="row align-items-center"
                            >
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group mb-20">
                                        <label class="title gray upper">Ссылка:</label>
                                        <input
                                            class="form-control"
                                            v-model="url"
                                            required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="currentType !== 0"
                            >
                                <div class="row">
                                    <div class="col-lg-6 m-auto">
                                        <div class="form-group mb-20">
                                            <label class="title gray upper">Описание</label>
                                            <textarea
                                                v-model="description"
                                                class="form-control"
                                            ></textarea>
                                        </div>
                                        <div class="form-group mb-20">
                                            <label class="title gray upper">Дата достижения</label>
                                            <b-form-datepicker
                                                id="example-datepicker"
                                                v-model="achievement"
                                                class="mb-2"
                                                locale="ru"
                                            ></b-form-datepicker>
                                        </div>
                                        <div class="form-group mb-20">
                                            <label>Видимость</label>
                                            <input type="checkbox" v-model="itemShow">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 d-flex m-auto">
                                        <a
                                            v-if="!(this.editItem && this.editItem.id > 0)"
                                            class="btn btn-info m-auto"
                                            @click="currentType = 0"
                                        >Назад</a>

                                        <a
                                            class="btn btn-success m-auto"
                                            @click="save"
                                        >Сохранить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { addItem,updateItem } from '@base/api/portfolio';
    export default {
        name: "PortfolioAddItem",
        props: {
            editItem: {},
            show: false,
        },
        watch: {
            show(){
                if (this.show){
                    this.setType(0);
                    if (this.editItem.type){
                        this.setType(this.editItem.type);
                        this.achievement = this.editItem.achievement;
                        this.description = this.editItem.description;
                        this.itemShow = this.editItem.show;

                        if (this.currentType == 'photo' || this.currentType == 'file' ){

                        }
                        if (this.currentType == 'url'){
                            this.url = this.editItem.url;
                        }
                    }else{
                        this.achievement = null;
                        this.description = '';
                        this.itemShow = false;
                    }
                }
            }
        },
        data() {
            return {
                url: null,
                fileUpload: [],
                achievement: null,
                description: '',
                itemShow: false,
                types: {
                    0: "Выберите тип",
                    'file': 'Файл',
                    'photo': "Фото",
                    'url': "Ссылка",
                },
                currentType: 0
            }
        },
        methods: {
            fileInputChange(){
                this.fileUpload = [];
                const files = this.$refs.fileInput.files; // eslint-disable-line
                for (let i = 0; i < files.length; i++) { // eslint-disable-line
                    //console.log(files[i]);
                    this.fileUpload.push(files[i]);
                }
            },
            closePopup(){
                this.setType(0);
                this.$emit('closePopup');
            },
            setType(type){
                this.currentType = type;
            },
            save(){
                let data = new FormData();

                if (this.currentType == 'photo' || this.currentType == 'file' ){

                    this.fileUpload.forEach(function (item) {
                        data.append('files[]', item);
                    })
                    data.append('achievement', this.achievement);
                    data.append('show', this.itemShow);
                    data.append('description', this.description);
                    data.append('type', this.currentType);

                    if (this.editItem.id && this.editItem.id > 0){
                        updateItem(data,this.editItem.id).then((data) => {
                            if (data.status == "ok"){
                                this.$refs.fileInput = [];
                                this.description = [];
                                this.currentType = 0;
                                this.closePopup();
                            }
                        });
                    }else{
                        addItem(data).then((data) => {
                            if (data.status == "ok"){
                                this.$refs.fileInput = [];
                                this.description = [];
                                this.currentType = 0;
                                this.closePopup();
                            }
                        });
                    }

                    data = [];
                }
                if (this.currentType == 'url'){
                    data.append('achievement', this.achievement);
                    data.append('url', this.url);
                    data.append('show', this.itemShow);
                    data.append('description', this.description);
                    data.append('type', this.currentType);
                    if (this.editItem.id && this.editItem.id > 0){
                        updateItem(data, this.editItem.id).then((data) => {
                            if (data.status == "ok"){
                                this.$refs.fileInput = [];
                                this.description = [];
                                this.currentType = 0;
                                this.url = '';
                                this.closePopup();
                            }
                        });
                    }else {
                        addItem(data).then((data) => {
                            if (data.status == "ok") {
                                this.$refs.fileInput = [];
                                this.description = [];
                                this.url = '';
                                this.currentType = 0;
                                this.closePopup();
                            }
                        });
                    }
                }
            }
        }
    }
</script>
