<template>
    <popup
        :caption="'Список нарушений'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div
                v-if="loading"
                class="text-center"
            >
                <div class="lds-dual-ring"></div>
            </div>
            <div v-else>
                <div
                    v-if="violationsList.length"
                >
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Дата нарушения
                                </th>
                                <th>
                                    Описание
                                </th>
                                <th>
                                    Снимок с камеры
                                </th>
                                <th>
                                    Создано
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="violation in violationsList"
                            >
                                <td>{{violation.violation_at}}</td>
                                <td>{{violation.text}}</td>
                                <td>
                                    <a
                                        target="_blank"
                                        :href="violation.screen"
                                    >
                                        <img :src="violation.screen" class="figure-img img-fluid rounded" style="max-height: 250px;">
                                    </a>
                                </td>
                                <td>{{violation.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <div v-else
                    class="p-3"
                >
                    Нет нарушений с этой камеры
                </div>

            </div>

        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup'


export default {
    name: "ViolationsPopup",
    components: {
        popup,
    },
    data() {
        return {
            createViolationPopupShow: false,
            violationsList: [],
            loading: true,
            editViolationPopupShow: false,
            currentViolation: {},
        }
    },
    props: {
        camera: {
            type: Object,
            default: {},
        },
    },
    created() {
        this.loadViolations();
    },
    methods: {
        loadViolations(){
            this.$axios.get('/api/v1/organization/' + this.camera.camera.organization_id + '/organization-camera/' + this.camera.camera.id + '/violations', {
                params: {
                    organization_camera_interval_id: this.camera.organization_camera_interval_id
                }
            })
                .then(response => {
                    this.loading = false
                    this.violationsList = response.data.data.violations
                })
                .catch(error => {
                    this.loading = false
                })
        },
        closePopup() {
            this.$emit('closePopup')
        },
        openEditViolationPopup(violation) {
            this.editViolationPopupShow = true
            this.currentViolation = violation
        },
        closeEditViolationPopup() {
            this.editViolationPopupShow = false
            this.loadViolations();
        },
        openCreateViolationPopup(){
            this.createViolationPopupShow = true
        },
        closeCreateViolationPopup(){
            this.createViolationPopupShow = false
            this.loadViolations();
        }
    }
}
</script>

<style scoped>
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #929EBC;
  border-color: #929EBC transparent #929EBC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
