<template>
    <div>
        <div class="row mb-10">
            <div class="col-lg-2 ml-auto">
                <select
                    class="form-control"
                    v-model="need_year"
                >
                    <option
                        v-for="item in years"
                        :value="item"
                    >
                        {{ item }}
                    </option>
                </select>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Вакансий</th>
                <th
                    v-for="i in 12"
                >
                    {{ i }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in organizations">
                <td>{{ item.id }}</td>
                <td>
                    {{ item.name }}
                    <router-link
                        :to="{ name: 'org.employer.about', params: { id: item.id }}"
                        class="default-link fa fa-external-link"
                        target="_blank"
                    >

                    </router-link>
                </td>
                <td>{{ item.vacancies.length }}</td>
                <td
                    v-for="i in 12"
                >
                    <span
                        v-if="item.vacancies_by_month[i]"
                    >
                        {{ item.vacancies_by_month[i] }}
                    </span>
                    <span
                        v-else
                    >
                        -
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "AdminStatisticsEmployers",
        data() {
            return {
                need_year: 2020,
                years: [
                    2020,
                    2021,
                    2022,
                    2023,
                ],
                organizations: {

                }
            }
        },
        watch: {
            need_year(){
                this.load_list();
            }
        },
        mounted() {
            this.load_list();
        },
        methods: {
            load_list(){
                const formData = {
                    qty: 999,
                    page: 1,
                    type: "employer",
                    vacancies_year: 1,
                    need_year: this.need_year,
                    with: [
                        'vacancies'
                    ]
                };
                this.$axios.get(`/api/v1/organizations`, {params: formData})
                    .then((response) => {
                        this.organizations = response.data.data.organizations.data;
                    })
                    .catch((error) => {

                    })
                    .finally(() => {
                    });
            }
        }
    }
</script>

<style scoped>

</style>
