<template>
    <div v-if="currentChat">
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content modal-content__chat">
                    <div class="text-right">
                        <button
                            type="button"
                            class="button close close__chat-btn text-right"
                            aria-label="Close"
                            @click="modalClose()"
                        >
                            <span
                                class="close__chat"
                                aria-hidden="true"
                            />
                        </button>
                    </div>
                    <div class="modal-header__chat ">
                        <div
                            v-if="!addUserShow"
                            class="w-100"
                        >
                            <div class="mb-4" >
                                <div
                                    v-if="!activeChangeChatName"
                                    class="text-center"
                                >
                                    <div
                                        id="exampleModalLabel"
                                        class="chat_name pointer"
                                        @click="changeChatName"
                                        style="line-height: 32px;"
                                    >
                                        {{currentChat ? currentChat.name : "No Name"}}
                                    </div>
                                </div>
                                <div
                                    v-else
                                    class="text-center"
                                    @keyup.enter="saveChatName()"
                                >
                                    <input
                                        type="text"
                                        class="input_chatname"
                                        v-model="inputChatName"
                                        autofocus
                                    >
                                </div>
                            </div>
                            <nav>
                                <div class="nav row" id="nav-tab" role="tablist">
                                    <a class="infoTabs col-4 mx-0 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Участники</a>
                                    <a class="infoTabs col-4 mx-0" id="nav-photo-tab" data-toggle="tab" href="#nav-photo" role="tab" aria-controls="nav-photo" aria-selected="false" @click="showImages">Фото</a>
                                    <a class="infoTabs col-4 mx-0" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-contact" aria-selected="false" @click="showFiles">Файлы</a>
<!--                                    <a class="infoTabs col-6 col-md-3 mx-0" id="nav-audio-tab" data-toggle="tab" href="#nav-audio" role="tab" aria-controls="nav-audio" aria-selected="false" @click="showAudio">Аудио</a>-->
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <usersTab
                                    :currentChat="currentChat"
                                    :users_online="users_online"
                                    @addUser="addUser"
                                    @cancelAddingUser="cancelAddingUser"
                                />
                                <imagesTab
                                    :massImg="massImg"
                                />
                                <filesTab
                                    :massFile="massFile"
                                />
                                <audiosTab
                                    :massAudio="massAudio"
                                />
                            </div>
                        </div>
                        <div
                            v-else
                            class=" w-100"
                        >
                            <!--                            <chooseUser-->
                            <!--                                class="mt-3"-->
                            <!--                                :organizations="organizations"-->
                            <!--                                :selected_user="selected_user"-->
                            <!--                            />-->
                            <div class="row">
                                <div class="col-6 text-center">
                                    <button
                                        @click="cancelAddingUser"
                                        class="btn w-100 addUserCancelButton"
                                    >
                                        Назад
                                    </button>
                                </div>
                                <div class="col-6 text-center">
                                    <button
                                        @click="confirmAddingUser"
                                        class="btn w-100 addUserButton"
                                        :disabled="!selected_user.list.length"
                                    >
                                        Добавить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        />
    </div>
</template>

<script>
import chooseUser from '../chat_components/chooseUser'
import usersTab from '../chat_components/chatInfoTabs/usersTab'
import imagesTab from '../chat_components/chatInfoTabs/imagesTab'
import filesTab from '../chat_components/chatInfoTabs/filesTab'
import audiosTab from '../chat_components/chatInfoTabs/audiosTab'
export default {
    components: {
        chooseUser,
        usersTab,
        imagesTab,
        filesTab,
        audiosTab,
    },
    name: 'ChatInfoModal',
    data () {
        return {
            massImg: [],
            massFile: [],
            massAudio: [],
            addUserShow: false,
            selected_user: {
                list: []
            },
            activeChangeChatName: false,
            inputChatName: "",
        }
    },
    props: {
        users_online: {
            type: Array,
            default: []
        },
        show: {
            type: Boolean,
            default: false,
        },
        currentChat: {
            type: Object,
            default: () => ({})
        },
        // organizations: {
        //     type: Array,
        //     default: []
        // },
        currentChatId: {
            type: Number,
            default: null,
        }
    },
    watch: {
    },
    methods: {
        modalClose () {
            this.$emit('closePopup')
        },
        showImages () {
            this.massImg = []
            this.$axios.get('/api/v2/chat/' + this.currentChat.id + '/message', {params: {
                    qty: 1000,
                    last_message: 0,
                    type: "after",
                    message_type: "IMAGES"
                }
            })
                .then((response) => {
                    for (let i = 0; i < response.data.messages.length; i++) {
                        for (let j = 0; j < response.data.messages[i].images.length; j++){
                            this.massImg.push(response.data.messages[i].images[j].url)
                        }
                    }
                })
        },
        showFiles () {
            this.massFile = []
            this.$axios.get('/api/v2/chat/' + this.currentChat.id + '/message', {params: {
                    qty: 1000,
                    last_message: 0,
                    type: "after",
                    message_type: "FILES"
                }
            })
                .then((response) => {
                    for (let i = 0; i < response.data.messages.length; i++) {
                        for (let j = 0; j < response.data.messages[i].files.length; j++){
                            this.massFile.push(response.data.messages[i].files[j])
                        }
                    }
                })
        },
        showAudio() {
            this.massAudio = []
            this.$axios.get('/api/v2/chat/' + this.currentChat.id + '/message', {params: {
                    qty: 1000,
                    last_message: 0,
                    type: "after",
                    message_type: "AUDIO"
                }
            })
                .then((response) => {
                    for (let i = 0; i < response.data.messages.length; i++) {
                        this.massAudio.push(response.data.messages[i])
                    }
                })
        },
        addUser () {
            this.addUserShow = true
        },
        cancelAddingUser () {
            this.addUserShow = false
        },
        confirmAddingUser () {
            this.addUserShow = false
            this.$axios.post('/api/v2/chats/' + this.currentChat.id, {
                _method: "PATCH",
                action: "add-users",
                users: this.selected_user.list
            })
                .then((data) => {
                    for(let i = 0; i < this.selected_user.list.length; i++) {
                        this.currentChat.users.push(data.data.users.find(user => user.id == this.selected_user.list[i]))
                    }
                    this.selected_user.list = []
                })
                .catch(console.error)
        },
        changeChatName () {
            this.activeChangeChatName = !this.activeChangeChatName
        },
        saveChatName () {
            this.activeChangeChatName = false
            if (this.inputChatName.trim().length) {
                this.$axios.post('/api/v2/chats/' + this.currentChat.id, {
                    _method: "PATCH",
                    action: "update",
                    name: this.inputChatName
                })
                    .then(console.log(this.inputChatName))
                    .catch(console.error)
            }
        },
        anotherChat() {
            if (this.currentChatId){
                document.getElementById('nav-home-tab').classList.add('active')
                document.getElementById('nav-photo-tab').classList.remove('active')
                document.getElementById('nav-files-tab').classList.remove('active')
                document.getElementById('nav-audio-tab').classList.remove('active')
                document.getElementById('nav-home').classList.add('active', 'show')
                document.getElementById('nav-photo').classList.remove('active', 'show')
                document.getElementById('nav-files').classList.remove('active', 'show')
                document.getElementById('nav-audio').classList.remove('active', 'show')
            }
        }
    }
}
</script>


<style scoped>
.infoTabs {
    color: black;
    text-decoration: none;
}
</style>
