<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content modal-content__chat p-1 pt-3">
                    <div class="modal-header__chat">

                        <button
                            type="button"
                            class="button close close__chat-btn"
                            aria-label="Close"
                            @click="modalClose() && cancelReply()"
                        >
                            <span
                                class="close__chat"
                                aria-hidden="true"
                            />
                        </button>

                        <chatsUpload
                            :userChats="userChats"
                            :currentChatId="currentChatId"
                            @replyMsg="reply"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        />
    </div>
</template>

<script>
import chatsUpload from '../chat_components/chatsUpload'

export default {
    name: 'SelectChatModal',
    components: {
        chatsUpload
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        userChats: {
            type: Object ,
            default: () => ({})
        },
        currentChatId: {
            type: Number ,
            default: 0
        }
    },
    data () {
        return {
            spinner: {},
        }
    },
    methods: {
        modalClose () {
            this.$emit('closePopup')
        },
        cancelReply() {
            this.$emit('cancelReply')
        },
        reply () {
            this.modalClose()
            this.$emit('replyMsg')
        },
        async createChat () {
            await axios.post('/api/v2/chats', {
                users: [
                    this.selected_user
                ]
            }).then((data) => {
                this.modalClose()
            }).catch((data) => {

            });
        }
    }
}
</script>
