<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content modal-content__chat">
                    <div class="modal-header__chat" style="
                        display: flex;
                        align-items: center;
                        text-align: center;">
                        <div style="
                            font-style: normal;
                            font-weight: normal;
                            font-size: 32px;
                            color: #292B2E;
                        "
                        >
                            Создание чата
                        </div>
                        <button
                            type="button"
                            class="button close close__chat-btn"
                            aria-label="Close"
                            @click="modalClose()"
                        >
                            <span
                                class="close__chat"
                                aria-hidden="true"
                            />
                        </button>
                    </div>
                    <div class="modal-body__chat">
                        <div class="modal-body__row input-group mb-3">
                            <input
                                class="form-control"
                                aria-label="Default"
                                aria-describedby="inputGroup-sizing-default"
                                placeholder="Введите название чата"
                                v-model="chatName"
                            />
                        </div>
                        <chooseUser
                            :organizations="organizations"
                            :selected_user="selected_user"
                        />
                    </div>
                <div
                style="text-align: center"
                >
                    <button
                        @click="createChat"
                        class="btn w-50 addUserButton"
                        :disabled="!chatName.length || !selected_user.list.length"
                    >
                        Добавить
                    </button>
                </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        />
    </div>
</template>

<script>
import chooseUser from '../chat_components/chooseUser'


export default {
    components: {
        chooseUser
    },
    name: 'CreateChatModal',
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        organizations: {
            type: Array,
            default: [],
        },
        userChats: {
            type: Object,
            default: {}
        }
    },
    data () {
        return {
            spinner: {},
            selected_organization: null,
            selected_user: {
                list: []
            },
            chatName: "",
        }
    },
    methods: {
        modalClose () {
            this.$emit('closePopup')
        },
        async createChat () {
            await axios.post('/api/v2/chats', {
                name: this.chatName,
                users: this.selected_user.list
            }).then((data) => {
                this.userChats.data.push(data.data)
                this.modalClose()
            }).catch((data) => {
            });
        },
    }
}
</script>





