/* for vue route animation (transition name="fade") */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}
/* end vue route animation */

/* not correct work with webpackContext.id = "./node_modules/moment/locale sync recursive ^\\.\\/.*$"; */
.vld-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;
    z-index: 1
}
/* end not correct work */

.add {
    cursor: pointer;
    background-image: url("/images/icons/add.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.edu-teachers {
    .filter-competence {
        input.form-control {
            width: 250px;
        }
    }
    .filter-attached {
        label {
            width: 250px;
        }
    }
    input.userSearch {
        width: 300px;
    }
}

.edu-about {
    .icon-font-size {
        font-size: 18px;
    }
}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.admin-struct {
    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }

    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }

    .VueTables__child-row-toggler--open::before {
        content: "-";
    }

    tr.VueTables__child-row:hover {
        background-color: #ffffff;
    }

    a.fa-external-link {
        color: #212529;
        text-decoration: none;
        position: relative;
        display: inline-block;
        top: 2px;
    }
}

.admin-user {
    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }

    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }

    .VueTables__child-row-toggler--open::before {
        content: "-";
    }

    tr.VueTables__child-row:hover {
        background-color: #ffffff;
    }

    .user-info-list {
        max-width: 350px;
    }
    .user-info-list {
        li span {
            font-weight: 600;
            padding-right: 20px;
        }
        li {
            padding: 0.5rem 1.25rem;
        }
    }

}

.admin-organization {
    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }

    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }

    .VueTables__child-row-toggler--open::before {
        content: "-";
    }

    tr.VueTables__child-row:hover {
        background-color: #ffffff;
    }

    .org-info-list {
        li span {
            font-weight: 600;
            padding-right: 20px;
        }
        li {
            padding: 0.5rem 1.25rem;
        }
    }
    .card-dd-sort {
        .card-body {
            .badge-secondary {
                margin-right: 7px;
                font-size: 88%;
            }
        }
    }
}

.admin-role {
    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }

    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }

    .VueTables__child-row-toggler--open::before {
        content: "-";
    }

    tr.VueTables__child-row:hover {
        background-color: #ffffff;
    }

    .card-header {
        &-permission {
            position: inherit;
        }
        button {
            position: inherit;
            top: 8px;
        }
    }
    .card-body {
        .custom-switch {
            padding-bottom: 5px;
        }
        &-permission {
            .form-group:focus {
                outline: none;
            }
            .bv-no-focus-ring:focus {
                outline: none;
            }
        }
    }
}

.db-prop {
    .select-option {
        border: 1px solid #CED4DA;
        border-radius: 5px;
        padding: 5px 0px 3px 0px;
        margin-bottom: 10px;
    }
}

.edu-program {
    a:hover {
        text-decoration: none;
    }
}

.modal {
    label.label-with-icon {
        position: inherit;

        i {
            position: absolute;
            top: 4px;
        }
    }
}
.pagination {
    margin-bottom: 0px;
}
