@font-face {
    font-family: 'Circe';
    src: local('./fonts/Circe Light'), local('./fonts/Circe-Light'),
    url('Circe-Light.woff2') format('woff2'),
    url('Circe-Light.woff') format('woff'),
    url('Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: local('./fonts/Circe Regular'), local('./fonts/Circe-Regular'),
    url('Circe-Regular.woff2') format('woff2'),
    url('Circe-Regular.woff') format('woff'),
    url('Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fw-light {
    font-weight: 350;
}
