@for $i from 1 through 90 {
    .pt-#{$i}{
        padding-top: #{$i}px !important;
    }
    .pr-#{$i}{
        padding-right: #{$i}px !important;
    }
    .pl-#{$i}{
        padding-left: #{$i}px !important;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
}

