$цвет-1: #FDFEFE;
$основной-1: #373C59;
$основной-2: #929EBC;
$цвет-текста-1: #EBEBEC;
$цвет-текста-2: #6D6E71;
$красный-1: #F15B4E;

$color-1: #FFC845;
$color-2: #F85A40;
$color-3: #7B868A;
$color-4: #52565E;
$color-5: #0f295c;
$color-6: #D8E3E8;
$color-7: #404348;
$color-8: #3490dc;

html, body {
    height: 100%;
}
#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
a {
    color: #414042;
}
a:hover {
    color: #6D6E71;
}
.app-content {
    min-height: 100%;
    margin-bottom: auto;
}
.statistic-group {
    border-bottom: 1px solid #BCBEC0;
    .statistic-label {

    }
}

.copp-slider {
    height: 624px;
    width: 1360px;
    min-height: 624px;
    max-height: 624px;
}

.bg-main-color {
    background-color: $основной-1;
}

.navbar-light .navbar-nav .nav-link {
    color: $цвет-текста-1;
}

.head-main-auth .nav-link {
    padding: 0rem 0.5rem;
}

.timer {
    //width: 100px;
}

.file {
    font-size: 16px;
    min-height: 24px;
    padding-left: 34px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 32px;
    background-image: url("/images/icons/lesson/lesson-file.svg");
}

.avatar {
    border: 1px solid #D8DFED;
    border-radius: 50% !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/icons/user_avatar.svg");
    &.avatar40 {
        width: 40px;
        height: 40px;
    }
    &.avatar60 {
        width: 60px;
        height: 60px;
    }
    &.avatar96 {
        width: 96px;
        height: 96px;
    }
}

.text-color-white {
    color: $цвет-1;
}

.block {
    &.цвет-текста-1 {
        background-color: $цвет-текста-1;
    }
    &.основной-1 {
        background-color: $основной-1;
        color: $цвет-текста-1;
    }
    &.красный-1 {
        background-color: $красный-1;
        color: $цвет-1;
    }
}

.page-head {
    background-color: $основной-2;
    background-image: url("/images/background/head.svg");
    background-repeat: repeat-x;
    .nav-item {
        min-width: 140px;
        margin-right: 2px;
        margin-left: 2px;
        text-align: center;
        background-color: $цвет-текста-1;
        &.active {
            background-color: $цвет-1;
        }
        a {
            color: $цвет-текста-2;
        }
    }
    &__nav-select {
        min-width: 95%;
        min-height: 40px;
        margin-right: 2px;
        margin-left: 2px;
        text-align: center;
        border: none;
        background-color: $цвет-текста-1;
        color: $цвет-текста-2;
    }
}


.head-test {
    background-color: $основной-2;
    padding-top: 25px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #929ebb;
}

.edu-programs:empty {
    background-position: center;
    background-image: url("/images/background/no-content.svg");
    background-repeat: no-repeat;
    height: 500px;
}

footer {
    color: $цвет-текста-1;
    background-color: $основной-1;
    a {
        color: $цвет-текста-1;
    }
    .footer-list {
        .head {
            padding-bottom: 20px;
        }
        .item {
            padding-bottom: 12px;
        }
    }
}

.btn {
    box-shadow: 0px 0px 4px rgba(0, 51, 78, 0.24);
    &.btn-more {
        width: 40px;
        height: 40px;
        background-image: url("/images/icons/buttons/more-vertical.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffffff;
    }
    &--red {
        background-color: $красный-1;
    }
    &--main {
        background-color: $основной-2;
    }
}

.edu-programs {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    .line {
        display: inline-flex;
    }
    .edu-program {
        //width: 398px;
        width: 418px;
        //height: 295px;
        background: url(/images/edu-program-bg.svg) repeat-x, linear-gradient(180deg, $color-5 22.39%, $color-2 184.58%);
        border-radius: 8px;
        padding-top: 24px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 20px;
        margin-bottom: 24px;
        margin-right: 12px;
        margin-left: 12px;
        .logo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #fff;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &:hover {
            box-shadow: 0px 0px 12px rgba(0, 51, 78, 0.356);
        }
    }
}

.modal-header__teachers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-title__teachers {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    font-size: 32px;
    color: #292B2E;
}

.modal-content__teachers {
    margin: 0 auto;
    max-width: 708px;
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 67px;
    padding-right: 67px;
    box-shadow: 0px 0px 20px rgba(0, 30, 89, 0.08);
}

.close__teachers-btn {
    width: 24px;
    height: 24px;
    opacity: 1;
}

.close__teachers {
    display: block;
    background-image: url('/images/icons/delete.svg');
    width: 100%;
    height: 100%;
}

.modal-teacher__avatar {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-body__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-teacher {
    display: flex;
    margin-bottom: 20px;
}

.modal-teacher__fio {
    margin: 0;
    padding-bottom: 12px;
}

.teachers__add {
    cursor: pointer;
    background-image: url("/images/icons/add-teacher.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}


.course-content {
    .course-modules {
        padding-bottom: 96px;
        .modules{
            .module {
                margin-bottom: 24px;
                background: #FFFFFF;
                border: 1px solid $color-6;
                //overflow: hidden;
                .module-head {
                    margin: 0px;
                    background-color: #929EBC;
                    min-height: 88px;
                    padding-right: 25px;
                    padding-left: 25px;
                    color: #FAFBFF;
                    //display: grid !important;
                    //grid-template-columns: 40% 20% 40%;
                    .module-success {
                        text-align: center;
                        color: $color-2;
                    }

                    .module-in-process {
                        text-align: center;
                        color: #E8B05D;
                    }
                    .lessons-hide {
                        background-image: url("/images/icons/lesson/lessons-hide.svg");
                        background-repeat: no-repeat;
                        background-position: center right;
                        padding-right: 32px;
                    }
                    .lessons-show {
                        background-image: url("/images/icons/lesson/lessons-show.svg");
                        background-repeat: no-repeat;
                        background-position: center right;
                        padding-right: 32px;
                    }
                }


                .lessons {
                    opacity: 1;
                    display: block;
                    &.hide {
                        display: none;
                    }
                }
                .lesson {
                    border-top: 1px solid $color-6;
                    padding-left: 40px;
                    padding-top: 28px;
                    padding-right: 40px;
                    padding-bottom: 28px;
                    .lesson-time {
                        padding-right: 32px;
                    }
                    .lesson-teacher {
                        min-width: 285px;
                        .teacher-avatar {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: #fff;
                            background-position: center center;
                            background-repeat: no-repeat;
                            margin-right: 20px;
                            background-size: cover;
                        }
                    }
                    .lesson-test-result {
                        .lesson-test-result-value {
                            background-color: #fff;
                            border: 1px solid #53B417;
                            color: #53B417;
                            padding-left: 16px;
                            padding-right: 16px;
                            margin-left: 16px;
                            border-radius: 24px;
                        }
                    }

                    .lesson-content {
                        padding-top: 8px;
                        .lesson-item {
                            font-size: 16px;
                            min-height: 24px;
                            padding-left: 34px;
                            margin-bottom: 16px;
                            background-repeat: no-repeat;
                            background-position: left top;
                            margin-right: 32px;
                            &.lesson-page{
                                background-image: url("/images/icons/lesson/lesson-html-page.svg");
                            }
                            &.lesson-hyperlink{
                                background-image: url("/images/icons/lesson/lesson-hyperlink.svg");
                            }
                            &.lesson-book{
                                background-image: url("/images/icons/lesson/lesson-book.svg");
                            }
                            &.lesson-file{
                                background-image: url("/images/icons/lesson/lesson-file.svg");
                            }
                            &.lesson-folder{
                                background-image: url("/images/icons/lesson/lesson-folder.svg");
                            }
                            &.lesson-presentation{
                                background-image: url("/images/icons/lesson/lesson-presentation.svg");
                            }
                            &.lesson-video{
                                background-image: url("/images/icons/lesson/lesson-video.svg");
                            }
                            &.lesson-gallery{
                                background-image: url("/images/icons/lesson/lesson-gallery.svg");
                            }
                            &.lesson-task{
                                background-image: url("/images/icons/lesson/lesson-task.svg");
                            }
                            &.lesson-test{
                                background-image: url("/images/icons/lesson/lesson-test.svg");
                            }
                            &.lesson-image{
                                background-image: url("/images/icons/lesson/lesson-image.svg");
                            }

                        }
                    }
                }
                .lesson:nth-child(even){
                    background-color: #FAFBFF;
                }
                .lesson:last-child {
                    border-bottom: 1px solid $color-6;
                    //margin-bottom: 8px;
                }
            }
            .module:last-child {
                margin-bottom: 0px;

            }
        }
    }
}

.lesson-footer {
    padding-top: 8px;
    .lesson-item {
        font-size: 16px;
        min-height: 24px;
        padding-left: 34px;
        margin-bottom: 16px;
        background-repeat: no-repeat;
        background-position: left top;
        margin-right: 32px;
        &.lesson-page{
            background-image: url("/images/icons/lesson/lesson-html-page.svg");
        }
        &.lesson-hyperlink{
            background-image: url("/images/icons/lesson/lesson-hyperlink.svg");
        }
        &.lesson-book{
            background-image: url("/images/icons/lesson/lesson-book.svg");
        }
        &.lesson-file{
            background-image: url("/images/icons/lesson/lesson-file.svg");
        }
        &.lesson-folder{
            background-image: url("/images/icons/lesson/lesson-folder.svg");
        }
        &.lesson-presentation{
            background-image: url("/images/icons/lesson/lesson-presentation.svg");
        }
        &.lesson-video{
            background-image: url("/images/icons/lesson/lesson-video.svg");
        }
        &.lesson-gallery{
            background-image: url("/images/icons/lesson/lesson-gallery.svg");
        }
        &.lesson-task{
            background-image: url("/images/icons/lesson/lesson-task.svg");
        }
        &.lesson-test{
            background-image: url("/images/icons/lesson/lesson-test.svg");
        }
        &.lesson-image{
            background-image: url("/images/icons/lesson/lesson-image.svg");
        }

    }
}

.courses {
    a:hover {
        text-decoration: none;
        .course-data {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
        }
    }
    .course {
        .router-link-active:hover {
            text-decoration: none;
        }
        margin-bottom: 24px;
        .course-data {
            width: 100%;
            border: 1px solid #BCBEC0;
            margin-right: 24px;
            .course-head {
                background-color: #AEBAC0;
                height: 144px;
                padding-top: 16px;
                padding-left: 24px;
                padding-right: 24px;
                background-image: url(/images/course/default_course_logo.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
            .course-info {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-right: 24px;
                padding-left: 24px;
                color: #6D6E71;
                b {
                    color: #414042;
                }
            }
        }
    }
    .course:nth-child(3n) {
        .course-data {
            margin-right: 0px;
        }
    }
}

.course-info-has-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-item.active .page-link {
    background-color: #929EBC;
    border-color: #929EBC;
}
.page-link {
    color: #6D6E71;
}
.page-link:hover {
    color: #6D6E71;
}

.head-edu {
    .logo {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background-color: #fff;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.modal {
    .modal-header {
        border-radius: 0px;
    }
    .modal-content {
        border-radius: 0rem;
        .modal-header {
            color: #FAFBFF;
            background: #929EBC;
        }
    }
}

.pointer {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgb(179 184 193);
}

audio:focus,
button:focus
{
    outline: none;
}


:focus {
    outline: none;
}

.add-btn-round {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url(/images/icons/plus.svg);
    background-color: white;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #F85A40;
    cursor: pointer;
}
.wh-40 {
    width: 40px !important;
    height: 40px !important;
}

.modal-max {
    max-width: 100%;
}

.users:empty,
.courses:empty {
    background-image: url("/images/icons/content_not_found.svg");
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 600px;
}
.modal-content {
    border: 0px;
}

#notifications {
    position: relative;

    #heading {
        padding: 0.5rem 1rem;
        border-bottom: 0.01rem solid #d4d3d3;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0 0 0.5rem;
        max-height: 20rem;
        overflow-y: auto;
    }

    li {
        display: inline-block;
        padding: 0.85rem 1rem;
        color: #1f2022;
    }

    .tooltip {
        &::before {
            content: '';
            position: absolute;
            top: -0.4rem;
            right: 8.3rem;
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-bottom: 1.5rem solid #fff;
        }

        left: -127px;
        position: absolute;
        top: 2.5rem;
        line-height: 1.5;
        color: #27303d;
        width: 20rem;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        opacity: 1;
    }

    .notification-item {
        width: 100%;

        &.unread {
            background-color: #fefaf1;
        }

        border-bottom: 0.01rem solid #eee;
    }

    @-webkit-keyframes fadeStart {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            display: block;
        }
    }


    @keyframes fadeStart {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            display: block;
        }
    }


    @-webkit-keyframes fadeEnd {
        0% {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }
    }


    @keyframes fadeEnd {
        0% {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }
    }
}

.page-head.viro-info p {
    margin-bottom: 0px;
}

.is-review {
    border-color: #e3cb2f;
}
.form-control.is-valid {
    background: none;
}
