<template>
    <div
        class="d-flex align-items-center"
    >
        <div
            v-if="!auth"
            class="nav-item"
        >
            <a
                class="nav-link btn btn-light"
                style="    padding: 2px 18px;"
                @click="showLogin(true)"
            >Вход</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
                class="navbar-nav"
                v-if="typeof auth.id !== 'undefined'"
            >
                <div
                    class="nav-item"
                >
<!--                    <router-link :to="{ name: 'me.main' }" class="nav-link">Личный кабинет</router-link>-->
                    <router-link
                        :to="{ name: 'me.profile' }"
                        class="nav-link"
                    >
                        Мой профиль
                    </router-link>
                </div>
            </ul>
        </div>


        <div
            v-if="typeof auth.id !== 'undefined'"
            class="nav-item"
        >
            <router-link
                :to="{ name: 'me.chat' }"
                class="nav-link"
            >
                <img
                    src="/images/icons/head/chats.svg"
                    style="width:24px;"
                >
            </router-link>
        </div>

        <div
            v-if="typeof auth.id !== 'undefined'"
            class="nav-item"
            id="notifications"
        >
            <div
                class="nav-link dropdown open"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <div
                    class="nav-link pointer"
                >
                    <img src="/images/icons/head/notifications.svg">
                    <span class="badge fixed-right-top badge-danger">{{notifications.count}}</span>
                </div>
                <div
                    class="customNavbarDropdown"
                    aria-labelledby="navbarDropdown"
                >
                    <div
                        class="tooltip shadow-lg"
                        :class="{ show: notifications.show }"
                    >
                        <div id="heading">
                            <div class="d-flex">
                                <div>
                                    <b>Оповещения</b>
                                </div>
                            </div>
                        </div>
                        <ul class="notification-list">
                            <li class="notification-item"
                                v-for="notif of this.notifications.list"
                                :class="{ unread: !notif.read_at}"
                                @click="setRead(notif)"
                            >
                                <div>
                                    <b>{{notif.data.title}}</b><br>
                                    <a v-if="notif.data.url" :href="notif.data.url">
                                        {{notif.data.message}}
                                    </a>
                                    <a v-else>
                                        {{notif.data.message}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            <div-->
<!--                class="nav-link pointer"-->
<!--                @click="loadShowNotification"-->
<!--            >-->
<!--                <img src="/images/icons/head/notifications.svg">-->
<!--                <span class="badge fixed-right-top badge-danger">{{notifications.count}}</span>-->
<!--            </div>-->

        </div>

        <div
            v-if="typeof auth.id !== 'undefined'"
            class="nav-item"
        >
            <div
                class="nav-link dropdown open"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <img
                    class="avatar avatar40"
                    :src="this.auth.avatar ? this.auth.avatar.small : '/images/icons/user_avatar.svg'"
                />
                <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="navbarDropdown"
                >
                    <router-link
                        :to="{ name: 'org.list', params: { type: 'edu' }}"
                        class="dropdown-item"
                    >
                        Учреждения ВО
                    </router-link>
<!--                    <router-link-->
<!--                        :to="{ name: 'me.main' }"-->
<!--                        class="dropdown-item"-->
<!--                    >-->
<!--                        Личный кабинет-->
<!--                    </router-link>-->

<!--                    <router-link-->
<!--                        :to="{ name: 'me.profile' }"-->
<!--                        class="dropdown-item"-->
<!--                    >-->
<!--                        Профиль-->
<!--                    </router-link>-->

                    <router-link
                        v-if="isAdmin"
                        :to="{ name: 'admin.users' }"
                        class="dropdown-item"
                    >
                        Админ панель
                    </router-link>
                    <a
                        class="dropdown-item"
                        href="javascript:void(0)"
                        @click="logout()"
                    >Выйти</a>
                    <!--<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">-->
                    <!--@csrf-->
                    <!--</form>-->
                </div>
            </div>
        </div>
        <vue-login-modal />
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapActions, createNamespacedHelpers} from 'vuex';
    import VueLoginModal from '@base/components/main/login/Modal';

    const user = createNamespacedHelpers('user');

    export default {
        name: 'MainAuthNav',
        components: {
            VueLoginModal,
        },
        props: [],
        data() {
            return {
                notifications: {
                    show: false,
                    connect: false,
                    count: null,
                },
                echo: {
                    state: 'connect',
                    on: false
                }
            };
        },
        computed: {
            ...mapGetters([
                'auth',
                'internetError',
                'authRoles',
            ]),
            avatar() {
                let result = '';
                if (this.auth && typeof this.auth.avatar.small !== 'undefined') {
                    result = { 'background-image': 'url(' + this.auth.avatar.small + ')' }; // eslint-disable-line
                }
                return result;
            },
            isAdmin() {
                return this.authRoles.find((role) => role === 'admin');
            }
        },
        created() {
        },
        async mounted() {
            await this.checkAuth();
        },
        watch: {
            internetError(val){
                if (val){
                    this.$bvToast.toast('Отсутствует интернет', {
                        title: 'Ошибка',
                        variant: 'danger',
                        solid: true,
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 3000,
                    })
                }
            },
            auth(val){
                if (val.notifications){
                    // this.notifications.count = val.notifications.length;
                    this.notifications.list = val.notifications;
                    this.setUnreadCount();
                }
            },
            'auth.id': function (){
                this.initEcho();
            }
        },
        beforeUpdate(){

        },
        methods: {
            ...mapMutations([
                'setStore',
            ]),
            ...user.mapActions([
                'setReadNotification',
            ]),
            loadShowNotification(){
                this.notifications.show = !this.notifications.show
            },
            setUnreadCount(){
                this.notifications.count = 0;
                if (typeof this.notifications.list == 'object'){
                    for(var item in this.notifications.list){
                        if (this.notifications.list[item]){
                            if (!this.notifications.list[item].read_at){
                                this.notifications.count++;
                            }
                        }
                    }
                }
            },
            initEcho() {
                if (this.auth && this.auth.id && !this.notifications.connect) {
                    window.Echo.private(`App.User.${this.auth.id}`)
                        .notification((notification) => {
                            if (notification.unreadNotifications) {
                                this.notifications.count = notification.unreadNotifications;
                            }
                            this.showToast(notification);
                        });
                    this.notifications.connect = true;
                }
                if (!this.echo.on){
                    window.Echo.connector.socket.on('connect', async () => {
                        this.echo.state = 'connect';
                    })

                    window.Echo.connector.socket.on('reconnecting', async () => {
                        this.echo.state = 'reconnecting';
                    })

                    window.Echo.connector.socket.on('disconnect', async () => {
                        this.echo.state = 'disconnect';
                    })
                    this.echo.on = true;
                }
            },
            setRead(notification){
                notification.read_at = this.$moment().format('YYYY-MM-DD hh:mm:ss');
                this.setUnreadCount();
                this.setReadNotification({ user_id: this.auth.id, notification_id: notification.id});
            },
            showToast(notification){
                var option = {
                    title: notification.title,
                    toaster: 'b-toaster-bottom-right',
                    autoHideDelay: 10000,
                    appendToast: true
                };

                if (notification.url){
                    option.href = notification.url;
                }

                this.$bvToast.toast(notification.message, option);
            },
            async checkAuth() {
                if (!this.auth) {
                    //await this.$store.dispatch('getAuth', { loading: { type: 'local' } });
                }
            },
            logout() {
                this.$store.dispatch('animateLoading', { type: 'local', action: 'start' });
                this.$axios.post('/logout', { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {
                        this.$store.dispatch('clearAuth');
                        this.$store.dispatch('animateLoading', { type: 'local', action: 'finish' });
                        this.$router.push({ name: 'main' });
                    })
                    .catch(() => {
                        this.$store.dispatch('animateLoading', { type: 'local', action: 'error' });
                    })
                    .finally(() => {
                    });
            },
            showLogin(val) {
                this.setStore({ key: 'modal.login', data: val });
            },
        },
    };
</script>

<style>
    .nav-item .customNavbarDropdown{
        display: none;
    }
    .nav-item.show .customNavbarDropdown {
        display: block;
    }
</style>
