<template>
    <div />
</template>

<script lang="ts">

import { mapGetters, mapMutations } from 'vuex';

export default {
    name: 'MainLoginIndex',
    data() {
        return {};
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },
    watch: {
        $route(to) {
            if (to.name === 'login') {
                this.openLogin();
            }
        },
    },
    mounted() {
        this.openLogin();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        openLogin() {
            if (!this.auth) {
                this.setStore({ key: 'modal.login', data: true });
            } else {
                this.$router.push({ name: 'me' });
            }
        },
    },
};
</script>
