<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-lg modal-login"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Авторизация
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form
                                class="col-lg-12"
                                @submit.prevent="submit"
                            >
                                <div class="row pt-12">
                                    <div class="col-lg-6 m-auto">
                                        <div class="form-group">
                                            <label class="title gray">Логин</label>
                                            <input
                                                v-model="login"
                                                type="text"
                                                autocomplete="login"
                                                class="form-control"
                                                :class="(('login' in invalid) || ('email' in invalid)) ? 'is-invalid' : ''"
                                            >
                                            <div
                                                v-if="'login' in invalid"
                                                class="invalid-feedback"
                                            >
                                            <span
                                                v-for="(message, k) in invalid.login"
                                                :key="k"
                                            >{{ message }}</span>
                                            </div>
                                            <div
                                                v-if="'email' in invalid"
                                                class="invalid-feedback"
                                            >
                                            <span
                                                v-for="(message, k) in invalid.email"
                                                :key="k"
                                            >{{ message }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-6">
                                    <div class="col-lg-6 m-auto">
                                        <div class="form-group">
                                            <label class="title gray">Пароль</label>
                                            <input
                                                v-model="password"
                                                type="password"
                                                autocomplete="current-password"
                                                class="form-control"
                                                :class="('password' in invalid) ? 'is-invalid' : ''"
                                            >
                                            <div
                                                v-if="'password' in invalid"
                                                class="invalid-feedback"
                                            >
                                            <span
                                                v-for="(message, k) in invalid.password"
                                                :key="k"
                                            >{{ message }}
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pt-10">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="form-check">
                                            <input
                                                v-model="remember"
                                                class="form-check-input"
                                                type="checkbox"
                                            >
                                            <label class="form-check-label">Запомнить меня</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-20">
                                    <div class="col-md-8 offset-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary mr-10"
                                        >
                                            Войти
                                        </button>
                                    </div>
                                </div>
                                <div class="center">
                                    Авторизуясь на сайте вы подтверждаете <a
                                    class="title blue"
                                    href="/policy.html"
                                    target="_blank"
                                >согласие на обработку данных</a>.
                                </div>
                                <div
                                    v-if="not_success"
                                    class="row pt-2"
                                >
                                    <div class="col-lg-6 m-auto">
                                        <div
                                            class="alert alert-warning alert-dismissible fade show"
                                            role="alert"
                                        >
                                            <strong>Ошибка!</strong>&nbsp;
                                            <span>Данные не обновлены.</span>
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="alert"
                                                aria-label="Close"
                                                @click="not_success = false"
                                            >
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer pb-32" />
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';

export default {
    name: 'MainLoginModal',
    components: {

    },
    props: {},
    data() {
        return {
            login: '',
            password: '',
            invalid: {},
            remember: false,
            not_success: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        show() {
            return this.getStore('modal.login');
        },
    },
    created() {},
    mounted() {

    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        submit() {
            const data = {
                login: this.login,
                password: this.password,
                remember: this.remember,
            };


            this.$axios.post('/login', data)
                .then(() => {

                    this.modalHide();
                    //todo переделать
                    //если нажать вход на экране регистрации
                    document.location.href = '/me/main';
                    this.$router.push({ name: 'me.profile' });
                })
                .catch((e) => {

                    this.invalid = e.response.data.errors;
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.login = '';
            this.password = '';
            this.remember = false;
            this.invalid = {};
            this.setStore({ key: 'modal.login', data: false });
        },
    },
};

</script>
