<template>
    <div class="d-flex">
        <vue-login-modal />
    </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import VueLoginModal from './Modal.vue';

export default {
    name: 'MainLoginNav',
    components: {
        VueLoginModal,
    },
    props: [],
    data() {
        return {
            receiveUserNotififcation: [],
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authRoles',
        ]),
        avatar() {
            let result = '';
            if (this.auth && typeof this.auth.avatar.small !== 'undefined') {
                result = { 'background-image': 'url(' + this.auth.avatar.small + ')' }; // eslint-disable-line
            }
            return result;
        },
        isAdmin() {
            return this.authRoles.find((role) => role === 'admin');
        },
    },
    created() {
    },
    mounted() {
        this.checkAuth();
    },
    beforeUpdate() {
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        checkAuth() {
            if (!this.auth) {
                this.$store.dispatch('getAuth', { loading: { type: 'local' } });
            }
        },
        logout() {

            this.$axios.post('/logout', { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.$store.dispatch('clearAuth');

                    this.$router.push({ name: 'main' });
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        showLogin(val) {
            this.setStore({ key: 'modal.login', data: val });
        },
        addUserNotififcation(){
            if (this.receiveUserNotififcation) {
                if (this.receiveUserNotififcation.message) {

                    console.log(this.receiveUserNotififcation.message);
                }
            }
        }
    },
};

</script>
