<template>
    <div>
        <div class="head-edu">
            <div class="page-head edu-info">
                <org-header
                    v-if="$route.meta.showBaseTemplate"
                    :organization="organization"
                    :mapParam="mapParam"
                />

                <div class="container" v-if="$route.meta.showBaseTemplate">
                    <NavTab  :value="routes"/>
                </div>
            </div>
        </div>
            <router-view
                :organization="organization"
                :permissions="permissions"
                :has-role="hasRole"
            />

    </div>
</template>

<script>

import { mapGetters, mapMutations, createNamespacedHelpers } from 'vuex';
import OrgHeader from '../base/Head';
import NavTab from "@base/components/base/NavTab";

const organizations = createNamespacedHelpers('organization');

export default {
    name: 'OrgEduIndex',
    components: {
        OrgHeader,
        NavTab
    },
    filters: {

    },
    props: [],
    data() {
        return {
            mapParam: {
                zoom: 16,
                coords: [51.660560, 39.200079],
            },
            org_id: 0,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        ...organizations.mapGetters({
            organization: 'ORGANIZATION',
            permissions: 'PERMISSIONS',
            hasRole: 'HAS_ROLE',
        }),
        hasUpdateAbout() {
            return this.getStore('update.org.about');
        },
        routes() {
            return [
                {
                    name: 'org.edu.routes',
                    description: 'Заявки ИОМ',
                    visible: this.permissions?.managing || this.permissions?.iom_head_teaching || this.permissions?.iom_course_approving,
                },
                { name: 'org.edu.tab.courses', description: 'Курсы организации', visible: true },
                // { name: 'org.edu.schedule', description: 'Раписание занятий' },
                // { name: 'org.edu.lectureroom', description: 'Аудитории' },
                { name: 'org.edu.user', description: 'Пользователи', visible: this.permissions.moderation_org_teacher },
                // { name: 'org.edu.interviews', description: 'Опросы' },
                { name: 'org.edu.about', description: 'Описание и контакты', visible: true },
                // { name: 'org.edu.test_access', description: 'Тесты', visible: true },
                // { name: 'org.edu.database', description: 'Базы данных' },
                { name: 'org.edu.result-test', description: "Работа с тестами", visible: this.permissions.moderation_org },
                { name: 'org.edu.cameras', description: "Камеры", visible: this.permissions.organization_camera_index },
                { name: 'org.edu.proctoring', description: "Прокторинг", visible: this.permissions.organization_proctoring_index },
            ]
        },
    },
    watch: {
        $route(to) {
            if (typeof to.params.id !== 'undefined' && to.params.id !== this.org_id && to.params.id) {
                this.org_id = to.params.id;
                this.getOrganization({ id: this.org_id });
            }
        },
        hasUpdateAbout(val) {
            if (typeof this.organization.id === 'number') {
                if (val.includes(this.organization.id)) {
                    val.pop(this.organization.id);
                    this.setStore({ key: 'update.org.about', data: val });
                    this.getOrganization({ id: this.org_id });
                }
            }
        },
    },
    created() {},
    async mounted() {
        if (typeof this.$route.params.id !== 'undefined') {
            this.org_id = this.$route.params.id;
            await this.getOrganization({ id: this.org_id });
            if (this.$route.name === 'org.edu.show') {
                this.$router.push({ name: 'org.edu.about' });
            }
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        ...organizations.mapActions({
            getOrganization: 'GET_ORGANIZATION',
        }),
    },
};

</script>
