<template>
<div>
    <test-attempt :testPaginate="testPaginate" />
</div>
</template>

<script>
import { createNamespacedHelpers} from 'vuex';
import testHeader from '@base/components/course/test/TestHeader';
import TestAttempt from '@base/components/course/test/TestAttempt';
const test = createNamespacedHelpers('test');
export default {
    components: {
        testHeader,
        TestAttempt,
    },
    props: {
        testPaginate: {
            type: Object,
            default: () => ({}),
        },
    },
    data() {
        return {
        }
    },
    computed: {
        ...test.mapGetters({
            questionsAttempt: 'QUESTIONS_ATTEMPT',
        }),
    },
    watch:{
        questionsAttempt(){
            this.testAttemptPagination.items = this.questionsAttempt.length;
        }
    },
}
</script>