<template>
    <div>
        <test-header :caption="{ label: 'Опрос:', description: $store.state.test.test[0].name }" :testAttemptPagination="testAttemptPagination">
            <template v-slot:action>
                <a
                    v-if="$store.state.test.currentAttempt.status === 'ACTIVE'"
                    class="mt-20 btn btn-sm btn-success"
                    @click="finish">
                    Завершить попытку
                </a>
            </template>

            <template #bottom="testAttemptPagination">
                <router-link
                    class="btn btn-red"
                    :to="{ name: 'org.edu.interviews' }"
                >
                    Вернуться назад
                </router-link>
                <b-pagination
                    v-if="$route.name === 'org.edu.interview.attempt'"
                    v-model="testAttemptPagination.testAttemptPagination.currentPage"
                    class="mt-20"
                    :total-rows="testAttemptPagination.testAttemptPagination.items"
                    :per-page="testAttemptPagination.testAttemptPagination.perPage"
                    aria-controls="my-table"
                ></b-pagination>
            </template>

            <template v-slot:availability>

            </template>

            <template v-slot:navigation>
            </template>
        </test-header>
        <main class="course">
            <div class="container">
                <router-view
                    :permission="$attrs.permission"
                    :testPaginate="testAttemptPagination"
                >

                </router-view>
            </div>
        </main>
    </div>
</template>

<script>
import { createNamespacedHelpers} from 'vuex';
const test = createNamespacedHelpers('test');

import TestHeader from '@base/components/course/test/TestHeader';

export default {
    components: {
        TestHeader,
    },
    data() {
        return {
            testAttemptPagination: {
                currentPage: 1,
                perPage: 1,
                items: 0,
            },
        }
    },
    methods: {
        ...test.mapActions({
            getTest: 'GET_TEST',
            finishAttempt: 'FINISH_ATTEMPT',
        }),
        async finish() {
            await this.finishAttempt()
                      .then(() => this.finishAttemptId = this.$store.state.test.currentAttempt);
        },
    },
    computed: {
        ...test.mapGetters({
            questionsAttempt: 'QUESTIONS_ATTEMPT',
        }),
        test() {
            return this.$store.state.test.test;
        }
    },
    watch:{
        questionsAttempt(){
            this.testAttemptPagination.items = this.questionsAttempt.length;
        }
    },
    async created() {
        await this.getTest({ id: this.$route.params.test_id });
    },
}
</script>

<style>

</style>
