<template>
    <popup :caption="'Создать опрос'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Название опроса</label>
                        <input
                            v-model="interview.name"
                            class="form-control"
                            type="text"
                        />
                        <valid-sign
                            :name="'name'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <b-form-checkbox
                            v-model="interview.change_answers"
                            class="mt-35"
                        >
                            Пользователь может менять ответ в опросе
                        </b-form-checkbox>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата начала опроса</label>

                        <datetime
                            format="YYYY-MM-DD H:i"
                            v-model="interview.start"
                            :class="('start' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'start'"
                            :invalid="errors"
                        />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Дата окончания опроса</label>

                        <datetime
                            format="YYYY-MM-DD H:i"
                            v-model="interview.end"
                            :class="('end' in errors) ? 'is-invalid' : ''"
                        />
                        <valid-sign
                            :name="'end'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Максимальное время прохождения теста</label>

                        <input
                            v-model="interview.lead_time"
                            class="form-control"
                            type="number"
                        />
                        <valid-sign
                            :name="'lead_time'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Для кого предназначен опрос</label>
                        <select
                            v-model="interview.rule"
                            class="form-control"
                            required
                        >
                            <option
                                :value="0"
                                disabled
                            >
                                Выберите назначение опроса
                            </option>
                            <option
                                v-for="(rule, k) in interviewRule"
                                :key="k"
                                :value="rule.name"
                            >
                                {{ rule.description }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6" v-if="interview.rule === 'users-with-role'">
                    <div class="form-group">
                        <label
                            class="title gray"
                        >Роли</label>
                        <select
                            v-model="role_id"
                            class="form-control"
                            :class="('role_id' in errors) ? 'is-invalid' : ''"
                            required
                        >
                            <option
                                :value="0"
                                disabled
                            >
                                Выберите роль
                            </option>
                            <option
                                v-for="(role, k) in hasRole"
                                :key="k"
                                :value="role.id"
                            >
                                {{ role.label }}
                            </option>
                        </select>
                        <valid-sign
                            :name="'role_id'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                            
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update(interviewParams)">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import datetime from '@base/components/base/datetime-picker';
import popup from '@base/components/base/Popup';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';
const interview = createNamespacedHelpers('interview');
export default {
    name: 'interviewPopup',
    components: {
        datetime,
        popup,
        SuccessError,
        validSign,
    },
    props: {
        hasRole: {
            type: Array,
            default: () => [],
        }
    },
    mixins: [mixSuccess],
    data() {
        return {
            interview: {
                name: '',
                start: '',
                end: '',
                lead_time: 0,
                rule: '',
                change_answers: true,
            },
            role_id: 0,
            interviewRule: [
                { name: 'users-in-org', description:  'для всех пользователей в органзации'},
                { name: 'users-with-role', description:  'для всех пользователей в органзации с опеделённой ролью'},
                { name: 'all', description:  'для всех пользователей в системе'},
            ],
            errors: {},
        }
    },
    computed: {
        interviewParams() {
            return this.interview.rule === 'users-with-role' ? { ...this.interview, ...{ role_id: this.role_id } } : this.interview;
        },
    },
    methods: {
        ...interview.mapActions({
            createInterview: 'CREATE_INTERVIEW', 
        }),
        closePopup() {
            this.$emit('closePopup');
        },
        async update(payload) {
            try {
                
                await this.createInterview(payload)
                this.mixShow('success');
            } catch (e) {
                this.mixShow('error');
                this.errors = e.response.data.errors;
            }
        },
    },
}
</script>