<template>
    <main class="edu-teachers">
        <div class="container">
            <!-- todo permission -->
            <nav
                class="nav red flex-row flex-nowrap pt-20 justify-content-center"
            >
                <div v-for="(el, id) in tabs" :key="id">
                    <li
                        class="nav-item"
                        :class="el.name === currTab ? 'active' : ''"
                        v-if="!el.permissions || permissions[el.permissions]"
                    >
                        <a
                            class="nav-link"
                            @click="currTab = el.name"
                        >{{ el.description }}</a>
                    </li>
                </div>
            </nav>
            <div class="row teachers py-3" v-if="currTab === 'interview'">
                <div class="database col-lg-10 m-auto">
                    <table class="table">
                        <thead>
                        <caption>Опросы</caption>
                        <tr>
                            <th class="title gray vertical-align-middle">
                                №
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Название
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Создан
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Последнее изменение
                            </th>
                            <th class="title gray vertical-align-middle">
                                Действия
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(interview, k) in listInterview.data" :key="k">
                            <td>
                                {{ interview.id }}
                            </td>
                            <td>
                                <div
                                    style="max-height: 60px; overflow: auto"
                                    v-html="interview.name"
                                >
                                </div>
                            </td>
                            <td>
                                {{ interview.created_at }}
                            </td>
                            <td>
                                {{ interview.updated_at }}
                            </td>
                            <td>
                                <button
                                    v-if="!interview.attempts[0] || (interview.attempts[0] && interview.attempts[0].status === 'ACTIVE')"
                                    type="button"
                                    class="btn btn-red"
                                    @click="startInterviewAttempt(interview)"
                                >
                                    Пройти опрос
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-red"
                                    v-if="interview.can_deletable"
                                    @click="delInterview({ id: question.id })">
                                    Удалить
                                </button>
                                <router-link
                                    v-if="permissions.moderation_org_interviews"
                                    class="btn btn-red"
                                    :to="{ name: 'org.edu.interview.settings', params: { test_id: interview.id }}"
                                >
                                    Настроить
                                </router-link>
                                <router-link
                                    v-if="permissions.moderation_org_interviews"
                                    class="btn btn-red"
                                    :to="{ name: 'org.edu.interview.result', params: { test_id: interview.id }}"
                                >
                                    Результаты
                                </router-link>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <div class="row">
                                    <div class="col-lg-3" v-if="permissions.moderation_org_interviews">
                                        <button
                                            type="button"
                                            class="btn btn-create"
                                            @click="showInterviewPopup()"
                                        >
                                            Добавить опрос
                                        </button>
                                    </div>
                                    <div class="col m-auto">
                                        <b-pagination
                                            aria-controls="my-table"
                                            align="center"
                                            class="m-auto"
                                            v-model.lazy="paginate"
                                            :total-rows="Number(listInterview.paginate.total)"
                                            :per-page="Number(listInterview.paginate.per_page)"
                                        ></b-pagination>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row teachers py-3" v-if="currTab === 'bank'">

                    <div class="col-lg-4">
                        <custom-tree
                            class="item"
                            :item="bankCategory[0]"
                            @selectedTreeEl="selectedTreeEl"
                            @updateElement="categoryUpdate"
                            :default_select="category_id"
                            :updateVisible="true"
                        >
                        </custom-tree>
                        <div>
                            <button
                                type="button"
                                class="btn btn-create"
                                @click="showCategoryPopup()"
                            >
                                Добавить категорию
                            </button>
                        </div>
                    </div>
                <div class="database col-lg-8 m-auto">
                    <table class="table">
                        <thead>
                        <caption>Вопросы</caption>
                        <tr>
                            <th class="title gray vertical-align-middle">
                                №
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Название
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Создан
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Последнее изменение
                            </th>
                            <th class="title gray vertical-align-middle">
                                Действия
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(question, k) in listQuestion.questions.data" :key="k">
                            <td>
                                {{ question.id }}
                            </td>
                            <td>
                                <div
                                    style="max-height: 60px; overflow: auto"
                                    v-html="question.name"
                                >

                                </div>
                            </td>
                            <td>
                                {{ question.created_at }}
                            </td>
                            <td>
                                {{ question.updated_at }}
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-red"
                                    v-if="question.can_deletable"
                                    @click="delQuestion({ id: question.id })">
                                    Удалить
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <div class="row">
                                    <div class="col">
                                        <button
                                            type="button"
                                            class="btn btn-create"
                                            @click="visibleQuestionPopup = true"
                                        >
                                            Добавить вопрос
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <QuestionPopup
            v-if="visibleQuestionPopup"
            :question="question"
            :bank_id="bankQuestion[0].id"
            :treeBankObject="bankQuestion[0]"
            @closePopup="closeQuestionPopup"
        />

        <!--<CategoryPopup
            v-if="visibleCategoryPopup"
            :treeBankObject="bankCategory[0]"
            @closePopup="closeCategoryPopup"
        />-->

        <interviewPopup
            v-if="visibleInterviewPopup"
            @closePopup="closeInterviewPopup"
            :hasRole="$store.state.organization.hasRole"
        />
        <addingQuestionPopup
            v-if="visibleAddingQuestionPopup"
            :test_id="currentTestId"
            :treeBank="bankCategory"
            @closePopup="visibleAddingQuestionPopup = false"
        />
        <!--<changeCategoryPopup
            v-if="visibleChangeCategoryPopup"
            :category="currentUpdateCategory"
            @closePopup="closeChangeCategoryPopup"
            @updateCategory="getCategory({ category_id: bankCategory[0].id })"
        />-->
    </main>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import QuestionPopup from '@base/components/course/bank-question/QuestionPopup';
import CategoryPopup from '@base/components/course/bank-question/CategoryPopup';
import CustomTree from '@base/components/base/Tree/Tree';
import InterviewPopup from '@base/components/org/edu/tab/interview/interviewPopup';
import ChangeCategoryPopup from '@base/components/course/bank-question/changeCategoryPopup';
import addingQuestionPopup from '@base/components/course/test/addingQuestionPopup';

const interview = createNamespacedHelpers('interview');
const bank = createNamespacedHelpers('bank');
const test = createNamespacedHelpers('test');

export default {
    name: 'OrgEduTabInterview',
    props: {
        permissions: {
            type: Object,
            default: ({}),
        },
    },
    components: {
        QuestionPopup,
        CustomTree,
        CategoryPopup,
        InterviewPopup,
        addingQuestionPopup,
        ChangeCategoryPopup,
    },
    data() {
        return {
            tabs: [
                { name: 'interview', description: 'Опросы' },
                { name: 'bank', description: 'Банк вопросов', permissions: 'moderation_org_interviews' },
            ],
            currTab: 'interview',
            visibleQuestionPopup: false,
            visibleInterviewPopup: false,
            visibleCategoryPopup: false,
            visibleAddingQuestionPopup: false,
            visibleChangeCategoryPopup: false,
            currentCategory: 0,
            currentUpdateCategory: {
                id: 0,
                name: '',
            },
            paginate: 1,
            currentTestId: 0,
        }
    },
    computed: {
        listQuestion() {
            return this.$store.state.bank.listQuestion;
        },
        listInterview() {
            return this.$store.state.interview.interview;
        },
        bankCategory() {
            return this.$store.state.bank.bankCategory;
        },
        bankQuestion() {
            return this.$store.state.bank.bankQuestion;
        },
        category_id() {
            return this.$store.state.bank.category_id;
        }
    },
    watch: {
        async $route(to) {
            this.getBankQuestion();
        },
        paginate(val) {
            this.getInterviews({organization_id: this.$route.params.id, page: val});
        },
    },
    methods: {
        ...bank.mapActions({
            getBank: 'GET_BANK',
            getCategory: 'GET_CATEGORY',
            delQuestion: 'DELETE_QUESTION',
            getQuestion: 'GET_QUESTION',
        }),
        ...interview.mapActions({
            getInterviews: 'GET_INTERVIEWS',
        }),
        ...test.mapActions({
            startInterview: 'START_TEST',
            createAttempt: 'CREATE_ATTEMPT',
        }),
        selectedTreeEl(id) {
            this.currentCategory = id;
            this.getCategory({ category_id: id });
        },
        delInterview(payload) {
        },
        closeQuestionPopup() {
            this.visibleQuestionPopup = false;
            this.getQuestion({ category_id: this.currentCategory });
        },
        closeCategoryPopup() {
            this.visibleCategoryPopup = false;
            this.getBankQuestion();
            this.getCategory({ category_id: this.bankCategory[0].id });
        },
        showCategoryPopup() {
            this.visibleCategoryPopup = true;
        },
        async getBankQuestion() {
            this.getBank({ organization_id: this.$route.params.id });
        },
        showInterviewPopup() {
            console.log('Close interview');
            this.visibleInterviewPopup = true;
        },
        closeInterviewPopup() {
            this.visibleInterviewPopup = false;
        },
        startInterviewAttempt(interview) {
            if (interview.attempts.length) {
                this.$router.push({ name: 'org.edu.interview.attempt', params: { test_id: interview.id, attempt_id: interview.attempts[0].id } });
            } else {
                this.createAttempt({ test_id: interview.id })
                    .then((response) => {
                        this.$router.push({ name: 'org.edu.interview.attempt', params: { test_id: this.$store.state.test.attempt.quiz.id, attempt_id: this.$store.state.test.attempt.id } });
                     })
                    .catch((error) => {
                        this.makeToast(error.response?.data.errors.quizzes || {});
                    });
            }
        },
        showAddingQuestionPopup(id) {
            this.currentTestId = id;
            this.visibleAddingQuestionPopup = true;
        },
        categoryUpdate(item) {
            this.currentUpdateCategory = { id: item.id, name: item.name };
            this.visibleChangeCategoryPopup = true;
        },
        makeToast(message) {
            this.$bvToast.toast(message, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: 'Ошибка!',
                variant: 'danger',
                appendToast: true,
            })
        },
        closeChangeCategoryPopup() {
            this.visibleChangeCategoryPopup = false;
        },
    },
    created() {
        this.getBankQuestion();
        this.getInterviews({organization_id: this.$route.params.id});
    },
}
</script>
