<template>
    <div
        class="modal fade show"
        style="display: block; overflow-x: hidden; overflow-y: auto;"
    >
        <div
            class="modal-dialog modal-xl"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        <a v-if="competenceData.id">Обновить компетенцию</a>
                        <a v-else>Добавить компетенцию</a>
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group mb-2">
                                    <label
                                        class="title gray"
                                        for="name_competence"
                                    >Название</label>
                                    <input
                                        id="name_competence"
                                        v-model="competenceData.name"
                                        type="text"
                                        class="form-control"
                                        :class="('name' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'name' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.name"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group mb-2">
                                    <label
                                        class="title gray"
                                        for="description_competence"
                                    >Описание</label>
                                    <input
                                        id="description_competence"
                                        v-model="competenceData.description"
                                        type="text"
                                        class="form-control"
                                        :class="('name' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'name' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.description"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-32">
                            <div class="col-lg-6 pb-16 m-auto">
                                <SuccessError :show="{ not_success, success }" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { createCompetence, updateCompetence } from '@base/api/competence';

export default {
    name: 'ManageCompetence',
    components: {
        SuccessError,
    },
    mixins: [Proccess],
    props: {
        id: {
            type: Number,
            default: 0,
        },
        competenceData: {
            type: Object,
            default: () => {
                return {};
            }
        },
        typeModal: {
            type: String,
            default: '',
        }
    },
    data() {
        return {
        };
    },
    methods: {
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            if (this.typeModal === 'update') {
                updateCompetence(this.competenceData)
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        setTimeout(() => { this.modalHide(); }, 3000);
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            } 
            else if (this.id === 0) {
                createCompetence(this.competenceData)
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        setTimeout(() => { this.modalHide(); }, 3000);
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            } else {
                createCompetence({ ...this.competenceData, ...{ parent_id: this.id }})
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        setTimeout(() => { this.modalHide(); }, 3000);
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            }
        },
        modalHide() {
            this.$emit("hide");
        }
    },

};

</script>
