<template>
    <div
        class="modal fade show"
        style="display: block; overflow-x: hidden; overflow-y: auto;"
    >
        <div
            class="modal-dialog modal-xl"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        <a>Связать с компетенцией</a>
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row pt-32" v-if="this.type === 'recommendations'">
                            <div class="col-lg-6 m-auto">
                                <label
                                    class="title gray"
                                    for="weight_competence"
                                >Компетенция</label>
                                <select-search 
                                    @searchChanged="searchChanged"
                                    @changeValue="changeLinkedId"
                                    :sources="competencies"
                                    placeholder="Начните вводить название компетенции затем выберете из списка"
                                >
                                </select-search>
                            </div>
                        </div>
                        <div class=" row pt-32">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group mb-2">
                                    <label
                                        class="title gray"
                                        for="weight_competence"
                                    >Вес</label>
                                    <input
                                        id="weight_competence"
                                        v-model="competence.weight"
                                        type="number"
                                        min="0"
                                        :max="maxWeight"
                                        step="0.05"
                                        class="form-control"
                                        :class="('weight' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'weight' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.weight"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row pt-32" v-if="this.type === 'recommendations'">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group mb-2">
                                    <div class="form-check">
                                        <input
                                            id="weight_competence"
                                            v-model="competence.duplex"
                                            type="checkbox"
                                            true-value="1"
                                            false-value="0"
                                            class="form-check-input"
                                            :class="('duplex' in invalid) ? 'is-invalid' : ''"
                                        >
                                        <label
                                            class="form-check-label title gray"
                                            for="weight_competence"
                                        >С обратной связью</label>
                                    </div>
                                    <div
                                        v-if="'duplex' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.duplex"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row pt-32" v-if="competence.duplex">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group mb-2">
                                    <label
                                        class="title gray"
                                        for="weight_competence"
                                    >Вес для обратной рекомендации</label>
                                    <input
                                        id="weight_competence"
                                        v-model="competence.weight_reverse"
                                        type="number"
                                        min="0"
                                        :max="maxWeight"
                                        step="0.05"
                                        class="form-control"
                                        :class="('weight_reverse' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'weight_reverse' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.weight_reverse"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-16 pb-16">
                            <div class="col-lg-6 m-auto">
                                <SuccessError :show="{ not_success, success }" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { setRecommendationCompetence, getCompetencies, updateWeightLink } from '@base/api/competence';
import SelectSearch from '@base/components/base/SelectSearch';

export default {
    name: 'ManageLinkedCompetence',
    components: {
        SuccessError,
        SelectSearch,
    },
    mixins: [Proccess],
    props: {
        id: {
            type: Number,
            default: 0,
        },
        competence: {
            type: Object,
            default: () => {
                return {
                    duplex: 0,
                }
            }
        },
        type: {
            type: String,
            default: '',
        }
    },
    data() {
        return {
            competencies: [],
        };
    },
    computed: {
        maxWeight() {
            if (this.type === 'children_competence') {
                return 99.999;
            } else {
                return 0.999
            }
        },
    },
    methods: {
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            if (this.type === 'recommendations') {
                this.showProcessMessage(loading, btn);
                setRecommendationCompetence({ ...{ id: this.id }, ...this.competence })
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        setTimeout(() => { this.modalHide(); }, 3000);
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            } else if (this.type === 'children_competence') {
                this.showProcessMessage(loading, btn);
                updateWeightLink({ ...{ id: this.id }, ...this.competence })
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        setTimeout(() => { this.modalHide(); }, 3000);
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            }
        },
        modalHide() {
            this.$emit("hide");
        },
        searchChanged(val) {
            getCompetencies({search: val})
                .then((response) => {
                    this.competencies = response.data.data.competencies.data;
                });
        },
        changeLinkedId(val) {
            this.competence.competence_id = val;
        }
    },
};

</script>
