<!-- Bashinsky --> 
<template>
    <popup :caption="'Категории'" @closePopup="closePopup">
        <template v-slot:body>
            <custom-tree
                class=""
                :item="bankCategory"
                @selectedTreeEl="selectedTreeEl"
                :default_select="category_id"
                @createdTreeEl="createdTreeEl"
                :can_edit_delete="false"
            >
            </custom-tree>
        </template>
    </popup>
</template>

<script>
    import Popup from "@base/components/base/Popup";
    import CustomTree from '@base/components/base/Tree/Tree';

    export default {
        name: 'CategoriesPopup',
        components: { CustomTree,Popup },
        props: {
            category_id: null,
            bankCategory: {},
            show: {
                type: Boolean,
                default: false,
            },

        },
        methods: {
            createdTreeEl(){
                this.$emit('createdTreeEl');
            },
            selectedTreeEl(item){
                this.$emit('selectedId', item)
                this.$emit('closePopup')
            },
            closePopup(){
                this.$emit('closePopup')
            }
        }
    };
</script>

<style scoped>

</style>
