<!-- Bashinsky --> 
<template>
<Popup :caption="'Вопрос'" @closePopup="closePopup" :modalType="'modal-lg'">
    <template v-slot:body>
        <QuestionPreview :question="question" />
    </template>
</Popup>
</template>

<script>
import Popup from '@base/components/base/Popup';
import QuestionPreview from '@base/components/admin/tests/QuestionPreview.vue';

export default {
    name: "PreviewQuestionPopup",
    components: {
        Popup,
        QuestionPreview,
    },
    props: {
        question: {
            type: Object,
            default: () => ({})
        },
    },
    data() {
        return {}
    },

    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
    }
}
</script>
