<!-- Bashinsky --> 
<template>
    <popup :caption="'Импорт'" @closePopup="closePopup" dialogSize="modal-md">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group mb-10">
                        <label
                            class="title gray"
                        >
                            Docx файл
                        </label>
                        <b-form-file
                            v-model="file"
                            :state="Boolean(file)"
                            placeholder="Выберите файл или перетащите сюда ..."
                            drop-placeholder="Перетащите файл сюда ..."
                        ></b-form-file>
                    </div>
                    <a
                        class="btn btn-success pointer"
                        @click="sendImport"
                    >
                        Отправить
                    </a>
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: 'questionImportPopup',
    data() {
        return {
            file: null
        }
    },
    props: {
        bank_id: {
            type: Number,
            default: 0,
        }
    },
    mixins: [mixSuccess],
    components: {
        popup,
        SuccessError,
        validSign,
    },
    methods: {
        closePopup(){
            this.$emit('closePopup');
        },
        changeFiles(){
            const noFileLengthItem = ({ length, item, ...rest }) => rest;
            this.file = noFileLengthItem(this.$refs.files.files);
            this.$refs.files.value = null;
        },
        sendImport(){
            // /api/v1/bank-questions/1
            // doc
            let data = new FormData();
            data.append('_method', 'patch');
            data.append('action', 'import-questions');
            data.append('doc', this.file);

            axios.post('/api/v1/bank-questions/'+this.bank_id, data)
                .then((response) => {
                    this.file = null;
                    this.closePopup();
                })
        }
    }
};
</script>

<style scoped>

</style>
