<!-- Bashinsky --> 
<template>
    <div class="container py-5">
        <custom-tree
            class=""
            :item="bankCategory"
            @selectedTreeEl="selectedTreeEl"
            :default_select="category_id"
            @createdTreeEl="createdTreeEl"
            :change_parent="true"
            :selected_tree_el="false"
        >
        </custom-tree>
    </div>
</template>

<script>


import CustomTree from '@base/components/base/Tree/Tree';

import { getListBank } from '@base/api/bank-question/bank.js'

export default {
    name: 'CategoriesEdit',
    components: { CustomTree },
    data() {
        return {
            bankCategory: {},
            category_id: null,
        }
    },
    created() {
        this.createdTreeEl();
    },
    methods: {
        createdTreeEl(){
            getListBank({
                //id: this.bank_id,
                organization_id: this.$route.params.id,
                'with[]': 'tree-childs'
            }).then((data) => {
                this.bankCategory = data[0];
            })
        },
        selectedTreeEl(item){
            this.$emit('selectedId', item)
            this.$emit('closePopup')
        },
        modalHide(){
            this.$emit('closePopup')
        }
    }
};
</script>

<style scoped>

</style>
