<template>
    <div class="container">

        <div class="row py-2">
            <div class="col-lg-12">
                <custom-tree
                    class=""
                    :item="bankQuestion"
                    @selectedTreeEl="selectedTreeEl"
                    @createdTreeEl="createdTreeEl"
                    :default_select="bank_id"
                >
                </custom-tree>
            </div>
        </div>

    </div>
</template>

<script>
    import CustomTree from '@base/components/base/Tree/Tree';

    import { getListBank } from '@base/api/bank-question/bank.js'

    export default {
        name: 'AdminQuestionBankCategories',
        data() {
            return {
                visibleCategoriesPopup: false,
                bankQuestion: {

                },
                question: null,
                visibleQuestionPopup: false,
                category: null,
                questions: [],
                pagination: {
                    currentPage: 1,
                    total: 0,
                    perPage: 12
                },
                bank_id: 6,
            }
        },
        components: {
            CustomTree
        },
        created() {
            getListBank({
                id: this.bank_id,
                'with[]': 'tree-childs'
            }).then((data) => {
                this.bankQuestion = data[0];
            })
        },
        methods: {
            selectedTreeEl(){

            },
            createdTreeEl(){
                getListBank({
                    id: this.bank_id,
                    'with[]': 'tree-childs'
                }).then((data) => {
                    this.bankQuestion = data[0];
                })
            }
        }
    };
</script>
