<template>
<div class="container my-3">
    <div class="row">
        <div>
            <a class="btn" @click="showCategoriesPopup">
                Категория: {{ bank_select.name }} <img src="/images/icons/drop_down.svg">
            </a>
        </div>
        <div class="ml-auto">
            <a class="btn mr-2" @click="showQuestionImportPopup">
                Импорт вопросов
            </a>

            <a class="btn" @click="showQuestionPopup">
                Создать вопрос
            </a>
        </div>
    </div>
    <div class="row py-2">
        <table class="table table-bordered table-striped table-adaptive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название вопроса</th>
                    <th>Тип</th>
                    <th>Сложность</th>
                    <th />
                </tr>
            </thead>
            <tbody>
                <tr v-for="(question, id) in questions" :key="id">
                    <td data-label="#">{{ question.id }}</td>
                    <td data-label="Название вопроса">{{ question.name }}</td>
                    <td data-label="Тип">{{ question.question_type.name }}</td>
                    <td data-label="Сложность">{{ complexity_names[question.complexity] }}</td>
                    <td>
                        <a class="btn fa fa-eye mr-2" @click="openQuestionPreviewPopup(question)" />
                        <a class="btn fa fa-edit mr-2" @click="editQuestion(question)" />
<!--                        <a v-if="question.can_deletable" class="btn fa fa-trash" @click="deleteQuestion(question.id)" />-->
                        <a  class="btn fa fa-trash" @click="deleteQuestion(question.id)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row py-2">
        <b-pagination v-model.lazy="currentPage" :total-rows="pagination.total" :per-page="pagination.perPage" aria-controls="my-table" class="m-auto" />
    </div>
    <question-popup v-if="visibleQuestionPopup" :question="question" :bank_id="bank_select.id" :tree-bank-object="bankQuestion" @closePopup="closeQuestionPopup" />
    <question-edit-popup :show="visibleQuestionEditPopup" :question="question" :bank_id="bank_select.id" :tree-bank-object="bankQuestion" @closePopup="closeQuestionEditPopup" />
    <categories-popup v-if="visibleCategoriesPopup" :bank-category="bankQuestion" :category_id="bank_id" @closePopup="closeCategoriesPopup" @selectedId="selectedId" @createdTreeEl="createdTreeEl" />
    <PreviewQuestionPopup :question="qurrentQuestion" @closePopup="closePreviewQuestion" v-if="visiblePreviewQuestionPopup" />
    <question-import-popup v-if="visibleQuestionImportPopup" @closePopup="closeQuestionImportPopup" :bank_id="bank_select.id" />
</div>
</template>

<script>
import deepClone from 'clonedeep';
import {
    getListQuestions
} from '@base/api/bank-question/question.js';
import {
    getListBank
} from '@base/api/bank-question/bank.js';
import QuestionPopup from '@base/components/course/bank-question/QuestionPopup';
import QuestionEditPopup from '@base/components/course/bank-question/QuestionEditPopup';
import CategoriesPopup from './manage/CategoriesPopup';
import PreviewQuestionPopup from './manage/PreviewQuestionPopup';
import QuestionImportPopup from './manage/questionImportPopup'
import { delQuestion } from '@base/api/bank-question/question'

export default {
    name: 'OrgQuestionBankIndex',
    components: {
        CategoriesPopup,
        QuestionPopup,
        PreviewQuestionPopup,
        QuestionEditPopup,
        QuestionImportPopup
    },
    data() {
        return {
            complexity_names: {
                1: 'Базовый',
                2: 'Повышенный 1',
                3: 'Повышенный 2',
            },
            visibleCategoriesPopup: false,
            visibleQuestionEditPopup: false,
            visiblePreviewQuestionPopup: false,
            bankQuestion: {

            },
            question: null,
            visibleQuestionPopup: false,
            visibleQuestionImportPopup: false,
            category: null,
            questions: [],
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 1,
            },
            bank_id: 0,
            bank_select: {
                id: null,
                name: null,
            },
            currentPage: 1,
            qurrentQuestion: {},
        };
    },
    watch: {
        currentPage(val) {
            this.getQuestionList();
        },
    },
    created() {
        getListBank({
            // id: this.bank_id,
            organization_id: this.$route.params.id,
            'with[]': 'tree-childs',
        }).then((data) => {
            this.bank_select = data[0];
            this.bankQuestion = data[0];
            this.getQuestionList();
        });
    },
    methods: {
        deleteQuestion(question_id){
            delQuestion(question_id).then((data) => {
                this.getQuestionList();
            }).catch((error) => {
                this.$bvToast.toast(error.response.data.msg, {
                    autoHideDelay: 5000,
                    toaster: 'b-toaster-bottom-right',
                    title: 'Ошибка!',
                    variant: 'danger',
                    appendToast: true
                });
            })

        },
        createdTreeEl() {
            getListBank({
                // id: this.bank_id,
                organization_id: this.$route.params.id,
                'with[]': 'tree-childs',
            }).then((data) => {
                this.bank_select = data[0];
                this.bankQuestion = data[0];
                this.getQuestionList();
            });
        },
        selectedId(item) {
            this.bank_select = item;

            this.getQuestionList();
        },
        showCategoriesPopup() {
            this.visibleCategoriesPopup = true;
            //this.createdTreeEl()
        },
        closeCategoriesPopup() {
            this.visibleCategoriesPopup = false;
        },
        getQuestionList() {
            getListQuestions({
                bank_id: this.bank_select.id,
                paginated: 1,
                page: this.currentPage,
                qty: 15,
                with: [
                    'answers'
                ]
            }).then((response) => {
                this.questions = response.questions.data;
                this.pagination.total = response.questions.total;
                this.$set(this.pagination, 'perPage', Number(response.questions.per_page));
            });
        },
        closeQuestionPopup() {
            this.visibleQuestionPopup = false;
            this.getQuestionList();
        },
        editQuestion(question) {
            this.question = deepClone(question);
            this.visibleQuestionEditPopup = true;
        },
        showQuestionPopup() {
            this.visibleQuestionPopup = true;
        },
        showQuestionImportPopup(){
            this.visibleQuestionImportPopup = true;
        },
        closeQuestionImportPopup() {
            this.visibleQuestionImportPopup = false;
            this.getQuestionList();
        },
        openQuestionPreviewPopup(question) {
            this.qurrentQuestion = question;
            this.visiblePreviewQuestionPopup = true;
        },
        closeQuestionEditPopup() {
            this.question = {};
            this.visibleQuestionEditPopup = false;
            this.getQuestionList();
        },
        closePreviewQuestion() {
            this.visiblePreviewQuestionPopup = false;
        }
    },
};
</script>
