<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
export default {
    name: 'Navigation',
    components: {
        NavTab
    },
    data() {
        return {
            routes: [
                { name: 'org.viro.question_bank.questions.list', description: 'Вопросы', visible: true },
                { name: 'org.viro.question_bank.questions.category', description: 'Категории', visible: true }
            ]
        }
    }
};
</script>

<style scoped>

</style>
