<!-- Bashinsky --> 
<template>
    <div class="course-data">
        <div>
            <router-link
                :to="{
                        name: 'org.edu.course.view',
                        params: { organization_id: course.organization_id, course_id: course.id }
                }"
            >
                <div
                    class="course-head"
                    :style="(course.preview) ? 'background-image: url(' + course.preview + ')' : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                />
                <div class="course-info">
                    <div class="fs-20">
                        <b>{{ course.name }}</b>
                    </div>
                    <div>
                        Количество модулей: {{ course.children ? course.children.length : 0 }}
                    </div>
                </div>
            </router-link>
            <div class="pl-4 pb-3">
                <slot name="controls">
                </slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'baseCardCourse',
    props: {
      course: {
          type: Object,
          default: () => ({}),
      },
    classStyle: {
        type: String,
        default: '',
    },
    },
    data() {
        return {

        }
    },
}
</script>
