<!-- Bashinsky --> 
<template>
    <div class="col-lg-3 news pt-40">
        <router-link
            class="default-link-no-c"
            :to="{ name: 'news.show', params: { id: element.id }}"
        >
            <!-- eslint-disable-next-line max-len -->
            <div
                class="news-head"
                :style="('small' in element.image_conversions) ?
                    'background-image: url(' + element.image_conversions.small + ')' :
                    'background-image: url(\'/images/news/new 1.png\')'"
            >
                <div class="pt-16 pl-24">
                    <img
                        :src="element.logo"
                        width="46px"
                    >
                </div>
            </div>
            <div class="pt-20 title gray">
                {{ element.publish_at }}
            </div>
            <div class="title black fs-16 pr-16">
                {{ element.title }}
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'news',
    props: {
        element: {
            type: Object,
            default: ({}),
        }
    },
    data() {
        return {
            
        }
    }
}
</script>