<template>
    <div>
        <div class="head-edu head-edu-program">
            <div class="page-head">
                <div class="container pt-24 pb-40">
                    <div
                        class="m-auto logo"
                        :style="(program && program.organization) ? 'background-image: url(' + program.organization.logo + ')'
                            : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                    />
                    <div class="center fs-16 title white pt-10">
                        <router-link
                            v-if="program && program.organization"
                            :to="{ name: 'org.edu.about', params: { id: program.organization.id }}"
                        >
                            {{ (program && program.organization) ? program.organization.name : '' }}
                        </router-link>
                    </div>

                    <div class="center title gray pt-48">
                        Образовательная программа
                    </div>

                    <div class="center fs-40 title white fs-b pt-10">
                        {{ program ? program.name : "" }}
                    </div>
                </div>
            </div>
        </div>
        <main class="edu-program">
            <div class="container">
                <div class="row align-items-center pt-3">
                    <div class="col-lg-4 pb-10">
                        <span class="fs-16 title gray upper">О программе</span>
                        <button
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="btn btn-edit ml-20"
                            @click="showAddProgram({ 'update': $route.params.id_program })"
                        >
                            Редактировать
                        </button>
                    </div>
                    <div class="col-lg-4 d-flex pb-10">
                        <div class="m-md-auto">
                            <span class="title gray">Дисциплин: </span>
                            <b class="pr-2">{{ quantityCourses }}</b>
                            <!--
                            <span class="title gray">Модулей: </span>
                            <b class="pr-2">20</b>
                            <span class="title gray">Занятий: </span><b>120</b>
                            -->
                        </div>
                    </div>
                    <div class="col-lg-4 pb-10 d-flex align-items-center">
                        <div class="ml-md-auto">
                            <!--
                            <span class="title gray">Компетенций: </span>
                            <b class="pr-32">5</b>
                            <a
                                href="#"
                                class="btn"
                            >Смотреть все</a>-->
                        </div>
                    </div>
                </div>
                <div class="pb-40">
                    <div>
                        <span class="title gray">Описание</span>
                    </div>
                    <div v-html="program ? program.description : ''" />
                </div>
                <div
                    v-if="teachers.length > 0 || permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                    class="teachers"
                >
                    <div class="teacher title gray">
                        Преподаватели:
                    </div>
                    <div class="row no-gutters">
                        <div
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-add"
                                @click="openAttachTeacher('attach-user')"
                            />
                            <div
                                class="teacher-remove"
                                @click="openAttachTeacher('detach-user')"
                            />
                        </div>
                        <div
                            v-for="(teacher, id) in teachers"
                            :key="id"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-avatar"
                                :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                    : 'background-image: url(/images/user_avatar.svg)'"
                            />
                            <div class="d-flex align-self-center">
                                <div class="fs-16 align-self-center pr-2">
                                    {{ teacher.firstname + " " + teacher.lastname }}
                                </div>
                                <div>
                                    <a
                                        v-if="program_selected && auth"
                                        :href="`/chats/start/`+teacher.id"
                                        class="btn"
                                    >
                                        <img src="/images/icons/comment.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <nav
                    class="nav  red flex-row flex-nowrap justify-content-center"
                >
                    <li
                        class="nav-item"
                    >
                        <router-link
                            class="nav-link"
                            :to="{ name: 'org.edu.programview', params: { program: program_id} }"
                        >
                            Все дисциплины
                        </router-link>
                    </li>
                    <li
                        class="nav-item active"
                    >
                        <router-link
                            class="nav-link"
                            :to="{ name: 'org.edu.programview.groups', params: { program: program_id} }"
                        >
                            Группы
                        </router-link>
                    </li>
<!--                    <li-->
<!--                        class="nav-item"-->
<!--                    >-->
<!--                        <router-link-->
<!--                            v-if="permissions.moderation_org_prog_schedules"-->
<!--                            class="nav-link"-->
<!--                            :to="{ name: 'org.edu.programview.schedules', params: { program: program_id} }"-->
<!--                        >-->
<!--                            Расписание-->
<!--                        </router-link>-->
<!--                    </li>-->
                </nav>
                <div class="row mt-10" v-if="permissions.moderation_groups || permissions.moderation_org_prog">
                    <div class="ml-auto col-lg-2">
                        <select
                            class="form-control"
                            v-model="groupsFilter.show"
                        >
                            <option value="">Все</option>
                            <option value=1>Видимые</option>
                            <option value=0>Скрытые</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select
                            class="form-control"
                            v-model="groupsFilter.action"
                        >
                            <option value="">Все</option>
                            <option value="filling">в процессе набора</option>
                            <option value="filled">набран</option>
                            <option value="not-filled">не набран</option>
                            <option value="studying">в процессе обучения</option>
                            <option value="studyed">закончили обучение</option>
                        </select>
                    </div>
                </div>
                <div class="py-4">
                    <div
                        v-for="(group, k) in groups.data"
                        :key="k"
                        class="border rounded py-3 my-3"
                    >
                        <div class="row px-4">
                            <div class="col-lg-12 d-flex align-items-center pb-10">
                                <span class="fs-24 pr-4">Группа: <b>{{ group.name }}</b></span>
                                <i
                                    class="fa fa-eye  ml-10 pointer"
                                    v-if="group.show && permissions.moderation_groups" @click="changeGroupVisible(group, k,0)"
                                    v-tooltip.top-center="'Видимая, сделать скрытой'"
                                />
                                <i
                                    class="fa fa-eye-slash  ml-10 pointer"
                                    v-if="!group.show && permissions.moderation_groups"
                                    @click="changeGroupVisible(group, k,1)"
                                    v-tooltip.top-center="'Скрытая, сделать видимой'"
                                />
                                <i
                                    v-if="permissions.moderation_groups"
                                    class="fa fa-pencil pointer ml-10"
                                    @click="updateGroup(group)"
                                />
                                <i
                                    v-if="permissions.moderation_groups && group.users.length == 0"
                                    class="fa fa-trash-o pointer ml-10"
                                    aria-hidden="true"
                                    @click="delGroup(group.id)"
                                    v-tooltip.top-center="'Удалить'"
                                />
                                <div
                                    v-if="!program_selected && auth && !permissions.moderation_lessons"
                                    class="center pt-10 ml-auto"
                                >
                                    <a
                                        class="m-auto btn btn-red"
                                        @click="signUp(group.id)"
                                    >Записаться</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                Обучение: с <b>{{ group.started_at | moment('DD.MM.YYYY') }}</b> по <b>{{ group.finished_at | moment('DD.MM.YYYY') }}</b>
                            </div>
                            <div class="col-lg-3">
                                 Обучающиеся: порог <b>{{ group.min }}</b>, сейчас <b>{{ group.users_count }}</b> из <b>{{ group.max }}</b>
                            </div>
                            <div class="col-lg-12 pt-10 pb-10 title gray">
                                Обучающиеся:
                            </div>

                            <div
                                v-for="(user, j) in group.users"
                                :key="j"
                                class="col-lg-3 pb-10 d-flex align-items-center"
                            >
                                <i
                                    v-if="permissions.moderation_groups"
                                    class="fa fa-trash-o pointer pr-5"
                                    aria-hidden="true"
                                    @click="signOut(group.id, user.id)"
                                />
                                <div
                                    class="user-avatar small mr-10"
                                    :style="(user) ? 'background-image: url(' + user.avatar.medium + ')'
                                        : 'background-image: url(\'/images/user_avatar.svg\')'"
                                />
                                <div class="align-self-center">
                                    <div class="fs-16 align-self-center pr-10">
                                        {{ user.firstname + " " + user.lastname }}
                                    </div>
                                    <div class="fs-12 align-self-center pr-10">
                                        <i>{{ user.email }}</i>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 pb-10 d-flex align-items-center">
                                <i
                                    v-if="permissions.moderation_groups"
                                    class="pr-10"
                                    aria-hidden="true"
                                    @click="signOut(group.id, user.id)"
                                />
                                <div
                                    v-if="permissions.moderation_groups"
                                    class="add-btn-round wh-40"
                                    @click="openAttachStudent(group.id)"
                                />
                                <div>
                                    Перенести студента
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        v-if="permissions.moderation_groups"
                        class="pt-10 d-flex"
                        @click="openAddSchedule()"
                    >
                        <a class="mx-auto btn btn-create">Добавить группу</a>
                    </div>
                </div>
            </div>
        </main>
        <EduManageProgram
            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
            :organization_id="organization_id"
            :permissions="permissions"
            :program_id="program_id"
            :program-prop="program"
        />
        <EduManageCourse
            v-if="permissions.moderation_org_prog_courses || permissions.checker_org_prog_courses"
            :program_id="program_id"
            :program="program"
        />
        <AttachTeacher
            v-if="visibleAttachTeacher"
            :users="users"
            :toggle="toggleAttachTeacher"
            @closePopup="closeAttachTeacher"
            @fetch="fetchAttachTeacher"
        />
        <OrgProgramAddSchedule
            v-if="visibleProgramAddSchedule"
            :organization_id="organization_id"
            :program_id="program_id"
            :schedule="schedule"
            @closePopup="closeAddSchedule"
        />
        <OrgProgramUpdateSchedule
            v-if="visibleProgramUpdateSchedule"
            :prop_group="prop_group"
            @closePopup="closeUpdateSchedule"
        />
        <AttachStudent
            v-if="visibleAttachStudent"
            @closePopup="closeAttachStudent"
            :fetch="fetchAttachStudent"
            :getUser="getStudent"
        />
    </div>
</template>

<script>
// import deepClone from 'clonedeep';
import { createNamespacedHelpers, mapGetters, mapMutations } from 'vuex';
import axios from '@base/bootstrap';
// import { defOrganization } from '@base/inc/defaults/app';
// import PaginateCmp from '@base/components/inc/Paginate';
import EduManageProgram from '@base/components/program/manage/Program';
import EduManageCourse from '@base/components/program/manage/Course';
import AttachTeacher from '@base/components/program/manage/AttachTeacher';
import AttachStudent from '@base/components/program/manage/AttachStudent';
import OrgProgramAddSchedule from '@base/components/program/manage/OrgProgramAddSchedule';
import OrgProgramUpdateSchedule from '@base/components/program/manage/OrgProgramUpdateSchedule';
import { attachOrDetachUser } from '@base/api';
import { getListGroup, movetoGroup, signupGroup, signoutGroup, deleteGroup, updateGroup, updateGroupVisible } from '@base/api/group';

const courses = createNamespacedHelpers('courses');
const programs = createNamespacedHelpers('programs');
const organization = createNamespacedHelpers('organization');

export default {
    name: 'OrgEduViewProgramGroups',
    components: {
        // PaginateCmp,
        EduManageProgram,
        EduManageCourse,
        AttachTeacher,
        OrgProgramAddSchedule,
        AttachStudent,
        OrgProgramUpdateSchedule
    },
    props: [],
    data() {
        return {
            groupsFilter: {
                action: "filling",
                program_id: 0,
                show: "1",
                with_users: 1,
            },
            qty: 100,
            queryParams: {
                show: 1,
                status: 'active',
            },
            visibleAttachTeacher: false,

            visibleAttachStudent: false,
            currentGroupId: null,
            visibleProgramAddSchedule: false,
            visibleProgramUpdateSchedule: false,
            toggleAttachTeacher: 'detach-user',
            tab: 1,
            prop_group: null,
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
            'auth',
        ]),
        ...courses.mapGetters({
            courses: 'COURSES',
            paginate: 'PAGINATE',
            quantityCourses: 'QUANTITY_COURSES',
        }),
        ...programs.mapGetters({
            groups: 'GROUPS',
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...organization.mapGetters({
            permissions: 'PERMISSIONS',
            organization: 'ORGANIZATION',
            teachersOrganization: 'TEACHERS',
            schedule: 'SCHEDULE',
        }),
        organization_id() {
            return Number(this.$route.params.id);
        },
        program_id() {
            return Number(this.$route.params.id_program); // eslint-disable-line vue/no-dupe-keys
        },
        users() {
            if (this.toggleAttachTeacher === 'attach-user') {
                return this.teachersOrganization.filter((x) => !this.teachers.find((y) => y.id === x.id));
            } if (this.toggleAttachTeacher === 'detach-user') {
                return this.teachers;
            }
            return {};
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        ...courses.mapActions({
            getCourse: 'GET_COURSE',
            saveCourse: 'SAVE_COURSE',
            showModal: 'SHOW_MODAL',
        }),
        ...programs.mapActions({
            getProgram: 'GET_PROGRAM',
            showAddProgram: 'SHOW_MODAL',
            getGroups: 'GET_GROUPS',
        }),
        ...programs.mapMutations({
            setTeachers: 'SET_TEACHERS',
            setGroupUsers: 'SET_GROUP_USERS',
            removeGroup: 'REMOVE_GROUP',
        }),
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
            getSchedule: 'GET_SCHEDULE',
        }),
        requestCourse() {
            this.updateQueryParams();
            if ((typeof this.program_id === 'number' && this.program_id)
                    && (typeof this.organization.id === 'number' && this.organization.id)) {
                this.getCourse({
                    action: 'get-from-prog',
                    program_id: this.program_id,
                    page: this.$route.params.page,
                    qty: this.qty,
                    ...this.queryParams,
                });
            }
        },
        updateQueryParams() {
            this.queryParams = {
                show: 1,
                status: 'active',
            };
            if (this.permissions) {
                if (this.permissions.moderation_org_prog_courses
                        || this.permissions.checker_org_prog_courses) {
                    this.queryParams = {
                    };
                }
            }
        },
        closeAttachTeacher() {
            this.visibleAttachTeacher = false;
        },
        openAttachTeacher(toggle) {
            this.toggleAttachTeacher = toggle;
            this.visibleAttachTeacher = true;
        },
        fetchAttachTeacher(id) {
            attachOrDetachUser({ id: this.program_id, to: 'programs', user_id: id }, this.toggleAttachTeacher)
                .then(({ data: { data: { teachers } } }) => { this.setTeachers(teachers); });
        },

        async fetchAttachStudent(arrayId) {
            // let request = arrayId.map((id) =>
            //     signupGroup({ user_id: id, id: this.currentGroupId })
            //         .then((res) => res));
            let request = arrayId.map((id) =>
                movetoGroup({ user_id: id, id: this.currentGroupId, program_id: this.program_id })
                    .then((res) => res));
            return Promise.all(request);
        },
        closeAttachStudent() {
            this.currentGroupId = null;
            this.visibleAttachStudent = false;
            this.getGroups(this.groupsFilter);
        },
        openAttachStudent(groupId) {
            this.currentGroupId = groupId;
            this.visibleAttachStudent = true;
        },

        openAddSchedule() {
            this.visibleProgramAddSchedule = true;
        },
        closeAddSchedule() {
            this.visibleProgramAddSchedule = false;
            this.getGroups(this.groupsFilter);
        },
        delGroup(id) {
            deleteGroup(id).then(() => this.removeGroup(id));
        },
        signUp(groupId) {
            if (typeof this.program_id === 'number' && this.program_id) {
                // const formData = {
                //     _method: 'patch',
                //     action: 'sign-up',
                // };
                // axios.post(`/api/v1/programs/${this.program_id}`, formData)
                //     .then(() => {
                //         location.reload(); // eslint-disable-line no-restricted-globals
                //     })
                //     .catch(() => {
                //
                //     });
                signupGroup({user_id: this.auth.id, id:  groupId})
                         .then(() => {
                             location.reload();
                         })
            }
        },
        async signOut(groupId, userId) {
            signoutGroup({ id: groupId, user_id: userId })
                .then(({ data: { data: { group: { users } } } }) =>
                    this.setGroupUsers({id: groupId, users: users}));
        },
        async getStudent() {
            return getListGroup({
                            program_id: this.program_id,
                            with_users: 1,
                        })
                        .then((response) => {
                            // let result = response.groups.data.filter(group => group.name === 'system');
                            let result = [];
                            response.groups.data.forEach((element) => {
                                result = result.concat(element.users);
                            });
                            return result;
                        });
        },
        updateGroup(group){
            this.prop_group = group;
            this.visibleProgramUpdateSchedule = true;
        },
        closeUpdateSchedule(){
            this.visibleProgramUpdateSchedule = false;
            this.prop_group = false;
            this.getGroups(this.groupsFilter);
        },
        changeGroupVisible(group, k, status){
            let out = updateGroupVisible({
                id: group.id,
                show: status
            }).then((response) => {
                this.groups.data[k].show = status;
            });
        }
    },
    watch: {
        groups() {
            this.groups.data.forEach((element) => {
            });
        },
        groupsFilter: {
            handler(val){
                this.getGroups(this.groupsFilter);
            },
            deep: true
        },
        program(val) {
            if (val.type === 'sort') {
                this.tab = 0;
            }
            this.groupsFilter.program_id = val.id;
            //this.getGroups(this.groupsFilter);
        },
        $route() {
            this.requestCourse();
        },
        qty() {
            this.$router.replace({ name: 'org.edu.programview', params: { page: 1 } }).catch(() => {});
        },
    },
    mounted() {
        // if (!(this.permissions.moderation_groups || this.permissions.moderation_org_prog)) {
        //     console.log(this.permissions);
        //     console.log("sdfgsdfgf");
        //     this.groupsFilter = { ...this.groupsFilter, ...{ show: 1 , action: 'filling', program_id: this.program_id }};
        // }
        if (typeof this.$route.params.id !== 'undefined') {
            this.getOrganization({ id: this.$route.params.id }).then(() => { this.requestCourse(); });
            this.getSchedule({ id: this.$route.params.id });
            if (this.$route.name === 'org.edu.show') {
                this.$router.push({ name: 'org.edu.about' });
            }
        }
        this.getProgram({
            id: this.$route.params.id_program,
        });


        this.requestCourse();
    },
};
</script>
