<template>
    <div class="container">
        <div class="row">
            <div class="col-md-2 input-group pt-2">
                <input
                    v-model="search"
                    type="text"
                    placeholder="Искать"
                    aria-label="Искать"
                    class="form-control"
                >
                <div
                    class="input-group-append mr-auto"
                    @click="getSearchProgram()"
                >
                    <span
                        id="search"
                        class="input-group-text title pointer"
                    >
                        <img src="/images/icons/search.svg" width="90%">
                    </span>
                </div>
            </div>
            <div class="col-md-2 ml-auto align-items-center pt-2">
                <select
                    v-model="group_type"
                    class="custom-select"
                    name="education_program_speciality_types"
                >
                    <option value="">
                        Группы:
                    </option>
                    <option value="all">
                        Все
                    </option>
                    <option value="filling">
                        Ведется набор
                    </option>
                    <option value="studying">
                        Обучаются
                    </option>
                </select>
            </div>
            <div class="col-md-3 align-items-center pt-2">
                <select
                    v-model="organization_id"
                    class="custom-select"
                >
                    <option value="">
                        Организация:
                    </option>
                    <option
                        value="6"
                    >
                        ЦОПП
                    </option>
                    <option
                        v-for="(row, k) in edu_organizations"
                        :value="row.id"
                    >
                        {{ row.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="pt-3 pb-3 edu-programs">
            <div
                v-for="(program, k) in programs"
                :key="k"
            >
                <div class="edu-program">
                    <router-link
                        :to="{
                            name: 'org.edu.programview',
                            params: { id_program: program.id, id: program.organization_id, page: 1 }
                        }"
                        class="title white"
                    >
                        <div>
                            <div
                                class="m-auto logo"
                                :style="(program.organization.logo) ? 'background-image: url(' + program.organization.logo + ')'
                                    : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                            />
                        </div>

                        <div class="fs-18 fs-sm center lh-32">
                            {{ program.organization.name }}
                        </div>
                        <div class="pt-2 title gray">
                            Образовательная программа
                        </div>
                        <div class="fs-18 fs-sm lh-32">
                            {{ program.name }}
                        </div>
                        <div class="d-flex justify-content-between pt-32 title gray">
                            <div v-if="program.type == 'long'">
                                СПО
                            </div>
                            <div v-if="program.type == 'short'">
                                Краткосрочная
                            </div>
                            <div>
                                Дисциплин: {{ program.courses_count }}
                            </div>
                            <div style="display: none">
                                Модулей:
                            </div>
                            <div style="display: none;">
                                Занятий:
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 d-flex align-items-center">
                <div class="text-nowrap">На странице</div>
                <select
                    v-model="qty"
                    class="custom-select ml-2"
                >
                    <option
                        value="6"
                        selected
                    >
                        6
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="12">
                        12
                    </option>
                    <option value="15">
                        15
                    </option>
                </select>
            </div>
            <div class="col-lg-8 m-auto">
                <paginate-cmp
                    :route-name="'programs.list'"
                    :route-params="{ page: 2 }"
                    :pagination="pagination"
                />
            </div>
            <div class="col-lg-2" />
        </div>
    </div>
</template>

<script>

import PaginateCmp from '@base/components/inc/Paginate.vue';
import Paginate from '@base/inc/func/Paginate';
import { getPrograms } from '@base/api/index';
import {createNamespacedHelpers} from "vuex";

const programs = createNamespacedHelpers('programs');
const organization = createNamespacedHelpers("organization");

export default {
    name: 'ProgramsList',
    components: {
        PaginateCmp,
    },
    props: [],
    data() {
        return {
            news: {},
            filter: {
                page: 1,
                per_page: 10,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            search: null,
            type: 'all',
            group_type: '',
            organization_id: '',
            speciality_type: '',
            programs: {},
            qty: 12,
        };
    },
    computed: {
        ...programs.mapGetters({
            educationProgramSpecialityTypes: 'SPECIALITY_TYPES'
        }),
        ...organization.mapGetters({
            edu_organizations: 'ORGANIZATIONS'
        })
    },
    watch: {
        group_type() {
            this.getSearchProgram(1);
        }
        ,organization_id() {
            this.getSearchProgram(1);
        },
        speciality_type() {
            this.getSearchProgram(1);
        },
        type() {
            this.getSearchProgram(1);
        },
        $route(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }

            getPrograms({
                type: this.type,
                qty: this.qty,
                page: this.filter.page,
            }, this.$store)
                .then((response) => {
                    this.programs = response.data;
                    this.pagination = Paginate.calculate(response);
                });
        },
        qty() {
            this.getSearchProgram(1);
        },
    },
    created() {

    },
    mounted() {
        this.getProgramTypes();
        this.getEduOrganizations({
            per_page: 9999,
            page: 1
        });
        if (typeof this.$route.params.page !== 'undefined') {
            this.filter.page = this.$route.params.page;
        }
        this.getSearchProgram(1);
    },
    methods: {
        ...programs.mapActions({
            getProgramTypes: 'GET_SPECIALITY_TYPES'
        }),
        ...organization.mapActions({
            getEduOrganizations: 'GET_ORGANIZATIONS'
        }),
        getSearchProgram(page) {
            this.filter.page = page;
            getPrograms({
                organization_id: this.organization_id,
                search: this.search,
                group_type: this.group_type,
                type: this.type,
                speciality_type: this.speciality_type,
                qty: this.qty,
                page: this.filter.page,
            }, this.$store)
                .then((response) => {
                    this.programs = response.data;
                    this.pagination = Paginate.calculate(response);
                });
        },
    },
};

</script>
