<template>
    <div>
        <div class="head-edu head-edu-program">
            <div class="page-head">
                <div class="container pt-24 pb-40">
                    <div
                        class="m-auto logo"
                        :style="(program && program.organization) ? 'background-image: url(' + program.organization.logo + ')'
                            : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                    />
                    <div class="center fs-16 title white pt-10">
                        <router-link
                            v-if="program && program.organization"
                            :to="{ name: 'org.edu.about', params: { id: program.organization.id }}"
                        >
                            {{ (program && program.organization) ? program.organization.name : '' }}
                        </router-link>
                    </div>

                    <div class="center title gray pt-48">
                        Образовательная программа
                    </div>

                    <div class="center fs-40 title white fs-b pt-10">
                        {{ program ? program.name : "" }}
                    </div>
                </div>
            </div>
        </div>
        <main class="edu-program">
            <div class="container">
                <div class="row align-items-center pt-3">
                    <div class="col-lg-4 pb-10">
                        <span class="fs-16 title gray upper">О программе</span>
                        <button
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="btn btn-edit ml-20"
                            @click="showAddProgram({ 'update': $route.params.id_program })"
                        >
                            Редактировать
                        </button>
                    </div>
                    <div class="col-lg-4 d-flex pb-10">
                        <div class="m-md-auto">
                            <span class="title gray">Дисциплин: </span>
                            <b class="pr-2">{{ quantityCourses }}</b>

                        </div>
                    </div>
                    <div
                        v-if="program && program.vacancies"
                        class="col-lg-4 pb-10 d-flex align-items-center"
                    >
                        <div class="ml-md-auto">

                            <span class="title gray">Вакансий: </span>
                            <b class="pr-32">
                                {{ program.vacancies.length }}
                            </b>
                            <a
                                href="#"
                                class="btn"
                                @click="openVacanciesModal"
                            >Смотреть все</a>
                            <vacancies-modal
                                :show="vacanciesModalShow"
                                :organization_id="organization_id"
                                :program="program"
                                @closePopup="closeVacanciesModal"
                            />
                        </div>
                    </div>
                </div>
                <div class="pb-40">
                    <div>
                        <span class="title gray">Описание</span>
                    </div>
                    <div v-html="program ? program.description : ''" />
                </div>
                <div
                    v-if="teachers.length > 0 || permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                    class="teachers"
                >
                    <div class="teacher title gray">
                        Преподаватели:
                    </div>
                    <div class="row no-gutters">
                        <div
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-add"
                                @click="openAttachTeacher('attach-user')"
                            />
                            <div
                                class="teacher-remove"
                                @click="openAttachTeacher('detach-user')"
                            />
                        </div>
                        <div
                            v-for="(teacher, id) in teachers"
                            :key="id"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-avatar"
                                :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                    : 'background-image: url(/images/user_avatar.svg)'"
                            />
                            <div class="d-flex align-self-center">
                                <div class="fs-16 align-self-center pr-2">
                                    {{ teacher.firstname + " " + teacher.lastname }}
                                </div>
                                <div>
                                    <a
                                        v-if="program_selected && auth"
                                        :href="`/chats/start/`+teacher.id"
                                        class="btn"
                                    >
                                        <img src="/images/icons/comment.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <nav
                    v-if="program"
                    class="nav  red flex-row flex-nowrap justify-content-xxl-center"
                >
                    <li
                        class="nav-item active"
                    >
                        <a
                            class="nav-link active"
                            href="javascript:void(0)"
                        >Дисциплины</a>
                    </li>
                    <li
                        class="nav-item"
                    >
                        <router-link
                            class="nav-link"
                            :to="{ name: 'org.edu.programview.groups', params: { program: program_id} }"
                        >
                            Группы
                        </router-link>
                    </li>
                </nav>
                <nav
                    v-if="program && program.count_semesters > 1"
                    class="nav  red flex-row flex-nowrap justify-content-xxl-center pt-10"
                >
                    <li
                        class="nav-item"
                        :class="tab === 0 ? 'active' : ''"
                    >
                        <a
                            class="nav-link"
                            href="javascript:void(0)"
                            @click="tab = 0"
                        >Все</a>
                    </li>
                    <li
                        v-for="(count, id) in program.count_semesters"
                        :key="id"
                        class="nav-item"
                        :class="tab === count ? 'active' : ''"
                    >
                        <a
                            class="nav-link"
                            href="javascript:void(0)"
                            @click="tab = count"
                        >Семестр {{ count }}</a>
                    </li>
                </nav>
                <div class="courses py-4">

                    <div
                        v-if="permissions.moderation_org_prog_courses || permissions.checker_org_prog_courses"
                        class="course d-flex ml-auto mr-auto"
                    >
                        <div class="m-auto pointer">
                            <div class="course-add m-auto" />
                            <div class="fs-16 pt-10">
                                <a

                                    @click=" showModal({id: program.id}) "
                                >Добавить дисциплину</a>
                            </div>
                        </div>
                    </div>
                    <div
                        v-for="(course, k) in courses"
                        v-if="(tab in course.semesters) || (tab == 0)"
                        :key="k"
                    >
                        <div
                            class="course ml-auto mr-auto"
                        >
                            <router-link
                                :to="{ name: 'org.edu.program.course.view', params: { course: course.id, program: program_id} }"
                            >
                                <div
                                    class="course-head d-flex flex-column"
                                    :style="(course.preview) ? 'background-image: url(' + course.preview + ')'
                                        : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                                />
                                <div class="course-info">
                                    <div class="fs-16 pt-12 pb-12">
                                        <b>{{ course.name }}</b>
                                    </div>
                                    <div>
                                        Количество модулей: {{ course.children ? course.children.length : 0 }}
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <EduManageProgram
            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
            :organization_id="organization_id"
            :permissions="permissions"
            :program_id="program_id"
            :program-prop="program"
        />
        <EduManageCourse
            v-if="permissions.moderation_org_prog_courses || permissions.checker_org_prog_courses"
            :program_id="program_id"
            :program="program"
        />
        <AttachTeacher
            v-if="visibleAttachTeacher"
            :users="users"
            :toggle="toggleAttachTeacher"
            @closePopup="closeAttachTeacher"
            @fetch="fetchAttachTeacher"
        />
    </div>
</template>

<script>
// import deepClone from 'clonedeep';
import { createNamespacedHelpers, mapGetters, mapMutations } from 'vuex';
import axios from '@base/bootstrap';
// import { defOrganization } from '@base/inc/defaults/app';
import EduManageProgram from '@base/components/program/manage/Program';
import EduManageCourse from '@base/components/program/manage/Course';
import AttachTeacher from '@base/components/program/manage/AttachTeacher';
import { attachOrDetachUser } from '@base/api';

import VacanciesModal from "./manage/VacanciesModal";

const courses = createNamespacedHelpers('courses');
const programs = createNamespacedHelpers('programs');
const organization = createNamespacedHelpers('organization');

export default {
    name: 'OrgEduViewProgram',
    components: {
        EduManageProgram,
        EduManageCourse,
        AttachTeacher,
        VacanciesModal
    },
    props: [],
    data() {
        return {
            vacanciesModalShow: false,
            qty: 100,
            queryParams: {
                show: 1,
                status: 'active',
            },
            visibleAttachTeacher: false,
            toggleAttachTeacher: 'detach-user',
            tab: 1,
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
            'auth',
        ]),
        ...courses.mapGetters({
            courses: 'COURSES',
            paginate: 'PAGINATE',
            quantityCourses: 'QUANTITY_COURSES',
        }),
        ...programs.mapGetters({
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...organization.mapGetters({
            permissions: 'PERMISSIONS',
            organization: 'ORGANIZATION',
            teachersOrganization: 'TEACHERS',
        }),
        organization_id() {
            return Number(this.$route.params.id);
        },
        program_id() {
            return Number(this.$route.params.id_program); // eslint-disable-line vue/no-dupe-keys
        },
        users() {
            if (this.toggleAttachTeacher === 'attach-user') {
                return this.teachersOrganization.filter((x) => !this.teachers.find((y) => y.id === x.id));
            } if (this.toggleAttachTeacher === 'detach-user') {
                return this.teachers;
            }
            return {};
        },
    },
    watch: {
        program(val) {
            if (val.type === 'short') {
                this.tab = 0;
            }
        },
        $route() {
            this.requestCourse();
        },
        qty() {
            this.$router.replace({ name: 'org.edu.programview', params: { page: 1 } }).catch(() => {});
        },
    },
    mounted() {
        if (typeof this.$route.params.id !== 'undefined') {
            this.getOrganization({ id: this.$route.params.id }).then(() => { this.requestCourse(); });
            if (this.$route.name === 'org.edu.show') {
                this.$router.push({ name: 'org.edu.about' });
            }
        }
        this.getProgram({
            id: this.$route.params.id_program,
        });
        this.requestCourse();
    },
    methods: {
        openVacanciesModal(){
            this.vacanciesModalShow = true;
        },
        closeVacanciesModal(){
            this.vacanciesModalShow = false;
        },
        ...mapMutations([
            'setStore',
        ]),
        ...courses.mapActions({
            getCourse: 'GET_COURSE',
            saveCourse: 'SAVE_COURSE',
            showModal: 'SHOW_MODAL',
        }),
        ...programs.mapActions({
            getProgram: 'GET_PROGRAM',
            showAddProgram: 'SHOW_MODAL',
        }),
        ...programs.mapMutations({
            setTeachers: 'SET_TEACHERS',
        }),
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
        }),
        requestCourse() {
            this.updateQueryParams();
            if ((typeof this.program_id === 'number' && this.program_id)
            && (typeof this.organization.id === 'number' && this.organization.id)) {
                this.getCourse({
                    action: 'get-from-prog',
                    program_id: this.program_id,
                    page: this.$route.params.page,
                    qty: this.qty,
                    ...this.queryParams,
                });
            }
        },
        updateQueryParams() {
            this.queryParams = {
                show: 1,
                status: 'active',
            };
            if (this.permissions) {
                if (this.permissions.moderation_org_prog_courses
                    || this.permissions.checker_org_prog_courses) {
                    this.queryParams = {
                    };
                }
            }
        },
        closeAttachTeacher() {
            this.visibleAttachTeacher = false;
        },
        openAttachTeacher(toggle) {
            this.toggleAttachTeacher = toggle;
            this.visibleAttachTeacher = true;
        },
        fetchAttachTeacher(id) {
            attachOrDetachUser({ id: this.program_id, to: 'programs', user_id: id }, this.toggleAttachTeacher)
                .then(({ data: { data: { teachers } } }) => { this.setTeachers(teachers); });
        },
    },
};
</script>
