<template>
    <div>
        <div class="head-edu head-edu-program">
            <div class="page-head">
                <div class="container pt-24 pb-40">
                    <div
                        class="m-auto logo"
                        :style="(program && program.organization) ? 'background-image: url(' + program.organization.logo + ')'
                            : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                    />
                    <div class="center fs-16 title white pt-10">
                        <router-link
                            v-if="program && program.organization"
                            :to="{ name: 'org.edu.about', params: { id: program.organization.id }}"
                        >
                            {{ (program && program.organization) ? program.organization.name : '' }}
                        </router-link>
                    </div>

                    <div class="center title gray pt-48">
                        Образовательная программа
                    </div>

                    <div class="center fs-40 title white fs-b pt-10">
                        {{ program ? program.name : "" }}
                    </div>

                    <div
                        v-if="!program_selected && auth && !permissions.moderation_lessons"
                        class="center pt-10"
                    >
                        <a
                            class="m-auto btn btn-red"
                            @click="signUp()"
                        >Записаться</a>
                    </div>
                </div>
            </div>
        </div>
        <main class="edu-program">
            <div class="container">
                <div class="row align-items-center pt-3">
                    <div class="col-lg-4 pb-10">
                        <span class="fs-16 title gray upper">О программе</span>
                        <button
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="btn btn-edit ml-20"
                            @click="showAddProgram({ 'update': $route.params.id_program })"
                        >
                            Редактировать
                        </button>
                    </div>
                    <div class="col-lg-4 d-flex pb-10">
                        <div class="m-md-auto">
                            <span class="title gray">Дисциплин: </span>
                            <b class="pr-2">{{ quantityCourses }}</b>
                            <!--
                            <span class="title gray">Модулей: </span>
                            <b class="pr-2">20</b>
                            <span class="title gray">Занятий: </span><b>120</b>
                            -->
                        </div>
                    </div>
                    <div class="col-lg-4 pb-10 d-flex align-items-center">
                        <div class="ml-md-auto">
                            <!--
                            <span class="title gray">Компетенций: </span>
                            <b class="pr-32">5</b>
                            <a
                                href="#"
                                class="btn"
                            >Смотреть все</a>-->
                        </div>
                    </div>
                </div>
                <div class="pb-40">
                    <div>
                        <span class="title gray">Описание</span>
                    </div>
                    <div v-html="program ? program.description : ''" />
                </div>
                <div class="teachers">
                    <div class="teacher title gray">
                        Преподаватели:
                    </div>
                    <div class="row nowrap">
                        <div
                            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-add"
                                @click="openAttachTeacher('attach-user')"
                            />
                            <div
                                class="teacher-remove"
                                @click="openAttachTeacher('detach-user')"
                            />
                        </div>
                        <div
                            v-for="(teacher, id) in teachers"
                            :key="id"
                            class="teacher d-flex pb-10"
                        >
                            <div
                                class="teacher-avatar"
                                :style="(teacher) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                    : 'background-image: url(\'/images/user_avatar.svg\')'"
                            />
                            <div class="d-flex align-self-center">
                                <div class="fs-16 align-self-center pr-2">
                                    {{ teacher.firstname + " " + teacher.lastname }}
                                </div>
                                <div>
                                    <a
                                        v-if="program_selected && auth"
                                        :href="`/chats/start/`+teacher.id"
                                        class="btn"
                                    >
                                        <img src="/images/icons/comment.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <nav
                    v-if="program"
                    class="nav  red flex-row flex-nowrap justify-content-center"
                >
                    <router-link
                        class="nav-link"
                        :to="{ name: 'org.edu.programview', params: { program: program_id} }"
                    >
                        Все дисциплины
                    </router-link>
                    <li
                        class="nav-item"
                    >
                        <router-link
                            class="nav-link"
                            :to="{ name: 'org.edu.programview.groups', params: { program: program_id} }"
                        >
                            Группы
                        </router-link>
                    </li>
<!--                    <li-->
<!--                        class="nav-item active"-->
<!--                    >-->
<!--                        <router-link-->
<!--                            class="nav-link"-->
<!--                            :to="{ name: 'org.edu.programview.schedules', params: { program: program_id} }"-->
<!--                        >-->
<!--                            Расписание-->
<!--                        </router-link>-->
<!--                    </li>-->
                </nav>

                <div class="py-4">
                    <div
                        v-if="permissions.moderation_groups"
                        class="pt-10 d-flex"
                    >
                        <a
                            class="mx-auto btn btn-create"
                            @click="openCreateSchedule()"
                        >Добавить расписание</a>
                    </div>
                </div>
            </div>
        </main>
        <EduManageProgram
            v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
            :organization_id="organization_id"
            :permissions="permissions"
            :program_id="program_id"
            :program-prop="program"
        />
        <AttachTeacher
            v-if="visibleAttachTeacher"
            :users="users"
            :toggle="toggleAttachTeacher"
            @closePopup="closeAttachTeacher"
            @fetch="fetchAttachTeacher"
        />
        <OrgProgramAddSchedule
            v-if="visibleOrgProgramAddSchedule"
            :organization_id="organization_id"
            :schedule="schedule"
            @closePopup="closeOrgProgramAddSchedule"
        />
    </div>
</template>

<script>
// import deepClone from 'clonedeep';
import { createNamespacedHelpers, mapGetters, mapMutations } from 'vuex';
import axios from '@base/bootstrap';
// import { defOrganization } from '@base/inc/defaults/app';
import EduManageProgram from '@base/components/program/manage/Program';
import AttachTeacher from '@base/components/program/manage/AttachTeacher';
import OrgProgramAddSchedule from '@base/components/program/manage/OrgProgramAddSchedule';

import { attachOrDetachUser } from '@base/api';

const courses = createNamespacedHelpers('courses');
const programs = createNamespacedHelpers('programs');
const organization = createNamespacedHelpers('organization');

export default {
    name: 'ProgramSchedules',
    components: {
        EduManageProgram,
        AttachTeacher,
        OrgProgramAddSchedule,
    },
    props: [],
    data() {
        return {
            qty: 100,
            programSchedule: {},
            queryParams: {
                show: 1,
                status: 'active',
            },
            visibleAttachTeacher: false,
            visibleOrgProgramAddSchedule: false,
            toggleAttachTeacher: 'detach-user',
            tab: 1,
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
            'auth',
        ]),
        ...courses.mapGetters({
            courses: 'COURSES',
            paginate: 'PAGINATE',
            quantityCourses: 'QUANTITY_COURSES',
        }),
        ...programs.mapGetters({
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...organization.mapGetters({
            permissions: 'PERMISSIONS',
            organization: 'ORGANIZATION',
            teachersOrganization: 'TEACHERS',
            schedule: 'SCHEDULE',
        }),
        organization_id() {
            return Number(this.$route.params.id);
        },
        program_id() {
            return Number(this.$route.params.id_program); // eslint-disable-line vue/no-dupe-keys
        },
        users() {
            if (this.toggleAttachTeacher === 'attach-user') {
                return this.teachersOrganization.filter((x) => !this.teachers.find((y) => y.id === x.id));
            } if (this.toggleAttachTeacher === 'detach-user') {
                return this.teachers;
            }
            return {};
        },
    },
    watch: {
        $route() {
            this.requestCourse();
        },
        qty() {
            this.$router.replace({ name: 'org.edu.programview', params: { page: 1 } }).catch(() => {});
        },
    },
    mounted() {
        if (typeof this.$route.params.id !== 'undefined') {
            this.getOrganization({ id: this.$route.params.id }).then(() => { this.requestCourse(); });
            this.getSchedule({ id: this.$route.params.id });
            if (this.$route.name === 'org.edu.show') {
                this.$router.push({ name: 'org.edu.about' });
            }
        }
        this.getProgram({
            id: this.$route.params.id_program,
        });
        this.requestCourse();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        ...courses.mapActions({
            getCourse: 'GET_COURSE',
            saveCourse: 'SAVE_COURSE',
            showModal: 'SHOW_MODAL',
        }),
        ...programs.mapActions({
            getProgram: 'GET_PROGRAM',
            showAddProgram: 'SHOW_MODAL',
        }),
        ...programs.mapMutations({
            setTeachers: 'SET_TEACHERS',
        }),
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
            getSchedule: 'GET_SCHEDULE',
        }),
        requestCourse() {
            this.updateQueryParams();
            if ((typeof this.program_id === 'number' && this.program_id)
                    && (typeof this.organization.id === 'number' && this.organization.id)) {
                this.getCourse({
                    action: 'get-from-prog',
                    program_id: this.program_id,
                    page: this.$route.params.page,
                    qty: this.qty,
                    ...this.queryParams,
                });
            }
        },
        updateQueryParams() {
            this.queryParams = {
                show: 1,
                status: 'active',
            };
            if (this.permissions) {
                if (this.permissions.moderation_org_prog_courses
                        || this.permissions.checker_org_prog_courses) {
                    this.queryParams = {
                    };
                }
            }
        },
        closeAttachTeacher() {
            this.visibleAttachTeacher = false;
        },
        openAttachTeacher(toggle) {
            this.toggleAttachTeacher = toggle;
            this.visibleAttachTeacher = true;
        },
        fetchAttachTeacher(id) {
            attachOrDetachUser({ id: this.program_id, to: 'programs', user_id: id }, this.toggleAttachTeacher)
                .then(({ data: { data: { teachers } } }) => { this.setTeachers(teachers); });
        },
        signUp() {
            if (typeof this.program_id === 'number' && this.program_id) {
                const formData = {
                    _method: 'patch',
                    action: 'sign-up',
                };
                axios.post(`/api/v1/programs/${this.program_id}`, formData)
                    .then(() => {
                            location.reload(); // eslint-disable-line
                    })
                    .catch(() => {

                    });
            }
        },
        openCreateSchedule() {
            this.visibleOrgProgramAddSchedule = true;
        },
        closeOrgProgramAddSchedule() {
            this.visibleOrgProgramAddSchedule = false;
        },
    },
};
</script>
