<template>
    <div class="brand d-flex">
        <div class="logo logo60" :style="`background-image: url(${logoURL});`" />
        <div class="d-flex flex-column align-self-center">
            <div class="fs-16 pl-3">
                <span class="text-white">{{ brandText }}</span>
            </div>
            <slot name="type">
            </slot>
            <!--<div class="fs-14 title gray">
                Организация
            </div>-->
        </div>
    </div>
</template>

<script>
export default {
    name: 'baseBrand',
    props: {
      logoURL: {
          type: String,
          default: '',
      },
      brandText: {
          type: String,
          default: '',
      }
    },
    data() {
        return {

        }
    }
}
</script>
