<!-- Bashinsky --> 
<template>
    <div class="d-flex mt-2">
        <audio controls="" class="audio" :style="deletable ? 'width: 90%' : 'width: 100%'">
            <source :src="url" type="audio/wav">
        </audio>
        <a
            class="ml-2 my-auto"
            v-if="deletable"
            @click="deleteEl()"
        >
            <i class="fa fa-trash" />
        </a>
    </div>
</template>

<script>
export default {
    name: 'customAudio',
    props: {
        element: {
            type: Object,
            default: () => ({}),
        },
        deletable: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {

        };
    },
    computed: {
        url() {
            if (this.element.blobUrl) {
                return this.element.blobUrl;
            }
            return this.element.full_url;
        },
    },
    methods: {
        deleteEl() {
            this.$emit('delete');
        },
    },
};
</script>
