<template>
<nav class="nav blue flex-row flex-nowrap justify-content-center">
    <select  v-model="selectedTab" :required="true" class="page-head__nav-select d-sm-block d-xs-block d-xl-none d-md-none ">
        <option
            v-if="tab.visible"
            v-for="(tab, id) in value" :key="id" :value="tab"
        >
            {{ tab.description }}
        </option>
    </select>
    <li
        v-for="(tab, id) in value" :key="id" class="nav-item d-none d-md-block d-xl-block d-sm-none" :class="$route.name.includes(tab.name) ? 'active' : ''" v-if="tab.visible">

        <router-link
            :to="{ name: tab.name, params: tab.params }"
            class="nav-link"
            :class="$route.name == tab.name ? 'router-link-exact-active' : ''"
            v-b-tooltip="tab.tooltip" v-b-tooltip.right
        >
            {{ tab.description }}
        </router-link>
    </li>
</nav>
</template>

<script>
export default {
    name: 'NavTab',
    props: {
        value: {
            type: Array | Object,
            default: () => []
        },
    },

    data() {
        return {
            selectedTab: '',
        };
    },
    created() {
        this.value.map( tab => { if (this.$route.name.includes(tab.name)) {
            this.selectedTab = tab;
        } });
    },
    watch: {
        selectedTab(newVal, oldVal) {
            if (oldVal.name && newVal.name && (newVal.name !== oldVal.name ) ) {
                this.$router.push({
                    name: newVal.name,
                });
            }
        },
    },
};
</script>
