<template>
    <div>
        <nav class="nav red flex-row flex-nowrap justify-content-center py-2">
            <li class="nav-item" :key="id" v-for="(route, id) in value" :class="$route.name.includes(route.name) ? 'active' : ''">
                <router-link class="nav-link" :class="$route.name.includes(route.name)  ? 'router-link-exact-active' : ''" :to="{ name: route.name }">
                    {{ route.description }}
                </router-link>
            </li>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'NavTabView',
    props: {
        value: {
            type: Array,
            default: () => []
        },
    },

    data() {
        return {};
    },
};
</script>
