<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                :class="dialogSize ? dialogSize : 'modal-xl'"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title ml-4"
                        >
                            {{ caption }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div class="container-fluid">
                            <slot name="body">

                            </slot>
                        </div>
                    </div>

                    <div class="modal-footer pb-32 d-flex justify-content-center">
                        <slot name="footer">

                        </slot>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

export default {
    name: 'BasePopup',
    props: {
        caption: {
            type: String,
            default: '',
        },
        dialogSize: {
            type: String,
            default: 'modal-xl',
        }
    },
    created() {
        this.$store.state.popup = true;
    },
    destroyed() {
        this.$store.state.popup = false;
    },
    components: {
    },
    data() {
        return {

        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
    },
}
</script>
