<!-- Bashinsky --> 
<template>
    <popup :caption="'Подтвердите или отмените действие'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row pt-32">
                <div class="col-lg-12 text-center">
                    <span :class="message_class"> {{ message }} </span>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-success" @click="confirm()">
                Да
            </button>
            <button class="btn btn--red text-white" @click="closePopup()">
                Отменить
            </button>
        </template>
    </popup>
</template>

<script>
import Popup from "@base/components/base/Popup";
export default {
    name: "PopupConfirm",
    components: {
        Popup,
    },
    props: {
        message: {
            type: String,
            default: '',
        },
        message_class: {
            type: String,
            default: '',
        },
    },
    data() {
        return {

        }
    },
    methods: {
        confirm() {
            this.$emit('confirm');
        },
        closePopup() {
            this.$emit('reject');
        }
    },

}
</script>
