<!-- Bashinsky --> 

<template>
    <div>
        <div class="row no-gutters">
            <div class="col-lg-12">
                <label>{{ title }}</label>
            </div>
            <div class="col-lg-12 d-flex align-items-center">
                <button  class="ar-icon ar-icon__lg ar-player__play" @click="startRecording" v-if="!recordingInProgress">
                    <i class="fa fa-microphone"></i>
                </button>
                <button class="ar-icon ar-icon__lg ar-player__stop" @click="stopRecording" v-if="recordingInProgress">
                    <i class="fa fa-stop"></i>
                </button>
                <div
                    class="ml-4"
                    v-if="recordingInProgress"
                >
                    {{ Math.round((dates.now - dates.start)/1000) }} сек
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RecorderService from '@base/shared/RecorderService'
import utils from '@base/shared/Utils'

export default {
    name: 'recorder',
    props: {
        title: {
            type: String,
            default: 'Записать аудио'
        }
    },
    filters: {
        fileSizeToHumanSize (val) {
            return utils.humanFileSize(val, true)
        }
    },
    data () {
        return {
            recorderSrvc: {},
            recordingInProgress: false,
            supportedMimeTypes: [],
            recordings: [],
            cleanupWhenFinished: true,
            addNoise: false,
            numAudioSamples: 0,
            dates: {
                start: null,
                now: null
            }
        }
    },
    created () {
        this.recorderSrvc = new RecorderService()
        this.recorderSrvc.config.usingMediaRecorder = false

        this.recorderSrvc.em.addEventListener('recording', (evt) => this.onNewRecording(evt))
        this.recorderSrvc.em.addEventListener('onaudioprocesssec', (evt) => this.onAudioProcess(evt))
    },
    methods: {
        startRecording () {
            //this.numAudioSamples = 0
            this.recorderSrvc.config.manualEncoderId = 'wav'
            this.recorderSrvc.startRecording()
                .then(() => {
                    this.recordingInProgress = true
                    this.dates.start = new Date().getTime();
                    this.dates.now = new Date().getTime();
                })
                .catch((error) => {
                    console.error('Exception while start recording: ' + error)
                })
        },
        stopRecording () {
            this.recorderSrvc.stopRecording()
            this.recordingInProgress = false
        },
        onAudioProcess (e) {
            this.dates.now = new Date().getTime();
        },
        onNewRecording (evt) {
            this.$emit('newRecording', evt.detail.recording)
        }
    }
}
</script>
