<template>
    <div>
        <b-card v-for="(element, id) in elements" :key="id" class="mb-2">
            <b-row>
                <b-col cols="12">
                    <div class="input-group">
                        <b-form-radio
                            v-model="selectedElement"
                            name="some-radios"
                            :value="element.id"
                        >

                        </b-form-radio>
                        <div
                            v-html="element.name"
                        >
                        </div>
                        <div class="ml-2">
                            {{ complexity_names[element.complexity] }}
                        </div>
                        <div class="ml-2">
                            {{ element.question_type.name }}
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-card>
        <b-card v-if="elements.length === 0">
            <b-card-text>
                В данной категории нет вопросов. Выберете другую категорию.
            </b-card-text>
        </b-card>
    </div>
</template>

<script>
export default {
    name: 'selectedCardPagination',
    props: {
        elements: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            complexity_names: {
                1: 'Базовый',
                2: 'Повышенный 1',
                3: 'Повышенный 2',
            },
            selectedElement: 0,
        }
    },
    watch: {
        selectedElement(val) {
            this.$emit('selected', val);
        }
    },
}
</script>
