<template>
    <div>
        <b-card v-for="(element, id) in elements" :key="id" class="mb-3">
            <b-row>
                <b-col cols="12">
                    <div class="input-group mb-3">
                        <b-form-radio
                            v-model="selectedElement"
                            name="some-radios"
                            :value="element"
                        >

                        </b-form-radio>
                        <div
                            style="max-height: 60px; overflow: auto"
                            v-html="element.name"
                        >
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-card>
        <b-card v-if="elements.length === 0">
            <b-card-text>
                Курсы не найден
            </b-card-text>
        </b-card>
    </div>
</template>

<script>
export default {
    name: 'selectedCardCoursePagination',
    props: {
        elements: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            selectedElement: 0,
        }
    },
    watch: {
        selectedElement(val) {
            this.$emit('selected', val);
        }
    },
}
</script>
