<template>
  <div class="sourceselection">
      <input v-model="source" list="newssources-list" v-on:input="sourceChanged" 
              name="source-selection" id="source-selection" class="form-control" 
              :placeholder="placeholder"/>
      <datalist id="newssources-list">
        <option 
          v-for="(source, id) in sources"
          :key="id"
          :value="source.name"
          @click="selectedOption(source.id)"
          >
          {{ source.name }}
        </option>
      </datalist>
  </div>
</template>

<script>
export default {
  name: 'sourceselection',
  props: {
    sources: {
      type: Array,
      default: () => [],
    },
    placeholder: {
      type: String,
      default: '',
    }
  },
  data () {
    return {
      source: '',
      selectedId: 0,
      deepSource: '',
    }
  },
  methods: {
    sourceChanged: function(e) {
      var newSource = e.target.value;
      this.$emit('searchChanged', newSource);
      if (newSource != this.deepSource.name) {
        for ( let i=0; i<this.sources.length; i++ ) {
          if (this.sources[i].name == newSource) {
            this.deepSource = this.sources[i];
            this.source = this.deepSource.name;
          }
        }
        this.$emit('changeValue', this.deepSource.id);
      }
    },
  },
}
</script>