<template>
    <div class="card-body card-stats">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <span class="h2 font-weight-bold mb-0 ml-10 mr-10">{{ total }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex text-center">
                <h5 class="card-title text-uppercase text-muted mb-0">{{ name }}</h5>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'statisticCard',
    props: {
        name: {
            type: String,
            default: '',
        },
        total: {
            type: Number,
            default: '',
        }
    },
    data() {
        return {

        }
    }
}
</script>>
