<template>
    <Popup 
        :caption="`Прикрепить ${fileInputCaption[typeFile]}`"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="container">
                    <div class="row pb-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-uppercase textForInputs">{{ fileInputCaption[typeFile] }}</label>
                                <input
                                    ref="file"
                                    type="file"
                                    class="form-control"
                                    multiple
                                    @change="handleFileUpload"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button class="btn" @click="submit()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
        </template>
    </Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';
export default {
    name: "UploadFile",
    props: {
        typeFile: {
            type: String,
            default: 'file',
        },
        uploadFiles: {
            type: Function,
        },
        value: {
            type: Object | FileList,
        }
    },
    components: {
        Popup,
        SuccessError,
    },
    mixins: [mixSuccess],
    data() {
        return {
            fileInputCaption: {
                'file': 'файл',
                'document': 'документ',
            },
            errors: [],
        }
    },
    methods: {
        async submit() {
            try {
                await this.uploadFiles();
                this.mixShow('success');
            } catch (e) {
                this.mixShow('error');
            }
        },
        async closePopup() {
            this.$emit('input', {});
            this.$refs.file.value='';
            this.$emit('closePopup');
        },
        handleFileUpload(e) {
            this.$emit('input', e.target.files);
        }
    },
}
</script>