<!-- Bashinsky --> 
<template>
    <div
        v-if="invalid[name]"
        class="invalid-feedback"
    >
        <span
            v-for="(message, k) in invalid[name]"
            :key="k"
        >{{ message }}</span>
    </div>
</template>

<script>
export default {
    name: 'validSign',
    props: {
        name: {
            type: String,
            default: '',
        },
        invalid: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {

        }
    }
}
</script>
