<template>
    <div class="menu" :class="checked ? '' : ''">
        <nav :class="classStyle">
            <a v-for="(element, id) in menuElements"
               :key="id"
               class="menu-item wh20"
               :class="'menu-item__' + element.class "
               @click="update(element.action)"
            >
            </a>
        </nav>
    </div>
</template>

<script>
export default {
    name: "menuVerticale",
    props: {
        menuElements: {
            type: Array,
            default: () => [],
        },
        classStyle: {
            type: String,
            default: 'menu-fixed',
        },
        element: {
            type: Object,
            default: () => ({}),
        }
    },
    methods: {
        update(action) {
            this.$emit("action", action, this.element);
        }
    },
    data() {
        return {
            checked: false,
        }
    }
}
</script>
