<!-- Bashinsky --> 
<template>
    <div class="editor">
        <vue-editor  :editorOptions="editorSettings" v-model="editorContent" />
    </div>
</template>

<script>
import { VueEditor, Quill } from 'vue2-editor';
import { ImageDrop } from "quill-image-drop-module";
import ImageResize from "quill-image-resize-module";

Quill.register("modules/imageDrop", ImageDrop);
Quill.register("modules/imageResize", ImageResize);

export default {
    name: "Editor",
    props: {
        content: String,
        default: '',
    },
    data() {
        return {
        editorSettings: {
            modules: {
                imageDrop: true,
                imageResize: {}
            }
        }
        }
    },
    components: {
        VueEditor,
    },
    computed: {
    editorContent: {
        get() { return this.content},
        set(updatedContent) { this.$emit('update:content', updatedContent) }
    },
  },
}
</script>
<style>
.ql-editor,
.ql-container {
    height: auto !important;
}
</style>
