<template>
    <form
        @submit.prevent="submit"
    >
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group d-flex align-items-center">
                    <div
                        class="avatar avatar96 mb-2"
                        :style="auth.avatar ? `background-image: url(${auth.avatar.medium})` : ''"
                    />
                    <div class="ml-2">
                        <a
                            class="btn mr-2"
                            onclick="document.getElementById('userAvatar').click()"
                        >
                            Сменить фото
                        </a>

                        <a
                            class="btn"
                            href="javascript:void(0)"
                            @click="deleteAvatar()"
                        >
                            Удалить
                        </a>
                    </div>
                    <input
                        id="userAvatar"
                        ref="avatar"
                        type="file"
                        style="display: none;"
                        :value="avatarField"
                        @change="handleFileUpload()"
                    >
                </div>
            </div>

            <div class="col-lg-6">
                <form-group
                    label="Фамилия"
                    type="text"
                    name="lastname"
                    required
                    v-model="auth.lastname"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-6">
                <form-group
                    label="Имя"
                    type="text"
                    name="firstname"
                    required
                    v-model="auth.firstname"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-6">
                <form-group
                    label="Отчество"
                    type="text"
                    name="patronymic"
                    v-model="auth.patronymic"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-3">
                <form-group
                    label="Email"
                    type="email"
                    name="email"
                    required
                    v-model="auth.email"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-3">
                <form-group
                    label="Пол"
                    type="select"
                    name="sex"
                    :items="[
                                    { value: null, text: 'Выбрать' },
                                    { value: 0, text: 'м' },
                                    { value: 1, text: 'ж' }
                                ]"
                    required
                    v-model="auth.sex"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-6">
                <form-group
                    label="Телефон"
                    type="text"
                    name="phone"
                    autocomplete
                    v-model="auth.phone"
                    :errors="errors"
                />
            </div>
    <!--        <div class="col-lg-3">-->
    <!--            <form-group-->
    <!--                label="Пароль"-->
    <!--                type="password"-->
    <!--                name="password"-->
    <!--                required-->
    <!--                v-model="auth.password"-->
    <!--                :errors="errors"-->
    <!--            />-->
    <!--        </div>-->

            <div class="col-lg-6">
                <form-group
                    disabled
                    label="СНИЛС"
                    type="snils"
                    name="snils"
                    required
                    v-model="auth.snils"
                    :errors="errors"
                />
            </div>
            <div class="col-lg-6">
                <form-group
                    label="Дата рождения"
                    type="date"
                    name="birthday"
                    required
                    v-model="auth.birthday"
                    :errors="errors"
                />
            </div>

            <div class="col-lg-12" v-if="errors">
                <SuccessError :show="{success, not_success}" />
            </div>

            <div class="col-lg-12 d-flex mt-4">
                <button
                    class="btn btn-success m-auto"
                    type="submit"
                >
                    Сохранить
                </button>
            </div>

        </div>
    </form>
</template>

<script>
import { mapGetters } from 'vuex';
import FormGroup from '@base/components/base/FormGroup.vue';
import store from '../../../../store/app';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';


export default {
    name: "About",
    components: {
        FormGroup,
        SuccessError
    },
    mixins: [mixSuccess],
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },
    data() {
        return {
            avatar: '',
            avatarField: null,
            spinner: {
                save: false,
                avatar_update: false,
                avatar_delete: false,
            },
            errors: {},
            user_cards_data: [],
            userCardFields: [],
        };
    },
    methods: {
        submit() {
            const formData = {
                firstname: this.auth.firstname,
                lastname: this.auth.lastname,
                patronymic: this.auth.patronymic,
                snils: this.auth.snils,
                email: this.auth.email,
                birthday: this.auth.birthday,
                phone: this.auth.phone,
                sex: this.auth.sex,
            };


            this.$axios.patch('/api/v1/me', formData)
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {};
                    store.dispatch('getAuth').then(() => {})
                })
                .catch((e) => {
                    this.mixShow('error');
                    this.errors = e.response.data.errors;
                });
        },

        handleFileUpload() {
            [this.avatar] = this.$refs.avatar.files;
            this.updateAvatar();
        },
        updateAvatar() {
            const formData = new FormData();
            formData.append('avatar', this.avatar);


            this.$axios.post('/api/v1/me/update-avatar', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {};

                    store.dispatch('getAuth').then(() => {})
                    this.avatarField = null;
                })
                .catch((e) => {

                });
        },
        deleteAvatar() {
            if (!confirm('Вы уверены что хотите удалить фото ?')) { // eslint-disable-line no-restricted-globals
                return false;
            }


            this.$axios.post('/api/v1/me/destroy-avatar', {})
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {};
                    this.setStore({ key: 'auth.avatar', data: response.data.auth.avatar });
                })
                .catch((e) => {

                });

            return true;
        },
    }
}
</script>
