<template>
    <popup :caption="'Добавить '" @closePopup="closePopup({ reload: false })">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-12">
                    <form-group
                        label="Выбрать шаблон данных"
                        type="select"
                        name="organization_id"
                        :items="cards_select"
                        required
                        v-model="card_id"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a @click="save" class="btn btn-success">Добавить</a>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup';
import FormGroup from '@base/components/base/FormGroup.vue';
import { updateUser } from '@base/api/user';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';
import { mapGetters } from 'vuex';

export default {
    name: "AddCardPopup",
    components: {
        popup,
        FormGroup,
        SuccessError,
        validSign
    },
    mixins: [mixSuccess],
    props: {
        organization: {}
    },
    data() {
        return {
            errors: {},
            card_id: null
        }
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        cards_select() {
            let data = [];

            data.push({
                value: null,
                text: 'Не выбрана'
            })

            if (this.organization.user_card_templates)
                this.organization.user_card_templates.forEach(card => {
                    data.push({
                        value: (card.id).toString(),
                        text: card.name
                    })
                })

            return data;
        }
    },
    methods: {
        closePopup(data){
            this.$emit('closePopup', data);
        },
        save(){
            updateUser(this.auth.id,{
                _method: 'PATCH',
                action: 'add-card',
                card_template_id: this.card_id,
                organization_id: this.organization.id,
                with: [
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            })
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {}
                    this.$emit('closePopup', { reload: true });
                })
                .catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
        }
    }
}
</script>

<style scoped>

</style>
