<template>
    <popup :caption="'Добавить организацию'" @closePopup="closePopup({ reload: false })">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <label>Выбрать район</label>
                    <select
                        class="form-control mb-2"
                        v-model="district_select"
                        required
                    >
                        <option :value='null'>Не выбран</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                </div>
                <div
                    class="col-lg-6"
                    v-if="district_select"
                >
                    <form-group
                        label="Выбрать организацию"
                        type="select"
                        name="organization_id"
                        :items="organizations_select"
                        required
                        v-model="organization_id"
                        :errors="errors"
                    />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a @click="saveOrganization" class="btn btn-success">Добавить</a>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';
import FormGroup from '@base/components/base/FormGroup.vue';

export default {
    name: 'AddOrganizationPopup',
    components: {
        popup,
        FormGroup
    },
    data() {
        return {
            district_select: null,
            districts: {
                data: []
            },
            organizations: {
                data: []
            },
            errors: {},
            organization_id: null
        }
    },
    created() {
        this.getDistricts()
    },
    computed: {

        organizations_select() {
            let data = [];

            data.push({
                value: null,
                text: 'Не выбрана'
            })

            this.organizations.data.forEach(org => {
                data.push({
                    value: (org.id).toString(),
                    text: org.name
                })
            })

            return data;
        }
    },
    watch: {
        district_select: function (){
            this.getEduOrganizations();
        }
    },
    methods: {
        saveOrganization() {
            const data = {
                organization_id: this.organization_id,
            };
            this.$axios.post(`/api/v1/me/organizations`, data)
                .then((response) => {
                    this.$emit('closePopup', { reload: true });
                })

        },
        closePopup(data){
            this.$emit('closePopup', data);
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
        getEduOrganizations() {
            const formData = {
                qty: 999,
                page: 1,
                district: this.district_select,
                show: 1,
                type: 'EDU',
            };
            this.$axios.get(`/api/v1/organizations`, {params: formData})
                .then((response) => {
                    this.organizations.data = response.data.data.organizations.data;
                    this.organizations.total = response.data.data.organizations.total;
                    this.organizations.per_page = response.data.data.organizations.per_page;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
    }
};
</script>

<style scoped>

</style>
