<template>
    <div>
        <table class="table table-striped table-bordered table-adaptive">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Название</td>
                    <td>Дата загрузки</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>

        <div class="d-flex mt-4">
            <div class="ml-auto">
                <a
                    class="btn btn-success"
                >
                    Добавить
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Documnets'
};
</script>
