<template>
    <div>
        <div
            v-for="(organization, k) in authEduOrganizations"
            :key="k"
            class="card mb-2"
        >
            <div class="card-header">
                <div class="row no-gutters">
                    <div class="mx-4">
                        <img
                            :src="organization.logo ? organization.logo : '/images/icons/edu_org.svg'"
                            width="60px"
                        >
                    </div>
                    <div class="col-lg-9 col-xl-10 row no-gutters flex-column">
                        <div class="text-info">
                            Организация
                        </div>
                        <div>
                            <router-link
                                class="fs-24"
                                :to="{ name: 'org.'+organization.type.toLowerCase()+'.about', params: { id: organization.id }}"
                            >
                                {{ organization.name }}
                            </router-link>
                            <i class="fa fa-external-link"/>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="card-body"
            >
                <div class="row">
                    <div
                        class="col-lg-12 py-1"
                    >
                        <div v-for="card in auth.cards.filter(e => { return e.organization_id == organization.id})" >
                            <form
                                @submit.prevent="saveCard(card.id)"
                                class="row"
                            >
                                <div
                                    class="col-lg-6"
                                    v-for="field in card.template.fields"
                                >
                                    <div
                                        class="form-group"
                                    >
                                        <label>
                                            {{ field.name }}
                                            {{ field.required ? ' *' : '' }}
                                        </label>
                                        <input
                                            v-if="field.type == 'text' || field.type == 'date' || field.type == 'number'"
                                            class="form-control"
                                            :type="field.type"
                                            :required="field.required ? true : false"
                                            :disabled="!field.editable"
                                            :class="(field.confirm && user_cards_confirmed[card.id]) ? (user_cards_confirmed[card.id][field.id] ? 'is-valid' : 'is-review') : ''"
                                            v-on:input="setUserDataValue(card.id, field.id, $event.target.value)"
                                            :value="user_cards_data[card.id][field.id]"
                                        />
                                        <select
                                            v-if="field.type == 'select'"
                                            class="form-control"
                                            :required="field.required ? true : false"
                                            :disabled="!field.editable"
                                            :class="(field.confirm && user_cards_confirmed[card.id]) ? (user_cards_confirmed[card.id][field.id] ? 'is-valid' : 'is-review') : ''"
                                            v-on:input="setUserDataValue(card.id, field.id, $event.target.value)"
                                            :value="user_cards_data[card.id][field.id]"
                                        >
                                            <option :value="null">Выбрать</option>
                                            <option v-for="val in field.data" :value="val">{{ val }}</option>
                                        </select>
                                        <div
                                            v-if="field.type == 'checkbox'"
                                        >
                                            <input
                                                class="custom-checkbox"
                                                :type="field.type"
                                                :required="field.required ? true : false"
                                                :disabled="!field.editable"
                                                :class="(field.confirm && user_cards_confirmed[card.id]) ? (user_cards_confirmed[card.id][field.id] ? 'is-valid' : 'is-review') : ''"
                                                v-on:input="setUserDataValue(card.id, field.id, $event.target.value)"
                                                :value="user_cards_data[card.id][field.id]"
                                            />

                                        </div>
                                        <textarea
                                            class="form-control"
                                            v-if="field.type == 'textarea'"
                                            :type="field.type"
                                            :required="field.required ? true : false"
                                            :disabled="!field.editable"
                                            :class="(field.confirm && user_cards_confirmed[card.id]) ? (user_cards_confirmed[card.id][field.id] ? 'is-valid' : 'is-review') : ''"
                                            v-on:input="setUserDataValue(card.id, field.id, $event.target.value)"
                                            :value="user_cards_data[card.id][field.id]"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-12 d-flex">
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                    <a
                                        class="ml-auto btn btn-danger"
                                        @click="deleteCardToUser(card)"
                                    >
                                        Удалить
                                    </a>
                                </div>
                                <div class="col-lg-12">
                                    <hr>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div
                        class="col-lg-12 d-flex"
                    >
                        <div class="ml-auto">
                            <a
                                class="btn btn-success"
                                @click="addCard(organization)"
                            >
                                Добавить набор данных
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-4">
            <div class="ml-auto">
                <a
                    @click="addOrganization"
                    class="btn btn-success"
                >
                    Добавить организацию
                </a>
            </div>
        </div>
        <add-organization-popup
            v-if="showAddOrganizationPopup"
            @closePopup="closeAddOrganizationPopup"
        />
        <add-card-popup
            v-if="showAddCardPopup"
            @closePopup="closeAddCardPopup"
            :organization="prop_organization"
        />
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AddOrganizationPopup from './AddOrganizationPopup';
import store from '../../../../store/app';
import { updateUser } from '@base/api/user';
import AddCardPopup from './AddCardPopup';

export default {
    name: 'OrganizationData',
    components: { AddCardPopup, AddOrganizationPopup },
    data() {
        return {
            user_cards_data: {},
            user_cards_confirmed: {},
            userCardFields: {},
            showAddOrganizationPopup: false,
            showAddCardPopup: false,
            prop_organization: null
        }
    },
    created() {
        if (this.auth && this.auth.cards){
            this.userDataSetFromAuth();
        }
    },
    mounted() {
        // if (this.auth && this.auth.cards){
        //     this.userDataSetFromAuth();
        // }
    },
    computed: {
        ...mapGetters([
            'auth',
            'authEduOrganizations',
        ]),
    },
    methods: {
        deleteCardToUser(card){
            if (confirm("Вы точно хотите удалить набор данных о себе?")){
                updateUser(this.auth.id, {
                    _method: 'PATCH',
                    action: 'remove-card',
                    user_card_id: card.id,
                }).then((response) => {
                    this.makeToast({
                        title: 'Сохранено',
                        description: 'Успешно',
                        variant: 'success'
                    });
                    store.dispatch('getAuth').then(() => {
                        this.userDataSetFromAuth();
                    });
                })
            }
        },
        setUserDataValue(card_id, field_id, value){
            this.user_cards_data = {
                ...this.user_cards_data,
                [card_id]: {
                    ...this.user_cards_data[card_id],
                    [field_id]: value
                }
            }
        },
        saveCard(card_id){
            updateUser(this.auth.id, {
                _method: 'PATCH',
                action: 'save-card-data',
                user_card_id: card_id,
                data: this.user_cards_data[card_id],
                with: [
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            }).then((response) => {
                this.makeToast({
                    title: 'Сохранено',
                    description: 'Успешно',
                    variant: 'success'
                });
                store.dispatch('getAuth').then(() => {
                    this.userDataSetFromAuth();
                });
            })
        },
        addOrganization(){
            this.showAddOrganizationPopup = true;
        },
        closeAddOrganizationPopup(data){
            if (data.reload){
                store.dispatch('getAuth').then(() => {
                    this.userDataSetFromAuth();
                });
            }
            this.showAddOrganizationPopup = false;
        },
        userDataSetFromAuth(){
            this.auth.cards.forEach(card => {
                card.template.fields.forEach(field => {
                    if (!this.userCardFields[card.id]) this.userCardFields[card.id] = {};
                    this.userCardFields[card.id][field.id] = field.type;
                })
            })

            this.auth.cards.forEach((card) => {

                if (!this.user_cards_data[card.id]){
                    this.user_cards_data[card.id] = {};
                }
                if (!this.user_cards_confirmed[card.id]){
                    this.user_cards_confirmed[card.id] = {};
                }

                card.values.forEach((value) => {

                    this.user_cards_confirmed[card.id][value.user_card_template_field_id] = value.confirmed;

                    if (this.userCardFields[card.id][value.user_card_template_field_id] == 'checkbox'){
                        this.user_cards_data[card.id][value.user_card_template_field_id] = (value.value == '1') ? true : false;
                    }else{
                        this.user_cards_data[card.id][value.user_card_template_field_id] = value.value;
                    }
                });
            });
            this.$forceUpdate();
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            });
        },
        addCard(organization){
            this.prop_organization = organization
            this.showAddCardPopup = true;
        },
        closeAddCardPopup(data){
            if (data.reload){
                store.dispatch('getAuth').then(() => {
                    this.userDataSetFromAuth();
                });
            }
            this.showAddCardPopup = false;
        }
    }
};
</script>
