<template>
    <div class="container">
        <div>
            <NavTab  :value="routes" class="red mt-3"/>
        </div>
        <div>
            <div
                v-for="(organization, k) in authEduOrganizations"
                :key="k"
                class="company-list p-3 box border rounded shadow my-4"
            >
                <div
                    class="company"
                >
                    <div class="head-edu">
                        <div class="row">
                            <div class="col-lg-12 row no-gutters">
                                <div class="mx-4">
                                    <img
                                        :src="organization.logo ? organization.logo : '/images/icons/edu_org.svg'"
                                        width="96px"
                                    >
                                </div>
                                <div class="col-lg-9 col-xl-10 row no-gutters flex-column">
                                    <div class="text-info">
                                        Организация
                                    </div>
                                    <div>
                                        <router-link
                                            class="fs-24"
                                            :to="{ name: 'org.'+organization.type.toLowerCase()+'.about', params: { id: organization.id }}"
                                        >
                                            {{ organization.name }}
                                        </router-link>
                                        <i class="fa fa-external-link"/>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col-lg-12 py-3"
                            >
                                <div v-for="card in auth.cards.filter(e => { return e.organization_id == organization.id})">
                                    <div v-for="test in tests[card.id]">
                                        <div class="row border-bottom mb-2 pb-1">
                                            <div class="col-lg-3">
                                                Тест: <br>
                                                <b>{{ test.name }}</b>
                                            </div>
                                            <div class="col-lg-3">
                                                Доступен: <br>
                                                {{ test.start_time_availability }} - {{ test.end_time_availability }}
                                            </div>
                                            <div class="ml-auto col-lg-2">
                                                <a class="btn btn-danger" @click="start_test(test.id)">Пройти тест</a>
                                            </div>
                                        </div>
                                        <div v-for="attempt in test.attempts" class="row table">
                                            <div class="col-lg-2 fs-18">
                                                Попытка #{{ attempt.id }}
                                            </div>
                                            <div v-if="attempt.indicator_levels && attempt.indicator_levels.length" class="col-lg-12">
                                                <table class="table table-adaptive table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Индикатор</th>
                                                            <th>Уровень</th>
                                                        </tr>
                                                    </thead>
                                                    <tr v-for="level in attempt.indicator_levels">
                                                        <td>{{ level.indicator.name }}</td>
                                                        <td>{{ level.name }}</td>
                                                    </tr>
                                                </table>
                                                <router-link
                                                    :to="{ name: 'me.routes.marketplace.index', query: {
                                                        'attempt_id': attempt.id,
                                                    }}"
                                                    class="btn btn-success"
                                                >
                                                    Сфомировать ИОМ
                                                </router-link>

                                            </div>
                                            <div v-else-if="attempt.status == 'ACTIVE'">
                                                <a class="btn btn-danger" @click="open_attempt(test.id, attempt.id)">Продолжить попытку</a>
                                            </div>
                                            <div v-else class="col-lg-3">
                                                <i>Ни один индикатор не был достигнут</i>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div v-if="!tests[card.id]">-->
<!--                                        <i>Нет доступных тестов</i>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';
import { getUserQuizzesByCards } from '@base/api/user';
import NavTab from '@base/components/base/NavTab.vue';
const test = createNamespacedHelpers('test');


export default {
    name: "Testing",
    components: {
        NavTab
    },
    computed: {
        ...mapGetters([
            'auth',
            'authEduOrganizations',
        ]),
        globalPermissions() {
            return this.$store.state.globalPermissions;
        },
        is_view_my_iom() {
            if (this.auth && this.auth.organizations){
                for (const org of this.auth.organizations){
                    if (org.permissions){
                        for (var prop in org.permissions) {
                            if (prop == 'organization_user_can_start_iom' && org.permissions[prop]) return true
                        }
                    }
                }
            }
            return false
        },
        routes() {
            return [
                { name: "me.routes", description: "Мой ИОМ", visible: this.is_view_my_iom && !this.globalPermissions.iom_regional_tutoring },
                { name: 'me.routes.testing', description: 'Тестирования', visible: this.is_view_my_iom },
                { name: 'me.routes.marketplace.index', description: 'Маркетплейс', tooltip: 'Для ИОМ' ,visible: true },
            ];
        }
    },
    data() {
        return {
            tests: [],
        }
    },
    created() {
        this.getUserQuizzes();
    },
    methods: {
        ...test.mapActions({
            getTest: 'GET_TEST',
            startTest: 'START_TEST',
        }),
        open_attempt(test_id, id){

            this.$router.push({
                name: 'test.attempt',
                params: {
                    attempt_id: id,
                    test_id: test_id
                }
            })
        },
        start_test(test_id){
            this.getTest({ id: test_id }).then((data) => {

                this.startTest({  }).then((data) => {

                    this.$router.push({
                        name: 'test.attempt',
                        params: {
                            attempt_id: data.id,
                            test_id: test_id
                        }
                    })
                }).catch((e) => {
                    this.makeToast({
                        title: 'Ошибка',
                        description: e.quizzes,
                        variant: 'danger'
                    });
                })

            }).catch((e) => {
                this.makeToast({
                    title: 'Ошибка',
                    description: 'Не нашли тест',
                    variant: 'danger'
                });
            })

        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            })
        },
        async startRequest(payload) {
            try {
                await this.startTest(payload);
                this.$router.push({
                    name: 'test.attempt',
                    params: {
                        attempt_id: this.attempt.id
                    }
                })
            } catch (e) {
                this.makeToast({
                    title: 'Ошибка',
                    description: e.quizzes,
                    variant: 'danger'
                });
            }
        },
        getUserQuizzes() {
            getUserQuizzesByCards({
                'with[]': 'model',
            }).then(response => {
                this.tests = response.data.data.quizzes;
            });
        }
    }
}
</script>
