<template>
    <div class="pt-2">
        <statistics-nav></statistics-nav>
        <div class="container my-4">
            <router-view />
        </div>
    </div>
</template>

<script>
    import statisticsNav from "./Nav"

    export default {
        name: "AdminStatistics",
        components: {
            statisticsNav
        }
    }
</script>
