<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
export default {
    name: "Nav",
    components: {
        NavTab,
    },
    data() {
        return {
            routes: [
                { name: 'admin.statistics.general', description: 'Общие данные', visible: true },
                { name: 'admin.statistics.educations', description: 'Учреждения', visible: true },
            ]
        }
    }
}
</script>
