<template>
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-column flex-md-wrap">
                    <div
                        v-for="document in documents"
                        :key="document.id"
                    >
                        <span>
                            <a :href="document.url">{{ document.name }}</a>
                            <i
                                class="fa fa-pencil"
                                aria-hidden="true"
                            />
                        </span>
                        <i
                            class="ml-5 fa fa-times pointer ml-auto"
                            @click="deleteFiles(document.id)"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="documents.length === 0"
            class="row"
        >
            <div class="col-lg-12">
                <div
                    class="alert alert-warning"
                    role="alert"
                >
                    На данный момент к динамической странице не прикреплен ни
                    один файл.
                </div>
            </div>
        </div>
        <div v-if="page_id!==0" class="row align-items-end mb-4">
            <div class="col-lg-10">
                <label class="title gray upper">Документ</label>
                <input
                    ref="document"
                    type="file"
                    class="form-control btn btn-download"
                    :class="('document' in invalid) ? 'is-invalid' : ''"
                    @change="handleFileUpload()"
                >
                <div
                    v-if="'logo' in invalid"
                    class="invalid-feedback"
                >
                    <span
                        v-for="(message, k) in invalid.document"
                        :key="k"
                    >{{ message }}</span>
                </div>
            </div>
            <div class="col-lg-2">
                <button
                    type="button"
                    class="btn btn-red m-auto"
                    data-dismiss="alert"
                    aria-label="Close"
                    @click="saveFiles()"
                >
                    Добавить
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FilesUpload',
    props: {
        organization_id: {
            type: Number,
            default: 0,
        },
        page_id: {
            type: Number,
            default: 0,
        },
        deleteDocument: {
            type: Function,
            default: () => {},
        },
        saveDocument: {
            type: Function,
            default: () => {},
        },
        documents: {
            type: Array,
            default: () => {},
        },
    },
    data() {
        return {
            uploadFile: null,
            invalid: {},
            files: {
                type: Array,
                default: () => [],
            },
        };
    },
    methods: {
        deleteFiles(documentId) {

            const formData = new FormData();
            formData.append('document_id', documentId);
            formData.append('_method', 'patch');
            formData.append('action', 'remove-doc');

            this.$axios.post(`/api/v1/organizations/${this.organization_id}/pages/${this.page_id}`, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.deleteDocument(documentId);

                })
                .catch(() => {

                })
                .finally(() => {
                    this.uploadFile = {};
                });
        },
        saveFiles() {
            if (this.uploadFile !== null) {

                const formData = new FormData();
                formData.append('document', this.uploadFile);
                formData.append('_method', 'patch');
                formData.append('action', 'upload-doc');

                this.$axios.post(`/api/v1/organizations/${this.organization_id}/pages/${this.page_id}`, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then((response) => {
                        this.saveDocument(response.data.data.page.documents);

                    })
                    .catch(() => {

                    })
                    .finally(() => {
                        this.uploadFile = null;
                        this.$refs.document.value = null;
                    });
            }
        },
        handleFileUpload() {
            if (this.$refs.document.files.length > 0) {
                [this.uploadFile] = this.$refs.document.files;
            }
        },
    },
};
</script>
