<template>
<div>
    <table class="table table-bordered table-striped table-adaptive">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Курсов</th>
                <th>Пользователей</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in organizations">
                <td data-label="#">{{ item.id }}</td>
                <td data-label="Название">
                    <router-link :to="{ name: 'org.edu.about', params: { id: item.id }}" class="default-link" target="_blank">
                        {{ item.name }}
                    </router-link>
                </td>
                <td data-label="Курсов">{{ item.courses.length }}</td>
                <td data-label="Пользователей">{{ item.users.length }}</td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
export default {
    name: "AdminStatisticsEducations",
    data() {
        return {
            organizations: {

            }
        }
    },
    mounted() {
        const formData = {
            qty: 999,
            page: 1,
            type: "edu",
            with: [
                'courses',
                'users'
            ]
        };
        this.$axios.get(`/api/v1/organizations`, {
                params: formData
            })
            .then((response) => {
                this.organizations = response.data.data.organizations.data;
            })
            .catch((error) => {

            })
            .finally(() => {});
    }
}
</script>
