<template>
    <div class="container m-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="box">
                    Роли
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    Права
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box d-flex">
                    <i class="fa fa-2x fa-users" />
                    <router-link
                        :to="{ name: 'admin.users.index' }"
                        class="pl-10 align-self-center"
                    >
                        Пользователи
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProfileTabAdmin',
};
</script>
