<template>
    <div class="container my-2">
        <div class="row">
            <div
                class="col-lg-4 mt-2"
            >
                <div>
                    <b>{{day}}</b>
                </div>
                <span>Событий на сегодня: {{ organizationCamerasIntervals.length }}</span> <br>
                Камер: {{ cameras_count }}
            </div>
            <div class="col-lg-4 mt-2 ml-auto">
                Запросить на проверку
                <div class="input-group mb-3">
                    <input
                        class="form-control"
                        type="number"
                        min="1"
                        v-model="camerasToReview"
                    />
                    <div class="input-group-append">
                        <a @click="getCamerasToReview" class="btn btn-outline-success">Запросить</a>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="cameras.length > 0">
            <table class="table table-adaptive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Url</th>
                        <th>Нарушения</th>
                    </tr>
                </thead>

                <tr
                    v-for="camera in cameras"
                >
                    <td>{{ camera.camera.id }}</td>
                    <td>
                        <a :href="camera.camera.url" target="_blank">Открыть</a>
                    </td>
                    <td>
                        <a
                            class="btn fa fa-plus mr-2"
                            @click="createViolation(camera)"
                        />

                        <a
                            v-b-tooltip="'Список нарушений'"
                            class="btn fa fa-table"
                            @click="openViolationsPopup(camera)"
                        />

                    </td>
                </tr>
            </table>
        </div>

        <create-violation-popup
            v-if="showCreateViolation"
            :camera="camera"
            @closePopup="closeCreateViolation"
        />

        <violations-popup
            v-if="showViolationsPopup"
            :camera="camera"
            @closePopup="closeViolationsPopup"
        />
    </div>
</template>

<script>
import CreateViolationPopup from './manage/createViolationPopup'
import violationsPopup from './manage/violationsPopup'


export default {
    name: "CameraReviewer",
    components: { CreateViolationPopup, violationsPopup },
    data() {
        return {
            organizationCamerasIntervals: [],
            cameras_count: 0,
            camerasToReview: 1,
            cameras: [],
            showCreateViolation: false,
            showViolationsPopup: false,
            camera: null,
        }
    },
    computed: {
        day() {
            return (new Date()).toLocaleDateString("fr-CA")
        }
    },
    created() {
        this.loadReview()
        this.loadList()
    },
    watch: {
        camerasToReview: function (){
            if (this.camerasToReview > this.cameras_count){
                this.camerasToReview = this.cameras_count
            }
        }
    },
    methods: {
        createViolation(camera){
            this.camera = camera;
            this.showCreateViolation = true
        },
        openViolationsPopup(camera){
            this.camera = camera;
            this.showViolationsPopup = true;
        },
        closeCreateViolation(){
            this.showCreateViolation = false
        },
        closeViolationsPopup(){
            this.showViolationsPopup = false
        },
        loadReview(){
            axios.get('/api/v1/organization-camera-interval/get-my-cameras-review', {
                params: {
                    need_day: this.day,
                }
            }).then((response) => {
                this.cameras = response.data.data.cameras
            })
        },
        loadList(){
            axios.get('/api/v1/organization-camera-intervals', {
                params: {
                    need_day: this.day,
                    without_paginated: true,
                    with_cameras_count: true
                }
            }).then((response) => {
                this.organizationCamerasIntervals = response.data.data.organizationCamerasIntervals
                this.cameras_count = response.data.data.cameras_count
            })
        },
        getCamerasToReview(){
            axios.get('/api/v1/organization-camera-interval/get-cameras-review', {
                params: {
                    camerasToReview: this.camerasToReview
                }
            }).then((response) => {
                this.loadReview()
            }).catch((response) => {
                if (response?.response?.status == 403){
                    this.$bvToast.toast("Все камеры распределены", {
                        autoHideDelay: 3000,
                        toaster: 'b-toaster-top-center',
                        title: 'Ошибка',
                        variant: 'danger',
                        appendToast: true,
                    });
                }
            })
        }
    }
}
</script>
