<template>
    <div class="container mt-15">
        <div class="messaging"
             :class="{nochatlist: (Object.keys(userChats).length == 0)}"
        >
            <div class="inbox_msg"

                 v-if="Object.keys(userChats).length > 0"
            >
                <div class="inbox_people">
                    <div class="inbox_chat">
                        <div
                            v-for="(chat, k) in userChats"
                            :key="k"
                        >
                            <div class="container mb-4 ">
                                <router-link
                                    v-if="chat.users && chat.users[0]"
                                    :to="{ name: 'me.chat', params: {currentChatId: chat.id}}"
                                >
                                    <div
                                        class="chat_box border rounded shadow-sm p-3 row no-gutters"
                                        style="cursor: pointer"
                                        :class="currentChatId === chat.id ? 'active' : ''"
                                        @click="loadChatMessages(chat.id)"
                                    >
                                        <div>
                                            <img
                                                v-if="chat.users && chat.users[0] && chat.users[0].avatar != ''"
                                                class="user-avatar small"
                                                :src="chat.users[0].avatar.small"
                                            >
                                            <img
                                                v-else
                                                src="/images/user_avatar.svg"
                                                class="border rounded-circle"
                                                width="40px"
                                            >
                                        </div>
                                        <div class="chat_ib pl-lg-2">
                                            <h5 v-if="chat.users && chat.users[0]">
                                                {{ chat.users[0].firstname }} {{ chat.users[0].lastname }}
                                                <span class="chat_date">{{ chat.updated_at  | moment("from", "now") }}</span>
                                            </h5>
                                            <h5 v-else>
                                                {{ chat.name }}
                                                <span class="title gray">{{ chat.updated_at  | moment("from", "now") }}</span>
                                            </h5>
                                        </div>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs border rounded">
                    <div
                        class="msg_history px-4 pb-10"
                        ref="chatArea"
                        @scroll="checkLoadMessage"

                    >
                        <div
                            v-for="(msg, k) in chatMessages"
                            :key="k"
                        >
                            <div class="container">
                                <div
                                    v-if="msg.user_id != auth.id"
                                    class="mt-10 row"
                                >
                                    <div class="">
                                        <img
                                            v-if="msg.user && msg.user.avatar != ''"
                                            class="user-avatar small"
                                            :src="msg.user.avatar.small"
                                        >
                                        <img
                                            v-else
                                            src="/images/user_avatar.svg"
                                            class="border rounded-circle"
                                            width="40px"
                                        >
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <div class="box border bg-gray p-2 rounded bg-white mx-2">
                                                <div>{{ msg.text }}</div>
                                                <div
                                                    v-for="document in msg.documents"
                                                    class="d-flex align-items-center"
                                                >
                                                    <div>
                                                        <img width="40px" src="/images/24/file/chat-file.svg">
                                                    </div>
                                                    <div class="pl-10">
                                                        <div><a :href="document.url" target="_blank">{{ document.name }}</a></div>
                                                        <div>{{ document.size | filesize }}</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ml-2 mt-auto title gray">
                                        <i
                                            v-b-popover.hover.top="msg.created_at" variant="primary"
                                        >
                                            {{ msg.created_at | moment("from", "now") }}
                                        </i>
                                    </div>
                                </div>
                                <div
                                    v-else
                                    class="mt-10"
                                >
                                    <div class="row">
                                        <div class="ml-auto mt-auto title gray">
                                            <i
                                                v-b-popover.hover.top="msg.created_at" variant="primary"
                                            >
                                                {{ msg.created_at | moment("from", "now") }}
                                            </i>
                                        </div>
                                        <div class="d-flex">
                                            <div class="box border bg-gray p-2 rounded bg-white mx-2">
                                                <div>{{ msg.text }}</div>
                                                <div
                                                    v-for="document in msg.documents"
                                                    class="d-flex align-items-center"
                                                >
                                                    <div>
                                                        <img width="40px" src="/images/24/file/chat-file.svg">
                                                    </div>
                                                    <div class="pl-10">
                                                        <div><a :href="document.url" target="_blank">{{ document.name }}</a></div>
                                                        <div>{{ document.size | filesize }}</div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p hidden="hidden">
                        {{ this.receiveMessageData }}
                    </p>
                    <div class="type_msg">
                        <div class="input_msg_write" v-if="currentChatId != null">
                            <div class="row no-gutters p-3">
                                <div class="col-lg-8 col-sm-6 pt-10 pr-lg-5">
                                    <input
                                        v-model="message"
                                        type="text"
                                        class="form-control"
                                        placeholder="Введите сообщение"
                                    >
                                </div>
                                <div class="ml-md-auto col-lg-1 col-sm-2 pt-10 pr-lg-2 d-flex">
                                    <label for="fileupload"
                                        class="btn btn-block"
                                           v-b-popover.hover.top="text" variant="primary"
                                    >
                                        <img src="/images/24/basic/paperclip.svg"/>
                                    </label>

                                    <input
                                        multiple
                                        id="fileupload"
                                        ref="document"
                                        type="file"
                                        class="btn btn-block"
                                        style="display: none"
                                        @change="handleFileUpload()"

                                    >
                                </div>
                                <div class="col-lg-2 col-sm-3 pt-10">
                                    <button
                                        type="button"
                                        class="btn btn-block"
                                        @click="sendMessage"
                                        @keyup.enter="sendMessage"
                                    >
                                        Отправить
                                    </button>
                                </div>

                            </div>
                            <div class="row no-gutters p-3" v-if="files.length > 0">
                                <div
                                    v-for="(file,k) in files"
                                    class="col-lg-12 d-flex align-items-center pb-2"
                                >
                                    <div>
                                        <img width="40px" src="/images/24/file/chat-file.svg">
                                    </div>
                                    <div class="pl-10">
                                        <div>{{ file.name }}</div>
                                        <div>{{ file.size | filesize }}</div>
                                    </div>
                                    <div class="ml-auto">
                                        <a class="btn" @click="deleteFileFromUpload(k)"> <img src="/images/24/basic/delete.svg" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


import {mapGetters} from "vuex";

export default {
    name: 'ProfileTabChat',
    props: [],
    data() {
        return {
            currentChatId: null,
            userChats: [],
            message: '',
            files: [],
            chatMessages: [],
            receiveMessageData: [],
            loadMessage: false,
        };
    },
    watch: {
        $route(to) {
            if (typeof to.params.currentChatId !== 'undefined') {
                // сделано специально
                if (to.params.currentChatId !== this.currentChatId) {
                    this.loadChatMessages(parseInt(to.params.currentChatId, 10));
                }
            } else {
                this.currentChatId = null;
                this.chatMessages = [];
            }
        },
        currentChatId(){
            if (this.currentChatId) {
                this.createConnet();
            }
        }
    },
    created() {
        console.log('MIX_CHAT_FILE_SIZE', process.env.MIX_CHAT_FILE_SIZE);
        this.getUserChat();
    },
    computed:{
        ...mapGetters([
            'auth',
        ]),
        text: function () {
            return 'Размер файла не более '+ process.env.MIX_CHAT_FILE_SIZE + ' Мб';
        }
    },
    methods: {
        createConnet(){
            console.warn('createConnet');
            window.Echo.private(`chat.${this.currentChatId}`)
                .listen('ChatMessage', ({ data }) => {
                    this.receiveMessageData = data;
                    this.addMessage();
                    this.receiveMessageData = [];
                });
        },
        getUserChat() {
            this.$axios.get(`/api/v1/me/getuserchats/${this.auth.id}`, {})
                .then((response) => {
                    this.userChats = response.data;

                    if (typeof this.$route.params.currentChatId !== 'undefined') {
                        this.loadChatMessages(parseInt(this.$route.params.currentChatId, 10));
                    }
                });
        },
        checkLoadMessage(e){
            // if (e.target.scrollWidth*0.2 > e.target.scrollTop && !this.loadMessage){
            //     this.loadMessage = true;
            //     this.loadMore();
            // }
            let el = e.target;
            let scrolled = el.scrollTop + el.clientHeight + 1 < el.scrollHeight;
            let scrollTop = (el.scrollTop < 0) ? (el.scrollHeight - el.offsetHeight) + el.scrollTop : el.scrollTop;

            if (scrolled && scrollTop < 1  && !this.loadMessage) {
                this.loadMessage = true;
                this.loadMore();
            }
        },
        loadMore(){
            let minId = this.chatMessages.reduce((min, p) => p.id < min ? p.id : min, this.chatMessages[0].id);
            //console.log('load ', minId);
            this.$axios.post('/api/v1/me/chats/'+this.currentChatId+'/messages', { userId: this.auth.id, before: minId  })
                .then((response) => {
                    //this.chatMessages.push(response.data);
                    response.data.forEach(element => this.chatMessages.push(element));

                    this.loadMessage = false;
                })
                .catch((error) => {
                    this.loadMessage = false;
                });
        },
        loadChatMessages(chatId) {
            this.currentChatId = chatId;
            this.$axios.post('/api/v1/me/chats/'+chatId+'/messages', { userId: this.auth.id })
                .then((response) => {
                    this.chatMessages = response.data;
                });
        },
        sendMessage() {
            const data = new FormData();
            data.append("message[chat_id]", this.currentChatId);
            data.append("message[user_id]", this.auth.id);
            data.append("message[text]", this.message);
            if (this.files.length > 0){
                this.files.forEach((file) => {
                    data.append("message[files][]", file);
                });
            }
            if (this.files.length > 0 || this.message.length > 0){
                this.$axios.post('/api/v1/me/chats/'+this.currentChatId+'/sendmessage', data)
                    .then((response) => {
                        let newMessage = [];
                        newMessage.text = response.data.text;
                        newMessage.user_id = this.auth.id;
                        newMessage.chat_id = this.currentChatId;
                        newMessage.user = response.data.user;
                        newMessage.created_at = response.data.created_at;

                        if (response.data.documents){
                            newMessage.documents = response.data.documents;
                        }

                        this.chatMessages.unshift(newMessage);
                        this.message = '';
                        this.files = [];
                    }).catch((error) => {
                        //console.log(error);
                    });
            }
        },
        addMessage() {
            if (this.receiveMessageData && this.currentChatId) {
                if (this.receiveMessageData.message) {
                    const newMessage = {
                        text: this.receiveMessageData.message.text,
                        user_id: this.receiveMessageData.message.user_id,
                        chat_id: this.receiveMessageData.message.chat_id,
                        created_at: this.receiveMessageData.message.created_at,
                        user: this.receiveMessageData.message.user,
                    };
                    if (this.receiveMessageData.message.documents){
                        newMessage.documents = this.receiveMessageData.message.documents;
                    }
                    this.chatMessages.unshift(newMessage);
                }
            }
        },
        deleteFileFromUpload(k){
            this.files.splice(k,1);
        },
        handleFileUpload() {
            let files = [];

            for (var i = 0; i < this.$refs.document.files.length; i++) {
                if ((this.$refs.document.files[i].size / 1024 / 1024) < process.env.MIX_CHAT_FILE_SIZE){
                    files.push(this.$refs.document.files[i]);
                }
            }

            this.files = files;
        },
    },
};
</script>
