<template>
    <div />
</template>

<script>

export default {
    name: 'ProfileTabCompany',
    props: [],
    data() {
        return {};
    },
    created() {

    },
    mounted() {

    },
    methods: {

    },
};

</script>
