<template>
    <main class="my">
        <div class="container">
            <NavTab  :value="routes" class="red mt-3"/>

<!--            <div class="row">-->
<!--                <div class="col-lg-2">-->
<!--                    <select-->
<!--                        class="form-control"-->
<!--                        v-model="filter.type"-->
<!--                    >-->
<!--                        <option value="">Все</option>-->
<!--                        <option value="course">Курсы</option>-->
<!--                        <option value="event">События</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="ml-auto col-lg-2">-->
<!--                    <select-->
<!--                        class="form-control"-->
<!--                        v-model="filter.group"-->
<!--                    >-->
<!--                        <option value="filling">Набор</option>-->
<!--                        <option value="studying">Обучаюсь</option>-->
<!--                        <option value="studyed">Закончил обучение</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="courses row py-4" v-if="$route.name == 'me.course'">
                <div
                    v-for="(course, k) in courses.data"
                    :key="'course_'+k"
                    class="course col-lg-4"
                >
                    <card-course
                        v-if="course.type == 'course'"
                        :course="course"
                    >
                        <template slot="controls">
                            <div v-if="course.groups && course.groups[0]">
                                <b>{{ course.groups[0].started_at | moment('DD.MM.YYYY') }}</b> - <b>{{  course.groups[0].finished_at | moment('DD.MM.YYYY') }}</b>
                            </div>
                        </template>
                    </card-course>
                    <event-card
                        v-if="course.type == 'event'"
                        :event="course"
                    >
                    </event-card>
                </div>
            </div>
            <div class="row mb-4" v-if="$route.name == 'me.course'">
                <div class="col-lg-2 d-flex align-items-center">
                    <div class="text-nowrap">На странице</div>
                    <select
                        v-model="courses.per_page"
                        class="custom-select ml-2"
                    >
                        <option
                            value="6"
                            selected
                        >
                            6
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="15">
                            15
                        </option>
                    </select>
                </div>
                <div class="col-lg-7 d-flex m-auto">
                    <b-pagination
                        v-model="courses.current_page"
                        :total-rows="courses.total"
                        :per-page="courses.per_page"
                        class="m-auto"
                    ></b-pagination>
                </div>
                <div class="col-lg-3" />

            </div>
        </div>
        <router-view />
    </main>
</template>

<script>
import cardCourse from '@base/components/base/Card/cardCourse';
import eventCard from '@base/components/marketplace/EventCard';
import NavTab from "@base/components/base/NavTab";

export default {
    name: 'ProfileTabCourse',
    props: {
        type: {
            type: String,
            default: 'studying'
        }
    },
    components: {
        cardCourse,
        eventCard,
        NavTab
    },
    data() {
        return {
            filter: {
                type: '',
                group: 'studying',
            },
            courses: {
                per_page: 15,
                total: 0,
                data: [],
                current_page: 1
            },
            routes: [
                { name: 'me.course', description: 'Набор', visible: true, params: {type: 'filling' } },
                { name: 'me.course', description: 'Обучаюсь', visible: true, params: {type: 'studying' } },
                { name: 'me.course', description: 'Закончил обучение', visible: true, params: {type: 'studyed' } },
                // { name: 'me.course.marketplace.index', description: 'Маркетплейс', tooltip: 'Для ИОМ' ,visible: true },
            ]
        };
    },
    watch: {
        'type': function (val){
            this.getCourse();
        },
        'filter.type': function (val){
            this.getCourse();
        },
        'filter.group': function (val){
            this.getCourse();
        },
    },
    created() {

    },
    mounted() {
        this.getCourse();
    },
    methods: {
        getCourse() {
            this.$axios.get('/api/v1/me/course', {
                params: {
                    // type: this.filter.type,
                    type: this.type,
                    group: this.filter.group
                }
            })
                .then((response) => {
                    this.courses = response.data.courses;
                })
                .catch((error) => {


                })
                .finally(() => {
                });
        },
    },
};

</script>
