<template>
    <div
        class="container"
        v-if="auth && auth.districts"
    >
        <div
            v-for="d in auth.districts"
            class="company-list p-3 box border rounded shadow my-5 row"
        >
            <div class="col-lg-12">
                Район
                <div class="fs-24">{{d.name}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: "Districts",
    computed: {
        ...mapGetters([
            'auth',
        ]),
    }
}
</script>

<style scoped>

</style>
