<template>
    <main>
        <div class="container">
            <div
                v-for="(organization, k) in auth.organizations"
                :key="k"
                class="company-list p-3 box border rounded shadow my-5"
            >
                <div
                    class="company"
                >
                    <div class="head-edu">
                        <div class="row">
                            <div class="col-lg-12 row no-gutters">
                                <div class="mx-4">
                                    <img
                                        :src="organization.logo ? organization.logo : '/images/icons/edu_org.svg'"
                                        width="96px"
                                    >
                                </div>
                                <div class="col-lg-9 col-xl-10 row no-gutters flex-column">
                                    <div class="text-info">
                                        Организация
                                    </div>
                                    <div>
                                        <router-link
                                            class="fs-24"
                                            :to="{ name: 'org.'+organization.type.toLowerCase()+'.about', params: { id: organization.id }}"
                                        >
                                            {{ organization.name }}
                                        </router-link>
                                        <i class="fa fa-external-link"/>
                                    </div>
                                </div>
                            </div>

<!--                            <div-->
<!--                                class="col-lg-12 py-3"-->
<!--                                v-if="organization.permissions && organization.permissions.organization_create_users_easy_by_profiles"-->
<!--                            >-->
<!--                                <div-->
<!--                                    class="pb-2"-->
<!--                                >-->
<!--                                    <b>Олимпиады 2020:</b>-->
<!--                                </div>-->
<!--                                <a-->
<!--                                    class="btn btn-success mr-5 mb-3"-->
<!--                                    target="_blank"-->
<!--                                    @click="openOrganizationCreateUsersEasyByProfiles(organization)"-->
<!--                                >-->
<!--                                    Запрос на создание пользователей-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div-->
<!--                                class="col-lg-12 py-3"-->
<!--                                v-if="organization.permissions && (organization.permissions.moderation_org || organization.permissions.organization_camera_index)"-->
<!--                            >-->
<!--                                <b>МИУД 2020:</b>-->
<!--                            </div>-->
<!--                            <div-->
<!--                                class="col-lg-12 d-flex pb-3"-->
<!--                            >-->
<!--                                <a-->
<!--                                    v-if="organization.permissions && organization.permissions.moderation_org"-->
<!--                                    :href="'/api/v1/organization/' + organization.id + '/get2020users'"-->
<!--                                    class="btn btn-danger mr-5 mb-3"-->
<!--                                    target="_blank"-->
<!--                                >-->
<!--                                    Скачать логины и пароли учеников-->
<!--                                </a>-->
<!--                                <div v-if="organization.permissions && organization.permissions.moderation_org">-->
<!--                                    <router-link-->
<!--                                        class="mr-5 btn mb-3"-->
<!--                                        :to="{ name: 'me.edu-organization.miud', params: { organization_id: organization.id }}"-->
<!--                                    >-->
<!--                                        Просмотр результатов учеников-->
<!--                                    </router-link>-->
<!--                                </div>-->

<!--                                <a-->
<!--                                    class="mr-5 btn  btn-success mb-3"-->
<!--                                    v-if="false"-->
<!--                                    @click="openNewUsersPopup(organization)"-->
<!--                                >-->
<!--                                    Заявка на регистрацию школьников в МИУД-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <new-users-popup
            v-if="newUserPopup"
            :organization="select_organization"
            @closePopup="closePopup"
        />
        <organization-create-users-easy-by-profiles
            v-if="showOrganizationCreateUsersEasyByProfiles"
            :organization="select_organization"
            @closePopup="closeOrganizationCreateUsersEasyByProfiles"
        />
    </main>
</template>

<script>
import { mapGetters } from 'vuex';
import NewUsersPopup from './miud/NewUsersPopup';
import OrganizationCreateUsersEasyByProfiles from './manage/OrganizationCreateUsersEasyByProfiles';

export default {
    name: 'ProfileTabEduOrganization',
    components: {
        OrganizationCreateUsersEasyByProfiles,
        NewUsersPopup,
    },
    data() {
        return {
            showOrganizationCreateUsersEasyByProfiles: false,
            newUserPopup: false,
            select_organization: {},
        }
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
        ]),
    },
    methods: {
        openNewUsersPopup(organization){
            this.newUserPopup = true;
            this.select_organization = organization;
        },
        closePopup() {
            this.newUserPopup = false;
            this.select_organization = {};
        },
        openOrganizationCreateUsersEasyByProfiles(organization){
            this.showOrganizationCreateUsersEasyByProfiles = true;
            this.select_organization = organization;
        },
        closeOrganizationCreateUsersEasyByProfiles(){
            this.showOrganizationCreateUsersEasyByProfiles = false
            this.select_organization = {};
        }
    }
};
</script>
