<template>
    <main class="edu-program">
        <div class="container">
            <div>
                <div class="pt-1 d-flex flex-row justify-content-between">
                    <div class="fs-32 fs-sm" />
                    <div class="d-flex align-items-center">
                        <div class="input-group system-search">
                            <select
                                v-model="type"
                                class="custom-select ml-20"
                            >
                                <option
                                    value="all"
                                    selected
                                >
                                    Все
                                </option>
                                <option
                                    value="long"
                                >
                                    СПО
                                </option>
                                <option
                                    value="short"
                                >
                                    Краткосрочные
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-1 pb-1 edu-programs">
                <div
                    v-for="(program, k) in programs"
                    :key="k"
                >
                    <div class="edu-program">
                        <router-link
                            :to="{
                                name: 'org.edu.programview',
                                params: { id_program: program.id, id: program.organization_id, page: 1 }
                            }"
                            class="title white"
                        >
                            <div>
                                <div
                                    class="m-auto logo"
                                    :style="(program.organization.logo)
                                        ? 'background-image: url(' + program.organization.logo + ')'
                                        : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                                />
                            </div>
                            <div class="pt-2 title gray">
                                Образовательная программа
                            </div>
                            <div class="fs-18 fs-sm lh-32">
                                {{ program.name }}
                            </div>
                            <div class="d-flex justify-content-between pt-32 title gray">
                                <div v-if="program.type == 'long'">
                                    СПО
                                </div>
                                <div v-if="program.type == 'short'">
                                    Краткосрочная
                                </div>
                                <div>
                                    Дисциплин: {{ program.courses_count }}
                                </div>
                                <div style="display: none">
                                    Модулей:
                                </div>
                                <div style="display: none;">
                                    Занятий:
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-lg-2 d-flex flex-row align-items-center">
                    <span>Курсов </span>
                    <select
                        v-model="qty"
                        class="custom-select ml-2"
                    >
                        <option
                            value="6"
                            selected
                        >
                            6
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="15">
                            15
                        </option>
                    </select>
                </div>
                <div class="col-lg-8 m-auto">
                    <paginate-cmp
                        :route-name="'programs.list'"
                        :route-params="{ page: 2 }"
                        :pagination="pagination"
                    />
                </div>
                <div class="col-lg-2" />
            </div>
        </div>
    </main>
</template>

<script>

import PaginateCmp from '@base/components/inc/Paginate.vue';
import Paginate from '@base/inc/func/Paginate';
import { getMyPrograms } from '@base/api/index';

export default {
    name: 'ProfileTabEduProgram',
    components: {
        PaginateCmp,
    },
    props: [],
    data() {
        return {
            news: {},
            filter: {
                page: 1,
                per_page: 10,
            },
            type: 'all',
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            programs: {},
            qty: 12,
        };
    },
    watch: {
        type() {
            getMyPrograms({
                type: this.type,
                qty: this.qty,
                page: this.filter.page,
            }, this.$store)
                .then((response) => {
                    this.programs = response.data;
                    this.pagination = Paginate.calculate(response);
                });
        },
        $route(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            getMyPrograms({
                type: this.type,
                qty: this.qty,
                page: this.filter.page,
            }, this.$store)
                .then((response) => {
                    this.programs = response.data;
                    this.pagination = Paginate.calculate(response);
                });
        },
        qty() {
            // if (this.$route.params.page !== 1) {
            //     this.$router.push({ name: 'programs.list', params: { page: '1' } });
            // } else {
            getMyPrograms({
                type: this.type,
                qty: this.qty,
                page: 1,
            }, this.$store)
                .then((response) => {
                    this.programs = response.data;
                    this.pagination = Paginate.calculate(response);
                });
            // }
        },
    },
    created() {

    },
    mounted() {
        if (typeof this.$route.params.page !== 'undefined') {
            this.filter.page = this.$route.params.page;
        }
        getMyPrograms({
            type: this.type,
            qty: this.qty,
            page: this.filter.page,
        }, this.$store)
            .then((response) => {
                this.programs = response.data;
                this.pagination = Paginate.calculate(response);
            });
    },
};

</script>
