<template>
    <div class="container">
        <nav class="nav blue flex-row flex-nowrap justify-content-center red mt-3">
            <li
                v-for="(tab, id) in routes"
                :key="id" class="nav-item d-none d-md-block d-xl-block d-sm-none"
                :class="(tab.id == select_id) ? 'active' : ''"
            >
                <a
                    @click="selectTab(tab.id)"
                    class="nav-link pointer"
                    :class="(tab.id == select_id) ? 'router-link-exact-active router-link-active' : ''"
                >
                    {{ tab.description }}
                </a>
            </li>
        </nav>
        <div
            class="mt-2"
            v-html="description"
        >

        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
import { mapGetters } from 'vuex';


export default {
    name: 'MainPage',
    components: {
        NavTab,
    },
    computed: {
        ...mapGetters([
            'auth', 'main_page',
        ]),
        routes() {
            var data = {};

            data[0] = {
                id: 0,
                description: 'Главная',
                text: this.main_page.value,
            }

            this.description = data[0].text;

            if (this.auth && this.auth.cards){
                for (const card of this.auth.cards) {
                    data[card.template.id] = {
                        id: card.template.id,
                        description: card.template.name,
                        text: card.template.description,
                    }
                }
            }
            return data
        },
    },
    data() {
        return {
            select_id: 0,
            description: ''
        };
    },
    methods: {
        selectTab(id){
            this.select_id = id;
            this.description = this.routes[id].text
        }
    }
};
</script>
