<template>
    <main class="user-portfolio">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-2">
                    <a
                        class="btn btn-create"
                        @click="openAddPortfolio()"
                    >Добавить</a>
                </div>
            </div>
            <div class="user-portfolio" v-if="portfolio == []"></div>
            <div v-if="portfolio.portfolio" class="my-4">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <select
                            class="form-control"
                            @change="updateShowPortfolio"
                            v-model="portfolio.portfolio.show"
                        >
                            <option value="hidden">Скрыто для всех</option>
                            <option value="show">Открыто для всех</option>
                            <option value="url">Доступно по прямой ссылке</option>
                            <option value="request">Доступно по запросу</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <a
                            target="_blank"
                            class="btn fa fa-external-link"
                            :href="'/portfolio/' + portfolio.portfolio.id "
                        >
                        </a>
                        <a
                            v-if="portfolio.portfolio.show == 'request'"
                            class="btn ml-10"
                            @click="openRequestModal"
                        >
                            Запросы <span v-if="portfolio.request_count > 0">({{ portfolio.request_count }})</span>
                        </a>
                    </div>
                    <div class="ml-auto">
                        Последнее обновление: <b>{{ portfolio.portfolio.created_at }}</b>
                    </div>
                </div>
                <div class="pt-2 overflow-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Описание</th>
                                <th></th>
                                <th>Видимость</th>
                                <th>Дата достижения</th>
                                <th>Дата загрузки</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, k) in portfolio.items.data">
                                <td>{{ item.id }}</td>
                                <td>{{ item.description }}</td>
                                <td v-if="item.type == 'photo'">
                                    <a v-for="(url, id) in item.photos_original" :href="url" target="_blank">
                                        <img :src="url" height="100px" />
                                    </a>
                                </td>
                                <td v-if="item.type == 'file'">
                                    <a v-for="(file, id) in item.files_original" :href="file.url" target="_blank">
                                        {{ file.name }}
                                    </a>
                                </td>
                                <td v-if="item.type == 'url'">
                                    <a
                                        target="_blank"
                                        :href="item.data.url">
                                        {{ item.data.url }}
                                    </a>
                                </td>
                                <td><a v-if="item.show">Да</a><a v-else>Нет</a></td>
                                <td>{{ item.achievement }}</td>
                                <td>{{ item.updated_at }}</td>
                                <td>
                                    <a
                                        class="fa fa-edit pointer"
                                        @click="openEditItem(item)"
                                    ></a>
                                    <a
                                        class="fa fa-trash pointer"
                                        @click="deleteItem(item)"
                                    ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-2 d-flex align-items-center">
                    <div class="text-nowrap">На странице</div>
                    <select
                        v-model="qty"
                        class="custom-select ml-20"
                    >
                        <option value="9">
                            9
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="15">
                            15
                        </option>
                    </select>
                </div>
                <div class="col-lg-8 m-auto">
                    <paginate-cmp
                        :route-name="'me.portfolio'"
                        :route-params="{ page: 2 }"
                        :pagination="pagination"
                    />
                </div>
            </div>
        </div>
        <PortfolioRequests
            :show="showRequestModal"
            @closePopup="closeRequestModal"
        >
        </PortfolioRequests>
        <PortfolioAddItem
            :show="showAddPortfolio"
            :editItem="editItem"
            @closePopup="closeAddPortfolio"
        >

        </PortfolioAddItem>
    </main>
</template>

<script>

    import { loadMyPortfolio, deleteItem, updatePortfolio } from '@base/api/portfolio';
    import PortfolioAddItem from '@base/components/profile/tab/manage/PortfolioAddItem';
    import PortfolioRequests from '@base/components/profile/tab/manage/PortfolioRequests';
    import PaginateCmp from '@base/components/inc/Paginate.vue';
    import Paginate from '@base/inc/func/Paginate';
    import deepClone from 'clonedeep';

    export default {
        name: 'ProfileTabPortfolio',
        components: {
            PortfolioRequests,
            PortfolioAddItem,
            PaginateCmp
        },
        props: [],
        data() {
            return {
                editItem: {

                },
                portfolio: {
                    request_count: 0
                },
                showRequestModal: false,
                showAddPortfolio: false,
                pagination: {
                    page: {},
                    page_current: 0,
                    prev: { show: false, page: 0 },
                    next: { show: false, page: 0 },
                },
                page: 1,
                qty: 12,
            };
        },
        watch: {
            qty(){
                this.loadList();
            },
            page(){
                this.loadList();
            },
            $route(to) {
                if (typeof to.params.page !== 'undefined' && to.params.page !== this.page) {
                    this.page = to.params.page;
                } else {
                    this.page = 1;
                }
            }
        },
        created() {

        },
        mounted() {
            this.loadList();
        },
        methods: {
            updateShowPortfolio(){
                updatePortfolio({
                    'show': this.portfolio.portfolio.show
                }, this.portfolio.portfolio.id);
            },
            loadList(){
                loadMyPortfolio({
                    'qty': this.qty,
                    'page': this.page
                }).then((data) => {
                    this.portfolio = data.data;
                    this.pagination = Paginate.calculate(data.data.items);
                });
            },
            closeAddPortfolio(){
                this.showAddPortfolio = false;
                this.loadList();
            },
            openRequestModal(){
                this.showRequestModal = true;
            },
            closeRequestModal(){
                this.showRequestModal = false;
            },
            openAddPortfolio(){
                this.editItem = {};
                this.showAddPortfolio = true;
            },
            openEditItem(item){
                this.editItem = deepClone(item);
                this.showAddPortfolio = true;
            },

            deleteItem(item){
                deleteItem(item).then(() => {
                    this.loadList();
                });

            }
        },
    };

</script>
