<template>
    <div>
        <div class="container">
            <NavTab  :value="routes" class="red mt-3"/>

            <div class="pb-4 pt-2">
                <router-view />
            </div>
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
export default {
    name: "Profile",
    components: {
        NavTab
    },
    data() {
        return {
            routes: [
                { name: 'me.profile.about', description: 'Общее', visible: true },
                { name: 'me.profile.data', description: 'Данные', visible: true },
                { name: 'me.profile.documents', description: 'Документы', visible: true },
            ]
        }
    }
}
</script>
