<template>
    <main class="my">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 py-4">
                    <div class="form-group d-flex align-items-center">
                        <div
                            class="avatar avatar96 mb-2"
                            :style="auth.avatar ? `background-image: url(${auth.avatar.medium})` : ''"
                        />
                        <div class="ml-2">
                            <a
                                class="btn mr-2"
                                onclick="document.getElementById('userAvatar').click()"
                                ::disabled="spinner.avatar_update"
                            >
                                <span
                                    v-if="spinner.avatar_update"
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                />
                                Сменить фото
                            </a>

                            <a
                                class="btn"
                                href="javascript:void(0)"
                                ::disabled="spinner.avatar_delete"
                                @click="deleteAvatar()"
                            >
                                <span
                                    v-if="spinner.avatar_delete"
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                />
                                Удалить
                            </a>
                        </div>


                        <input
                            id="userAvatar"
                            ref="avatar"
                            type="file"
                            style="display: none;"
                            :value="avatarField"
                            @change="handleFileUpload()"
                        >
                    </div>

                    <div class="form-group">
                        <label>Имя</label>
                        <input
                            v-model="auth.firstname"
                            type="text"
                            class="form-control"
                            :class="('firstname' in invalid) ? 'is-invalid' : ''"
                            required
                        >
                        <div
                            v-if="'firstname' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.firstname"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Фамилия</label>
                        <input
                            v-model="auth.lastname"
                            type="text"
                            class="form-control"
                            :class="('lastname' in invalid) ? 'is-invalid' : ''"
                            required
                        >
                        <div
                            v-if="'lastname' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.lastname"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Отчество</label>
                        <input
                            v-model="auth.patronymic"
                            type="text"
                            class="form-control"
                            :class="('patronymic' in invalid) ? 'is-invalid' : ''"

                        >
                        <div
                            v-if="'lastname' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.patronymic"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Логин</label>
                        <input
                            v-model="auth.login"
                            disabled
                            type="text"
                            class="form-control"
                            :class="('patronymic' in invalid) ? 'is-invalid' : ''"

                        >
                        <div
                            v-if="'lastname' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.patronymic"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>



                    <div class="form-group">
                        <label>СНИЛС</label>
                        <vue-masked-input
                            required
                            disabled
                            class="form-control"
                            :class="('snils' in invalid) ? 'is-invalid' : ''"
                            v-model="auth.snils"
                            mask="111-111-111 11"
                        />
                        <div
                            v-if="'snils' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.snils"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input
                            v-model="auth.email"
                            type="email"
                            class="form-control"
                            :class="('email' in invalid) ? 'is-invalid' : ''"
                            required
                        >
                        <div
                            v-if="'email' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.email"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div
                            v-if="not_success"
                            class="col-lg-12"
                        >
                            <div
                                class="alert alert-warning alert-dismissible fade show"
                                role="alert"
                            >
                                <strong>Ошибка!</strong>&nbsp;
                                <span v-if="'avatar' in invalid">
                                <span
                                    v-for="(message, k) in invalid.avatar"
                                    :key="k"
                                >{{ message }}</span>
                            </span>
                                <span v-else>Данные не обновлены.</span>
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close"
                                    @click="not_success = false"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="col-lg-12"
                        >
                            <div
                                class="alert alert-success alert-dismissible fade show"
                                role="alert"
                            >
                                Данные обновлены.
                                <button
                                    type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close"
                                    @click="success = false"
                                >
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button
                            type="submit"
                            class="btn btn-red m-auto"
                            ::disabled="spinner.save"
                            @click="submit"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            Сохранить
                        </button>
                    </div>
                </div>

                <div class="col-lg-6 py-4">
                    <div v-for="card in auth.cards">
                        <h3>Карточка: {{ card.template.name }}</h3>
                        <div
                            v-if="card.organization"
                        >
                            Организация: <b>{{ card.organization.name }}</b>
                        </div>
                        <div
                            class="form-group"
                            v-for="field in card.template.fields"
                        >
                            <label>
                                {{ field.name }}
                                {{ field.required ? ' *' : '' }}
                            </label>

                            <input
                                v-if="field.type == 'text' || field.type == 'date' || field.type == 'number' || field.type == 'select'"
                                class="form-control"
                                :type="field.type"
                                disabled
                                :value="(user_cards_data[card.user_card_template_id] && user_cards_data[card.user_card_template_id][field.id]) ? user_cards_data[card.user_card_template_id][field.id] : ''"
                            />
                            <div
                                v-if="field.type == 'checkbox'"
                            >
                                <input
                                    class="custom-checkbox"
                                    :type="field.type"
                                    disabled

                                    :checked="(user_cards_data[card.user_card_template_id] && user_cards_data[card.user_card_template_id][field.id]) ? user_cards_data[card.user_card_template_id][field.id] : ''"
                                />
                            </div>
                            <textarea
                                class="form-control"
                                v-if="field.type == 'textarea'"
                                :type="field.type"
                                disabled
                                :value="(user_cards_data[card.user_card_template_id] && user_cards_data[card.user_card_template_id][field.id]) ? user_cards_data[card.user_card_template_id][field.id] : ''"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import VueMaskedInput from 'vue-masked-input';

export default {
    name: 'ProfileTabSetting',
    props: [],
    components: {
        VueMaskedInput,
    },
    data() {
        return {
            avatar: '',
            avatarField: null,
            spinner: {
                save: false,
                avatar_update: false,
                avatar_delete: false,
            },
            invalid: {},
            success: false,
            not_success: false,
            user_cards_data: [],
            userCardFields: [],
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },
    watch: {
        auth: function (){
            this.userDataSetFromAuth();
        }
    },
    created() {
        if (this.auth && this.auth.cards){
            this.userDataSetFromAuth();
        }
    },
    mounted() {
        if (this.auth && this.auth.cards){
            this.userDataSetFromAuth();
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        userDataSetFromAuth(){
            this.auth.cards.forEach(card => {
                card.template.fields.forEach(field => {
                    if (!this.userCardFields[card.template.id]) this.userCardFields[card.template.id] = {};
                    this.userCardFields[card.template.id][field.id] = field.type;
                })
            })

            this.auth.cards.forEach((card) => {
                card.values.forEach((value) => {
                    if (!this.user_cards_data[card.user_card_template_id]){
                        this.user_cards_data[card.user_card_template_id] = {};
                    }
                    if (this.userCardFields[card.template.id][value.user_card_template_field_id] == 'checkbox'){
                        this.user_cards_data[card.template.id][value.user_card_template_field_id] = (value.value == '1') ? true : false;
                    }else{
                        this.user_cards_data[card.template.id][value.user_card_template_field_id] = value.value;
                    }
                    //this.user_cards_data[card.user_card_template_id][value.user_card_template_field_id] = value.value
                });
            });
        },
        submit() {
            const formData = {
                firstname: this.auth.firstname,
                lastname: this.auth.lastname,
                patronymic: this.auth.patronymic,
                snils: this.auth.snils,
                email: this.auth.email,
            };

            this.showProcessMessage('save');
            this.$axios.patch('/api/v1/me',
                formData).then((response) => {
                this.showSuccessMessage('save');
                this.setStore({ key: 'auth.firstname', data: response.data.auth.firstname });
                this.setStore({ key: 'auth.lastname', data: response.data.auth.lastname });
                this.setStore({ key: 'auth.patronymic', data: response.data.auth.patronymic });
                this.setStore({ key: 'auth.snils', data: response.data.auth.snils });
                this.setStore({ key: 'auth.email', data: response.data.auth.email });
            })
                .catch((e) => {
                    this.showErrorMessage('save', e);
                });
        },
        updateAvatar() {
            const formData = new FormData();
            formData.append('avatar', this.avatar);

            this.showProcessMessage('avatar_update');
            this.$axios.post('/api/v1/me/update-avatar',
                formData,
                { headers: { 'Content-Type': 'multipart/form-data' } }).then((response) => {
                this.showSuccessMessage('avatar_update');
                this.setStore({ key: 'auth.avatar', data: response.data.auth.avatar });
                this.avatarField = null;
            })
                .catch((e) => {
                    this.showErrorMessage('avatar_update', e);
                });
        },
        deleteAvatar() {
            if (!confirm('Вы уверены что хотите удалить фото ?')) { // eslint-disable-line no-restricted-globals
                return false;
            }

            this.showProcessMessage('avatar_delete');
            this.$axios.post('/api/v1/me/destroy-avatar',
                {}).then((response) => {
                this.showSuccessMessage('avatar_delete');
                this.setStore({ key: 'auth.avatar', data: response.data.auth.avatar });
            })
                .catch((e) => {
                    this.showErrorMessage('avatar_delete', e);
                });

            return true;
        },
        handleFileUpload() {
            [this.avatar] = this.$refs.avatar.files;
            this.updateAvatar();
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn) {

            this.spinner[btn] = false;
            this.success = true;
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
    },
};

</script>
