<template>
<div class="container py-2">
    <div class="py-2">
        <table class="table table-striped table-bordered table-adaptive">
            <thead>
                <tr>
                    <th v-for="(el, id) in tableTitle" :key="id">{{ el }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, id) in tests" :key="id">
                    <td :data-label="tableTitle[0]">{{ item.id }}</td>
                    <td :data-label="tableTitle[1]">
                        <b>
                            <router-link :to="{ name: 'test', params: { test_id: item.id }}">
                                {{ item.name }}
                            </router-link>
                        </b>
                    </td>
                    <td :data-label="tableTitle[3]">{{ item.start_time_availability }} - {{ item.end_time_availability }}</td>
                    <td :data-label="tableTitle[4]">{{ item.model ? item.model.name : '' }}</td>
                    <td>
                        <router-link :to="{ name: 'test', params: { test_id: item.id }}">
                            <i class="btn fa fa-eye"/>
                        </router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row py-2">
        <b-pagination v-model="pagination.currentPage" :total-rows="pagination.total" :per-page="pagination.perPage" aria-controls="my-table" class="m-auto"></b-pagination>
    </div>
    <admin-test-create :show="adminTestCreate" @closePopup="closeCreateTest" />
</div>
</template>

<script>
import {
    getProfiles
} from '@base/api/profiles';
import {
    getUserQuizzes
} from '@base/api/user';

import AdminTestCreate from '@base/components/admin/tests/manage/AdminTestCreate';

export default {
    name: 'ProfileTabTests',
    components: {
        AdminTestCreate
    },
    data() {
        return {
            filter: {
                profile_id: null
            },
            profiles: [],
            adminTestCreate: false,
            tests: [],
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 12
            },
            tableTitle: ['#', 'Название', 'Доступ', 'Создатель', '']
        }
    },
    watch: {
        'pagination.currentPage': function (val) {
            this.getUserQuizzes();
        },
        'filter.profile_id': function (val) {
            this.getUserQuizzes();
        }
    },
    created() {
        this.getProfiles();
        this.getUserQuizzes();
    },
    methods: {
        getProfiles() {
            getProfiles().then(response => {
                this.profiles = response.data.data.profiles.data;
            })
        },
        openCreateTest() {
            this.adminTestCreate = true;
        },
        closeCreateTest() {
            this.adminTestCreate = false;
        },
        getUserQuizzes() {
            getUserQuizzes({
                'page': this.pagination.currentPage,
                'with[]': 'model'
            }).then(response => {
                this.tests = response.data.data.quizzes.data;
                this.pagination.total = response.data.data.quizzes.total;
            });
        }
    }
};
</script>
