<template>
    <main class="my">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-12 m-auto">
                    <table class="table table-bordered table-td-baseline">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Вакансия</th>
                            <th>Время</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in vacancyResponses.data">
                            <td>{{ item.id }}</td>
                            <td>
                                <router-link
                                    :to="{ name: 'org.employer.vacancy', params: { id: item.vacancy.organization_id, vacancyId: item.vacancy_id } }"
                                >
                                    {{ item.vacancy.title }}
                                </router-link>
                            </td>

                            <td>{{ item.created_at }}</td>
                            <td>
                                <select
                                    disabled
                                    class="custom-select"
                                    v-model="item.status"

                                >
                                    <option value="sent" disabled>Не рассмотрено</option>
                                    <option value="rejected">Отклонено</option>
                                    <option value="reviewed">Просмотрено</option>
                                    <option value="invited">Пригланеш на собеседование</option>
                                </select>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 d-flex m-auto">
                    <b-pagination
                        v-if="vacancyResponses.total"
                        class="m-auto"
                        v-model="page"
                        :total-rows="vacancyResponses.total"
                        :per-page="qty"
                        aria-controls="vacancies_table"
                    ></b-pagination>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {mapGetters} from "vuex";

    import { getVacancyResponses } from '@base/api/user';

    export default {
        name: "Vacancies",
        data(){
            return {
                vacancyResponses: {

                },
                page:1,
                qty: 12,
            }
        },
        watch:{
            qty(){
                getVacancyResponses({
                    action: 'index',
                    page: this.page,
                    qty: this.qty
                }).then((data) => {
                    this.vacancyResponses = data.data;
                });
            },
            page(){
                getVacancyResponses({
                    action: 'index',
                    page: this.page,
                    qty: this.qty
                }).then((data) => {
                    this.vacancyResponses = data.data;
                });
            }
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
        },
        mounted() {
            getVacancyResponses({
                action: 'index',
                page: this.page,
                qty: this.qty
            }).then((data) => {
                this.vacancyResponses = data.data;
            });
        }
    }
</script>
