<template>
    <div class="container">
        <div class="row py-2">
            <div class="col">
                <a
                    class="btn"
                    @click="showCategoriesPopup"
                >
                    Категория: {{ bank_select.name }} <img src="/images/icons/drop_down.svg">
                </a>
            </div>
            <div  class="col d-flex">
                <button
                    class="ml-auto btn btn-create"
                    @click="visibleQuestionPopup = true"
                >
                    Добавить вопрос
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="title gray vertical-align-middle">
                                №
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Название
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Тип
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Создан
                                <span class="arrow asc"></span></th>
                            <th class="title gray vertical-align-middle">
                                Последнее изменение
                            </th>
                            <th class="title gray vertical-align-middle">
                                Действия
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(question, k) in questions" :key="k">
                            <td>
                                {{ question.id }}
                            </td>
                            <td>
                                <div
                                    style="max-height: 60px; overflow: auto"
                                    v-html="question.name"
                                >

                                </div>
                            </td>
                            <td>
                                {{ question.type.name }}
                            </td>
                            <td>
                                {{ question.created_at }}
                            </td>
                            <td>
                                {{ question.updated_at }}
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-red"
                                    v-if="question.can_deletable"
                                    @click="delQuestion({ id: question.id })">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 d-flex py-2">
                <b-pagination
                    v-model="pagination.currentPage"
                    :total-rows="pagination.total"
                    :per-page="pagination.perPage"
                    class="m-auto"
                ></b-pagination>
            </div>
        </div>
        <QuestionPopup
            v-if="visibleQuestionPopup"
            :question="question"
            :bank_id="bank_select.id"
            :treeBankObject="bankQuestion[0]"
            @closePopup="closeQuestionPopup"
        />
        <CategoryPopup
            v-if="visibleCategoryPopup"
            :treeBankObject="bankCategory[0]"
            @closePopup="closeCategoryPopup"
        />
        <categories-popup
            :show="visibleCategoriesPopup"
            :bankCategory="bankQuestion[0]"
            :category_id="bank_select.id"
            @closePopup="closeCategoriesPopup"
            @selectedId="selectedId"
            @createdTreeEl="createdTreeEl"
        />
    </div>
</template>

<script>
import {createNamespacedHelpers, mapGetters} from "vuex";
import CourseHeader from '@base/components/course/Header';
import QuestionPopup from '@base/components/course/bank-question/QuestionPopup';
import CategoryPopup from '@base/components/course/bank-question/CategoryPopup';
import CustomTree from '@base/components/base/Tree/Tree';
import CategoriesPopup from './manage/CategoriesPopup';
import { getListQuestions } from '@base/api/bank-question/question.js';
import deepClone from 'clonedeep';
import ChangeCategoryPopup from '@base/components/course/bank-question/changeCategoryPopup';

const programs = createNamespacedHelpers('programs');
const courses = createNamespacedHelpers('courses');
const disciplines = createNamespacedHelpers('disciplines');
const organization = createNamespacedHelpers('organization');
const lessons = createNamespacedHelpers('lessons');
const lessonTask = createNamespacedHelpers('lessonTask');
const bank = createNamespacedHelpers('bank');

export default {
    name: 'OrgEduViewBankQuestion',
    components: {
        CategoriesPopup,
        CourseHeader,
        QuestionPopup,
        CategoryPopup,
        CustomTree,
        ChangeCategoryPopup,
    },
    props: {
        course_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            bank_select: {
                id: null,
                name: null
            },
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 12
            },
            question: null,
            questions: null,
            bank_id: null,
            visibleCategoriesPopup: false,
            visibleQuestionPopup: false,
            visibleCategoryPopup: false,
            visibleChangeCategoryPopup: false,
            sectionTable: '',
            currentUpdateCategory: {
                id: 0,
                name: '',
            },
        }
    },
    computed: {
        ...mapGetters({
            auth: 'auth',
        }),
        ...programs.mapGetters({
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...courses.mapGetters({
            course: 'COURSE_DETAIL',
        }),
        ...organization.mapGetters({
            organization: 'ORGANIZATION',
            permissions: 'PERMISSIONS',
        }),
        ...lessons.mapGetters({
            lessons: 'LESSONS',
        }),
        // listQuestion() {
        //     return this.$store.state.bank.listQuestion;
        // },
        bankCategory() {
            return this.$store.state.bank.bankCategory;
        },
        bankQuestion() {
            if (this.$store.state.bank.bankQuestion[0] && this.bank_select.id == null){
                this.bank_select = deepClone(this.$store.state.bank.bankQuestion[0]);
            }
            return this.$store.state.bank.bankQuestion;
        },
        category_id() {
            return this.$store.state.category_id;
        }
    },
    watch: {
        async $route(to) {
            this.getBankQuestion();
        },
        'bank_select.id': function () {
            this.getQuestionList();
        }
    },
    methods: {
        ...bank.mapActions({
            getBank: 'GET_BANK',
            getCategory: 'GET_CATEGORY',
            delQuestion: 'DELETE_QUESTION',
        }),
        showCategoriesPopup(){
            this.visibleCategoriesPopup = true;
        },
        closeCategoriesPopup(){
            this.visibleCategoriesPopup = false;
        },
        selectedId(item){
            this.bank_select = item;
        },
        createdTreeEl(){
            this.getBank({ course_id: this.course_id });
        },
        getQuestionList(){
            getListQuestions({ bank_id: this.bank_select.id }).then((response) => {
                this.questions = response.questions.data;
                this.pagination.total = response.questions.total;
            })
        },
        selectedTreeEl(id) {
            this.getCategory({ category_id: id });
        },
        closeQuestionPopup() {
            this.visibleQuestionPopup = false;
            this.getQuestionList();
        },
        // async closeCategoryPopup() {
        //     this.visibleCategoryPopup = false;
        //     this.getBankQuestion();
        //     this.getCategory({ category_id: this.bankQuestion[0].id });
        // },
        async getBankQuestion() {
            this.getBank({ course_id: this.course_id });
        },
        categoryUpdate(item) {
            this.currentUpdateCategory = { id: item.id, name: item.name };
            this.visibleChangeCategoryPopup = true;
        },
        closeChangeCategoryPopup() {
            this.visibleChangeCategoryPopup = false;
        },
    },
    created() {
        this.getBankQuestion();
    }
}
</script>
