<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Добавление категории вопросов
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group mb-10">
                                        <label
                                            class="title gray"
                                        >Название категории:</label>
                                        <input
                                            id="name"
                                            v-model="category.name"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                            class="form-control"
                                            required
                                        />
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.question_count"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                        <valid-sign
                                            :name="'name'"
                                            :invalid="invalid"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-6 m-auto">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32 d-flex justify-content-center">
                        <button
                            type="button"
                            class="btn btn-red "
                            @click="create()"
                        >
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import { createBankCategory } from '@base/api/bank-question/bank';
import CustomTree from '@base/components/base/Tree/Tree';
import validSign from '@base/components/base/validSign';

export default {
    name: 'CategoryPopup',
    props: {
        treeBankObject: {
            type: Object,
            default: () => {},
        },
    },
    mixins: [Proccess],
    components: {
        SuccessError,
        CustomTree,
        validSign,
    },
    data()  {
        return {
            nameCategory: '',
            category: {
                name: '',
            }

        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        create() {
            createBankCategory({
                parent_id: this.treeBankObject.id,
                name: this.category.name
            })
                .then((data) => {
                    this.clear();
                    this.closePopup();
                })
                .catch((error) => {
                    this.showErrorMessage('local', 'save', true, error);
                });
        },
        clear() {
            this.category.name = '';
            this.category.parent_id = 0;
        },
        selectedTreeEl(item) {
            this.category.parent_id = item.id;
        },

    }
}
</script>
