<template>
    <popup :caption="'Создать опрос'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6 ml-auto mr-auto">
                    <div class="form-group">
                        <label>Название категории</label>
                        <input
                            v-model="category.name"
                            class="form-control"
                            type="text"
                        />
                        <valid-sign
                            :name="'name'"
                            :invalid="errors"
                        />
                    </div>
                </div>
                            
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="update(category)">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import Popup from "@base/components/base/Popup"
import { changeName } from "@base/api/bank-question/bank";
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';

export default {
    components: {
        Popup,
        validSign,
        SuccessError,
    },
    props: {
        category: {
            type: Object,
            default: () => ({
                id: 0,
                name: '',
            })
        }
    },
    mixins: [mixSuccess],
    data() {
        return {
            errors: {}
        }
    },
    methods: {
        update(category) {
            changeName({ name: category.name, id: category.id })
                        .then(() => {
                            this.$emit('updateCategory');
                            this.mixShow('success');
                        })
                        .catch(() => {
                            this.mixShow('error');
                        });
        },
        closePopup() {
            this.$emit('closePopup');
        },
    },
}
</script>