<template>
    <div>
        <div
            class="show modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    v-if="question && question.id"
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Редактирование вопроса
                            <b v-if="questionTypes[question.question_type.system_name]">
                                {{ questionTypes[question.question_type.system_name].description }}
                            </b>
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">

                            <b-tabs content-class="mt-3">
                                <b-tab title="Настройки" active>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Название вопроса</label>
                                                <input
                                                    v-model="question.name"
                                                    class="form-control"
                                                    name="name"
                                                    :class="('name' in errors) ? 'is-invalid' : ''"
                                                />
                                                <div
                                                    v-if="'name' in errors"
                                                    class="invalid-feedback"
                                                >
                                            <span
                                                v-for="(message, k) in errors.name"
                                                :key="k"
                                            >{{ message }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Сложность вопроса</label>
                                                <select
                                                    class="form-control"
                                                    v-model="question.complexity"
                                                    :class="('complexity' in errors) ? 'is-invalid' : ''"
                                                >
                                                    <option value="1">Базовый</option>
                                                    <option value="2">Повышенный 1</option>
                                                    <option value="3">Повышенный 2</option>
                                                </select>
                                                <div
                                                    v-if="'complexity' in errors"
                                                    class="invalid-feedback"
                                                >
                                                <span
                                                    v-for="(message, k) in errors.complexity"
                                                    :key="k"
                                                >{{ message }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Текст вопроса</label>
                                                <htmlEditor
                                                    :content.sync="question.description"
                                                    name="description"
                                                    :class="('description' in errors) ? 'is-invalid' : ''"
                                                />
                                                <div
                                                    v-if="'description' in errors"
                                                    class="invalid-feedback"
                                                >
                                            <span
                                                v-for="(message, k) in errors.description"
                                                :key="k"
                                            >{{ message }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Прикрепить файлы</label>
                                                <input
                                                    class="form-control"
                                                    type="file"
                                                    ref="files"
                                                    multiple="multiple"
                                                    @change="changeFiles"
                                                />
                                                <div class="row no-gutters pt-3">
                                                    <div v-for="(file, key) in files" :key="key" class="file">
                                                        {{ file.name }}
                                                        <!--<i aria-hidden="true" class="fa fa-trash-o pointer"></i>-->
                                                    </div>
                                                </div>

                                                <div class="row no-gutters pt-3">
                                                    <div v-for="(file, key) in question.files" :key="key" class="file">
                                                        <a
                                                            target="_blank"
                                                            :href="file.full_url"
                                                        >
                                                            {{ file.name }}.{{file.extension}}</a>
                                                        <b>{{ file.size | filesize }}</b>

                                                        <i aria-hidden="true" @click="deleteFile(file.id)" class="fa fa-trash-o pointer"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <recorder v-model="audio"></recorder>
                                            <customAudio
                                                v-for="(element, key) in audio"
                                                :key="key"
                                                @delete="deleteAudio(key)"
                                                :element="element"
                                            >
                                            </customAudio>
                                            <customAudio
                                                v-for="(element, key) in question.audio"
                                                :key="key"
                                                @delete="deleteDownloadedAudio(element.id)"
                                                :element="element"
                                            >
                                            </customAudio>
                                        </div>
                                    </div>
                                </b-tab>
                                <b-tab title="Ответы">
                                    <div class="form-group mb-10" v-if="question.question_type.system_name === 'text'">
                                        <label
                                            class="title gray"
                                            for="questionTypeRequest_files_answer"
                                        >
                                            Ответ в виде файлов:
                                        </label>
                                        <input
                                            id="questionTypeRequest_files_answer"
                                            v-model="question.params.files_answer"
                                            type="checkbox"
                                            class="custom-checkbox"
                                            required
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-if="question.question_type.system_name === 'text'">
                                        <label
                                            class="title gray"
                                            for="questionTypeRequest_audio_answer"
                                        >
                                            Ответ в виде аудио:
                                        </label>
                                        <input
                                            id="questionTypeRequest_audio_answer"
                                            v-model="question.params.audio_answer"
                                            type="checkbox"
                                            class="custom-checkbox"
                                            required
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-for="(answer, id) in sortArrays(question.question_answers)" :key="id">
                                        <div class="row" v-if="question.question_type.system_name === 'one-choose'">
                                            <div class="col-12">
                                                <label>Вариант ответа</label>
                                                <input
                                                    class="ml-4"
                                                    type="radio"
                                                    value="100"
                                                    required
                                                    disabled
                                                    name="radio-scores"
                                                    :checked="(answer.score == 100)"
                                                />
                                                <div class="input-group align-items-center">
                                                    <htmlEditor
                                                        :content.sync="answer.value"
                                                        :name="`answer${id}`"
                                                        :class="('description' in errors) ? 'is-invalid' : ''"
                                                    />
                                                </div>

                                                <div class="form-group">
                                                    <label>Прикрепить файлы</label>
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        :ref="'answer_files_'+answer.id"
                                                        @change="changeAnswerFiles(answer.id)"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <div v-for="f in answer.files">
                                                        <div class="d-flex align-items-center">
                                                            <a :href="f.full_url" target="_blank">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Прикрепить фото</label>
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        :ref="'answer_photo_'+answer.id"
                                                        @change="changeAnswerPhotos(answer.id)"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <div v-for="f in answer.images">
                                                        <div class="d-flex align-items-center">
                                                            <a :href="f.full_url" target="_blank">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" v-if="question.question_type.system_name === 'many-choose'">
                                            <div class="col-9">
                                                <div>
                                                    <label>
                                                        Вариант ответа:
                                                    </label>
                                                    <htmlEditor
                                                        :content.sync="answer.value"
                                                        name="description"
                                                        :class="('description' in errors) ? 'is-invalid' : ''"
                                                    />
                                                </div>

                                                <div class="form-group">
                                                    <label>Прикрепить файлы</label>
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        :ref="'answer_files_'+answer.id"
                                                        @change="changeAnswerFiles(answer.id)"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <div v-for="f in answer.files">
                                                        <div class="d-flex align-items-center">
                                                            <a :href="f.full_url" target="_blank">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Прикрепить фото</label>
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        :ref="'answer_photo_'+answer.id"
                                                        @change="changeAnswerPhotos(answer.id)"
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <div v-for="f in answer.images">
                                                        <div class="d-flex align-items-center">
                                                            <a :href="f.full_url" target="_blank">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <label
                                                    class="title gray"
                                                >%</label>
                                                <input
                                                    :value="answer.score"
                                                    disabled
                                                    type="number"
                                                    min="-100"
                                                    max="100"
                                                    class="form-control"
                                                    required
                                                />
                                            </div>
                                        </div>

                                        <div class="row" v-if="question.question_type.system_name === 'position'">
                                            <div class="col-12">
                                                <label
                                                    class="title gray"
                                                >Вариант ответа:</label>
                                                <htmlEditor
                                                    :content.sync="answer.value"
                                                    name="description"
                                                    :class="('description' in errors) ? 'is-invalid' : ''"
                                                />

                                            </div>
                                            <div class="col-12">
                                                <label>Позиция:</label>
                                                <input
                                                    v-model="answer.position"
                                                    type="number"
                                                    class="form-control"
                                                    required
                                                    disabled
                                                />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group mb-10" v-for="(answer, id) in question_answers_sortSequence">
                                        <div class="row" v-if="question.question_type.system_name === 'sequence'">
                                            <div class="col-12">
                                                <label>Вариант ответа:</label>
                                                <htmlEditor
                                                    :content.sync="answer.value"
                                                    name="description"
                                                    :class="('description' in errors) ? 'is-invalid' : ''"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="question.question_type.system_name === 'relation' && question.answers_front"
                                    >
                                        <div
                                            class="card mb-2"
                                            v-for="(answer, id) in question.answers_front[0]"
                                        >
                                            <div class="row p-2">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label>Значение:</label>
                                                        <input
                                                            v-model="answer.value"
                                                            type="text"
                                                            class="form-control"
                                                            required
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Прикрепить файлы</label>
                                                        <input
                                                            class="form-control"
                                                            type="file"
                                                            :ref="'answer_files_'+answer.id"
                                                            @change="changeAnswerFiles(answer.id)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <div v-for="f in answer.files">
                                                            <div class="d-flex align-items-center">
                                                                <a :href="f.full_url">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Прикрепить фото</label>
                                                        <input
                                                            class="form-control"
                                                            type="file"
                                                            :ref="'answer_photo_'+answer.id"
                                                            @change="changeAnswerPhotos(answer.id)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <div v-for="f in answer.images">
                                                            <div class="d-flex align-items-center">
                                                                <a :href="f.full_url">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.id, f.id)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label>Ассоциация:</label>
                                                        <input
                                                            v-model="question.answers_front[1].find(el => el.id == answer.relation_id).value"
                                                            type="text"
                                                            class="form-control"
                                                            required
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Прикрепить файлы</label>
                                                        <input
                                                            class="form-control"
                                                            type="file"
                                                            :ref="'answer_files_'+answer.relation_id"
                                                            @change="changeAnswerFiles(answer.relation_id)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <div v-for="f in question.answers_front[1].find(el => el.id == answer.relation_id).files">
                                                            <div class="d-flex align-items-center">
                                                                <a :href="f.full_url">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.relation_id, f.id)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Прикрепить фото</label>
                                                        <input
                                                            class="form-control"
                                                            type="file"
                                                            :ref="'answer_photo_'+answer.relation_id"
                                                            @change="changeAnswerPhotos(answer.relation_id)"
                                                        />
                                                    </div>
                                                    <div class="form-group">
                                                        <div v-for="f in question.answers_front[1].find(el => el.id == answer.relation_id).images">
                                                            <div class="d-flex align-items-center">
                                                                <a :href="f.full_url">{{f.file_name}}</a> <a class="ml-auto fa fa-trash" @click="deleteAnswerMedia(answer.relation_id, f.id)"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        v-if="question.question_type.system_name === 'text'"
                                    >
                                        Ответы для автопроверки:
                                        <div
                                            v-for="(answer, id) in question.question_answers"
                                            class="row"
                                        >
                                            <div class="col-5">
                                                <label>Значение:</label>
                                                <div class="d-flex align-items-center">
                                                    <input
                                                        v-model="answer.value"
                                                        type="text"
                                                        class="form-control"
                                                        required
                                                    />
                                                    <a
                                                        class="ml-2 fa fa-trash"
                                                        @click="deleteAnswer(answer, id)"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a
                                                @click="question.question_answers.push({ id: null, value: ''})"
                                                class="btn btn-success"
                                            >
                                                Добавить
                                            </a>
                                        </div>
                                    </div>
                                </b-tab>
                                <b-tab title="Категория">
                                    <custom-tree
                                        class=""
                                        :item="treeBankObject"
                                        @selectedTreeEl="selectedTreeEl"
                                        :default_select="bank_id"
                                        :can_edit_delete="false"
                                        @createdTreeEl="createdTreeEl"
                                    >
                                    </custom-tree>
                                </b-tab>
                            </b-tabs>

                            <div class="row pt-12">
                                <div class="col-lg-12">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32 d-flex justify-content-center">
                        <button
                            type="button"
                            class="btn btn-red"
                            @click="submit()"
                        >
                            Обновить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { updateQuestion, deleteMedia, updateMedia, deleteAnswer } from '@base/api/bank-question/question'
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import htmlEditor from '@base/components/base/vueEditor';
import CustomTree from '@base/components/base/Tree/Tree';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import recorder from '@base/components/base/recorder';
import customAudio from '@base/components/base/customAudio';
import deepClone from 'clonedeep';

export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        question: {
            type: Object,
            default: () => ({
            })
        },
        bank_id: {
            type: Number,
            default: 0,
        },
        treeBankObject: {
            type: Object,
            default: () => {},
        },
    },
    name: 'QuestionEditPopup',
    mixins: [mixSuccess],
    components: {
        SuccessError,
        htmlEditor,
        CustomTree,
        recorder,
        customAudio,
    },
    data() {
        return {
            activeSection: 'home',
            questionTypes: {
                'one-choose': {
                    id: 1,
                    description: 'Один верный ответ',
                    class: 'one-choose',
                },
                'many-choose': {
                    id: 2,
                    description: 'Несколько верных ответов',
                    class: 'many-choose',
                },
                'relation': {
                    id: 3,
                    description: 'Ассоциация',
                    class: 'relation',
                },
                'sequence': {
                    id: 4,
                    description: 'Последовательность',
                    class: 'sequence',
                },
                'text': {
                    id: 5,
                    description: 'Oтвет в произвольной форме',
                    class: 'text',
                },
                'position': {
                    id: 6,
                    description: 'Правильное расположение',
                    class: 'position',
                },
            },
            questionTypeRequest: {
                "question_type_id": 0,
                "bank_question_id": this.bank_id,
                "name": "",
                "passing_score": 0,
                "answer_data": {}
            },
            count_answer: 0,
            answers: [],
            scores: [],
            position: [],
            relation: {
                first_val: [],
                second_val: [],
            },
            free_answer: '',
            free_answerScore: 0,
            errors: {},
            files: [],
            audio: [],
            files_answer: false,
            audio_answer: false,
            answers_append_files: {}
        }
    },
    watch: {
        count_answer(){
            for(let i = 0; i < this.count_answer; i++){
                this.position[i] = i;
            }
        },
        activeSection() {
            if (this.activeSection !== 'home') {
                this.questionTypeRequest["question_type_id"] = this.questionTypes[this.activeSection].id;
            }
        }
    },
    computed: {
        question_answers_sortSequence(){
            if (this.question && this.question.question_type.system_name === 'sequence'){
                let arrays = this.question.question_answers;

                let first = arrays.find((el) => {
                    if (!el.relation_id) {
                        return el;
                    }
                })

                let buf = arrays.filter(el => {
                    if (el.relation_id) {
                        return el;
                    }
                });

                let a = [];
                a.push(first);



                while (a.length != arrays.length){
                    buf.forEach(el => {
                        if (el.relation_id == a[a.length-1].id){
                            a.push(el);
                        }
                    });
                }



                return a;
            }
            return [];
        }
    },
    methods: {
        deleteAnswer(answer, id){
            if (answer.id) {
                let data = {
                    id: this.question.id,
                    question_answer_id: answer.id
                };

                deleteAnswer(data).then(() => {
                    this.question.question_answers.splice(id, 1)
                })

            } else {
                this.question.question_answers.splice(id, 1)
            }
        },
        sortArrays(arrays) {
            return _.orderBy(arrays, 'position', 'asc');
        },
        scores_null(id){
            for(let i =0; i < this.count_answer; i++){
                this.scores[i] = 0;
            }
            this.scores[id] = 100;
        },
        deleteAudio(key) {
            this.audio.splice(key, 1);
        },
        async deleteDownloadedAudio(id) {
            try {
                const response = await deleteMedia({ question_id: this.question.id, media_id: id});
                this.question.audio = response.question.audio;
            } catch (e) {
                this.mixShow('error');
            }
        },
        closePopup() {
            this.$emit('closePopup');
        },
        goTo(questionType) {
            this.activeSection = questionType;
        },
        async submit() {
            try {
                await updateQuestion(this.question);
                if (this.audio.length) {
                    const response = await updateMedia({type: 'audio', question_id: this.question.id, media: this.audio});
                    this.audio = [];
                    this.question.audio = response.question.audio;
                }
                if (Object.keys(this.files).length !== 0) {
                    const response = await updateMedia({type: 'files', question_id: this.question.id, media: this.files});
                    this.files = [];
                    this.question.files = response.question.files;
                }
                this.mixShow('success');
            } catch (e) {
                this.mixShow('error');
            }
        },
        clear() {
            this.questionTypeRequest = {
                "question_type_id": 0,
                "bank_question_id": this.bank_id,
                "name": "",
                "passing_score": 0,
                "answer_data": {}
            };
            this.count_answer = 0;
            this.answers = [];
            this.scores = [];
            this.position = [];
            this.free_answer = '';
            this.free_answerScore = 0;
        },
        selectedTreeEl(item) {
            this.question.bank_question_id = item.id;
        },
        createdTreeEl(){

        },
        changeFiles() {
            const noFileLengthItem = ({ length, item, ...rest }) => rest;
            this.files = noFileLengthItem(this.$refs.files.files);
            this.$refs.files.value = null;
        },
        changeAnswerFiles(id){
            const noFileLengthItem = ({ length, item, ...rest }) => rest;
            var files = noFileLengthItem(this.$refs['answer_files_'+id][0].files);

            var data = new FormData();
            data.append('_method', 'patch')
            data.append('action', 'attach-media')
            data.append('collection', 'files')
            data.append('media', files[0])

            this.$axios.post('/api/v1/question-answers/'+ id, data).then((response) => {
                //question.answers_front[1].find(el => el.id == answer.relation_id).images

                if (this.question.question_type.system_name == "relation"){
                    var a = this.question.answers_front[0].find(el => el.id == response.data.data.answer.id)
                    if (!a){
                        a = this.question.answers_front[1].find(el => el.id == response.data.data.answer.id)
                    }
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }else{
                    var a = this.question.answers_front.find(el => el.id == response.data.data.answer.id)
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }

                    var a = this.question.question_answers.find(el => el.id == response.data.data.answer.id)
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }

            })

            this.$refs['answer_files_'+id][0].value = null;
        },
        changeAnswerPhotos(id){
            const noFileLengthItem = ({ length, item, ...rest }) => rest;
            var files = noFileLengthItem(this.$refs['answer_photo_'+id][0].files);

            var data = new FormData();
            data.append('_method', 'patch')
            data.append('action', 'attach-media')
            data.append('collection', 'images')
            data.append('media', files[0])

            this.$axios.post('/api/v1/question-answers/'+ id, data).then((response) => {
                //question.answers_front[1].find(el => el.id == answer.relation_id).images
                if (this.question.question_type.system_name == "relation") {
                    var a = this.question.answers_front[0].find(el => el.id == response.data.data.answer.id)
                    if (!a) {
                        a = this.question.answers_front[1].find(el => el.id == response.data.data.answer.id)
                    }
                    if (a) {
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }else{
                    var a = this.question.answers_front.find(el => el.id == response.data.data.answer.id)
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }

                    var a = this.question.question_answers.find(el => el.id == response.data.data.answer.id)
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }
            })

            this.$refs['answer_photo_'+id][0].value = null;
        },
        deleteAnswerMedia(id, media_id){
            this.$axios.post('/api/v1/question-answers/'+ id, {
                _method: 'patch',
                action: 'detach-media',
                media_id: media_id
            }).then((response) => {
                //question.answers_front[1].find(el => el.id == answer.relation_id).images

                if (this.question.question_type.system_name == "relation") {
                    var a = this.question.answers_front[0].find(el => el.id == response.data.data.answer.id)
                    if (!a){
                        a = this.question.answers_front[1].find(el => el.id == response.data.data.answer.id)
                    }
                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }else{
                    var a = this.question.question_answers.find(el => el.id == response.data.data.answer.id)

                    if (a){
                        a.images = response.data.data.answer.images
                        a.files = response.data.data.answer.files
                        this.$forceUpdate();
                    }
                }

            })
        },
        async deleteFile(id) {
            try {
                const response = await deleteMedia({ question_id: this.question.id, media_id: id});
                this.question.files = response.question.files;
            } catch (e) {
                this.mixShow('error');
            }
        }
    }
}
</script>
<style>
.nav {
    overflow: hidden;
}
</style>
