<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Добавление вопросов
                            <b v-if="this.questionTypes[this.activeSection]">
                                {{ this.questionTypes[this.activeSection].description }}
                            </b>
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div class="container-fluid">
                            <div class="row pt-32" v-if="activeSection === 'home'">
                                <div class="col align-items-center row">
                                    <a class="btn mt-2 mb-2 ml-2"
                                       v-for="(type, id) in questionTypes"
                                       :key="id"
                                       @click="goTo(type.class)"
                                    >
                                        {{ type.description }}
                                    </a>
                                </div>
                            </div>

                            <div class="row pt-12" v-if="activeSection !== 'home'">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >
                                            Название вопроса
                                        </label>
                                        <input
                                            v-model="questionTypeRequest.name"
                                            class="form-control"
                                            name="name"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                        />
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                                <span
                                                    v-for="(message, k) in invalid.name"
                                                    :key="k"
                                                >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Сложность вопроса</label>
                                        <select
                                            class="form-control"
                                            v-model="questionTypeRequest.complexity"
                                            :class="('complexity' in invalid) ? 'is-invalid' : ''"
                                        >
                                            <option value="1">Базовый</option>
                                            <option value="2">Повышенный 1</option>
                                            <option value="3">Повышенный 2</option>
                                        </select>
                                        <div
                                            v-if="'complexity' in invalid"
                                            class="invalid-feedback"
                                        >
                                                <span
                                                    v-for="(message, k) in invalid.complexity"
                                                    :key="k"
                                                >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label
                                            class="title gray"
                                        >
                                            Текст вопроса
                                        </label>
                                        <htmlEditor
                                            :content.sync="questionTypeRequest.description"
                                            name="description"
                                            :class="('description' in invalid) ? 'is-invalid' : ''"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <div
                                            v-if="'description' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.description"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                        <label
                                            class="title gray"
                                        >
                                            Прикрепить файлы
                                        </label>
                                        <input
                                            class="form-control"
                                            type="file"
                                            ref="files"
                                            multiple="multiple"
                                            @change="changeFiles"
                                        />
                                        <div class="row no-gutters pt-3">
                                            <div v-for="(file, key) in files" :key="key" class="file">
                                                {{ file.name }}
                                                <!--<i aria-hidden="true" class="fa fa-trash-o pointer"></i>-->
                                            </div>
                                        </div>
                                        <recorder v-model="audio"></recorder>
                                        <customAudio
                                            v-for="(element, key) in audio"
                                            :key="key"
                                            @delete="deleteAudio(key)"
                                            :element="element"
                                        >
                                        </customAudio>
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group mb-10" v-if="activeSection === 'text'">
                                        <label
                                            class="title gray"
                                            for="questionTypeRequest_files_answer"
                                        >
                                            Ответ в виде файлов:
                                        </label>
                                        <input
                                            id="questionTypeRequest_files_answer"
                                            v-model="files_answer"
                                            type="checkbox"
                                            class="custom-checkbox"
                                            required
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-if="activeSection === 'text'">
                                        <label
                                            class="title gray"
                                            for="questionTypeRequest_audio_answer"
                                        >
                                            Ответ в виде аудио:
                                        </label>
                                        <input
                                            id="questionTypeRequest_audio_answer"
                                            v-model="audio_answer"
                                            type="checkbox"
                                            class="custom-checkbox"
                                            required
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-if="activeSection !== 'text'">
                                        <label
                                            class="title gray"
                                            for="questionTypeRequest_count_answer"
                                        >Колличество ответов:</label>
                                        <input
                                            id="questionTypeRequest_count_answer"
                                            v-model="count_answer"
                                            type="number"
                                            class="form-control"
                                            required
                                        />
                                    </div>

                                    <div class="form-group mb-10" v-for="(count, id) in Number(count_answer)" :key="id">
                                        <div class="row" v-if="activeSection === 'one-choose'">
                                            <div class="col-12">
                                                <label
                                                    class="title gray"
                                                >Вариант ответа {{ count }}:</label>
                                                <input
                                                    class="ml-10"
                                                    v-model="correct"
                                                    type="radio"
                                                    :value="id"
                                                    required
                                                    name="radio-correct"
                                                />
                                                <div class="input-group align-items-center">
                                                    <htmlEditor
                                                        :content.sync="answers[id]"
                                                        :name="`answer${id}`"
                                                    />
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row" v-if="activeSection === 'many-choose'">
                                            <div class="col-12">
                                                <label
                                                    class="title gray"
                                                >Вариант ответа {{ count }}:
                                                    <b-form-checkbox
                                                        v-model="correct[id]"
                                                        :value="id"
                                                    >
                                                    </b-form-checkbox>
                                                </label>
                                                <htmlEditor
                                                    :content.sync="answers[id]"
                                                    :name="`answer${id}`"
                                                />
                                            </div>
<!--                                            <div class="col-12">-->
<!--                                                <label-->
<!--                                                    class="title gray"-->
<!--                                                >%</label>-->
<!--                                                <div class="input-group">-->
<!--                                                    <div class="input-group-prepend">-->
<!--                                                        <div class="input-group-text">-->
<!--                                                            <b-form-checkbox-->
<!--                                                                v-model="correct[id]"-->
<!--                                                                :value="id"-->
<!--                                                            >-->
<!--                                                            </b-form-checkbox>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <input-->
<!--                                                        v-model="scores[id]"-->
<!--                                                        type="number"-->
<!--                                                        min="-100"-->
<!--                                                        max="100"-->
<!--                                                        class="form-control"-->
<!--                                                        required-->
<!--                                                    />-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>

                                        <div class="row" v-if="activeSection === 'position' || activeSection === 'sequence'">
                                            <div class="col-12">
                                                <label
                                                    class="title gray"
                                                >Вариант ответа {{ count }}:</label>
                                                <htmlEditor
                                                    :content.sync="answers[id]"
                                                    :name="`answer${id}`"
                                                />
                                            </div>
                                            <div class="col-12">
                                                <label
                                                    class="title gray"
                                                >Позиция:</label>
                                                <input
                                                    v-model="position[id]"
                                                    type="number"
                                                    class="form-control"
                                                    required
                                                    disabled
                                                />
                                            </div>

                                        </div>

                                        <div class="row" v-else-if="activeSection === 'relation'">
                                            <div class="col-5">
                                                <label
                                                    class="title gray"
                                                >Значение {{ count }}:</label>
                                                <input
                                                    v-model="relation.first_val[id]"
                                                    type="text"
                                                    class="form-control"
                                                    required
                                                />
                                            </div>
                                            <div class="col-7">
                                                <label
                                                    class="title gray"
                                                >Ассоциация:</label>
                                                <input
                                                    v-model="relation.second_val[id]"
                                                    type="text"
                                                    class="form-control"
                                                    required
                                                />
                                            </div>

                                        </div>
                                    </div>
                                    <div v-if="scores_correct == false">
                                        <i>Сумма ответов должна быть 100</i>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32 d-flex justify-content-center">
                        <button
                            type="button"
                            class="btn btn-red"
                            @click="backHome()"
                            v-if="activeSection !== 'home'"
                        >
                            Назад
                        </button>
                        <button
                            type="button"
                            class="btn btn-red"
                            @click="submit()"
                            v-if="activeSection !== 'home'"
                        >
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { createQuestion, deleteMedia } from '@base/api/bank-question/question'
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import htmlEditor from '@base/components/base/vueEditor';
import DBInteger from '@base/components/inc/DBField/Integer';
import recorder from '@base/components/base/recorder';
import customAudio from '@base/components/base/customAudio';

export default {
    props: {
        question: {
            type: Object,
            default: () => ({
            })
        },
        bank_id: {
            type: Number,
            default: 0,
        },
    },
    name: 'QuestionPopup',
    mixins: [Proccess],
    components: {
        SuccessError,
        htmlEditor,
        recorder,
        customAudio,
    },
    data() {
        return {
            activeSection: 'home',
            questionTypes: {
                'one-choose': {
                    id: 1,
                    description: 'Один верный ответ',
                    class: 'one-choose',
                },
                'many-choose': {
                    id: 2,
                    description: 'Несколько верных ответов',
                    class: 'many-choose',
                },
                'relation': {
                    id: 3,
                    description: 'Ассоциация',
                    class: 'relation',
                },
                'sequence': {
                    id: 4,
                    description: 'Последовательность',
                    class: 'sequence',
                },
                'text': {
                    id: 5,
                    description: 'Oтвет в произвольной форме',
                    class: 'text',
                },
                'position': {
                    id: 6,
                    description: 'Правильное расположение',
                    class: 'position',
                },
            },
            questionTypeRequest: {
                "question_type_id": 0,
                "bank_question_id": this.bank_id,
                "name": "",
                "passing_score": 0,
                "answer_data": {},
                complexity: 1
            },
            count_answer: 0,
            files_answer: false,
            audio_answer: false,
            answers: [],
            scores: [],
            correct: [],
            position: [],
            relation: {
                first_val: [],
                second_val: [],
            },
            free_answer: '',
            free_answerScore: 0,
            scores_correct: true,
            files: [],
            audio: [],
        }
    },
    watch: {
        scores(){
            let sum = 0;
            for(let i =0; i < this.scores.length; i++){
                sum += parseInt(this.scores[i]);
            }
            (sum == 100) ? (this.scores_correct = true) : (this.scores_correct = false)
        },
        correct(){
            for(let i =0; i < this.count_answer; i++){
                this.scores[i] = 0
            }
            let selected = 0;
            this.correct.forEach((value, key) => {
                if (Number.isInteger(value)){
                    selected++;
                }
            })

            this.correct.forEach((value, key) => {
                if (Number.isInteger(value)){
                    this.scores[key] = Math.round((100 / selected) * 100) / 100;
                }
            })
        },
        'question.id': function (val){
            console.log(this.question);
        },
        count_answer(){
            for(let i = 0; i < this.count_answer; i++){
                this.position[i] = i;
            }
        },
        activeSection() {
            if (this.activeSection !== 'home') {
                this.questionTypeRequest["question_type_id"] = this.questionTypes[this.activeSection].id;
            }
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        goTo(questionType) {
            this.activeSection = questionType;
        },
        deleteAudio(key) {
            this.audio.splice(key, 1);
        },
        submit() {
            let params = {};
            params['files_answer'] = this.files_answer ? 1 : 0
            params['audio_answer'] = this.audio_answer ? 1 : 0

            createQuestion({
                ...this.questionTypeRequest,
                ...{ files: this.files },
                ...{ audio: this.audio },
                ...{ params: params },
                "answer_data": (this.answer_data(this.activeSection)),
                "type": this.activeSection,
            })
            .then(() => {
                this.showSuccessMessage('local', 'save', true,);
                this.clear();
                setTimeout(() => { this.backHome(); }, 3000);
            })
            .catch(error => {
                this.showErrorMessage('local', 'save', true, error);
            });
        },
        clear() {
            this.questionTypeRequest = {
                "question_type_id": 0,
                "bank_question_id": this.bank_id,
                "name": "",
                "passing_score": 0,
                "answer_data": {}
            };
            this.count_answer = 0;
            this.answers = [];
            this.correct = [];
            this.position = [];
            this.audio = [];
            this.free_answer = '';
            this.free_answerScore = 0;
        },
        backHome() {
            this.activeSection = 'home';
            this.clear();
        },
        answer_data(activeSection) {
            let k = {};
            switch (activeSection) {
                case 'position':
                case 'sequence':
                    k['answers'] = this.answers;
                    break;
                case 'many-choose':
                    // k['answers'] = this.answers;
                    // k['correct'] = this.scores;
                    // break;
                case 'one-choose':
                    k['answers'] = this.answers;
                    k['correct'] = this.correct;
                    break;
                case 'relation': {
                    k['answers'] =  this.relation.first_val.reduce((res, el, i) =>
                        [ ...res, [ el, this.relation.second_val[i]]], []
                    );
                    break;
                }
                case 'text': {

                    break;
                }
            }
            return k;
        },
        changeFiles() {
            const noFileLengthItem = ({ length, item, ...rest }) => rest;
            this.files = noFileLengthItem(this.$refs.files.files);
            console.log(this.files[0]);
        },
    }
}
</script>
