<template>
<div>
    <div class="title gray upper fs-18">
        КОНТАКТЫ
        <i
            v-if="moderation"
            class="fa fa-pencil pointer"
            aria-hidden="true"
            @click="showManageContact()"
        />
    </div>
    <div class="item title black pt-3">
        <img
            src="/images/icons/call-phone.svg"
            class="mr-2"
        > {{ contact.phone }}
    </div>
    <div class="item title black pt-10">
        <img
            src="/images/icons/mail.svg"
            class="mr-2"
        > {{ contact.email }}
    </div>
</div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

export default {
    name: "OrgContact",
    components: {

    },
    props: {
        organization_id: {
            type: Number,
            default: 0,
        },
        moderation: {
            type: Boolean,
            default: false,
        },
        contact: {
            type: Object,
            default: () => {},
        }
    },
    data() {
        return {

        }
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        showManageContact() {
            if (typeof this.organization_id === 'number') {
                const modal = this.getStore('modal.org.contact');
                if (!modal.includes(this.organization_id)) {
                    modal.push(this.organization_id);
                }
                this.setStore({ key: 'modal.org.contact', data: modal });
            }
        },
    }
}
</script>
