<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ 'Редактирование контактов ' + organization.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Емейл</label>
                                        <input
                                            v-model="organization.email"
                                            class="form-control"
                                            :class="('email' in invalid) ? 'is-invalid' : ''"
                                            type="email"
                                        >
                                        <div
                                            v-if="'email' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Телефон</label>
                                        <!--
                                        <vue-masked-input
                                            v-model="organization.phone"
                                            class="form-control"
                                            mask="\+1 (111) 111-11-11"
                                            type="tel"
                                        />-->
                                        <input
                                            v-model="organization.phone"
                                            class="form-control"
                                            type="text"
                                        />
                                        <div
                                            v-if="'phone' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.phone"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="saveContact()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import VueMaskedInput from 'vue-masked-input'; // eslint-disable-line vue/no-unused-components
import { defOrganization } from '@base/inc/defaults/app';

export default {
    name: 'PopupContact',
    components: {
        VueMaskedInput, // eslint-disable-line vue/no-unused-components
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
    },
    data() {
        return {
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasManageContact() {
            return this.getStore('modal.org.contact');
        },
    },
    watch: {
        hasManageContact(val) {
            if (typeof this.organization.id === 'number') {
                this.show = val.includes(this.organization.id);
            }
        },
    },
    created() {

    },
    methods: {
        ...mapMutations({
            setStore: 'setStore',
        }),
        saveContact() {
            const formData = new FormData();
            formData.append('_method', 'patch');
            formData.append('action', 'data');
            formData.append('email', this.organization.email);
            formData.append('phone', this.organization.phone);

            this.updateContact(formData);
        },
        updateContact(formData) {
            this.showProcessMessage('save');
            this.$axios.post(`/api/v1/organizations/${this.organization.id}`, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');
                    this.refreshContact();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn) {

            this.spinner[btn] = false;
            this.success = true;
            this.invalid = {};
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        refreshContact() {
            if (typeof this.organization.id === 'number') {
                const update = this.getStore('update.org.about');
                if (!update.includes(this.organization.id)) {
                    update.push(this.organization.id);
                }
                this.setStore({ key: 'update.org.about', data: update });
            }
        },
        modalHide() {
            if (typeof this.organization.id === 'number') {
                if (this.hasManageContact.includes(this.organization.id)) {
                    this.hasManageContact.pop(this.organization.id);
                }
                this.setStore({ key: 'modal.org.contact', data: this.hasManageContact });
            }

            this.clearModal();
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>
