<template>
    <div class="container py-3">
        <table class="table">
            <tr>
                <td>Название</td>
                <td>Тип</td>
                <td>Содержимое</td>
                <td></td>
            </tr>
            <tr
                v-for="row in settings"
            >
                <td>{{row.description}}</td>
                <td>{{row.type}}</td>
                <td v-html="row.value"></td>
                <td>
                    <i
                        class="fa fa-edit pointer"
                        @click="openEdit(row)"
                    />
                </td>
            </tr>
        </table>
        <edit-settings-popup
            v-if="showEditSettingsPopup"
            @closePopup="closeEdit"
            :row="row"
        />
    </div>
</template>

<script>
    import EditSettingsPopup from './manage/EditSettingsPopup';
    export default {
        name: 'AdminSettingsIndex',
        components: { EditSettingsPopup },
        data() {
            return {
                settings: [],
                showEditSettingsPopup: false,
                row: {}
            }
        },
        created() {
            this.getSettingsList();
        },
        methods: {
            getSettingsList(){
                axios.get('/api/v1/admin/settings')
                    .then((response) => {
                        this.settings = response.data.data.settings
                    });
            },
            openEdit(row){
                this.row = row
                this.showEditSettingsPopup = true
            },
            closeEdit(){
                this.showEditSettingsPopup = false
            }
        }
    };
</script>
