<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Создать уровень
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="level">Уровень</label>
                                    <input
                                        :class="('level' in errors) ? 'is-invalid' : ''"
                                        type="number" min="1"
                                        class="form-control"
                                        id="level" v-model="indicatorLevel.level"
                                    >
                                    <valid-sign
                                        :name="'level'"
                                        :invalid="errors"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="min">min</label>
                                    <input
                                        :class="('min' in errors) ? 'is-invalid' : ''"
                                        type="number" class="form-control" id="min" v-model="indicatorLevel.min">
                                    <valid-sign
                                        :name="'min'"
                                        :invalid="errors"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="max">max</label>
                                    <input
                                        :class="('max' in errors) ? 'is-invalid' : ''"
                                        type="number" class="form-control" max="100" id="max" v-model="indicatorLevel.max">
                                    <valid-sign
                                        :name="'max'"
                                        :invalid="errors"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Описание</label>
                                    <textarea
                                        :class="('name' in errors) ? 'is-invalid' : ''"
                                        class="form-control"
                                        id="name"
                                        v-model="indicatorLevel.name"
                                    />
                                    <valid-sign
                                        :name="'name'"
                                        :invalid="errors"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <button
                                        class="btn"
                                        @click="updateIndicator()"
                                    >
                                        Добавить
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12" v-if="errors">
                                <SuccessError :show="{success, not_success}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { updateIndicator } from '@base/api/indicators.js';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import validSign from '@base/components/base/validSign';

    export default {
        name: 'AdminIndicatorCreateLevel',
        components: {
            validSign,
            SuccessError,
        },
        props: {
            show: false,
            indicator: {},
        },
        mixins: [mixSuccess],
        data(){
            return {
                errors: {},
                indicatorLevel: {
                    name: null,
                    indicator_id: null,
                    level: null,
                    min: null,
                    max: null
                }
            }
        },
        methods: {
            updateIndicator(){
                this.indicatorLevel.action = 'create-level';
                this.indicatorLevel._method = 'PATCH';
                updateIndicator(this.indicator.id, this.indicatorLevel).then((data) => {
                    this.mixShow('success');
                    this.errors = {}
                    setTimeout(() => {this.closePopup()}, 1500);
                }).catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
            },
            closePopup() {
                this.$emit('closePopup');
            },
            createIndicatorLevel(){

            }
        }
    };
</script>
