<template>
    <popup :caption="'Создать индикатор'" @closePopup="closePopup({ reload: false })">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-12">
                    <FormulaConstructor :visibleKeyCalculate="['function', 'number', 'operator', 'indicator']" v-model="indicator.formula">
                        <template #head>
                            <div class="col-lg-12 m-auto">
                                <div class="form-group">
                                    <label for="name">Название</label>
                                    <input type="text" class="form-control" id="name" v-model="indicator.name" :class="('name' in errors) ? 'is-invalid' : ''">
                                    <valid-sign
                                        :name="'name'"
                                        :invalid="errors"
                                    />
                                </div>
                            </div>
                        </template>
                    </FormulaConstructor>
                </div>
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="createIndicator()">
                Добавить
            </button>
        </template>
    </popup>
</template>

<script>
    import { createIndicator, updateIndicator } from '@base/api/indicators.js';
    import Popup from '@base/components/base/Popup';
    import FormulaConstructor from "@base/components/formula-constructor/FormulaConstructor";
    import validSign from '@base/components/base/validSign';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';

    export default {
        name: 'AdminIndicatorCreate',
        components: {
            Popup,
            FormulaConstructor,
            validSign,
            SuccessError,
        },
        mixins: [mixSuccess],
        props: {
            value: {
                type: Object,
                default: () => ({
                    name: null,
                    formula: null,
                    structure: [],
                })
            }
        },
        data(){
            return {
                indicator: {
                    id: this.value.id,
                    name: this.value.name,
                    formula: { formula: this.value.formula, structure: this.value.structure },
                },
                errors: {},
            }
        },
    methods: {
            closePopup(data){
                this.$emit('closePopup', data);
            },
            async createIndicator(){
                try {
                    const request = async (indicator) => {
                        if (indicator.id) {
                            return await updateIndicator(indicator.id, { ...indicator, ...indicator.formula })
                        } else {
                            return await createIndicator({ ...indicator, ...indicator.formula })
                        }
                    }
                    const { data: { data: { indicator } } } = await request(this.indicator);
                    this.$emit('input', { ...indicator, structure: JSON.parse(indicator.structure) } );
                    this.closePopup({ reload: true});
                } catch (e) {
                    this.errors = e.response.data.errors;
                    this.mixShow('error');
                }
            }
        }
    };
</script>
