<template>
    <div>
        <div
            v-if="Object.keys(viro).length && $route.params.type !== 'viro'"
            class="container pt-5"
        >
            <div class="row">
                <div class="col-lg-6">
                    <h3>Региональные учреждения</h3>
                </div>
            </div>
            <div class="row">
                <div
                    v-for="v in viro"
                    class="col-md-6 col-lg-6 col-xl-4 pb-2"
                >
                    <router-link
                        :to="{ name: 'org.viro.about', params: { id: v.id }}"
                        class="default-link"
                    >
                        <div class="box">
                            <div
                                class="row"
                            >
                                <div
                                    class="col-sm-4 col-lg-3 col-xl-4"
                                >
                                    <div
                                        class="avatar avatar96"
                                        :style="(v.logo)
                                            ? 'background-image: url(' + v.logo + ')'
                                            : 'background-image: url(\'/images/icons/edu_org.svg\')'"
                                    />
                                </div>
                                <div class="col-sm-8 col-lg-9 col-xl-8 p-2 fs-16 align-self-center">
                                    {{ v.name }}
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>

        <div
            class="container py-3"
        >
            <div
                class="row pb-2"
            >
                <div class="col-lg-6">
                    <h3>Образовательные учреждения</h3>
                </div>
                <div class="ml-auto col-lg-2">
                    <div class="input-group mb-2">
                        <input
                            type="text"
                            class="form-control"
                            v-model="search"
                            placeholder="Поиск..."
                        />
                        <div class="input-group-append">
                            <a
                                class="input-group-text pointer"
                                @click="getEduOrganizations"
                            >
                                <i class="fa fa-search"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <select
                        class="form-control mb-2"
                        v-model="district_select"
                    >
                        <option :value='null'>Выбрать район</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div
                    v-for="(organization, k) in organizations.data"
                    :key="k"
                    class="col-md-6 col-lg-6 col-xl-4 pb-2"
                >
                    <router-link
                        :to="{ name: link, params: { id: organization.id }}"
                        class="default-link"
                    >
                        <div class="box">
                            <div
                                class="row pb-4"
                            >
                                <div
                                    class="col-sm-4 col-lg-3 col-xl-4"
                                >
                                    <div
                                        class="avatar avatar96"
                                        :style="(organization.logo)
                                            ? 'background-image: url(' + organization.logo + ')'
                                            : 'background-image: url(\'/images/icons/edu_org.svg\')'"
                                    />
                                </div>
                                <div class="col-sm-8 col-lg-9 col-xl-8 p-2 fs-16 align-self-center">
                                    {{ organization.name }}
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
            <div class="row py-2">
                <b-pagination
                    v-model="organizations.page"
                    :total-rows="organizations.total"
                    :per-page="organizations.per_page"
                    class="m-auto"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
    name: 'OrgList',
    components: {

    },
    filters: {

    },
    props: [],
    data() {
        return {
            search: '',
            viro: {},
            organizations: {
                per_page: 12,
                total: 0,
                page: 1,
                data: [

                ]
            },
            districts: {
                data: []
            },
            district_select: null,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        link() {
            return 'org.' + this.$route.params.type + '.about';
        },
    },
    watch: {
        'organizations.page': function (){
            this.getEduOrganizations();
        },
        'district_select': function (){
            this.getEduOrganizations();
        }
    },
    created() {},
    mounted() {
        this.getDistricts();
        this.getEduOrganizations();
        this.getViroOrganization();
    },
    methods: {
        getViroOrganization() {
            this.$axios.get('/api/v1/organizations?type=VIRO&qty=999&page=1&show=1')
                .then((response) => {
                    this.viro = response.data.data.organizations.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
        getEduOrganizations() {

            const formData = {
                qty: this.organizations.per_page,
                page: this.organizations.page,
                district: this.district_select,
                show: 1,
                search: this.search,
                type: this.$route.params.type,
            };
            this.$axios.get(`/api/v1/organizations`, {params: formData})
                .then((response) => {
                    this.organizations.data = response.data.data.organizations.data;
                    this.organizations.total = response.data.data.organizations.total;
                    this.organizations.per_page = response.data.data.organizations.per_page;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
    },
};

</script>
