<template>
    <div v-if="msg.audio">
        <audio
            :key="'audio_'+msg.id"
            controls>
            <source :src="msg.audio.url" type="audio/wav">
        </audio>
    </div>
</template>

<script>

export default {
    props: {
        msg: {
            type: Object,
            default: {},
        }
    }
}
</script>
