<template>
    <div class="type_msg">
        <div
            v-if="currentChatId != null"
            class="input_msg_write"
        >
            <div class="row no-gutters align-items-center">
                <div
                    class="col-2 col-lg-1 d-flex"
                    v-if="!audioLoading"
                >
                    <div
                        v-if="!images.length && !files.length"
                        class="m-auto"
                        @mouseover="chatPopupMenuHover = true"
                        @mouseleave="chatPopupMenuHover = false"
                    >
                        <a
                            class="pointer d-md-block"
                        >
                            <img src="/images/24/basic/paperclip.svg">
                        </a>
                        <div
                            class="chat_popup_menu"
                            :class="chatPopupMenuHover ? 'show' : ''"
                        >
                            <div class="chat_popup_menu_items">
                                <a
                                    id="add-files"
                                    class="cpm_item"
                                    @click="addFiles()"
                                >Файлы</a>
                                <a
                                    id="add-photos"
                                    class="cpm_item"
                                    @click="addImages()"
                                >Фото</a>
                            </div>
                        </div>
                    </div>
                    <div
                        v-else-if="(images.length < 10) && (files.length < 10)"
                        class="m-auto"
                    >
                        <a
                            class="pointer"
                            @click="addContent()"
                        >
                            <img src="/images/24/basic/paperclip.svg">
                        </a>
                    </div>
                    <input
                        id="fileupload"
                        ref="document"
                        multiple
                        type="file"
                        class="btn btn-block"
                        style="display: none"
                        @change="handleFileUpload()"
                    >
                    <input
                        id="imageupload"
                        ref="photo"
                        multiple
                        type="file"
                        accept=".png, .jpeg, .jpg"
                        class="btn btn-block"
                        style="display: none"
                        @change="handlePhotoUpload()"
                    >
                </div>

                <div
                    class="col-2 col-lg-1 d-flex"
                    v-if="audioLoading"
                >
                    <div  class="m-auto">
                        {{audioTime}}
                    </div>
                </div>

                <div class="col-lg-7 col-8">
                    <textarea
                        v-if="!audioLoading"
                        v-model="message"
                        class="border-0 w-100 messageInput withoutOutline"
                        placeholder="Напишите сообщение"
                        contenteditable="true"
                        @keyup="typing"
                    ></textarea>
                    <div
                        class="pt-2 pl-2"
                        v-if="audioLoading && audios.blobUrl"
                    >
                        <audio controls class="w-100">
                            <source :src="audios.blobUrl">
                        </audio>
                    </div>
                </div>


                <div class="col-2 col-lg-1">
<!--                    <div-->
<!--                        v-if="!audios.blobUrl"-->
<!--                        @click="startAudioRecord() && timer()"-->
<!--                    >-->
<!--                        <recorder-->
<!--                            @sendSamples="getSamples"-->
<!--                            @onNewRecording="onNewRecording"-->
<!--                        />-->
<!--                    </div>-->
<!--                    <div-->
<!--                        v-else-->
<!--                        @click="deleteCurrentAudio()"-->
<!--                    >-->
<!--                        <iconBase-->
<!--                            :iconName="'deleteIcon'"-->
<!--                            :height="24"-->
<!--                            :width="26"-->
<!--                            :viewBox="'0 0 24 26'"-->
<!--                            :iconColor="'#666FCC'"-->
<!--                        />-->
<!--                    </div>-->
                </div>

                <div class="col-12 col-lg-2 py-2 px-4 px-lg-0">
                    <button
                        type="button"
                        class="btn btn-block btn-send"
                        @click="chooseMessageType()"
                        @keyup.enter="chooseMessageType()"

                    >
                        {{redacted ? "Сохранить" : "Отправить"}}
                    </button>
                </div>

                <div
                    v-if="replymessage"
                >
                    <div
                        class="pr-2"
                        v-if="selected_messagesId.length"
                    >
                        {{ "Прикрепить " + selected_messagesId.length + " " + currentMessagesCount }}
                    </div>
                </div>
                <div
                    v-if="files.length"
                    class="row no-gutters p-3"
                >
                    <div
                        v-for="(file,k) in files"
                        :key="k"
                        class="col-lg-12 d-flex align-items-center mb-2"
                    >
                        <div>
                            <img
                                width="40px"
                                src="/images/24/file/chat-file.svg"
                            >
                        </div>
                        <div class="pl-10">
                            <div>{{ file.name }}</div>
                            <div>{{ file.size | filesize }}</div>
                        </div>
                        <div class="ml-auto">
                            <a
                                class="pointer"
                                @click="deleteFileFromUpload(k)"
                            > <img src="/images/24/basic/delete.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    v-if="images.length"
                    class="row col-12 no-gutters p-3"
                >
                    <div
                        v-for="(image,k) in imageData"
                        :key="k"
                        class="col-lg-12 d-flex align-items-center mb-10"
                    >

                        <div class="pl-10 d-flex align-items-center">
                            <div>
                                <img
                                    width="100px"
                                    :src="image"
                                >
                            </div>
                            <div class="pl-10">
                                <div>{{ images[k].name }}</div>
                                <div>{{ images[k].size | filesize }}</div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a
                                class="pointer"
                                @click="deleteImageFromUpload(k)"
                            > <img src="/images/24/basic/delete.svg"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-if="user_typing"
                class="typing no-gutters row"
            >
                <div class="col-lg-12">
                    <span>
                       {{ user_typing_info }} пишет...
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import recorder from '../chat_components/encoders/recorder'
import iconBase from '../chat_components/iconBase'
import Integer from "../../inc/DBField/Integer";

export default {
    components: {
        recorder,
        iconBase,
    },
    data() {
        return {
            message: "",
            chatPopupMenuHover: false,
            files: [],
            images: [],
            audios: {},
            imageData: [],
            audioLoading: false,
            sec: 0,
            audioTime: "0:00",
            audioStart: null,
        }
    },
    created() {
        console.log('created');
        // Echo.join('chat.'+this.currentChatId)
        //     .listenForWhisper('typing', (e) => {
        //         console.log(e);
        //     });
    },
    computed: {
        user_typing_info() {
            let user = this.users.filter(el => el.id == this.user_typing.id)[0];
            return user ? user.firstname + ' ' + user.lastname : '';
        }
    },
    watch: {
        redacted() {
            this.message = this.messageText
        },
    },
    props: {
        user_typing: null,
        auth: {
            type: Object,
            default: {

            }
        },
        messageText: {
            type: String,
            default: ""
        },
        currentChatId: {
            type: Number,
            default: null,
        },
        replymessage: {
            type: Boolean,
            default: false,
        },
        selected_messagesId: {
            type: Array,
            default: []
        },
        users: {
            type: Array,
            default: [],
        },
        chatMessages: {
            type: Array,
            default: [],
        },
        currentMessagesCount: {
            type: String,
            default: "",
        },
        redacted: {
            type: Boolean,
            default: false,
        },
        currentMessageId: {
            type: Number,
            default: null,
        }
    },
    methods: {
        typing(){
            Echo.join('chats.'+this.currentChatId)
                .whisper('typing', {
                    id: this.auth.id
                });
        },
        chooseMessageType()
        {
            switch (true) {
                case this.redacted:
                    this.saveChanges();
                    break;
                case this.replymessage:
                    this.sendRepliedMessage();
                    break;
                case !!this.images.length:
                    this.sendImageMessage();
                    break;
                case !!this.files.length:
                    this.sendFileMessage();
                    break;
                case !!this.audios.blobUrl:
                    this.sendAudioMessage();
                    break;
                default:
                    this.sendTextMessage();
                    break;
            }
        },
        sendTextMessage() {
            const data = new FormData()
            data.append("type", 'TEXT')
            data.append("text", this.message)
            if (this.message) {
                this.sendMessage(data)
            }
        },
        sendImageMessage() {
            const data = new FormData()
            data.append("type", 'IMAGES')
            data.append("text", (this.message || ""))
            this.images.forEach(element => data.append("message[images][]", element))
            this.images = []
            this.imageData = []
            this.$refs.photo.value = null
            this.sendMessage(data)
        },
        sendFileMessage() {
            const data = new FormData()
            data.append("type", 'FILES')
            data.append("text", (this.message || ""))
            this.files.forEach(element => {data.append("message[files][]", element)
                // console.log(element)
            })
            this.files = []
            this.sendMessage(data)
        },
        sendAudioMessage() {
            const data = new FormData()
            data.append("type", 'AUDIO')
            data.append("text", "")
            data.append("message[audio][]", this.audios.blob, Date.now() + '.wav')
            this.audios = {}
            this.audioLoading = false
            this.sendMessage(data)
        },
        sendRepliedMessage() {
            const data = new FormData()
            data.append("type", 'REPLY')
            data.append("text", (this.message || ""))
            for (let i = 0; i < this.selected_messagesId.length; i++) {
                data.append("reply[]", this.selected_messagesId[i])
            }
            this.$emit('cancelReply')
            this.sendMessage(data)
        },
        saveChanges() {
            let mess = {
                _method: "patch",
                action: "data",
                text: this.message
            }
            this.$axios.post('/api/v2/chat/' + this.currentChatId  + '/message/' + this.currentMessageId, mess)
                .then(

                )
                .catch(console.error)

            this.chatMessages.find(item => item.id == this.currentMessageId).text = this.message
            this.message = ""
            this.$emit('setEndRedacted')
        },
        sendMessage (data) {
            this.$axios.post('/api/v2/chat/' + this.currentChatId + '/message', data)
                .then((response) => {
                    this.chatMessages.unshift(response.data)
                    this.$emit('unselectMessages')
                    this.message = ''
                }).catch((error) => {
                    console.log(error)
                })
        },
        previewImage (event) {
            this.imageData = [];
            if (this.images) {
                this.images.forEach(element => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        this.imageData.push(e.target.result);
                    }
                    reader.readAsDataURL(element)
                })
            }
        },
        deleteFileFromUpload (k) {
            this.files.splice(k, 1)
        },
        deleteImageFromUpload (k) {
            this.images.splice(k, 1)
            this.previewImage()
        },
        onNewRecording(recordings) {
            this.audios = recordings
        },
        handleFileUpload () {
            for (let i = 0; i < this.$refs.document.files.length; i++) {
                if ((this.$refs.document.files[i].size / 1024 / 1024) < 2) {
                    this.files.push(this.$refs.document.files[i])
                }
            }
            this.$refs.document.value = ''
        },
        handlePhotoUpload () {
            for (let i = 0; i < this.$refs.photo.files.length; i++) {
                if ((this.$refs.photo.files[i].size / 1024 / 1024) < 2) {
                    this.images.push(this.$refs.photo.files[i])
                }
            }
            this.$refs.photo.value = ''
            this.previewImage();
        },
        addFiles () {
            this.chatPopupMenuHover = false
            this.$refs.document.click()
        },
        addImages () {
            this.chatPopupMenuHover = false
            this.$refs.photo.click()
        },
        addContent () {
            if(this.images.length) {
                this.addImages()
            }
            else {
                this.addFiles()
            }
        },
        deleteCurrentAudio () {
            this.audios = {}
            this.audioLoading = false
        },
        startAudioRecord() {
            this.audioStart = new Date()
            this.audioLoading = true
        },
        getSamples(time) {
            let ms = time - this.audioStart
            ms = Math.floor(ms/1000)
            this.audioTime = Math.floor(ms/60) + ":" + (ms%60 < 10 ? "0" + ms%60 : ms%60)
        }
    }
}
</script>
<style>
 .btn-send {
     background: #666FCC;
     box-shadow: 0px 0px 4px rgba(0, 30, 89, 0.24);
     color: white;
 }
 .typing {
     position: absolute;
     padding: 4px 10px;
     top: -30px;
     background: white;
     width: 90%;
 }
 .typing span {
     padding-left: 30px;
 }
 .type_msg {
     position: relative;
 }
</style>
