<template>
    <div>
        <div
            v-if="selected_messagesId.length"
        >
            <chatHeaderSelectedMessages
                :selectedMessagesLength="selected_messagesId.length"
                :currentMessagesCount="currentMessagesCount"
                :replymessage="replymessage"
                @unselectMessages="unselectMessages"
                @reply="reply"
                @cancelReply="cancelReply"
                @favMessages="favMessages"
                @openSelectChatModal="openSelectChatModal"
                @delete_selected_messages="delete_selected_messages"
            />
        </div>
        <div
            v-else
        >
            <chatHeaderMain
                :currentChat="currentChat"
                :users_online="users_online"
                @openChatInfo="openChatInfo"
                @searchingMessage="searchingMessage"
                @openSelectChatModal="openSelectChatModal"
            />
        </div>
    </div>
</template>

<script>
import chatHeaderMain from '../chat_components/chatHeaderMain'
import chatHeaderSelectedMessages from '../chat_components/chatHeaderSelectedMessages'

export default {
    components: {
        chatHeaderMain,
        chatHeaderSelectedMessages
    },
    props: {
        selected_messagesId: {
            type: Array,
            default: [],
        },
        replymessage: {
            type: Boolean,
            default: false,
        },
        currentChat: {
            type: Object,
            default: {}
        },
        users_online: {
            type: Array,
            default: {}
        },
        currentMessagesCount: {
            type: String,
            default: ""
        }
    },
    methods: {
        openChatInfo() {
            this.$emit('openChatInfo')
        },
        searchingMessage(message) {
            this.$emit('searchingMessage', message)
        },
        unselectMessages() {
            this.$emit('unselectMessages')
        },
        reply() {
            this.$emit('reply')
        },
        cancelReply() {
            this.$emit('cancelReply')
        },
        favMessages() {
            this.$emit('favMessages')
        },
        openSelectChatModal() {
            this.$emit('openSelectChatModal')
        },
        delete_selected_messages() {
            this.$emit('delete_selected_messages')
        }
    }
}
</script>
