<template>
    <div
        class="row no-gutters border-left border-bottom height52 mx-0"
    >
        <div
            class="col-md-7 col-3 pl-5 selectedMessagesCount"
        >
            <div class="row no-gutters">
                <div class="mr-1 paddingTop14">
                    {{selectedMessagesLength}}
                </div>
                <div class="paddingTop14 d-md-inline d-none">
                    {{currentMessagesCount}}
                </div>
                <div class="ml-1 paddingTop10">
                    <a
                        class="pointer"
                        @click="unselectMessages"
                    >
                        <iconBase
                            :iconName="'deleteIcon'"
                        />
                    </a>
                </div>
            </div>
        </div>
        <div
            class="col-md-2 col-3 replyMessageButton px-md-0"
            @click="replyOrCancel()"
        >
            <a
            class="pointer">
                {{replyButtonText}}
            </a>
        </div>
        <div class="col-md-1 col-2 paddingTop14 px-md-0">
            <a
                @click="favMessages()"
                class="pointer"
            >
                <iconBase
                    :iconName="'bigStar'"
                />
            </a>
        </div>
        <div class="col-md-1 col-2 paddingTop14 px-md-0">
            <a
                @click="openSelectChatModal()"
                class="pointer"
            >
                <iconBase
                    :iconName="'replyIcon'"
                />
            </a>
        </div>
        <div class="col-md-1 col-2 paddingTop14 px-md-0">
            <a
                @click="delete_selected_messages()"
                class="pointer"
            >
                <iconBase
                    :iconName="'deleteMessageIcon'"
                />
            </a>
        </div>
    </div>
</template>

<script>
import iconBase from '../chat_components/iconBase'

export default {
    components: {
        iconBase,
    },
    computed: {
        replyButtonText: function() {
            if (this.replymessage) {
                return "Отменить"
            }
            return "Ответить"
        }
    },
    methods: {
        replyOrCancel() {
            if (this.replymessage) {
                this.cancelReply()
            }
            else {
                this.reply()
            }
        },
        unselectMessages() {
            this.$emit('unselectMessages')
        },
        reply() {
            this.$emit('reply')
        },
        cancelReply() {
            this.$emit('cancelReply')
        },
        favMessages() {
            this.$emit('favMessages')
        },
        openSelectChatModal() {
            this.$emit('openSelectChatModal')
        },
        delete_selected_messages() {
            this.$emit('delete_selected_messages')
        },
    },
    props: {
        replymessage: {
            type: Boolean,
            default: false,
        },
        selectedMessagesLength: {
            type: Number,
            default: null,
        },
        currentMessagesCount: {
            type: String,
            default: ""
        }
    }
}
</script>
