<template>
        <div class="inbox_chat w-100">
            <div
                style="display: none"
            >
<!--                чтобы юзеры выделялись-->
                {{ getOnline.count }}
            </div>
            <div
                v-for="(chat, k) in userChats.data"
                :key="k"
            >
                <div class="chat_select">
                    <router-link
                        :to="{ name: 'me.chat', params: {currentChatId: chat.id}}"
                    >
                        <div
                            class="chat_box row no-gutters py-2 pointer"
                            :class="currentChatId === chat.id ? 'active' : ''"
                            @click="$emit('replyMsg')"
                        >
                            <div
                                class="col-lg-2 col-2 d-flex justify-content-center"
                            >
                                <div
                                    v-if="chat.users[0]"
                                >
                                    <div
                                        v-if="chat.type == 'group'"

                                        class="avatar avatar40"
                                        :class="getOnline.users[chat.users[0].id] ? 'online' : 'offline'"
                                        style='background-image: url("/images/chat_group.svg")'
                                    />
                                    <img
                                        v-else-if="chat.users && chat.users[0] && chat.users[0].avatar"
                                        class="avatar avatar40"
                                        :src="chat.users[0].avatar.small"
                                        :class="getOnline.users[chat.users[0].id] ? 'online' : 'offline'"
                                    />
                                    <div
                                        v-else
                                        class="avatar avatar40"
                                        :class="getOnline.users[chat.users[0].id] ? 'online' : 'offline'"
                                    />
                                </div>
                                <div v-else>
                                    <div
                                        class="avatar avatar40"
                                    />
                                </div>
                            </div>
                            <div
                                class="chat_ib col-lg-10 col-8"
                            >
                                <div
                                    v-if="chat.type == 'group'"
                                >
                                    <div>{{ chat.name }}</div>
                                    <div v-if="chat.program && chat.program.name">
                                        {{ chat.program.name }}
                                    </div>
                                </div>
                                <div v-else>
                                    <h5 v-if="chat.iom_id">
                                        {{ chat.name }}
                                    </h5>
                                    <h5
                                        v-else-if="chat.users[0]"
                                    >
                                        {{ chat.users[0].lastname + ' ' + chat.users[0].firstname }}
                                    </h5>
                                    <h5 v-else-if="chat.name">
                                        {{ chat.name }}
                                    </h5>
                                    <h5 v-else>
                                        <i>Не задано</i>
                                    </h5>
                                    <div v-if="chat.program && chat.program.name">
                                        {{ chat.program.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    props: {
        userChats: {
            type: Object,
            default: () => ({})
        },
        currentChatId: {
            type: Number,
            default: null
        }
    },
    computed: {
        ...mapGetters([
            'getOnline'
        ]),
    },
    watch: {
        getOnline(){
            console.log('reload');
        }
    }
}
</script>
<style>
    .chat_select a {
        text-decoration: none;
    }
    .chat_select a:hover {
        text-decoration: none;
    }
</style>
