<template>
    <div
        class="row border-bottom height52 paddingTop14 mx-0 pb-sm-0 pb-5"
    >
        <div class="col-1 col-md-1 col-lg-4 text-left">
            <div class="row d-sm-flex">
                <div
                    class="col-2 d-inline d-lg-none"
                >
                    <router-link :to="{ name: 'me.chat' }">
                        <i class="fa fa-arrow-left "/>
                    </router-link>
                </div>
                <div class="col-2 d-none d-lg-inline">
                    <iconBase
                        :iconName="'searchIcon'"
                    />
                </div>
                <div class="col-8 d-none d-lg-inline pl-sm-0 pl-4">
                    <input
                        v-model="searchingMessage"
                        class="searchInput"
                        placeholder="Поиск в чате"
                    >
                </div>
            </div>
        </div>
        <div
            class="col-9 col-md-10 col-lg-4 text-center chatName"
        >
            <div
                v-if="currentChat.type == 'group'"
            >
                <div>{{ currentChat.name }}</div>
            </div>
            <div v-else>
                <div
                    class="d-flex align-items-center"
                    v-if="currentChat.users && currentChat.users[0]"
                >
                    <h5>{{ currentChat.users[0].lastname + ' ' + currentChat.users[0].firstname }}</h5>
                    <h5
                        v-if="false"
                        class="user_status"
                        :class="(users_online.filter(el => el == currentChat.users[0].id).length > 0) ? 'online' : 'offline'"
                    >
                    </h5>
                </div>
                <h5 v-else-if="currentChat.name">
                    {{ currentChat.name }}
                </h5>
                <h5 v-else>
                    <i>Не задано</i>
                </h5>
            </div>
        </div>
        <div
            class="ml-auto col-1 col-md-1 pr-20"
        >
            <img
                @click="openChatInfo"
                class="pointer"
                width="20px"
                src="/images/24/basic/info.svg"
            >
        </div>
    </div>
</template>

<script>
import iconBase from '../chat_components/iconBase'

export default {
    data () {
        return{
            searchingMessage: ''
        }
    },
    components: {
        iconBase,
    },
    props: {
        currentChat: {
            type: Object,
            default: {}
        },
        users_online: {
            type: Array,
            default: {}
        }
    },
    watch: {
        searchingMessage () {
            this.$emit('searchingMessage', this.searchingMessage)
        }
    },
    methods: {
        openChatInfo() {
            this.$emit('openChatInfo')
        },
        openSelectChatModal() {
            this.$emit('openSelectChatModal')
        }
    },
}
</script>

<style>
.user_status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.user_status.online {
    background-color: #38c172;
}
.user_status.offline {
    background-color: red;
}
</style>
