<template>
    <div
        class="row no-gutters border-bottom"
        style="height: 52px; padding-top: 14px"
    >
        <div class="col-8">
            <div class="row pl-4">
                <div
                    @click="findChat"
                    class="col-2 d-none d-lg-inline"
                >
                    <iconBase
                        :iconName="'searchIcon'"
                    />
                </div>
                <div class="col-10">
                    <input
                        v-model="chat_find"
                        class="searchInput"
                        placeholder="Поиск"
                        v-on:keyup.enter="findChat"
                    >
                </div>
            </div>
        </div>
        <div
            class="col-4 text-right pr-4"
            v-if="false"
        >
            <a
                @click="openCreateChatModal()"
                class="pointer"
            >
                <iconBase
                    :iconName="'plusIcon'"
                />
            </a>
        </div>
    </div>
</template>

<script>
import iconBase from '../chat_components/iconBase'

export default {
    components: {
        iconBase,
    },
    data(){
        return {
            chat_find: ''
        }
    },
    watch: {
        chat_find() {
            if (this.chat_find == ''){
                this.findChat();
            }
        }
    },
    methods: {
        openCreateChatModal () {
            this.$emit('openCreateChatModal')
        },
        findChat () {
            this.$emit('findChat', {
                chat_find: this.chat_find
            })
        }
    }
}
</script>

