<template>
    <div class="row">
        <div
            class="col-lg-12"
            v-for="organization in organizations"
            :key="organization.id"
        >
            <div class="mb-3 " style="border-radius: 0">
                <button
                    class=" w-100"
                    type="button"
                    data-toggle="collapse"
                    :data-target = "'#collapse'+organization.id"
                    aria-expanded="false"
                    style="background: #F8F9FE;
                           height: 40px;
                           border: 2px solid #D8DFED;
                           box-sizing: border-box;
                           border-radius: 2px;
                           outline: none"
                >
                    {{organization.name}}
                </button>
                <div
                    class="collapse "
                    :id = "'collapse'+organization.id"
                >
                     <div class="card card-body " style="border: 2px solid #D8DFED;
                                                        box-sizing: border-box;
                                                        border-radius: 2px;
                                                        border-top: 0">

                        <div class="row">
                            <div
                                    v-for="user in organization.users"
                                    :key="user.id"
                                    :value="user.id"
                                    :title="user.firstname || null"
                                    class="col-6"
                            >
                                <div class="d-flex align-items-center">
                                    <input
                                        type="checkbox"
                                        :value = user.id
                                        v-model="selected_user.list"
                                        class="mr-10"
                                    >
                                    <div
                                        class="rounded-circle small mr-10"
                                        :style="user.avatar ? `background-image: url(${user.avatar.medium})` : ''"

                                    />
                                    {{ user.firstname }} {{ user.lastname }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        organizations: {
            type: Array,
            default: () => ({})
            },
        selected_user: {
            type: Object,
            default: () => ({}),
        }
    }
}
</script>
