<template>
    <div>
        <div
            v-for="document in msg.files"
                :key="document.id"
                class="d-flex align-items-center"
        >
            <div>
                <img
                    width="40px"
                    src="/images/24/file/chat-file.svg"
                >
            </div>
            <div class="pl-10">
                <div>
                    <a
                        :href="document.url"
                        target="_blank"
                    >{{ document.name }}</a>
                </div>
                <div>{{ document.size | filesize }}</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        msg : {
            type: Object,
            default: () => ({})
        }
    }
}
</script>