<template>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        :width="width"
        :height="height"
        :viewBox="viewBox" 
        :aria-labelledby="iconName"
        :fill="iconColor"
        role="presentation"
        class="pointer"
    >
        <component :is="currentIcon" />
  </svg>
</template>

<script>
import deleteIcon from '../chat_components/icons/deleteIcon'
import bigStar from '../chat_components/icons/bigStar'
import replyIcon from '../chat_components/icons/replyIcon'
import deleteMessageIcon from '../chat_components/icons/deleteMessageIcon'
import searchIcon from '../chat_components/icons/searchIcon'
import plusIcon from '../chat_components/icons/plusIcon'
import pencilIcon from '../chat_components/icons/pencilIcon'
import smallStar from '../chat_components/icons/smallStar'
import microfon from '../chat_components/icons/microfon'

export default {
    computed: {
        currentIcon: function() {
            return this.iconName
        }
    },
    components: {
        deleteIcon,
        bigStar,
        replyIcon,
        deleteMessageIcon,
        searchIcon,
        plusIcon,
        pencilIcon,
        smallStar,
        microfon,
    },
    props: {
        iconName: {
            type: String,
            default: 'box'
        },
        width: {
            type: [Number, String],
            default: 24
        },
        height: {
            type: [Number, String],
            default: 24
        },
        iconColor: {
            type: String,
            default: 'currentColor'
        },
        viewBox: {
            type: String,
            default: "0 0 24 24"
        }
  }
}
</script>