<template>
    <div class="row">
        <div
            v-for="image in msg.images"
            :key="image.id"
            class="d-flex align-items-center col-12 col-sm-6 col-md-4 col-lg-3 chat_message_image_container"
        >
            <a
                :href="image.url"
                target="_blank"
            >
                <div
                    class="w-100 h-100 chat_message_image"
                    :style="'background-image: url('+image.url+')'"
                >

                </div>
            </a>

        </div>
    </div>
</template>

<script>
export default {
    props: {
        msg : {
            type: Object,
            default: () => ({})
        }
    }
}
</script>
<style>
    .chat_message_image_container {
        overflow:hidden;
        border: 4px solid transparent;
        height: 118px;
        position: relative;
    }
    .chat_message_image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 110px;
        width: 150px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>
