<template>
    <div
        @mouseover="redAndFavHover = true"
        @mouseleave="redAndFavHover = false"
        class="my-2"
    >
        <div
            v-if="msg.favorite"
        >
            {{addToFavorite(msg.id)}}
        </div>
        <div
            v-if="msg.deleted"
            class="mb-2 ml-4 row"
        >
            Сообщение удалено
        </div>
        <div v-else>
            <div class="mb-2 row">
                <div

                    class="col-2 col-md-1 mt-2"
                >
                    <div
                        v-if="sameUser"
                        class="d-flex"
                    >
                        <img
                            v-if="msg.user_info"
                            class="rounded-circle small"
                            :src="msg.user_info.avatar ? msg.user_info.avatar.small : '/images/icons/user_avatar.svg'"
                            width="40px"
                        >
                    </div>

                </div>

                <div class="col-7">
                    <div
                        class="rounded mx-2"
                    >
                        <div>
                            <div class="row">
                                <div
                                    v-if="sameUser"
                                    class="mb-2 usersNameinMessages col-10"
                                >
                                    {{msg.user_info.firstname}} {{msg.user_info.lastname}}
                                </div>
                                <div class="messageTime p-0 col d-md-none d-inline text-right">
                                    {{getTime(msg.created_at)}}
                                </div>
                            </div>
                            <textMessage
                                :msg="msg"
                            />
                            <audioMessage
                                :msg="msg"
                            />
                            <imageMessage
                                class="px-2"
                                :msg="msg"
                            />
                            <fileMessage
                                :msg="msg"
                            />
                            <div
                                v-if="msg.reply_messages.length"
                            >
                            <span class="repliingMessage">Пересланное сообщение</span>
                                <repliedMessage
                                    class="ml-2 pl-2"
                                    style="border-left: 2px solid #D8DFED"
                                    :msg="msg"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-3 pt-1 d-none d-md-block"
                >
                    <div class="row h-100">
                        <div class="col-3 text-center p-0">
                            <div
                                class="d-flex"
                                @click="editOrCancel(msg)"
                            >
                                <div

                                    v-show="redactedShow && currentMessageId == msg.id"
                                >
                                    <img src="/images/24/basic/delete.svg">
                                </div>
                                <div
                                    v-if="msg.user_id == auth.id"
                                    v-show="redAndFavHover && !redactedShow"
                                >
                                    <iconBase
                                        iconName="pencilIcon"
                                        height="15"
                                        width="15"
                                        viewBox="0 0 15 15"
                                    />
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-2 p-0 text-center "
                        >
                            <div
                                v-if="favoriteMessages.includes(msg.id)"
                                @click="makeUnFavorite(msg.id)"
                            >
                                <iconBase
                                    :iconName="'smallStar'"
                                    :height="19"
                                    :width="19"
                                    :viewBox="'0 0 19 19'"
                                    :iconColor="'#F4B540'"
                                />
                            </div>
                            <div
                                v-else
                                v-show="redAndFavHover"
                                @click="makeFavorite(msg.id)"
                            >
                                <iconBase
                                    :iconName="'smallStar'"
                                    :height="19"
                                    :width="19"
                                    :viewBox="'0 0 19 19'"
                                    :iconColor="'#9299A6'"
                                />
                            </div>
                        </div>
                        <div
                            @click="select_message(msg.id)"
                            class="col-7 text-right messageTime p-0 pointer h-100"
                        >
                            <a
                                class="ml-2"
                                v-show="redAndFavHover && !redactedShow"
                            >
                                <i

                                    class="fa fa-check-circle"
                                />
                            </a>
                            {{getTime(msg.created_at)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import textMessage from '../chat_components/textMessage'
import audioMessage from '../chat_components/audioMessage'
import imageMessage from '../chat_components/imageMessage'
import fileMessage from '../chat_components/fileMessage'
import repliedMessage from '../chat_components/repliedMessage'
import iconBase from '../chat_components/iconBase'
import {mapGetters} from "vuex";



export default {
    components: {
        textMessage,
        audioMessage,
        imageMessage,
        fileMessage,
        repliedMessage,
        iconBase,
    },
    data () {
        return {
            users: [],
            redactedShow: false,
            redAndFavHover: false,
        }
    },
    watch: {
        redacted() {
            this.redactedShow = this.redacted
        }
    },
    computed: {
        ...mapGetters([
            'auth'
        ])
    },
    props: {
        msg: {
            type: Object,
            default: () => ({}),
        },
        sameUser: {
            type: Boolean,
            default: false
        },
        favoriteMessages: {
            type: Array,
            default: [],
        },
        redacted: {
            type: Boolean,
            default: false,
        },
        currentMessageId: {
            type: Number,
            default: null,
        }
    },
    methods: {
        addToFavorite(id) {
            if (!this.favoriteMessages.includes(id))
                this.favoriteMessages.push(id)
        },
        editOrCancel(message) {
            if(this.redacted) {
                this.cancelEditingMessage()
            }
            else {
                this.editMessage(message)
            }
        },
        editMessage(message) {
            this.$emit('editMessage', message)
        },
        cancelEditingMessage() {
            this.$emit('cancelEditingMessage')
        },
        makeFavorite(id) {
            this.$emit('makeFavorite', id)
        },
        makeUnFavorite(id) {
            this.$emit('makeUnFavorite', id)
        },
        getTime(dateAndTime) {
            let msgTime = dateAndTime.slice(11, 16)
            return msgTime
        },
        select_message(id) {
            if (window.innerWidth > 450)
            this.$emit('select_message', id)
        }
    }
}
</script>
