<template>
    <div>
        <div
            class="repliedMessage"
            v-for="(message, k) in msg.reply_messages"
            :key="k"
        >
            <div
                v-if="message.deleted"
            >
                Сообщение удалено
            </div>
            <div v-else>
                <div
                    v-if="(message.user_id != previosMessageUserId) || k == 0"
                    class="d-flex"
                >
                    <div class="mr-1">
                        <img
                            v-if="message.user_info.avatar != ''"
                            class="rounded-circle small"
                            width="30px"
                            :src="message.user_info.avatar.small"
                        >
                        <div
                            v-else
                            class="avatar avatar40"
                        />
                    </div>
                    <div class="usersNameinMessages">
                        {{message.user_info.firstname + " " + message.user_info.lastname}}
                    </div>
                </div>
                {{makePrevios(message.user_id)}}
                <div class="row">
                    <div class="col-12 pl-65">
                        <textMessage
                            :msg="message"
                        />
                        <audioMessage
                            :msg="message"
                        />
                        <imageMessage
                            class="px-2"
                            :msg="message"
                        />
                        <fileMessage
                            :msg="message"
                        />
                        <div
                            v-if="message.reply_messages.length"
                        >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import textMessage from '../chat_components/textMessage'
import audioMessage from '../chat_components/audioMessage'
import imageMessage from '../chat_components/imageMessage'
import fileMessage from '../chat_components/fileMessage'

export default {
    name: "repliedMessage",
    data () {
        return {
            previosMessageUserId: null,
            anotherUser: true,
        }
    },
    components: {
        textMessage,
        imageMessage,
        fileMessage,
        audioMessage,
    },
    props: {
        msg : {
            type: Object,
            default: () => ({})
        }
    },
    methods: {
        makePrevios (newId) {
            this.previosMessageUserId = newId
        },
    }
}
</script>
