<template>
    <div
        style="overflow-wrap: break-word;"
        v-if="msg.text"
    >
        {{ msg.text }}
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default ({
    props: {
        msg : {
            type: Object,
            default: () => ({})
        }
    }
})
</script>