<template>
    <div class="col-lg-10 m-auto">
        <div
            class="form-group"
        >
            <label
                class="title gray"
            >Подтип колонки</label>
            <select
                v-model="col.properties.type_id"
                class="form-control"
                required
            >
                <option
                    :value="0"
                    disabled
                >
                    Выберите подтип колонки
                </option>
                <option
                    v-for="(propT, k) in colType.properties.types"
                    :key="k"
                    :value="k"
                >
                    {{ propT.name }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
import { defCol, defColType } from '@base/inc/defaults/db';

export default {
    name: 'DBPropDatetime',
    props: {
        col: {
            type: Object,
            default: defCol,
        },
        colType: {
            type: Object,
            default: defColType,
        },
    },
    data() {
        return {};
    },
    watch: {
    },
    created() {
        if (!this.col.id) {
            this.col.properties.type_id = '';
        }
    },
    mounted() {},
    methods: {},
};
</script>
