<template>
    <div class="col-lg-10 m-auto db-prop">
        <div class="form-group">
            <div
                v-for="(option, k) in select"
                :key="k"
                class="row select-option"
            >
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                value
                            </div>
                        </div>
                        <input
                            v-model="option.value"
                            v-bind:readonly="option.exist"
                            type="text"
                            class="form-control"
                            placeholder="<option value=VALUE/></option>"
                            @change="updateProp()"
                        >
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                label
                            </div>
                        </div>
                        <input
                            v-model="option.label"
                            type="text"
                            class="form-control"
                            placeholder="<option>LABEL</option>"
                            @change="updateProp()"
                        >
                        <div class="input-group-append">
                            <div
                                v-if="select.length > 1"
                                class="input-group-text pointer"
                                style="color: #F85A40"
                                @click="deleteOption(k)"
                            >
                                <i
                                    class="fa fa-trash-o"
                                    aria-hidden="true"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button
                type="button"
                class="btn btn-outline-secondary btn-sm"
                @click="addOption()"
            >
                Добавить
            </button>
        </div>
    </div>
</template>

<script>
import { defCol, defColType } from '@base/inc/defaults/db';

export default {
    name: 'DBPropSelect',
    props: {
        col: {
            type: Object,
            default: defCol,
        },
        colType: {
            type: Object,
            default: defColType,
        },
    },
    data() {
        return {
            select: [
                {
                    exist: false,
                    value: '',
                    label: '',
                },
            ],
        };
    },
    watch: {
        'col.id': function () {
            this.checkExist();
        },
    },
    created() {},
    mounted() {
        this.checkExist();
    },
    methods: {
        checkExist() {
            if (this.col.id) {
                this.select = [];
                for (const key in this.col.properties.select) { // eslint-disable-line
                    if ({}.hasOwnProperty.call(this.col.properties.select, key)) {
                        this.select.push({
                            exist: true,
                            value: key,
                            label: this.col.properties.select[key],
                        });
                    }
                }
            }
        },
        addOption() {
            const key = {
                exist: false,
                value: '',
                label: '',
            };
            this.select.push(key);
        },
        deleteOption(key) {
            this.select.splice(key, 1);
            this.updateProp();
        },
        updateProp() {
            const result = {};
            for (const key of this.select) { // eslint-disable-line
                if (key.value && key.label) {
                    result[key.value] = key.label;
                }
            }
            this.col.properties = {
                type_id: 'inner',
                select: result,
            };
        },
    },
};
</script>

<style scoped>

</style>
