
.calculator-key {
    min-height: 44px;
    min-width: 44px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    &__function {
        background-color: #8096DC;
        color: white;
        cursor: pointer;
    }

    &__operator {
        color: #63666A;
        background-color: #E1E4F2;
        cursor: pointer;
    }

    &__indicator {
        color: #63666A;
        background-color: #E4E7E7;
        text-align: center;
        padding-top: auto;
        padding-bottom: auto;
        cursor: pointer;
    }

    &__trash {
        background-color: #E1E4F2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        height: 60px;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-weight: bold;
    }
}

.calculator__operator {
    display: inline-flex;
    flex-wrap: wrap;
}

.calculator__function {
    display: inline-flex;
    flex-wrap: wrap;
}
.calculator__indicator {
    display: inline-flex;
    flex-wrap: wrap;
}

.calculator__keypad {
    .calculator-key {
        margin-right: 15px;
        margin-top: 15px;
    }
}

.parent {
    display: flex;
    width: 100%;
    min-height: 400px;
    &--center {
        justify-content: center;
        align-items: center;
    }
    span.operator {
        color: #5EAABA;
        font-size: 18px;
        font-weight: bold;
    }
}

.error {
    .operator {
        color: red;
    }

    .operator-block {
        border-color: red;
    }

    .indicator {
        color: red;
    }
}

.operator-block {
    min-width: 60px;
    min-height: 32px;
    width: auto;
    height: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #5EAABA;
    border-radius: 4px;
    background:  white;
    padding-left: 10px;
    padding-right: 10px;
    .error {
        border-color: rgb(247, 127, 127);
    }
    span.symbol {
        color: #5EAABA;
        font-size: 18px;
        font-weight: bold;
        margin-left: 3px;
        margin-right: 3px;
    }

    span.operator {
        padding-left: 10px;
        padding-right: 6px;
        color: #5EAABA;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    input.operator {
        width: 60px;
        padding-left: -10px;
        border-color: #07e1cb;
        border-radius: 4px;
    }
}

span.indicator {
    color: #5EAABA;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.math-operator {
    padding-bottom: 0;
    margin-bottom: 0;
}
