.card-stats {
    border-radius: 8px;
    background: linear-gradient(180deg, #99cbf3 100%, #FFFFFF 100%, #afe0ff 40%);
    .card-body {
        padding: 1rem 1.5rem;
    }

    .card-status-bullet {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}
