.header {
    &__event {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
    }
}

.event {
    &__program {

    }

    &__timetable {
        background: #efefef4f;
        padding: 10px;
        margin-bottom: 20px;

        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
}

.spikers {

}

.guests {

}
.event-label {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.event-btn {
    width: 250px;
    height: 50px;
    border-radius: 0%;
}
