.gradebook {
    background: #ffffff;
    border: 1px solid $color-6;
    max-width: 1244px;
    max-height: 806px;
    padding: 25px 40px 40px 40px;
    box-shadow: 0px 0px 20px rgba(0, 30, 89, 0.08);
    border-radius: 8px;

    // .gradebook__header

    &__header {
    }

    // .gradebook__body

    &__body {
        overflow: auto;
        max-height: 635px;
    }

    // .gradebook__table

    &__table {
        border-collapse: collapse;
    }

    // .gradebook__thead
    table thead tr th {
        position: -webkit-sticky; /* Safari */
        position: sticky; /* Safari */
        background: #ffffff;
        position: sticky;
        z-index: 1000;
        top: 0;
    }
    &__thead {
        tr {
            border-bottom: 1px solid #ddd;
            border-right: 2px solid rgb(255, 255, 255);
        }
    }

    // .gradebook__date

    &__date {
        text-align: center;
        line-height: 16px;
        min-width: 125px;
        max-width: 125px;
        &--past {
            color: rgb(0, 0, 0);
        }
        &--future {
            color: #9299A6;
        }
    }

    // .gradebook__tbody

    &__tbody {
        tr {
            border-bottom: 1px solid #ddd;
        }
        td {
            border-right: 1px solid #ddd;
        }
    }

    // .gradebook__user

    &__user {
        padding: 20px 20px 20px 0px;
        max-width: 253px;
    }

    // .gradebook__score

    &__score {
        vertical-align: top;
        min-width: 125px;
        max-width: 125px;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    opacity:0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.nav {
    overflow-x: overlay;
    &.red {
        .nav-item {
            color: #414042;
            margin-right: 2px;
            .router-link-exact-active {
                border-bottom: 1px solid $color-2;
            }
        }
    }
}
