.logo {
    border-radius: 50%;
    background-color: #fff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &-fan {
        margin-left: -30px;
        border: 4px solid #FFFFFF
    }
}
.logo64 {
    width: 64px;
    height: 64px;
}

.logo60 {
    width: 60px;
    height: 60px;
}
.logo82 {
    width: 82px;
    height: 82px;
}

