.menu-relative {
    filter: url('#shadowed-goo');
    z-index: 999;
    position: relative;
    .menu-item {
      left: 100%;
      position: fixed;
      top: 10%;
      margin-right: -40px;
    }
  }

  .page-menu {
    width: 100%;
    height: 100px;
    .menu-item {
      visibility: visible;
    }
  }

  .wh20 {
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .menu-item {
    background: #15274e;
    border: 2px solid black;
    border-radius: 100%;
    color: black;
    &__delete {
      background-image: url("/images/icons/menu/delete.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    &__edit {
      background-image: url("/images/icons/menu/edit.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
