.page {
    &__block {
        padding-bottom: 30px;
        overflow: hidden;
        &:hover {
            .menu-item {
                padding-top: 24px;
                visibility: visible;
                transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            }
            .menu-item:nth-child(1) {
                transition-duration: 190ms;
                transform: translate3d(-70px, 0, 0);
            }
            .menu-item:nth-child(2) {
                transition-duration: 290ms;
                transform: translate3d(-126px, 0, 0);
            }
            .menu-item:nth-child(3) {
                transition-duration: 390ms;
                transform: translate3d(-182px, 0, 0);
            }
            .menu-item:nth-child(4) {
                transition-duration: 490ms;
                transform: translate3d(-238px, 0, 0);
            }
            .menu-item:nth-child(5) {
                transition-duration: 490ms;
                transform: translate3d(-295px, 0, 0);
            }
            .menu-item:nth-child(6) {
                transition-duration: 490ms;
                transform: translate3d(-351px, 0, 0);
            }
            .menu-item:nth-child(7) {
                transition-duration: 490ms;
                transform: translate3d(-408px, 0, 0);
            }
        }
    }
}

.banner {
    img {
        display: inline-block;
        width: 100%;
    }

    a {
        color: white
    }
}
