.questions {
    .question {
        background: #FFFFFF;
        border: 1px solid $color-6;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(0, 51, 78, 0.04);
        border-radius: 8px;
        padding: 20px;
        .answer {
            background: #F8FAFB;
            border: 1px solid $color-6;
            box-sizing: border-box;
            border-radius: 8px;
            &.correct {
                border: 1px solid #2DBE60;
                box-shadow: 0px 4px 12px rgba(0, 51, 78, 0.12);
            }
            &.incorrect {
                border: 1px solid #F85A40;
                box-shadow: 0px 4px 12px rgba(0, 51, 78, 0.12);
            }
        }
        .conformity-answer-example {
            background: #F8FAFB;
            border: 1px solid $color-6;
            box-sizing: border-box;
            border-radius: 8px;
            padding-bottom:6px;
            padding-left:12px;
            padding-right:48px;
            padding-top:6px;
            margin-top: 12px;
            margin-bottom: 12px;
            width: 100%;
            cursor: all-scroll;
        }
        .dd-answer {
            background: #FFFFFF;
            border: 1px solid $color-6;
            box-sizing: border-box;
            box-shadow: 0px 4px 12px rgba(0, 51, 78, 0.12);
            border-radius: 8px;
            padding: 18px 20px 18px 20px;
            &.correct {
                border: 1px solid #2DBE60;
                box-shadow: 0px 4px 12px rgba(0, 51, 78, 0.12);
            }
        }
    }
}
