.score {
    // .score__presence
    &--absent {
        background: #F4FDF7;
    }

    &__wrapper {
        min-height: 110px;
        cursor: pointer;
    }

    .title {
        margin-right: 16px;
    }

    &__presence {
        padding-top: 6px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #404348;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:hover {
            text-decoration: none;
        }
        &--active {
            color: #000000;
        }
        span {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 12px;
            text-align: center;
        }

        img {
            height: 30px;
        }
        // .score__presence--absent

        &--absent {
            background: #F4FDF7;
            span {
                color: #2DBE60;
            }
        }

        // .score__presence--attended

        &--attended {
            span {
                color: #9299A6;
            }
        }

    }

    // .score__rating

    &__rating {
        background-color: #fff;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 24px;
        width: 61px;
        height: 32px;
        max-width: 61px;
        font-size: 20px;
        line-height: 32px;
        cursor: pointer;
        text-align: center;

        &--excellent {
            border: 1px solid #53B417;
            color: #53B417;
        }
        &--good {
            border: 1px solid #CEBA00;
            color: #CEBA00;
            &-plus {
                border: 1px solid #7EC20E;
                color: #7EC20E;
            }
        }
        &--fair {
            border: 1px solid #E55B20;
            color: #E55B20;
            &-plus {
                border: 1px solid #ED8524;
                color: #ED8524;
            }
        }
        &--none {
            border: 2px solid #D8DFED;
            color: #F8F9FE;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(/images/icons/delete.svg);
        }
    }
    &__point {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #9299A6;
        margin-bottom: 4px;
        p {
            margin: 0px;
        }
    }
}

.popup-score {
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 266px;
    box-shadow: 0px 4px 12px rgba(0, 51, 78, 0.12);
    border-radius: 8px 8px 8px 0px;
    padding: 20px 16px 10px 16px;
    bottom: 49px;
    left: 108px;
    z-index: 9999;
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__body {
    }
    &__point-group {
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        & > * {
            margin-right: 8px;
            margin-top: 8px;
        }
    }
}
