.tree {
    border: 1px solid #EBEBEC;





	li {
		list-style-type: none;
		margin: 0;
		padding: 10px 0px 0px 5px;
        position: relative;

		&::before {
			content: '';
			left: -20px;
			position: absolute;
			right: auto;
			border-left: 1px solid #999;
			bottom: 50px;
			height: 100%;
			top: 0;
			width: 1px;
        }

		&::after {
			content: '';
			left: -20px;
			position: absolute;
			right: auto;
			border-top: 1px solid #999;
			height: 20px;
			top: 25px;
			width: 25px;
        }



		span {
			display: inline-block;
			padding: 5px 6px;
			text-decoration: none;
			&.selected a {
				color: green;
			}
        }

		&:last-child {
			&::before {
				//height: 42px;
			}
		}

        .last-li::before {
            height: 26px;
        }
    }

	li.parent_li {
		>span {
			cursor: pointer;
			&:hover {
				background: #eee;
				border: 1px solid #94a0b4;
				color: #000;
			}
			&:hover+ul {
				li {
					span {
						background: #eee;
						border: 1px solid #94a0b4;
						color: #000;
					}
				}
			}
		}
	}
	>ul {
        margin-bottom: 10px;
		>li {
			&::before {
				border: 0;
			}
			&::after {
				border: 0;
			}
		}
	}
}
