.user {
    display: flex;
    align-items: center;
    &__head {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #9299A6;
        margin: 0px;
        padding: 0px;
    }
    &__avatar {
        border-radius: 50%;
        background-image: url(/images/user_avatar.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        &--large {
            width: 82px;
            min-width: 82px;
            height: 82px;
        }
        &--medium {
            width: 60px;
            min-width: 60px;
            height: 60px;
        }
        &--small {
            width: 40px;
            height: 40px;
        }
    }
    &__information {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-left: 20px;
    }
    &__information-spiker {
        font-size: 14px;
        line-height: 21px;
        color: #414042;
    }
    &__name-spicker {
        font-size: 22px;
        line-height: 32px;
        font-weight: bold;
        color: #414042;
    }
}