<template>
    <div>
        <div class="row mb-2">
            <div class="col-lg-3">
                <a
                    class="btn btn-danger"
                    @click="openAddInterval"
                >
                    Создать
                </a>
            </div>
            <div class="ml-auto col-lg-3 d-flex align-items-center">

                <i class="p-2 ml-auto fa fa-angle-left pointer" @click="calendarLeft" />
                <div class="px-2">
                    {{ year }} {{ months[month] }}
                </div>
                <i class="p-2 fa fa-angle-right pointer" @click="calendarRight" />
            </div>
        </div>

        <div id="calendar-area" class="mb-4">
            <div id="day-bar">
                <div>Пн</div>
                <div>Вт</div>
                <div>Ср</div>
                <div>Чт</div>
                <div>Пт</div>
                <div>Сб</div>
                <div>Вс</div>
            </div>
            <div id="calendar">
                <div v-for="week in weeks" class="calendar-week">
                    <calendar-day
                        v-for="day in week"
                        :day="day"
                        :month_select="month"
                        @daySelect="daySelect"
                        :count="monthIntervals[year + '-'+ monthFormat(month) + '-' + monthFormat(day.format('D'))]"
                        :key="year + '-'+ monthFormat(month) + '-' + monthFormat(day.format('D'))"
                    />
                </div>
            </div>
        </div>



        <create-camera-interval
            v-if="showAddInterval"
            @closePopup="closeAddInterval"
        />
        <show-camera-intervals
            v-if="showCamreaIntervals"
            :day="selectDay"
            @closePopup="closeCamreaIntervals"
        />
    </div>
</template>

<script>
import CreateCameraInterval from './manage/CreateCameraInterval';
import CalendarDay from './calendar/Day.vue';
import ShowCameraIntervals from './manage/ShowCameraIntervals';

export default {
    name: "AdminOrganizationIntervals",
    components: { ShowCameraIntervals, CreateCameraInterval, CalendarDay },
    data() {
        return {
            organizationCamerasIntervals: {
                total: 0,
                data: [],
                page: 1,
                per_page: 15,
            },
            showCamreaIntervals: false,
            showAddInterval: false,
            selectDay: '',
            year: (new Date()).getFullYear(),
            month: (new Date()).getMonth() + 1,
            monthIntervals: [],
            months: {
                1: "Январь",
                2: "Февраль",
                3: "Март",
                4: "Апрель",
                5: "Май",
                6: "Июнь",
                7: "Июль",
                8: "Август",
                9: "Сентябрь",
                10: "Октябрь",
                11: "Ноябрь",
                12: "Декабрь",
            }
        }
    },
    created() {
        this.getIntervals();
    },
    methods: {
        calendarLeft(){
            if (this.month == 1){
                this.month = 12;
                this.year--;
            } else {
                this.month--;
            }
            this.getIntervals();
        },
        calendarRight(){
            if (this.month == 12){
                this.month = 1;
                this.year++;
            } else {
                this.month++;
            }
            this.getIntervals();
        },
        daySelect(day){
            var needDay = this.year + '-'+ this.monthFormat(this.month) + '-' + this.monthFormat(day)

            this.selectDay = needDay;
            this.showCamreaIntervals = true;
        },
        monthFormat(m){
            if (m < 10) return "0"+m;
            return m;
        },
        openAddInterval(){
            this.showAddInterval = true
        },
        closeAddInterval(){
            this.showAddInterval = false
            this.getIntervals();
        },
        getIntervals(){
            axios.get('/api/v1/organization-camera-intervals-by-month', { params: {
                    year: this.year,
                    month: this.month
                }}).then((response) => {
                    this.monthIntervals = response.data.data.data
                    //this.organizationCamerasIntervals.data = data.data.data.organizationCamerasIntervals.data
                    //this.organizationCamerasIntervals.total = data.data.data.organizationCamerasIntervals.total
                })
        },
        closeCamreaIntervals(){
            this.showCamreaIntervals = false;
        }
    },
    computed: {
        days() {
            // Generating all days in current month
            let days = [];
            let currentDay = this.$moment(`${this.year}-${this.month}-1`, 'YYYY-M-D');
            do {
                days.push(currentDay);
                currentDay = this.$moment(currentDay).add(1, 'days');
            } while ((currentDay.month() + 1) === this.month);
            // Add previous days to start
            currentDay = this.$moment(days[0]);
            const SUNDAY = 0;
            const MONDAY = 1;
            if (currentDay.day() !== MONDAY) {
                do {
                    currentDay = this.$moment(currentDay).subtract(1, 'days');
                    days.unshift(currentDay);
                } while(currentDay.day() !== MONDAY);
            }
            // Add following days to end
            currentDay = this.$moment(days[days.length - 1]);
            if (currentDay.day() !== SUNDAY) {
                do {
                    currentDay = this.$moment(currentDay).add(1, 'days');
                    days.push(currentDay);
                } while(currentDay.day() !== SUNDAY);
            }
            return days;
        },
        weeks() {
            let weeks = [];
            let week = [];
            for (let day of this.days) {
                week.push(day);
                if (week.length === 7) {
                    weeks.push(week);
                    week = [];
                }
            }
            return weeks;
        }
    }
}
</script>
