<template>
    <div class="pb-4">
        <div class="row pb-2">
            <div class="col-lg-2">
                <a
                    class="btn"
                    @click="showModal.type = true"
                >
                    Создать
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Название</td>
                    <td>Кол-во школ</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="type in organization_types"
                >
                    <td>
                        {{type.id}}
                    </td>
                    <td>
                        {{type.name}}
                    </td>
                    <td>
                        {{type.organizations_count ? type.organizations_count : '-'}}
                    </td>
                    <td>
                        <a
                            class="btn fa fa-edit"
                            @click="edit(type)"
                        />
                        <a
                            class="ml-2 btn fa fa-trash"
                            @click="deleteType(type)"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
        <create-organization-type
            v-if="showModal.type"
            :type="type"
            @closePopup="closePopup"
        />
    </div>
</template>

<script>

import CreateOrganizationType from './manage/CreateOrganizationType';
import deepClone from 'clonedeep';

export default {
    name: "AdminOrganizationTypes",
    components: { CreateOrganizationType },
    data() {
        return {
            showModal: {
                type: false
            },
            organization_types: [

            ],
            type: {
                id: null,
                name: ''
            }
        }
    },
    created() {
        this.getOrganizationTypes();
    },
    methods: {
        closePopup(){
            this.showModal.type = false;
            this.getOrganizationTypes();
        },
        edit(type){
            this.showModal.type = true;
            this.type = deepClone(type);
        },
        deleteType(type){
            this.$axios.delete(`/api/v1/organization_types/`+type.id, { })
                .then((response) => {
                    this.getOrganizationTypes();
                })
        },
        getOrganizationTypes(){
            this.$axios.get(`/api/v1/organization_types`, { params: {
                    with_count: [
                        'organizations'
                    ]
                }})
                .then((response) => {
                    this.organization_types = response.data.data.types;
                })
        },
    }
}
</script>
