<template>
    <div>
        <table class="table table-bordered table-striped table-adaptive">
            <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>ИНН</th>
                    <th>Телефон</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="request in requests.data">
                    <td>#{{request.id}}</td>
                    <td>{{request.organization_name}}</td>
                    <td>{{request.organization_inn}}</td>
                    <td>{{request.phone}}</td>
                    <td>{{ statuses[request.status] }}</td>
                    <td>
                        <div v-if="request.status == 'wait'">
                            <span
                                class="fa fa-eye mr-2 pointer"
                                @click="openRequest(request)"
                            />

                            <span
                                class="fa fa-check mr-2 pointer"
                                @click="setStatus(request, 'approve')"
                            />
                            <span
                                class="fa fa-times pointer"
                                @click="setStatus(request, 'reject')"
                            />
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row py-2">
            <b-pagination v-model="requests.current_page" :total-rows="requests.total" :per-page="requests.per_page" class="m-auto"></b-pagination>
        </div>
        <show-order-data
            v-if="showOrderDataPopup"
            :request="prop_request"
            @closePopup="closeOrderDataPopup"
            @setStatus="setStatus"
        />
    </div>
</template>

<script>
import ShowOrderData from './manage/ShowOrderData';
export default {
    name: 'AdminOrganizationOrders',
    components: { ShowOrderData },
    data() {
        return {
            statuses: {
                'wait': 'Ожидает',
                'reject': 'Отклонена',
                'approve': 'Подтверждена',
            },
            requests: {
                data: [],
                current_page: 1,
                total: 0,
                per_page: 15
            },
            prop_request: {},
            showOrderDataPopup: false
        }
    },
    created() {
        this.loadOrders();
    },
    methods: {
        loadOrders() {
            //api/v1/organization-requests?with[]=organization&with[]=user&with[]=district
            axios.get('/api/v1/organization-requests', {
                params: {
                    page: this.requests.current_page,
                    with: [
                        'organization',
                        'user',
                        'district'
                    ]
                }
            }).then((response) => {
                this.requests.data = response.data.data.requests.data
                this.requests.total = response.data.data.requests.total
            })
        },
        setStatus(r, status){
            axios.post('/api/v1/organization-requests/'+r.id, {
                _method: 'patch',
                action: status
            }).then(response => {
                this.loadOrders();
            })
        },
        openRequest(r){
            this.prop_request = r;
            this.showOrderDataPopup = true
        },
        closeOrderDataPopup(){
            this.showOrderDataPopup = false
        }
    }
};
</script>
