<template>
<div class="container py-2">
    <div class="row">
        <div class="col-lg-2">
            <select
                class="form-control mb-2"
                v-model="district_select"
                required
            >
                <option :value='null'>Район не выбран</option>
                <option
                    v-for="district in districts.data"
                    :value="district.id"
                >
                    {{ district.name }}
                </option>
            </select>
        </div>
    </div>
    <table class="table table-striped table-bordered table-adaptive">
        <thead>
            <tr>
                <th v-if="!district_select">
                    Район
                </th>
                <th>
                    Название организации
                </th>
                <th>
                    Камера 1
                </th>
                <th>
                    Камера 2
                </th>
                <th>
                    Камера 3
                </th>
            </tr>
        </thead>
        <tbody>
            <camerasRow
                v-for="org in orgList"
                :key="'орг' + org.id"
                :district_select="district_select"
                :org="org"
                @openCamerasStatisticsPopup="openCamerasStatisticsPopup"
            />
        </tbody>
    </table>
    <camerasStatisticsPopup :camera="currentCamera" :show="camerasStatisticsPopupShow" @modalClose="modalClose" />
</div>
</template>

<script>
import {
    getOrganizations
} from '@base/api/organization';
import camerasRow from './camerasRow'
import camerasStatisticsPopup from './camerasStatisticsPopup'

export default {
    components: {
        camerasRow,
        camerasStatisticsPopup,
    },
    data() {
        return {
            orgList: [],
            camerasStatisticsPopupShow: false,
            currentCamera: {},
            district_select: null,
            districts: {
                data: []
            }
        }
    },
    watch: {
        district_select: function () {
            this.getOrs();
        }
    },
    created() {
        this.getOrs();
        this.getDistricts();
    },
    methods: {
        getOrs(){
            getOrganizations({
                type: 'EDU',
                with: [
                    "cameras",
                    "district"
                ],
                district: this.district_select,
                qty: 999
            })
                .then((response) => {
                    this.orgList = response.data.data.organizations.data
                })
        },
        openCamerasStatisticsPopup(camera) {
            this.camerasStatisticsPopupShow = true
            this.currentCamera = camera
        },
        modalClose() {
            this.camerasStatisticsPopupShow = false
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
    }
}
</script>
