<template>
    <div>
        <div class="row">
            <div class="col-lg-2">
                <select
                    class="form-control mb-2"
                    v-model="district_select"
                    required
                >
                    <option :value='null'>Район не выбран</option>
                    <option
                        v-for="district in districts.data"
                        :value="district.id"
                    >
                        {{ district.name }}
                    </option>
                </select>
            </div>
            <div
                class="col-lg-4"
                v-if="district_select"
            >
                <select
                    class="form-control mb-2"
                    v-model="organization_select"
                    required
                >
                    <option :value='null'>Школа не выбрана</option>
                    <option
                        v-for="org in orgList"
                        :value="org.id"
                    >
                        {{ org.name }}
                    </option>
                </select>
            </div>
            <div class="ml-auto col-lg-3">
                <v-date-picker v-model="range" is-range :model-config="{
                                type: 'string',
                                mask: 'YYYY-MM-DD', // Uses 'iso' if missing
                              }">
                    <template v-slot="{ inputValue, inputEvents }">
                        <div class="d-flex">
                            <input
                                :value="inputValue.start"
                                v-on="inputEvents.start"
                                class="form-control"
                            />
                            <svg
                                style="width: 24px;"
                                class="mx-2"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                                />
                            </svg>
                            <input
                                :value="inputValue.end"
                                v-on="inputEvents.end"
                                class="form-control"
                            />
                        </div>
                    </template>
                </v-date-picker>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Школа
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Снимок с камеры
                </th>
                <th>
                    Ответственный
                </th>
                <th>
                    Дата нарушения
                </th>
                <th>
                    Создано
                </th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="violation in violations.data"
            >
                <td>{{violation.organization.name}}</td>
                <td>{{violation.text}}</td>
                <td>
                    <a
                        target="_blank"
                        :href="violation.screen"
                    >
                        <img :src="violation.screen" class="figure-img img-fluid rounded" style="max-height: 250px;">
                    </a>
                </td>
                <td>
                    {{ violation.user ? violation.user.fio : "" }}
                </td>
                <td>
                    {{ violation.violation_at }}
                </td>
                <td>
                    {{ violation.created_at }}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row py-2">
            <b-pagination v-model="violations.page" :total-rows="violations.total" :per-page="violations.per_page" class="m-auto"></b-pagination>
        </div>
    </div>
</template>

<script>
import {
    getOrganizations
} from '@base/api/organization';
export default {
    name: "CamerasViolations",
    data() {
        return {
            violations: {
                page: 1,
                total: 0,
                per_page: 15,
                data: []
            },
            district_select: null,
            organization_select: null,
            districts: {
                data: []
            },
            orgList: [],
            range: {
                end: null,
                start: null
            }
        }
    },
    created(){
        this.getDistricts();
        this.getViolations()
    },
    watch: {
        'violations.page': function (){
            this.getViolations()
        },
        district_select: function () {
            this.getViolations();
            if (this.district_select)
                this.getOrs()
        },
        organization_select: function () {
            this.getViolations();
        },
        'range.end': function () {
            this.getViolations();
        },
        'range.start': function () {
            this.getViolations();
        }
    },
    methods: {
        getOrs(){
            getOrganizations({
                type: 'EDU',
                with: [
                    "cameras",
                    "district"
                ],
                district: this.district_select,
                qty: 999
            })
                .then((response) => {
                    this.orgList = response.data.data.organizations.data
                })
        },
        getViolations(){
            this.$axios.get('/api/v1/organization-cameras-violations', {
                params: {
                    paginate: true,
                    page: this.violations.page,
                    qty: this.violations.per_page,
                    with: ['user', 'organization'],
                    district: this.district_select,
                    organization: this.organization_select,
                    range_start: this.range.start,
                    range_end: this.range.end,
                }
            })
                .then(response => {
                    this.violations.data = response.data.data.violations.data
                    this.violations.total = response.data.data.violations.total
                })
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
    }
}
</script>
