<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            style="height: 90%"
            aria-hidden="true"

        >
            <div
                class="modal-dialog modal-xl modal-dialog-centered"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Статистика
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalClose()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div
                        class="modal-body"
                    >
                        <div class="row">
                            <div class="col-lg-3">
                                <input
                                    type="date"
                                    class="form-control"
                                    v-model="start"
                                />
                            </div>
                        </div>
                        <div
                            class="chart-container" style="position: relative; height: 100%; width:100%"
                        >
                            <line-chart
                                v-if="loaded"
                                :chartdata="datacollection"
                                :options="chartOptions"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        >
        </div>
    </div>
</template>

<script>
import LineChart from './LineChart.js'

export default {

    components: {
        LineChart,
    },
    data () {
        return {
            start: null,
            loaded: false,
            datacollection: {
                labels: [],
                datasets: [
                    {
                        label: '',
                        backgroundColor: '#f87979',
                        data: []
                    }
                ]
            },
            chartOptions: {
                responsive: true,
                maintainAspectRatio: false,
            }
        }
    },
    created () {
        this.datacollection.datasets[0].backgroundColor = '#f87979'
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        camera: {
            type: Object,
            default: {},
        }
    },
    watch: {
        start(){
            this.loadArchive();
        },
        camera(){
            this.loadArchive();
        }
    },
    methods: {
        loadArchive(){
            this.loaded = false;
            this.datacollection.labels = [];
            this.datacollection.datasets[0].data = [];

            axios.get('/api/v1/organization_camera_archive', { params: {
                    organization_cameras_id: [
                        this.camera.id
                    ],
                    start: this.start
                }})
                .then((response) => {
                    let data = response.data.data.archive;
                    for (let i = 0; i < data.length; i++){
                        this.datacollection.labels.push(data[i].created_at)
                        this.datacollection.datasets[0].data.push(data[i].status)
                    }
                    this.loaded = true;
                })
                .catch(error => {

                })
        },
        modalClose() {
            this.$emit('modalClose')
        },
    }
}
</script>
