<template>
<tr v-view="viewHandler">
    <td v-if="!district_select" data-label="Район">
        {{org.district ? org.district.name : ''}}
    </td>
    <td data-label="Название организации">
        {{org.name || ""}}
    </td>
    <td :data-label="`Камера ${n}`" v-for="n in 3"
        :key="'camera' + n"
        class="text-light"
        :class="org.cameras[n-1] ? (org.cameras[n-1].status ? 'bg-success' : 'bg-danger') : ''"
    >
        <div
            v-if="org.cameras[n-1]"
        >
            <div>
                <a target="_blank" :href="org.cameras[n-1].url">
                    Открыть
                </a>

                <br>
<!--                {{ org.cameras[n-1].status ? 'Камера активна' : 'Камера неактивна' }} <i class="pointer ml-2 fa fa-refresh" @click="checkCameraAvailable(org.cameras[n-1])" />-->
            </div>
            <div class="d-flex pt-2">
                <button class="btn fa fa-eye" @click="openWindows(org.cameras[n-1])" />
                <button @click="openCamerasStatisticsPopup(org.cameras[n-1])" class="btn ml-2 fa fa-bar-chart" />
            </div>
        </div>
    </td>
</tr>
</template>

<script>
export default {
    data() {
        return {
            cameraStatus: false,
        }
    },
    props: {
        org: {
            type: Object,
            default: {},
        },
        district_select: {
            type: Number,
            default: null
        }
    },
    methods: {
        viewHandler(e){
            if (!this.org.is_load){
                if (e.type == 'enter'){
                    this.org.cameras.forEach((camera) => {
                        this.checkCameraAvailable(camera)
                    })
                    this.org.is_load = true;
                }
            }
        },
        canShow(i) {
            if (this.org.cameras.length > i) {
                return true
            }
            return false
        },
        openWindows(camera) {
            let href = '/api/v1/organization/' + this.org.id + '/organization-cameras/' + camera.id;
            window.open(href, camera.id, 'width=640,height=480');
        },
        openCamerasStatisticsPopup(camera) {
            this.$emit('openCamerasStatisticsPopup', camera)
        },
        checkCameraAvailable(camera) {
            axios.get('/api/v1/organization/' + this.org.id + '/organization-cameras/' + camera.id + '/checkCameraAvailable')
                .then((response) => {
                    camera.status = true;
                })
                .catch(error => {
                    camera.status = false;
                })
        },
    }
}
</script>
