<template>
    <main class="pt-2">
        <div class="container admin-organization">
            <div class="row py-3">
                <div class="col-lg-12">
                    <table
                        class="table table-bordered"
                    >
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Район
                                </th>
                                <th>
                                    Организаций
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                v-for="(district,key) in districts.data"
                                :key="'org_'+key"
                            >
                                <td>
                                    {{ district.id }}
                                </td>
                                <td>
                                    {{ district.name }}
                                </td>

                                <td>
                                    {{ district.organizations_count }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row py-2">
                <b-pagination
                    v-model="districts.page"
                    :total-rows="districts.total"
                    :per-page="districts.per_page"
                    class="m-auto"
                ></b-pagination>
            </div>
        </div>

    </main>
</template>

<script>
import ManageRole from '@base/components/admin/organization/manage/Role';


import {mapGetters, mapMutations} from "vuex";

export default {
    name: 'AdminDistricts',
    components: {
        ManageRole,
    },
    data() {
        return {
            districts: {
                per_page: 15,
                total: 0,
                page: 1,
                data: [

                ]
            },
            search: ''
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
    },
    watch: {
        'districts.page': function (){
            this.getDistricts();
        },
    },
    created() {
        this.getDistricts();
    },
    mounted() {

    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    page: this.districts.page,
                    qty: this.districts.per_page,
                    with_count: [
                        'organizations'
                    ]
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                    this.districts.total = response.data.data.districts.total;
                    this.districts.per_page = response.data.data.districts.per_page;
                });
        },
    },
};
</script>

