<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";

export default {
    name: 'AdminOrganizationNav',
    components: {
        NavTab,
    },
    data() {
        return {
            routes: [
                { name: 'admin.organizationsList', description: 'Список организаций', visible: true },
                { name: 'admin.organizations.orders', description: 'Список заявок', visible: true },
                { name: 'admin.organization.districtsList', description: 'Список районов', visible: true },
                { name: 'admin.organization.types', description: 'Типы', visible: true },
                { name: 'admin.organization.popularity', description: 'Популярность', visible: true },
                { name: 'admin.organization.camerasList', description: 'Список камер', visible: true },
                { name: 'admin.organization.cameras_intervals', description: 'Интервалы', visible: true },
                { name: 'admin.organization.cameras_violations', description: 'Нарушения', visible: true },
            ]
        };
    },
};
</script>
