<template>
<main class="pt-2">
    <div class="container admin-organization">
        <MessageSuccessError :show="message" />
        <div class="row ">
            <div class="col-lg-2">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="search" placeholder="Поиск..." />
                    <div class="input-group-append">
                        <a class="input-group-text pointer" @click="getOrganizations">
                            <i class="fa fa-search" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <select class="form-control" v-model="district_select">
                    <option :value='null'>Выбрать район</option>
                    <option v-for="district in districts.data" :value="district.id">
                        {{ district.name }}
                    </option>
                </select>
            </div>
            <div class="offset-lg-6 col-lg-2 d-flex justify-content-end">
                <a @click="openCreateOrganization()" class="btn btn-create">
                    Добавить
                </a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-adaptive">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Район
                            </th>
                            <th>
                                Название
                            </th>
                            <th>
                                Тип
                            </th>
                            <th>
                                Пользователей
                            </th>
                            <th>
                                Камер
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(org,key) in organizations.data" :key="'org_'+key">
                            <td data-label="ID">
                                {{ org.id }}
                            </td>
                            <td data-label="Район">
                                {{ org.district ? org.district.name : '' }}
                            </td>
                            <td data-label="Название">
                                {{ org.name }}
                            </td>
                            <td data-label="Тип">
                                {{ org.type }}
                            </td>
                            <td data-label="Пользователей">
                                {{ org.users_count }}
                            </td>
                            <td data-label="Камер">
                                {{ org.cameras.length }}
                                <i @click="openCameraPopup(org)" class="pointer fa fa-eye" />
                            </td>
                            <td>
                                <router-link v-if="org.type == 'EDU'" class="fa fa-external-link pointer" aria-hidden="true" :to="{ name: 'org.edu.about', params: { id: org.id }}" />
                                <router-link v-if="org.type == 'VIRO'" class="fa fa-external-link pointer" aria-hidden="true" :to="{ name: 'org.viro.about', params: { id: org.id }}" />
                                <i v-tooltip.top-center="tooltip.attach.role" class="ml-2 fa fa-paperclip pointer" aria-hidden="true" @click="showManageRole(org)" />
                                <i class="ml-2  fa fa-edit pointer" @click="openEduAbout(org)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row py-2">
            <b-pagination v-model="organizations.page" :total-rows="organizations.total" :per-page="organizations.per_page" class="m-auto"></b-pagination>
        </div>
    </div>

    <vue-edu-manage-about
        :show="edu_manage_about"
        :organization_id="organization_id"
        :districts="districts.data"
        :edit="{ can_iom: true }"
        @closePopup="closeEduAbout"
    />

    <ManageRole :show="showModal.role" :roles="roles" :organization="currentOrganizationForRole" :fn-modal-hide="hideManageRole" :fn-refresh-table="refreshTable" />
    <CreateOrganization :show="showCreateOrganization" :districts="districts.data" @closePopup="closeCreateOrganization" />

    <admin-cameras-popup v-if="showModal.cameras" :organization="currentOrganization" @closePopup="closeCameraPopup" />
</main>
</template>

<script>
import deepClone from 'clonedeep';
import ManageRole from '@base/components/admin/organization/manage/Role';
import CreateOrganization from '@base/components/admin/organization/manage/Create';
import MessageSuccessError from '@base/components/inc/message/SuccessError';
import VueEduManageAbout from '@base/components/org/base/About/PopupAbout';

import {
    getOrganizations
} from '@base/api/organization';

import {
    mapGetters,
    mapMutations
} from "vuex";
import AdminCamerasPopup from './manage/Cameras';

export default {
    name: 'AdminOrganization',
    components: {
        AdminCamerasPopup,
        VueEduManageAbout,
        CreateOrganization,
        ManageRole,
        MessageSuccessError,
    },
    data() {
        return {
            edu_manage_about: false,
            organization_id: 0,
            showCreateOrganization: false,
            tooltip: {
                show: 'Видимая',
                hide: 'Скрытая',
                table: {
                    show: 'Показывать',
                    popularity: 'Популярность',
                },
                attach: {
                    role: 'Прикрепить роль',
                },
            },
            message: {
                not_success: false,
                success: false,
            },
            showModal: {
                user: false,
                role: false,
                cameras: false,
            },
            roles: [],
            currentOrganization: {},
            currentOrganizationForRole: {},
            tableData: [],
            districts: {
                data: []
            },
            district_select: null,
            organizations: {
                per_page: 15,
                total: 0,
                page: 1,
                data: [

                ]
            },
            search: ''
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
    },
    watch: {
        'organizations.page': function () {
            this.getOrganizations();
        },
        'district_select': function () {
            this.getOrganizations();
        }
    },
    created() {
        this.getDistricts();
        this.getOrganizations();
        this.getRoles();
    },
    mounted() {

    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        closeCameraPopup() {
            this.currentOrganization = {};
            this.showModal.cameras = false;
        },
        openCameraPopup(organization) {
            this.currentOrganization = deepClone(organization);
            this.showModal.cameras = true;
        },
        openEduAbout(item) {
            this.organization_id = item.id;
            this.edu_manage_about = true;
        },
        closeEduAbout() {
            this.organization_id = 0;
            this.edu_manage_about = false;
            this.getOrganizations();
        },
        openCreateOrganization() {
            this.showCreateOrganization = true;
        },
        closeCreateOrganization() {
            //this.refreshTable();
            this.showCreateOrganization = false;
        },
        getDistricts() {
            axios.get('/api/v1/districts', {
                    params: {
                        qty: 999
                    }
                })
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
        getOrganizations() {
            getOrganizations({
                qty: this.organizations.per_page,
                page: this.organizations.page,
                search: this.search,
                district: this.district_select,
                type: 'EDU,VIRO',
                with_count: [
                    "users",
                ],
                with: [
                    "cameras",
                    "district"
                ]
            }).then((response) => {
                this.organizations.data = response.data.data.organizations.data;
                this.organizations.total = response.data.data.organizations.total;
                this.organizations.per_page = response.data.data.organizations.per_page;
            });
        },
        getRoles() {
            const url = '/api/v1/role';
            const loading = 'local';
            const params = {
                show: 1
            };

            this.$axios.get(url, {
                    params
                })
                .then(({
                    data: {
                        data: {
                            roles
                        }
                    }
                }) => {

                    this.roles = roles;
                })
                .catch(() => {

                })
                .finally(() => {});
        },
        refreshTable() {
            this.$refs.tableOrganization.refresh();
        },
        hideManageRole() {
            this.showModal.role = false;
            this.currentOrganizationForRole = {};
        },
        showManageRole(organization) {
            this.currentOrganizationForRole = deepClone(organization);
            this.showModal.role = true;
        },
    },
};
</script>
