<template>
    <main class="pt-2">
        <div class="container admin-organization pb-2">
            <SuccessError :show="{ not_success, success }" />
            <div class="row justify-content-md-left">
                <div class="form-group col-sm-4 col-md-2">
                    <select
                        v-model="type"
                        class="form-control"
                    >
                        <option
                            value=""
                            disabled
                        >
                            Тип
                        </option>
                        <option value="EDU">
                            Муниципальный
                        </option>
                        <option value="VIRO">
                            Региональный
                        </option>
                    </select>
                </div>
                <button
                    :disabled="!allowSave"
                    v-tooltip.top-center="tooltip.save"
                    type="button"
                    class="btn btn-red form-group"
                    @click="submit()"
                >
                    <span
                        v-if="spinner.save"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    />
                    {{ 'Сохранить' }}
                </button>
            </div>
            <Draggable
                v-model="organizations"
                group="people"
                @start="drag=true"
                @end="fnOnEnd"
            >
                <div
                    v-for="org in organizations"
                    :key="org.id"
                    :data-org-id="org.id"
                    class="card card-dd-sort"
                >
                    <div class="card-body">
                        <i
                            v-if="!org.show"
                            v-tooltip.top-center="tooltip.hide"
                            class="fa fa-eye-slash mr-2"
                            aria-hidden="true"
                        />
                        <span class="badge badge-secondary">
                            ID:{{ org.id }}
                        </span>
                        <span class="pointer">
                            {{ org.name }}
                        </span>
                        <i
                            v-tooltip.top-center="tooltip.popularity"
                            class="fa fa-question-circle-o pointer ml-2"
                            aria-hidden="true"
                        />
                    </div>
                </div>
            </Draggable>
        </div>
    </main>
</template>

<script>
import Draggable from 'vuedraggable';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';

export default {
    name: 'AdminOrganizationPopularity',
    components: {
        Draggable,
        SuccessError,
    },
    mixins: [Proccess],
    data() {
        return {
            tooltip: {
                save: 'Обновление данных может занять несколько минут',
                hide: 'Скрытая',
                popularity: 'Отсортируйте порядок отображения перетащив организацию в верх/вниз списка',
            },
            type: 'EDU',
            organizations: [],
            allowSave: false,
        };
    },
    computed: {},
    watch: {
        type(val) {
            if (val) {
                this.getOrganizations('local');
            } else {
                this.organizations = [];
            }
        },
    },
    created() {},
    mounted() {
        this.getOrganizations('local');
    },
    methods: {
        getOrganizations(loading) {
            const url = '/api/v1/organizations';
            const btn = '';
            const notify = false;
            const params = {
                type: this.type,
                qty: 500,
                without_paginate: 1,
            };

            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { organizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organizations = organizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        fnOnEnd() {
            this.allowSave = true;
        },
        submit() {
            const { length } = this.organizations;
            const requests = this.organizations.map((org, index) => {
                const popularity = length - index;
                return this.itemRequest(org.id, popularity);
            });

            const btn = 'save';
            const notify = true;
            const loading = 'global';
            this.showProcessMessage(loading, btn, notify);
            Promise.all(requests)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.allowSave = false;
                }).catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                });
        },
        itemRequest(organizationId, popularity) {
            const url = `/api/v1/organizations/${organizationId}`;
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'update-popularity');
            formData.append('popularity', popularity);

            return this.$axios.post(url, formData, { headers: { 'Content-Type': 'multipart/form-data' } });
        },
    },
};
</script>

<style scoped>

</style>
