<template>
    <div class="container py-2">
        <div class="row">
            <div class="col-lg-2">
                <a
                    class="btn"
                    @click="openCreateTest"
                >
                    Создать
                </a>
            </div>
            <div class="ml-auto col-lg-2">
                <select
                    v-model="filter.profile_id"
                    class="form-control"
                >
                    <option value="null">
                        Профиль
                    </option>
                    <option
                        v-for="(profile, id) in profiles"
                        :key="id"
                        :value="profile.id"
                    >
                        {{ profile.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="py-2">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Профили</th>
                        <th />
                        <th />
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(item, id) in tests"
                        :key="id"
                    >
                        <td>{{ item.id }}</td>
                        <td>
                            <b>
                                <router-link
                                    :to="{ name: 'admin.tests.show', params: { id: item.id }}"
                                >
                                    {{ item.name }}
                                </router-link>
                            </b>
                        </td>
                        <td>
                            <div
                                v-for="(profile, id) in item.profiles"
                                :key="id"
                            >
                                {{ profile.name }}
                            </div>
                        </td>
                        <td>{{ item.created_at }}</td>
                        <td />
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row py-2">
            <b-pagination
                v-model="pagination.currentPage"
                :total-rows="pagination.total"
                :per-page="pagination.perPage"
                aria-controls="my-table"
                class="m-auto"
            />
        </div>
        <admin-test-create
            :show="adminTestCreate"
            @closePopup="closeCreateTest"
        />
    </div>
</template>

<script>
import { getProfiles } from '@base/api/profiles';
import { getOrganizationQuizzes } from '@base/api/organization';

import AdminTestCreate from '@base/components/admin/tests/manage/AdminTestCreate';

export default {
    name: 'AdminTestsIndex',
    components: {
        AdminTestCreate,
    },
    data() {
        return {
            filter: {
                profile_id: null,
            },
            profiles: [],
            adminTestCreate: false,
            tests: [],
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 12,
            },
        };
    },
    watch: {
        'pagination.currentPage': function (val) {
            this.getOrganizationQuizzes();
        },
        'filter.profile_id': function (val) {
            this.getOrganizationQuizzes();
        },
    },
    created() {
        this.getProfiles();
        this.getOrganizationQuizzes();
    },
    methods: {
        getProfiles() {
            getProfiles().then((response) => {
                this.profiles = response.data.data.profiles.data;
            });
        },
        openCreateTest() {
            this.adminTestCreate = true;
        },
        closeCreateTest() {
            this.adminTestCreate = false;
        },
        getOrganizationQuizzes() {
            getOrganizationQuizzes({
                organization_id: 6,
                paginated: 1,
                'with[1]': 'quizTest',
                'with[2]': 'profiles',
                profile_id: this.filter.profile_id,
                page: this.pagination.currentPage,
            }).then((response) => {
                this.tests = response.data.data.quizzes.data;
                this.pagination.total = response.data.data.quizzes.total;
            });
        },
    },
};
</script>
