<template>
    <div class="container pb-3">
        <div class="row">
            <a
                class="btn"
                @click="adminTestAddIndicatorShow = true"
            >
                Добавить
            </a>
        </div>
        <div class="row py-2">
            <table
                v-if="test && test.indicators"
                class="table"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Индикатор</td>
                        <td>Формула</td>
                        <td>Уровней</td>
                        <td></td>
                    </tr>
                </thead>
                <tr
                    v-for="(indicator, id) in test.indicators"
                    :key="id"
                >
                    <td>
                        {{ indicator.id }}
                    </td>
                    <td>
                        <router-link
                            :to="{name: 'admin.indicators.show', params: {id: indicator.id}}"
                        >
                            {{ indicator.name }}
                        </router-link>
                    </td>
                    <td>{{ indicator.formula }}</td>
                    <td>{{ indicator.levels ? indicator.levels.length : 0 }}</td>
                    <td>
                        <i class="fa fa-edit"></i>
                    </td>
                </tr>
            </table>
        </div>
        <admin-test-add-indicator
            v-if="adminTestAddIndicatorShow"
            :show="adminTestAddIndicatorShow"
            :testIndicators="test.indicators"
            @closePopup="adminTestAddIndicatorClose"
        />
    </div>
</template>

<script>
    import AdminTestAddIndicator from './manage/AdminTestAddIndicator';
    export default {
        name: 'AdminTestsShowIndicators',
        components: { AdminTestAddIndicator },
        props: {
            test: {
                indicators: [

                ]
            }
        },
        data() {
            return {
                adminTestAddIndicatorShow: false,
                indicators: []
            }
        },
        created() {
            this.getIndicators();
        },
        methods: {
            adminTestAddIndicatorClose(){
                this.adminTestAddIndicatorShow = false;
            },
            getIndicators(){

            }
        }
    };
</script>
