<template>
<div class="questions">
    <div class="fs-20 pt-2 pb-2" v-html="(question.description ? question.description : '')" />
    <div v-if="question && question.files && question.files.length > 0">
        <span class="title gray">Дополнительные материалы</span>
        <div class="row no-gutters pt-3 pb-3">
            <div v-for="(file, key) in question.files" :key="key" class="file">
                <a :href="file.full_url">{{ file.name }}</a>
                <!--<i aria-hidden="true" class="fa fa-trash-o pointer"></i>-->
            </div>
        </div>
    </div>

    <div v-if="question && question.audio && question.audio.length > 0" class="row pb-5">
        <customAudio v-for="(element, key) in question.audio" :key="key" :element="element" :deletable="false" class="col-lg-4" />
    </div>

    <div class="row pb-5">
        <div class="col-lg-12">
            <variant-answer :disabled="true" :caption="variantAnswerCaption">
                <template v-slot:variantAnswers>
                    <div v-if="typeQuestion === 'many-choose'">
                        <choose v-for="(el, id) in question.question_answers" :key="id" :question_answer="el" :disabled="true" />
                    </div>
                    <div v-if="typeQuestion === 'one-choose'">
                        <choose v-for="(el, id) in question.question_answers" :key="id" :question_answer="el" :type-el="'radio'" :disabled="true" />
                    </div>
                    <div v-if="typeQuestion === 'text'">
                        <div>
                            <textarea v-model="textAnswer" class="form-control mb-3" rows="6" :disabled="true" @blur="changeTextAnswer" />
                        </div>
                    </div>
                    <div
                        v-else-if="typeQuestion === 'relation'"
                        v-for="(answer, id) in question.answers_front[0]"
                    >
                        <div class="row">
                            <div class="col-5">
                                <label
                                    class="title gray"
                                >Значение:</label>
                                <input
                                    v-model="answer.value"
                                    type="text"
                                    class="form-control"
                                    disabled
                                />
                            </div>
                            <div class="col-7">
                                <label
                                    class="title gray"
                                >Ассоциация:</label>
                                <input
                                    v-model="question.answers_front[1].find(el => el.id == answer.relation_id).value"
                                    type="text"
                                    class="form-control"
                                    disabled
                                />
                            </div>

                        </div>
                    </div>

                    <div v-else-if="typeQuestion === 'sequence' || typeQuestion === 'position' ">
                        <div class="list-group">
                            <sequence v-for="(el, id) in question.answers_front" :key="id" :answer="el" />
                        </div>
                    </div>
                </template>
            </variant-answer>
        </div>
    </div>
</div>
</template>

<script>
import Choose from '@base/components/course/test/testComponent/Choose';
import Relation from '@base/components/course/test/testComponent/Relation';
import Sequence from '@base/components/course/test/testComponent/Sequence';
import VariantAnswer from '@base/components/course/test/testComponent/VariantAnswer';
import Draggable from 'vuedraggable';
import customAudio from '@base/components/base/customAudio';

export default {
    name: 'QuestionPreview',
    props: {
        question: {
            type: Object,
            default: () => ({}),
        },
    },
    components: {
        Choose,
        Relation,
        Sequence,
        VariantAnswer,
        Draggable,
        customAudio,
    },
    data() {
        return {
            title: {
                'many-choose': 'Выберите несколько вариантов ответа:',
                'one-choose': 'Выберите один вариант ответа:',
                relation: 'Определите соответствие перетаскивая элементы в правом столбце:',
                sequence: 'Определите правильную последовательность:',
                position: 'Определите правильное расположение:',
                text: '',
            },
        };
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        }
    },
    computed: {
        typeQuestion() {
            return this.question?.question_type.system_name
        },
        variantAnswerCaption() {
            return this.title[this.typeQuestion];
        },
    }
};
</script>
