<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <router-link
                    class="btn"
                    :to="{ name: 'admin.tests.index'}"
                >
                    Назад
                </router-link>
            </div>
            <div class="ml-auto col-lg-2">
                <a
                    class="btn btn-create"
                    @click="visibleAddingQuestionPopup = true"
                >Добавить вопросы в тест</a>
            </div>
        </div>
        <div class="py-2">
            <table class="table" v-if="test">
                <thead>
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Тип
                        </th>
                        <th>
                            Баллы
                        </th>
                        <th>
                            Вопрос
                        </th>

                        <th>
                            Создан
                        <th>
                            Последнее изменение
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(ruleTestQuestion, id) in test.questions" :key="id">
                        <td>
                            {{ ruleTestQuestion.id }}
                        </td>
                        <td>
                            {{ types[ruleTestQuestion.type_rule] }}
                            <div v-if="ruleTestQuestion.props.rand">
                                Кол-во: {{ ruleTestQuestion.props.rand ? ruleTestQuestion.props.rand : '' }}
                            </div>
                        </td>
                        <td>
                            {{ ruleTestQuestion.props.point_count }}
                        </td>
                        <td>
                            <div
                                style="max-height: 60px; overflow: auto"
                                v-html="ruleTestQuestion.model.name"
                            >

                            </div>
                        </td>
                        <td>
                            {{ ruleTestQuestion.created_at }}
                        </td>
                        <td>
                            {{ ruleTestQuestion.updated_at }}
                        </td>
                        <td v-if="true">
                            <button
                                class="btn btn-red"
                                @click="deleteQuestion({question_id: ruleTestQuestion.id, quiz_id: test.id})"
                            >
                                Удалить
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <addingQuestionPopup
            v-if="visibleAddingQuestionPopup"
            :treeBankObject="bankQuestion"
            @closePopup="closePopup"
        />
    </div>
</template>

<script>
    import addingQuestionPopup from './addingQuestionPopup';

    import { getListBank } from '@base/api/bank-question/bank.js'

    export default {
        name: 'AdminTestShowQuestions',
        props: {
            test: {}
        },

        components: {
            addingQuestionPopup,
        },
        created() {
            getListBank({
                id: this.bank_id,
                'with[]': 'tree-childs'
            }).then((data) => {
                this.bankQuestion = data[0];
            })
        },
        data() {
            return {
                bankQuestion: {

                },
                testModel:{},
                update_setting_popup_show: false,
                types: {
                    'specific-question': 'Конкретный вопрос',
                    'all-questions-from-bank': 'Все вопросы из банка',
                    'random-questions-from-bank': 'Рандомные вопросы из банка',
                },
                visibleAddingQuestionPopup: false,
                visibleChangeTestSettingsPopup: false,
                bank_id: 6,
            }
        },
        methods: {
            deleteQuestion(model){

            },
            async closePopup(){
                this.visibleAddingQuestionPopup = false;
                getListBank({
                    id: this.bank_id,
                    'with[]': 'tree-childs'
                }).then((data) => {
                    this.bankQuestion = data[0];
                })
            },
        }
    };
</script>
