<template>
    <div>
        <test-navigation
        />
        <main class="course">
            <div class="container">
                <router-view
                    :test="test"
                />
            </div>
        </main>
    </div>
</template>

<script>
    import TestNavigation from './TestNavigation';
    import { getOrganizationQuizzes } from '@base/api/organization';

    export default {
        name: 'AdminTestsShow',
        components: { TestNavigation },
        data() {
            return {
                test: null,
            };
        },
        computed: {
            test_id() {
                return this.$route.params.id;
            }
        },
        created(){
            this.getQuiz();
        },
        methods: {
            getQuiz(){
                getOrganizationQuizzes({
                    id: this.test_id,
                    'with[]': 'indicators'
                }).then(response => {
                    this.test = response.data.data.quizzes[0];
                    //this.pagination.total = response.data.data.quizzes.total;
                });
            }
        }
    };
</script>

<style scoped>

</style>
