<template>
    <div>
        <div :class="'d-flex '+ prop_class">
            <vue-recaptcha class="m-auto" sitekey="6LcSIO0UAAAAAM6Djd3pSJ1mD9h_3YibCTjKQjK5" loadRecaptchaScript></vue-recaptcha>
        </div>
        <span class="text-center invalid-feedback" role="alert" v-if="prop_class">
            <strong>{{ message }}</strong>
        </span>
    </div>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    export default {
        name: "recaptcha",
        props: {
            prop_class: '',
            message: '',
        },
        components: {
            VueRecaptcha
        }
    }
</script>
