<template>
    <div class="col-lg-6 m-auto">
        <div class="form-group">
            <label class="title gray">{{ col.name }}</label>
            <vue-masked-input
                v-model="value"
                class="form-control"
                :class="(`data.${colNum}` in invalid) ? 'is-invalid' : ''"
                :mask="getMask(col.properties.type_id)"
                :placeholder="getPlaceholder(col.properties.type_id)"
            />
            <div
                v-if="`data.${colNum}` in invalid"
                class="invalid-feedback"
            >
                <span
                    v-for="(message, k) in invalid[`data.${colNum}`]"
                    :key="k"
                >{{ message }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import { defDatetime, defRowValue } from '@base/inc/defaults/db';
import VueMaskedInput from 'vue-masked-input';

export default {
    name: 'DBFieldDatetime',
    components: {
        VueMaskedInput,
    },
    props: {
        col: {
            type: Object,
            default: defDatetime,
        },
        colNum: {
            type: Number,
            default: 0,
        },
        rowValue: {
            type: Object,
            default: defRowValue,
        },
        invalid: {
            type: Object,
            default() {
                return {};
            },
        },
        fnChangeValue: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            value: '',
            properties: {
                datetime: {
                    placeholder: 'гггг-мм-дд чч:мм:сс',
                    mask: '1111-11-11 11:11:11',
                },
                date: {
                    placeholder: 'гггг-мм-дд',
                    mask: '1111-11-11',
                },
                time: {
                    placeholder: 'чч:мм:сс',
                    mask: '11:11:11',
                },

            },
        };
    },
    computed: {
        cellId() {
            let { id } = this.col;
            if (typeof this.rowValue.id === 'number' && this.rowValue.id) {
                id = this.rowValue.id;
            }
            return id;
        },
    },
    watch: {
        value(val) {
            this.fnChangeValue(this.cellId, val);
        },
        rowValue(val) {
            this.value = val.value;
        },
    },
    methods: {
        getPlaceholder(type) {
            let result = '';
            if (typeof this.properties[type] !== 'undefined') {
                result = this.properties[type].placeholder;
            }
            return result;
        },
        getMask(type) {
            let result = '';
            if (typeof this.properties[type] !== 'undefined') {
                result = this.properties[type].mask;
            }
            return result;
        },
    },
};
</script>

<style scoped>

</style>
