<template>
    <div class="col-lg-6 m-auto">
        <label class="title gray upper">{{ col.name }}</label>
        <input
            ref="file"
            type="file"
            :value="fileName"
            class="form-control btn btn-download"
            :class="(`data.${colNum}` in invalid) ? 'is-invalid' : ''"
            @change="handleFileUpload()"
        >
        <div
            v-if="`data[${colNum}]` in invalid"
            class="invalid-feedback"
        >
            <span
                v-for="(message, k) in invalid.data[colNum]"
                :key="k"
            >{{ message }}</span>
        </div>
    </div>
</template>

<script>
import { defFile, defRowValue } from '@base/inc/defaults/db';

export default {
    name: 'DBFieldFile',
    props: {
        col: {
            type: Object,
            default: defFile,
        },
        colNum: {
            type: Number,
            default: 0,
        },
        rowValue: {
            type: Object,
            default: defRowValue,
        },
        invalid: {
            type: Object,
            default() {
                return {};
            },
        },
        fnChangeValue: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            value: '',
            fileName: '',
        };
    },
    computed: {
        cellId() {
            let { id } = this.col;
            if (typeof this.rowValue.id === 'number' && this.rowValue.id) {
                id = this.rowValue.id;
            }
            return id;
        },
    },
    methods: {
        handleFileUpload() {
            [this.value] = this.$refs.file.files;
            this.fnChangeValue(this.cellId, this.value);
        },
    },
};
</script>

<style scoped>

</style>
