<template>
    <div class="col-lg-10 m-auto">
        <div class="form-group">
            <label class="title gray">{{ col.name }}</label>
            <input
                v-model="value"
                type="text"
                class="form-control"
                :class="(`data.${colNum}` in invalid) ? 'is-invalid' : ''"
            >
            <div
                v-if="`data[${colNum}]` in invalid"
                class="invalid-feedback"
            >
                <span
                    v-for="(message, k) in invalid.data[colNum]"
                    :key="k"
                >{{ message }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import { defInteger, defRowValue } from '@base/inc/defaults/db';

export default {
    name: 'DBFieldInteger',
    props: {
        col: {
            type: Object,
            default: defInteger,
        },
        colNum: {
            type: Number,
            default: 0,
        },
        rowValue: {
            type: Object,
            default: defRowValue,
        },
        invalid: {
            type: Object,
            default() {
                return {};
            },
        },
        fnChangeValue: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            value: '',
        };
    },
    computed: {
        cellId() {
            let { id } = this.col;
            if (typeof this.rowValue.id === 'number' && this.rowValue.id) {
                id = this.rowValue.id;
            }
            return id;
        },
    },
    watch: {
        rowValue(val) {
            if (val.value !== 'undefined') {
                this.value = val.value;
            }
        },
        value(val) {
            this.fnChangeValue(this.cellId, val);
        },
    },
    methods: {

    },
};
</script>

<style scoped>

</style>
