<template>
    <main class="edu-about ff-rb">
        <div
            v-if="typeof organization.id !== 'undefined'"
            class="container py-3"
        >
            <div class="row">
                <div class="col-lg-7 pt-3">
                    <span class="fs-18 title gray upper f-ls-5">
                        {{ organization.type ==='EMPLOYER' ? 'Об организации' : 'Об учреждении' }}
                        <i
                            v-if="permissions.moderation_org"
                            class="fa fa-pencil pointer"
                            aria-hidden="true"
                            @click="showManageAbout()"
                        />
                    </span>
                    <div
                        class="pt-3 title black f-ls-1"
                        v-html="organization.description"
                    />
                    <vue-edu-manage-about
                        :show="edu_manage_about_show"
                        :organization_id="organization.id"
                        :edit="{ can_iom: false }"
                        @closePopup="closeManageAbout"
                    />
                </div>
                <contact
                    class="ml-sm-auto col-lg-5 pt-3"
                    :moderation="permissions.moderation_org"
                    :contact="{ phone: organization.phone, email: organization.email }"
                    :organization_id="organization.id"
                />
            </div>
        </div>
<!--        <div class="edu-comments mt-48">-->
<!--            <div class="container pt-3" />-->
<!--        </div>-->
        <ManageContact
            v-if="permissions.moderation_org"
            :organization="organization"
        />
    </main>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import VueEduManageAbout from './PopupAbout';
// import VueEduManageAbout from '@base/components/org/edu/tab/manage/About';
import { defOrganization } from '@base/inc/defaults/app';
import ManageContact from '@base/components/org/base/Contact/PopupContact';
import Contact from '../Contact/Contact'


export default {
    name: 'OrgEduTabAbout',
    components: {
        VueEduManageAbout,
        ManageContact,
        Contact,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
    },
    data() {
        return {
            edu_manage_about_show: false,
            news: {},
            permissionNews: false,
            filter: {
                page: 1,
                per_page: 16,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
            'getStore',
        ]),
        hasUpdateReview() {
            return this.getStore('update.org.review');
        },
    },
    watch: {
        'organization.id': function (val) {
            if (val !== 'undefined') {
                this.getReviews();
            }
        },
        hasUpdateReview(val) {
            if (typeof this.organization.id === 'number') {
                if (val.includes(this.organization.id)) {
                    val.pop(this.organization.id);
                    this.setStore({ key: 'update.org.review', data: val });
                    this.getReviews();
                }
            }
        },
    },
    created() {
    },
    mounted() {
        if (typeof this.organization.id !== 'undefined') {
            const to = { params: { page: this.filter.page } };
            this.updateRoute(to);
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getReviews() {

        },
        showManageContact() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.contact');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.org.contact', data: modal });
            }
        },
        showManageAbout() {
            this.edu_manage_about_show = true;
        },
        closeManageAbout() {
            this.edu_manage_about_show = false;
        },
        updateRoute(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getReviews();
        },
    },
    beforeRouteUpdate (to, from, next) { // eslint-disable-line
        this.updateRoute(to);
        next();
    },
};

</script>
