<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ organization_id ? 'Редактирование организации' : 'Создание организации' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group">
                                        <label>Название</label>
                                        <input
                                            v-model="organization.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.name"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Логотип</label>
                                        <input
                                            ref="logo"
                                            type="file"
                                            class="form-control btn btn-download"
                                            :class="('logo' in invalid) ? 'is-invalid' : ''"
                                            @change="handleFileUpload()"
                                        >
                                        <div
                                            v-if="'logo' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.logo"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Адрес</label>
                                        <textarea
                                            v-model="organization.address"
                                            name="text"
                                            class="form-control"
                                            :class="('address' in invalid) ? 'is-invalid' : ''"
                                        />
                                        <div
                                            v-if="'address' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.address"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                    v-if="districts"
                                >
                                    <div class="form-group">
                                        <label>Район</label>
                                        <select
                                            class="form-control"
                                            v-model="organization.district_id"
                                        >
                                            <option :value='null'>Выбрать район</option>
                                            <option
                                                v-for="district in districts"
                                                :value="district.id"
                                            >
                                                {{ district.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Описание</label>
                                        <htmlEditor
                                            :content.sync="organization.description"
                                            name="description"
                                            :class="('description' in invalid) ? 'is-invalid' : ''"
                                        />
                                        <div
                                            v-if="'description' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.description"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Добавить тип</label>
                                        <div class="input-group">
                                            <select
                                                class="form-control"
                                                v-model="organization_type_select"
                                            >
                                                <option :value='null'>Выбрать</option>
                                                <option
                                                    v-for="organization_type in organization_types"
                                                    :value="organization_type.id"
                                                    :disabled="(organization.types && organization.types.map(a => a.id).includes(organization_type.id))"
                                                >
                                                    {{ organization_type.name }}
                                                </option>
                                            </select>
                                            <div class="input-group-append">
                                                <span
                                                    class="input-group-text pointer"
                                                    @click="addType"
                                                >
                                                    <i class="fa fa-plus" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                    v-if="organization.types"
                                >
                                    <div class="form-group">
                                        <label>Добавленные типы</label>
                                        <div
                                            v-for="type in organization.types"
                                            class="alert alert-secondary fade show align-items-center d-flex mr-2 mb-2 "
                                        >
                                            {{ type.name }}
                                            <div class="ml-auto">
                                                <i
                                                    class="fa fa-trash pointer"
                                                    @click="deleteType(type)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                    v-if="edit.can_iom"
                                >
                                    <div class="form-group">
                                        <b-form-checkbox
                                            v-model="organization.can_iom"
                                            switch
                                        >
                                            Осуществляет деятельность по созданию курсов для ИОМ
                                        </b-form-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submitOrganization()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ organization_id ? "Обновить" : "Создать" }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>

</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import deepClone from 'clonedeep';
import { defOrganization } from '@base/inc/defaults/app';
import htmlEditor from '@base/components/base/vueEditor';

export default {
    name: 'BaseOrgManageAbout',
    components: {
        htmlEditor,
    },
    props: {
        show: false,
        organization_id: {
            type: Number,
            default: 0,
        },
        districts: {
            type: Array | Object,
            default: null
        },
        edit: {
            type: Array | Object,
            required: false,
            default: {
                can_iom: false
            }
        }
    },
    data() {
        return {
            organization_type_select: null,
            organization_types: [],
            organization: {
                id: 0,
                name: '',
                description: '',
                address: '',
                popularity: 0,
                show: 0,
                district: 0,
            },
            permissions: {
                moderation_org_show: false,
            },
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
    },
    watch: {
        organization_id(val) {
            if (typeof val === 'number' && val) {
                this.permissions.moderation_org_show = false;
                this.getOrganization();
            }
        },
    },
    created() {
        this.getOrganizationTypes();
    },
    mounted() {
        if (typeof this.organization_id === 'number' && this.organization_id) {
            this.getOrganization();
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getOrganization() {
            this.showProcessMessage('save');
            this.$axios.get(`/api/v1/organizations/${this.organization_id}`, { params: {
                    with: [
                        'types'
                    ]
                }})
                .then((response) => {
                    this.showSuccessMessage('save', false);
                    this.organization = response.data.data.organization;
                    delete this.organization.logo;
                    this.permissions.moderation_org_show = response.data.data.permissions.moderation_org_show;
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        getOrganizationTypes(){
            this.$axios.get(`/api/v1/organization_types`)
                .then((response) => {
                    this.organization_types = response.data.data.types;
                })
        },
        addType(){
            const formData = new FormData();
            formData.append('_method', 'patch');
            formData.append('action', 'add-type');
            formData.append('type_id', this.organization_type_select);

            this.updateOrganization(formData).then((response) => {
                if (response.data.data.organization.types){
                    this.organization_type_select = null;
                    this.organization.types = response.data.data.organization.types;
                }
            });
        },
        deleteType(type){
            const formData = new FormData();
            formData.append('_method', 'patch');
            formData.append('action', 'delete-type');
            formData.append('type_id', type.id);

            this.updateOrganization(formData).then((response) => {
                if (response.data.data.organization.types){
                    this.organization.types = response.data.data.organization.types;
                }
            });
        },
        submitOrganization() {
            this.saveOrganization();
        },
        saveOrganization() {
            const formData = new FormData();
            formData.append('name', this.organization.name);
            formData.append('description', this.organization.description);
            formData.append('address', this.organization.address);
            formData.append('can_iom', this.organization.can_iom ? 1 : 0);


            if (this.organization.district_id) {
                formData.append('district_id', this.organization.district_id);
            }

            if (typeof this.organization.logo !== 'undefined' && this.organization.logo) {
                formData.append('logo', this.organization.logo);
            } else {
                formData.append('logo', '');
            }

            if (this.permissions.moderation_org_show) {
                formData.append('popularity', this.organization.popularity);
                formData.append('show', this.organization.show ? 1 : 0);
            }

            if (this.organization.id) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');

                this.updateOrganization(formData);
            } else {
                this.addOrganization(formData);
            }
        },
        addOrganization(formData) {
            this.showProcessMessage('save');
            this.$axios.post('/api/v1/organizations', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');

                    if (!this.hasManageAbout.includes(this.organization_id)) {
                        this.hasManageAbout.push(this.organization_id);
                    }
                    this.setStore({ key: 'modal.org.about', data: this.hasManageAbout });

                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        async updateOrganization(formData) {
            this.showProcessMessage('save');
            return this.$axios.post(`/api/v1/organizations/${this.organization_id}`, formData)
                .then((response) => {
                    this.showSuccessMessage('save');
                    return response;
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                    return error.response;
                });
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn, success = true) {

            this.spinner[btn] = false;
            this.success = success;
            this.invalid = {};
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        handleFileUpload() {
            [this.organization.logo] = this.$refs.logo.files;
        },
        modalHide() {
            this.resetOrganization();
            this.clearModal();

            this.$emit('closePopup');
        },
        resetOrganization() {
            if (!this.organization_id) {
                const tmp = deepClone(defOrganization);
                delete tmp.logo;
                this.organization = tmp;
                this.permissions.moderation_org_show = false;
            }
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>

<style scoped>

</style>
