<template>
    <main class="pt-20">
        <div class="container">
            <div
                v-if="not_success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-warning alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        <strong>Ошибка!</strong>&nbsp;
                        <span>Данные не обновлены.</span>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="not_success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                v-if="success"
                class="row pt-20"
            >
                <div class="col-lg-12 m-auto">
                    <div
                        class="alert alert-success alert-dismissible fade mb-0 show"
                        role="alert"
                    >
                        Данные обновлены.
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                            @click="success = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <nav
                v-if="tables.length"
                class="nav  red flex-row flex-nowrap pt-10 justify-content-center"
            >
                <li
                    v-for="(table, k) in tables"
                    :key="k"
                    class="nav-item"
                    :class="filter.tableId === table.id ? 'active' : ''"
                >
                    <router-link
                        class="nav-link"
                        :to="{ name: 'org.edu.database', params: { table: table.id, page: 1 }}"
                    >
                        {{ table.name }}
                    </router-link>
                </li>
            </nav>
            <div class="database pt-20 pb-40">
                <table
                    v-if="showTableDetails"
                    class="table"
                >
                    <thead>
                        <tr v-if="tableDetails[filter.tableId].cols.length">
                            <td class="title gray vertical-align-bottom">
                                №
                            </td>
                            <td
                                v-for="(cols, k) in tableDetails[filter.tableId].cols"
                                :key="k"
                                class="vertical-align-middle"
                            >
                                <div
                                    :class="getTooltip(cols.type)"
                                    class="table-col"
                                >
                                    {{ cols.name }}
                                </div>
                            </td>
                            <td
                                class="vertical-align-middle center"
                                style="visibility: hidden"
                            >
                                <a
                                    v-if="permissions.moderation_databases"
                                    class="btn btn-create"
                                >
                                    колонку
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody v-if="tableDetails[filter.tableId].rows.length">
                        <tr
                            v-for="(row, k) in tableDetails[filter.tableId].rows"
                            :key="k"
                        >
                            <td class="title gray vertical-align-middle">
                                {{ k + 1 }}
                            </td>
                            <td
                                v-for="(valRow, i) in row.values"
                                :key="i"
                                class="vertical-align-middle"
                                v-html="helperRowValue(valRow)"
                            />
                            <td class="vertical-align-middle center">
                                <a
                                    v-if="permissions.moderation_databases"
                                    class="btn mr-16"
                                    @click="showManage(row.id)"
                                >
                                    <img src="/images/icons/pencil-create.svg" width="24px">
                                </a>
                                <a
                                    v-if="permissions.moderation_databases"
                                    class="btn"
                                    @click="deleteRow(row.id)"
                                >
                                    <img src="/images/24/basic/delete.svg" width="24px">
                                </a>
                                <span
                                    v-if="spinner.row.delete.includes(row.id)"
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                />&nbsp;
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="100%">
                            <div class="d-flex">
                                <a
                                    v-if="permissions.moderation_databases"
                                    class="btn btn-create m-auto"
                                    @click="showManage(0)"
                                >Добавить строку</a>
                            </div>
                        </td>
                    </tfoot>
                </table>
                <div class="pt-20 center">
                    <PagePagination
                        v-if="showTableDetails"
                        :route-name="'org.edu.database'"
                        :route-params="{ page: 1, table: filter.tableId }"
                        :pagination="pagination"
                    />
                </div>
            </div>
        </div>
        <EduManageDatabase
            v-if="permissions.moderation_databases"
            :table="currentTable"
            :cols="currentTableCols"
            :row="currentTableRow"
            :permissions="permissions"
            :show="showModalManageTable"
            :organization="organization"
            :fn-modal-hide="hideManage"
            :fn-refresh-table="refreshTable"
        />
    </main>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';
import { defOrganization } from '@base/inc/defaults/app';
import Paginate from '@base/inc/func/Paginate';
import EduManageDatabase from './PopupDatabase';
import PagePagination from '@base/components/inc/Paginate';

export default {
    name: 'TabDatabase',
    components: {
        EduManageDatabase,
        PagePagination,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_databases: false,
                };
            },
        },
    },
    data() {
        return {
            tables: [],
            tableDetails: {},
            tableDetailCols: {},
            currentTableCols: [],
            currentTableRow: {},
            currentTable: {},
            showTableDetails: false,
            showModalManageTable: false,
            spinner: {
                row: {
                    delete: [],
                },
            },
            filter: {
                page: 1,
                tableId: 0,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            not_success: false,
            success: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
    },
    watch: {
        'organization.id': function () {
            this.changeProps();
        },
    },
    mounted() {
        this.changeProps();

        let { table, page } = this.$route.params;

        table = typeof table !== 'undefined' ? parseInt(table, 10) : table;
        page = typeof page !== 'undefined' ? parseInt(page, 10) : page;

        if (typeof table === 'number' && table) {
            this.filter.tableId = table;

            if (typeof page === 'number' && page) {
                this.filter.page = page;
            } else {
                this.filter.page = 1;
            }
            this.getTableDetails();
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getTooltip(type) {
            let result = '';
            if (typeof type.system_name === 'string') {
                switch (type.system_name) {
                case 'Select':
                    result = 'col-select';
                    break;
                case 'Text':
                    result = 'col-text';
                    break;
                case 'File':
                    result = 'col-file';
                    break;
                case 'Hyperlink':
                    result = 'col-hyperlink';
                    break;
                case 'Datetime':
                    result = 'col-text';
                    break;
                case 'Checkbox':
                    break;
                case 'Integer':
                case 'Double':
                    result = 'col-text';
                    break;
                default: break;
                }
            }
            return result;
        },
        changeProps() {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                this.getTables();
            }
        },
        getTables() {
            const loading = 'global';
            const params = {
                model_type: 'organization',
                model_id: this.organization.id,
                type: 'all',
                show: 1,
                order_by: 'priority',
                order: 'desc',
                paginated: 0,
                qty: 3,
                page: 1,
                struct_category_tag: 'page_db_org',
                struct_category_type: 'all',
                organization_id: this.organization.id,
            };


            this.$axios.get('/api/v1/databases', { params })
                .then((response) => {

                    this.tables = response.data.data.databases;
                    if (typeof this.tables[0].id === 'number' && this.tables[0].id) {
                        if (typeof this.$route.params.table === 'undefined') {
                            this.$router.push({ name: 'org.edu.database', params: { table: this.tables[0].id, page: 1 } });
                        }
                    }
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        getTableDetails() {
            const loading = 'local';
            const params = {
                show: 1,
                page: this.filter.page,
                qty: 15,
            };


            this.$axios.get(`/api/v1/databases/${this.filter.tableId}`, { params })
                .then((response) => {

                    if (typeof response.data.data.database.id !== 'undefined') {
                        const { id, cols, rows } = response.data.data.database;

                        delete response.data.data.database.cols;
                        delete response.data.data.database.rows;

                        this.tableDetails[id] = {
                            cols,
                            rows: rows.data,
                        };
                        this.pagination = Paginate.calculate(rows);
                        this.showTableDetails = true;
                        this.currentTableCols = cols;
                        this.currentTable = response.data.data.database;
                    }
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        deleteRow(rowId) {
            if (!confirm('Вы уверены что хотите удалить строку ?')) { // eslint-disable-line no-restricted-globals
                return false;
            }

            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'PATCH');
            formData.append('action', 'delete-row');
            formData.append('row_id', rowId);

            this.animateBtnRowDelete(rowId, 'show');


            this.$axios.post(`/api/v1/databases/${this.filter.tableId}`,
                formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.getTableDetails();
                    this.animateBtnRowDelete(rowId, 'hide');


                    this.success = true;
                    setTimeout(() => {
                        this.success = false;
                    }, 2000);
                })
                .catch(() => {
                    this.not_success = true;
                    this.animateBtnRowDelete(rowId, 'hide');

                });

            return true;
        },
        showManage(rowId) {
            if (rowId) {
                this.currentTableRow = { ...this.tableDetails[this.filter.tableId].rows.filter((row) => row.id === rowId)[0] };
            }
            this.showModalManageTable = true;
        },
        helperRowValue(val) {
            let result = val.value;
            if (val.type_col) {
                switch (val.type_col.system_name) {
                case 'File':
                    result = `<a href="${val.value}" download><i class="fa fa-file-o" aria-hidden="true"></i></a>`;
                    break;
                case 'Select':
                    result = val.col.properties.select[val.value];
                    break;
                case 'Checkbox':
                    result = val.value
                        ? '<i class="fa fa-check" aria-hidden="true"></i>'
                        : '<i class="fa fa-times" aria-hidden="true"></i>';
                    break;
                case 'Hyperlink':
                    result = `<a href="${val.value}" target= _blank><i class="fa fa-link" aria-hidden="true"></i></a>`;
                    break;
                default:
                    break;
                }
            } else {
                result = '';
            }
            return result;
        },
        animateBtnRowDelete(rowId, action) {
            const exist = this.spinner.row.delete.includes(rowId);
            if (action === 'show') {
                if (!exist) {
                    this.spinner.row.delete.push(rowId);
                }
            } else if (action === 'hide') {
                if (exist) {
                    this.spinner.row.delete.pop(rowId);
                }
            }
        },
        refreshTable() {
            this.getTableDetails();
        },
        hideManage() {
            this.showModalManageTable = false;
            this.currentTableRow = {};
        },
        updateRoute(to) {
            if (typeof to.params.page === 'number' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            if (typeof to.params.table === 'number' && to.params.table !== this.filter.tableId) {
                this.showTableDetails = false;
                this.filter.page = 1;
                this.filter.tableId = to.params.table;
            }

            if (this.filter.tableId) {
                this.getTableDetails();
            }
        },
    },
    beforeRouteUpdate (to, from, next) { // eslint-disable-line
        this.updateRoute(to);
        next();
    },
};
</script>
