<template>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-xl"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        {{ row.lenght ? 'Редактирование строки' : `Добвление строки к ${table.name}` }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div
                            v-for="(col, k) in cols"
                            :key="k"
                            class="row pt-32 pl-18"
                        >
                            <component
                                :is="`DB${col.type.system_name}`"
                                :col="col"
                                :col-num="k"
                                :row-value="getValueFromRow(col)"
                                :fn-change-value="onChageValue"
                                :invalid="invalid"
                            />
                        </div>
                        <div
                            v-if="not_success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-success alert-dismissible fade show"
                                    role="alert"
                                >
                                    Данные обновлены.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submit()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ 'Сохранить' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { defOrganization } from '@base/inc/defaults/app';
import { defTable, defRow } from '@base/inc/defaults/db';

import DBFile from '@base/components/inc/DBField/File';
import DBSelect from '@base/components/inc/DBField/Select';
import DBText from '@base/components/inc/DBField/Text';
import DBDatetime from '@base/components/inc/DBField/Datetime';
import DBCheckbox from '@base/components/inc/DBField/Checkbox';
import DBDouble from '@base/components/inc/DBField/Double';
import DBInteger from '@base/components/inc/DBField/Integer';
import DBHyperlink from '@base/components/inc/DBField/Hyperlink';

export default {
    name: 'EduManageDatabase',
    components: {
        DBFile,
        DBSelect,
        DBText,
        DBDatetime,
        DBCheckbox,
        DBDouble,
        DBInteger,
        DBHyperlink,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_databases: false,
                };
            },
        },
        table: {
            type: Object,
            default: defTable,
        },
        cols: {
            type: Array,
            default() {
                return [];
            },
        },
        row: {
            type: Object,
            default: defRow,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
        fnRefreshTable: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            values: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
    },
    watch: {
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        onChageValue(id, val) {
            this.values[id] = val;
        },
        submit() {
            const formData = new FormData();
            for (let key in this.values) { // eslint-disable-line no-restricted-syntax
                if ({}.hasOwnProperty.call(this.values, key)) {
                    key = parseInt(key, 10);
                    if (typeof this.row.id === 'number' && this.row.id) {
                        if (this.row.values.some((val) => val.id === key)) {
                            formData.append(`data[${key}]`, this.values[key]);
                        }
                    } else {
                        formData.append(`data[${key}]`, this.values[key]);
                    }
                }
            }

            if (typeof this.row.id !== 'undefined' && this.row.id) {
                formData.append('_method', 'PATCH');
                formData.append('action', 'set-array-value-cell');

                this.saveRow(formData);
            } else {
                formData.append('_method', 'PATCH');
                formData.append('action', 'create-row');

                this.saveRow(formData);
            }
        },
        getValueFromRow(col) {
            let value = {};
            if (typeof this.row.values !== 'undefined') {
                const tmp = this.row.values.filter((val) => val.database_col_id === col.id);
                if (tmp.length) {
                    [value] = tmp;
                }
            }

            return value;
        },
        saveRow(formData) {
            const loading = 'local';

            this.showProcessMessage('save', loading);
            this.$axios.post(`/api/v1/databases/${this.table.id}`,
                formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save', loading);
                    this.fnRefreshTable();
                    setTimeout(() => {
                        this.modalHide();
                    }, 3000);
                })
                .catch((e) => {
                    this.showErrorMessage('save', loading, e);
                });
        },
        showProcessMessage(btn, loading) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn, loading) {

            this.spinner[btn] = false;
            this.success = true;
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, loading, e) {

            this.spinner[btn] = false;
            if (typeof e.response.status !== 'undefined' && e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>

<style scoped>

</style>
