<!-- Bashinsky --> 
<template>
<div :class="banner.size">
    <div :style="`background: ${banner.background}`" class="card text-white banner">
        <div v-html="banner.html" v-if="banner.type === 'banner'"></div>
        <div v-if="banner.type === 'menu'">
            <WelcomepageBlockMenu :menuElements="banner.items" />
        </div>
    </div>
</div>
</template>

<script>
import WelcomepageBlockMenu from '../blocks/menu';
export default {
    name: 'banner',
    components: {
        WelcomepageBlockMenu,
    },
    props: {
        banner: {
            type: Object,
            default: ({
                size: '',
                html: '',
                background: '',
            })
        }
    },
    data() {
        return {

        }
    },

}
</script>

