<!-- Bashinsky --> 
<template>
    <div>
        <div class="fs-32 fs-sm pt-4 pb-4">
            {{ blockName }}
        </div>
        <div class="courses">
            <slot name="listElement"></slot>
        </div>
        <div class="pt-2 center pb-2">
            <router-link
                class="btn bnt-see-all"
                :to="{ name: routerName }"
            >
                Смотреть все
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    name: "BlockListCourse",
    props: {
        blockName: {
            type: String,
            default: '',
        },
        routerName: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
        }
    }
}
</script>
