<!-- Bashinsky --> 
<template>
<div class="head-main">
    <div class="page-head copp-info" :style="`background-image: url(${background}); background-repeat: no-repeat; background-size: cover;`">
        <div class="container pt-5 pb-5">
            <div class="fs-56 fs-eb">
                <slot name="control">
                </slot>
                <slot name="titleHeader">
                </slot>
            </div>
            <div class="pt-28 fs-16">
                {{ label }}
            </div>
            <div class="pt-40">
                <div class="row">
                    <div
                        v-for="(el, id) in blocks"
                        :key="id"
                        class="col-lg-4 pt-40"
                    >
                        <img
                            width="60"
                            :src="el.image"
                        >
                        <div class="fs-20 fs-sm pt-20 pr-20">
                            {{ el.text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'HomePageHeader',
    props: {
        blocks: {
            type: Array,
            default: [
                { text: 'Обучайтесь востребованным профессиям', image: '/images/icons/main/icon1.png' },
                { text: 'Составляйте образовательные программы', image: '/images/icons/main/icon2.png' },
                { text: 'Находите нужных специалистов в нашей базе', image: '/images/icons/main/icon3.png'},
            ],
        },
        background: {
            type: String,
            default: ''
        },
        label: {
            type: String,
            default: '',
        }
    },
    data() {
        return {
        }
    },
}
</script>
