<!-- Bashinsky --> 
<template>
<div class="nav flex-column nav-pills m" aria-orientation="vertical">
    <h2 class="pl-15">Меню</h2>
    <a
        v-for="(el, id) in menuElements"
        :key="id"
        class="nav-link" 
        role="tab"
        :href="el.url"
    >
        {{el.title}}
    </a>
</div>
</template>

<script>
export default {
    name: 'WelcomepageBlockMenu',
    props: {
        menuElements: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {
            currentElement: 1,
        }
    },
    methods: {
        setCurrentElement(id) {
            this.currentElement = id;
        },
    },

}
</script>