<!-- Bashinsky --> 
<template>
  <div>
    <slot name="control"></slot>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="200"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
        v-for="(el, id) in sliderElements"
        :key="id"
        :caption="el.text"
        :img-src="el.image"
      ></b-carousel-slide>

        <p class="mt-4">
        Slide #: {{ slide }}<br>
        Sliding: {{ sliding }}
        </p>
    </b-carousel>
    <!--<div v-for="(el, id) in sliderElements" :key="id">
      {{el}}
    </div>-->

  </div>
</template>

<script>
  export default {
    name: 'slider',
    props: {
      sliderElements: {
        type: Object,
        default: ()=>({}),
      }
    },
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>