<template>
    <div>
        <div >
            <div
                class="pointer"
                @click="startRecording"
                v-if="!recordingInProgress"
            >
                <iconBase
                    :iconName="'microfon'"
                    :height="24"
                    :width="26"
                    :viewBox="'0 0 24 26'"
                />
            </div>
            <div
              class="pointer"
              @click="stopRecording"
              v-else
            >
                <iconBase
                    :iconName="'deleteIcon'"
                    :height="24"
                    :width="26"
                    :viewBox="'0 0 24 26'"
                    :iconColor="'#6C7E82'"
                />
            </div>
        </div>
    </div>
</template>

<script>
import RecorderService from '../encoders/RecorderService'
import utils from '../encoders/Utils'
import iconBase from '../iconBase'

export default {
  components: {
    iconBase,
  },
  name: 'recorder',
  prop: ['value'],
  filters: {
    fileSizeToHumanSize (val) {
      return utils.humanFileSize(val, true)
    }
  },
  data () {
    return {
        recorderSrvc: {},
        recordingInProgress: false,
        supportedMimeTypes: [],
        recording: {},
        cleanupWhenFinished: true,
        addNoise: false,
        numAudioSamples: 0,
    }
  },
  // watch: {
  //   numAudioSamples() {
  //     console.log(this.numAudioSamples)
  //   }
  // },
  created () {
    this.recorderSrvc = new RecorderService()
    this.recorderSrvc.config.usingMediaRecorder = false

    this.recorderSrvc.em.addEventListener('recording', (evt) => this.onNewRecording(evt))
    this.recorderSrvc.em.addEventListener('onaudioprocess', (evt) => this.onAudioProcess(evt))
    this.recorderSrvc.config.broadcastAudioProcessEvents = true
  },
  mounted () {
  },
  methods: {
    startRecording () {
      this.numAudioSamples = 0

      this.recorderSrvc.config.manualEncoderId = 'wav'
      this.recorderSrvc.startRecording()
        .then(() => {
          this.recordingInProgress = true
        })
        .catch((error) => {
          console.error('Exception while start recording: ' + error)
          alert('Exception while start recording: ' + error.message)
        })
    },
    stopRecording () {
      this.recorderSrvc.stopRecording()
      this.recordingInProgress = false
    },
    onAudioProcess (e) {
      this.numAudioSamples++
      this.sendSamples()

      let inputBuffer = e.detail.inputBuffer
      let outputBuffer = e.detail.outputBuffer

      for (let channel = 0; channel < outputBuffer.numberOfChannels; channel++) {
        let inputData = inputBuffer.getChannelData(channel)
        let outputData = outputBuffer.getChannelData(channel)

        // Each sample
        for (let sample = 0; sample < inputBuffer.length; sample++) {
          if (this.addNoise) {
            outputData[sample] = (inputData[sample] + (Math.random() * 0.02))
          }
          else {
            outputData[sample] = inputData[sample]
          }
        }
      }
    },
    onNewRecording (evt) {
        this.recording = evt.detail.recording;
        this.$emit('onNewRecording', this.recording)
    },
    sendSamples() {
        let rightNow = new Date();
        this.$emit('sendSamples', rightNow)
    }

  }
}
</script>
