<template>
    <Popup 
        :caption="`${typePopup} внешний курс или мероприятие`"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="textForInputs">Название курса или мероприятия</label>
                            <input
                                v-model="externalCourseLocal.name"
                                class="w-100 orderPopupInput form-control"
                                :class="('name' in errors) ? 'is-invalid' : ''"
                                placeholder="Введите название"
                            />
                            <valid-sign
                                :name="'name'"
                                :invalid="errors"
                            />
                        </div>

                        <div class="form-group">
                            <label class="textForInputs">Название или ИНН организации</label>
                            <input
                                v-model="externalCourseLocal.external_organization_name"
                                class="w-100 orderPopupInput form-control"
                                :class="('external_organization_name' in errors) ? 'is-invalid' : ''"
                                placeholder="Введите название или ИНН организации"
                            />
                            <valid-sign
                                :name="'external_organization_name'"
                                :invalid="errors"
                            />
                        </div>

                        <div class="form-group">
                            <label class="textForInputs">Тип</label>
                            <select
                                v-model="externalCourseLocal.type"
                                class="w-100 orderPopupInput form-control"
                                :class="('type' in errors) ? 'is-invalid' : ''"
                            >
                                    <option
                                        style="margin: 10px"
                                        :value="'course'"
                                    >
                                        Курс
                                    </option>
                                    <option
                                        :value="'event'"
                                    >
                                        Мероприятие
                                    </option>
                            </select>
                            <valid-sign
                                :name="'type'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="textForInputs">Дата с</label>
                            <input
                                v-model="externalCourseLocal.start"
                                class="w-100 orderPopupInput"
                                :class="('start' in errors) ? 'is-invalid' : ''"
                                type="date"
                            />
                            <valid-sign
                                :name="'start'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="textForInputs">Дата по</label>
                            <input
                                v-model="externalCourseLocal.end"
                                class="w-100 orderPopupInput"
                                :class="('end' in errors) ? 'is-invalid' : ''"
                                type="date"
                            />
                            <valid-sign
                                :name="'end'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-2 mb-3" v-if="errors">
                <SuccessError :show="{success, not_success}" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button
                            @click="closePopup"
                            class="w-50 p-2 my-2 btn btn-secondary"
                            style="border-radius: 0"
                        >
                            Отмена
                        </button>
                    </div>
                    <div class="col-6 text-right">
                        <button
                            class="w-50 p-2 my-2 btn btn-danger"
                            style="border-radius: 0"
                            @click="submit"
                        >
                            {{ typePopup }}
                        </button>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <!--<button class="btn" @click="submit()">
                Сохранить
            </button>-->
        </template>
    </Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';

export default {
    name: "addOrderPopup",
    components: {
        validSign,
        SuccessError,
        Popup,
    },
    mixins: [mixSuccess],
    props: {
        submitExternalCourse: {
            type: Function,
        },
        externalCourse: {
            type: Object,
            default: () => {},
        }
    },
    data() {
        return {
            allCourses: [],
            externalCourseLocal: this.externalCourse ? deepClone(this.externalCourse) : {
                name: "",
                external_organization_name: "",
                type: "",
                start: Date,
                end: Date,
            },
            errors: {}
        }
    },
    computed: {
        typePopup() {
            return this.externalCourseLocal.id ? 'Обновить' : 'Добавить';
        }
    },
    watch: {
        externalCourse() {
            this.externalCourseLocal = deepClone(this.externalCourse);
        },
    },
    methods: {
        async submit() {
            try {
                await this.submitExternalCourse(this.externalCourseLocal);
                this.mixShow('success');
                setTimeout(() => { this.closePopup() }, 2000);
            } catch (e) {
                console.warn('e', e);
                this.errors = e;
                this.mixShow('error');
            }
        },
        closePopup() {
            this.$emit('closePopup');
            this.clear();
        },
        clear() {
            this.externalCourseLocal = {
                id: 0,
                name: "",
                external_organization_name: "",
                type: "",
                start: Date,
                end: Date,
            }
            this.errors = {};
        },
    }
}
</script>

<style scoped lang="scss">
.orderPopupInput{
    border: 2px solid #e6ecff;
    background: rgba(231, 240, 248, 0.747);
    height: 3em;
    text-indent: 1em;
    &.is-invalid {
        border: 2px solid #e3342f;;
    }
}
.textForInputs{
    margin-left: 1em;
    color: rgb(101, 101, 114);
}
</style>
