<template>
    <Popup
        caption="Добавить курс или мероприятие"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-9 row courses">
                    <div
                        v-for="(course, k) in courses"
                        :key="k"
                        class="course col-lg-4"
                    >
                        <card-course
                            v-if="course.type == 'course'"
                            :course="course"
                        >
                            <template slot="controls">
                                <button
                                    v-if="!basket.find(el => el.id == course.id)"
                                    @click="addCourse(course)"
                                    class="btn btn-create text-uppercase"
                                >
                                    + Добавить в заявку
                                </button>
                            </template>
                        </card-course>
                        <event-card
                            v-if="course.type == 'event'"
                            :event="course"
                        >
                            <template slot="controls">
                                <button
                                    v-if="!basket.find(el => el.id == course.id)"
                                    @click="addCourse(course)"
                                    class="btn btn-create text-uppercase"
                                >
                                    + Добавить в заявку
                                </button>
                            </template>
                        </event-card>
                    </div>
                </div>
                <div class="col-lg-3" style="z-index: 10;">
                    <div class="sticky-top" style="top: 80px">
                        <div class="input-group">
                            <input
                                v-model="search"
                                type="text"
                                placeholder="Искать"
                                aria-label="Искать"
                                class="form-control"
                            >
                            <div
                                class="input-group-append mr-auto"
                                @click="getSearchProgram()"
                            >
                            <span
                                id="search"
                                class="input-group-text title pointer"
                            >
                                <img src="/images/icons/search.svg" width="90%">
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-center pt-2">
                        <select
                            v-model="typeFilter"
                            class="custom-select mr-2"
                        >
                            <option value="all">Выберите тип</option>
                            <option value="course">Курсы</option>
                            <option value="event">Мероприятия</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-2 d-flex align-items-center">
                    <div class="text-nowrap">На странице</div>
                    <select
                        v-model="pagination.perPage"
                        class="custom-select ml-2"
                    >
                        <option
                            value="6"
                            selected
                        >
                            6
                        </option>
                        <option value="9">
                            9
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="15">
                            15
                        </option>
                    </select>
                </div>
                <div class="col-lg-7 d-flex m-auto">
                    <b-pagination
                        v-model="pagination.currentPage"
                        :total-rows="pagination.total"
                        :per-page="pagination.perPage"
                        aria-controls="my-table"
                        class="m-auto"
                    ></b-pagination>
                </div>
                <div class="col-lg-3" />
            </div>
        </template>
    </Popup>
</template>

<script>
import Popup from '@base/components/base/Popup';
import { getCourses } from '@base/api/marketplace';
import { createNamespacedHelpers, mapGetters } from 'vuex';
const organization = createNamespacedHelpers('organization');

import cardCourse from '@base/components/base/Card/cardCourse';
import eventCard from '@base/components/marketplace/EventCard';

import * as studyRoute from '@base/api/study-route/study-route';

export default {
    name: 'addOrderCourse',
    props: {
        basket: {
            type: Array,
            default: []
        },
        route_id: null,
    },
    components: {
        Popup,
        cardCourse,
        eventCard
    },
    mounted() {
        this.getEduOrganizations({
            per_page: 9999,
            type: 'EDU',
            page: 1,
        });
        this.getSearchProgram(1);
    },
    data() {
        return {
            courses: [],
            pagination: {
                total: 0,
                currentPage: 1,
                perPage: 12,
                items: 0,
            },
            search: '',
            typeFilter: 'all',
        }
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        ...organization.mapGetters({
            edu_organizations: 'ORGANIZATIONS',
        }),
    },
    watch: {
        'pagination.currentPage': function (val) {
            this.getSearchProgram(this.pagination.currentPage);
        },
        typeFilter() {
            this.getSearchProgram(1);
        }
    },
    methods: {
        ...organization.mapActions({
            getEduOrganizations: 'GET_ORGANIZATIONS',
        }),
        async addCourse(course){
            await studyRoute.attachCourse(this.route_id, course.id, 'course');

            this.$emit('reload_route');
        },
        getSearchProgram(page) {
            this.pagination.currentPage = page;
            getCourses({
                organization_id: this.organization_id,
                search: this.search,
                group_type: this.group_type,
                type: this.typeFilter,
                speciality_type: this.speciality_type,
                qty: this.pagination.perPage,
                page: this.pagination.currentPage,
                attempt_id: this.attempt_id,
                action: 'get-parents',
            })
                .then((response) => {
                    this.courses = response.data.courses.data;
                    this.pagination.total = response.data.courses.total;

                });
        },
        closePopup() {
            this.$emit('closePopup');
            this.clear();
        },
        clear() {

        }
    }
};
</script>

<style scoped>

</style>
