<template>
<div>
    <table class="table table-striped table-bordered table-adaptive">
        <thead>
            <tr>
                <td>
                    #
                </td>
                <th>
                    {{ title }}
                </th>
                <th>
                    Организация
                </th>
                <th>
                    Тип
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(elem, k) in basket">
                <td>
                    {{ elem.id ? elem.id : k }}
                </td>
                <td :data-label="title">
                    <div class="form-check">
                        <input v-if="permittedActions.select && ( elem.pivot.status !== 'accepted' && elem.pivot.status !== 'rejected' && elem.pivot.status !== 'ended' )" type="checkbox" class="form-check-input" @click="select($event, elem.id)" />
                        <label>{{elem.name}}</label>
                    </div>
                </td>
                <td data-label="Организация">
                    {{selectedBasket ? (elem.organization ? elem.organization.name : '') : elem.external_organization_name}}
                </td>
                <td data-label="Тип">
                    <div v-if="elem.type == 'course'">
                        Курс
                    </div>
                    <div v-else>
                        Мероприятие
                        <input
                            v-if="elem.can_speaker"
                            v-b-tooltip="'Быть спикером?'"
                            type="checkbox"
                            :disabled="!permittedActions.delete"
                            v-model="elem.want_speaker"
                            @change="changeSpeaker(elem)"
                        />
                    </div>
                </td>
                <td>
                    <div
                        class="d-flex justify-content-center"
                    >
                        <i v-if="permittedActions.edit" class="mr-1 btn btn-danger fa fa-edit" @click="editItem(elem)" />
                        <i v-if="permittedActions.delete" class="btn btn-danger fa fa-trash" @click="deleteItem(elem)" />
                        <div
                            class="form-check" v-if="permittedActions.select && ( elem.pivot.status !== 'accepted' && elem.pivot.status !== 'rejected' && elem.pivot.status !== 'ended' ) && elem.type == 'event'"
                        >
                            <input type="checkbox" class="form-check-input" @click="allowToBeSpeaker($event, elem.id)" />
                            <label class="form-check-label">Разрешить быть спикером</label>
                        </div>
                        <div class="form-check" v-if="permittedActions.selectEndedCourse && ( elem.pivot.status === 'accepted' || elem.pivot.status === 'pending' )">
                            <input type="checkbox" class="form-check-input" @click="selectedEndedCourse($event, elem.id)" />
                            <label class="form-check-label">Пользователь прослушал курс/мероприятие</label>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: ''
        },
        basket: {
            type: Array,
            default: () => [],
        },
        orgs: {
            type: Object,
            default: () => ({}),
        },
        selectedBasket: {
            type: Boolean,
            default: false,
        },
        permittedActions: {
            type: Object,
            default: () => ({}),
        },
    },
    methods: {
        changeSpeaker(item){
            this.$emit('changeSpeaker', item);
        },
        deleteItem(item) {
            this.$emit('deleteItem', item);
        },
        editItem(item) {
            this.$emit('editItem', item);
        },
        select(event, course_id) {
            this.$emit('selected', event.target.checked, course_id);
        },
        allowToBeSpeaker(event, course_id) {
            this.$emit('allowToBeSpeaker', event.target.checked, course_id);
        },
        selectedEndedCourse(event, course_id) {
            this.$emit('selectedEndedCourse', event.target.checked, course_id);
        },
    }
}
</script>
