<template>
<div class="container my-4">
    <div class="pb-3 d-flex">
        <h2>Заявка #{{ route ? route.id : ''  }}</h2>

        <h2 class="ml-auto"><small>Статус:</small> <span class="text-danger">{{ currentStatusIOM }}</span></h2>
    </div>
    <div class="pb-3">
        <div v-if="globalPermissions.iom_municipal_tutoring">
            Написать: <b v-if="route && route.user">{{ route.user.fio }}</b>
            <router-link
                v-if="route && route.chat"
                :to="{ name: 'me.chat', params: { currentChatId: route.chat.id } }"
            >
                <img src="/images/icons/head/chats.svg" style="width: 24px;margin-bottom: 0.5rem;">
            </router-link>
        </div>

        <div v-if="globalPermissions.iom_regional_tutoring">
            <a
                :href="'/chats/append/' + route.chat.id"
            >
                Написать в чат по данной заявке
            </a>
        </div>

        <router-link
            v-if="route && route.chat && !globalPermissions.iom_municipal_tutoring && !globalPermissions.iom_regional_tutoring"
            :to="{ name: 'me.chat', params: { currentChatId: route.chat.id } }"
        >
            Написать тьютору ВЦПМ <img src="/images/icons/head/chats.svg" style="width: 24px;margin-bottom: 0.5rem;">
        </router-link>
    </div>
    <orderTable title="Курсы и мероприятия системы" :basket="routeCourses" :orgs="edu_organizations" @changeSpeaker="changeSpeaker" :selectedBasket="true" :permittedActions="{
                edit: false,
                delete: moderationIsAvailabel.moderation_course,
                select: moderationIsAvailabel.coursesApproving,
                selectEndedCourse: moderationIsAvailabel.coursesApproving
            }"
                @deleteItem="deleteCourse"
                @selected="selectedCourse"
                @allowToBeSpeaker="allowToBeSpeaker"
                @selectedEndedCourse="selectedEndedCourse"
    />

    <div class="row no-gutters py-2">
        <div class="col-6" v-if="moderationIsAvailabel.moderation_course">
            <button @click="OrderAttachCourseOpen" class="w-50 p-2 my-2 btn text-danger">
                + Добавить
            </button>
        </div>
    </div>

    <orderTable title="Внешние курсы и мероприятия" :basket="routeExternalCourses" :orgs="edu_organizations" :selectedBasket="false" :permittedActions="{
                edit: moderationIsAvailabel.moderation_course,
                delete: moderationIsAvailabel.moderation_course,
            }" @deleteItem="deleteExternalCourse" @editItem="showEditExternalCourse" />
    <div class="row no-gutters pt-2">
        <div class="col-6" v-if="moderationIsAvailabel.moderation_course">
            <button @click="OrderPopupOpen" class="w-50 p-2 my-2 btn text-danger">
                + Добавить
            </button>
        </div>
        <div class="col-6" v-if="moderationIsAvailabel.attachPhotocopy">
            <h3 v-if ="route.form === null"><span class="badge badge-danger">
                Вы не можете скачать шаблон анкеты, потому-что в момент создания заявки небыло активной анкеты
            </span></h3>
            <a v-else :href="`/api/v1/study-routes/${route_id}/doc-template`" class="w-50 p-2 my-2 btn text-danger">
                Скачать шаблон документа
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-lg-12">
                    <h3>История: <span class="pointer text-danger" @click="openPopupComment()">{{ route.comments ? route.comments.length : 0 }} <i class="fa fa-eye"/></span></h3>
                </div>

                <div class="col-lg-12" v-if="moderationIsAvailabel.passToStep">
                    <div class="d-flex">
                        <div class="w-75">
                            <label>Отправить на шаг</label>
                            <select v-model="toStep" class="custom-select p-2 my-2 mr-2">
                                <option :value="stepId" selected v-for="stepId in stepDirection[step]" :key="stepId">
                                    {{ sendToSteps[stepId] }}
                                </option>
                            </select>
                        </div>
                        <div class="ml-auto mt-auto pb-2">
                            <button class="btn btn-danger" @click="accept()">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" v-if="moderationIsAvailabel.passToStep">
                    <textarea
                        class="form-control"
                        v-model="comment"
                        placeholder="Комментарий.."
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="py-4 row" v-show="moderationIsAvailabel.moderation_course">
        <div class="col-12">
            <button class="w-25 py-2 my-2 btn btn-danger" style="border-radius: 0" @click="showFormPopup" v-if="moderationIsAvailabel.moderation_route_form">
                Заполнить анкету
            </button>
        </div>
    </div>

    <div v-if="route.documents.length > 0">
        <h3 class="pb-2" v-show="route.documents">
            Документы:
        </h3>

        <div class="col-lg-12 row">
            <div v-for="(el, id) in route.documents" :key="id" class="file">
                <a target="_blank" :href="el.full_url">
                    {{ el.name }}
                </a>
                <i class="fs-20 pointer fa fa-trash" @click="deleteDocument(el.id)" v-show="moderationIsAvailabel.attachDocument">
                </i>
            </div>
            <div v-if="!route.documents || route.documents.length == 0">
                <i>Ничего не загружено</i>
            </div>
        </div>
    </div>

    <div class="col-lg-6 row">
        <div v-show="moderationIsAvailabel.attachPhotocopy">
            <h3 v-if="route.scan">Добавить скан</h3>
            <h3 v-else>Заменить скан</h3>
            <div class="my-2 input-group">
                <div class="custom-file btn">
                    <input ref="scan" type="file" class="file-input" required>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" @click="setScan()">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="file mt-2" v-if="route.scan">
            <h3>
                Скан. копия
            </h3>
            <a target="_blank" :href="route.scan.full_url">
                {{ route.scan.file_name }}
            </a>
            <i class="fs-20 pointer fa fa-trash" @click="deleteDocument(el.id)" v-show="moderationIsAvailabel.attachDocument">
            </i>
        </div>

    </div>

    <div class="py-4 row" v-show="moderationIsAvailabel.moderation_course">
        <div class="col-12">
            <button class="w-25 py-2 my-2 btn btn-danger" v-show="moderationIsAvailabel.attachDocument" @click="showUploadPopup()">
                + Добавить документ
            </button>
        </div>
    </div>

    <div class="row">
            <div class="col-lg-5 d-flex ml-auto mr-auto" v-if="moderationIsAvailabel.coursesApproving && courses.length">
                    <button class="w-50 ml-2 mr-2 p-2 my-2 btn btn-success" @click="acceptCourses">
                        Одобрить выбранные курсы
                    </button>
                    <button class="w-50 ml-2 mr-2 p-2 my-2 btn btn-danger" @click="rejectCourses">
                        Отклонить выбранные курсы
                    </button>
            </div>
            <div class="col-lg-5 d-flex ml-auto mr-auto" v-if="moderationIsAvailabel.coursesApproving && endedCourses.length">
                <button class="btn btn-success ml-auto mr-auto" @click="endCourses">
                    Перевести в завершенные выбранные курсы
                </button>
            </div>
    </div>

    <addOrderPopup v-if="addOrderPopupShow" @closePopup="OrderPopupClose" :submitExternalCourse="submitExternalCourse" :externalCourse="currentExternalCourse" />

    <addOrderCourse v-if="addOrderAttachCourseShow" :route_id="route_id" :basket="routeCourses" @closePopup="OrderAttachCourseClose" @reload_route="ReloadRoute" />

    <uploadFilePopup v-if="visibleUploadFilePopup" v-model="files" :uploadFiles="addDocument" @closePopup="closeUploadPopup">
    </uploadFilePopup>

    <FormPopup v-if="visibleFormPopup" v-model="formFieldsValue" @closePopup="closeFormPopup" :fields="formFields" :submit="saveFormData">
    </FormPopup>

    <Comment-Popup :value="route.comments" v-if="visibleCommentPopup" @closePopup="visibleCommentPopup = false"></Comment-Popup>
</div>
</template>

<script>
import addOrderPopup from './addOrderPopup'
import addOrderCourse from './addOrderCourse';
import FormPopup from './manage/formPopup';
import CommentPopup from './manage/CommentPopup';
import orderTable from './orderTable'
import {
    createNamespacedHelpers
} from 'vuex';
const organization = createNamespacedHelpers('organization');
const routes = createNamespacedHelpers('routes');
import * as studyRoute from "@base/api/study-route/study-route";
import uploadFilePopup from "@base/components/base/uploadFilePopup";
import { getOrganization } from '@base/api/organization';
import {
    factoryParams
} from '@base/api/factoryParams';

export const moderationAction = {
    moderation_course: false,
    moderation_route_form: false,
    passToStep: false,
    attachPhotocopy: false,
    returnPreviousStep: false,
    attachDocument: false,
    coursesApproving: false,
}

export default {
    name: "ProfileRoutesShow",
    components: {
        orderTable,
        addOrderCourse,
        addOrderPopup,
        uploadFilePopup,
        FormPopup,
        CommentPopup,
    },
    props: {
        route_id: {
            type: Number,
            default: 0
        },
        organization_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            addOrderPopupShow: false,
            addOrderAttachCourseShow: false,
            route: {
                courses: [],
                external_courses: [],
            },
            newOrders: [],
            visibleUploadFilePopup: false,
            visibleFormPopup: false,
            visibleCommentPopup: false,
            currentExternalCourse: null,
            formFieldsValue: {},
            files: {},
            toast: {
                error: {
                    message: 'Произошла ошибка, попробуйте позже',
                    title: 'Ошибка',
                    variant: 'danger'
                },
                sendToNextStep: {
                    message: 'Заявка отправлена на следующий шаг.',
                    title: 'Отправлена',
                    variant: 'success'
                },
                sendToNextStepError: {
                    message: 'Произошла ошибка! Заявка не отправлена на следующий шаг.',
                    title: 'Ошибка!',
                    variant: 'danger'
                },
                scanUpload: {
                    message: 'Документ был успешно прикреплён',
                    title: 'Документ прикреплен!',
                    variant: 'success'
                },
                scanUploadError: {
                    message: 'Произошла ошибка! Отсканированный документ не прикреплен.',
                    title: 'Ошибка!',
                    variant: 'danger'
                },
                iomApprove: {
                    message: 'Курсы заявки были одобрены',
                    title: 'Заявка одобрена',
                    variant: 'success',
                },
                iomReject: {
                    message: 'Курсы заявки были отклонены',
                    title: 'Заявка отклонена',
                    variant: 'success',
                },
                iomCourseEnd: {
                    message: 'Выбранные курсы/мероприятия',
                    title: 'Отмечены как завершенные',
                    variant: 'success',
                },
            },
            toStep: 0,
            steps: {
                [null]: ['teaching', 'iom_municipal_tutoring', 'iom_municipal_coordinating'],
                0: ['teaching', 'iom_municipal_coordinating'],
                1: ['iom_head_teaching', 'iom_municipal_coordinating'],
                2: ['managing', 'iom_municipal_coordinating'],
                3: ['iom_regional_tutoring', 'iom_municipal_coordinating'],
                4: ['iom_course_approving', 'iom_municipal_coordinating'],
             },
            stepsPermission: {
                'teaching': [0, null],
                'iom_head_teaching': [1],
                'managing': [2],
                'iom_regional_tutoring': [3],
                'iom_course_approving': [4],
                'iom_full_access': [null, 0, 1, 2, 3, 4],
                'iom_municipal_tutoring': [null, 0, 1, 2],
            },

            stepDirection: {
                [null]: [1],
                0: [1],
                1: [2],
                2: [0, 1, 3],
                3: [0, 1, 2, 4],
                4: [],
            },

            statusIOM: {
                [null]: 'Формирование заявки',
                0: 'Формирование заявки',
                1: 'Проверка сформированной заявки завучем',
                2: 'Проверка сформированной заявки директором',
                3: 'На согласовании у регионального координатора',
                4: 'Заявка одобрена',
            },
            sendToSteps: {
                [null]: 'Отправить на стадию формирования заявки',
                0: 'Отправить преподавателю',
                1: 'Отправить завучу',
                2: 'Отправить директору',
                3: 'Отправить региональному координатору',
                4: 'Одобрить заявку',
            },
            comment: '',
            courses: [],
            endedCourses: [],
            permissions: {},
        }
    },
    async created() {
        if (this.$store.state.routes.route) {
            this.route = this.$store.state.routes.route;
            const response = await getOrganization(this.route.organization ? this.route.organization.id : this.organization_id);
            this.permissions = response.data.data.permissions;
            if (this.$attrs.permissions){
                if (this.$attrs.permissions.iom_course_approving){
                    this.permissions.iom_course_approving = true;
                }
            }
        } else {
            if (this.routeType === 'profile') {
                if (this.globalPermissions.iom_regional_tutoring || this.globalPermissions.iom_municipal_coordinating || this.globalPermissions.iom_municipal_tutoring) {
                    await this.routeByAttachedRegions({
                        id: this.route_id
                    });
                } else {
                    await this.getUserRoute({
                        id: this.route_id
                    });
                }
                this.route = this.$store.state.routes.route;

                const response = await getOrganization(this.route.organization ? this.route.organization.id : this.organization_id);
                this.permissions = response.data.data.permissions;

            } else if (this.routeType === 'viro' || this.routeType === 'edu') {

                const response = await getOrganization(this.organization_id);
                this.permissions = response.data.data.permissions;

                if (this.permissions.iom_course_approving){
                    //если человек в организации отвечает за подтвержние на запись в курсы в заявке на ИОМ
                    await this.getApprovingRoute({
                        id: this.route_id,
                    });
                }else{
                    await this.getRewiewRoute({
                        id: this.route_id,
                        organization_id: this.organization_id
                    });
                }
                this.route = this.$store.state.routes.route;
            }

        }
    },
    computed: {
        ...organization.mapGetters({
            edu_organizations: 'ORGANIZATIONS',
        }),
        formFields() {
            return this.route.form?.fields ? this.route.form.fields : [];
        },
        globalPermissions() {
          return this.$store.state.globalPermissions;
        },
        step() {
            return this.route?.step;
        },
        currentStatusIOM() {
            return this.statusIOM[this.step];
        },
        canTakeAction() {
            return this.steps[this.step] ? this.steps[this.step] : [];
        },
        moderationIsAvailabel() {
            let moderationControl = {
                ...moderationAction
            };

            const setVisiblePermission = (controls, visible) => {
                controls.map((el) => moderationControl[el] = visible)
            };

            const hidden = (controls) => {
                setVisiblePermission(controls, false)
            }

            const visible = (controls) => {
                setVisiblePermission(controls, true)
            }


            this.canTakeAction.forEach(action => {
                if (this.permissions[action] || this.globalPermissions[action]) {
                    switch (action) {
                        case 'teaching':
                            visible(['moderation_course', 'attachDocument', 'moderation_route_form', 'passToStep']);
                            break;
                        case 'iom_head_teaching':
                            visible(['moderation_course', 'passToStep']);
                            break;
                        case 'managing':
                            visible(['attachPhotocopy', 'passToStep','returnPreviousStep']);
                            break;
                        case 'iom_regional_tutoring':
                            visible(['moderation_course', 'passToStep']);
                            break;
                        case 'iom_municipal_tutoring':
                            visible(['moderation_course', 'returnPreviousStep']);
                            break;
                        case 'iom_course_approving':
                            visible(['coursesApproving']);
                            hidden(['passToStep']);
                            break;
                        case 'iom_municipal_coordinating':
                            hidden(['passToStep']);
                            break;
                    }
                } else {
                    //hidden(['passToStep']);
                }
            })
            return moderationControl;
        },
        routeType() {
            return this.$route.meta.type;
        },
        routeCourses() {
            return this.route?.courses;
        },
        routeExternalCourses() {
            return this.route?.external_courses;
        },
    },
    methods: {
        changeSpeaker(item){
            //console.log(item);
            //allow-speaker
            //forbid-speaker
            //let type = 'forbid-speaker';

            let a = [];
            a.push(item.id);

            if (item.want_speaker){
                studyRoute.allowSpeaker(a, this.route_id)
            }else{
                studyRoute.forbidSpeaker(a, this.route_id)
            }



        },
        async ReloadRoute(){
            if (this.routeType === 'profile') {
                if (this.globalPermissions.iom_regional_tutoring || this.globalPermissions.iom_municipal_coordinating || this.globalPermissions.iom_municipal_tutoring) {
                    await this.routeByAttachedRegions({
                        id: this.route_id
                    });
                } else {
                    await this.getUserRoute({
                        id: this.route_id
                    });
                }
                this.route = this.$store.state.routes.route;

                const response = await getOrganization(this.route.organization ? this.route.organization.id : this.organization_id);
                this.permissions = response.data.data.permissions;

            } else if (this.routeType === 'viro' || this.routeType === 'edu') {

                const response = await getOrganization(this.organization_id);
                this.permissions = response.data.data.permissions;

                if (this.permissions.iom_course_approving){
                    //если человек в организации отвечает за подтвержние на запись в курсы в заявке на ИОМ
                    await this.getApprovingRoute({
                        id: this.route_id,
                    });
                }else{
                    await this.getRewiewRoute({
                        id: this.route_id,
                        organization_id: this.organization_id
                    });
                }
                this.route = this.$store.state.routes.route;
            }
        },
        ...routes.mapActions({
            getApprovingRoute: 'GER_APPROVING_ROUTE',
            getRewiewRoute: 'GER_REVIEW_ROUTE',
            getUserRoute: 'GET_USER_ROUTE',
            routeByAttachedRegions: 'ROUTE_BY_ATTACHED_REGIONS'
        }),
        openPopupComment() {
            this.visibleCommentPopup = true;
        },
        async selectedCourse(selected, course_id) {
            if (selected) {
                this.courses.push({ id: course_id, speaker: 0 });
            } else {
                this.courses = this.courses.filter((el) => el.id !== course_id );
            }
        },
        async selectedEndedCourse(selected, course_id) {
            if (selected) {
                this.endedCourses.push(course_id);
            } else {
                this.endedCourses = this.endedCourses.filter((el) => el !== course_id );
            }
        },
        async allowToBeSpeaker(selected, course_id) {
                this.courses = this.courses.map((el) => {
                    if (el.id === course_id) {
                        return { id: course_id, speaker: selected ? 1 : 0 }
                    } else return el;
                } );
        },
        async getRoute() {
            try {
                const factory = new FactoryParams();
                const response = await studyRoute.userRoutes({
                    id: this.route_id,
                    ...factory.with(['organization', 'courses', 'form']).getParams(),
                })
                this.route = response.data.data.studyRoutes[0]
                if (this.route.form_values) {
                    this.setFormFieldsValue();
                }
            } catch (e) {
                console.warn(e);
            }
        },
        setFormFieldsValue() {
            this.route.form_values.forEach(el => {
                this.formFieldsValue[el.study_route_form_field_id] = el.value;
            });
        },
        OrderAttachCourseOpen() {
            this.addOrderAttachCourseShow = true;
        },
        OrderAttachCourseClose(){
            this.addOrderAttachCourseShow = false;
            this.ReloadRoute();
        },
        OrderPopupOpen() {
            this.addOrderPopupShow = true;
        },
        OrderPopupClose() {
            this.addOrderPopupShow = false;
        },
        closeUploadPopup() {
            this.visibleUploadFilePopup = false;
        },
        showUploadPopup() {
            this.visibleUploadFilePopup = true;
        },

        async submitExternalCourse(externalCourse) {
            try {
                let response;
                if (externalCourse.id) {
                    response = await studyRoute.updateExternalCourse(this.route_id, externalCourse);
                } else {
                    response = await studyRoute.createExternalCourse(this.route_id, externalCourse);
                }
                this.route.external_courses = response.data.data.data;
            } catch (e) {
                throw e.response.data.errors;
            }
        },

        async addDocument() {
            try {
                const response = await studyRoute.attachDocumensts(this.route_id, this.files);
                const documents = response.data.data.route.documents;
                this.$set(this.route, 'documents', documents);
            } catch (e) {
                throw e;
            }
        },
        async deleteDocument(document_id) {
            try {
                await studyRoute.detachDocuments(this.route_id, document_id);
                const documents = this.route.documents.filter(el => el.id !== document_id);
                this.$set(this.route, 'documents', documents);
            } catch (e) {
                this.toastShow(this.toast.error);
            }
        },
        async deleteExternalCourse(external_course) {
            try {
                await studyRoute.deleteExternalCourse(this.route_id, external_course.id);
                const external_courses = this.route.external_courses.filter(el => el.id !== external_course.id);
                this.$set(this.route, 'external_courses', external_courses);
            } catch (e) {
                this.toastShow(this.toast.error);
            }
        },

        async deleteCourse(course) {
            try {
                let commnet = prompt("Укажите причину удаления курса:", "");

                if (commnet != null){
                    studyRoute.detachCourse(this.route_id, course.id, course.type, commnet);
                    const courses = this.route.courses.filter(el => el.id !== course.id);
                    this.$set(this.route, 'courses', courses)
                }
            } catch (e) {
                this.toastShow(this.toast.error);
            }
        },
        async setScan() {
            try {
                const response = await studyRoute.setScan(this.route_id, this.$refs.scan.files[0]);
                this.$set(this.route, 'scan', response.data.data.route.scan);
                console.log('response', response);
                this.toastShow(this.toast.scanUpload);
            } catch (e) {
                console.warn(e)
                this.toastShow(this.toast.scanUploadError);
            }
        },
        async accept() {
            try {
                let payload = {
                    id: this.route_id,
                }
                const mergeRouteResponse = (route, response) => ({
                    ...this.route,
                    ...response.data.data.route,
                })
                // if (this.comment) {
                payload.comment = this.comment
                // }

                if (this.step < this.toStep) {
                    const response = await studyRoute.accept(payload);
                    this.route = mergeRouteResponse(this.route, response);
                } else {
                    payload.step = this.toStep;
                    const response = await studyRoute.decline(payload);
                    this.route = mergeRouteResponse(this.route, response);
                }
                this.comment = '';
                this.toastShow(this.toast.sendToNextStep);
            } catch (e) {
                console.warn(e);
                this.toastShow(this.toast.sendToNextStepError);
            }
        },
        async acceptCourses() {
            try {
                const response = await studyRoute.acceptCourses(this.courses, this.route_id);
                this.route = { ...this.route, ...response.data.data.route };
                this.toastShow(this.toast.iomApprove);
                //location.reload();
            } catch (e) {
                console.warn(e);
            }
        },
        async rejectCourses() {
            try {
                const response = await studyRoute.rejectCourses(this.courses, this.route_id);
                this.route = { ...this.route, ...response.data.data.route };
                this.toastShow(this.toast.iomReject);
            } catch (e) {
                console.warn(e);
            }
        },
        async endCourses() {
            try {
                const response = await studyRoute.endCourses(this.endedCourses, this.route_id);
                this.route = response.data.data.route;
                this.toastShow(this.toast.iomCourseEnd);
                //location.reload();
            } catch (e) {
                console.warn(e);
            }
        },
        toastShow(toast) {
            this.$bvToast.toast(toast.message, {
                title: toast.title,
                variant: toast.variant,
                solid: true,
                toaster: 'b-toaster-top-center',
                autoHideDelay: 1500,
            });
        },
        showEditExternalCourse(externalCourse) {
            this.currentExternalCourse = externalCourse;
            this.addOrderPopupShow = true;
        },
        showFormPopup() {
            this.setFormFieldsValue();
            this.visibleFormPopup = true;
        },
        closeFormPopup() {
            this.visibleFormPopup = false;
        },
        async saveFormData() {
            try {
                const response = await studyRoute.saveFormData(this.route_id, this.formFieldsValue);
                this.route.form_values = response.data.data.route.form_values;
            } catch {
                throw e.response.data.errors;
            }
        },
    }
}
</script>
