<template>
<div class="container mb-4">
    <div
        class="text-center mt-5"
        v-if="(is_view_my_iom && !globalPermissions.iom_regional_tutoring && !globalPermissions.iom_municipal_tutoring) && !auth.cards_approve_status"
    >
        <h2>Данные в вашем профиле не подтверждены или не заполнены!</h2>

        <router-link
            :to="{ name: 'me.profile.data' }"
            class="btn btn-danger"
        >
            Перейти в профиль
        </router-link>
    </div>
    <div v-else>
        <div>
            <NavTab  :value="routes" class="red mt-3" v-if="is_view_my_iom && nav_view"/>
        </div>
        <div class="row mt-4">
            <div v-if="routeType === 'profile' || routeType === 'admin'" class="col-lg-2">
                <select v-model="filter" class="custom-select">
                    <option :value="el.type" v-for="(el, id) in filterData" :key="id">{{ el.description }}</option>
                </select>
            </div>
            <div class="col-lg-2" v-if="visibleSearchControl">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="search" placeholder="ФИО пользователя..." />
                    <div class="input-group-append">
                        <a class="input-group-text pointer" @click="findUsersRoutes()">
                            <i class="fa fa-search" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" v-if="globalPermissions.iom_municipal_tutoring || globalPermissions.iom_regional_tutoring">
                <div class="input-group">
                    <select
                        class="form-control"
                        v-model="select_district_id"
                    >
                        <option :value="null">Все доступные районы</option>
                        <option
                            v-for="district in auth.districts"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <a class="input-group-text pointer" @click="findUsersRoutes()">
                            <i class="fa fa-search" />
                        </a>
                    </div>
                </div>
            </div>
            <div
                class="ml-auto col-lg-1"
                v-if="globalPermissions.iom_municipal_coordinating || globalPermissions.iom_regional_tutoring"
            >
                <a
                    href="/api/v1/study-routes/?action=routes-by-attached-regions-excel&paginated=0"
                    class="btn"
                >
                    <i class="fa fa-file-excel-o"/>
                </a>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col">
                <table class="table table-bordered table-adaptive table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th v-if="routeType === 'admin' || routeType === 'profile'">Организация</th>
                        <th v-if="routeType === 'admin' || routeType === 'viro'">Пользователь</th>
                        <td v-if="globalPermissions.iom_municipal_tutoring || permissions.managing || globalPermissions.iom_regional_tutoring">
                            ФИО
                        </td>
                        <th>Курсов и мероприятий</th>
                        <th>Статус</th>
                        <th>Завершена</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="route in studyRoutes.data">
                        <td data-label="#">
                            {{ route.id }}
                        </td>
                        <td data-label="Организация" v-if="routeType === 'admin' || routeType === 'profile'">
                            {{ route.organization.name }}
                        </td>
                        <td v-if="globalPermissions.iom_municipal_tutoring || permissions.managing || globalPermissions.iom_regional_tutoring">
                            {{ route.user.fio }}
                        </td>
                        <td data-label="Пользователь" v-if="routeType === 'admin' || routeType === 'viro'">
                            {{ route.user.firstname + ' ' + route.user.lastname }}
                        </td>
                        <td data-label="Курсов и мероприятий">
                            {{ route.courses ? route.courses.length : 0 }}
                        </td>
                        <td data-label="Статус">
                            {{ statusIOM[route.step] }}
                        </td>
                        <td data-label="Завершена">
                            {{ route.finished ? 'Да' : 'Нет' }}
                        </td>
                        <td data-label="" class="d-flex justify-content-center">
                            <i class="btn fa fa-eye" v-tooltip.top-center="'Просмотр ИОМ'" @click="ToRoute(route)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-if="studyRoutes.total > studyRoutes.per_page">
            <b-pagination class="m-auto" :total-rows="studyRoutes.total" :per-page="studyRoutes.per_page" v-model="studyRoutes.current_page">
            </b-pagination>
        </div>
    </div>
</div>
</template>

<script>
import {
    createNamespacedHelpers, mapGetters
} from 'vuex';
const routes = createNamespacedHelpers('routes');
import NavTab from '@base/components/base/NavTab.vue';

export default {
    name: "ProfileRoutesIndex",
    components: {
        NavTab
    },
    props: {
        nav_view: true,
        organization_id: {
            type: Number,
            default: 0,
        },
        permissions: {
            type: Object,
            default: () => ({}),
        },
    },
    data() {
        return {
            filterData: [{
                    type: '',
                    description: 'Все заявки',
                },
                {
                    type: 'only_created',
                    description: 'Только созданные',
                },
                {
                    type: 'accept',
                    description: 'Анкеты прошедшие модерацию'
                },
                {
                    type: 'returned',
                    description: 'Aнкеты которые вернулись обратно'
                },
                {
                    type: 'in_review',
                    description: 'Анкеты которые проходят модерацию'
                },
            ],
            statusIOM: {
                [null]: 'Формирование заявки',
                0: 'Формирование заявки',
                1: 'Проверка сформированной заявки завучем',
                2: 'Проверка сформированной заявки директором',
                3: 'На согласовании у регионального координатора',
                4: 'Заявка одобрена',
            },
            filter: '',
            search: '',
            select_district_id: null
        }
    },
    created() {
        this.getRoutes();
    },
    beforeDestroy() {
        this.clearRoutes();
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        routeType() {
            return this.$route.meta.type;
        },
        studyRoutes() {
            return this.$store.state.routes.studyRoutes;
        },
        visibleSearchControl() {
            return this.routeType !== 'profile' || this.globalPermissions.iom_municipal_tutoring || this.globalPermissions.iom_regional_tutoring;
        },
        globalPermissions() {
            return this.$store.state.globalPermissions;
        },
        is_view_my_iom() {
            if (this.auth && this.auth.organizations){
                for (const org of this.auth.organizations){
                    if (org.permissions){
                        for (var prop in org.permissions) {
                            if (prop == 'organization_user_can_start_iom' && org.permissions[prop]) return true
                        }
                    }
                }
            }
            return false
        },
        routes() {
            return [
                { name: "me.routes", description: "Мой ИОМ", visible: this.is_view_my_iom && !this.globalPermissions.iom_regional_tutoring },
                { name: 'me.routes.testing', description: 'Тестирования', visible: this.is_view_my_iom },
                { name: "me.routes", description: "Муниципалитеты ИОМ", visible: this.globalPermissions.iom_municipal_tutoring },
                { name: "me.routes", description: "Региональные ИОМ", visible: this.globalPermissions.iom_regional_tutoring },
                { name: 'me.routes.marketplace.index', description: 'Маркетплейс', tooltip: 'Для ИОМ' ,visible: true },
            ];
        }
    },
    watch: {
        'studyRoutes.current_page': function () {
            this.getRoutes();
        },
        filter() {
            this.studyRoutes.current_page = 1;
            this.getRoutes();
        },
        'permissions.iom_course_approving': function () {
            this.getRoutes();
        },
        'permissions.iom_head_teaching': function () {
            this.getRoutes();
        },
        'permissions.managing': function () {
            this.getRoutes();
        },
    },
    methods: {
        ...routes.mapActions({
            userRoutes: 'USER_ROUTES',
            reviewRoutes: 'REVIEW_ROUTES',
            routesByAttachedRegions: 'ROUTES_BY_ATTACHED_REGIONS',
            studyRoutesApproving: 'STUDY_ROUTES_APPROVING',
            allRoutes: 'ALL_ROUTES',
        }),
        ...routes.mapMutations({
            setRoute: 'SET_ROUTE',
            clearRoutes: 'ClEAR_ROUTE',
        }),
        getRoutes() {
            switch (this.routeType) {
                case 'profile':
                    if (this.globalPermissions.iom_regional_tutoring || this.globalPermissions.iom_municipal_coordinating || this.globalPermissions.iom_municipal_tutoring) {
                        this.routesByAttachedRegions({
                            studyRoutes: this.studyRoutes,
                            filter: this.filter,
                        });
                    } else {
                            this.userRoutes({
                                studyRoutes: this.studyRoutes,
                                filter: this.filter,
                            });
                        }

                    break;
                case 'viro':
                case 'edu':
                    if (this.permissions.iom_course_approving) {
                        this.studyRoutesApproving({
                            studyRoutes: this.studyRoutes,
                            organization_id: this.organization_id,
                            filter: this.filter,
                        });
                    } else if (this.permissions.iom_head_teaching || this.permissions.managing) {
                        this.reviewRoutes({
                            organization_id: this.organization_id,
                            studyRoutes: this.studyRoutes,
                            filter: this.filter,
                        });
                    }
                    break;
            case 'admin':
                    this.allRoutes({
                        studyRoutes: this.studyRoutes,
                        filter: this.filter,
                    })
                    break;
            }
        },
        findUsersRoutes() {
            this.allRoutes({
                studyRoutes: this.studyRoutes,
                search: this.search,
                district_id: this.select_district_id,
                filter: this.filter
            })
        },
        ToRoute(route) {
            this.setRoute(route);
            const routePush = (routeName, routeId) => {
                this.$router.push({
                    name: routeName,
                    params: {
                        route_id: routeId,
                    }
                });
            };
            switch (this.routeType) {
                case 'profile':
                    routePush('me.routes.show', route.id);
                    break;
                case 'viro':
                    routePush('org.viro.routes.show', route.id);
                        break;
                case 'edu':
                    routePush('org.edu.routes.show', route.id);
                    break;
                case 'admin':
                    routePush('admin.iom.routes.show', route.id);
                    break;
            }
        }
    }
}
</script>
