<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ (table.id ? 'Редактирование ' : 'Создание ') + 'таблицы' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="table.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Организация</label>
                                        <vue-bootstrap-typeahead
                                            v-if="!table.id"
                                            v-model="search.organization"
                                            v-multi-ref:vbt
                                            :data="organizations"
                                            :serializer="s => s.name"
                                            placeholder="Организация"
                                            @hit="filter.organization = $event"
                                        />
                                        <input
                                            v-else
                                            v-model="table.organization.name"
                                            class="form-control"
                                            disabled
                                            type="text"
                                        >
                                        <div
                                            v-if="'organization_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.organization_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="categories.length !== 'undefined' && categories.length"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Категории</label>
                                        <select
                                            v-model="table.struct_category_id"
                                            class="form-control"
                                            :class="('struct_category_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                value="0"
                                                disabled
                                            >
                                                Выберите категорию
                                            </option>
                                            <option
                                                v-for="(cat, k) in categories"
                                                :key="k"
                                                :value="cat.id"
                                            >
                                                {{ cat.type.toLowerCase() + ' | ' + cat.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'struct_category_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.struct_category_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div v-if="typeof categories.length === 'undefined' || !categories.length">
                                        <div class="alert alert-warning">
                                            Нет доступных категорий
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="showStruct"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Структура</label>
                                        <select
                                            v-model="table.database_struct_id"
                                            class="form-control"
                                            :class="('database_struct_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                value="0"
                                                disabled
                                            >
                                                Выберите структуру
                                            </option>
                                            <option
                                                v-for="(struct, k) in structs"
                                                :key="k"
                                                :value="struct.id"
                                            >
                                                {{ struct.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'database_struct_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.database_struct_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div v-if="!showStruct">
                                        <div class="alert alert-warning">
                                            Нет доступных структур
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Тип модели</label>
                                        <select
                                            v-model="modelType"
                                            :disabled="!table.organization_id || !table.database_struct_id"
                                            class="form-control"
                                            :class="('model_type' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                value=""
                                                disabled
                                            >
                                                Выберите модель
                                            </option>
                                            <option
                                                v-for="(item, key) in modelTypes"
                                                :key="key"
                                                :value="key"
                                            >
                                                {{ item.label }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'model_type' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.model_type"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="modelType && modelType !== 'organization'"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Модель</label>
                                        <vue-bootstrap-typeahead
                                            v-model="search.model"
                                            v-multi-ref:vbt
                                            :data="models"
                                            :serializer="s => s[modelTypes[modelType].field]"
                                            placeholder="Модель"
                                            @hit="filter.model = $event"
                                        />
                                        <div
                                            v-if="'model_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.model_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="modelType && modelType === 'organization'"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="typeof structAttachedOrganizations.length !== 'undefined'
                                            && structAttachedOrganizations.length"
                                        class="form-group"
                                    >
                                        <b-form-checkbox-group
                                            v-model="tableModelIds"
                                            :options="structAttachedOrganizations"
                                            switches
                                            stacked
                                        />
                                        <div
                                            v-if="'model_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.model_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div
                                        v-if="typeof structAttachedOrganizations.length === 'undefined'
                                            || !structAttachedOrganizations.length"
                                    >
                                        <div class="alert alert-warning">
                                            Нет связанных организаций
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="modelType && modelType !== 'organization'"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Прикреплена к моделям</label>
                                    <div v-if="typeof modelsAttached.length !== 'undefined' && modelsAttached.length">
                                        <div
                                            v-for="(mod, k) in modelsAttached"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>{{ mod[modelTypes[modelType].field] }}</strong>
                                        </div>
                                    </div>
                                    <div v-if="typeof modelsAttached.length === 'undefined' || !modelsAttached.length">
                                        <div class="alert alert-warning">
                                            Нет прикрепленных моделей
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">
                                            Потрядок отображения
                                            <i
                                                class="fa fa-sort-numeric-asc"
                                                aria-hidden="true"
                                            />
                                        </label>
                                        <input
                                            v-model="table.priority"
                                            class="form-control"
                                            :class="('priority' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'priority' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.priority"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2 pl-18">
                                <div class="col-lg-10 m-auto form-group form-check">
                                    <input
                                        v-model="table.show"
                                        type="checkbox"
                                        name="show"
                                        class="form-check-input"
                                        :class="('show' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <label class="title gray upper form-check-label">Показывать</label>
                                    <div
                                        v-if="'show' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.show"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2 pl-18">
                                <div class="col-lg-10 m-auto form-group form-check">
                                    <input
                                        v-model="table.private"
                                        type="checkbox"
                                        name="private"
                                        class="form-check-input"
                                        :class="('private' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <label class="title gray upper form-check-label">Приватная</label>
                                    <div
                                        v-if="'private' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.private"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import 'vue-multi-ref';
import { BFormCheckboxGroup } from 'bootstrap-vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import deepClone from 'clonedeep';
import { defTable } from '@base/inc/defaults/db';

export default {
    name: 'AddMultipleDBTable',
    components: {
        BFormCheckboxGroup,
    },
    mixins: [Proccess],
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        modelTypes: {
            type: Object,
            default() {
                return {};
            },
        },
        fnRefreshTable: {
            type: Function,
            default: () => {},
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            table: {},
            tableModelIds: [],
            modelType: '',
            structs: [],
            structsByCategory: [],
            structAttachedOrganizations: [],
            categories: [],
            organizations: [],
            models: [],
            modelsAttached: [],
            filter: {
                model: {},
                model_id: 0,
                organization: {},
                organization_id: 0,
            },
            search: {
                model: '',
                organization: '',
            },
            searched: {
                model: '',
                organization: '',
            },
        };
    },
    computed: {
        showStruct() {
            let result = false;
            if ((this.structsByCategory.length !== 'undefined' && this.structsByCategory.length)
                && (this.categories.length !== 'undefined' && this.categories.length)
                && this.table.struct_category_id) {
                result = true;
            }

            return result;
        },
    },
    watch: {
        'search.model': function (val) {
            if (val.length && Math.abs(val.length - this.searched.model.length) > 2) {
                this.searched.model = val;
                if (typeof this.filter.model.id === 'undefined') {
                    this.getModels('local');
                }
            } else if (!val.length) {
                this.searched.model = '';
                this.filter.model_id = 0;
                this.filter.model = {};
            }
        },
        'filter.model': function (val) {
            if (typeof val.id !== 'undefined') {
                this.filter.model_id = val.id;
                this.table.model_id = val.id;
                this.table.model_type = this.modelType;
            } else {
                this.filter.model_id = 0;
                this.table.model_id = 0;
                this.table.model_type = '';
            }
        },
        'search.organization': function (val) {
            if (val.length && Math.abs(val.length - this.searched.organization.length) > 2) {
                this.searched.organization = val;
                if (typeof this.filter.organization.id === 'undefined') {
                    this.getOrganizations('local');
                }
            } else if (!val.length) {
                this.searched.organization = '';
                this.filter.organization_id = 0;
                this.filter.organization = {};
            }
        },
        'filter.organization': function (val) {
            if (typeof val.id !== 'undefined') {
                this.filter.organization_id = val.id;
                this.table.organization_id = val.id;
                this.getCategories('local');
                this.getStructs('local');
            } else {
                this.filter.organization_id = 0;
                this.table.organization_id = 0;
            }
        },
        'table.database_struct_id': function () {
            this.setAttachedOrganizations();
        },
        modelType() {
            this.setAttachedOrganizations();
        },
        'table.struct_category_id': function () {
            this.setStructs();
        },
        showStruct() {
            this.setStructs();
        },
    },
    created() {
        this.table = deepClone(defTable);
    },
    mounted() {
    },
    methods: {
        setStructs() {
            if (this.table.struct_category_id && this.showStruct) {
                const tmp = this.structsByCategory.filter(
                    (cat) => cat.id === this.table.struct_category_id,
                );
                if (tmp.length) {
                    this.structs = tmp[0].database_structs;
                } else {
                    this.structs = [];
                }
            } else {
                this.structs = [];
            }
        },
        setAttachedOrganizations() {
            if (this.modelType === 'organization') {
                if (typeof this.table.database_struct_id === 'number' && this.table.database_struct_id) {
                    this.getAttachedOrganizations('local');
                } else {
                    this.structAttachedOrganizations = [];
                }
            } else {
                this.structAttachedOrganizations = [];
            }
        },
        getOrganizations(loading) {
            const url = '/api/v1/organizations';
            const btn = '';
            const notify = false;
            const params = {
                type: 'VIRO,EDU,EMPLOYER',
                show: 1,
                qty: 15,
                without_paginate: 1,
                search: this.searched.organization,
            };

            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { organizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organizations = organizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getAttachedOrganizations(loading) {
            const url = `/api/v1/organizations/${this.table.organization_id}/structs/${this.table.database_struct_id}`;
            const btn = '';
            const notify = false;
            const params = {
                response_with_attached_organization: 1,
            };

            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { attachedOgranizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    if (attachedOgranizations) {
                        this.structAttachedOrganizations = attachedOgranizations.map((org) => ({
                            value: org.id,
                            text: org.name,
                        }));
                    } else {
                        this.structAttachedOrganizations = [];
                    }
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getModels(loading) {
            let url = '';
            const params = {};
            const btn = '';
            const notify = false;

            if (this.modelType === 'organization') {
                url = '/api/v1/organizations';
                params.type = 'VIRO,EDU,EMPLOYER';
                params.show = 1;
                params.qty = 15;
                params.without_paginate = 1;
            }

            params.search = this.searched.model;

            if (url) {
                this.showProcessMessage(loading, btn);
                this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                    .then((response) => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.models = response.data.data[this.modelTypes[this.modelType].response];
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    })
                    .finally(() => {
                    });
            }
        },
        getCategories(loading) {
            const url = `/api/v1/organizations/${this.table.organization_id}/struct-categories`;
            const btn = '';
            const notify = false;
            const params = {
                type: 'all',
                show: 1,
            };

            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { categories } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.categories = categories;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getStructs(loading) {
            const url = `/api/v1/organizations/${this.table.organization_id}/structs`;
            const btn = '';
            const notify = false;
            const params = {
                category_type: 'all',
                only_active: 1,
            };

            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { with_categories } } }) => { // eslint-disable-line camelcase
                    this.showSuccessMessage(loading, btn, notify);
                    this.structsByCategory = with_categories; // eslint-disable-line camelcase
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        submit() {
            if (!this.table.id) {
                if (this.modelType === 'organization' && this.tableModelIds.length) {
                    this.table.model_type = this.modelType;
                    this.createMultiple();
                } else {
                    this.createOne();
                }
            }
        },
        createMultiple() {
            const btn = 'save';
            const notify = true;
            const loading = 'global';

            const requests = [];
            for (const modelId of this.tableModelIds) { // eslint-disable-line
                const url = '/api/v1/databases';
                const formData = new FormData();

                formData.append('name', this.table.name);
                formData.append('model_id', modelId);
                formData.append('model_type', this.table.model_type);
                formData.append('organization_id', this.table.organization_id);
                formData.append('struct_id', this.table.database_struct_id);
                formData.append('struct_category_id', this.table.struct_category_id);
                formData.append('priority', this.table.priority);
                formData.append('private', this.table.private ? 1 : 0);
                formData.append('show', this.table.show ? 1 : 0);

                requests.push(this.$axios.post(url, formData, { headers: { 'Content-Type': 'multipart/form-data' } }));
            }

            this.showProcessMessage(loading, btn);
            Promise.all(requests)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    setTimeout(() => {
                        this.modalHide();
                    }, 3000);
                }).catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                });
        },
        createOne() {
            const url = '/api/v1/databases';
            const btn = 'save';
            const notify = true;
            const loading = 'local';

            const formData = new FormData();

            formData.append('name', this.table.name);
            formData.append('model_id', this.table.model_id);
            formData.append('model_type', this.table.model_type);
            formData.append('organization_id', this.table.organization_id);
            formData.append('struct_id', this.table.database_struct_id);
            formData.append('struct_category_id', this.table.struct_category_id);
            formData.append('priority', this.table.priority);
            formData.append('private', this.table.private ? 1 : 0);
            formData.append('show', this.table.show ? 1 : 0);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { model } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    this.modelsAttached.push(model);
                    if (typeof this.$refs.vbt[1].inputValue !== 'undefined') {
                        this.$refs.vbt[1].inputValue = '';
                        this.searched.model = '';
                        this.filter.model_id = 0;
                        this.table.model_id = 0;
                    }
                }).catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.categories = [];
            this.modelType = '';
            this.modelsAttached = [];
            this.structs = [];
            this.structsByCategory = [];
            this.structAttachedOrganizations = [];
            this.tableModelIds = [];
            this.table = deepClone(defTable);
            this.clearMixModal();
            this.clearVbt();
        },
        clearVbt() {
            this.filter.model_id = 0;
            this.filter.model = {};
            this.filter.organization_id = 0;
            this.filter.organization = {};
            this.search.model = '';
            this.search.organization = '';
            this.searched.model = '';
            this.searched.organization = '';

            if (Array.isArray(this.$refs.vbt)) {
                this.$refs.vbt.map((item) => { item.inputValue = ''; }); // eslint-disable-line
            }
        },
    },
};
</script>

<style scoped>

</style>
