<template>
    <div class="container py-2">
        <div class="row">
            <div
                class="col-lg-12 mb-3"
                v-if="errors"
            >
                <SuccessError :show="{success, not_success}" />
            </div>
            <div class="col">
                <a
                    class="btn"
                    @click="adminIndicatorShow = true"
                >
                    Создать
                </a>
            </div>
        </div>
        <div class="py-2">
            <table class="table table-striped table-bordered table-adaptive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Индикатор</th>
                        <th>Формула</th>
                        <th>Уровней</th>
                        <th style="width: 150px"></th>
                    </tr>
                </thead>
                <tbody>
                <tr
                    v-for="(indicator, id) in indicators"
                    :key="id"
                >
                    <td data-label="#">
                        {{ indicator.id }}
                    </td>
                    <td data-label="Индикатор">
                        <router-link
                            :to="{name: 'admin.indicators.show', params: {id: indicator.id}}"
                        >
                            {{ indicator.name }}
                        </router-link>
                    </td>
                    <td data-label="Формула">{{ indicator.formula }}</td>
                    <td data-label="Уровней">{{ indicator.levels ? indicator.levels.length : 0 }}</td>
                    <td data-label="">
                        <router-link
                            class="btn fa fa-eye"
                            :to="{name: 'admin.indicators.show', params: {id: indicator.id}}"
                        />
                        <i
                            class="ml-2 btn fa fa-trash pointer"
                            @click="deleteIndicator(indicator)"
                        />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row py-2">
            <b-pagination
                v-model="page"
                :total-rows="pagination.total"
                :per-page="pagination.perPage"
                aria-controls="my-table"
                class="m-auto"
            ></b-pagination>
        </div>

        <admin-indicator-create
            v-if="adminIndicatorShow"
            @closePopup="closeIndicatorPopup"
        />
    </div>
</template>

<script>
    import { getIndicators,deleteIndicator } from '@base/api/indicators.js';
    import AdminIndicatorCreate from '../indicators/manage/Create';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import validSign from '@base/components/base/validSign';

    export default {
        name: 'AdminIndicatorsIndex',
        mixins: [mixSuccess],
        components: {
            AdminIndicatorCreate,
            validSign,
            SuccessError,
        },
        data() {
            return {
                adminIndicatorShow: false,
                indicators: [],
                pagination: {
                    currentPage: 1,
                    total: 0,
                    perPage: 12
                },
                page: 1,
                errors: {}
            }
        },
        created() {
            this.getIndicators();
        },
        watch: {
            page(val) {
                this.getIndicators();
            }
        },
        methods: {
            closeIndicatorPopup(data){
                this.adminIndicatorShow = false
                if (data.reload){
                    this.getIndicators();
                }
            },
            getIndicators(){
                getIndicators({
                    page: this.page,
                    'with[]': 'levels'
                }).then(response => {
                    this.indicators = response.data.data.indicators.data;
                    this.pagination.total = response.data.data.indicators.total;
                })
            },
            deleteIndicator(indicator){
                deleteIndicator(indicator).then((data) => {
                    this.getIndicators();
                    this.mixShow('success');
                    this.errors = {}
                }).catch(error => {
                    this.mixShow('error');

                    this.errors = error.response?.data.errors || {};

                    for (let error in this.errors){
                        this.errors[error].forEach(message => {
                            this.$bvToast.toast(message, {
                                title: 'Индикатор: ' +  indicator.name,
                                variant: 'danger',
                                solid: true,
                                toaster: 'b-toaster-top-center',
                                autoHideDelay: 3000,
                            })
                        })
                    }
                })
            }
        }
    };
</script>

