<template>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Название</label>
                    <input type="text" class="form-control" disabled id="name" v-model="indicator.name">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Формула</label>
                    <input type="formula" class="form-control" id="formula" disabled v-model="indicator.formula">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <button
                        class="btn"
                        @click="adminIndicatorShow = true"
                    >
                        Изменить
                    </button>
                </div>
            </div>

        </div>
        <table class="table table-adaptive table-striped table-bordered">
            <caption style="caption-side: top;">
                Уровни
            </caption>
            <thead>
                <tr>
                    <th>#id</th>
                    <th>Описание</th>
                    <th>Level</th>
                    <th>Min, %</th>
                    <th>Max, %</th>
                    <th style="width: 150px"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="level in indicator.levels">
                    <td data-label="#id">{{ level.id }}</td>
                    <td data-label="Описание">{{ level.name }}</td>
                    <td data-label="Level">{{ level.level }}</td>
                    <td data-label="Min, %">{{ level.min }}</td>
                    <td data-label="Max, %">{{ level.max }}</td>
                    <td data-label="">
                        <i
                            @click="openUpdateLevel(level)"
                            class="btn fa fa-edit"
                        />

                        <i
                            @click="deleteLevel(level)"
                            class="ml-2 btn fa fa-trash"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <button
                        class="btn"
                        @click="adminIndicatorCreateLevel = true"
                    >
                        Добавить уровень
                    </button>
                </div>
            </div>
        </div>
        <admin-indicator-create-level
            :indicator="indicator"
            :show="adminIndicatorCreateLevel"
            @closePopup="closeAdminIndicatorCreateLevel"
        />
        <admin-indicator-update-level
            :indicator="indicator"
            :show="showUpdateLevel"
            :indicatorLevel="updateLevel"
            @closePopup="closeUpdateLevel"
        />
        <admin-indicator-create
            v-if="adminIndicatorShow"
            v-model="indicator"
            @closePopup="closeIndicatorPopup"
        />
    </div>
</template>

<script>
    import { getIndicator, updateIndicator, deleteIndicatorLevel } from '@base/api/indicators';
    import AdminIndicatorCreateLevel from './manage/CreateLevel';
    import AdminIndicatorUpdateLevel from './manage/UpdateLevel';
    import AdminIndicatorCreate from '../indicators/manage/Create';

    export default {
        name: 'AdminIndicatorShow',
        components: {
            AdminIndicatorUpdateLevel,
            AdminIndicatorCreateLevel,
            AdminIndicatorCreate,
        },
        data() {
            return {
                adminIndicatorCreateLevel: false,
                showUpdateLevel: false,
                indicator: {
                    levels: []
                },
                levels: [],
                updateLevel: {

                },
                adminIndicatorShow: false,
            }
        },
        created() {
            this.getIndicator();
        },
        computed: {
            id () {
                return this.$route.params.id;
            }
        },
        methods: {
            closeAdminIndicatorCreateLevel(){
                this.adminIndicatorCreateLevel = false;
                this.getIndicator();
            },
            // saveIndicator(){
            //     updateIndicator(this.indicator.id, {
            //         _method: 'PATCH',
            //         action: 'data',
            //         name: this.indicator.name,
            //         formula: this.indicator.formula,
            //     })
            // },
            closeIndicatorPopup(data){
                this.adminIndicatorShow = false
                if (data.reload){
                    this.getIndicators();
                }
            },
            getIndicator() {
                getIndicator(this.id, {}).then((response) => {
                    this.indicator = response.data.data.indicator;
                })
            },
            openUpdateLevel(item){
                this.updateLevel = item;
                this.showUpdateLevel = true;
            },
            closeUpdateLevel(){
                this.showUpdateLevel = false;
                this.getIndicator();
            },
            deleteLevel(level){
                updateIndicator(this.indicator.id, {
                    _method: 'PATCH',
                    action: 'delete-level',
                    level: {
                        id: level.id
                    },
                }).then((response) => {
                    this.indicator = response.data.data.indicator;
                })
            }
        }
    };
</script>
