<template>
    <div class="course-data">
        <div>
            <router-link
                :to="{
                    name: 'org.edu.event',
                    params: { id: event.organization_id, event_id: event.id }
                }"
            >
                <div
                    class="course-head"
                    :style="(event.preview) ? 'background-image: url(' + event.preview + ')' : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                />
                <div class="course-info">
                    <div class="fs-20">
                        <b>{{ event.name }}</b>
                    </div>
                </div>
            </router-link>
            <div class="pl-4 pb-3">
                <slot name="controls">
                </slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EventCard',
    props: {
        event: {
          type: Object,
          default: () => ({}),
      },
    classStyle: {
        type: String,
        default: '',
    },
    },
    data() {
        return {

        }
    },
}
</script>
