<template>
    <div class="container mb-4">
        <div class="mb-4">
            <NavTab  :value="routes" class="red mt-3" />
        </div>

        <div class="row">
            <div class="col-lg-9 row courses">
                <div
                    v-for="(course, k) in courses"
                    :key="k"
                    class="course col-lg-4"
                    :course-type="course.type"
                >
                    <card-course
                        v-if="course.type == 'course'"
                        :course="course"
                    >
                        <template slot="controls">
                            <button v-if="basket.courses && basket.courses.find(el => el.id === course.id )" class="btn btn-create text-uppercase"
                                    @click = "deleteCourse(course.id)"
                            >
                                - Убрать из заявки
                            </button>
                            <button
                                @click="addCourse(course)"
                                class="btn btn-create text-uppercase"
                                v-else
                            >
                                + Добавить в заявку
                            </button>
                        </template>
                    </card-course>
                    <event-card
                        v-if="course.type == 'event'"
                        :event="course"
                    >
                        <template slot="controls">
                            <button v-if="basket.courses && basket.courses.find(el => el.id === course.id )" class="btn btn-create text-uppercase"
                                    @click = "deleteCourse(course.id)"
                            >
                                - Убрать из заявки
                            </button>
                            <button
                                @click="addCourse(course)"
                                class="btn btn-create text-uppercase"
                                v-else
                            >
                                + Добавить в заявку
                            </button>
                        </template>
                    </event-card>
                </div>
            </div>

            <div class="col-lg-3" style="z-index: 10;">
                <div class="sticky-top" style="top: 80px">
                    <div class="input-group">
                        <input
                            v-model="search"
                            type="text"
                            placeholder="Название курса/мероприятия"
                            class="form-control"
                        >
                        <div
                            class="input-group-append mr-auto"
                            @click="getSearchCourses(1)"
                        >
                            <span
                                id="search"
                                class="input-group-text title pointer"
                            >
                                <img src="/images/icons/search.svg" width="90%">
                            </span>
                        </div>
                    </div>
                    <div class="align-items-center pt-2">
                        <label>Тип (курс/мероприятие)</label>
                        <select
                            v-model="typeFilter"
                            class="custom-select mr-2"
                        >
                            <option value="all">Все</option>
                            <option value="course">Курсы</option>
                            <option value="event">Мероприятия</option>
                        </select>
                    </div>
                    <div class="align-items-center pt-2">
                        <label>Выдается сертификат</label>
                        <select
                            v-model="certificateFilter"
                            class="custom-select mr-2"
                        >
                            <option :value="null">Все</option>
                            <option value="1">Да</option>
                            <option value="0">Нет</option>
                        </select>
                    </div>
                    <div class="align-items-center pt-2">
                        <label>Поставщик образовательных услуг</label>
                        <select
                            v-model="organization_id"
                            class="custom-select"
                        >
                            <option value="">
                                Организация:
                            </option>
                            <option
                                v-for="row in edu_organizations"
                                :key="'edu_organizations_'+row.id"
                                :value="row.id"
                            >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>

                    <div class="align-items-center pt-2" v-if="!attempt_id">
                        <label>Фильтр по попытке теста ИОМ</label>
                        <select
                            v-model="filter_attempt_id"
                            class="custom-select"
                        >
                            <option :value="null">Выбрать попытку</option>
                            <option
                                v-for="row in attempts"
                                :key="row.id"
                                :value="row.attempt.id"
                            >
                                {{ row.quiz.name }} {{ row.attempt.start_time }}
                                (<a
                                    v-for="i in row.attempt.indicator_levels"
                                >   i{{ i.indicator_id }}.{{ i.level }}
                                </a>)
                            </option>
                        </select>
                    </div>


                    <div class="d-flex flex-column mt-5">
                        <h4>Формирование заявки:</h4>
                        <span class="statistic-group mb-4 d-inline-flex justify-content-between">
                            <label class="mb-0 pb-1">Курсов:</label>
                            <label class="mb-0 pb-1 pr-1">{{ coursesLength }}</label>
                        </span>
                        <span class="statistic-group mb-4 d-inline-flex justify-content-between">
                            <label class="mb-0 pb-1">Мероприятий:</label>
                            <label class="mb-0 pb-1 pr-1">{{eventsLength}}</label>
                        </span>

                        <div class="form-group">
                            <label>Организация в которой я работаю</label>
                            <select
                                class="form-control"
                                v-model="checkoutOrganizationId"
                            >
                                <option value="0">Выбрать...</option>
                                <option
                                    v-for="organization in myOrganizationCanStartIom"
                                    :value="organization.id"
                                >
                                    {{ organization.name }}
                                </option>
                            </select>
                        </div>

                        <a
                            class="btn btn-danger"
                            @click="checkout"
                        >
                            Сформировать заявку
                        </a>

<!--                        <router-link-->
<!--                            class="btn btn-danger"-->
<!--                            :to="{ name: 'marketplace.makeOrderMain' }"-->
<!--                        >-->
<!--                            Сформировать заявку-->
<!--                        </router-link>-->
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-2 d-flex align-items-center">
                <div class="text-nowrap">На странице</div>
                <select
                    v-model="pagination.perPage"
                    class="custom-select ml-2"
                >
                    <option
                        value="6"
                        selected
                    >
                        6
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="12">
                        12
                    </option>
                    <option value="15">
                        15
                    </option>
                </select>
            </div>
            <div class="col-lg-7 d-flex m-auto">
                <b-pagination
                    v-model="pagination.currentPage"
                    :total-rows="pagination.total"
                    :per-page="pagination.perPage"
                    aria-controls="my-table"
                    class="m-auto"
                ></b-pagination>
            </div>
            <div class="col-lg-3" />
        </div>
    </div>
</template>

<script>

import { getCourses } from '@base/api/marketplace';
import { createNamespacedHelpers, mapGetters } from 'vuex';
import { getOrganizationQuizzes } from '@base/api/organization';
import mixSuccess from '../inc/message/mixSuccess';
import cardCourse from '@base/components/base/Card/cardCourse';
import eventCard from './EventCard';
import {
    getUserQuizzes
} from '@base/api/user';
import NavTab from '@base/components/base/NavTab.vue';


const organization = createNamespacedHelpers('organization');
const basket = createNamespacedHelpers('basket');

export default {
    name: 'MarketplaceIndex',
    components: {
        cardCourse,
        eventCard,
        NavTab
    },
    props: {
        attempt_id: null
    },
    mixins: [mixSuccess],
    data() {
        return {
            courses: [],
            pagination: {
                total: 0,
                currentPage: 1,
                perPage: 12,
                items: 0,
            },
            search: null,
            type: 'all',
            group_type: '',
            organization_id: '',
            speciality_type: '',
            programs: {},
            filter_attempt_id: this.attempt_id,
            attempts: [

            ],
            checkoutOrganizationId: 0,
            typeFilter: 'all',
            certificateFilter: null,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        ...organization.mapGetters({
            edu_organizations: 'ORGANIZATIONS',
        }),
        basket() {
            return this.$store.state.basket.basket;
        },
        coursesLength() {
            return this.basket.courses ? this.basket.courses.length : 0;
        },
        eventsLength() {
            return this.basket.events ? this.basket.events.length : 0;
        },
        authOrganizations() {
            return this.$store.state.auth.organizations;
        },
        myOrganizationCanStartIom() {
            let data = [];
            if (this.auth && this.auth.organizations){
                for(let key in this.auth.organizations){
                    let org = this.auth.organizations[key]
                    if (org.permissions && org.permissions.organization_user_can_start_iom){
                        data.push(org)
                    }
                }
            }
            return data
        },
        routes() {
            return [
                { name: "me.routes", description: "Мой ИОМ", visible: true },
                { name: 'me.routes.testing', description: 'Тестирования', visible: true },
                { name: 'me.routes.marketplace.index', description: 'Маркетплейс',visible: true },
            ];
        }
    },
    watch: {
        attempt_id(){
            this.getSearchCourses(this.pagination.currentPage);
        },
        'pagination.currentPage': function(val){
            this.getSearchCourses(this.pagination.currentPage);
        },
        'pagination.perPage': function(val){
            this.getSearchCourses(this.pagination.currentPage);
        },
        group_type() {
            this.getSearchCourses(1);
        },
        organization_id() {
            this.getSearchCourses(1);
        },
        speciality_type() {
            this.getSearchCourses(1);
        },
        type() {
            this.getSearchCourses(1);
        },
        $route(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.pagination.currentPage = to.params.page;
            } else {
                this.pagination.currentPage = 1;
            }

            this.getSearchCourses(this.pagination.currentPage);
        },
        typeFilter() {
            this.getSearchCourses(this.pagination.currentPage);
        },
        certificateFilter() {
            this.getSearchCourses(this.pagination.currentPage)
        }
    },
    created() {

    },
    mounted() {
        this.getOrganizations({
            per_page: 9999,
            type: 'VIRO,EDU',
            page: 1,
            can_iom: 1
        });
        if (typeof this.$route.params.page !== 'undefined') {
            this.pagination.currentPage = this.$route.params.page;
        }
        this.getSearchCourses(1);
        this.getOrganizationQuizzes();
        this.getBasket();
    },
    methods: {
        ...organization.mapActions({
            getOrganizations: 'GET_ORGANIZATIONS',
        }),
        ...basket.mapActions({
            addToBasket: 'ADD_TO_BASKET',
            deleteFromBasket: 'DELETE_FROM_BASKET',
            getBasket: 'GET_BASKET',
            checkoutAction: 'CHECK_OUT',
        }),
        addCourse(course) {
            this.addToBasket({ course: course, type: 'courses' });
            console.log("adding", this.basket)
        },
        deleteCourse(id) {
            this.deleteFromBasket({ id: id, type: 'courses' });
            console.log("deleting", this.basket)
        },
        async checkout() {
            try {
                let route = await this.checkoutAction({
                    organization_id: this.checkoutOrganizationId,
                    quiz_attempt_id: this.filter_attempt_id
                });
                this.makeToast({ variant: 'success', title: 'Заявка', description: 'Заявка успешно сформирована' });
                this.checkoutOrganizationId = 0;

                this.$router.push({ name: 'me.routes.show', params: { route_id: route.data.data.study_route.id } });
            } catch (e) {
                const errors = Object.values(e.data.errors).flat().reduce((acc, curr) => { return acc + ' ' + curr });
                this.makeToast({ variant: 'danger', title: 'Не удаллось сформировать заявку', description: errors });
            }
        },
        getSearchCourses(page) {
            this.pagination.currentPage = page;
            getCourses({
                organization_id: this.organization_id,
                can_iom: 1,
                search: this.search,
                group_type: this.group_type,
                type: this.typeFilter,
                speciality_type: this.speciality_type,
                qty: this.pagination.perPage,
                page: this.pagination.currentPage,
                attempt_id: this.filter_attempt_id,
                action: 'get-parents',
                certificate: this.certificateFilter,
                card_filters: true
            })
                .then((response) => {
                    this.courses = response.data.courses.data;
                    this.pagination.total = response.data.courses.total;

                });
        },
        getOrganizationQuizzes() {

            getUserQuizzes({
                'without_paginate': 1,
                // 'with[1]': 'quizTest',
                // 'with[2]': 'profiles',
                // 'with[3]': 'attempt_indicators',
            }).then(response => {
                // console.log(response.data.data);
                response.data.data.quizzes.forEach(quiz => {
                    quiz.attempts.forEach(attempt => {
                        if (attempt.indicator_levels && attempt.indicator_levels.length > 0){
                            this.attempts.push({
                                quiz: quiz,
                                attempt: attempt
                            })
                        }
                    })
                })
            })

            // getOrganizationQuizzes({
            //     'organization_type': 'VIRO',
            //     'paginated': 1,
            //     'qty': 9999,
            //     'with[1]': 'quizTest',
            //     'with[2]': 'profiles',
            //     'with[3]': 'attempt_indicators',
            //     'page': 1
            // }).then(response => {
            //     response.data.data.quizzes.data.forEach(quiz => {
            //         quiz.attempts.forEach(attempt => {
            //             if (attempt.indicator_levels.length > 0){
            //                 this.attempts.push({
            //                     quiz: quiz,
            //                     attempt: attempt
            //                 })
            //             }
            //         })
            //     })
            // });
        }
    },
};

</script>
