<template>
<div class="container">
    <div class="row py-2">
        <div class="col-lg-4">
            <a @click="addCard" class="btn">
                Создать шаблон
            </a>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped table-adaptive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Поля</th>
                        <th>Организаций</th>
                        <th style="width: 200px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="card in userCardTemplates.data" :key="card.id">
                        <td data-label="#">
                            {{ card.id }}
                        </td>
                        <td data-label="Название">
                            {{ card.name }}
                        </td>
                        <td data-label="Поля">
                            {{ card.fields ? card.fields.length : 0}}
                        </td>
                        <td data-label="Организаций">
                            {{ card.organizations_count ? card.organizations_count : 0}}
                        </td>
                        <td data-label="">
                            <a @click="openCardTemplateOrganizationsPopup(card)" class="ml-2 btn fa fa-list-alt" />
                            <a @click="openCardUpdatePopup(card)" class="ml-2 btn fa fa-edit" />
                            <a target="_blank" :href="'/api/v2/user-card-template/' + card.id + '/generate-excel-template'" class="ml-2 btn fa fa-file-excel-o" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <card-template-organizations
        :show="showCardTemplateOrganizationsPopup" :card="userCardTemplate" @closePopup="closeCardTemplateOrganizationsPopup" />
    <create-card-template-popup

        :show="showCardCreatePopup" @closePopup="closeCardCreatePopup" />
    <update-card-template-popup
        v-if="showCardUpdatePopup"
        :userCardTemplate="userCardTemplate"
        @closePopup="closeCardUpdatePopup"
    />
</div>
</template>

<script>
import {
    getCardTemplate,
    getCardTemplateById,
    generateExcelTemplate
} from '@base/api/user-card';
import CreateCardTemplatePopup from './manage/createCardTemplatePopup';
import UpdateCardTemplatePopup from './manage/updateCardTemplatePopup';
import CardTemplateOrganizations from './manage/cardTemplateOrganizations';

export default {
    name: 'CardTemplateIndex',
    components: {
        CardTemplateOrganizations,
        UpdateCardTemplatePopup,
        CreateCardTemplatePopup
    },
    data() {
        return {
            showCardCreatePopup: false,
            showCardUpdatePopup: false,
            showCardTemplateOrganizationsPopup: false,
            userCardTemplates: {
                data: [

                ],
                per_page: 10,
                current_page: 1
            },
            userCardTemplate: {

            }
        }
    },
    mounted() {
        this.getCards();
    },
    methods: {
        addCard() {
            this.showCardCreatePopup = true;
        },
        closeCardCreatePopup() {
            this.showCardCreatePopup = false;
            this.getCards();
        },
        openCardUpdatePopup(item) {
            this.userCardTemplate = item;
            this.showCardUpdatePopup = true;
        },
        closeCardUpdatePopup() {
            this.userCardTemplate = {};
            this.showCardUpdatePopup = false;
        },
        getCards() {
            getCardTemplate({
                qty: this.userCardTemplates.per_page,
                page: this.userCardTemplates.current_page,
                with: [
                    'fields',
                ],
                with_count: [
                    'organizations'
                ]
            }).then((response) => {
                this.userCardTemplates = response.userCardTemplates;
            });
        },
        openCardTemplateOrganizationsPopup(item) {
            getCardTemplateById(item.id, {}).then(r => {
                console.log(r)
                item.organizations = r.userCardTemplate.organizations
                this.userCardTemplate = item;
                this.showCardTemplateOrganizationsPopup = true;
            })

        },
        closeCardTemplateOrganizationsPopup() {
            this.showCardTemplateOrganizationsPopup = false;
            this.getCards();
        }
    }
};
</script>

<style scoped>

</style>
