<template>
<main class="pt-2">
    <div class="container admin-user">
        <div v-if="not_success" class="row pt-2">
            <div class="col-lg-12 m-auto">
                <div class="alert alert-warning alert-dismissible fade mb-0 show" role="alert">
                    <strong>Ошибка!</strong>&nbsp;
                    <span>Данные не обновлены.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="not_success = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div v-if="success" class="row pt-2">
            <div class="col-lg-12 m-auto">
                <div class="alert alert-success alert-dismissible fade mb-0 show" role="alert">
                    Данные обновлены.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="success = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="user_search" placeholder="Поиск..." />
                    <div class="input-group-append">
                        <i class="input-group-text pointer" @click="getUsers">
                            <i class="fa fa-search" />
                        </i>
                    </div>
                </div>
            </div>
            <div class="ml-auto col-lg-2 d-flex">
                <a
                    @click="openCreateUser"
                    class="ml-auto btn btn-create"
                >
                    Зарегистрировать
                </a>
            </div>
            <div class="col-lg-1 d-flex">
                <a @click="showUsersGroupAdd = !showUsersGroupAdd" class="ml-auto btn btn-create">
                    + xlsx
                </a>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-adaptive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Емайл</th>
                            <th style="width: 120px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users.data">
                            <td data-label="Id">
                                <router-link :to="{ name: 'admin.users.list.show', params: { user_id: user.id}}">
                                    {{ user.id }}
                                </router-link>
                            </td>
                            <td data-label="Фамилия">{{user.lastname}}</td>
                            <td data-label="Имя">{{user.firstname}}</td>
                            <td data-label="Отчество">{{user.patronymic}}</td>
                            <td data-label="Email">{{user.email}}</td>
                            <td data-label="">
                                <i class="fa fa-pencil pointer" aria-hidden="true" @click="showManage(user)" />
                                <a
                                    class="fa fa-comment pointer ml-2"
                                    aria-hidden="true"
                                    :href="'/chats/start/' + user.id"
                                />
                                <i v-tooltip.top-center="tooltip.attach.role.global" class="fa fa-paperclip pointer ml-2" aria-hidden="true" @click="showManageRoleGlobal(user)" />
                                <i v-tooltip.top-center="tooltip.attach.organization.global" class="fa fa-home pointer ml-2" aria-hidden="true" @click="showManageOrganization(user)" />
                                <i v-tooltip.top-center="'Прикрепить к району'" class="fa fa-street-view pointer ml-2" aria-hidden="true" @click="showManageDistricts(user)" />
                                <i class="fa fa-address-card pointer ml-2" @click="openManageCard(user)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row py-2">
            <b-pagination v-model="users.current_page" :total-rows="users.total" :per-page="users.per_page" aria-controls="my-table" class="m-auto"></b-pagination>
        </div>
    </div>


    <ManageUser :show="showModalManage.user" :user="currentUser" :fn-modal-hide="hideManage" />
    <ManageRoleGlobal :show="showModalManage.role.global" :user="currentUserForRole.global" :roles="roles.global" :fn-modal-hide="hideManageRoleGlobal" />
    <ManageOrganizationGlobal :show="showModalManage.organization.global" :user="currentUserForOrganization.global" :roles="roles.global" :fn-modal-hide="hideManageOrganization" />
    <manage-user-districts v-if="showModalManage.districts" :user="currentUserForOrganization.global" @closePopup="closeUserDistricts"/>
    <admin-users-import :show="showUsersGroupAdd" @closePopup="hideUsersGroupAdd" />
    <manage-user-card :user="currentUserForManageCard" :show="showManageCard" @closePopup="closeManageCard" />
    <create-user
        v-if="showCreateUser"
        @closePopup="closeCreateUser"
    />
</main>
</template>

<script>
import deepClone from 'clonedeep';
import ManageUser from '@base/components/admin/users/manage/Index';
import ManageRoleGlobal from '@base/components/admin/users/manage/RoleGlobal';
import ManageOrganizationGlobal from '@base/components/admin/users/manage/OrganizationGlobal';
import ManageUserDistricts from '@base/components/admin/users/manage/UserDistricts';

import {
    defUser
} from '@base/inc/defaults/app';

import {
    getUsers
} from '@base/api/user';

import UsersGroupAdd from '@base/components/admin/users/manage/UsersGroupAdd';
import ManageUserCard from './manage/manageUserCard';
import AdminUsersImport from './manage/usersImport';
import CreateUser from './manage/CreateUser';

export default {
    name: 'AdminUser',
    components: {
        CreateUser,
        AdminUsersImport,
        ManageUserCard,
        ManageUser,
        ManageRoleGlobal,
        UsersGroupAdd,
        ManageOrganizationGlobal,
        ManageUserDistricts,
    },
    data() {
        return {
            tooltip: {
                attach: {
                    role: {
                        global: 'Прикрепить глобальную роль',
                    },
                    organization: {
                        global: 'Прикрепить к организации',
                    },
                },
            },
            not_success: false,
            success: false,
            roles: {
                global: [],
            },
            showModalManage: {
                user: false,
                districts: false,
                organization: {
                    global: false,
                },
                role: {
                    global: false,
                },
            },
            currentUserForRole: {
                global: {},
            },
            currentUserForOrganization: {
                global: {},
            },
            currentUser: {},
            tableData: [],
            showUsersGroupAdd: false,
            showCreateUser: false,
            users: {
                total: 0,
                data: [],
                current_page: 1,
                per_page: 15,
            },
            user_search: '',
            currentUserForManageCard: {},
            showManageCard: false
        };
    },
    computed: {},
    watch: {
        'users.current_page': function () {
            this.getUsers();
        }
    },
    created() {
        this.currentUser = _.clone(defUser);
        this.currentUserForRole.global = _.clone(defUser);
    },
    mounted() {
        this.getRolesGlobal();
        this.getUsers();
    },
    methods: {
        getUsers() {
            getUsers({
                qty: this.users.per_page,
                page: this.users.current_page,
                search: this.user_search,
                with: [
                    'districts',
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            }).then((users) => {
                this.users = users;
            });
        },
        getRolesGlobal() {
            const url = '/api/v1/role';
            const loading = 'local';
            const params = {
                show: 1,
            };

            this.$axios.get(url, {
                    params,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(({
                    data: {
                        data: {
                            roles
                        }
                    }
                }) => {

                    this.roles.global = roles;
                })
                .catch(() => {

                })
                .finally(() => {});
        },
        hideManage() {
            this.currentTable = deepClone(defUser);
            this.showModalManage.user = false;
            this.getUsers();
        },
        showManage(user) {
            this.currentUser = _.clone(user, true);
            this.showModalManage.user = true;
        },
        showManageOrganization(user) {
            this.currentUserForOrganization.global = _.clone(user);
            this.showModalManage.organization.global = true;
        },
        showManageDistricts(user){
            this.currentUserForOrganization.global = deepClone(user);
            this.showModalManage.districts = true;
        },
        closeUserDistricts(user){
            this.currentUserForOrganization.global = {};
            this.showModalManage.districts = false;
        },
        openManageCard(user) {
            this.currentUserForManageCard = _.clone(user);
            this.showManageCard = true;
        },
        closeManageCard() {
            this.showManageCard = false;
        },
        showManageRoleGlobal(user) {
            this.currentUserForRole.global = _.clone(user);
            this.showModalManage.role.global = true;
        },
        hideUsersGroupAdd() {
            this.showUsersGroupAdd = false;
        },
        openCreateUser(){
            this.showCreateUser = true;
        },
        closeCreateUser(){
            this.showCreateUser = false;
        },
        hideManageOrganization() {
            this.currentUserForOrganization.global = _.clone(defUser);
            this.showModalManage.organization.global = false;
        },
        hideManageRoleGlobal() {
            this.currentUserForRole.global = _.clone(defUser);
            this.showModalManage.role.global = false;
        },
    },
};
</script>
