<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";

export default {
    name: 'AdminUsersNav',
    components: {
        NavTab,
    },
    data() {
        return {
            routes: [
                { name: 'admin.users.list', description: 'Пользователи', visible: true },
                { name: 'admin.users.card-templates', description: 'Шаблоны данных', visible: true }
            ]
        };
    },
};
</script>
