<template>
    <div class="container ">
        <div class="row py-2">
            <div class="col-lg-2">
                <router-link
                    class="btn"
                    :to="{ name: 'admin.users.list' }"
                >
                    Назад
                </router-link>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="title gray">Фамилия</label>
                    <input
                        v-model="user.lastname"
                        class="form-control"
                        type="text"
                    >
                </div>
                <div class="form-group">
                    <label class="title gray">Имя</label>
                    <input
                        v-model="user.firstname"
                        class="form-control"
                        type="text"
                    >
                </div>
                <div class="form-group">
                    <label class="title gray">Отчество</label>
                    <input
                        v-model="user.patronymic"
                        class="form-control"
                        type="text"
                    >
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="title gray">Логин</label>
                    <input
                        v-model="user.login"
                        class="form-control"
                        type="text"
                    >
                </div>
                <div class="form-group">
                    <label class="title gray">Email</label>
                    <input
                        v-model="user.email"
                        class="form-control"
                        type="text"
                    >
                </div>
                <div class="form-group">
                    <label class="title gray">Телефон</label>
                    <input
                        v-model="user.phone"
                        class="form-control"
                        type="text"
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getUser } from '@base/api/user';

export default {
    name: 'AdminUserShow',
    data(){
        return {
            user: {

            }
        }
    },
    computed: {
        user_id() {
            return this.$route.params.user_id;
        }
    },
    mounted() {
        this.getUser();
    },
    methods: {
        getUser(){
            getUser(this.user_id, {
                with: [
                    'cards'
                ]
            }).then((user) => {
                this.user = user;
            })
        }
    }
};
</script>
