<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ organization_id ? 'Редактирование организации' : 'Создание организации' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-6 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="organization.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.name"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-6 m-auto">
                                    <label class="title gray upper">Логотип</label>
                                    <input
                                        ref="logo"
                                        type="file"
                                        class="form-control btn btn-download"
                                        :class="('logo' in invalid) ? 'is-invalid' : ''"
                                        @change="handleFileUpload()"
                                    >
                                    <div
                                        v-if="'logo' in invalid"
                                        class="invalid-feedback"
                                    >
                                    <span
                                        v-for="(message, k) in invalid.logo"
                                        :key="k"
                                    >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Адрес</label>
                                    <textarea
                                        v-model="organization.address"
                                        name="text"
                                        class="form-control"
                                        :class="('address' in invalid) ? 'is-invalid' : ''"
                                    />
                                    <div
                                        v-if="'address' in invalid"
                                        class="invalid-feedback"
                                    >
                                    <span
                                        v-for="(message, k) in invalid.address"
                                        :key="k"
                                    >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Описание</label>
                                    <htmlEditor
                                        :content.sync="organization.description"
                                        name="description"
                                        :class="('description' in invalid) ? 'is-invalid' : ''"
                                    />
                                    <div
                                        v-if="'description' in invalid"
                                        class="invalid-feedback"
                                    >
                                    <span
                                        v-for="(message, k) in invalid.description"
                                        :key="k"
                                    >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submitOrganization()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ organization_id ? "Обновить" : "Создать" }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import deepClone from 'clonedeep';
import { defOrganization } from '@base/inc/defaults/app';
import htmlEditor from '@base/components/base/vueEditor';

export default {
    name: 'EduManageAbout',
    components: {
        htmlEditor,
    },
    props: {
        organization_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            organization: {
                id: 0,
                name: '',
                description: '',
                address: '',
                map_coordinates_x: null,
                map_coordinates_y: null,
                popularity: 0,
                show: 0,
            },
            permissions: {
                moderation_org_show: false,
            },
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasManageAbout() {
            return this.getStore('modal.org.about');
        },
    },
    watch: {
        hasManageAbout(val) {
            if (typeof this.organization_id === 'number') {
                this.show = val.includes(this.organization_id);
            }
        },
        organization_id(val) {
            if (typeof val === 'number' && val) {
                this.permissions.moderation_org_show = false;
                this.getOrganization();
            }
        },
    },
    created() {

    },
    mounted() {
        if (typeof this.organization_id === 'number' && this.organization_id) {
            this.getOrganization();
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getOrganization() {
            this.showProcessMessage('save');
            this.$axios.get(`/api/v1/organizations/${this.organization_id}`)
                .then((response) => {
                    this.showSuccessMessage('save');
                    this.organization = response.data.data.organization;
                    delete this.organization.logo;
                    this.permissions.moderation_org_show = response.data.data.permissions.moderation_org_show;
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        submitOrganization() {
            this.saveOrganization();
        },
        saveOrganization() {
            const formData = new FormData();
            formData.append('name', this.organization.name);
            formData.append('description', this.organization.description);
            formData.append('address', this.organization.address);

            if (typeof this.organization.logo !== 'undefined' && this.organization.logo) {
                formData.append('logo', this.organization.logo);
            } else {
                formData.append('logo', '');
            }

            if (this.permissions.moderation_org_show) {
                formData.append('popularity', this.organization.popularity);
                formData.append('show', this.organization.show ? 1 : 0);
            }

            if (this.organization.id) {
                formData.append('_method', 'patch');
                formData.append('action', 'data');

                this.updateOrganization(formData);
            } else {
                this.addOrganization(formData);
            }
        },
        addOrganization(formData) {
            this.showProcessMessage('save');
            this.$axios.post('/api/v1/organizations', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');
                    this.refreshAbout();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        updateOrganization(formData) {
            this.showProcessMessage('save');
            this.$axios.post(`/api/v1/organizations/${this.organization_id}`, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage('save');
                    this.refreshAbout();
                    setTimeout(() => {
                        this.modalHide();
                    }, 2000);
                })
                .catch((error) => {
                    this.showErrorMessage('save', error);
                })
                .finally(() => {
                });
        },
        showProcessMessage(btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(btn) {

            this.spinner[btn] = false;
            this.success = true;
            this.invalid = {};
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        handleFileUpload() {
            [this.organization.logo] = this.$refs.logo.files;
        },
        refreshAbout() {
            if (typeof this.organization_id === 'number') {
                const update = this.getStore('update.org.about');
                if (!update.includes(this.organization_id)) {
                    update.push(this.organization_id);
                }
                this.setStore({ key: 'update.org.about', data: update });
            }
        },
        modalHide() {
            if (typeof this.organization_id === 'number') {
                if (this.hasManageAbout.includes(this.organization_id)) {
                    this.hasManageAbout.pop(this.organization_id);
                }
                this.setStore({ key: 'modal.org.about', data: this.hasManageAbout });
            }

            this.resetOrganization();
            this.clearModal();
        },
        resetOrganization() {
            if (!this.organization_id) {
                const tmp = deepClone(defOrganization);
                delete tmp.logo;
                this.organization = tmp;
                this.permissions.moderation_org_show = false;
            }
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>
