<template>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        Добавить аудиторию
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <div class="form-group mb-2">
                                <label for="name_lecture_room">Название аудитории</label>
                                <input
                                    id="name_lecture_room"
                                    v-model="nameLectureRoom"
                                    type="text"
                                    class="form-control"
                                    :class="('name' in invalid) ? 'is-invalid' : ''"
                                >
                                <div
                                    v-if="'name' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.name"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-2">
                                <label for="numberLectureRoom">Номер аудитории</label>
                                <input
                                    id="numberLectureRoom"
                                    v-model="numberLectureRoom"
                                    type="number"
                                    class="form-control"
                                    :class="('number' in invalid) ? 'is-invalid' : ''"
                                >
                                <div
                                    v-if="'number' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.number"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 m-auto">
                            <div class="form-group mb-2">
                                <label for="floor_lecture_room">Этаж</label>
                                <input
                                    id="floor_lecture_room"
                                    v-model="floor"
                                    type="number"
                                    class="form-control"
                                    :class="('floor' in invalid) ? 'is-invalid' : ''"
                                >
                                <div
                                    v-if="'floor' in invalid"
                                    class="invalid-feedback"
                                >
                                    <span
                                        v-for="(message, k) in invalid.floor"
                                        :key="k"
                                    >{{ message }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <SuccessError :show="{ not_success, success }" />
                </div>
                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submit()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        {{ 'Сохранить' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defOrganization } from '@base/inc/defaults/app';
import { mapMutations, mapGetters } from 'vuex';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';

export default {
    name: 'EduManageLectureRoom',
    components: {
        SuccessError,
    },
    mixins: [Proccess],
    props: {
        lectureRoom_id: {
            type: Number,
            default: 0,
        },
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
        setNullRoomID: {
            type: Function,
            default: () => {},
        },
        mixins: [Proccess],
    },
    data() {
        return {
            nameLectureRoom: '',
            numberLectureRoom: null,
            floor: null,
            show: false,
            spinner: {
                save: false,
            },
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasAddLectureRoom() {
            return this.getStore('modal.org.addLectureRoom');
        },
    },
    watch: {
        hasAddLectureRoom(val) {
            if (typeof this.organization.id === 'number') {
                this.show = val.includes(this.organization.id);
            }
        },
        lectureRoom_id(val) {
            if (typeof val === 'number' && val > 0) {
                this.changeProps(val);
            } else {
                this.setNullParams();
            }
        },

    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        setNullParams() {
            this.nameLectureRoom = '';
            this.numberLectureRoom = null;
            this.floor = null;
            this.setNullRoomID();
        },
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            // if (this.nameLectureRoom && this.numberLectureRoom && this.floor) {
            this.spinner.save = true;
            let url = '';
            if (this.lectureRoom_id > 0) {
                url = `/api/v1/organizations/${this.organization.id}/rooms/${this.lectureRoom_id}`;
            } else {
                url = `/api/v1/organizations/${this.organization.id}/rooms`;
            }

            this.showProcessMessage(loading, btn);
            const data = {
                number: this.numberLectureRoom,
                name: this.nameLectureRoom,
                floor: this.floor,
            };

            if (this.lectureRoom_id > 0) {
                    data._method = 'PATCH'; // eslint-disable-line
                data.action = 'data';
            }
            this.$axios.post(url, data)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.modalHide();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
            // }
        },
        modalHide() {
            if (typeof this.organization.id === 'number') {
                this.spinner.save = false;
                if (this.hasAddLectureRoom.includes(this.organization.id)) {
                    this.hasAddLectureRoom.pop(this.organization.id);
                }
                this.setStore({ key: 'modal.org.addLectureRoom', data: this.hasAddLectureRoom });
                this.updateLectureRoom();
                this.setNullParams();
                this.clearMixModal();
            }
        },
        updateLectureRoom() {
            const update = this.getStore('update.org.lectureRoom');
            if (typeof this.organization.id === 'number') {
                if (!update.includes(this.organization.id)) {
                    update.push(this.organization.id);
                }
                this.setStore({ key: 'update.org.lectureRoom', data: update });
            }
        },
        changeProps(val) {
            this.getLectureRoom('local', val);
        },
        getLectureRoom(loading, id) {
            const url = `/api/v1/organizations/${this.organization.id}/rooms/${id}`;
            const params = {};


            this.$axios.get(url, { params },
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {


                    this.nameLectureRoom = response.data.data.room.name;
                    this.numberLectureRoom = response.data.data.room.number;
                    this.floor = response.data.data.room.floor;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
    },
};
</script>
