<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Добавить занятие
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="lesson_number">Номер пары</label>
                            <input
                                id="lesson_number"
                                v-model="lesson_number"
                                type="number"
                                class="form-control"
                                :class="('lesson_number' in invalid) ? 'is-invalid' : ''"
                            >
                            <div
                                v-if="'lesson_number' in invalid"
                                class="invalid-feedback"
                            >
                                <span
                                    v-for="(message, k) in invalid.lesson_number"
                                    :key="k"
                                >{{ message }}</span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <div class="form-group mb-2">
                                    <label for="started_at">Начало</label>
                                    <input
                                        id="started_at"
                                        v-model="started_at"
                                        type="time"
                                        class="form-control"
                                        :class="('finished_at' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'finished_at' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.finished_at"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-2">
                                    <label for="finished_at">Конец</label>
                                    <input
                                        id="finished_at"
                                        v-model="finished_at"
                                        type="time"
                                        class="form-control"
                                        :class="('started_at' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'finished_at' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.finished_at"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lesson_break">Перерыв</label>
                            <input
                                id="lesson_break"
                                v-model="lesson_break"
                                type="number"
                                class="form-control"
                                :class="('break' in invalid) ? 'is-invalid' : ''"
                            >
                            <div
                                v-if="'lesson_number' in invalid"
                                class="invalid-feedback"
                            >
                                <span
                                    v-for="(message, k) in invalid.break"
                                    :key="k"
                                >{{ message }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { defOrganization } from '@base/inc/defaults/app';

export default {
    name: 'EduManageSchedule',
    props: {
        schedule_id: {
            type: Number,
            default: 0,
        },
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            lesson_number: null,
            started_at: null,
            finished_at: null,
            lesson_break: null,
            spinner: {
                save: false,
            },
            show: false,
            invalid: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasAddSchedule() {
            return this.getStore('modal.org.addSchedule');
        },
    },
    watch: {
        hasAddSchedule(val) {
            if (typeof this.organization.id === 'number') {
                this.show = val.includes(this.organization.id);
            }
        },
        schedule_id(val) {
            if (typeof val === 'number' && val > 0) {
                this.changeProps(val);
            } else {
                this.setNullParams();
            }
        },
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        setNullParams() {
            const deleteInvalid = ({ finished_at, ...rest }) => rest; // eslint-disable-line
            this.lesson_number = null;
            this.invalid = deleteInvalid(this.invalid);
            this.started_at = null;
            this.finished_at = null;
            this.lesson_break = null;
            //console.log('invalid ', this.invalid);
        },
        submit() {
            // if (this.lesson_number && this.started_at && this.finished_at && this.lesson_break) {
            this.spinner.save = true;
            let url = '';
            if (this.schedule_id > 0) {
                url = `/api/v1/organizations/${this.organization.id}/schedules/${this.schedule_id}`;
            } else {
                url = `/api/v1/organizations/${this.organization.id}/schedules`;
            }


            const data = {
                lesson_number: this.lesson_number,
                started_at: this.started_at,
                finished_at: this.finished_at,
                break: this.lesson_break,
            };
            if (this.schedule_id > 0) {
                    data._method = 'PATCH'; // eslint-disable-line
            }
            this.$axios.post(url, data)
                .then(() => {

                    this.setNullParams();
                    this.modalHide();
                })
                .catch((error) => {
                    this.not_success = true;
                    this.spinner.save = false;

                    this.showErrorMessage('save', error);
                })
                .finally(() => {

                });
            // }
        },
        modalHide() {
            if (typeof this.organization.id === 'number') {
                this.spinner.save = false;
                if (this.hasAddSchedule.includes(this.organization.id)) {
                    this.hasAddSchedule.pop(this.organization.id);
                }
                this.setStore({ key: 'modal.org.addSchedule', data: this.hasAddSchedule });
                this.updateShedule();
            }
        },
        updateShedule() {
            const update = this.getStore('update.org.schedule');
            if (typeof this.organization.id === 'number') {
                if (!update.includes(this.organization.id)) {
                    update.push(this.organization.id);
                }
                this.setStore({ key: 'update.org.schedule', data: update });
                this.setNullParams();
            }
        },
        showErrorMessage(btn, e) {

            this.spinner[btn] = false;
            if (e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        changeProps(val) {
            this.getSchedule('local', val);
        },
        getSchedule(loading, id) {
            const url = `/api/v1/organizations/${this.organization.id}/schedules/${id}`;
            const params = {

            };



            this.$axios.get(url, { params },
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.lesson_number = response.data.data.schedule.lesson_number;
                    this.started_at = response.data.data.schedule.started_at;
                    this.finished_at = response.data.data.schedule.finished_at;
                    this.lesson_break = response.data.data.schedule.break;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
    },
};
</script>
