<template>
<div>
    <div
        class="modal fade"
        :class="show ? 'show' : ''"
        :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-xl"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5
                        id="exampleModalLabel"
                        class="modal-title"
                    >
                        Редактирование данных {{ user.firstname + ' ' + user.lastname + ' ' + user.patronymic }}
                    </h5>
                    <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        @click="modalHide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label
                                        class="title gray"
                                    >Роли</label>
                                    <select
                                        v-model="role_id"
                                        class="form-control"
                                        :class="('role_id' in invalid) ? 'is-invalid' : ''"
                                        required
                                    >
                                        <option
                                            :value="0"
                                            disabled
                                        >
                                            Выберите роль
                                        </option>
                                        <option
                                            v-for="(role, k) in roles"
                                            :key="k"
                                            :value="role.id"
                                        >
                                            {{ role.label }}
                                        </option>
                                    </select>
                                    <div
                                        v-if="'role_id' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.role_id"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="title gray upper">Роли пользователя</label>
                                <div v-if="typeof userRoles.length !== 'undefined' && userRoles.length">
                                    <div
                                        v-for="(role, k) in userRoles"
                                        :key="k"
                                        class="alert alert-secondary fade show"
                                    >
                                        <strong>{{ role.label }}</strong>
                                        <button
                                            type="button"
                                            class="close"
                                            @click="deleteRole(role.id)"
                                        >
                                            <span>&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div v-if="typeof userRoles.length === 'undefined' || !userRoles.length">
                                    <div class="alert alert-warning">
                                        У пользователя нет ролей для текущей организации
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group form-check">
                                    <input
                                        v-model="attached"
                                        type="checkbox"
                                        name="attached"
                                        class="form-check-input"
                                        :class="('attached' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <label class="title gray upper form-check-label">Закрепить пользователя за организацией</label>
                                    <div
                                        v-if="'attached' in invalid"
                                        class="invalid-feedback"
                                    >
                                    <span
                                        v-for="(message, k) in invalid.attached"
                                        :key="k"
                                    >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            v-if="not_success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="success"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-success alert-dismissible fade show"
                                    role="alert"
                                >
                                    Данные обновлены.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="existsRole"
                            class="row pt-20"
                        >
                            <div class="col-lg-10 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    У пользователя уже есть эта роль.
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="existsRole = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-32">
                    <button
                        ::disabled="spinner.save"
                        type="button"
                        class="btn btn-red m-auto"
                        @click="submit()"
                    >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
        v-if="show"
        class="modal-backdrop fade show"
    ></div>
</div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { defOrganization, defUser } from '@base/inc/defaults/app';

export default {
    name: 'EduManageTeacher',
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org_teacher: false,
                };
            },
        },
        user: {
            type: Object,
            default: defUser,
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            role_id: 0,
            userRoles: [],
            attached: false,
            attachedOrigin: false,
            invalid: {},
            spinner: {
                save: false,
            },
            success: false,
            not_success: false,
            existsRole: false,
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasManageTeacher() {
            return this.getStore('modal.org.teacher');
        },
    },
    watch: {
        hasManageTeacher(val) {
            if (typeof this.organization.id === 'number') {
                this.show = val.includes(this.organization.id);
            }
        },
        'organization.id': function (val) {
            if (typeof val === 'number') {
                this.getUserRoles();
            }
        },
        'user.id': function (val) {
            if (typeof val === 'number') {
                this.getUserRoles();
            }
        },
        attached(val) {
            if (val !== this.attachedOrigin) {
                if (this.user.id && this.organization.id) {
                    if (val) {
                        this.attachUser();
                    } else {
                        this.detachUser();
                    }
                }
            }
        },
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getUserRoles() {
            if (this.organization.id && this.user.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role`;
                this.existsRole = false;
                this.$axios.get(url, { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then((response) => {
                        this.userRoles = response.data.data.roles;
                        this.attachedOrigin = response.data.data.attached;
                        this.attached = response.data.data.attached;
                    })
                    .catch((e) => {
                        this.invalid = e.response.data.errors;
                    })
            }
        },
        addRole() {
            if (this.role_id
                && this.user.id
                && this.organization.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role/${this.role_id}`;

                const formData = new FormData();
                formData.append('_method', 'patch');

                this.not_success = false;
                this.success = false;
                this.spinner.save = true;


                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {
                        this.success = true;
                        this.spinner.save = false;

                        this.userRoles.push(this.roles.filter((role) => role.id === this.role_id)[0]);

                        setTimeout(() => {
                            this.success = false;
                        }, 2000);
                    })
                    .catch((e) => {
                        this.not_success = true;
                        this.spinner.save = false;

                        if (e.response.status === 422) {
                            this.invalid = e.response.data.errors;
                        }
                    });
            }
        },
        deleteRole(roleId) {
            if (roleId
                && this.user.id
                && this.organization.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role/${roleId}`;

                this.not_success = false;
                this.success = false;
                this.$axios.delete(url)
                    .then(() => {
                        this.success = true;
                        this.userRoles = this.userRoles.filter((role) => role.id !== roleId);

                        setTimeout(() => {
                            this.success = false;
                        }, 2000);
                    })
                    .catch(() => {
                        this.not_success = true;
                    });
            }
        },
        attachUser() {
            const url = `/api/v1/organizations/${this.organization.id}/users`;
            const formData = new FormData();
            formData.append('user_id', this.user.id);

            this.not_success = false;
            this.success = false;
            this.$axios.post(url, formData)
                .then(() => {
                    this.attachedOrigin = true;
                    this.attached = true;
                    this.success = true;
                    const update = this.getStore('update.org.teacher');
                    if (!update.includes(this.organization.id)) {
                        update.push(this.organization.id);
                    }
                    this.setStore({ key: 'update.org.teacher', data: update });

                    setTimeout(() => {
                        this.success = false;
                    }, 2000);
                })
                .catch(() => {
                    this.not_success = true;

                });
        },
        detachUser() {
            //API изменена!
            const url = `/api/v1/organizations/${this.organization.id}`;
            const formData = new FormData();
            formData.append('_method', 'patch');
            formData.append('action', 'detach-user');
            formData.append('user_id', this.user.id);

            this.not_success = false;
            this.success = false;
            this.$

            this.$axios.post(url, formData)
                .then(() => {
                    this.attachedOrigin = false;
                    this.attached = false;
                    this.success = true;
                    this.$

                    const update = this.getStore('update.org.teacher');
                    if (!update.includes(this.organization.id)) {
                        update.push(this.organization.id);
                    }
                    this.setStore({ key: 'update.org.teacher', data: update });
                    this.getUserRoles();
                    setTimeout(() => {
                        this.success = false;
                    }, 2000);
                })
                .catch(() => {
                    this.not_success = true;

                })
                .finally(() => {
                });
        },
        submit() {
            if (this.userRoles.filter((role) => role.id === this.role_id).length === 0) {
                this.addRole();
            } else {
                this.existsRole = true;
                setTimeout(() => {
                    this.existsRole = false;
                }, 2000);
            }
        },
        modalHide() {
            if (typeof this.organization.id === 'number') {
                if (this.hasManageTeacher.includes(this.organization.id)) {
                    this.hasManageTeacher.pop(this.organization.id);
                }
                this.setStore({ key: 'modal.org.teacher', data: this.hasManageTeacher });
            }

            this.clearModal();
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
        },
    },
};
</script>

<style scoped>

</style>
