<template>
    <div class="container pt-4">
        <div class="row mb-4">
            <div class="col-lg-2">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="fio" placeholder="ФИО..." />
                    <div class="input-group-append">
                        <a class="input-group-text pointer" @click="getData">
                            <i class="fa fa-search" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 ml-auto d-flex">
                <button
                    @click="sendApproveData"
                    class="btn btn-success ml-auto"
                >
                    Сохранить
                </button>
            </div>
        </div>
        <div v-for="card in approve_data.data">
            <div class="card mb-2">
                <div class="card-header d-flex">
                    {{ card.user.fio }}
                </div>
                <div
                    class="card-body"
                >
                    <div class="row">
                        <div
                            class="col-lg-6"
                            v-for="value in card.values"
                        >
                            <div
                                class="form-group"
                            >
                                <label>
                                    {{ value.template_field.name }}
                                    {{ value.template_field.required ? ' *' : '' }}
                                </label>

                                <div class="input-group">

                                    <input
                                        v-if="value.template_field.type == 'text' || value.template_field.type == 'date' || value.template_field.type == 'number'"
                                        class="form-control"
                                        :type="value.template_field.type"
                                        :required="value.template_field.required"
                                        v-model="value.value"
                                    />
                                    <select
                                        v-if="value.template_field.type == 'select'"
                                        class="form-control"
                                        :required="value.template_field.required"
                                        v-model="value.value"
                                    >
                                        <option :value="null">Выбрать</option>
                                        <option v-for="val in value.template_field.data" :value="val">{{ val }}</option>
                                    </select>
                                    <div
                                        v-if="value.template_field.type == 'checkbox'"
                                    >
                                        <input
                                            class="custom-checkbox"
                                            :type="value.template_field.type"
                                            :required="value.template_field.required"
                                            v-model="value.value"
                                        />

                                    </div>
                                    <textarea
                                        class="form-control"
                                        v-if="value.template_field.type == 'textarea'"
                                        :type="value.template_field.type"
                                        :required="value.template_field.required"
                                        v-model="value.value"
                                    />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <input
                                                v-model="value.confirmed"
                                                type="checkbox"
                                            />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <b-pagination
                v-model="approve_data.current_page"
                :total-rows="approve_data.total"
                :per-page="approve_data.per_page"
                aria-controls="my-table" class="m-auto"
            />
        </div>
    </div>
</template>

<script>
export default {
    name: "ApproveData",
    props: {
        organization: {},
    },
    data() {
        return {
            fio: null,
            approve_data: {
                data: [],
                current_page: 1,
                peg_page: 15,
                total: 0
            },
        }
    },
    created() {
        if (this.organization.id)
            this.getData()
    },
    computed: {
    },
    watch: {
        'organization.id': function (val) {
            this.getData()
        }
    },
    methods: {
        sendApproveData(){

            var data = {};

            this.approve_data.data.forEach(row => {
                row.values.forEach(value => {
                    data[value.id] = {
                        confirmed: value.confirmed ? 1 : 0,
                        value: value.value
                    }
                })
            })

            axios.post('/api/v2/organizations/'+this.organization.id+ '/approve-data/set-approve-data', {
                fields_approve: data
            })
                .then(() => {
                    this.getData()
                });
        },
        getData(){
            this.fields_approve = {};
            axios.get('/api/v2/organizations/'+this.organization.id+ '/approve-data', {
                params: {
                    page: this.approve_data.current_page,
                    qty: this.approve_data.per_page,
                    fio: this.fio
                }
            })
                .then((response) => {
                    this.approve_data.data = response.data.data.cards.data
                    this.approve_data.total = response.data.data.cards.total
                })
        }
    }
}
</script>
