<template>
    <div>
        <NavTab  :value="routes" class="red mt-3"/>
        <router-view
            :organization="organization"
            :permissions="permissions"
        />
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";


export default {
    name: "Nav",
    components: {
        NavTab,
    },
    props: {
        organization: {},
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                    moderation_org_show: false,
                    moderation_org_teacher: false,
                };
            },
        },
    },
    data() {
        return {
            routes: [
                { name: 'org.edu.user.list', description: 'Список', visible: true },
                { name: 'org.edu.user.approve_data', description: 'Подтверждение данных', visible: true },
            ]
        }
    }
}
</script>

<style scoped>

</style>
