<template>
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="filter.user_search"
                        placeholder="Поиск..."
                    />
                    <div class="input-group-append">
                        <a
                            class="input-group-text pointer"
                            @click="getUsers"
                        >
                            <i class="fa fa-search"/>
                        </a>
                    </div>
                </div>
            </div>
            <div
                v-if="permissions.moderation_org_teacher && organization.roles"
            >
                <select
                    v-model="filter.role_id"
                    class="custom-select"
                >
                    <option value="0">
                        Роль
                    </option>
                    <option
                        v-for="(role, k) in organization.roles"
                        :key="k"
                        :value="role.id"
                    >
                        {{ role.label }}
                    </option>
                </select>
            </div>
            <div
                class="ml-auto col-lg-3"
                v-if="permissions.moderation_org_teacher"
            >
                <a
                    v-if="permissions.moderation_org_teacher"
                    v-tooltip.top-center="'Скачать шаблон для импорта'"
                    class="ml-2 btn"
                    @click="showModalGetTemplateImportUser"
                >
                     <i class="fa fa-file-excel-o" />
                </a>
                <a
                    v-if="permissions.moderation_org_teacher"
                    v-tooltip.top-center="'Импортировать по шаблону'"
                    class="ml-2 btn btn-create"
                    @click="showModalImportUser"
                >
                    Импорт
                </a>
                <a
                    v-if="permissions.moderation_org_teacher"
                    v-tooltip.top-center="'Создать пользователя'"
                    class="ml-2 btn btn-create"
                    @click="showModalAddUser"
                >
                    Создать
                </a>
            </div>
        </div>
        <div class="row pt-3 users">
            <user-card
                v-for="(user, k) in users.data"
                :key="k"
                class="col-lg-3 mb-3 pointer"
                :user="user"
                @click.native="openUserPopup(user)"
            />
        </div>
        <div
            class="row pb-4"
        >
            <b-pagination
                v-model="users.current_page"
                :total-rows="users.total"
                :per-page="users.per_page"
                aria-controls="my-table"
                class="m-auto"
            ></b-pagination>
        </div>
        <user-role-and-card-popup
            v-if="visibleRoleAndCardPopup"
            :user="user"
            :organization="organization"
            @closePopup="closeUserPopup"
        />
        <get-template-import-user-modal
            v-if="permissions.moderation_org_teacher"
            :show="showModal.getTemplateImportUser"
            :organization="organization"
            @closePopup="hideModalGetTemplateImportUser"
        />
        <import-users-modal
            v-if="permissions.moderation_org_teacher"
            :show="showModal.importUsersModal"
            :organization="organization"
            @closePopup="closeModalImportUser"
        />
        <EduAddUser
            v-if="permissions.moderation_org_teacher"
            :organization="organization"
            :permissions="permissions"
            :roles="organization.roles"
            :show="showModal.addUser"
            @closePopup="hideModalAddUser"
        />
    </div>
</template>

<script>
import UserCard from './UserCard';
import UserRoleAndCardPopup from './manage/UserRoleAndCardPopup';
import ImportUsersModal from './manage/importUsersModal';
import GetTemplateImportUserModal from './manage/getTemplateImportUserModal';
import EduAddUser from './manage/AddUser';
import deepClonestart from 'clonedeep';

export default {
    name: "OrgTabUsersIndex",
    components: {
        UserCard,
        UserRoleAndCardPopup,
        ImportUsersModal,
        GetTemplateImportUserModal,
        EduAddUser
    },
    props: {
        organization: {

        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                    moderation_org_show: false,
                    moderation_org_teacher: false,
                };
            },
        },
    },
    data(){
        return {
            filter: {
                user_search: '',
                role_id: 0
            },
            users: {
                total: 0,
                data: [],
                current_page: 1,
                per_page: 15,
            },
            user: {},
            visibleRoleAndCardPopup: false,
            showModal: {
                addUser: false,
                getTemplateImportUser: false,
                importUsersModal: false,
            },
        }
    },
    created() {
        if (this.organization && this.organization.id) this.getUsers()
        if (this.$route.query.email) this.filter.user_search = this.$route.query.email
    },
    watch: {
        'filter.role_id': function (val){
            this.getUsers();
        },
        'filter.user_search': function (val){
            if (val == ""){
                this.getUsers();
            }
        },
        'users.current_page': function (){
            this.getUsers();
        },
        'organization.id': function (val){
            this.getUsers();
        }
    },
    methods: {
        openUserPopup(user){
            if (this.permissions && this.permissions.moderation_org_teacher){
                this.user = deepClonestart(user);
                this.visibleRoleAndCardPopup = true;
            }

        },
        closeUserPopup(){
            this.visibleRoleAndCardPopup = false;
            this.getUsers();
        },
        getUsers(){
            let params = {
                qty: this.users.per_page,
                page: this.users.current_page,
                search: this.filter.user_search,
                role_id: this.filter.role_id,
                with_roles: 1
            };
            this.$axios.get(`/api/v1/organizations/${this.organization.id}/users`, { params })
                .then((response) => {
                    this.users = response.data.data.users;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        showModalImportUser(){
            this.showModal.importUsersModal = true;
        },
        closeModalImportUser(){
            this.showModal.importUsersModal = false;
            this.getUsers()
        },
        showModalGetTemplateImportUser(){
            this.showModal.getTemplateImportUser = true;
        },
        hideModalGetTemplateImportUser(){
            this.showModal.getTemplateImportUser = false;
        },
        showModalAddUser() {
            this.showModal.addUser = true;
        },
        hideModalAddUser() {
            this.showModal.addUser = false;
        },
    }
}
</script>
