<template>
    <div class="d-flex align-items-center">
        <div
            class="avatar avatar40"
            :style="user.avatar ? 'background-image: url(' + user.avatar.medium + ')' : ''"
        />
        <div class="ml-2">
            {{ user.lastname + " " + user.firstname + " " + (user.patronymic ? user.patronymic : '') }}
            <!--<div class="star-rating r-45 mr-32" />-->
        </div>
        <!--<div v-if="permissions.moderation_org_teacher">{{ user.email }}</div>-->
    </div>
</template>

<script>
export default {
    name: "UserCard",
    props: {
        user: {
            type: Object,
            default: () => {},
        }
    },
}
</script>
