<template>
    <main class="edu-about ff-rb">
        <div
            v-if="typeof organization.id !== 'undefined'"
            class="container"
        >
            <div class="row">
                <div class="col-lg-7 pt-3">
                    <span class="fs-18 title gray upper">
                        Об учреждении
                        <i
                            v-if="permissions.moderation_org"
                            class="fa fa-pencil pointer"
                            aria-hidden="true"
                            @click="showManageAbout()"
                        />
                    </span>
                    <div
                        class="pt-3 title black"
                        v-html="organization.description"
                    />
                    <vue-viro-manage-about :organization_id="organization.id" />
                </div>
                <div class="col-lg-5 pt-3">
                    <span class="fs-18 title gray upper f-ls-5">
                        Сведения об организации
                        <i
                            v-if="permissions.moderation_organization_pages"
                            class="fa fa-plus pointer"
                            aria-hidden="true"
                            @click="toggleDinamicPage()"
                        />
                    </span>
                    <div class="pt-3 d-flex flex-column flex-xs-wrap">
                        <span
                            v-for="(page) in pages"
                            :key="page.id"
                        >
                            <a class="default-link" :href="`/organizations/${organization.id}/${page.url}`">{{ page.title }}</a>
                            <i
                                v-if="permissions.moderation_organization_pages"
                                class="ml-3 fa fa-pencil pointer"
                                aria-hidden="true"
                                @click="toggleDinamicPage(page.id)"
                            />
                            <i
                                v-if="permissions.moderation_organization_pages"
                                class="fa fa-trash-o pointer"
                                aria-hidden="true"
                                @click="deletePage(page.id)"
                            />
                        </span>
                        <DinamicPages
                            :organization_id="organization.id"
                            :page_id="dinamicPageId"
                            :permissions="permissions"
                            :show-modal="showModal"
                            :close-dinamic-page="closeDinamicPage"
                            :change-page-list="changePageList"
                        />
                    <!--
                        <div
                            class="edu-certificate mr-24 mt-10"
                            style="background-image: url('/images/certificate.png')"
                        />
                        <div
                            class="edu-certificate mr-24 mt-10"
                            style="background-image: url('/images/certificate.png')"
                        />
                        <div
                            class="edu-certificate mr-24 mt-10"
                            style="background-image: url('/images/certificate.png')"
                        />
                    -->
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="edu-comments mt-48">-->
<!--            <div class="container pt-3">-->
<!--                <div class="pt-80 d-flex justify-content-between">-->
<!--                    <div class="fs-32 fs-sm">-->
<!--                        Новости-->
<!--                    </div>-->
<!--                    <div v-if="permissionNews">-->
<!--                        <a-->
<!--                            id="btnAddNews"-->
<!--                            class="btn btn-create"-->
<!--                            @click="showManageNews()"-->
<!--                        > Добавить</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <vue-manage-news-->
<!--                    :news_id="0"-->
<!--                    :organization_id="organization.id"-->
<!--                />-->

<!--                <div class="news-list row">-->
<!--                    <div-->
<!--                        v-for="(item, k) in news"-->
<!--                        :key="k"-->
<!--                        class="col-lg-3 news pt-3"-->
<!--                    >-->
<!--                        <router-link-->
<!--                            :to="{ name: 'news.show', params: { id: item.id }}"-->
<!--                            class="default-link-no-c"-->
<!--                        >-->
<!--                            &lt;!&ndash; eslint-disable max-len &ndash;&gt;-->
<!--                            <div-->
<!--                                class="news-head"-->
<!--                                :style="('small' in item.image_conversions) ? 'background-image: url(' + item.image_conversions.small + ')' : 'background-image: url(\'/images/news/new 1.png\')'"-->
<!--                            >-->
<!--                                &lt;!&ndash; eslint-disable max-len &ndash;&gt;-->
<!--                                <div class="pt-2 pl-2">-->
<!--                                    <img-->
<!--                                        :src="item.organization.logo"-->
<!--                                        width="40px"-->
<!--                                    >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="pt-2 title gray">-->
<!--                                {{ item.publish_at }}-->
<!--                            </div>-->
<!--                            <div class="title black fs-16 pr-16">-->
<!--                                {{ item.title }}-->
<!--                            </div>-->
<!--                        </router-link>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="pt-4 center pb-5">-->
<!--                    <nav>-->
<!--                        <ul-->
<!--                            v-if="1 in pagination.page"-->
<!--                            class="pagination justify-content-center"-->
<!--                        >-->
<!--                            <li-->
<!--                                class="page-item"-->
<!--                                :class="pagination.prev.show ? '' : 'disabled'"-->
<!--                            >-->
<!--                                <router-link-->
<!--                                    v-if="pagination.prev.show"-->
<!--                                    :to="{ name: 'org.viro.about', params: { page: pagination.prev.page }}"-->
<!--                                    rel="prev"-->
<!--                                    class="page-link"-->
<!--                                >-->
<!--                                    ‹-->
<!--                                </router-link>-->
<!--                                <span-->
<!--                                    v-else-->
<!--                                    class="page-link"-->
<!--                                >‹</span>-->
<!--                            </li>-->
<!--                            <li-->
<!--                                v-for="(page, k) in pagination.page"-->
<!--                                :key="k"-->
<!--                                aria-current="page"-->
<!--                                class="page-item"-->
<!--                                :class="page == news.current_page ? 'active' : ''"-->
<!--                            >-->
<!--                                <router-link-->
<!--                                    v-if="page != filter.page"-->
<!--                                    class="page-link"-->
<!--                                    :to="{ name: 'org.viro.about', params: { page: page }}"-->
<!--                                >-->
<!--                                    {{ page }}-->
<!--                                </router-link>-->
<!--                                <span-->
<!--                                    v-else-->
<!--                                    class="page-link"-->
<!--                                >{{ filter.page }}</span>-->
<!--                            </li>-->
<!--                            <li-->
<!--                                class="page-item"-->
<!--                                :class="pagination.next.show ? '' : 'disabled'"-->
<!--                            >-->
<!--                                <router-link-->
<!--                                    v-if="pagination.next.show"-->
<!--                                    :to="{ name: 'org.viro.about', params: { page: pagination.next.page }}"-->
<!--                                    rel="next"-->
<!--                                    class="page-link"-->
<!--                                >-->
<!--                                    ›-->
<!--                                </router-link>-->
<!--                                <span-->
<!--                                    v-else-->
<!--                                    class="page-link"-->
<!--                                >›</span>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </main>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';

import VueManageNews from '@base/components/news/Manage.vue';
import VueViroManageAbout from '@base/components/org/viro/tab/manage/About.vue';
import DinamicPages from '@base/components/org/viro/tab/manage/DinamicPages.vue';
import Paginate from '@base/inc/func/Paginate';
import { defOrganization } from '@base/inc/defaults/app';

export default {
    name: 'OrgViroTabAbout',
    components: {
        VueManageNews,
        VueViroManageAbout,
        DinamicPages,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object | Array,
            default() {
                return {
                    moderation_org: false,
                    moderation_organization_pages: false,
                };
            },
        },
    },
    data() {
        return {
            news: {},
            permissionNews: false,
            filter: {
                page: 1,
                per_page: 16,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            pages: [],
            dinamicPageId: 0,
            showModal: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
            'getStore',
        ]),
        // hasUpdateNews() {
        //     return this.getStore('update.org.news');
        // },
    },
    watch: {
        'organization.id': function (val) {
            if (val !== 'undefined') {
                //this.getNews();
                this.getDinamicPages();
            }
        },
        permissionNews(val) {
            if (val) {
                // setTimeout(() => { this.$scrollTo('#btnAddNews', 1000); }, 1000);
            }
        },
        // hasUpdateNews(val) {
        //     if (typeof this.organization.id === 'number') {
        //         if (val.includes(this.organization.id)) {
        //             val.pop(this.organization.id);
        //             this.setStore({ key: 'update.org.news', data: val });
        //             this.getNews();
        //         }
        //     }
        // },
    },
    created() {
    },
    mounted() {
        if (typeof this.organization.id !== 'undefined') {
            const to = { params: { page: this.filter.page } };
            this.updateRoute(to);
        }
        this.getDinamicPages();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getDinamicPages() {
            if (typeof this.organization.id !== 'undefined') {
                this.$
                this.$axios.get(`/api/v1/organizations/${this.organization.id}/pages`)
                    .then((response) => {
                        this.$
                        this.pages = response.data.data.pages;
                    })
                    .catch(() => {

                    })
                    .finally(() => {
                    });
            }
        },
        getNews() {
            let params = `qty=${this.filter.per_page}`;
            params += `&page=${this.filter.page}`;
            params += `&organization_id=${this.organization.id}`;
            params += '&check_permission=1';
            params += '&without_published=1';

            this.$Progress.start();
            this.$axios.get(`/api/v1/news?${params}`)
                .then((response) => {
                    this.$Progress.finish();
                    this.pagination = Paginate.calculate(response.data.data.news);
                    this.news = response.data.data.news.data;
                    this.permissionNews = response.data.data.permission;
                })
                .catch((error) => {
                    this.$Progress.fail();
                    //console.log(error);
                })
                .finally(() => {
                });
        },
        toggleDinamicPage(pageId = undefined) {
            if (typeof this.dinamicPageId === 'number' && this.dinamicPageId) {
                this.dinamicPageId = 0;
            } else if (pageId !== undefined) {
                this.dinamicPageId = pageId;
            }
            this.showModal = !(this.showModal);
        },
        closeDinamicPage() {
            this.showModal = false;
            this.dinamicPageId = 0;
        },
        showManageNews() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.news.add');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.news.add', data: modal });
            }
        },
        showManageAbout() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.about');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.org.about', data: modal });
            }
        },
        updateRoute(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getNews();
        },
        changePageList(page) {
            if (this.pages.filter((el) => page.id === el.id).length === 0) {
                this.pages.push(page);
            } else {
                this.pages = this.pages.map((currentPage) => {
                    if (currentPage.id === page.id) {
                        const result = { ...page };
                        return result;
                    }
                    return currentPage;
                });
            }
        },
        deletePage(pageId) {
            this.$Progress.start();
            this.$axios.delete(`/api/v1/organizations/${this.organization.id}/pages/${pageId}`)
                .then(() => {
                    this.pages = this.pages.filter((currentPage) => currentPage.id !== pageId);
                })
                .catch((error) => {
                    this.$Progress.fail();
                   // console.log(error);
                })
                .finally(() => {
                });
        },
    },
    beforeRouteUpdate (to, from, next) { // eslint-disable-line
        this.updateRoute(to);
        next();
    },
};

</script>
