<template>
    <main class="edu-about ff-rb">
        <div class="container">
            <div class="row">
<!--                <div class="col-lg-5 pt-3">-->
<!--                    <div class="title gray upper fs-18">-->
<!--                        Поддержка-->
<!--                    </div>-->
<!--                    <div class="d-flex pt-3">-->
<!--                        <div class="mr-2">-->
<!--                            <div-->
<!--                                class="avatar avatar60"-->
<!--                            >-->
<!--&lt;!&ndash;                                :style="'background-image: url(' + avatar + ')'"&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column align-self-center mr-3">-->
<!--                            <span>Тех. поддержка ВИРО</span>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-column align-self-center mr-0">-->
<!--                            <a-->
<!--                                href="/chats/startvsadmin"-->
<!--                                class="btn btn-write mr-16"-->
<!--                            >Написать</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="ml-sm-auto col-lg-5 pt-3">
                    <div class="title gray upper fs-18">
                        КОНТАКТЫ
                        <i
                            v-if="permissions.moderation_org"
                            class="fa fa-pencil pointer"
                            aria-hidden="true"
                            @click="showManageContact()"
                        />
                    </div>
                    <div class="item title black pt-3">
                        <img
                            src="/images/icons/call-phone.svg"
                            class="mr-16"
                        > {{ organization.phone }}
                    </div>
                    <div class="item title black pt-2">
                        <img
                            src="/images/icons/mail.svg"
                            class="mr-2"
                        > {{ organization.email }}
                    </div>
                </div>
            </div>
            <!-- eslint-disable -->
            <div class="row pt-3">
                <div class="col-lg-12 d-flex">
                    <div class="m-auto fs-16 title gray">
                        ОТДЕЛЫ
                        <i
                            class="fa fa-plus pointer" aria-hidden="true"
                            v-if="permissions.moderation_organization_departments"
                            @click="showManageDepartment(0, 0)"
                        ></i>
                    </div>
                </div>
                <div
                    class="col-lg-12 viro-department mt-24"
                    v-for="(depart, k) in departments"
                    :key="k"
                >
                    <div class="viro-department-head">
                        <span class="title fs-32 ff-pn">
                            <i
                                v-if="!depart.show"
                                v-tooltip.top-center="tooltip.department.hide"
                                class="fa fa-eye-slash icon-font-size"
                                aria-hidden="true"
                            />
                            {{ depart.name }}
                            <i
                                v-if="permissions.moderation_organization_departments"
                                class="fa fa-pencil icon-font-size ml-10 pointer"
                                aria-hidden="true"
                                @click="showManageDepartment(depart.id, 0)"
                            />
                            <i
                                v-if="permissions.moderation_organization_departments"
                                class="fa fa-trash-o icon-font-size ml-10 pointer"
                                aria-hidden="true"
                                @click="deleteDepartment(depart.id)"
                            />
                            <i
                                class="fa fa-plus icon-font-size ml-10 pointer"
                                aria-hidden="true"
				                style="display:none;"
                                v-tooltip.top-center="tooltip.department.addSub"
                                v-if="permissions.moderation_organization_departments"
                                @click="showSubManageDepartment(0, depart.id)"
                            />
                            <i
                                class="fa fa-address-card-o icon-font-size ml-10 pointer"
                                aria-hidden="true"
                                v-tooltip.top-center="tooltip.department.addContact"
                                v-if="permissions.moderation_organization_contacts"
                                @click="showManageDepartmentContact(depart.id, 0)"
                            />
                        </span>
                    </div>
                    <div class="viro-department-content">
                        <div class="row">
                            <div class="col-lg-6"
                                 v-for="(cont, c) in depart.contacts"
                                 :k="c">
                                <div class="d-flex pt-32">
                                    <div class="mr-20">
                                        <div
                                            class="user-avatar s-60"
                                            :style="'background-image: url(' + getUserAvatar(cont.user) + ')'"
                                        />
                                    </div>
                                    <div class="d-flex flex-column align-self-center mr-30">
                                        <span class="fs-16">
                                            <i
                                                v-if="!cont.show"
                                                v-tooltip.top-center="tooltip.department.hideContact"
                                                class="fa fa-eye-slash"
                                                aria-hidden="true"
                                            />
                                            {{ cont.user.firstname + ' ' + cont.user.lastname }}
                                            <i
                                                v-if="permissions.moderation_organization_contacts"
                                                class="fa fa-pencil pointer"
                                                aria-hidden="true"
                                                @click="showManageDepartmentContact(depart.id, cont.id)"
                                            />
                                            <i
                                                v-if="permissions.moderation_organization_contacts"
                                                class="fa fa-trash-o ml-10 pointer"
                                                aria-hidden="true"
                                                @click="deleteDepartmentContact(cont.id)"
                                            />
                                        </span>
                                        <span class="title gray">{{ cont.position }}</span>
                                    </div>
                                </div>
                                <div class="pt-12 ml-80">
                                    <div class="item title black">
                                        <img
                                            src="/images/icons/call-phone.svg"
                                            class="mr-16"
                                        > {{ cont.phone }}
                                    </div>
                                    <div class="item title black pt-10">
                                        <img
                                            src="/images/icons/mail.svg"
                                            class="mr-16"
                                        > {{ cont.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- eslint-disable -->
        </div>
        <br />
        <br />
        <br />
        <br />
        <ManageContact v-if="permissions.moderation_org"
                       :organization="organization"
        />
        <Managedepartment v-if="permissions.moderation_organization_departments "
                          :organization="organization"
                          :department_id="department_id"
                          :parent_id="parent_id"
        />
        <ManagedepartmentContact v-if="permissions.moderation_organization_contacts"
            :organization="organization"
            :department="department"
            :contactId="contact_id"
        />
    </main>
</template>

<script>

import { mapMutations, mapGetters } from 'vuex';
import { defOrganization, defDepartment } from '@base/inc/defaults/app';
import ManageContact from '@base/components/org/viro/tab/manage/Contact';
import Managedepartment from '@base/components/org/viro/tab/manage/Department';
import ManagedepartmentContact from '@base/components/org/viro/tab/manage/DepartmentContact';
import deepClone from 'clonedeep';

export default {
    name: 'OrgViroTabContact',
    components: {
        ManageContact,
        Managedepartment,
        ManagedepartmentContact,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                    moderation_organization_departments: false,
                    moderation_organization_contacts: false,
                };
            },
        },
    },
    data() {
        return {
            tooltip: {
                department: {
                    hide: 'Департамент невидимым для пользователей',
                    addSub: 'Добавить под департамент',
                    addContact: 'Добавить контакт к департаменту',
                    hideContact: 'Контакт невидимым для пользователей',
                },
            },
            departments: [],
            department: {},
            department_id: 0,
            contact_id: 0,
            parent_id: 0,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasUpdateDepartment() {
            return this.getStore('update.org.department');
        },
    },
    watch: {
        hasUpdateDepartment(val) {
            if (typeof this.organization.id === 'number') {
                if (val.includes(this.organization.id)) {
                    val.pop(this.organization.id);
                    this.setStore({ key: 'update.org.department', data: val });
                    this.getDepartments('local');
                    this.contact_id = 0;
                }
            }
        },
        'organization.id': function () {
            this.changeProps();
        },
    },
    created() {
        this.department = deepClone(defDepartment);
    },
    mounted() {
        this.changeProps();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        showManageContact() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.contact');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.org.contact', data: modal });
            }
        },
        changeProps() {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                this.getDepartments('global');
            }
        },
        getDepartments(loading) {
            const url = `/api/v1/organizations/${this.organization.id}/departments`;
            const params = {
                filter: 'show',
                paginated: 0,
                with_childs: 1,
                with_contact: 1,
                filter_contact: 'show',
            };

            if (this.permissions.moderation_organization_departments) {
                params.filter = 'all';
            }
            if (this.permissions.moderation_organization_contacts) {
                params.filter_contact = 'all';
            }


            this.$axios.get(url, { params },
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.departments = response.data.data.departments;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        showSubManageDepartment(departmentId, parentId) {
            if (parentId && confirm('Добавить под департамент ?')) { // eslint-disable-line no-restricted-globals
                this.showManageDepartment(departmentId, parentId);
            }
        },
        showManageDepartment(departmentId, parentId) {
            this.department_id = departmentId;
            this.parent_id = parentId;

            if (typeof this.organization.id === 'number') {
                if (typeof departmentId === 'number' && departmentId) {
                    const modal = this.getStore('modal.org.department.edit');
                    if (!modal.includes(departmentId)) {
                        modal.push(departmentId);
                    }
                    this.setStore({ key: 'modal.org.department.edit', data: modal });
                } else {
                    const modal = this.getStore('modal.org.department.add');
                    if (!modal.includes(this.organization.id)) {
                        modal.push(this.organization.id);
                    }
                    this.setStore({ key: 'modal.org.department.add', data: modal });
                }
            }
        },
        deleteDepartment(id) {
            if (confirm('Удалить ?')) { // eslint-disable-line no-restricted-globals
                const loading = 'local';
                const url = `/api/v1/organizations/${this.organization.id}/departments/${id}`;

                this.$axios.delete(url, {},
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {

                        this.getDepartments(loading);
                    })
                    .catch(() => {

                    })
                    .finally(() => {
                    });
            }
        },
        showManageDepartmentContact(departmentId, contactId) { // eslint-disable-line
            this.contact_id = contactId;
            this.department_id = departmentId;
            this.department = { ...this.departments.filter((item) => item.id === departmentId)[0] };

            if (typeof this.department === 'object') {
                if (typeof this.organization.id === 'number'
                    && typeof this.department.id === 'number') {
                    if (typeof contactId === 'number' && contactId) {
                        const modal = this.getStore('modal.org.department.contact.edit');
                        if (!modal.includes(contactId)) {
                            modal.push(contactId);
                        }
                        this.setStore({ key: 'modal.org.department.edit', data: modal });
                    } else {
                        const modal = this.getStore('modal.org.department.contact.add');
                        if (!modal.includes(this.department.id)) {
                            modal.push(this.department.id);
                        }
                        this.setStore({ key: 'modal.org.department.contact.add', data: modal });
                    }
                }
            }
        },
        deleteDepartmentContact(contactId) {
            if (confirm('Удалить ?')) { // eslint-disable-line no-restricted-globals
                const loading = 'local';
                const url = `/api/v1/organizations/${this.organization.id}/contacts/${contactId}`;

                this.$axios.delete(url, {},
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {

                        this.getDepartments(loading);
                    })
                    .catch(() => {

                    })
                    .finally(() => {
                    });
            }
        },
        getUserAvatar(user) {
            let { avatar } = this;
            if (typeof user.avatar.medium !== 'undefined' && user.avatar.medium) {
                avatar = user.avatar.medium;
            }

            return avatar;
        },
    },
};

</script>
