<template>
    <main class="edu-documents">
        <div class="container">
            <div class="pt-2 row m-0  justify-content-between">
                <div class="fs-32 fs-sm" />
                <div v-if="permissions.organization_upload_documents">
                    <div class="custom-file">
                        <input
                            id="btnAddDocument"
                            type="file"
                            class="custom-file-input"
                            :value="fileInput"
                            required
                            lang="ru"
                            @change="previewFiles"
                        >
                        <label
                            class="custom-file-label"
                            for="btnAddDocument"
                        >{{ fileName }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-10 pb-50 viro-documnets-list">
            <div
                v-for="(item, k) in documents"
                :key="k"
                class="row document m-0 mb-12"
            >
                <div class="col-lg-11 row align-items-center">
                    <div>
                        <i
                            aria-hidden="true"
                            class="fa fa-lg"
                            :class="item.icon"
                        />
                        <a
                            :href="item.url"
                            target="_blank"
                            class="pl-20 title black fs-18"
                        >{{ item.document.file_name }}</a>
                    </div>

                    <div class="ml-auto download d-none d-sm-block">
                        <a
                            :href="item.url"
                            class="btn btn-upload btn-s-14"
                        >Скачать</a>
                    </div>
                </div>

                <div class="ml-auto col-lg-1 d-flex align-items-center">
                    <div class="ml-auto  title gray fs-14">
                        {{ item.document.updated_at }}
                    </div>
                    <div
                        v-if="permissions.organization_upload_documents"
                        class="pl-10"
                    >
                        <a
                            class="title pointer"
                            @click="deleteDocument(item.document.id)"
                        >
                            <i
                                aria-hidden="true"
                                class="fa fa-lg fa-trash"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="center pb-40">
            <PagePagination
                :route-name="'org.viro.documents'"
                :route-params="{ page: 1 }"
                :pagination="pagination"
            />
        </div>
    </main>
</template>

<script>
import { defOrganization } from '@base/inc/defaults/app';
import Paginate from '@base/inc/func/Paginate';
import PagePagination from '@base/components/inc/Paginate';

export default {
    name: 'OrgViroTabDocuments',
    components: {
        PagePagination,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },

        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                    organization_upload_documents: false,
                };
            },
        },
    },
    data() {
        return {
            fileInput: null,
            fileName: 'Новый документ',
            documents: {},
            filter: {
                page: 1,
                per_page: 5,
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
        };
    },
    watch: {
        'organization.id': function (val) {
            if (val !== 'undefined') {
                this.getDocuments();
            }
        },
    },
    created() {

    },
    mounted() {
        if (typeof this.$route.params.page !== 'undefined') {
            this.filter.page = this.$route.params.page;
        }
        if (typeof this.organization.id !== 'undefined') {
            this.getDocuments();
        }
    },
    methods: {
        deleteDocument(element) {

            this.$axios.get(`/api/v1/organizations/${this.organization.id}/documents/delete`, {
                params: {
                    document_id: element,
                },
            })
                .then(() => {
                    this.getDocuments();

                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        previewFiles(event) {
            this.$
            if (typeof event.target.files[0].name !== 'undefined') {
                this.fileName = event.target.files[0].name;

                const formData = new FormData();
                formData.append('document', event.target.files[0]);

                this.$axios.post(`/api/v1/organizations/${this.organization.id}/documents/upload`,
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                        },
                    })
                    .then(() => {
                        this.$
                        this.fileName = 'Новый документ';
                        this.getDocuments();
                        this.fileInput = null;
                    })
                    .catch(() => {

                        this.fileName = 'Новый документ';
                        alert('Ошибка загрузки');
                    })
                    .finally(() => {

                    });
            }
        },
        getDocuments() {
            this.$axios.get(`/api/v1/organizations/${this.organization.id}/documents`, {
                params: {
                    qty: this.filter.per_page,
                    page: this.filter.page,
                },
            })
                .then((response) => {
                    this.pagination = Paginate.calculate(response.data.data.pagination);
                    this.documents = response.data.data.documents;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        updateRoute(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getDocuments();
        },
    },
        beforeRouteUpdate (to, from, next) { // eslint-disable-line
        this.updateRoute(to);
        next();
    },
};
</script>
