<template>
    <main class="edu-program">
    </main>
</template>

<script>

import { defOrganization } from '@base/inc/defaults/app';

export default {
    name: 'OrgViroTabProgram',
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
    },
    data() {
        return {};
    },
    created() {

    },
    mounted() {

    },
    methods: {

    },
};

</script>
