<template>
    <popup
        caption="Загрузить результаты"
        @closePopup="closePopup"
    >
        <template slot="body">
            <div>
                <b-form-file
                    v-model="upload_file"
                    placeholder="zip архив с результатами"
                    :class="('zip' in errors) ? 'is-invalid' : ''"
                />
                <valid-sign
                    name="zip"
                    :invalid="errors"
                />
            </div>

            <div
                class="row"
            >
                <div
                    class="col-lg-12 my-2"
                >
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template slot="footer">
            <a
                @click="uploadZip"
                class="btn btn-success"
            >
                Загрузить
            </a>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: 'UploadReviewPopup',
    components: {
        Popup,
        SuccessError,
        validSign
    },
    mixins: [mixSuccess],
    props: {
        quiz: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            upload_file: null,
            errors: {}
        }
    },
    methods: {
        closePopup(){
            this.$emit('closePopup')
        },
        uploadZip() {
            let data = new FormData();
            data.append('zip', this.upload_file)
            data.append('quiz_id', this.quiz.id)
            this.$axios.post('/api/v2/quiz-review-attempts/update-zip', data)
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {}
                    this.upload_file = null
                })
            .catch((error) => {
                this.mixShow('error');
                this.errors = error.response.data.errors;
            })
        }
    }
};
</script>

<style>
    .custom-file-input:lang(ru) ~ .custom-file-label::after {
        content: "Выбрать" !important;
    }
</style>
