<template>
<div>
    <div class="head-edu">
        <div class="page-head edu-info">
            <org-header :organization="organization" :mapParam="mapParam" />

            <div class="container">
                <NavTab  :value="tabs"/>
            </div>
        </div>
    </div>
    <router-view :organization="organization" :permissions="permissions" :has-role="hasRole" />
</div>
</template>
<script>
import {
    mapGetters,
    mapMutations
} from 'vuex';
import OrgHeader from '../base/Head';
import NavTab from "@base/components/base/NavTab";

export default {
    name: 'OrgViroIndex',
    components: {
        OrgHeader,
        NavTab,
    },
    filters: {

    },
    props: [],
    data() {
        return {
            org_id: 0,
            mapParam: {
                zoom: 16,
                coords: [51.660560, 39.200079],
            },

            organization: {},
            permissions: {
                moderation_org: false,
                moderation_org_show: false,
                moderation_org_teacher: false,
                moderation_organization_pages: false,
                moderation_organization_departments: false,
                moderation_organization_contacts: false,
                organization_upload_documents: false,
                organization_quiz_review_index: false,
            },
            hasRole: [],
            selectedTab: '',
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasUpdateAbout() {
            return this.getStore('update.org.about');
        },
        tabs() {
            return [
                {
                    name: 'org.viro.routes',
                    description: 'Заявки ИОМ',
                    visible: this.permissions?.managing || this.permissions?.iom_head_teaching || this.permissions?.iom_course_approving,
                },
                {
                    name: 'org.viro.course',
                    description: 'Курсы организации',
                    visible: true
                },
                {
                    name: 'org.viro.user',
                    description: 'Пользователи',
                    visible: this.permissions.moderation_org_teacher
                },
                {
                    name: 'org.viro.about',
                    description: 'О нас',
                    visible: true
                },
                {
                    name: 'org.viro.contact',
                    description: 'Контакты',
                    visible: true
                },
                //{ name: 'org.viro.documents', description: 'Документы' },
                {
                    name: 'org.viro.question_bank',
                    description: 'Банк вопросов',
                    visible: this.permissions.moderation_org,
                },
                {
                    name: 'org.viro.test',
                    description: 'Тесты',
                    visible: this.permissions.moderation_org
                },
                {
                    name: 'org.viro.review-test',
                    description: "Работа с тестами",
                    visible: this.permissions.organization_quiz_review_index
                }
            ]
        },
    },
    watch: {
        $route(to) {
            if (typeof to.params.id !== 'undefined' && to.params.id !== this.org_id) {
                this.org_id = to.params.id;
                this.getOrganization('local');
            }
        },
        hasUpdateAbout(val) {
            if (typeof this.organization.id === 'number') {
                if (val.includes(this.organization.id)) {
                    val.pop(this.organization.id);
                    this.setStore({
                        key: 'update.org.about',
                        data: val
                    });
                    this.getOrganization('local');
                }
            }
        },
    },
    mounted() {
        if (typeof this.$route.params.id !== 'undefined') {
            this.org_id = this.$route.params.id;
            // this.$store.dispatch('getAuth', { loading: { type: 'local' } });
            this.getOrganization('global');

            if (this.$route.name === 'org.viro.show') {
                this.$router.push({
                    name: 'org.viro.about'
                });
            }
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        getOrganization(loading) {
            this.permissions.moderation_org = false;
            this.permissions.moderation_org_show = false;

            this.$axios.get(`/api/v1/organizations/${this.org_id}`)
                .then((response) => {

                    this.organization = response.data.data.organization;
                    if (typeof this.organization.map_coordinates_x === 'number' &&
                        typeof this.organization.map_coordinates_y === 'number') {
                        this.coords = [this.organization.map_coordinates_x, this.organization.map_coordinates_y];
                    }
                    this.permissions = response.data.data.permissions;
                    this.hasRole = response.data.data.has_role;
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {});
        },

    },
};
</script>
