<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Карточка разрешена:
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div
                                        class="form-group"
                                    >
                                        <select
                                            class="form-control"
                                            v-model="district_select"
                                        >
                                            <option :value='null'>Выбрать район</option>
                                            <option
                                                v-for="district in districts.data"
                                                :value="district.id"
                                            >
                                                {{ district.name }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <table
                                            class="table"
                                        >
                                            <thead></thead>
                                            <tbody>
                                            <tr
                                                v-for="organization in organizations.data"
                                            >
                                                <td>{{ organization.name }}</td>
                                                <td>
                                                    <input
                                                        type="checkbox"
                                                        v-model="select_organizations[organization.id]"
                                                        :disabled="(card.organizations && card.organizations.map(a => a.id).includes(organization.id))"
                                                    />
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group">
                                        <a
                                            class="btn btn-success"
                                            @click="attachOrg"
                                        >
                                            Добавить
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <table
                                        class="table"
                                    >
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(organization, k) in card.organizations"
                                            >
                                                <td>{{ organization.name }}</td>
                                                <td>
                                                    <a
                                                        type="button"
                                                        class="fa fa-trash"
                                                        @click="detachOrg(organization)"
                                                    />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import validSign from '@base/components/base/validSign';
    import { getOrganizations } from '@base/api/organization';
    import { createCardTemplateField } from '@base/api/user-card';


    export default {
        name: "cardTemplateOrganizations",
        mixins: [mixSuccess],
        components: {
            SuccessError,
            validSign,
        },
        props:{
            show: {
                type: Boolean,
                default: false
            },
            card: {
                type: Object,
                default: {}
            }
        },
        data(){
            return {
                select_organizations: {},
                errors: {},
                district_select: null,
                districts: {
                    data: []
                },
                organizations: {
                    per_page: 15,
                    total: 0,
                    page: 1,
                    data: [

                    ]
                },
            }
        },
        watch: {
            'card.organizations': function (){
                for(let id in this.card.organizations){
                    this.select_organizations[this.card.organizations[id].id] = true;
                }
            },
            show: function (){
                if (this.show){
                    this.getDistricts();
                }
            },
            'district_select': function (){
                this.getOrganizations();
            }
        },
        methods: {
            getDistricts(){
                axios.get('/api/v1/districts', {params: {
                        qty: 999
                    }})
                    .then((response) => {
                        this.districts.data = response.data.data.districts.data;
                    });
            },
            getOrganizations(){
                //this.getOrganizations({per_page: 999, page:1, type: "VIRO,EDU" });
                getOrganizations({
                    qty: this.organizations.per_page,
                    page: this.organizations.page,
                    search: this.search,
                    district: this.district_select,
                    type: 'EDU,VIRO',
                    with_count: [
                        "users",
                    ],
                    with: [
                        "cameras",
                        "district"
                    ]
                }).then((response) => {
                    this.organizations.data = response.data.data.organizations.data;
                    this.organizations.total = response.data.data.organizations.total;
                    this.organizations.per_page = response.data.data.organizations.per_page;
                });
            },
            closePopup(){
                this.$emit('closePopup')
            },
            detachOrg(item){
                let data = {};
                data._method = 'PATCH';
                data.action = 'detach-organization';
                data.organization_id = item.id;
                createCardTemplateField(this.card.id, data).then((request) => {
                    this.select_organization_id = null;
                    this.card.organizations = request.result.organizations;
                });
            },
            attachOrg(){
                let ids = [];
                for(let id in this.select_organizations){
                    if (this.select_organizations[id]){
                        ids.push(id);
                    }
                }
                if (ids.length > 0){
                    let data = {};
                    data._method = 'PATCH';
                    data.action = 'attach-organizations';
                    data.organization_ids = ids;
                    createCardTemplateField(this.card.id, data)
                        .then((request) => {
                            // this.select_organization_id = null;
                            this.card.organizations = request.result.organizations;
                            this.mixShow('success');
                            this.errors = {}
                        })
                        .catch((error) => {
                            this.mixShow('error');

                            this.errors = error.response?.data.errors || {};
                        })
                }

            }
        }
    }
</script>
