<template>
    <popup
        :caption="'Зарегистрировать пользователя'"
        @closePopup="$emit('closePopup')"
    >
        <template slot="body">
            <div class="row">
                <div class="col-lg-6">
                    <form-group
                        label="Логин"
                        type="text"
                        name="login"
                        v-model="user.login"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Фамилия"
                        type="text"
                        name="lastname"
                        v-model="user.lastname"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Имя"
                        type="text"
                        name="firstname"
                        v-model="user.firstname"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Отчество"
                        type="text"
                        name="patronymic"
                        v-model="user.patronymic"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Email"
                        type="text"
                        name="email"
                        v-model="user.email"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Телефон"
                        type="text"
                        name="phone"
                        v-model="user.phone"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Пароль"
                        type="text"
                        name="password"
                        v-model="user.password"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="СНИЛС"
                        type="text"
                        name="snils"
                        v-model="user.snils"
                        :errors="errors"
                    />
                </div>
            </div>
            <div class="col-lg-12 pb-2" v-if="errors">
                <SuccessError :show="{success, not_success}" />
            </div>
        </template>
        <template slot="footer">
            <div>
                <a
                    class="btn btn-success"
                    @click="submit"
                >
                    Зарегистрировать
                </a>
            </div>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import FormGroup from '@base/components/base/FormGroup';


import { createUser } from '@base/api/user';

export default {
    name: "CreateUser",
    data(){
        return {
            user: {
                login: null,
                lastname: null,
                firstname: null,
                name: null,
                patronymic: null,
                email: null,
                phone: null,
                password: null,
                snils: null,
            },
            errors: {

            },
        }
    },
    components: {
        FormGroup,
        Popup,
        SuccessError
    },
    mixins: [mixSuccess],
    methods: {
        submit(){
            createUser(this.user)
                .then((response) => {
                    this.errors = {}
                    this.user = {
                        login: null,
                        lastname: null,
                        firstname: null,
                        name: null,
                        patronymic: null,
                        email: null,
                        phone: null,
                        password: null,
                        snils: null,
                    };
                    this.mixShow('success');
                })
            .catch((error) => {
                this.mixShow('error');
                this.errors = error.response?.data.errors || {};
            })
        }
    }
}
</script>

<style scoped>

</style>
