<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-lg"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                           Создать карточку
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label>
                                        Название
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        :class="('name' in errors) ? 'is-invalid' : ''"
                                        name="name"
                                        v-model="card_name"
                                    />
                                    <valid-sign
                                        :name="'name'"
                                        :invalid="errors"
                                    />
                                </div>
                                <div class="form-group">
                                    <a
                                        @click="createCard"
                                        class="btn btn-success"
                                    >
                                        Создать
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { createCardTemplate } from '@base/api/user-card';
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';

export default {
    name: 'createCardTemplatePopup',
    components: {
        validSign,
        SuccessError,
    },
    mixins: [mixSuccess],
    props:{
        show: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return {
            card_name: '',
            errors: {},
        }
    },
    methods: {
        closePopup(){
            this.$emit('closePopup')
        },
        createCard(){
            createCardTemplate({
                name: this.card_name
            }).then((response) => {
                this.card_name = '';
                this.mixShow('success');
                this.errors = {}
                setTimeout(() => {this.closePopup()}, 1500);
            }).catch((error) => {
                this.mixShow('error');
                this.errors = error.response?.data.errors || {};
            })
        },
    }
};
</script>
