<template>
    <popup
        caption="Обновить поле"
        @closePopup="closePopup"
    >
        <template slot="body">
            <div class="row">
                <div class="col-lg-6">
                    <form-group
                        label="Название"
                        type="text"
                        name="name"
                        v-model="field.name"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Тип"
                        type="text"
                        name="type"
                        disabled
                        v-model="field.type"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6" v-if="field.type == 'select'">
                    Варианты выбора:
                    <Draggable
                        v-model="field.data"
                    >
                        <div v-for="(value,k) in field.data" class="d-flex align-items-center mb-2" :key="'select_' + k">
                            <input
                                class="form-control"
                                type="text"
                                v-model="field.data[k]"
                            />
                            <a class="fa fa-arrows-alt mx-2"/>
                            <a @click="deleteSelectField(k)" class="fa fa-trash ml-2"/>

                        </div>
                    </Draggable>

                    <a class="fa fa-plus" @click="addSelectField"/>
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Обязательное"
                        type="checkbox"
                        name="required"
                        v-model="field.required"
                        :errors="errors"
                        />
                    <form-group
                        label="Пользователь может редактировать"
                        type="checkbox"
                        name="editable"
                        v-model="field.editable"
                        :errors="errors"
                        />
                    <form-group
                        label="Данные нужно подтверждать"
                        type="checkbox"
                        name="confirm"
                        v-model="field.confirm"
                        :errors="errors"
                        />
                </div>
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template slot="footer">
            <a @click="save" class="btn btn-success">Сохранить</a>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import FormGroup from '@base/components/base/FormGroup';
import { createCardTemplateField } from '@base/api/user-card';
import Draggable from 'vuedraggable';

export default {
    name: 'EditCardField',
    components: {
        FormGroup,
        Popup,
        SuccessError,
        Draggable
    },
    data(){
        return {
            errors: {}
        }
    },
    mixins: [mixSuccess],
    props: {
        field: {}
    },
    methods: {
        closePopup(){
            this.$emit('closePopup')
        },
        addSelectField(){
          this.field.data.push("");
        },
        deleteSelectField(index){
            this.field.data.splice(index, 1);
            this.$forceUpdate();
        },
        save() {
            let data = {};
            data._method = 'PATCH';
            data.action = 'update-field';
            data.field = this.field;
            createCardTemplateField(this.field.user_card_template_id, data)
                .then((request) => {
                    // this.userCardTemplate.fields = request.result;
                    // this.field = { name: '', type: '', data: null };
                    this.$emit('updateField', this.field)
                    this.mixShow('success');
                    this.errors = {}
                })
                .catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
        },
        update(){
            this.mixShow('success');
        }
    }
};
</script>

<style scoped>

</style>
