<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ 'Редактирование пользователя' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Фамилия</label>
                                        <input
                                            v-model="user.lastname"
                                            class="form-control"
                                            :class="('lastname' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'lastname' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.lastname"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Отчество</label>
                                        <input
                                            v-model="user.patronymic"
                                            class="form-control"
                                            :class="('patronymic' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'patronymic' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.patronymic"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Имя</label>
                                        <input
                                            v-model="user.firstname"
                                            class="form-control"
                                            :class="('firstname' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'firstname' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.firstname"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Емайл</label>
                                        <input
                                            v-model="user.email"
                                            class="form-control"
                                            :class="('email' in invalid) ? 'is-invalid' : ''"
                                            type="email"
                                        >
                                        <div
                                            v-if="'email' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Логин</label>
                                        <input
                                            v-model="user.login"
                                            class="form-control"
                                            :class="('login' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'login' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.login"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="title gray">Телефон</label>
                                        <input
                                            v-model="user.phone"
                                            class="form-control"
                                            :class="('phone' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'phone' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.phone"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-6">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-12">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { defUser } from '@base/inc/defaults/app';

export default {
    name: 'ManageUser',
    mixins: [Proccess],
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        user: {
            type: Object,
            default: defUser,
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {};
    },
    methods: {
        submit() {
            if (this.user.id) {
                this.update();
            }
        },
        update() {
            const url = `/api/v1/users/${this.user.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'data');

            formData.append('lastname', this.user.lastname);
            formData.append('patronymic', this.user.patronymic ? this.user.patronymic : '');
            formData.append('firstname', this.user.firstname);
            formData.append('email', this.user.email);
            formData.append('login', this.user.login);
            formData.append('phone', this.user.phone);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
