<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Управление шаблонами данных пользователя {{ user.firstname }} {{ user.lastname }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div
                                class="row"
                                v-if="user.cards"
                            >
                                <div
                                    class="col-lg-6"
                                >
                                    <div class="form-group">
                                        <label>Огранизация</label>
                                        <select
                                            class="form-control"
                                            :class="('card_template_id' in errors) ? 'is-invalid' : ''"
                                            name="organization_id"
                                            v-model="organization_id"
                                        >
                                            <option value="null">Выбрать</option>
                                            <option
                                                v-for="organization in organizations"
                                                :value="organization.id"
                                            >
                                                {{ organization.name }}
                                            </option>
                                        </select>
                                        <valid-sign
                                            :name="'organization_id'"
                                            :invalid="errors"
                                        />
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                >
                                    <div class="form-group">
                                        <label>Шаблон данных</label>
                                        <select
                                            class="form-control"
                                            :class="('card_template_id' in errors) ? 'is-invalid' : ''"
                                            name="card_template_id"
                                            v-model="cardAddSelect"
                                        >
                                            <option value="null">Выбрать</option>
                                            <option
                                                v-for="card in userCardTemplates.data"
                                                :key="card.id"
                                                :value="card.id"
                                            >
                                                {{ card.name }}
                                            </option>
                                        </select>
                                        <valid-sign
                                            :name="'card_template_id'"
                                            :invalid="errors"
                                        />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <a
                                            @click="addCardToUser"
                                            class="btn btn-success"
                                        >
                                            Добавить
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-12" v-if="errors">
                                    <SuccessError :show="{success, not_success}" />
                                </div>
                            </div>
                            <div
                                class="row"
                                v-for="card in user.cards"
                                :key="card.id"
                            >
                                <div class="col-lg-12">
                                    <div class="d-flex align-items-center">
                                        <span class="fs-20">
                                            Шаблон данных: <b>{{ card.template.name }}</b>
                                        </span>
                                        <i
                                            @click="deleteCardToUser(card)"
                                            class="ml-2 fa fa-trash pointer"
                                        />
                                    </div>
                                    <div
                                        v-if="card.organization"
                                    >
                                        Организация: {{ card.organization.name }}
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                    v-for="(field, k) in card.template.fields"
                                    :key="k"
                                >
                                    <div class="form-group">
                                        <label>
                                            {{ field.name }}
                                        </label>
                                        <input
                                            v-if="field.type == 'text' || field.type == 'date' || field.type == 'number'"
                                            class="form-control"
                                            :type="field.type"
                                            v-model="userCardData[card.template.id][field.id]"
                                        />
                                        <input
                                            v-if="field.type == 'checkbox'"
                                            class="custom-checkbox"
                                            :type="field.type"
                                            v-model="userCardData[card.template.id][field.id]"
                                        />
                                        <textarea
                                            class="form-control"
                                            v-if="field.type == 'textarea'"
                                            :type="field.type"
                                            v-model="userCardData[card.template.id][field.id]"
                                        />
                                        <select
                                            class="form-control"
                                            v-if="field.type == 'select'"
                                            v-model="userCardData[card.template.id][field.id]"
                                        >
                                            <option
                                                v-for="(row, l) in field.data"
                                                :key="l"
                                                :value="row"
                                            >
                                                {{row}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <a
                                        @click="userCardDataSave(card)"
                                        class="btn btn-success"
                                    >
                                        Сохранить
                                    </a>
                                </div>
                                <div class="col-lg-12">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';
import { getCardTemplate } from '@base/api/user-card';
import { updateUser } from '@base/api/user';
import { createNamespacedHelpers } from 'vuex';
const user = createNamespacedHelpers('user');

export default {
    name: 'manageUserCard',
    mixins: [mixSuccess],
    components: {
        SuccessError,
        validSign
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        user: {
            cards: []
        },
    },
    data(){
        return {
            userCardTemplates: {
                data: [

                ],
                per_page: 9999,
                current_page: 1
            },
            organization_id: null,
            cardAddSelect: null,
            userCardData: [],
            userCardFields: [],
            errors: {},
        }
    },
    mounted() {
        this.getCards();
    },
    computed: {
        ...user.mapGetters({
            organizations: "ORGANIZATIONS"
        }),
    },
    watch:{
        user(val){
            if (val && val.id){
                this.getOrganizations({ user_id: val.id });
            }
        },
        show: function (){
            if (this.show) {
                this.user.cards.forEach(card => {
                    card.template.fields.forEach(field => {
                        if (!this.userCardFields[card.template.id]) this.userCardFields[card.template.id] = {};
                        this.userCardFields[card.template.id][field.id] = field.type;
                    })
                })

                this.user.cards.forEach(card => {
                    if (!this.userCardData[card.template.id]) this.userCardData[card.template.id] = {};
                    card.values.forEach(field => {
                        if (this.userCardFields[card.template.id][field.user_card_template_field_id] == 'checkbox'){
                            this.userCardData[card.template.id][field.user_card_template_field_id] = (field.value == '1') ? true : false;
                        }else{
                            this.userCardData[card.template.id][field.user_card_template_field_id] = field.value;
                        }
                    });
                })

            } else {
                this.organization_id = null
                this.card_template_id = null
            }
        }
    },
    methods: {
        ...user.mapActions({
            getOrganizations: "GET_ORGANIZATIONS"
        }),
        modalHide(){
            this.$emit('closePopup')
        },
        deleteCardToUser(card){
            updateUser(this.user.id,{
                _method: 'PATCH',
                action: 'remove-card',
                user_card_id: card.id,
                with: [
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            }).then((response) => {

                this.user.cards = response.cards;
            })
        },
        addCardToUser(){
            updateUser(this.user.id,{
                _method: 'PATCH',
                action: 'add-card',
                card_template_id: this.cardAddSelect,
                organization_id: this.organization_id,
                with: [
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            })
            .then((response) => {
                this.user.cards = response.cards;
                this.mixShow('success');
                this.errors = {}
            })
            .catch((error) => {
                this.mixShow('error');
                this.errors = error.response?.data.errors || {};
            })

        },
        userCardDataSave(card){
            updateUser(this.user.id,{
                _method: 'PATCH',
                action: 'save-card-data',
                user_card_id: card.id,
                data: this.userCardData[card.template.id],
                with: [
                    'cards',
                    'cards.values',
                    'cards.template',
                    'cards.template.fields',
                ]
            }).then((response) => {
                this.user.cards = response.cards;
                // response.cards.forEach(card => {
                //     card.values.forEach(field => {
                //         this.userCardData[card.id][field.user_card_template_field_id] = field.value;
                //     });
                // })
            })
        },
        getCards(){
            getCardTemplate({
                qty: this.userCardTemplates.per_page,
                page: this.userCardTemplates.current_page,
                with: [
                    'fields'
                ]
            }).then((response) => {
                response.userCardTemplates.data.forEach(cardTemplate => {
                    this.userCardData[cardTemplate.id] = {};
                    cardTemplate.fields.forEach(field => {
                        this.userCardData[cardTemplate.id][field.id] = '';
                    })
                })
                this.userCardTemplates = response.userCardTemplates;
            });
        },
    }
};
</script>
