<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ 'Организации ' + user.fio }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div
                                        class="form-group"
                                    >
                                        <select
                                            class="form-control"
                                            v-model="district_select"
                                        >
                                            <option :value='null'>Выбрать район</option>
                                            <option
                                                v-for="district in districts.data"
                                                :value="district.id"
                                            >
                                                {{ district.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <table
                                            class="table"
                                        >
                                            <thead></thead>
                                            <tbody>
                                            <tr
                                                v-for="organization in systemOrganizations.data"
                                            >
                                                <td>{{ organization.name }}</td>
                                                <td>
                                                    <a
                                                        v-if="(organizations && !organizations.map(a => a.id).includes(organization.id))"
                                                    >
                                                        <i
                                                            @click="attachOrg(organization.id)"
                                                            class="fa fa-plus-circle pointer"
                                                        />
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                >
                                    <div
                                        v-for="(item, k) in organizations"
                                        class="d-flex"
                                    >
                                        <div>
                                            <router-link
                                                class="nav-link"
                                                target="_blank"
                                                :to="{
                                                    name: 'org.'+ item.type.toLowerCase() +'.user',
                                                    params: {
                                                        id: item.id,
                                                    },
                                                    query: {
                                                        email: user.email
                                                    }
                                                }"
                                            >
                                                {{ item.name }}
                                                <i class="fa fa-external-link"/>
                                            </router-link>

<!--                                            <a target="_blank" :href="'/organization/'+ item.type.toLowerCase() +'/'+ item.id +'/user'">-->
<!--                                                {{ item.name }}-->
<!--                                                <i class="fa fa-external-link"/>-->
<!--                                            </a>-->
<!--                                            -->
<!--                                            <a -->
<!--                                                target="_blank" -->
<!--                                                :href="'/organization/'+ item.type.toLowerCase() +'/'+ item.id +'/user'"-->
<!--                                            >-->
<!--                                                {{ item.name }}-->
<!--                                                <i class="fa fa-external-link"/>-->
<!--                                            </a>-->
                                        </div>
                                        <div class="ml-auto">
                                            <i
                                                @click="detachOrg(item.id)"
                                                class="fa fa-trash pointer"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { mapGetters, mapMutations, createNamespacedHelpers } from 'vuex';

    import Proccess from '@base/components/inc/mixin/Proccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import { defUser } from '@base/inc/defaults/app';
    import { getOrganizations } from '@base/api/organization';

    const user = createNamespacedHelpers('user');

    export default {
        name: "OrganizationGlobal",
        mixins: [Proccess],
        components: {
            SuccessError,
        },
        props: {
            show: {
                type: Boolean,
                default: false,
            },
            user: {
                type: Object,
                default: defUser,
            },
            roles: {
                type: Array,
                default() {
                    return [];
                },
            },
            fnModalHide: {
                type: Function,
                default: () => {},
            },
        },
        data() {
            return {
                roleId: 0,
                existsRole: false,
                attachedRoles: [],
                select_organizations: {},
                district_select: null,
                districts: {
                    data: []
                },
                systemOrganizations: {
                    per_page: 15,
                    total: 0,
                    page: 1,
                    data: [

                    ]
                },
            };
        },
        watch: {
            user(val){
                if (val && val.id){
                    this.getOrganizations({ user_id: val.id });
                }
            },
            show: function (){
                if (this.show){
                    this.getDistricts();
                }
            },
            'district_select': function (){
                this.getSystemOrganizations();
            },
            organizations: function (){
                for(let id in this.organizations){
                    this.select_organizations[this.organizations[id].id] = true;
                }
            },
        },
        computed: {
            ...user.mapGetters({
                organizations: "ORGANIZATIONS"
            }),
        },
        methods:{
            ...user.mapActions({
                getOrganizations: "GET_ORGANIZATIONS"
            }),
            modalHide() {
                this.fnModalHide();
                this.clearModal();
            },
            clearModal() {
                this.existsRole = false;
                this.attachedRoles = [];
                this.clearMixModal();
            },
            attachOrg(id){
                this.attachUser(id).then(() => {
                    this.getOrganizations({ user_id: this.user.id });
                })
            },
            detachOrg(organization_id){
                this.detachUser(organization_id).then(() => {
                    this.getOrganizations({ user_id: this.user.id });
                })
            },
            getDistricts(){
                axios.get('/api/v1/districts', {params: {
                        qty: 999
                    }})
                    .then((response) => {
                        this.districts.data = response.data.data.districts.data;
                    });
            },
            getSystemOrganizations(){
                //this.getOrganizations({per_page: 999, page:1, type: "VIRO,EDU" });
                getOrganizations({
                    qty: 999,
                    page: this.organizations.page,
                    search: this.search,
                    district: this.district_select,
                    type: 'EDU,VIRO',
                }).then((response) => {
                    this.systemOrganizations.data = response.data.data.organizations.data;
                    this.systemOrganizations.total = response.data.data.organizations.total;
                    this.systemOrganizations.per_page = response.data.data.organizations.per_page;
                });
            },
            async detachUser(organization_id){
                const url = `/api/v1/organizations/${organization_id}/users/${this.user.id}`;
                const formData = new FormData();
                formData.append('_method', 'patch');
                formData.append('action', 'detach');
                return this.$axios.post(url, formData);
            },
            async attachUser(organization_id) {
                const url = `/api/v1/organizations/${organization_id}/users`;
                const formData = new FormData();
                formData.append('user_id', this.user.id);

                return this.$axios.post(url, formData )
            },
        }
    }
</script>

<style scoped>

</style>
