<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ 'Роли ' + user.lastname + ' ' + user.firstname }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="roles.length !== 'undefined' && roles.length"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Роли</label>
                                        <select
                                            v-model="roleId"
                                            class="form-control"
                                            :class="('role_id' in invalid) ? 'is-invalid' : ''"
                                            name="role_id"
                                            required
                                        >
                                            <option
                                                :value="0"
                                                disabled
                                            >
                                                Выберите роль
                                            </option>
                                            <option
                                                v-for="(role, k) in roles"
                                                :key="k"
                                                :value="role.id"
                                            >
                                                {{ role.label }}
                                            </option>
                                        </select>
                                        <valid-sign
                                            :name="'role_id'"
                                            :invalid="errors"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-12">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Роли пользователя</label>
                                    <div v-if="typeof attachedRoles.length !== 'undefined' && attachedRoles.length">
                                        <div
                                            v-for="(role, k) in attachedRoles"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>{{ role.label }}</strong>
                                            <button
                                                type="button"
                                                class="close"
                                                @click="detach(role.id)"
                                            >
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="typeof attachedRoles.length === 'undefined' || !attachedRoles.length">
                                        <div class="alert alert-warning">
                                            У пользователя нет глобальных ролей
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="existsRole"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        У пользователя уже есть эта роль.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="existsRole = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <SuccessError :show="{ not_success, success, }"/>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import validSign from '@base/components/base/validSign';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import { defUser } from '@base/inc/defaults/app';

export default {
    name: 'ManageUserRoleGlobal',
    mixins: [Proccess, mixSuccess],
    components: {
        SuccessError,
        validSign,
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        user: {
            type: Object,
            default: defUser,
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            roleId: 0,
            existsRole: false,
            attachedRoles: [],
            errors: {},
        };
    },
    computed: {},
    watch: {
        'user.id': function (val) {
            if (val) {
                this.getRoleAttached();
            } else {
                this.attachedRoles = [];
            }
        },
    },
    mounted() {},
    methods: {
        getRoleAttached() {
            const url = `/api/v1/user/${this.user.id}/role`;
            const loading = 'local';
            const params = {};

            this.existsRole = false;

            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { roles } } }) => {
                    this.attachedRoles = roles;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        submit() {
                if (!this.attachedRoles.find((role) => role.id === this.roleId)) {
                    this.attach();
                } else {
                    this.existsRole = true;
                    setTimeout(() => {
                        this.existsRole = false;
                    }, 2000);
                }

        },
        attach() {
            if (this.roleId) {
                const url = `/api/v1/user/${this.user.id}/role/${this.roleId}`;
                const btn = 'save';
                const notify = true;
                const loading = 'local';
                const formData = new FormData();
                formData.append('_method', 'patch');
                formData.append('with_roles', 1);
                this.showProcessMessage(loading, btn);
                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(({ data: { data: { roles } } }) => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.attachedRoles = roles;
                        this.errors = {}
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                        console.log("123")
                    })
                    .finally(() => {
                    });
            }
            else {
                this.mixShow('error');
            }
        },
        detach(roleId) {
            if (roleId) {
                const url = `/api/v1/user/${this.user.id}/role/${roleId}`;
                const btn = 'save';
                const notify = true;
                const loading = 'local';
                const formData = new FormData();

                formData.append('_method', 'delete');
                formData.append('with_roles', 1);

                this.showProcessMessage(loading, btn);
                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(({ data: { data: { roles } } }) => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.attachedRoles = roles;
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    })
                    .finally(() => {
                    });
            }
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.roleId = 0;
            this.existsRole = false;
            this.attachedRoles = [];
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
