<template>
    <div>
        <popup caption="Обновить" @closePopup="closePopup()" v-if="!editCardField">
            <template slot="body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                Название
                            </label>
                            <input
                                type="text"
                                name="name"
                                :class="('name' in errors) ? 'is-invalid' : ''"
                                class="form-control"
                                v-model="userCardTemplate.name"
                            />
                            <valid-sign
                                :name="'name'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                Описание для личного кабинета
                            </label>
                            <htmlEditor
                                :content.sync="userCardTemplate.description"
                                name="description"
                                :class="('description' in invalid) ? 'is-invalid' : ''"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <a
                                @click="updateCard"
                                class="btn btn-success"
                            >
                                Сохранить
                            </a>
                        </div>
                    </div>
                    <div v-if="'name' in errors">
                        <div class="col-lg-12" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                    </div>
                    <div class="col-lg-12 py-2">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>Название</td>
                                <td>Тип поля</td>
                                <td>Обязательное</td>
                                <td>Пользователь может редактировать</td>
                                <td>Данные нужно подтверждать</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tr
                                v-for="(row, k) in userCardTemplate.fields"
                                :key="k"

                            >
                                <td>
                                    {{ row.id }}
                                </td>
                                <td>
                                    {{ row.name }}
                                </td>
                                <td>
                                    {{ row.type }}
                                </td>
                                <td>
                                    {{ row.required ? 'Да' : 'Нет' }}
                                </td>
                                <td>
                                    {{ row.editable ? 'Да' : 'Нет' }}
                                </td>
                                <td>
                                    {{ row.confirm ? 'Да' : 'Нет' }}
                                </td>
                                <td>
                                    <a
                                        @click="editField(row)"
                                        class="fa fa-pencil pointer mr-2"
                                    />
                                    <a
                                        @click="deleteField(row)"
                                        class="fa fa-trash pointer"
                                    />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 d-flex">
                        <div
                            class="form-group"
                            v-if="!addFieldShow"
                        >
                            <a
                                @click="addField"
                                class="btn"
                            >
                                Добавить поле
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    v-if="addFieldShow"
                    class="row"
                >
                    <div class="col-lg-12">
                        <hr>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                Название поля
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                :class="('field.name' in errors) ? 'is-invalid' : ''"
                                name="field.name"
                                v-model="field.name"
                            />
                            <valid-sign
                                :name="'field.name'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                Тип поля
                            </label>
                            <select
                                type="text"
                                class="form-control"
                                :class="('field.type' in errors) ? 'is-invalid' : ''"
                                name="field.type"
                                v-model="field.type"
                            >
                                <option
                                    v-for="(row, k) in field_types"
                                    :key="k"
                                    :value="row.type"
                                >
                                    {{ row.name }}
                                </option>
                            </select>
                            <valid-sign
                                :name="'field.type'"
                                :invalid="errors"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>
                                Обязательное
                            </label>
                            <input
                                type="checkbox"
                                class="custom-checkbox"
                                v-model="field.required"
                            />
                        </div>
                        <div class="form-group">
                            <label>
                                Пользователь может редактировать
                            </label>
                            <input
                                type="checkbox"
                                class="custom-checkbox"
                                v-model="field.editable"
                            />
                        </div>
                        <div class="form-group">
                            <label>
                                Данные нужно подтверждать
                            </label>
                            <input
                                type="checkbox"
                                class="custom-checkbox"
                                v-model="field.confirm"
                            />
                        </div>
                    </div>
                    <div
                        class="col-lg-6"
                        v-if="field.type == 'select'"
                    >
                        <div
                            class="form-group"
                        >
                            <label>
                                Варианты выбора
                            </label>
                            <textarea
                                class="form-control"
                                rows="6"
                                v-model="field.data"
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 py-2 d-flex">
                        <div
                            class="form-group"
                        >
                            <a
                                @click="addFieldShow = false"
                                class="btn"
                            >
                                Отмена
                            </a>
                        </div>
                        <div class="ml-5 form-group">
                            <a
                                @click="createField"
                                class="btn btn-success"
                            >
                                Добавить
                            </a>
                        </div>
                    </div>
                    <div
                        v-if="addFieldShow && !('name' in errors)"
                        class="col-12"
                    >
                        <div class="col-lg-12" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                    </div>
                </div>
            </template>
        </popup>
        <edit-card-field
            v-if="editCardField"
            :field="prop_field"
            @closePopup="closeEditCardField"
            @updateField="updateField"
        />
    </div>

</template>

<script>
import { createCardTemplateField } from '@base/api/user-card';
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import htmlEditor from '@base/components/base/vueEditor';
import Popup from '../../../base/Popup';
import EditCardField from './EditCardField';
import deepClone from 'clonedeep';

export default {
    name: 'updateCardTemplatePopup',
    components: {
        SuccessError,
        validSign,
        htmlEditor,
        Popup,
        EditCardField
    },
    props:{
        userCardTemplate: {
            type: Object,
            default: {
                name: '',
                fields: []
            }
        },
        show: {
            type: Boolean,
            default: false
        }
    },
    mixins: [mixSuccess],
    data(){
        return {
            prop_field: {},
            addFieldShow: false,
            editCardField: false,
            card_name: '',
            errors: {},
            field: {
                name: '',
                type: '',
                data: null,
                required: 0,
                editable: 0,
                confirm: 0,
            },
            field_types: [
                {
                    type: 'text',
                    name: 'Текст',
                },
                {
                    type: 'textarea',
                    name: 'Большой текст',
                },
                {
                    type: 'checkbox',
                    name: 'Чекбокс',
                },
                {
                    type: 'select',
                    name: 'Выпадающий список',
                },
                {
                    type: 'number',
                    name: 'Число',
                },
                {
                    type: 'date',
                    name: 'Дата',
                },
            ]
        }
    },
    methods: {
        closeEditCardField(){
            this.editCardField = false;
        },
        updateField(field){

            var val = this.userCardTemplate.fields.find(row => {
                return row.id === field.id
            })

            for(var key in val){
                val[key] = field[key]
            }


            this.$forceUpdate()
        },
        editField(field){
            this.editCardField = true;
            this.prop_field = deepClone(field)
        },
        closePopup(){
            this.$emit('closePopup')
        },
        updateCard(){
            let data = {};
            data._method = 'PATCH';
            data.action = 'data';
            data.name = this.userCardTemplate.name;
            data.description = this.userCardTemplate.description;
            createCardTemplateField(this.userCardTemplate.id, data)
                .then((request) => {
                        this.userCardTemplate.fields = request.result.fields;
                        this.field = { name: '', type: '', data: null };
                        this.mixShow('success');
                        this.errors = {}
                    })
                .catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
        },
        addField(){
            this.addFieldShow = true;
        },
        deleteField(field){
            if (confirm("Вы уверены?")){
                let data = {};
                data._method = 'PATCH';
                data.action = 'delete-field';
                data.field_id = field.id;
                createCardTemplateField(this.userCardTemplate.id, data).then((request) => {
                    this.userCardTemplate.fields = request.result.fields;
                });
            }
        },
        createField(){
            let data = {};
            data._method = 'PATCH';
            data.action = 'add-field';
            data.field = this.field;
            createCardTemplateField(this.userCardTemplate.id, data)
                .then((request) => {
                    this.userCardTemplate.fields = request.result.fields;
                    this.field = { name: '', type: '', data: null };
                    this.mixShow('success');
                    this.errors = {}
                })
                .catch((error) => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
        }
    }
};
</script>
