<template>
    <popup
        caption="Районы"
        @closePopup="closePopup"
    >
        <template slot="body">
            <div
                class="form-group"
            >
                <div class="input-group">
                    <select
                        class="form-control"
                        v-model="district_select"
                    >
                        <option :value='null'>Выбрать район</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span
                            class="input-group-text pointer"
                            @click="attachDistrict"
                        >
                            <i class="fa fa-plus" />
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div
                    v-for="d in user.districts"
                >
                    {{ d.name }} <i @click="detachDistrict(d.id)" class="fa fa-trash"/>
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
import Popup from '../../../base/Popup';
import { updateUser } from '@base/api/user';

export default {
    name: "UserDistricts",
    props: {
        user: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            district_select: null,
            districts: {
                data: []
            },
        }
    },
    components: {
        Popup
    },
    created() {
        this.getDistricts();
    },
    methods: {
        closePopup(){
            this.$emit('closePopup');
        },
        attachDistrict(){
            updateUser(this.user.id,{
                _method: 'PATCH',
                action: 'attach-district',
                district_id: this.district_select,
                with: [
                    'districts',
                ]
            }).then((response) => {
                this.user.districts = response.districts;
                this.district_select = {};
            })
        },
        detachDistrict(district_id){
            updateUser(this.user.id,{
                _method: 'PATCH',
                action: 'detach-district',
                district_id: district_id,
                with: [
                    'districts',
                ]
            }).then((response) => {
                this.user.districts = response.districts;
                this.district_select = {};
            })
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
    }
}
</script>

<style scoped>

</style>
