<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Импорт
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label>Заполненный шаблон</label>
                                    <b-form-file
                                        v-model="importFile"
                                        :state="Boolean(importFile)"
                                        placeholder=""
                                        drop-placeholder=""
                                    ></b-form-file>
                                </div>
                                <div class="form-group">
                                    <a
                                        @click="sendFile"
                                        class="btn btn-success"
                                    >
                                        Добавить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
export default {
    name: 'AdminUsersImport',
    props: {
        show: {
            type: Boolean,
            default: false,
        },
    },
    data(){
        return {
            importFile: null,
        }
    },

    methods: {
        modalHide() {
            this.importFile = null;
            this.$emit('closePopup')
        },
        sendFile(){
            let data = new FormData();
            data.append('action', 'import');
            data.append('importFile', this.importFile);
            axios.post('/api/v2/user/', data).then((response) => {
                window.open(response.data.data.download);
                this.modalHide()
            }).catch((error) => {

            })
        }
    }
};
</script>
<style>
.custom-file-input:lang(ru) ~ .custom-file-label::after {
    content: "\412\44B\431\440\430\442\44C" !important;
}
</style>
