<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить пользователей
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div
                            class="container"
                            v-if="state == 1"
                        >
                            <div class="form-group">
                                <label for="users">Пользователи</label>
                                <textarea
                                    class="form-control"
                                    id="users"
                                    rows="8"
                                    v-model="usersList"
                                ></textarea>
                            </div>
                        </div>
                        <div
                            class="container"
                            v-if="state == 2"
                        >
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select
                                            v-model="organization_id"
                                            class="form-control"
                                        >
                                            <option value="0">Выбрать</option>
                                            <option
                                                v-for="(item, index) in organizations"
                                                :value="item.id"
                                            >
                                                {{ item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6"
                                    v-if="organization_id > 0"
                                >
                                    <div class="form-group">
                                        <select
                                            v-model="role_id"
                                            class="form-control"
                                        >
                                            <option value="0">Выбрать</option>
                                            <option
                                                v-for="(item, index) in hasRole"
                                                :value="item.id"
                                            >
                                                {{ item.label }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <table class="table">
                                        <tr>
                                            <td>Фамилия</td>
                                            <td>Имя</td>
                                            <td>Отчество</td>
                                            <td>Почта</td>
                                        </tr>
                                        <tr
                                            v-for="(item, index) in users"
                                            :k="index"
                                        >
                                            <td><input class="form-control" v-model="item.lastname" type="text"></td>
                                            <td><input class="form-control" v-model="item.firstname" type="text"></td>
                                            <td><input class="form-control" v-model="item.patronymic" type="text"></td>
                                            <td><input class="form-control" v-model="item.email" type="text"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />


                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn m-auto"
                            @click="to_state_1()"
                            v-if="state == 2"
                        >
                            Назад
                        </button>

                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="users_check()"
                            v-if="state == 1"
                        >
                            Далее
                        </button>

                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                            v-if="state == 2"
                        >
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>
<script>
    import { createNamespacedHelpers, mapGetters, mapMutations } from 'vuex';
    import Proccess from '@base/components/inc/mixin/Proccess.vue';
    const organization = createNamespacedHelpers('organization');

    export default {
        name: "UsersGroupAdd",
        mixins: [Proccess],
        data() {
            return {
                success: false,
                role_id: 0,
                organization_id: 0,
                users: [],
                usersList: null,
                state: 1,
            }
        },
        computed: {
            ...organization.mapGetters({
                organizations: 'ORGANIZATIONS',
                hasRole: 'HAS_ROLE',
            })
        },
        props: {
            fnModalHide: {
                type: Function,
                default: () => {},
            },
            show: {
                type: Boolean,
                default: false,
            },
        },
        mounted() {
            this.getOrganizations({per_page: 100, page:1, type: "VIRO,EDU" });
        },
        watch: {
            organization_id(val){
                this.getOrganization({id: val});
            }
        },
        methods: {
            ...organization.mapActions({
                getOrganizations: 'GET_ORGANIZATIONS',
                getOrganization: 'GET_ORGANIZATION',
            }),
            to_state_1(){
                this.organization_id = 0;
                this.role_id = 0;
                this.users = [];
                this.state = 1;
            },
            users_check(){
                if (this.usersList.length > 0){
                    let usersInLine = this.usersList.split(/\r?\n/);

                    if (usersInLine.length > 0){
                        usersInLine.forEach((element) => {
                            let userInLine = element.split('\t');

                            if (userInLine.length > 1){
                                let u = {};
                                let fio = userInLine[0].split(' ');
                                u.lastname = fio[0];
                                u.firstname = fio[1];
                                u.patronymic = fio[2];
                                u.email = userInLine[1];
                                this.users.push(u);
                            }
                        });
                        this.state = 2;
                    }
                }
            },
            submit() {
                const formData = {
                    users: this.users,
                    organization_id: this.organization_id,
                    role_id: this.role_id
                };

                axios.post('/api/v1/users/multi_store', formData).then((data) => {
                    this.success = true;
                    setTimeout(() => {
                        this.organization_id = 0;
                        this.role_id = 0;
                        this.state = 1;
                        this.users = [];
                        this.success = false;
                        this.usersList = null;
                        this.modalHide();
                    }, 2000);
                });
            },
            modalHide() {
                this.fnModalHide();
            },
        }
    }
</script>
