<template>
    <div
        class="container"
    >
        <div
            class="row py-4"
        >
            <div class="col-lg-2">
                <div class="input-group">
                    <select class="form-control" v-model="quiz">
                        <option :value="null">Выбрать тест</option>
                        <option v-for="qiuz in tests" :value="qiuz">
                            {{ qiuz.name }}
                        </option>
                    </select>
                    <div
                        class="input-group-append"
                        v-if="quiz"
                    >
                        <i class="input-group-text pointer" @click="loadResults">
                            <i class="fa fa-refresh"></i>
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"  v-if="quiz">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="filters_login" placeholder="Логин" />
                    <div class="input-group-append">
                        <i class="input-group-text pointer" @click="loadResults">
                            <i class="fa fa-search" />
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row pb-4"
            v-if="quiz"
        >
            <div
                class="col-lg-3"
            >
                <div class="input-group">
                    <select class="form-control" v-model="quiz_export_type">
                        <option value="full">
                            Отчет: Полный
                        </option>
                        <option value="school_count_average">
                            Отчет: Школа, кол-во, сред балл.
                        </option>
                        <option value="category_questions_average">
                            Отчет: Категории, средний балл.
                        </option>
                    </select>
                    <div
                        class="input-group-append"
                        v-if="quiz"
                    >
                        <a
                            v-b-tooltip="'Скачать Excel'"
                            class="input-group-text pointer"
                            target="_blank"
                            @click="sendExportJob"
                        >
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div
                class="col-lg-2"
                v-if="quiz.params.municipal_tutor_save_answer_files"
            >
                <a
                    :href="'/api/v2/quiz-review-attempts-zip?quiz_id='+quiz.id"
                    class="btn btn-success"
                >
                    Скачать ответы
                </a>
            </div>
            <div
                class="col-lg-2"
                v-if="quiz.params.municipal_tutor_save_users_list"
            >
                <a
                    :href="'/api/v2/quiz-review-attempts-xlsx?quiz_id='+quiz.id"
                    class="btn btn-success"
                >
                    Скачать список
                </a>
            </div>
<!--            <div-->
<!--                class="col-lg-2 ml-auto d-flex"-->
<!--            >-->
<!--                <a-->
<!--                    @click="openUploadReviewPopup"-->
<!--                    class="btn btn-danger ml-auto"-->
<!--                >-->
<!--                    Загрузить результаты-->
<!--                </a>-->
<!--            </div>-->
        </div>
        <table
            v-if="quiz"
            class="table table-striped table-bordered table-adaptive py-2"
        >
            <thead>
            <tr>
                <th>№</th>
                <th>
                    Логин пользователя
                </th>
                <th>
                    Время прохождения
                </th>
                <th
                    v-for="i in quiz.count_questions"
                    v-b-tooltip="'Вопрос #'+i"
                >
                    #{{i}}
                </th>
                <th v-if="quiz.params.municipal_tutor_attach_result">
                    Результаты
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(result, id) in resultAttemptUser.data" :key="id">
                <td data-label="№">
                    {{ result.id }}
                </td>
                <td data-label="Логин">
                    {{ result.user.login }}
                </td>
                <td data-label="Время прохождения">
                    <timer-end v-if="result.status != 'ACTIVE'" :totalTime="result.duration_time" />
                </td>
                <td
                    v-for="r in result.front_result.result"
                >
                    <div
                        v-if="r.attempt_answer"
                    >
                        <customAudio
                            style="min-width: 100px;"
                            v-for="(element, key) in r.attempt_answer.audio"
                            :key="'audio_'+key"
                            :element="element"
                            :deletable="false"
                        />
                        <div
                            v-for="file in r.attempt_answer.files"
                        >
                            <b>#{{file.id}}</b> <a
                            :href="file.full_url"
                            target="_blank"
                        >
                            {{ file.file_name }}
                        </a>
                        </div>
                    </div>
                    <div
                        v-if="r.common_question && r.common_question.question_type.system_name && r.common_question.question_type.system_name == 'text' && quiz.params.municipal_tutor_attach_question_result"
                    >
                        <a
                            @click="uploadAttempt(result)"
                            class="fa fa-plus"
                        />
                    </div>
                    <div>
                        {{ r.score }} / {{ r.point_count }}
                    </div>
                </td>
                <th v-if="quiz.params.municipal_tutor_attach_result">
                    <div
                        v-for="file in result.files"
                    >
                        <b>#{{file.id}}</b> <a
                            :href="file.full_url"
                            target="_blank"
                        >
                            {{ file.file_name }}
                        </a>
                    </div>
                    <div
                    >
                        <a
                            @click="uploadResult(result)"
                            class="fa fa-plus"
                        />
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <div
            class="row py-2"
            v-if="resultAttemptUser.data"
        >
            <div class="col m-auto">
                <b-pagination
                    aria-controls="my-table" align="center" class="m-auto"
                    v-model="currentPage"
                    :total-rows="resultAttemptUser.total"
                    :per-page="resultAttemptUser.per_page"
                >
                </b-pagination>
            </div>
        </div>
        <input
            style="display: none"
            ref="file"
            type="file"
            @change="handleFileChange"
        />
        <upload-review-popup
            v-if="showUploadReviewPopup"
            :quiz="quiz"
            @closePopup="closeUploadReviewPopup"
        />
    </div>
</template>

<script>
import { getOrganizationQuizzes } from '@base/api/organization';
import TimerEnd from '@base/components/course/test/testComponent/TimerEnd';
import CustomAudio from '../../../base/customAudio';
import UploadReviewPopup from './UploadReviewPopup';


export default {
    name: 'ReviewTestIndex',
    components: {
        UploadReviewPopup,
        CustomAudio,
        TimerEnd
    },
    props: {
        organization: {
            type: Object,
            default: {}
        }
    },
    data() {
        return {
            quiz_export_type: 'full',
            quiz: null,
            tests: [],
            filters_login: '',
            currentPage: 1,
            paginate: 1,
            qty: 10,
            resultAttemptUser: {},
            showUploadReviewPopup: false,
            result: {},
            upload_type: '',
        }
    },
    watch: {
        quiz: function (){
            this.loadResults()
        },
        currentPage: function (){
            this.loadResults()
        },
        "organization.id": function (){
            this.getOrganizationQuizzes();
        }
    },
    created() {
        this.getOrganizationQuizzes();
    },
    methods: {
        openUploadReviewPopup(){
            this.showUploadReviewPopup = true
        },
        closeUploadReviewPopup(){
            this.showUploadReviewPopup = false
        },
        sendExportJob(){

            return axios.get('/api/v2/quiz-export/'+this.quiz.id+'?action='+this.quiz_export_type)
                .then(response => {
                    this.makeToast({
                        variant: 'success',
                        title: 'Экспорт',
                        description: 'Ожидайте оповещения со ссылкой на файл'
                    });
                })
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            });
        },
        loadResults(){
            //quiz-attempts-review

            let params = {
                organization_id: this.organization.id,
                quiz_id: this.quiz.id,
                'filters[login]': this.filters_login,
                with: [
                    'user',
                    'front_result'
                ],
                page: this.currentPage,
                qty: this.qty,
            };

            return axios.get('/api/v2/quiz-review-attempts', { params: params }, { Accept: 'application/json' })
                .then(response => {
                    this.resultAttemptUser = response.data.data.attempts
                });
        },
        getOrganizationQuizzes(){
            if (this.organization.id){
                getOrganizationQuizzes({
                    filters: [
                        'review'
                    ],
                    organization_id: this.organization.id,
                }).then((response) => {
                    this.tests = response.data.data.quizzes;
                });
            }
        },
        handleFileChange(){
            if (this.$refs.file.files[0]){
                let data = new FormData();
                data.append('attempt_id', this.result.id);
                data.append('result', this.$refs.file.files[0]);



                this.$axios.post('/api/v2/quiz-review-attempts/upload-'+this.upload_type, data)
                .then((response) => {

                    this.resultAttemptUser.data.find((el) => {
                        if (el.id ==  this.result.id){
                            el.files = response.data.data.attempt.files
                            el.front_result = response.data.data.attempt.front_result
                        }
                    })

                    this.result = {};
                })
            }
        },
        uploadAttempt(result){
            this.upload_type = 'attempt';
            this.$refs.file.value = null;
            this.$refs.file.click();
            this.result = result;
        },
        uploadResult(result){
            this.upload_type = 'result';
            this.$refs.file.value = null;
            this.$refs.file.click();
            this.result = result;
        }
    }
};
</script>
