<template>
    <popup
        :caption="'Регистрация ' + user_types[user.user_type]"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <form
                @submit.prevent="register"
            >
                <div class="row">
                    <div class="col-lg-12">
                        <form-group
                            label="Выбрать статус"
                            type="select"
                            name="user_type"
                            :items="[
                                { value: null, text: 'Выбрать' },
                                { value: 'teacher', text: 'Я - учитель' },
                                { value: 'student', text: 'Я - ученик' }
                            ]"
                            required
                            v-model="user.user_type"
                            :errors="errors"
                        />
                    </div>
                </div>
                <div class="row" v-if="user.user_type != null">
                    <div class="col-lg-6">
                        <form-group
                            label="Фамилия"
                            type="text"
                            name="lastname"
                            required
                            v-model="user.lastname"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Имя"
                            type="text"
                            name="firstname"
                            required
                            v-model="user.firstname"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Отчество"
                            type="text"
                            name="patronymic"
                            required
                            v-model="user.patronymic"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-3">
                        <form-group
                            label="Email"
                            type="email"
                            name="email"
                            required
                            v-model="user.email"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-3">
                        <form-group
                            label="Пол"
                            type="select"
                            name="sex"
                            :items="[
                                { value: null, text: 'Выбрать' },
                                { value: 0, text: 'м' },
                                { value: 1, text: 'ж' }
                            ]"
                            required
                            v-model="user.sex"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Телефон"
                            type="text"
                            name="phone"
                            autocomplete
                            v-model="user.phone"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-3">
                        <form-group
                            label="Пароль"
                            type="password"
                            name="password"
                            required
                            v-model="user.password"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-3">
                        <form-group
                            label="Повторите пароль"
                            type="password"
                            name="password_confirmation"
                            required
                            v-model="user.password_confirmation"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="СНИЛС"
                            type="snils"
                            name="snils"
                            required
                            v-model="user.snils"
                            :errors="errors"
                        />
                    </div>

                    <div class="col-lg-6">
                        <form-group
                            label="Дата рождения"
                            type="date"
                            name="birthday"
                            required
                            v-model="user.birthday"
                            :errors="errors"
                        />
                    </div>

                    <div class="col-lg-6">
                        <label>Выбрать район</label>
                        <select
                            class="form-control mb-2"
                            v-model="district_select"
                            required
                        >
                            <option :value='null'>Не выбран</option>
                            <option
                                v-for="district in districts.data"
                                :value="district.id"
                            >
                                {{ district.name }}
                            </option>
                        </select>
                    </div>

                    <div
                        class="col-lg-6"
                        v-if="district_select"
                    >
                        <form-group
                            label="Выбрать организацию"
                            type="select"
                            name="organization_id"
                            :items="organizations_select"
                            required
                            v-model="organization_id"
                            :errors="errors"
                        />
                    </div>
<!--                    <div class="col-lg-12">-->
<!--                        <vue-recaptcha-->
<!--                            class="m-auto"-->
<!--                            loadRecaptchaScript-->
<!--                            ref="recaptcha"-->
<!--                            :sitekey="'6LcEgUIaAAAAAA5dPKiuOaF2kWVlb-qB6o3zMaHR'"-->
<!--                            @verify="setRecaptcha"-->
<!--                            @expired="onCaptchaExpired"-->
<!--                        />-->
<!--                    </div>-->
                </div>
                <div class="col-lg-12 d-flex mt-4" v-if="user.user_type != null">
                    <button
                        class="btn btn-red m-auto"
                        type="submit"
                    >
                        Зарегистрироваться
                    </button>
                </div>
            </form>
        </template>
    </popup>
</template>

<script>
    import popup from '@base/components/base/Popup';
    import validSign from '@base/components/base/validSign';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    import FormGroup from '@base/components/base/FormGroup.vue';
    import VueRecaptcha from 'vue-recaptcha';

    export default {
        name: "MainRegisterPopup",
        components: {
            VueRecaptcha,
            popup,
            validSign,
            SuccessError,
            FormGroup,
            mixSuccess
        },
        mixins: [mixSuccess],
        data() {
            return {
                user_types: {
                    null: '',
                    'teacher': 'учителя',
                    'student': 'ученика'
                },
                user: {
                    user_type: null,
                    login: null,
                    lastname: null,
                    firstname: null,
                    patronymic: null,
                    email: null,
                    phone: null,
                    password: null,
                    password_confirmation: null,
                    snils: null,
                    sex: null,
                    birthday: null,
                },
                district_select: null,
                organization_id: null,
                districts: {
                    data: []
                },
                organizations: {
                    data: []
                },
                errors: {},
                recaptchaToken: '',
            }
        },
        watch: {
            district_select: function (){
                this.getEduOrganizations();
            }
        },
        computed: {
            organizations_select() {
                let data = [];

                data.push({
                    value: null,
                    text: 'Не выбрана'
                })

                this.organizations.data.forEach(org => {
                    data.push({
                        value: (org.id).toString(),
                        text: org.name
                    })
                })

                return data;
            }
        },
        mounted() {
            this.getDistricts();
        },
        methods: {
            onCaptchaExpired () {
                this.$refs.recaptcha.reset()
            },
            closePopup() {
                this.$emit('closePopup');
            },
            setRecaptcha(recaptchaToken){
                this.recaptchaToken = recaptchaToken;
            },
            register(){
                axios.post('/api/v1/register', { ...this.user, recaptchaToken: this.recaptchaToken, organization_id: this.organization_id})
                    .then((response) => {
                        this.errors = {};
                        this.$router.push({ name: 'me.profile' });
                    })
                    .catch((error) => {
                        this.mixShow('error');
                        this.errors = error.response?.data.errors || {};
                    })
            },
            getDistricts(){
                axios.get('/api/v1/districts', {params: {
                        qty: 999
                    }})
                    .then((response) => {
                        this.districts.data = response.data.data.districts.data;
                    });
            },
            getEduOrganizations() {
                const formData = {
                    qty: 999,
                    page: 1,
                    district: this.district_select,
                    show: 1,
                    type: 'EDU',
                };
                this.$axios.get(`/api/v1/organizations`, {params: formData})
                    .then((response) => {
                        this.organizations.data = response.data.data.organizations.data;
                        this.organizations.total = response.data.data.organizations.total;
                        this.organizations.per_page = response.data.data.organizations.per_page;
                    })
                    .catch((error) => {

                    })
                    .finally(() => {
                    });
            },
        }
    }
</script>
