<template>
    <div>
        <div
            class="d-flex"
            :class="('g-recaptcha-response' in errors) ? 'is-invalid' : ''"
        >
            <vue-recaptcha class="m-auto" sitekey="6LcEgUIaAAAAAA5dPKiuOaF2kWVlb-qB6o3zMaHR" loadRecaptchaScript></vue-recaptcha>
<!--            6LcEgUIaAAAAAPgOeLIhrAVWft_h5Umgjq95BzcM-->
        </div>
        <valid-sign
            name="g-recaptcha-response"
            :invalid="errors"
        />
    </div>
</template>

<script>
    import validSign from '@base/components/base/validSign';
    import VueRecaptcha from 'vue-recaptcha';
    import VueMaskedInput from 'vue-masked-input';
    export default {
        name: "recaptcha",
        props: {
            prop_class: '',
            errors: {},
        },
        components: {
            VueRecaptcha,
            validSign
        }
    }
</script>
