<template>
    <popup
        caption="Заявка на регистрацию организации"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <form
                @submit.prevent="register"
            >
                <div
                    class="row"
                >
                    <div class="col-lg-6">
                        <form-group
                            label="Название организации"
                            type="text"
                            name="organization_name"
                            required
                            v-model="request.organization_name"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="ИНН организации"
                            type="number"
                            name="organization_inn"
                            required
                            v-model="request.organization_inn"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <label>Выбрать район</label>
                        <select
                            class="form-control mb-2"
                            v-model="request.organization_district_id"
                            required
                        >
                            <option :value='null'>Не выбран</option>
                            <option
                                v-for="district in districts.data"
                                :value="district.id"
                            >
                                {{ district.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Адрес"
                            type="text"
                            name="organization_address"
                            required
                            v-model="request.organization_address"
                            :errors="errors"
                        />
                    </div>

                    <div class="col-lg-6">
                        <form-group
                            label="Описание"
                            type="textarea"
                            name="organization_description"
                            required
                            v-model="request.organization_description"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Email (После подтверждения заявки на данную почту будет отправлены данные для входа)"
                            type="email"
                            name="user_email"
                            required
                            v-model="request.user_email"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Фамилия руководителя"
                            type="text"
                            name="user_firstname"
                            required
                            v-model="request.user_firstname"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Имя руководителя"
                            type="text"
                            name="user_lastname"
                            required
                            v-model="request.user_lastname"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Отчество руководителя"
                            type="text"
                            name="user_patronymic"
                            required
                            v-model="request.user_patronymic"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Должность руководителя"
                            type="text"
                            name="user_position"
                            required
                            v-model="request.user_position"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <form-group
                            label="Телефон руководителя"
                            type="text"
                            name="phone"
                            required
                            v-model="request.phone"
                            :errors="errors"
                        />
                    </div>
                    <div class="col-lg-6">
                        <label>Документы</label>
                        <div class="custom-file mb-2">
                            <input
                                multiple
                                id="files"
                                ref="document"
                                type="file"
                                class="custom-file-input"
                                @change="handleFileUpload()"
                            >
                            <label class="custom-file-label" for="files">
                                <i v-if="documents.length == 0">Не выбраны</i>
                                <a v-else>Выбрано: <b>{{ documents.length }}</b></a>
                            </label>
                        </div>

                        <div
                            v-for="(file,k) in documents"
                            class="d-flex align-items-center pb-2"
                        >
                            <div>
                                <img width="40px" src="/images/24/file/chat-file.svg">
                            </div>
                            <div class="pl-10">
                                <div>{{ file.name }}</div>
                                <div>{{ file.size | filesize }}</div>
                            </div>
                            <div class="ml-auto">
                                <a class="btn" @click="deleteFileFromUpload(k)"> <img src="/images/24/basic/delete.svg" /> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 my-2" v-if="errors">
                        <SuccessError :show="{success, not_success}" success_message="Ожидайте оповещения о регистрации на указанной почте!" />
                    </div>

                    <div class="col-lg-12 d-flex">
                        <button class="btn btn-success m-auto" type="submit">Подать заявку</button>
                    </div>
                </div>
            </form>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup';
import validSign from '@base/components/base/validSign';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import FormGroup from '@base/components/base/FormGroup.vue';


export default {
    name: "RegisterOrganization",
    components: {
        popup,
        validSign,
        mixSuccess,
        SuccessError,
        FormGroup
    },
    mixins: [mixSuccess],
    data() {
        return {
            request: {
                organization_name: '',
                organization_inn: '',
                organization_address: '',
                organization_description: '',
                user_email: '',
                user_firstname: '',
                user_lastname: '',
                user_patronymic: '',
                user_position: '',
                phone: '',
                organization_district_id: '',
            },
            documents: [],
            errors: {},
            districts: {
                data: []
            },
        }
    },
    mounted() {
        this.getDistricts();
    },
    methods: {
        register(){
            var data = new FormData();
            for(var key in this.request){
                data.append(key, this.request[key])
            }

            this.documents.forEach(doc => {
                data.append('documents[]', doc)
            })


            axios.post('/api/v1/organization-requests', data)
                .then(response => {
                    for(var key in this.request) {
                        this.request[key] = null
                    }
                    this.errors = {};
                    this.documents = [];
                    this.mixShow('success');
                    setTimeout(() => { this.closePopup(); }, 2000);
                })
                .catch(error => {
                    this.mixShow('error');

                    this.errors = error.response?.data.errors || {};
                })
        },
        closePopup(){
            this.$emit('closePopup');
        },
        getDistricts(){
            axios.get('/api/v1/districts', {params: {
                    qty: 999
                }})
                .then((response) => {
                    this.districts.data = response.data.data.districts.data;
                });
        },
        deleteFileFromUpload(k){
            this.documents.splice(k,1);
        },
        handleFileUpload() {


            for (var i = 0; i < this.$refs.document.files.length; i++) {
                this.documents.push(this.$refs.document.files[i]);
            }

            this.$refs.document.value = null

        },
    }
}
</script>
