<template>
    <popup
        :caption="'Камера'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="wrap">
                <iframe id="video" src="http://copp.loc/api/v1/organization/2/organization-cameras/3" width="644" height="484">
                </iframe>
                <!-- <video id="video" width="320" controls="true">
                    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4">

                    Your browser does not support HTML5 video tag. Please download FireFox 3.5 or higher.
                </video> -->
                    <button
                        @click="shoot()"
                        class="button"
                    >
                    Capture
                    </button>
                <div id="output"></div>
            </div>
        </template>
    </popup>
</template>

<script>
import popup from "@base/components/base/Popup"
import { shoot } from "./makeScreenShot"

export default {
    components: {
        popup,
    },
    data() {
        return {
            cameraLink: "http://copp.loc/api/v1/organization/2/organization-cameras/3",
            videoId: 'video',
            scaleFactor: 0.25,
            snapshots: [],
            frameContent: null,
        }
    },
    props: {
        camera: {
            type: Object,
            default: {},
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        shoot() {
            let video = document.getElementById('video').contentWindow  //document.getElementById(this.videoId)
            //this.frameContent = video.contentWindow
            // console.log(video)
            let output = document.getElementById('output');
            let canvas = this.capture(video, this.scaleFactor);
            canvas.onclick = function() {
                window.open(this.toDataURL(image/jpg));
            };
            snapshots.unshift(canvas);
            output.innerHTML = '';
            for (let i = 0; i < 4; i++) {
                output.appendChild(snapshots[i]);
            }
        },
        capture(video, scaleFactor) {
            if (scaleFactor == null) {
                scaleFactor = 1;
            }
            let w = 644;
            let h = 484;
            let canvas = document.createElement('canvas');
            canvas.width = w;
            canvas.height = h;
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, w, h);
            return canvas;
        },
        getMyVideo() {
            let canvas = document.getElementById('canvas');
            if (canvas.getContext) {
                var ctx = canvas.getContext('2d');
                return document.getElementById('myvideo');
            }
        }
    }
}
</script>

<style scoped>
.wrap {
  border: solid 1px #ccc;
  padding: 10px;
  text-align: center;
}

#output {
  display: inline-block;
  top: 4px;
  position: relative;
  border: dotted 1px #ccc;
  padding: 2px;
}

.button {
  border: solid 2px #ccc;
}
</style>
