<template>
    <popup
        :caption="'Список камер'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="col-lg-12">
                <table
                    class="table"
                >
                    <thead>
                    <tr>
                        <th>url</th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        v-for="(camera,key) in organization.cameras"
                        :key="'camera_'+key"
                    >
                        <td>
                            {{ camera.url }}
                        </td>
                        <td>
                            <div
                                class="state"
                                :class="(camera.status) ? 'connect' : 'error'"
                            />
                        </td>
                        <td>
                            <a
                                @click="openWindows(camera)"
                                target="_parent"
                                class="btn ml-2 fa fa-eye"
                            />
                        </td>
                        <td>
                            <button
                                v-b-tooltip:="'Создать нарушение'"
                                class="btn fa fa-plus"
                                @click="openCreateViolationPopup(camera)"
                            />
                        </td>
                        <td>
                            <button
                                v-b-tooltip:="'Список нарушений'"
                                class="btn fa fa-table"
                                @click="openViolationsPopup(camera)"
                            />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- <cameraWindow
                v-if="cameraWindowShow"
                :camera="currentCamera"
                @closePopup="closePopup"
            /> -->
            <createViolationPopup
                v-if="createViolationPopupShow"
                :camera="currentCamera"
                @closePopup="closeCreateViolationPopup"
            />
            <violationsPopup
                v-if="violationsPopupShow"
                :camera="currentCamera"
                @closePopup="closeViolationsPopup"
            />
        </template>
    </popup>
</template>

<script>
    import Popup from "@base/components/base/Popup"
    import createViolationPopup from './createViolationPopup'
    import cameraWindow from './cameraWindow'
    import violationsPopup from './violationsPopup'

    export default {
        name: 'AdminCamerasPopup',
        components: {
            Popup,
            createViolationPopup,
            cameraWindow,
            violationsPopup,
        },
        props: {
            organization: {
                type: Object,
                default: {},
            },
        },
        data() {
            return {
                createViolationPopupShow: false,
                cameraWindowShow: false,
                violationsPopupShow: false,
                currentCamera: {},
            }
        },
        // mounted() {
        //      this.organization.cameras.forEach(camera => this.checkCameraAvailable(camera));
        // },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            checkCameraAvailable(camera) {
                axios.get('/api/v1/organization/' + this.org.id + '/organization-cameras/' + camera.id + '/checkCameraAvailable')
                    .then((response) => {
                        camera.status = true;
                    })
                    .catch(error => {
                        camera.status = false;
                    })
            },
            openWindows(camera) {
                // this.cameraWindowShow = true,
                // this.currentCamera = camera
                let href = '/api/v1/organization/' + this.organization.id + '/organization-cameras/' + camera.id;
                window.open(href, camera.id, 'width=640,height=480');
            },
            openCreateViolationPopup(camera) {
                this.createViolationPopupShow = true
                this.currentCamera = camera
            },
            closeCreateViolationPopup() {
                this.createViolationPopupShow = false
            },
            openViolationsPopup(camera) {
                this.violationsPopupShow = true
                this.currentCamera = camera
            },
            closeViolationsPopup() {
                this.violationsPopupShow = false
            },

        }
    };
</script>

<style>
.state {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.state.connect {
    background-color: #38c172;
}
.state.error {
    background-color: #e72222;
}
</style>
