<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Создать организацию
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 mb-2">
                                <label for="name">Название</label>
                                <input
                                    id="name"
                                    class="form-control"
                                    type="text"
                                    v-model="data.name"
                                >
                            </div>
                            <div class="col-lg-6 mb-2">
                                <label for="address">Адрес</label>
                                <input
                                    id="address"
                                    class="form-control"
                                    type="text"
                                    v-model="data.address"
                                >
                            </div>
                            <div class="col-lg-6 mb-2">
                                <label for="type">Тип</label>
                                <select
                                    id="type"
                                    class="custom-select"
                                    type="text"
                                    v-model="data.type"
                                >
                                    <option value="VIRO">Региональный</option>
                                    <option value="EDU">Муниципальный</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="type">Район</label>
                                <select
                                    class="form-control"
                                    v-model="data.district"
                                >
                                    <option :value='null'>Выбрать район</option>
                                    <option
                                        v-for="district in districts"
                                        :value="district.id"
                                    >
                                        {{ district.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-6 mb-2">
                                <label for="description">Описание</label>
                                <textarea
                                    id="description"
                                    class="form-control"
                                    type="text"
                                    v-model="data.description"
                                />
                            </div>

                            <div class="col-lg-6 mb-2">
                                <label for="show">Видимый для пользователей</label>
                                <input
                                    id="show"
                                    class="custom-checkbox"
                                    type="checkbox"
                                    v-model="data.show"
                                />
                            </div>

                            <div class="col-lg-12">
                                <div v-for="item in errors">
                                    <div v-for="e in item">
                                        {{ e }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2 d-flex">
                                <a
                                    @click="saveOrganization"
                                    class="btn btn-red m-auto"
                                >
                                    Сохранить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { createOrganization } from '@base/api/organization';

    export default {
        name: "Create",
        props: {
            show: false,
            districts: {
                type: Array | Object,
                default: null
            }
        },
        data() {
            return {
                errors: {

                },
                data: {
                    name: "",
                    type: "",
                    description: "",
                    address: "",
                    show: false,
                    district: null
                }
            }
        },
        methods: {
            closePopup(){
                this.$emit('closePopup');
            },
            saveOrganization(){
                let data = new FormData();
                data.append('name', this.data.name);
                data.append('type', this.data.type);
                data.append('description', this.data.description);
                data.append('address', this.data.address);
                data.append('show', this.data.show ? 1 : 0);

                createOrganization(data).then((data) => {
                    if (data.status == 200){
                        this.closePopup()
                    }else{
                        this.errors = data.data.errors;
                    }
                });
            },
        },
    }
</script>
