<template>
    <popup
        :caption="'Создать нарушение'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="form-group">
                <label
                    for="violenceTextArea"
                >
                    Ведите текст нарушения
                </label>
                <textarea
                    class="form-control"
                    id="violenceTextArea"
                    v-model="textForVioltion"
                    :class="('text' in errors) ? 'is-invalid' : ''"
                />
                <valid-sign
                    name="text"
                    :invalid="errors"
                />
            </div>
            <div class="custom-file pointer">
                <input
                    type="file"
                    class="custom-file-input"
                    id="photoWithViolance"
                    ref="screen"
                    :class="('screen' in errors) ? 'is-invalid' : ''"
                    @change="handlePhotoUpload()"
                >
                <valid-sign
                    name="screen"
                    :invalid="text"
                />
                <label class="custom-file-label" for="photoWithViolance">Добавьте фотографию</label>
            </div>
            <div class="pt-3">
                <img width="400px"
                    :src="imageData"
                >
            </div>
            <div
                class="row"
                v-if="errors"
            >
                <div
                    class="col-lg-12 my-2"
                >
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
            <div class="form-row pt-3">
                <div class="col-6">
                    <button
                        class="btn btn-outline-secondary w-100"
                        @click="closePopup()"
                    >
                        Отмена
                    </button>
                </div>
                <div class="col-6">
                    <button
                        class="btn btn-outline-success w-100"
                        @click="createViolation()"
                    >
                        Отправить
                    </button>
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup'
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';

export default {
    components: {
        popup,
        validSign,
        SuccessError,
    },
    mixins: [mixSuccess],
    data() {
        return {
            textForVioltion: "",
            screenForViolation: Image,
            dataForList: {},
            imageData: null,
            errors: {}
        }
    },
    props: {
        camera: {
            type: Object,
            default: {}
        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup')
        },
        createViolation() {
            const data = new FormData()
            data.append("text", (this.textForVioltion || ""))
            data.append("screen", this.screenForViolation)

            this.$axios.post('/api/v1/organization/' + this.camera.organization_id + '/organization-camera/' + this.camera.id + '/violations', data)
                .then(response => {
                    this.mixShow('success');
                    this.errors = {}
                    //this.closePopup()
                })
                .catch(error => {
                    this.mixShow('error');

                    this.errors = error.response?.data.errors || {};
                })
        },
        handlePhotoUpload () {
            if ((this.$refs.screen.files[0].size / 1024 / 1024) < 2) {
                this.screenForViolation = this.$refs.screen.files[0]
            }
            this.previewImage();
        },
        previewImage (event) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.imageData = e.target.result;
                }
                reader.readAsDataURL(this.screenForViolation)
        },
    }
}
</script>
