<template>
    <popup
        :caption="'Создать тип'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="form-group">
                <div class="form-group">
                    <label>
                        Название
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        v-model="type.name"
                        :class="('name' in errors) ? 'is-invalid' : ''"
                    />
                    <valid-sign
                        name="name"
                        :invalid="errors"
                    />
                </div>
            </div>
            <div
                class="row"
                v-if="errors"
            >
                <div
                    class="col-lg-12 my-2"
                >
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a
                class="btn btn-success"
                @click="save"
            >
                Сохранить
            </a>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup'
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: "CreateOrganizationType",
    components: {
        popup,
        validSign,
        SuccessError,
    },
    props: {
        type: {
            type: Object,
            default: {
                id: null,
                name: ''
            }
        }
    },
    mixins: [mixSuccess],
    data(){
        return {
            errors: {},
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup')
        },
        save(){
            if (this.type.id){
                //обновить
                this.$axios.post('/api/v1/organization_types/'+this.type.id, {
                    _method: 'PATCH',
                    name: this.type.name
                })
                    .then((response) => {
                        this.mixShow('success');
                        this.errors = {}
                        this.type = {
                            id: null,
                            name: ''
                        };
                    }).catch(error => {
                        this.mixShow('error');
                        this.errors = error.response?.data.errors || {};
                    })
            }else{
                //сохранить
                this.$axios.post('/api/v1/organization_types', {
                    name: this.type.name
                })
                .then((response) => {
                    this.mixShow('success');
                    this.errors = {}
                    this.type = {
                        id: null,
                        name: ''
                    };
                }).catch(error => {
                    this.mixShow('error');
                    this.errors = error.response?.data.errors || {};
                })
            }
        }
    },
}
</script>
