<template>
    <popup
        :caption="'Добавить интервал'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <label>Район</label>
                    <select
                        class="form-control"
                        v-model="district"
                    >
                        <option :value='null'>Выбрать район</option>
                        <option
                            v-for="district in districts.data"
                            :value="district.id"
                        >
                            {{ district.name }}
                        </option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Школа</label>
                        <select
                            class="form-control"
                            v-model="interval.organization_id"
                        >
                            <option :value='null'>Выбрать школу</option>
                            <option
                                v-for="organization in organizations.data"
                                :value="organization.id"
                            >
                                {{ organization.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Описание</label>
                        <textarea
                            v-model="interval.description"
                            class="form-control"
                        ></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>День</label>
                        <v-date-picker
                            v-model="interval.started_at"
                            mode="date"
                            :model-config="{
                                type: 'string',
                                mask: 'YYYY-MM-DD', // Uses 'iso' if missing
                              }"
                        >
                            <template v-slot="{ inputValue, inputEvents }">
                                <input
                                    class="form-control"
                                    :value="inputValue"
                                    v-on="inputEvents"
                                />
                            </template>
                        </v-date-picker>

                    </div>
                </div>
<!--                <div class="col-lg-6">-->
<!--                    <div class="form-group">-->
<!--                        <label>Дата по</label>-->
<!--                        <datetime-->
<!--                            format="YYYY-MM-DD H:i"-->
<!--                            v-model="interval.ended_at"-->
<!--                        />-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </template>
        <template v-slot:footer>
            <a
                class="btn btn-success"
                @click="save"
            >
                Создать
            </a>
        </template>
    </popup>
</template>

<script>
    import Popup from "@base/components/base/Popup"
    import datetime from '@base/components/base/datetime-picker';


    import {
        getOrganizations
    } from '@base/api/organization';


    export default {
        name: "CreateCameraInterval",
        data() {
            return {
                district: null,
                districts: {
                    data: []
                },
                organizations: {
                    per_page: 15,
                    total: 0,
                    page: 1,
                    data: []
                },
                interval: {
                    id: null,
                    organization_id: null,
                    description: null,
                    started_at: null,
                    ended_at: null,
                }
            }
        },
        components: {
            Popup,
            datetime
        },
        watch: {
            district: function (){
                this.getOrganizations()
            }
        },
        created() {
            this.getDistricts();
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            save(){
                const formData = new FormData();

                if (this.interval.id)
                    formData.append('_method', 'patch');

                if (this.interval.description)
                    formData.append('description', this.interval.description);

                formData.append('started_at', this.interval.started_at);
                formData.append('ended_at', this.interval.ended_at);


                this.$axios.post('/api/v1/organization/'+this.interval.organization_id+'/camera-intervals' + (this.interval.id ? '/'+this.interval.id : '')
                    , formData)
                    .then(()=>{
                        this.errors = {}
                        this.mixShow('success');
                    })
                    .catch((error) => {
                        this.mixShow('error');
                    })
            },
            getDistricts() {
                axios.get('/api/v1/districts', {
                    params: {
                        qty: 999
                    }
                })
                    .then((response) => {
                        this.districts.data = response.data.data.districts.data;
                    });
            },
            getOrganizations() {
                getOrganizations({
                    qty: 999,
                    page: this.organizations.page,
                    search: this.search,
                    district: this.district,
                    type: 'EDU,VIRO',
                    with_count: [
                        "users",
                    ],
                    with: [
                        "district"
                    ]
                }).then((response) => {
                    this.organizations.data = response.data.data.organizations.data;
                    this.organizations.total = response.data.data.organizations.total;
                    this.organizations.per_page = response.data.data.organizations.per_page;
                });
            },
        }
    }
</script>

<style scoped>

</style>
