<template>
    <popup
        :caption="'Редактирование нарушения'" 
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="form-group">
                <label
                    for="violenceTextArea"
                >
                    Измените текст нарушения
                </label>
                <textarea
                    class="form-control" 
                    id="violenceTextArea"
                    v-model="textForVioltion"
                />
            </div>
            <div class="custom-file pointer">
                <input 
                    type="file" 
                    class="custom-file-input" 
                    id="photoWithViolance"
                    ref="screen"
                    @change="handlePhotoUpload()"
                >
                <label class="custom-file-label" for="photoWithViolance">Измените фотографию</label>
            </div>
            <div class="pt-3 row">
                <div class="col-6">
                    <figcaption class="figure-caption">Текущая фотография</figcaption>
                    <img :src="violation.screen" class="figure-img img-fluid rounded">
                </div>   
                <div 
                    v-if="imageData"
                    class="col-6"
                >
                    <figcaption class="figure-caption">Новая фотография</figcaption>
                    <img :src="imageData" class="figure-img img-fluid rounded">
                </div>  
            </div>
            <div class="row">
                <div class="col-6">
                    <button 
                        class="w-100 btn btn-outline-secondary"
                        @click="closePopup()"
                    >
                        Отмена
                    </button>
                </div>
                <div class="col-6">
                    <button 
                        class="w-100 btn btn-outline-success"
                        @click="updateViolation()"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
import popup from '@base/components/base/Popup'

export default {
    components: {
        popup,
    },
    created() {
        this.textForVioltion = this.violation.text
    },
    data() {
        return {
            textForVioltion: "",
            imageData: null,
        }
    },
    props: {
        violation: {
            type: Object,
            default: {},
        }
    },
    methods: {
        handlePhotoUpload () {
            if ((this.$refs.screen.files[0].size / 1024 / 1024) < 2) {
                this.imageData = this.$refs.screen.files[0]
            }
            this.previewImage();
        },
        previewImage (event) {
            const reader = new FileReader();
            reader.onload = (e) => {
                this.imageData = e.target.result;
            }
            reader.readAsDataURL(this.imageData)
        },
        updateViolation() {
            const data = new FormData()
            data.append("text", (this.textForVioltion || ""))
            if (this.imageData) {
                data.append("screen", this.imageData)
            }
            data.append("_method", "patch")

            this.$axios.post('/api/v1/organization/' + this.violation.organization_id + '/organization-camera/' + this.violation.organization_camera_id + '/violations/' + this.violation.id, data)
                .then(response => {})
            this.closePopup()
        },
        closePopup() {
            this.$emit("closePopup")
        }
    }
}
</script>