<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title"
                        >
                            {{ 'Редактирование ролей ' + organization.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Роли</label>
                                        <select
                                            v-model="role_id"
                                            class="form-control"
                                            :class="('role_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                :value="0"
                                                disabled
                                            >
                                                Выберите роль
                                            </option>
                                            <option
                                                v-for="(role, k) in roles"
                                                :key="k"
                                                :value="role.id"
                                            >
                                                {{ role.label }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'role_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.role_id"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-12">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Роли организации</label>
                                    <div v-if="typeof attachedRoles.length !== 'undefined' && attachedRoles.length">
                                        <div
                                            v-for="(role, k) in attachedRoles"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>{{ role.label }}</strong>
                                            <button
                                                type="button"
                                                class="close"
                                                @click="detach(role.id)"
                                            >
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="typeof attachedRoles.length === 'undefined' || !attachedRoles.length">
                                        <div class="alert alert-warning">
                                            У организации нет ролей
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-2"
                            >
                                <div class="col-lg-12 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade mb-0 show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-12 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade mb-0 show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="existRole"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        У организации уже есть эта роль.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="existRole = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { defOrganization } from '@base/inc/defaults/app';
import Proccess from '@base/components/inc/mixin/Proccess.vue';

export default {
    name: 'AdminOrganizationRole',
    components: {
    },
    mixins: [Proccess],
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
        organization: {
            type: Object,
            default: defOrganization,
        },
        fnRefreshTable: {
            type: Function,
            default: () => {},
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            role_id: 0,
            existRole: false,
            attachedRoles: [],
        };
    },
    computed: {},
    watch: {
        'organization.id': function (val) {
            if (typeof val === 'number' && val) {
                this.getRoles();
            }
        },
    },
    methods: {
        getRoles() {
            const url = `/api/v1/organization/${this.organization.id}/role`;
            const loading = 'local';
            const params = {};


            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { roles } } }) => {

                    this.attachedRoles = roles;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        submit() {
            this.attache();
        },
        attache() {
            this.existRole = this.attachedRoles.find((role) => role.id === this.role_id);
            if (this.role_id && !this.existRole) {
                const url = `/api/v1/organization/${this.organization.id}/role/${this.role_id}`;
                const btn = 'save';
                const notify = true;
                const loading = 'local';
                const formData = new FormData();

                formData.append('_method', 'patch');
                formData.append('with_roles', 1);

                this.showProcessMessage(loading, btn, notify);
                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(({ data: { data: { roles } } }) => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.attachedRoles = roles;
                        // this.fnRefreshTable();
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    })
                    .finally(() => {
                    });
            }
        },
        detach(roleId) {
            const url = `/api/v1/organization/${this.organization.id}/role/${roleId}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'delete');
            formData.append('with_roles', 1);

            this.showProcessMessage(loading, btn, notify);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { roles } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.attachedRoles = roles;
                    // this.fnRefreshTable();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.role_id = 0;
            this.existRole = false;
            this.attachedRoles = [];
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
