<template>
    <popup
        :caption="'Просмотр события #' + interval.id"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div
                v-for="(url, k) in screenshots"
            >
                <div >{{ k }} </div>
                <div>
                    <button
                        class="btn fa fa-arrow-left pointer"
                        @click="getPrevPhoto(k)"
                    />
                    <img
                        class="mx-2"
                        :src="screenshots[k][screenshots_view[k]]"
                    />
                    <button
                        class="btn fa fa-arrow-right pointer"
                        @click="getNextPhoto(k)"
                    />
                </div>
            </div>
        </template>
    </popup>
</template>

<script>

import popup from "@base/components/base/Popup"

export default {
    name: "ShowCameraInterval",
    props: {
        interval: {
            type: Object,
            default: {
                id: null
            }
        },
        cameras_ids: {
            type: Object,
            default: {
                id: null
            }
        },
    },
    data() {
        return {
            cameras: [],
            screenshots: {},
            screenshots_view: {},
            // screenshots_view_src: this.cameras_ids,
        }
    },
    components: {
        popup,
    },

    created() {
        this.loadIntervalData()
    },
    methods: {
        closePopup(){
            this.$emit('closePopup');
        },
        getPrevPhoto(camera_id){
            if (this.screenshots_view[camera_id] > 0){
                // this.screenshots_view[camera_id]--
                this.$set(this.screenshots_view, camera_id, this.screenshots_view[camera_id]-1);
            }else {
                //this.screenshots_view[camera_id] = this.screenshots[camera_id].length-1

                this.$set(this.screenshots_view, camera_id, this.screenshots[camera_id].length-1);
            }



            this.$forceUpdate();
        },
        getNextPhoto(camera_id){
            this.screenshots_view[camera_id]++

            this.$set(this.screenshots_view, camera_id, this.screenshots_view[camera_id]);
            if(this.screenshots_view[camera_id]>=this.screenshots[camera_id].length) this.screenshots_view[camera_id]=0;



            this.$forceUpdate();
        },
        loadIntervalData(){
            axios.get('/api/v1/organization-camera-intervals/'+this.interval.id, {

            }).then((response) => {
                this.cameras = response.data.data.cameras
                this.screenshots = response.data.data.screenshots
                for(var camera_id in this.screenshots){
                    //this.screenshots_view[camera_id] = 0;

                    this.$set(this.screenshots_view, camera_id, 0);

                    //this.screenshots_view_src[camera_id] = this.screenshots[camera_id][this.screenshots_view[camera_id]]
                }
                this.$forceUpdate();
            })
        }
    }
}
</script>

<style scoped>

</style>
