<template>
    <div>
        <popup
            :caption="'Список событий на ' + day"
            @closePopup="closePopup"
            v-if="!showInterval"
        >
            <template v-slot:body>
                <div>
                    <table class="table">
                        <tr>
                            <td>#</td>
                            <td>Описание</td>
                            <td>Дата с</td>
                            <td>Дата по</td>
                            <td>Организация</td>
                            <td></td>
                        </tr>
                        <tr
                            v-for="row in organizationCamerasIntervals.data"
                        >
                            <td>{{ row.id }}</td>
                            <td>{{ row.description }}</td>
                            <td>{{ row.started_at }}</td>
                            <td>{{ row.ended_at }}</td>
                            <td>{{ row.organization.name }}</td>
                            <td>
                                <i class="fa fa-eye pointer" @click="openInterval(row)" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row py-2">
                    <b-pagination v-model="organizationCamerasIntervals.page" :total-rows="organizationCamerasIntervals.total" :per-page="organizationCamerasIntervals.per_page" class="m-auto"></b-pagination>
                </div>
            </template>
        </popup>
        <show-camera-interval
            v-if="showInterval"
            :interval="interval"
            :cameras_ids="cameras_ids"
            @closePopup="closeInterval"
        />
    </div>
</template>

<script>
import popup from "@base/components/base/Popup"
import ShowCameraInterval from './ShowCameraInterval';

export default {
    name: "ShowCameraIntervals",
    props: {
        day: {
            type: String,
            default: ''
        },
    },
    components: {
        ShowCameraInterval,
        popup,
    },
    data(){
        return {
            organizationCamerasIntervals: {
                total: 0,
                data: [],
                page: 1,
                per_page: 15,
            },
            showInterval: false,
            interval: null,
            cameras_ids: {}
        }
    },
    created() {
        this.loadList();
    },
    watch: {
        'organizationCamerasIntervals.page': function() {
            this.loadList()
        }
    },
    methods: {
        loadList(){
            axios.get('/api/v1/organization-camera-intervals', {
                params: {
                    need_day: this.day,
                    page: this.organizationCamerasIntervals.page
                }
            }).then((response) => {
                this.organizationCamerasIntervals.data = response.data.data.organizationCamerasIntervals.data
                this.organizationCamerasIntervals.total = response.data.data.organizationCamerasIntervals.total
            })
        },
        closePopup(){
            this.$emit('closePopup');
        },
        openInterval(interval){
            interval.organization.cameras.forEach(camera => {
                this.cameras_ids[camera.id] = '';
            })
            this.showInterval = true;
            this.interval = interval
        },
        closeInterval(){
            this.showInterval = false;
        }
    }
}
</script>

<style scoped>

</style>
