<template>
    <popup
        :caption="'Просмотр заявки #' + request.id"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <form-group
                        label="Название организации"
                        type="text"
                        name="organization_name"
                        disabled
                        v-model="request.organization_name"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="ИНН"
                        type="number"
                        name="organization_inn"
                        disabled
                        v-model="request.organization_inn"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Район"
                        type="text"
                        name="district_name"
                        disabled
                        v-model="request.district.name"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Адрес"
                        type="text"
                        name="organization_address"
                        disabled
                        v-model="request.organization_address"
                        :errors="errors"
                    />
                </div>

                <div class="col-lg-6">
                    <form-group
                        label="Описание"
                        type="textarea"
                        name="organization_description"
                        disabled
                        v-model="request.organization_description"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Email"
                        type="email"
                        name="user_email"
                        disabled
                        v-model="request.user_email"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Фамилия"
                        type="text"
                        name="user_firstname"
                        disabled
                        v-model="request.user_firstname"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Имя"
                        type="text"
                        name="user_lastname"
                        disabled
                        v-model="request.user_lastname"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Отчество"
                        type="text"
                        name="user_patronymic"
                        disabled
                        v-model="request.user_patronymic"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Должность"
                        type="text"
                        name="user_position"
                        disabled
                        v-model="request.user_position"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <form-group
                        label="Телефон"
                        type="text"
                        name="phone"
                        disabled
                        v-model="request.phone"
                        :errors="errors"
                    />
                </div>
                <div class="col-lg-6">
                    <label>Документы</label>
                    <div
                        v-for="(file,k) in request.documents"
                        class="d-flex align-items-center pb-2"
                    >
                        <div>
                            <img width="40px" src="/images/24/file/chat-file.svg">
                        </div>
                        <div class="pl-10">
                            <a :href="file.url" target="_blank">{{ file.name }} <span class="fa fa-external-link"/></a>
                            <div>{{ file.size | filesize }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 my-2" v-if="errors">
                    <SuccessError :show="{success, not_success}" success_message="Успешно!" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a class="btn btn-success" @click="setStatus('approve')">Подтвердить</a>
            <a class="btn btn-danger"  @click="setStatus('reject')">Отклонить</a>
        </template>
    </popup>
</template>

<script>
import popup from "@base/components/base/Popup"
import FormGroup from '@base/components/base/FormGroup.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';


export default {
    name: 'ShowOrderData',
    components: {
        popup,
        FormGroup,
        mixSuccess,
        SuccessError
    },
    mixins: [mixSuccess],
    data() {
        return {
            errors: {}
        }
    },
    props: {
        request: {}
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        setStatus(status){
            this.mixShow('success');
            this.$emit('setStatus', this.request, status)
            setTimeout(() => { this.closePopup(); }, 2000);
        }
    }
};
</script>

