<!-- Bashinsky --> 
<template>
<div class="row no-gutters answer p-3 mb-3" :class="correct === question_answer.id ? 'correct' : ''">
    <div class="d-inline-flex align-items-center">
        <b-form-radio v-if="typeEl === 'radio'" name="some-radios" v-model="answer" :value="question_answer.id" :disabled="disabled">
        </b-form-radio>

        <input v-else type="checkbox" v-model="answer" :value="question_answer.id" :disabled="disabled">

        <div class="pl-3">
            <div v-html="question_answer.value"></div>
            <div v-for="f in question_answer.images">
                <div class="d-flex align-items-center">
                    <a :href="f.full_url" target="_blank">{{f.file_name}}</a>
                </div>
            </div>
            <div v-for="f in question_answer.files">
                <div class="d-flex align-items-center">
                    <a :href="f.full_url" target="_blank">{{f.file_name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        question_answer: {
            type: Object,
            default: () => ({}),
        },
        typeEl: {
            type: String,
            default: 'check',
        },
        value: {
            type: Array | Number,
            default: () => [],
        },
        radio_model_id: {
            type: Number | Array,
            default: 0,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
        correct: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {}
    },
    computed: {
        answer: {
            get() {
                if (Array.isArray(this.value) && this.value.includes(this.question_answer.id)) {
                    return this.question_answer.id;
                }
                if (this.typeEl !== 'check') {
                    return this.value;
                }
                return 0;
            },
            set(val) {
                if (this.typeEl !== 'check') {
                    this.$emit('input', val);
                } else {
                    if (val) {
                        this.$emit('input', {
                            id: this.question_answer.id,
                            action: 'add'
                        });
                    } else {
                        this.$emit('input', {
                            id: this.question_answer.id,
                            action: 'delete'
                        });
                    }
                }
            },
        },
    },
}
</script>

<style lang="scss">
.choose {
    display: inline-block;
}
</style>
