<!-- Bashinsky --> 
<template>
    <main class="questions">
        <div class="container pt-3">
            <div class="d-flex">
                <div class="m-auto fs-32">
                    <slot name="title">
                    </slot>
                    Поздравляем! Вы ответили на все вопросы.
                </div>
            </div>
            <div class="d-flex pt-3">
                <div class="m-auto fs-14 title gray">
                    <slot name="minititle">
                    </slot>
                    Ожидайте результатов теста.
                </div>
            </div>
            <div class="d-flex pt-3 pb-5">
                <div class="m-auto fs-32"><img src="/images/icons/question-end.svg" /></div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    data() {
        return {

        }
    },
}
</script>
