<!-- Bashinsky --> 
<template>
<div class="fluid container">

    <!--        <div-->
    <!--            class="row conformity-answer"-->
    <!--             v-for="(element,k) in relations"-->
    <!--        >-->
    <!--            <div class="col-lg-6">-->
    <!--                <div-->
    <!--                    class="conformity-answer-example"-->
    <!--                    style="cursor: default;"-->
    <!--                >-->
    <!--                    <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>-->
    <!--                    <div>{{element.value}}</div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <hr>-->
    <div class="row">
        <div class="col-6 conformity-answer">
            <div class="mb-2" v-for="(element,k) in relations" :id="element.id" :key="element.id" ref="asnwerH">
                <div class="conformity-answer-example" style="cursor: default;" :style="block_height ? ('height:'+block_height+'px') : ''">
                    <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                    <div v-html="element.value"></div>
                    <div v-for="f in element.images">
                        <div class="d-flex align-items-center">
                            <a :href="f.full_url" target="_blank"><img height="100px" :src="f.full_url" class="img-fluid img-thumbnail"></a>
                        </div>
                    </div>
                    <div v-for="f in element.files">
                        <div class="d-flex align-items-center">
                            <a :href="f.full_url" target="_blank">{{f.file_name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <draggable element="span" v-model="answers" v-bind="dragOptions" :move="onMove">
                <transition-group name="no" class="conformity-answer" tag="div">
                    <div class="conformity-answer-example mb-2" v-for="(element,k) in answers" :key="element.id" ref="asnwerH" :style="block_height ? ('height:'+block_height+'px') : ''">
                        <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                        <div v-html="element.value"></div>
                        <div v-for="f in element.images">
                            <div class="d-flex align-items-center">
                                <a :href="f.full_url" target="_blank"><img  height="100px" :src="f.full_url" class="img-fluid img-thumbnail"></a>
                            </div>
                        </div>
                        <div v-for="f in element.files">
                            <div class="d-flex align-items-center">
                                <a :href="f.full_url" target="_blank">{{f.file_name}}</a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="conformity-answer-example mb-2" v-for="element in relationsAnswer" :key="element.id">
                            ''
                        </div>-->
                </transition-group>
            </draggable>
        </div>
    </div>
</div>
</template>

<script>
import Draggable from 'vuedraggable';
import deepClone from 'clonedeep';
export default {
    props: {
        answers_front: {
            type: Array,
            default: () => [],
        },
        listEl: {
            type: Array,
            default: () => [],
        },
        value: {
            type: Array | String,
            default: () => []
        }
    },
    components: {
        Draggable,
    },
    data() {
        return {
            block_height: 0,
            editable: true,
            isDragging: false,
            delayedDragging: false,
            relations: deepClone(this.answers_front),
            answers: [], //deepClone(this.value),
            relationsAnswer: deepClone(this.listEl),
        };
    },
    methods: {
        loadAnswers() {
            if (this.value) {
                this.answers = [];
                this.answers_front.forEach(af => {
                    let value1 = this.value.filter(item => af.id == item[0])
                    let listEl1 = this.listEl.filter(item => value1[0][1] == item.id);
                    this.answers.push(listEl1[0]);
                })
            } else {
                this.answers = [];
                this.relationsAnswer.forEach(a => {
                    this.answers.push(a)
                });
            }
        },
        orderList() {
            this.list = this.list.sort((one, two) => {
                return one.order - two.order;
            });
        },
        onMove({
            relatedContext,
            draggedContext
        }) {
            const relatedElement = relatedContext.element;
            const draggedElement = draggedContext.element;
            return (
                (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
            );
        },
    },
    computed: {
        dragOptions() {
            return {
                animation: 0,
                group: "description",
                disabled: !this.editable,
                ghostClass: "ghost"
            };
        },
    },
    mounted() {
        // if (typeof this.$refs.asnwerH == 'object') {
        //     this.$refs.asnwerH.forEach(el => {
        //         console.log(el.clientHeight, el.scrollHeight, el.offsetHeight)
        //         this.block_height = (this.block_height < el.scrollHeight) ? el.scrollHeight : this.block_height;
        //     });
        // }
        setTimeout(() => {
            this.block_height = 0;
            this.$refs.asnwerH.forEach(el => {
                this.block_height = (this.block_height < el.clientHeight) ? el.clientHeight : this.block_height;
            });
        }, 2000);

        setTimeout(() => {
            this.block_height = 0;
            this.$refs.asnwerH.forEach(el => {
                this.block_height = (this.block_height < el.clientHeight) ? el.clientHeight : this.block_height;
            });
        }, 10000);
    },
    created() {
        this.loadAnswers();
    },
    watch: {
        isDragging(newValue) {
            if (newValue) {
                this.delayedDragging = true;
                return;
            }
            this.$nextTick(() => {
                this.delayedDragging = false;
            });
        },
        answers() {
            if (this.relations.length === this.answers.length) {
                this.$emit('input', this.relations.map((el, index) => {
                    return [el.id, this.answers[index].id]
                }));
            }
        },
        answers_front(val) {
            this.relations = deepClone(val);
            this.loadAnswers();
        },
        listEl(val) {
            this.relationsAnswer = deepClone(val);
        },
    }
};
</script>
