<!-- Bashinsky --> 
<template>
    <div class="row no-gutters dd-answer mb-3"
         style="cursor: move"
         :class="correct"
    >
        <div class="sequence" v-if="answer" v-html="answer.value"></div>
        <!--<div v-html="answer.value"></div>-->
    </div>
</template>

<script>
export default {
    props: {
        answer: {
            type: Object,
            default: {
                value: ''
            },
        },
        correct: {
            type: String,
            default: '',
        }
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss" scoped>
.sequence {
    display: inline-block;
    padding-left: 40px;
    background: left center no-repeat url(/images/icons/menu-dots.svg);
}
</style>
