<!-- Bashinsky --> 
<template>
    <div class="test-time end d-flex align-items-center title white p-2">
        <slot name="action" :action="action">

        </slot>
    </div>
</template>

<script>
export default {
    name: 'TestButton',
    props: {

    },
    data() {
        return {

        }
    },
    methods: {
        action() {
            this.$emit('action');
        }
    }
}
</script>
