<!-- Bashinsky --> 
<template>
    <div>
        <textarea
            v-model="value.text"
            class="form-control mb-3"
            rows="6"
            :disabled="resultChangeDisabled"
            @blur="changeTextAnswer"
        />
        <div
            class="row"
            v-if="currentQuestion.common_question.params.audio_answer"
        >
            <div
                class="col-lg-6 pb-3"
                v-if="!resultChangeDisabled"
            >
                <recorder
                    title="Записать аудио ответ:"
                    @newRecording="getNewRec"
                ></recorder>
                <customAudio
                    v-for="(element, key) in new_audios"
                    :key="'audio_'+key"
                    @delete="deleteAudio(key)"
                    :element="element"
                >
                </customAudio>
            </div>
            <div class="col-lg-6 pb-3">
                <label>Прикрепленные аудио ответы:</label>
                <customAudio
                    v-for="(element, k) in value.audios"
                    :key="'audio_a_'+k"
                    @delete="deleteAudioAnswer(element.id, k)"
                    :element="element"
                    :deletable="!resultChangeDisabled"
                >
                </customAudio>
            </div>
        </div>
        <div
            class="row"
            v-if="currentQuestion.common_question.params.files_answer"
        >
            <div
                class="col-lg-6 pb-3"
                v-if="!resultChangeDisabled"
            >
                <div class="form-group">
                    <label>Добавить файл</label>
                    <div class="custom-file">
                        <input
                            type="file"
                            multiple
                            ref="files"
                            class="custom-file-input"
                            @change="handleFileUpload()"
                        >
                        <label class="custom-file-label" >
                            {{ (new_files.length) ? ('Выбрано ' + new_files.length) : 'Выбрать файл' }}
                        </label>
                    </div>
                </div>
                <div
                    class="d-flex mb-6"
                    v-for="(file,k) in new_files"
                >
                    <div
                    >
                        {{ file.name }}
                    </div>
                    <div
                        class="ml-auto"
                    >
                        <i
                            class="fa fa-trash pointer"
                            @click="deletePreUploadFile(k)"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pb-3">
                <label>
                    Прикрепленные к ответу файлы:
                </label>
                <div class="row no-gutters">
                    <div
                        v-for="(element, k) in value.files"
                        class="col-lg-4 box border rounded p-2 bg-dark text-white"
                    >
                        <a
                            :href="element.full_url"
                            target="_blank"
                        >
                            <div v-if="element.mime_type.split('/')[0] == 'image'">
                                <img :src="element.full_url" width="100%"/>
                            </div>
                            <div
                                v-else
                                class="text-white"
                            >
                                {{ element.file_name }}
                            </div>
                        </a>
                        <div
                            v-if="!resultChangeDisabled"
                            class="mt-2 text-white pointer"
                            @click="deleteFileAnswer(element.id, k)"
                        >
                            Удалить
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import recorder from '@base/components/base/recorder';
import customAudio from '@base/components/base/customAudio';
import { deleteAudioFileAnswer } from '@base/api/test/test-attempt';
import { createNamespacedHelpers } from 'vuex';
const test = createNamespacedHelpers('test');

    export default {
        name: "TextFilesAudio",
        components: {
            recorder,
            customAudio,
        },
        props: {
            testPaginate: {
                type: Object,
                default: {}
            },
            value: {
                type: Object,
                default: {
                    text: '',
                    audios: [],
                    files: []
                }
            },
            currentQuestion: {

            },
            resultChangeDisabled: {
                type: Boolean,
                default: false
            },
            new_audios: {
                type: Array,
                default: []
            },
            new_files: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                files: []
            }
        },
        methods: {
            ...test.mapMutations({
                addTextAudioFilesEl: 'ADD_TEXT_AUDIO_FILES_EL',
            }),
            deleteAudioAnswer(key, k){
                deleteAudioFileAnswer(this.currentQuestion.id, key)
                    .then((response) => {
                        this.addTextAudioFilesEl({
                            id: this.testPaginate.currentPage,
                            value: response.data.data.answer
                        });
                        this.value.audios.splice(k, 1);
                        this.$forceUpdate();
                    })
            },
            deleteFileAnswer(key, k){
                deleteAudioFileAnswer(this.currentQuestion.id, key)
                    .then((response) => {
                        this.addTextAudioFilesEl({
                            id: this.testPaginate.currentPage,
                            value: response.data.data.answer
                        });
                        this.value.files.splice(k, 1);
                        this.$forceUpdate();
                    })
            },
            getNewRec(recording) {
                this.new_audios.push(recording);
            },
            deleteAudio(key) {
                this.new_audios.splice(key, 1);
            },
            changeTextAnswer(){
                this.$emit('changeTextAnswer')
            },
            handleFileUpload () {
                for (let i = 0; i < this.$refs.files.files.length; i++) {
                    this.new_files.push(this.$refs.files.files[i])
                }
                this.$refs.files.value = ''
            },
            deletePreUploadFile(k){
                this.new_files.splice(k,1);
            },
        }
    }
</script>
