<!-- Bashinsky --> 
<template>
<div class="timer">
    <span class="minutes" v-if="hours">{{hours }}ч.</span>
    <span class="minutes">{{minutes }}м</span>
    <span class="seconds">{{seconds }}с</span>
  </div>
</template>

<script>

export default {
    name: 'TimerEnd',
    props: {
        totalTime: 0
    },

    computed: {
        seconds() {
            return  Math.trunc(this.totalTime % 60);
        },
        minutes() {
            return Math.trunc((this.totalTime / 60) % 60);
        },
        hours() {
            return Math.trunc(this.totalTime / 60 / 60) % 24;
        },
    },
}
</script>
