<!-- Bashinsky --> 
<template>
<div class="timer">
    <span class="minutes">{{ hours }}</span>
    <span class="sep">:</span>
    <span class="minutes">{{ minutes }}</span>
    <span class="sep">:</span>
    <span class="seconds">{{ seconds }}</span>
  </div>
</template>

<script>

const getNow = () => Math.round(new Date().getTime() / 1000)

export default {
    props: {
        endTime: {
            type: Date,
            default: () => new Date(),
        },
        startTime: {
            type: Date,
            default: () => new Date(),
        },
        serverTime: {
            type: Date,
            default: () => new Date(),
        },
    },
    data() {
        return {
            now: 0,
        }
    },
    watch: {
        serverTime(val) {
            this.now = Math.round(val/1000);
        }
    },
    computed: {
        diff() {
            return ((Math.round(this.endTime)/1000) - this.now);
        },
        totalTime() {
            return (Math.round(this.endTime - this.startTime)/1000);
        },
        seconds() {
            if (this.diff>0) {
                let s = Math.trunc(this.diff % 60);
                return s > 9 ? s : "0"+s
            }
            else return  "00"; // Math.trunc(this.totalTime % 60);
        },
        minutes() {
            if (this.diff>0) {
                let m = Math.trunc((this.diff / 60) % 60);
                return m > 9 ? m : "0"+m
            }
            else return "00";// Math.trunc((this.totalTime / 60) % 60);
        },
        hours() {
            if (this.diff>0) {
                let h = Math.trunc(this.diff / 60 / 60) % 24;
                return h > 9 ? h : "0"+h
            }
            else return "00";//Math.trunc(this.totalTime / 60 / 60) % 24;
        },
    },
    mounted() {

        this.now = Math.round(this.serverTime/1000);
        let intervalId = setInterval(() => {

            const diff = (Math.round(this.endTime)/1000) - this.now;
            this.now += 1;
            if (diff <= 0) {
                clearInterval(intervalId);
                this.$emit('timeEnded');
            }
        }, 1000);
    }
}
</script>
