<!-- Bashinsky --> 
<template>
    <div class="question">
        <div class="title gray f-ls-1 pb-3">{{ caption }}</div>
        <slot name="variantAnswers"></slot>
        <slot name="score">
        </slot>
        <div class="d-flex pt-3">
            <a class="m-auto btn btn-success" @click="submit" v-if="!disabled">Ответить</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        disabled: {
            type: Boolean,
            default: false,
        },
        caption: {
            type: String,
            default: 'Выберите вариант ответа:',
        }
    },
    data() {
        return {}
    },
    methods: {
        submit() {
            this.$emit('submit')
        },
    },
}
</script>
