<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Перевести студента в группу
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3">
                                    <input type="text" v-model="user_name" class="form-control" placeholder="ФИО или email"/>
                                </div>
                            </div>
                            <div class="row pt-32"
                                v-if="users">
                                <div
                                    v-for="(user, k) in users"
                                    :key="k"
                                    v-if="((user.firstname || user.lastname) && (user.firstname + ' ' + user.lastname).includes(user_name)) || (user.email && (user.email).includes(user_name))"
                                    class="col-lg-3 teacher d-flex align-items-center mb-40 pointer"
                                >
                                    <input
                                        v-model="selectedUsers"
                                        :value="user.id"
                                        type="checkbox"
                                        name="attached"
                                        class="form-check-input"
                                    >
                                    <div
                                        class="teacher-avatar"
                                        :style="(user && user.avatar) ? 'background-image: url(' + user.avatar.medium + ')'
                                        : 'background-image: url(/images/user_avatar.svg)'"
                                    />
                                    <div>
                                        {{ user.firstname + " " + user.lastname }} <br>
                                        {{ user.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            Прикрепить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>

</template>

<script>

export default {
    name: 'AttachStudent',
    components: {
    },
    props: {
        getUser: {
            type: Function,
            default: () => {},
        },
        fetch: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            user_name: '',
            invalid: {},
            spinner: {},
            selectedUsers: [],
            users: [],
        };
    },
    computed: {
    },
    watch: {
    },
    mounted() {
        this.getUser()
            .then(response => {
                this.users = response;
            });
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        async submit() {
            // this.selectedUsers.map((el) => attachOrDetachUser({ id: this.id, to: this.to, user_id: el }, this.toggle));
            this.fetch(this.selectedUsers).then(() => {
                this.closePopup();
            });
            // this.selectedUsers.map((id) => { this.fetch(id) });
        },
    },
};
</script>
