<template>
    <popup :caption="toggle === 'attach-user' ? 'Прикрепить' : 'Открепить'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row pt-32">
                <div
                    v-for="(user, k) in users"
                    :key="k"
                    class="col-lg-3 teacher d-flex align-items-center mb-40 pointer"
                >
                    <input
                        v-model="selectedUsers"
                        :value="user.id"
                        type="checkbox"
                        name="attached"
                        class="form-check-input"
                    >
                    <div
                        class="avatar avatar40"
                        :style="(user && user.avatar) ? 'background-image: url(' + user.avatar.medium + ')'
                        : 'background-image: url(/images/user_avatar.svg)'"
                    />
                    <div>
                        {{ user.firstname + " " + user.lastname }}
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn" @click="submit()">
                 {{ toggle === 'attach-user' ? 'Прикрепить' : 'Открепить' }}
            </button>
        </template>
    </popup>
</template>

<script>
import Popup from '@base/components/base/Popup';
export default {
    name: 'AttachTeacher',
    components: {
        Popup
    },
    props: {
        id: {
            type: Number,
            default: 0,
        },
        users: {
            type: Array,
            default() {
                return [];
            },
        },
        to: {
            type: String,
            default: '',
        },
        toggle: {
            type: String,
            default: 'detach-user',
        },
    },
    data() {
        return {
            invalid: {},
            spinner: {},
            selectedUsers: [],
        };
    },
    computed: {
    },
    watch: {
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        submit() {
            this.selectedUsers.map((id) => this.$emit('fetch', id));
            this.closePopup();
        },
    },
};
</script>
