<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5

                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            <div
                                v-if="program_id == null"
                            >
                                Добавить образовательную программу
                            </div>
                            <div
                                v-else
                            >
                                Редактировать образовательную программу
                            </div>

                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="preModalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-12">
                                <div class="col-lg-6 mb-10">
                                    <div class="form-group mb-10">
                                        <label
                                            class="title gray"
                                            for="name_program"
                                        >Название</label>
                                        <input
                                            id="name_program"
                                            v-model="program.name"
                                            type="text"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-10">
                                        <label
                                            class="title gray"
                                            for="type_program"
                                        >Тип программы</label>
                                        <select
                                            id="type_program"
                                            ref="programType"
                                            v-model="program.type"
                                            class="custom-select"
                                            :class="('type' in invalid) ? 'is-invalid' : ''"
                                            @change="semesters_show"
                                        >
                                            <option
                                                selected
                                            >
                                                Выбрать
                                            </option>
                                            <option
                                                value="long"
                                            >
                                                СПО
                                            </option>
                                            <option
                                                value="short"
                                            >
                                                Краткосрочная
                                            </option>
                                        </select>
                                        <div
                                            v-if="'type' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.type"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" v-if="semesters_show_bool">
                                        <label
                                            class="title gray"
                                            for="count_semesters_program"
                                        >Колличество семестров</label>
                                        <select
                                            id="count_semesters_program"
                                            v-model="program.count_semesters"
                                            class="custom-select"
                                            :class="('count_semesters' in invalid) ? 'is-invalid' : ''"
                                        >
                                            <option
                                                v-for="index in 10"
                                                :key="index"
                                                :value="index"
                                                selected
                                            >
                                                {{ index }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'count_semesters' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.count_semesters"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-10" v-if="currProgram">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Группа</label>
                                        <select
                                            v-model="speciality_types_select"
                                            class="custom-select"
                                            name="education_program_speciality_types"
                                        >
                                            <option value="">
                                                Выбрать
                                            </option>
                                            <option
                                                v-for="(row, k) in educationProgramSpecialityTypes"
                                                :value="k"
                                                :disabled="(currProgram.types && currProgram.types.map(a => a.id).includes(row.id))"
                                            >
                                                {{ row.name }}
                                            </option>
                                        </select>
                                    </div>

                                    <div v-if="typeof program.types !== 'undefined' && program.types.length">
                                        <div
                                            v-for="(type, k) in program.types"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>{{ type.name }}</strong>
                                            <button
                                                type="button"
                                                class="close"
                                                @click="detachProgramType(type)"
                                            >
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="typeof program.types === 'undefined' || !program.types.length">
                                        <div class="alert alert-warning">
                                            У программы не выбраны группы
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-2">
                                        <label
                                            class="title gray"
                                            for="name_program"
                                        >Описание</label>
                                        <htmlEditor
                                            :content.sync="program.description"
                                            name="description"
                                            :class="('description' in invalid) ? 'is-invalid' : ''"
                                        />
                                        <div
                                            v-if="'description' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.description"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-4 m-auto">
                                    <div class="form-group mb-2">
                                        <label
                                            class="title gray"
                                            for=""
                                        >
                                            Приоритет показа
                                        </label>
                                        <input
                                            v-model="program.popularity"
                                            type="number"
                                            class="form-control"
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-32">
                                    <input
                                        v-model="program.show"
                                        type="checkbox"
                                        class="form-check-input"
                                    >
                                    <label class="title gray">Показать</label>
                                </div>
                            </div>
                            <div
                                v-if="permissions.moderation_org_prog_main"
                                class="row pt-32"
                            >
                                <div class="col-lg-4 m-auto">
                                    <div class="form-group mb-2">
                                        <label
                                            class="title gray"
                                        >
                                            Приоритет показа на главной странице
                                        </label>
                                        <input
                                            v-model="program.main_popularity"
                                            type="number"
                                            class="form-control"
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-32">
                                    <input
                                        v-model="program.main_show"
                                        type="checkbox"
                                        class="form-check-input"
                                    >
                                    <label class="title gray">Показать на главной</label>
                                </div>
                            </div>
                            <div class="row pt-32">
                                <div class="col-lg-8 pt-32 m-auto">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>

</template>

<script>
import { defProgram } from '@base/inc/defaults/app';
import { createNamespacedHelpers, mapGetters } from 'vuex';
import htmlEditor from '@base/components/base/vueEditor';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';

const programs = createNamespacedHelpers('programs');
const organizations = createNamespacedHelpers('organization');
export default {
    name: 'EduManageProgram',
    components: {
        htmlEditor,
        SuccessError,
    },
    mixins: [Proccess],
    data() {
        return {
            speciality_types_select: null,
            semesters_show_bool: false,
            show: false,
        };
    },
    props:{
        program_id: null,
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
        hasAddProgram() {
            return this.getStore('modal.org.addProgram');
        },
        ...programs.mapGetters({
            currProgram: 'PROGRAM',
            educationProgramSpecialityTypes: 'SPECIALITY_TYPES'
        }),
        ...organizations.mapGetters({
            permissions: 'PERMISSIONS',
        }),
        program() {
            console.log('program target');
            if (typeof this.show === 'object' && this.show.update !== undefined) {
                return { ...this.currProgram };
            }
            return { ...defProgram };
        },
    },
    watch: {
        speciality_types_select(){
            if (this.speciality_types_select != null) {
                let id = this.educationProgramSpecialityTypes[this.speciality_types_select].id;
                this.addTypes({
                    program_id: this.program.id,
                    type_id: id
                }).then((data) => {
                    // console.log('data', data);
                    this.currProgram.types = data.types;
                    this.speciality_types_select = null;
                });
            }
        },
        show(){
            if (this.show){
                if (this.educationProgramSpecialityTypes == null){
                    this.getTypes();
                }
            }
        },
        program() {
            this.semesters_show();
        },
        hasAddProgram(val) {
            [this.show] = val;
        },
    },
    methods: {
        ...programs.mapActions({
            addProgram: 'ADD_PROGRAM',
            getTypes: 'GET_SPECIALITY_TYPES',
            addTypes: 'ADD_SPECIALITY_TYPES',
            updateProgram: 'UPDATE_PROGRAM',
            modalHide: 'HIDE_MODAL',
            getProgram: 'GET_PROGRAM'
        }),
        semesters_show() {
            if (this.program.type === 'long') {
                this.semesters_show_bool = true;
            } else {
                this.semesters_show_bool = false;
            }
        },
        detachProgramType(type){
            this.addTypes({
                program_id: this.program.id,
                type_id: type.id
            }).then((data) => {
                this.currProgram.types = data.types;
                this.speciality_types_select = null;
            });
        },
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;

            // if (this.program.name && this.program.description && this.$route.params.id) {
            if (this.$route.params.id) {
                if (typeof this.hasAddProgram[0].add !== 'undefined' && this.hasAddProgram[0].add) {
                    this.showProcessMessage(loading, btn);
                    this.addProgram({
                        name: this.program.name,
                        description: this.program.description,
                        type: this.program.type,
                        organization_id: this.$route.params.id,
                        popularity: this.program.popularity,
                        main_popularity: this.program.main_popularity,
                        main_show: this.program.main_show,
                        show: this.program.show,
                        count_semesters: this.program.count_semesters,
                    })
                        .then(({ status, response }) => {
                            if (status === 'ok') {
                                this.showSuccessMessage(loading, btn, notify);
                                setTimeout(() => { this.preModalHide(); }, 3000);
                            } else if (status === 'error') {
                                this.showErrorMessage(loading, btn, notify, response);
                            }
                        });
                } else if (typeof this.hasAddProgram[0].update !== 'undefined') {
                    this.showProcessMessage(loading, btn);
                    this.updateProgram({
                        name: this.program.name,
                        description: this.program.description,
                        type: this.program.type,
                        organization_id: this.$route.params.id,
                        popularity: this.program.popularity,
                        main_popularity: this.program.main_popularity,
                        main_show: this.program.main_show,
                        show: this.program.show,
                        program_id: this.$route.params.id_program,
                        count_semesters: this.program.count_semesters,
                    })
                        .then(({ status, response }) => {
                            if (status === 'ok') {
                                this.showSuccessMessage(loading, btn, notify);
                                setTimeout(() => { this.preModalHide(); }, 3000);
                            } else if (status === 'error') {
                                this.showErrorMessage(loading, btn, notify, response);
                            }
                        });
                }
            }
        },
        preModalHide() {
            this.modalHide();
            this.clearMixModal();
        },
    },
};
</script>
