<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5

                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Список вакансий
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalClose()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 m-auto">
                                <table id="vacancies_table" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Работодатель</th>
                                        <th>Зарплата</th>
                                    </tr>
                                    </thead>
                                    <tr v-for="item in program.vacancies">
                                        <td>
                                            <router-link
                                                target="_blank"
                                                :to="{ name: 'org.employer.vacancy', params: { id: organization_id, vacancyId: item.id } }"
                                            >
                                                {{ item.title }}
                                            </router-link>
                                            <br>
                                            <a class="title gray">{{ item.created_at }}</a>
                                        </td>
                                        <td>
                                            {{ item.organization.name }}
                                        </td>
                                        <td>
                                            <span v-if="item.min_salary">От {{ item.min_salary }} руб </span>
                                            <span v-if="item.max_salary">до {{ item.max_salary }} руб </span>
                                            <span v-if="!item.min_salary && !item.max_salary">з/п не указана</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>

    export default {
        name: "VacanciesModal",
        props:{
            show: false,
            program: {},
            organization_id: 0,
        },
        methods: {
            modalClose(){
                this.$emit('closePopup');
            },
        }
    }
</script>

<style scoped>

</style>
