<!-- Bashinsky --> 
<template>
    <div>
        <div
            class="col-lg-4 pb-56 "
        >
            <router-link
                :to="{ name: 'org.edu.about', params: { id: element.id }}"
                class="default-link"
            >
                <div class="box">
                    <div
                        class="row"
                    >
                        <div
                            class="col-sm-4 col-lg-3"
                        >
                            <div
                                class="m-auto edu-org-logo"
                                :style="(element.logo)
                                    ? 'background-image: url(' + element.logo + ')'
                                    : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                            />
                        </div>
                        <div class="col-sm-8 col-lg-9 pl-12 fs-16 align-self-center">
                            {{ element.name }}
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        element: {
            type: Object,
            default: () => ({})
        },
    }, 
    data() {
        return {

        }
    },
}
</script>

<style>

</style>