<template>
    <div>
        <div
            v-if="show.not_success"
            class="row pt-10"
        >
            <div class="col-lg-12 m-auto">
                <div
                    class="alert alert-warning alert-dismissible fade mb-0 show"
                    role="alert"
                >
                    <strong>Ошибка!</strong>&nbsp;
                    <span>Данные не обновлены.</span>
                    <div v-for="m in show.msg">
                        {{ m }}
                    </div>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        @click="show.not_success = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div
            v-if="show.success"
            class="row pt-10"
        >
            <div class="col-lg-12 m-auto">
                <div
                    class="alert alert-success alert-dismissible fade mb-0 show"
                    role="alert"
                >
                    {{ success_message ? success_message : 'Данные обновлены.' }}
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        @click="show.success = false"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'MessageSuccessError',
    props: {
        success_message: null,
        show: {
            type: Object,
            default() {
                return {
                    not_success: false,
                    success: false,
                    invalid: {},
                    msg: []
                };
            },
        },
    },
};
</script>

<style scoped>

</style>
