<template>
    <div class="container">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a 404 page not found.</h2>

        <p>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </p>
    </div>
</template>

<script>
export default {
    name: 'MainError404',
};
</script>
