<template>
    <main class="pt-2">
        <div class="container admin-competence">
            <div v-if="!currentCompetence">
                <div class="d-flex justify-content-center mt-15 mb-15">
                    <button
                        class="btn btn-red p-auto"
                        @click="competenceModalShow('create')"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Добавить главную компетенцию' }}
                    </button>
                </div>
            </div>
            <div v-else-if="currentCompetence > 0">
                <nav class="nav  red flex-row flex-nowrap justify-content-center">
                    <li
                        class="nav-item"
                        :class="this.type === 'children_competence' ? 'active' : ''"
                    >
                        <a
                            class="nav-link"
                            @click="toggleCompetence('children_competence')"
                        >
                            Дочерние
                        </a>
                    </li>
                    <li
                        class="nav-item"
                        :class="this.type === 'recommendations' ? 'active' : ''"
                    >
                        <a
                            class="nav-link"
                            @click="toggleCompetence('recommendations')"
                        >
                            Рекомендованные
                        </a>
                    </li>
                </nav>
                <div class="d-flex justify-content-center mt-15 mb-15">
                    <button
                        v-if="currentCompetence > 0"
                        class="btn btn-red p-auto mr-10"
                        @click="backCompetence()"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Вернуться на главную' }}
                    </button>
                    <button
                        v-if="currentCompetence > 0"
                        class="btn btn-red p-auto mr-10"
                        @click="delCompetence()"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Удалить компетенцию' }}
                    </button>
                    <button
                        v-if="currentCompetence > 0"
                        class="btn btn-red p-auto mr-10"
                        @click="competenceModalShow('update')"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Обновить компетенцию' }}
                    </button>
                    <button
                        v-if="this.type === 'children_competence'"
                        class="btn btn-red p-auto"
                        @click="competenceModalShow('create')"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Добавить дочернюю компетенцию' }}
                    </button>
                    <button
                        v-else
                        class="btn btn-red p-auto"
                        @click="linkedCompetenceModalShow()"
                    >
                        <span
                            aria-hidden="true"
                        />
                        {{ 'Связать с компетенцией' }}
                    </button>
                </div>
                <div class="d-flex justify-content-center flex-column mt-15 mb-15" v-if="currentCompetenceData">
                    <h1 class="text-center
                     mt-16 m-auto">{{ currentCompetenceData.name }}</h1>
                    <h3 class="text-center mt-16 m-auto">{{ currentCompetenceData.description }}</h3>
                </div>
            </div>
            <SuccessError class="pb-16" :show="{ not_success, success }" />
            <v-server-table
                ref="tableCompetence"
                :columns="table.columns"
                :options="table.options"
            >
                <template slot="name" slot-scope="props">
                    <router-link
                        :to="{ name: 'admin.competence.child', params: { id: props.row.id }}"
                    >
                        {{ props.row.name }}
                    </router-link>
                </template>
                <template slot="actions" slot-scope="props" v-if="currentCompetence > 0">
                    <div class="custom-actions">
                        <i
                            class="mr-10 fa fa-pencil pointer"
                            aria-hidden="true"
                            @click="linkedCompetenceModalShow(props.row.pivot)"
                        />
                        <i
                            class="m-auto fa fa-trash-o pointer"
                            aria-hidden="true"
                            @click="deleteLink(props.row.id)"
                        />
                    </div>
                </template>
            </v-server-table>
            <ManageCompetence
                :id="currentCompetence"
                :competenceData="competenceData"
                :typeModal="typeModal"
                v-if="showModalCompetence"
                @hide="competenceModalHide()"
            />
            <ManageLinkedCompetence
                :id="currentCompetence"
                :competence="selectedRowCompetence"
                :type="type"
                v-if="showModalLinkedCompetence"
                @hide="linkedCompetenceModalHide()"
            />
        </div>
    </main>
</template>

<script>
import {
        unlincRecommendation,
        getCompetencies,
        deleteCompetence,
        URL_COMPETENCE,
        unlinkBetweenCompetencies
        } from '@base/api/competence';

import ManageCompetence from './manage/Competence.vue';
import ManageLinkedCompetence from './manage/LinkedCompetence';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';

export default {
    name: 'AdminCompetencies',
    components: {
        ManageCompetence,
        ManageLinkedCompetence,
        SuccessError,
    },
    mixins: [Proccess],
    data() {
        let pivot = {
                name: 'pivot',
                visible: false
        }
        return {
            url: URL_COMPETENCE,
            showModalCompetence: false,
            showModalLinkedCompetence: false,
            currentCompetence: parseInt(this.$route.params.id),
            selectedRowCompetence: {},
            currentCompetenceData: {},
            stackTransition: [],
            tableData: [],
            type: 'children_competence',
            typeModal: '',
            table: {
                columns: [
                    'id',
                    'name',
                    'description',
                    'created_at',
                    'updated_at',
                    'actions',
                    'pivot',
                ],
                options: {
                    hiddenColumns: ['pivot'],
                    requestFunction: (data) => getCompetencies(data),
                    requestAdapter: (data) => {
                        const params = {
                            order_by: data.orderBy ? data.orderBy : 'name',
                            order: data.ascending ? 'asc' : 'desc',
                            page: data.page ? data.page : 1,
                            qty: data.limit ? data.limit : 10,
                            search: data.query ? data.query.name : '',
                        };
                        if (this.currentCompetence) {
                            return {
                                id: this.currentCompetence,
                                with: this.type,
                                ...params,
                            }
                        } else return {
                            only_parents: 1,
                            ...params,
                        };
                    },
                    responseAdapter: (response) => {
                        if (this.currentCompetence) {
                            if (this.type === 'children_competence') {
                                this.tableData = response.data.data.competencies.data['0'].children_competence;
                                this.currentCompetenceData = response.data.data.competencies.data['0'];
                            } else if (this.type === 'recommendations') {
                                this.tableData = response.data.data.competencies.data['0'].recommendations;
                                this.currentCompetenceData = response.data.data.competencies.data['0'];
                            }
                        } else {
                            this.tableData = response.data.data.competencies.data;
                            this.currentCompetenceData = null;
                        }
                        return { data: this.tableData, count: response.data.data.competencies.total };
                    },
                    headings: {
                        id: '№',
                        name: 'Название',
                        description: 'Описание',
                        created_at: 'Создано',
                        updated_at: 'Обновлено',
                    },
                    texts: {
                        filterPlaceholder: 'filter...',
                    },

                    sortable: ['id', 'name'],
                    filterable: ['name'],
                    filterByColumn: true,
                    perPage: 10,
                    perPageValues: [10, 20, 25, 50, 100],

                },
            },
        };
    },
    watch: {
        $route(to, from) {
            this.editRow(parseInt(this.$route.params.id));
        },
    },
    computed: {
        competenceData() {
            let defCompetence = {
                    description: '',
                    name: '',
                };
            if (this.typeModal === 'update' ) {
                return this.currentCompetenceData
            } else if (this.typeModal === 'create') {
                return defCompetence
            }
            return defCompetence;
        }
    },
    methods: {
        refreshTable() {
            this.$refs.tableCompetence.refresh();
        },
        toggleCompetence(val) {
            this.type = val;
            this.refreshTable();
        },
        competenceModalHide() {
            this.typeModal = '';
            this.showModalCompetence = false;
            this.refreshTable();
        },
        linkedCompetenceModalHide() {
            this.selectedRowCompetence = {
                competence_id: 0,
                weight: 0,
                weight_reverse: 0,
                duplex: 0,
            };
            this.showModalLinkedCompetence = false;
            this.refreshTable();
        },
        competenceModalShow(val) {
            if ( val ) {
                this.typeModal = val;
            }
            this.showModalCompetence = true;
        },
        linkedCompetenceModalShow(val) {
            if (val) {
                const renamed = ({ children_id, ...val }) => ({ competence_id: children_id, ...val })
                this.selectedRowCompetence = renamed(val);
            }
            this.showModalLinkedCompetence = true;
        },
        editRow(rowData){
            this.stackTransition.push(this.currentCompetence);
            this.currentCompetence = parseInt(rowData);
            this.refreshTable();
        },
        backCompetence() {
            this.currentCompetence = NaN;
            this.$router.push({ name: 'admin.competence.child' })
            this.refreshTable();
        },
        delCompetence() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            deleteCompetence(this.currentCompetence)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.backCompetence();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
        },
        deleteLink(id) {
            const loading = 'local';
            const btn = 'save';
            const notify = true;

            if (this.type === 'children_competence') {
                this.showProcessMessage(loading, btn);
                unlinkBetweenCompetencies({competence_id: id, id: this.currentCompetence})
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.refreshTable();
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            } else if (this.type === 'recommendations') {
                this.showProcessMessage(loading, btn);
                unlincRecommendation({competence_id: id, id: this.currentCompetence})
                    .then(() => {
                        this.showSuccessMessage(loading, btn, notify);
                        this.refreshTable();
                    })
                    .catch((error) => {
                        this.showErrorMessage(loading, btn, notify, error);
                    });
            }

        }
    },
};
</script>
