<template>
    <nav class="nav  red flex-row flex-nowrap justify-content-center">
        <li
            class="nav-item"
            :class="$route.name == 'admin.competence.child' ? 'active' : ''"
        >
            <router-link
                class="nav-link"
                :to="{ name: 'admin.competence.child' }"
            >
                Дочерние
            </router-link>
        </li>
        <li
            class="nav-item"
            :class="$route.name == 'admin.competence.related' ? 'active' : ''"
        >
            <router-link
                class="nav-link"
                :to="{ name: 'admin.competence.related' }"
            >
                Связанные
            </router-link>
        </li>
    </nav>
</template>

<script>
export default {
    name: 'AdminCompetenceNav',
    data() {
        return {};
    },
};
</script>
