<!-- Bashinsky --> 
<template>
<div class="container">
    <main class="pt-20 pb-20">
        <div class="container">
            <div class="row py-4">
                <div class="col-3">
                    <button class="btn btn-create" @click="createPage()">
                        Создать страницу
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="database col-lg-12 pt-20">
                    <table class="table table-striped table-adaptive table-bordered ml-auto mr-auto">
                        <thead>
                        <tr>
                            <th class="title gray vertical-align-middle" v-for="(el, id) in thead" :key="id">
                                {{el}}
                                <span class="arrow asc"></span>
                            </th>
                            <th class="title gray vertical-align-middle">

                                <span class="arrow asc"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(page, k) in pages.data" :key="k">
                            <td data-label="id">
                                {{ page.id }}
                            </td>
                            <td data-label="Название">
                                <router-link
                                    :to="{ name: 'staticpage', params: { page_id: page.id} }"
                                >
                                    {{ page.name }}
                                </router-link>
                            </td>
                            <td data-label="Заголовок">
                                {{ page.title }}
                            </td>
                            <td data-label="Описание">
                                {{ page.description }}
                            </td>
                            <td data-label="Тип">
                                {{ page.type }}
                            </td>
                            <td data-label="Статус">
                                {{ page.status }}
                            </td>
                            <td data-label="">
                                <button
                                    v-if="globalPermissions.moderation_welcomepage"
                                    type="button"
                                    class="btn btn-red"
                                    @click="deletePage(page.id)"
                                    >
                                    Удалить
                                </button>
                                <button
                                    v-if="globalPermissions.moderation_welcomepage"
                                    type="button"
                                    class="btn btn-red"
                                    @click="createPage(page)"
                                >
                                    Обновить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 py-2">
                    <b-pagination
                        class="justify-content-center"
                        v-model="currentPagePaginate"
                        :total-rows="pages.paginate.total"
                        :per-page="pages.paginate.per_page"
                    >
                    </b-pagination>
                </div>
            </div>
        </div>
        <page-popup v-if="pagePopupVisible"
                    @closePopup="closePagePopup"
                    :page="currentPage"
        />
   </main>
</div>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';
const welcomepage = createNamespacedHelpers('welcomepage');
import { defWelcomePage } from '@base/inc/defaults/app';
import pagePopup from "@base/components/staticPage/manage/PagePopup";

export default {
    name: "AdminStaticPage",
    components: {
        pagePopup,
    },
    data() {
        return {
            pagePopupVisible: false,
            thead: ['id', 'Название', 'Заголовок', 'Описание', 'Тип', 'Статус' ],
            currentPagePaginate: 1,
            currentPage: {},
        }
    },
    computed: {
        globalPermissions() {
            return this.$store.state.globalPermissions;
        },
        pages() {
            return this.$store.state.welcomepage.pages;
        }
    },
    watch: {
        currentPagePaginate(val) {
            this.getPages({ type: 'page', paginated: true, page: val, qty: 15 });
        }
    },
    methods: {
        ...welcomepage.mapActions({
            getPages: 'GET_PAGES',
            deletePage: 'DELETE_PAGE',
        }),
        updatePage() {

        },
        closePagePopup() {
            this.pagePopupVisible = false;
            this.currentPage = { ...defWelcomePage };
        },
        createPage(page) {
            page ? this.currentPage = page : {};
            this.pagePopupVisible = true;
        },
        async delete(id) {
            try {
                await this.deletePage(id);
            } catch (e) {

            }
        },
    },
    mounted() {
        this.getPages({ type: 'page' });
    },

}
</script>
