<template>
    <div class="container py-4">
        <div class="row mb-3">
            <div class="col-lg-3">
                <a class="btn btn-success" @click="create">Начать</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Дата создания</td>
                    <td>Статус</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in proctorings.data">
                    <td>{{ row.id }}</td>
                    <td>{{ row.created_at }}</td>
                    <td>{{ statuses[row.result.status] }}</td>
                    <td>
                        <a
                            v-if="!row.result.status"
                            class="fa fa-eye"
                            target="_blank"
                            :href="'/organization/edu/1487/proctoring/' + row.id"
                        />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'ProctoringIndex',
    props: {
        organization: {
            type: Object,
            default: {
                id: null
            }
        },
        organization_id: 0
    },
    data() {
        return {
            proctorings: {
                page: 1,
                data: [],
                total: 0
            },
            statuses: {
                created: "создан, но еще запущен",
                started: "запущен, в процессе работы",
                paused: "приостановлен,участник отключился",
                skipped: "пропущен не был начат до дедлайна",
                stopped: "завершен, но не оценен проктором",
                accepted: "оценен проктором положительно",
                rejected: "оценен проктором отрицательно"
            }
        }
    },
    created() {
        this.getPoctorings()
    },
    methods: {
        getPoctorings(){
            axios.get('/api/v2/proctoring', {
                params: {
                    organization_id: this.organization_id,
                    page: this.proctorings.page
                }
            }).then((response) => {
                this.proctorings.data = response.data.data.proctorings.data
                this.proctorings.total = response.data.data.proctorings.total
            })
        },
        create(){
            axios.post('/api/v2/proctoring', {
                organization_id: this.organization.id,
            }).then((response) => {

                let routeData = this.$router.resolve({name: 'org.edu.proctoring.show', params: {
                    id: this.organization_id, proctoring_id: response.data.data.proctoring.id
                }});
                window.open(routeData.href, '_blank');
                this.getPoctorings();
            })
        }
    }
};
</script>
