<template>
    <div class="container py-5" v-if="proctoring.result">
        <h1>Сеанс прокторинга для аудитории</h1>
        <div
            v-if="!proctoring.result.status"
        >
            Для завершения сеанса закройте нажмите завершить!
        </div>
        <div
            v-else
        >
             Сеанс завершен. Статус: {{ statuses[proctoring.result.status] }}
        </div>
        <div
            class="disabled_area d-flex align-items-center justify-content-center"
        >
            <a
                v-if="proctoring.result && !proctoring.result.status && started"
                class="btn btn-lg btn-danger"
                @click="endProctoring"
            >
                Завершить
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Show",
    props: {
        proctoring_id: null,
        organization_id: null
    },
    data() {
        return {
            supervisor: null,
            proctoring: {},
            statuses: {
                created: "создан, но еще запущен",
                started: "запущен, в процессе работы",
                paused: "приостановлен,участник отключился",
                skipped: "пропущен не был начат до дедлайна",
                stopped: "завершен, но не оценен проктором",
                accepted: "оценен проктором положительно",
                rejected: "оценен проктором отрицательно"
            },
            started: false
        }
    },
    created() {
        this.loadProctoring()
        this.supervisor = new Supervisor({
            url: "https://viro.proctoring.online"
        });
    },
    methods: {
        loadProctoring(){
            axios.get('/api/v2/proctoring/' + this.proctoring_id)
                .then((response) => {
                    var proctoring = response.data.data.proctoring;
                    this.proctoring = proctoring;
                    if (proctoring && !proctoring.result.status){
                        this.supervisor.init({
                            provider: 'jwt',
                            token: response.data.data.proctoring.jwt
                        }).then(() => {
                            this.started = true;
                            return this.supervisor.start();
                        }).catch(function(err) {
                            alert(err.toString());
                        });
                    }
                })
        },
        endProctoring(){
            this.started = false
            this.supervisor.stop();

            axios.post('/api/v2/proctoring/'+this.proctoring_id, {
                _method: "PATCH",
                action: "stop",
            }).then(() => {
                this.$router.push({name: 'org.edu.proctoring', params: {
                        id: this.organization_id
                    }})
            })
        }
    }
}
</script>

<style>
    .disabled_area {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 9999999;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
    }
    ._19Xk8-2HxtQ_csPgTiLjO9 {
        width: 300px !important;
        height: 300px !important;
        max-width: none;
        max-height: none;
    }
</style>
