<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Cоздать пользователя и прикрепить к {{ organization.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Емейл</label>
                                        <input
                                            v-model="user.email"
                                            class="form-control"
                                            :class="('email' in invalid) ? 'is-invalid' : ''"
                                            type="email"
                                        >
                                        <div
                                            v-if="'email' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Фамилия</label>
                                        <input
                                            v-model="user.lastname"
                                            class="form-control"
                                            :class="('lastname' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'lastname' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.lastname"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Имя</label>
                                        <input
                                            v-model="user.firstname"
                                            class="form-control"
                                            :class="('firstname' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'firstname' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.firstname"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Отчество</label>
                                        <input
                                            v-model="user.patronymic"
                                            class="form-control"
                                            :class="('patronymic' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'patronymic' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.patronymic"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Роли</label>
                                        <select
                                            v-model="role_id"
                                            class="form-control"
                                            :class="('role_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                :value="0"
                                                disabled
                                            >
                                                Выберите роль
                                            </option>
                                            <option
                                                v-for="(role, k) in roles"
                                                :key="k"
                                                :value="role.id"
                                            >
                                                {{ role.label }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'role_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.role_id"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <SuccessError :show="{ not_success, success }" />
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';

export default {
    name: 'AddUser',
    components: {
        SuccessError,
    },
    mixins: [Proccess],
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        roles: {
            type: Array,
            default() {
                return [];
            },
        },
        organization: {
            type: Object,
            default: {},
        },
    },
    data() {
        return {
            role_id: 0,
            user: {},
        };
    },
    computed: {},
    watch: {},
    created() {
        this.user = {};
    },
    mounted() {},
    methods: {
        submit() {
            this.create();
        },
        create() {
            const url = `/api/v1/organizations/${this.organization.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'attach-user-with-role');
            formData.append('email', this.user.email);
            formData.append('lastname', this.user.lastname);
            formData.append('firstname', this.user.firstname);
            formData.append('patronymic', this.user.patronymic);
            formData.append('role_id', this.role_id);

            this.showProcessMessage(loading, btn, notify);
            this.$axios.post(url, formData)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                });
        },
        modalHide() {
            this.$emit('closePopup')
            this.clearModal();
        },
        clearModal() {
            this.role_id = 0;
            this.user = {};
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
