<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-lg"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Доступные шаблоны импорта
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Название</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="card_template in organization.user_card_templates"
                                >
                                    <td>
                                        {{ card_template.name }}
                                    </td>
                                    <td>
                                        <a
                                            :href="'/api/v2/organizations/'+organization.id+'/generate-excel-template/'+card_template.id"
                                            class="btn"
                                            target="_blank"
                                        >Скачать шаблон</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
export default {
    name: 'getTemplateImportUserModal',
    props: {
        show: {
            type: Boolean,
            default: false
        },
        organization: {
            type: Object,
            default: {}
        }
    },
    methods: {
        modalHide() {
            this.$emit('closePopup')
        }
    }
};
</script>

<style scoped>

</style>
