<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                :class="(step == 0) ? 'modal-xl' : 'modal-max'"
                role="document"
            >
                <div class="modal-content modal-dialog-scrollable">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Импорт пользователей
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container" v-if="step == 0">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label>Заполненный шаблон</label>
                                    <b-form-file
                                        v-model="importFile"
                                        :state="Boolean(importFile)"
                                        placeholder=""
                                        drop-placeholder=""
                                    ></b-form-file>
                                </div>
                                <div class="form-group">
                                    <a
                                        @click="sendFile"
                                        class="btn btn-success"
                                    >
                                        Проверить
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div v-if="step == 1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td v-for="(h, i) in head">
                                                    {{ title[i] }}
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="(user,i) in user_data"
                                                :style="(user[0] != 0) ? 'background-color: #3bc1720d;' : 'background-color: #fffacc36;'"
                                            >
                                                <td v-for="(h,k) in head">
                                                    <div v-if="card_fields[head[k]]">
                                                        <select
                                                            class="form-control"
                                                            v-if="card_fields[head[k]].type == 'select'"
                                                            :class="(errors && errors[i] && errors[i][k+1] && (errors[i][k+1] == 1)) ? 'is-invalid' : ''"
                                                            v-model="user_data[i][k+1]"
                                                        >
                                                            <option
                                                                v-for="val in card_fields[head[k]].data"
                                                                :value="val"
                                                            >
                                                                {{ val }}
                                                            </option>
                                                        </select>
                                                        <input
                                                            class="form-control"
                                                            v-else
                                                            :type="card_fields[head[k]].type"
                                                            :class="(errors && errors[i] && errors[i][k+1] && (errors[i][k+1] == 1)) ? 'is-invalid' : ''"
                                                            v-model="user_data[i][k+1]"
                                                        />
                                                    </div>
                                                    <div
                                                        v-if="!card_fields[head[k]]"
                                                    >
                                                        <input
                                                            class="form-control"
                                                            type="text"
                                                            :class="(errors && errors[i] && errors[i][k+1] && (errors[i][k+1] == 1)) ? 'is-invalid' : ''"
                                                            v-model="user_data[i][k+1]"
                                                        />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12 d-flex" v-if="step == 1">
                            <div class="m-auto">
                                <a
                                    @click="toStep0"
                                    class="mr-2 btn"
                                >
                                    Назад
                                </a>
                                <a
                                    @click="sendData"
                                    class="ml-2 btn btn-success"
                                >
                                    Сохранить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
export default {
    name: 'importUsersModal',
    props: {
        show: {
            type: Boolean,
            default: false
        },
        organization: {
            type: Object,
            default: {}
        }
    },
    data(){
        return {
            head: [],
            c: [],
            user_data: [],
            card_fields: {},
            errors: [],
            userCardTemplate: {},
            step: 0,
            importFile: null,
        }
    },
    methods: {
        toStep0(){
            this.step = 0;
            this.head = [];
            this.title = [];
            this.user_data = [];
            this.errors = [];
            this.userCardTemplate = {};
            this.card_fields = {};
        },
        modalHide() {
            this.$emit('closePopup')
        },
        sendData(){
            axios.post('/api/v2/organizations/' + this.organization.id + '/import-checked-data', {
                data: this.user_data,
                template: this.userCardTemplate,
                head: this.head
            }).then((response) => {
                this.makeToast({
                    variant: 'success',
                    title: 'Экспорт',
                    description: 'Ожидайте оповещения со ссылкой на файл'
                });
                this.toStep0();
                this.modalHide();
            }).catch((error) => {
                this.errors = error.response.data.msg;
            });
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            });
        },
        sendFile(){
            let data = new FormData();
            data.append('importFile', this.importFile);
            axios.post('/api/v2/organizations/' + this.organization.id + '/check-excel-template', data).then((response) => {
                this.card_fields = response.data.data.card_fields;
                this.head = response.data.data.head;
                this.title = response.data.data.title;
                this.user_data = response.data.data.user_data;
                this.errors = response.data.data.errors;
                this.userCardTemplate = response.data.data.userCardTemplate;

                this.step = 1;
            }).catch((error) => {

            })
        }
    }
};
</script>
<style>
.custom-file-input:lang(ru) ~ .custom-file-label::after {
    content: "\412\44B\431\440\430\442\44C" !important;
}
</style>
