<template>
    <popup
        :caption="'Редактирование данных: ' + user.firstname + ' ' + user.lastname + ' ' + (user.patronymic ? user.patronymic : '')"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Роли</label>
                            <div class="input-group mb-3">
                                <select
                                    v-model="role"
                                    class="form-control"
                                    :class="('role_id' in invalid) ? 'is-invalid' : ''"
                                    required
                                >
                                    <option :value="null">Выберите роль</option>
                                    <option
                                        v-for="(role, k) in organization.roles"
                                        :value="role"
                                        :disabled="(userRoles && userRoles.map(a => a.id).includes(role.id))"
                                    >
                                        {{ role.label }}
                                    </option>
                                </select>
                                <div class="input-group-append">
                                    <a
                                        class="input-group-text pointer"
                                        @click="addRole"
                                    >
                                        <i class="fa fa-plus-circle"/>
                                    </a>
                                </div>
                            </div>
                            <div
                                v-if="'role_id' in invalid"
                                class="invalid-feedback"
                            >
                            <span
                                v-for="(message, k) in invalid.role_id"
                            >
                                {{ message }}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <label class="title gray upper">Роли пользователя</label>
                        <div v-if="userRoles && userRoles.length" class="d-flex">
                            <div
                                v-for="(role, k) in userRoles"
                                :key="k"
                                class="alert alert-secondary fade show align-items-center mr-2"
                            >
                                <strong class="mr-2">{{ role.label }}</strong>
                                <a
                                    class="fa fa-trash pointer"
                                    @click="deleteRole(role.id)"
                                >
                                </a>
                            </div>
                        </div>
                        <div v-if="userRoles && userRoles.length == 0" class="d-flex">
                            <div class="alert alert-warning">
                                У пользователя нет ролей для текущей организации
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="row"
                >
                    <div
                        class="col-lg-6"
                    >
                        <div class="form-group">
                            <label>Добавить шаблон данных</label>
                            <div class="input-group mb-3">
                                <select
                                    class="form-control"
                                    :class="('card_template_id' in errors) ? 'is-invalid' : ''"
                                    name="card_template_id"
                                    v-model="cardAddSelect"
                                >
                                    <option value="null">Выбрать</option>
                                    <option
                                        v-for="card in organization.user_card_templates"
                                        :key="card.id"
                                        :value="card.id"

                                    >
                                        <!--                                    :disabled="(userCards && userCards.map(a => a.user_card_template_id).includes(card.id))"-->
                                        {{ card.name }}
                                    </option>
                                </select>
                                <div class="input-group-append">
                                    <a
                                        class="input-group-text pointer"
                                        @click="addCardToUser"
                                    >
                                        <i class="fa fa-plus-circle"/>
                                    </a>
                                </div>
                            </div>
                            <valid-sign
                                :name="'card_template_id'"
                                :invalid="errors"
                            />
                        </div>
                    </div>

                    <div class="col-lg-12" v-if="errors">
                        <SuccessError :show="{success, not_success}" />
                    </div>
                </div>

                <div
                    v-for="card in userCards"
                    :key="card.id"
                    class="card mb-2"
                >
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <span class="fs-18">
                                Шаблон данных: <b>{{ card.template.name }}</b>
                            </span>
                            <i
                                @click="deleteCardToUser(card)"
                                class="ml-2 fa fa-trash pointer"
                            />
                        </div>
                    </div>
                    <div
                        class="card-body"
                    >
                        <div class="row">
                            <div
                                class="col-lg-6"
                                v-for="(field, k) in card.template.fields"
                                :key="k"
                            >
                                <div class="form-group">
                                    <label>
                                        {{ field.name }}
                                    </label>
                                    <input
                                        v-if="field.type == 'text' || field.type == 'date' || field.type == 'number'"
                                        class="form-control"
                                        :type="field.type"
                                        v-model="userCardData[card.id][field.id]"
                                    />
                                    <input
                                        v-if="field.type == 'checkbox'"
                                        class="custom-checkbox"
                                        :type="field.type"
                                        v-model="userCardData[card.id][field.id]"
                                    />
                                    <textarea
                                        class="form-control"
                                        v-if="field.type == 'textarea'"
                                        :type="field.type"
                                        v-model="userCardData[card.id][field.id]"
                                    />
                                    <select
                                        class="form-control"
                                        v-if="field.type == 'select'"
                                        v-model="userCardData[card.id][field.id]"
                                    >
                                        <option
                                            v-for="(row, l) in field.data"
                                            :key="l"
                                            :value="row"
                                        >
                                            {{row}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <a
                                    @click="userCardDataSave(card)"
                                    class="btn btn-success"
                                >
                                    Сохранить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </template>
        <template v-slot:footer>
            <button
                type="button"
                class="btn btn-danger"
                @click="delete_user()"
            >
                Удалить
            </button>
        </template>
    </popup>
</template>

<script>
import Popup from '@base/components/base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import validSign from '@base/components/base/validSign';
import { URL_USER } from '../../../../../api/user';

export default {
    name: "UserRoleAndCardPopup",
    mixins: [mixSuccess],
    components:{
        Popup,
        SuccessError,
        validSign
    },
    data(){
        return {
            invalid: {},
            spinner: {
                save: false,
            },
            role: null,
            cardAddSelect: null,
            userRoles: [],
            userCards: [],
            userCardFields: [],
            userCardData: [],
            errors: {},
        }
    },
    props: {
        user: {},
        organization: {}
    },
    created() {
        this.getUserRoles();
        this.getUserCards();
    },
    methods: {
        closePopup() {
            this.$emit('closePopup', this.update);
        },
        getUserRoles() {
            if (this.organization.id && this.user.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role`;
                this.$axios.get(url)
                    .then((response) => {
                        this.userRoles = response.data.data.roles;
                    })
            }
        },
        delete_user(){
            const url = `/api/v1/organizations/${this.organization.id}`;
            this.$axios.post(url, {
                _method: 'PATCH',
                action: 'detach-user',
                user_id: this.user.id
            }).then(response => {
                this.$emit('closePopup', true);
            })
        },
        getUserCards(){
            if (this.organization.id && this.user.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/card`;
                this.$axios.get(url)
                    .then((response) => {
                        this.userCards = response.data.data.cards;
                        this.userCards.forEach(card => {
                            card.template.fields.forEach(field => {
                                if (!this.userCardFields[card.id]) this.userCardFields[card.id] = {};
                                this.userCardFields[card.id][field.id] = field.type;
                            })
                        })

                        this.userCards.forEach(card => {
                            if (!this.userCardData[card.id]) this.userCardData[card.id] = {};
                            card.values.forEach(field => {
                                if (this.userCardFields[card.id][field.user_card_template_field_id] == 'checkbox'){
                                    this.userCardData[card.id][field.user_card_template_field_id] = (field.value == '1') ? true : false;
                                }else{
                                    this.userCardData[card.id][field.user_card_template_field_id] = field.value;
                                }
                            });
                        })
                    })
            }
        },
        addRole() {
            if (this.role){
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role/${this.role.id}`;
                const formData = new FormData();
                formData.append('_method', 'patch');
                this.$axios.post(url, formData).then(() => {
                    this.userRoles.push(this.role);
                    this.role = null;
                })
            }
        },
        deleteRole(role_id){
            const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/role/${role_id}`;
            this.$axios.delete(url)
                .then(() => {
                    this.userRoles = this.userRoles.filter((role) => role.id !== role_id);
                })
        },
        addCardToUser(){
            if (this.organization.id && this.user.id && this.cardAddSelect) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/card`;
                axios.post(url,{
                    card_template_id: this.cardAddSelect
                }).then((response) => {
                    this.getUserCards();
                    this.cardAddSelect = null;
                });
            }
        },
        userCardDataSave(card){
            const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/card/${card.id}`;


            axios.post(url,{
                _method: 'PATCH',
                action: 'save-card-data',
                user_card_id: card.id,
                data: this.userCardData[card.id],
                // with: [
                //     'cards',
                //     'cards.values',
                //     'cards.template',
                //     'cards.template.fields',
                // ]
            }).then((response) => {
                this.user.cards = response.cards;
                // response.cards.forEach(card => {
                //     card.values.forEach(field => {
                //         this.userCardData[card.id][field.user_card_template_field_id] = field.value;
                //     });
                // })
            })
        },
        deleteCardToUser(card){
            if (this.organization.id && this.user.id) {
                const url = `/api/v1/organizations/${this.organization.id}/user/${this.user.id}/card/${card.id}`;
                axios.delete(url).then((response) => {
                    this.getUserCards();
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
