<template>
<Popup :caption="'Комментарии'" @closePopup="closePopup" :modalType="'modal-lg'">
    <template v-slot:body>
        <div class="container">
            <div
                class="row border-bottom mb-3 border-secondary"
                v-for="(comment, id) in value"
            >
                <div class="col-lg-3 d-flex pb-4">
                    <div class="pr-3">
                        <img
                            class="avatar avatar40"
                            :src="comment.user.avatar.medium"
                        />
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                            {{ comment.user.lastname + ' ' + comment.user.firstname + ' ' + (comment.user.patronymic ? comment.user.patronymic : '') }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9" >
                    <p><b>Дата:</b> {{ comment.created_at }}</p>
                    <p><b>Шаг:</b> {{ statusIOM[comment.step] }}</p>
                    <p v-if="comment.action == 'add-course'">Добавлен курс: {{ comment.model_id }}</p>
                    <p v-else-if="comment.action == 'del-course'">Удален курс: {{ comment.model_id }}</p>
                    <p v-else-if="comment.action == 'add-event'">Добавлено мероприятие: {{ comment.model_id }}</p>
                    <p v-else-if="comment.action == 'del-event'">Удалено мероприятие: {{ comment.model_id }}</p>
                    <p v-if="comment.user_comment"><b>Комментарий:</b> {{ comment.user_comment ? comment.user_comment : '-' }} </p>
                </div>
            </div>
        </div>
    </template>
</Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';

export default {
    name: "FormPopup",
    components: {
        validSign,
        SuccessError,
        Popup,
    },
    mixins: [mixSuccess],
    props: {
        value: {
            type: Array,
            default: [],
        }
    },
    data() {
        return {
            statusIOM: {
                [null]: 'Формирование заявки',
                0: 'Формирование заявки',
                1: 'Проверка сформированной заявки завучем',
                2: 'Проверка сформированной заявки директором',
                3: 'На согласовании у регионального координатора',
                4: 'Заявка одобрена',
            },
        }
    },
    mounted() {
        this.fieldData = this.value;
    },
    computed: {},
    watch: {
        externalCourse() {
            this.externalCourseLocal = deepClone(this.externalCourse);
        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
    }
}
</script>

<style lang="scss" scoped>
.orderPopupInput {
    border: 2px solid #e6ecff;
    background: rgba(231, 240, 248, 0.747);
    height: 3em;
    text-indent: 1em;

    &.is-invalid {
        border: 2px solid #e3342f;
        ;
    }
}

.textForInputs {
    margin-left: 1em;
    color: rgb(101, 101, 114);
}
</style>
