<template>
    <Popup
        :caption="'Заполнить анкету'"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div v-for="(field, id) in fields" :key="id" class="form-group" :class="field.type === 'checkbox' ? 'form-check' : ''">
                            <input v-if="field.type === 'checkbox'"
                                    :type="field.type"
                                    class="form-check-input"
                                    :true-value="Number(1)"
                                    :false-value="Number(0)"
                                    v-model="fieldData[field.id]"
                            >
                            <label :class="field.type === 'checkbox' ? 'form-check-label' :''">{{field.name}}</label>
                            <input v-if="['text', 'number', 'date'].find(el => el === field.type)"
                                    :type="field.type"
                                    :class="field.type === 'checkbox' ? 'form-check-input' : 'form-control'"
                                    v-model="fieldData[field.id]"
                            >
                            <textarea
                                class="form-control"
                                v-if="field.type === 'textarea'"
                                :type="field.type"
                                rows="6"
                                v-model="fieldData[field.id]"
                            />
                            <select
                                v-model="fieldData[field.id]"
                                class="form-control"
                                v-if="field.type === 'select'"
                            >
                                <option
                                    :value="null"
                                    disabled
                                >
                                    Выберите из списка
                                </option>
                                <option
                                    v-for="(selectValue, k) in field.data"
                                    :key="k"
                                    :value="selectValue"
                                >
                                    {{ selectValue }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-2 mb-3" v-if="errors">
                <SuccessError :show="{success, not_success}" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button
                            @click="closePopup"
                            class="w-50 p-2 my-2 btn btn-secondary"
                            style="border-radius: 0"
                        >
                            Отмена
                        </button>
                    </div>
                    <div class="col-6 text-right">
                        <button
                            class="w-50 p-2 my-2 btn btn-danger"
                            style="border-radius: 0"
                            @click="submitLocal"
                        >
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </template>
    </Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';
import deepClone from 'clonedeep';

export default {
    name: "FormPopup",
    components: {
        validSign,
        SuccessError,
        Popup,
    },
    mixins: [mixSuccess],
    props: {
        submit: {
            type: Function,
        },
        fields: {
            type: Array,
            default: [],
        },
        value: {
            type: Array | Object,
            default: [],
        }
    },
    data() {
        return {
            errors: {},
            fieldData: {},
        }
    },
    mounted() {
        this.fieldData = this.value;
    },
    computed: {
    },
    watch: {
        externalCourse() {
            this.externalCourseLocal = deepClone(this.externalCourse);
        },
    },
    methods: {
        async submitLocal() {
            try {
                await this.$emit('input', this.fieldData);
                await this.submit();
                this.mixShow('success');
                setTimeout(() => { this.closePopup() }, 2000);
            } catch (e) {
                console.warn('e', e);
                this.errors = e;
                this.mixShow('error');
            }
        },
        closePopup() {
            this.$emit('closePopup');
            this.clear();
        },
        clear() {
            this.fieldData = this.fields.map(el => null);
            this.errors = {};
        },
    }
}
</script>

<style scoped lang="scss">
.orderPopupInput{
    border: 2px solid #e6ecff;
    background: rgba(231, 240, 248, 0.747);
    height: 3em;
    text-indent: 1em;
    &.is-invalid {
        border: 2px solid #e3342f;;
    }
}
.textForInputs{
    margin-left: 1em;
    color: rgb(101, 101, 114);
}
</style>
