<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Создать тест
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-6 m-auto">
                            <label>Тест</label>
                            <input
                                v-model="test.name"
                                class="form-control m-auto"
                                type="text"
                            >

                            <label>Минут отведено на тестирование</label>
                            <input
                                v-model="test.lead_time"
                                class="form-control mb-2"
                                type="number"
                            >

                            <label>C какого момента тест доступен</label>
                            <input
                                v-model="test.start_time_availability"
                                class="form-control mb-2"
                                type="datetime-local"
                            >

                            <label>C какого момента тест не доступен</label>
                            <input
                                v-model="test.end_time_availability"
                                class="form-control mb-2"
                                type="datetime-local"
                            >

                            <button
                                class="form-control mt-20 btn btn-red m-auto"
                                @click="addTest()"
                            >
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { createOrganizationTest } from '@base/api/organization';
    import dateManager from '@base/inc/func/dateManager/index';

    export default {
        name: 'AdminTestCreate',
        props: {
            show: false
        },
        data(){
            return {
                test: {
                    name: '',
                    type_id: 0,
                    lesson_id: 0,
                    lead_time: 0,
                    start_time_availability: '',
                    end_time_availability: '',
                }
            }
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            addTest() {    
                this.test['test[start_time_availability]'] = dateManager.customDataFormat(this.testStartTime);
                this.test['test[end_time_availability]'] = dateManager.customDataFormat(this.testEndTime);
                var data = this.test;
                data.action = 'create-quiz';
                data._method = 'PATCH';
                createOrganizationTest(6, data).then(response => {
                })
            }
        }
    };
</script>

<style scoped>

</style>
