<template>
    <div class="database ml-auto mr-auto">
        <table class="table">
            <thead>
                <tr>
                    <th
                        v-for="(key, index) in columns"
                        :key="index"
                        class="title gray vertical-align-middle"
                        :class="{ active: sortKey == key }"
                        @click="sortBy(key)"
                    >
                        {{ titleColumn[index] }}
                        <span
                            class="arrow"
                            :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"
                        />
                    </th>
                    <th
                        v-if="permission"
                        class="title gray vertical-align-middle"
                    >
                        Редактировать
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(entry, index) in filteredHeroes"
                    :key="index"
                >
                    <td
                        v-for="(key, index) in columns"
                        :key="index"
                        class="vertical-align-middle"
                    >
                        {{ entry[key] }}
                    </td>
                    <td v-if="permission">
                        <div
                            class="col-lg-2 m-auto pb-10 d-flex justify-content-center pt-10"
                        >
                            <i
                                class="btn-fa fa fa-lg fa-pencil-square-o"
                                aria-hidden="true"
                                @click="updateSchedule(entry.id)"
                            />
                            <i
                                class="btn-fa fa fa-lg fa-trash"
                                aria-hidden="true"
                                @click="deleteSchedule(entry.id)"
                            />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'BaseGrid',
    filters: {
        capitalize(str) {
            return str.charAt(0).toUpperCase() + str.slice(1);
        },
    },
    props: {
        propData: Array,
        titleColumn: Array,
        columns: Array,
        filterKey: String,
        permission: {
            type: Boolean,
            default: false,
        },
        updateSchedule: {
            type: Function,
            default: () => {},
        },
        deleteSchedule: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        const sortOrders = {};
        this.columns.forEach((key) => {
            sortOrders[key] = 1;
        });
        return {
            sortKey: '',
            sortOrders,
        };
    },
    computed: {
        filteredHeroes() {
            const { sortKey } = this;
            const filterKey = this.filterKey && this.filterKey.toLowerCase();
            const order = this.sortOrders[sortKey] || 1;
            let { propData } = this;
            //console.log(propData);
            if (filterKey) {
                propData = propData.filter((row) => Object.keys(row).some((key) => String(row[key]).toLowerCase().indexOf(filterKey) > -1)); // eslint-disable-line
            }
            if (sortKey) {
                propData = propData.slice().sort((a, b) => {
                    a = a[sortKey]; // eslint-disable-line
                    b = b[sortKey]; // eslint-disable-line
                    return (a === b ? 0 : a > b ? 1 : -1) * order; // eslint-disable-line
                });
            }
            //console.log(propData);
            return propData;
        },
    },
    methods: {
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1; // eslint-disable-line
        },
    },
};
</script>
