<template>
    <div
        class="container py-5"
    >
        <h2
            class="pb-3"
        >Формирование заявки</h2>
            <orderTable
                title="Курсы и мероприятия системы"
                :basket="basket"
                :orgs="this.edu_organizations"
                :selectedBasket="true"
                @deleteItem="deleteItem"
            />
        <orderTable
            title="Внешние курсы и мероприятия"
            :basket="newOrders"
            :selectedBasket="false"
        />
        <div class="row no-gutters pt-2">
            <div class="col-6">
                <button
                    @click="OrderPopupOpen"
                    class="w-50 p-2 my-2 btn"
                    style="border-radius: 0; color: red"
                >
                    + Добавить
                </button>
            </div>
            <div class="col-6 text-right">
                <button
                    class="w-50 p-2 my-2 btn btn-danger"
                    style="border-radius: 0"
                >
                    Сформировать заявку
                </button>
            </div>
        </div>
        <addOrderPopup
            v-if="addOrderPopupShow"
            @OrderPopupClose="OrderPopupClose"
            @addOrder="addOrder"
        />

        <div class="py-4 row">
            <div class="col-12">
                <button
                    class="w-25 py-2 my-2 btn btn-danger"
                    style="border-radius: 0"
                >
                    Заполнить анкету
                </button>
            </div>
            <div class="col-12">
                <button
                    class="w-25 py-2 my-2 btn btn-danger"
                    style="border-radius: 0"
                >
                    + Добавить документ
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import orderTable from '../makeOrder/orderTable'
import addOrderPopup from '../makeOrder/addOrderPopup'

const basket = createNamespacedHelpers('basket');
const organization = createNamespacedHelpers('organization');

export default {
    components: {
        orderTable,
        addOrderPopup,
    },
    data() {
        return {
            addOrderPopupShow: false,
            newOrders: {
                order: []
            },
        }
    },
    computed: {
        ...organization.mapGetters({
            edu_organizations: 'ORGANIZATIONS',
        }),
        basket() {
            return this.$store.state.basket.basket;
        },
    },
    mounted() {
        this.getEduOrganizations({
            per_page: 9999,
            type: 'EDU',
            page: 1,
        });
        this.getBasket();
    },
    methods: {
        ...organization.mapActions({
            getEduOrganizations: 'GET_ORGANIZATIONS',
        }),
        ...basket.mapActions({
            addToBasket: 'ADD_TO_BASKET',
            deleteFromBasket: 'DELETE_FROM_BASKET',
            getBasket: 'GET_BASKET',
            checkoutAction: 'CHECK_OUT',
        }),
        deleteItem(elem) {
            this.deleteFromBasket({id: elem.id, type: 'courses'})
        },

        OrderPopupOpen () {
            this.addOrderPopupShow = true
        },
        OrderPopupClose () {
            this.addOrderPopupShow = false
        },
        addOrder(name, orgname, type, startdate, finishdate) {
            let item = {
                name: name,
                orgName: orgname,
                type: type,
                startDate: startdate,
                finishDate: finishdate,
            }
            this.newOrders.order.push(Object.assign({}, item))
        },
        async checkout() {
            try {
                await this.checkoutAction({ organization_id: this.checkoutOrganizationId });
                this.makeToast({ variant: 'success', title: 'Заявка', description: 'Заявка успешно сформирована' });
                this.checkoutOrganizationId = 0;
            } catch (e) {
                const errors = Object.values(e.data.errors).flat().reduce((acc, curr) => { return acc + ' ' + curr });
                this.makeToast({ variant: 'danger', title: 'Не удаллось сформировать заявку', description: errors });
            }
        },
    }
}
</script>

<style scoped>
.orderMain {
    padding: 7em 20em
}
h2 {
    color: #000066;
}
</style>
