<template>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        {{ title }}
                    </th>
                    <th>
                        Организация
                    </th>
                    <th>
                        Тип
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(elem, k) in coursesAndEvents"
                >
                    <td>
                        {{elem.name}}
                    </td>
                    <td>
                        {{selectedBasket ? (elem.organization ? elem.organization.name : '') : elem.orgName}}
                    </td>
                    <td>
                        <div v-if="elem.type == 'course'">
                            Курс
                        </div>
                        <div v-else>
                            Мероприятие
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i
                                class="ml-auto btn btn-danger fa fa-trash"
                                @click="selectedBasket ? deleteItem(elem) : deleteNewItem(elem)"
                            />
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</template>

<script>
export default {
    computed: {
        coursesAndEvents: function() {
            if (this.selectedBasket) {
                return { ...this.basket.courses, ...this.basket.events }
            }
            else {
                return this.basket.order
            }
        }
    },
    props: {
        title: {
            type: String,
            default: ''
        },
        basket: {
            type: Object,
            default: {},
        },
        orgs: {
            type: Object,
            default: function() {
                return {}
            },
        },
        selectedBasket: {
            type: Boolean,
            default: false,
        }
    },
    methods: {

        deleteItem(el) {
            this.$emit('deleteItem', el)
        },
    }
}
</script>

