<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ category.id ? 'Редактирование ' : 'Создание ' + 'категории' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="category.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Ключ</label>
                                        <input
                                            v-model="category.tag"
                                            class="form-control"
                                            type="text"
                                        >
                                        <div
                                            v-if="'tag' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.tag"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Организация</label>
                                        <vue-bootstrap-typeahead
                                            v-if="!category.id"
                                            ref="vbtCategoryOrganization"
                                            v-model="search.organization"
                                            :data="organizations"
                                            :serializer="s => s.name"
                                            placeholder="Организация"
                                            @hit="filter.organization = $event"
                                        />
                                        <input
                                            v-else
                                            v-model="category.organization.name"
                                            class="form-control"
                                            disabled
                                            type="text"
                                        >
                                        <div
                                            v-if="'organization_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.organization_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="categories.length !== 'undefined' && categories.length"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Категории</label>
                                        <select
                                            v-model="category.parent_id"
                                            class="form-control"
                                            :class="('parent_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                :value="null"
                                                disabled
                                            >
                                                Выберите родительскую категорию
                                            </option>
                                            <option
                                                v-for="(cat, k) in categories"
                                                :key="k"
                                                :value="cat.id"
                                            >
                                                {{ '(' + cat.tag + ') ' + cat.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'parent_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.parent_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div v-if="typeof categories.length === 'undefined' || !categories.length">
                                        <div class="alert alert-warning">
                                            Нет доступных родительских категорий
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Тип</label>
                                        <select
                                            v-model="category.type"
                                            class="form-control"
                                            :class="('type' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                value=""
                                                disabled
                                            >
                                                Выберите тип
                                            </option>
                                            <option :value="'PUBLIC'">
                                                PUBLIC
                                            </option>
                                            <option :value="'PRIVATE'">
                                                PRIVATE
                                            </option>
                                        </select>
                                        <div
                                            v-if="'type' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.type"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">
                                            Потрядок отображения
                                            <i
                                                class="fa fa-sort-numeric-desc"
                                                aria-hidden="true"
                                            />
                                        </label>
                                        <input
                                            v-model="category.popularity"
                                            class="form-control"
                                            type="text"
                                        >
                                        <div
                                            v-if="'popularity' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.popularity"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20 pl-18">
                                <div class="col-lg-10 m-auto form-group form-check">
                                    <input
                                        v-model="category.show"
                                        type="checkbox"
                                        name="attached"
                                        class="form-check-input"
                                        :class="('show' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <label class="title gray upper form-check-label">Показывать</label>
                                    <div
                                        v-if="'show' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.show"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { defStructCategory } from '@base/inc/defaults/db';

export default {
    name: 'ManageDBCategory',
    components: {
    },
    mixins: [Proccess],
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        category: {
            type: Object,
            default: defStructCategory,
        },
        fnRefreshTable: {
            type: Function,
            default: () => {},
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            categories: [],
            organizations: [],
            filter: {
                organization: {},
                organization_id: 0,
            },
            search: {
                organization: '',
            },
            searched: {
                organization: '',
            },
        };
    },
    computed: {},
    watch: {
        'search.organization': function (val) {
            if (val.length && Math.abs(val.length - this.searched.organization.length) > 2) {
                this.searched.organization = val;
                if (typeof this.filter.organization.id === 'undefined') {
                    this.getOrganizations('local');
                }
            } else if (!val.length) {
                this.searched.organization = '';
                this.filter.organization_id = 0;
                this.filter.organization = {};
            }
        },
        'filter.organization': function (val) {
            if (typeof val.id !== 'undefined') {
                this.filter.organization_id = val.id;
                this.category.organization_id = val.id;
                this.getCategories('local');
            } else {
                this.filter.organization_id = 0;
                this.category.organization_id = 0;
            }
        },
        'category.id': function (val) {
            if (val) {
                this.$refs.vbtCategoryOrganization.inputValue = this.category.organization.name;
                this.filter.organization_id = this.category.organization_id;
                this.filter.organization = this.category.organization;
            }
        },
    },
    created() {},
    mounted() {},
    methods: {
        getOrganizations(loading) {
            const url = '/api/v1/organizations';
            const btn = '';
            const notify = false;

            let params = '?type=VIRO,EDU,EMPLOYER&';
            params += 'show=1&';
            params += 'qty=15&';
            params += 'without_paginate=1&';
            params += `search=${this.searched.organization}`;

            this.showProcessMessage(loading, btn);
            this.$axios.get(url + params, {},
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organizations = response.data.data.organizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getCategories(loading) {
            const url = `/api/v1/organizations/${this.category.organization_id}/struct-categories`;
            const btn = '';
            const notify = false;

            let params = '?show=1';
            if (this.category.id) {
                params += `&exclude_ids=${JSON.stringify([this.category.id])}`;
            }

            this.showProcessMessage(loading, btn);
            this.$axios.get(url + params, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { categories } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.categories = categories;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        submit() {
            if (this.category.id) {
                this.update();
            } else {
                this.create();
            }
        },
        create() {
            const url = `/api/v1/organizations/${this.category.organization_id}/struct-categories`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('name', this.category.name);
            formData.append('tag', this.category.tag);
            formData.append('popularity', this.category.popularity);
            formData.append('show', this.category.show ? 1 : 0);
            formData.append('type', this.category.type);

            if (this.category.parent_id) {
                formData.append('parent_id', this.category.parent_id);
            }

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        update() {
            const url = `/api/v1/organizations/${this.category.organization_id}/struct-categories/${this.category.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'data');

            formData.append('name', this.category.name);
            formData.append('tag', this.category.tag);
            formData.append('popularity', this.category.popularity);
            formData.append('show', this.category.show ? 1 : 0);
            formData.append('type', this.category.type);

            if (this.category.parent_id) {
                formData.append('parent_id', this.category.parent_id);
            }

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.clearMixModal();
            this.clearVbt();
        },
        clearVbt() {
            this.filter.organization_id = 0;
            this.filter.organization = {};
            this.search.organization = '';
            this.searched.organization = '';
            if (typeof this.$refs.vbtCategoryOrganization !== 'undefined') {
                this.$refs.vbtCategoryOrganization.inputValue = '';
            }
        },
    },
};
</script>
