<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ struct.id ? 'Редактирование структуры' : 'Создание струкртуры' }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Организация</label>
                                        <vue-bootstrap-typeahead
                                            v-if="struct.id === 0"
                                            ref="vbtStruct"
                                            v-model="search.organization"
                                            :data="organizations"
                                            :serializer="s => s.name"
                                            placeholder="Организация"
                                            @hit="filter.organization = $event"
                                        />
                                        <input
                                            v-if="struct.id > 0 && typeof organization.id !== 'undefined'"
                                            v-model="organization.name"
                                            class="form-control"
                                            type="text"
                                            :disabled="true"
                                        >
                                        <div
                                            v-if="'organization_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.organization_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="struct.name"
                                            class="form-control"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Тип</label>
                                        <select
                                            v-model="struct.type"
                                            class="form-control"
                                            :class="('type' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                value=""
                                                disabled
                                            >
                                                Выберите тип
                                            </option>
                                            <option :value="'PUBLIC'">
                                                PUBLIC
                                            </option>
                                            <option :value="'PRIVATE'">
                                                PRIVATE
                                            </option>
                                        </select>
                                        <div
                                            v-if="'type' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.type"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-20">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Статус</label>
                                        <select
                                            v-model="struct.status"
                                            class="form-control"
                                            :class="('status' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option :value="'DRAFT'">
                                                DRAFT
                                            </option>
                                            <option :value="'ACTIVE'">
                                                ACTIVE
                                            </option>
                                        </select>
                                        <div
                                            v-if="'status' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.status"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { defStruct } from '@base/inc/defaults/db';

export default {
    name: 'AdminManageStruct',
    props: {
        struct: {
            type: Object,
            default: defStruct,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
        fnRefreshStruct: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            organization: {},
            organizations: [],
            filter: {
                organization: {},
                organization_id: 0,
            },
            search: {
                organization: '',
            },
            searched: {
                organization: '',
            },
            spinner: {
                save: false,
            },
            invalid: {},
            not_success: false,
            success: false,
        };
    },
    computed: {},
    watch: {
        'search.organization': function (val) {
            if (val.length && Math.abs(val.length - this.searched.organization.length) > 2) {
                this.searched.organization = val;
                if (typeof this.filter.organization.id === 'undefined') {
                    this.getOrganizations('local');
                }
            } else if (!val.length) {
                this.searched.organization = '';
                this.filter.organization_id = 0;
                this.filter.organization = {};
            }
        },
        'filter.organization': function (val) {
            if (typeof val.id !== 'undefined') {
                this.filter.organization_id = val.id;
                this.struct.organization_id = val.id;
            } else {
                this.filter.organization_id = 0;
                this.struct.organization_id = 0;
            }
        },
        'struct.organization_id': function (val) {
            if (typeof val === 'number' && val) {
                this.getOrganization('local');
            }
        },
    },
    created() {},
    mounted() {

    },
    methods: {
        getOrganizations(loading) {
            const url = '/api/v1/organizations';

            let params = '?type=VIRO,EDU,EMPLOYER&';
            params += 'show=1&';
            params += 'qty=15&';
            params += 'without_paginate=1&';
            params += `search=${this.searched.organization}`;


            this.$axios.get(url + params, {},
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.organizations = response.data.data.organizations;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        getOrganization(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}`;
            const params = '?without_role=1&without_permission=1';


            this.$axios.get(url + params, {},
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.organization = response.data.data.organization;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        submit() {
            if (typeof this.struct.id === 'number' && this.struct.id) {
                this.updateStruct('local');
            } else {
                this.createStruct('local');
            }
        },
        createStruct(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs`;
            const btn = 'save';
            const formData = new FormData();

            formData.append('name', this.struct.name);
            formData.append('type', this.struct.type);
            formData.append('status', this.struct.status);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn);
                    this.fnRefreshStruct();
                    setTimeout(() => {
                        this.modalHide();
                    }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, error);
                })
                .finally(() => {
                });
        },
        updateStruct(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = 'save';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'update-struct');
            formData.append('name', this.struct.name);
            formData.append('type', this.struct.type);
            formData.append('status', this.struct.status);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn);
                    this.fnRefreshStruct();
                    setTimeout(() => {
                        this.modalHide();
                    }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, error);
                })
                .finally(() => {
                });
        },
        showProcessMessage(loading, btn) {

            this.spinner[btn] = true;
        },
        showSuccessMessage(loading, btn) {

            this.spinner[btn] = false;
            this.success = true;
            this.invalid = {};
            setTimeout(() => { this.success = false; }, 2000);
        },
        showErrorMessage(loading, btn, e) {

            this.spinner[btn] = false;
            if (typeof e.response.status !== 'undefined' && e.response.status === 422) {
                this.invalid = e.response.data.errors;
            }
            this.not_success = true;
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.spinner.save = false;
            this.success = false;
            this.not_success = false;
            this.invalid = {};
            this.clearVbt();
        },
        clearVbt() {
            this.filter.organization_id = 0;
            this.filter.organization = {};
            this.search.organization = '';
            this.searched.organization = '';

            if (this.struct.id === 0) {
                this.$refs.vbtStruct.inputValue = '';
            }
        },
    },
};
</script>

<style scoped>

</style>
