<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ 'Организации ' + struct.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label
                                            class="title gray"
                                        >Организация</label>
                                        <vue-bootstrap-typeahead
                                            ref="vbtStructOrganization"
                                            v-model="search.organization"
                                            :data="organizations"
                                            :serializer="s => s.name"
                                            placeholder="Организация"
                                            @hit="filter.organization = $event"
                                        />
                                        <div
                                            v-if="'organization_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.organization_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- eslint-disable max-len -->
                            <div class="row pt-12">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Прикреплена к организациям</label>
                                    <div v-if="typeof organizationsAttached.length !== 'undefined' && organizationsAttached.length">
                                        <div
                                            v-for="(org, k) in organizationsAttached"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>{{ org.name }}</strong>
                                            <button
                                                type="button"
                                                class="close"
                                                @click="detachOrganization(org.id)"
                                            >
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="typeof organizationsAttached.length === 'undefined' || !organizationsAttached.length">
                                        <div class="alert alert-warning">
                                            Нет прикрепленных организаций
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- eslint-disable max-len -->
                            <div
                                v-if="not_success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-20"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { defStruct } from '@base/inc/defaults/db';
import Proccess from '@base/components/inc/mixin/Proccess.vue';

export default {
    name: 'AdminManageStructOrganization',
    mixins: [Proccess],
    props: {
        struct: {
            type: Object,
            default: defStruct,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
        fnRefreshStruct: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            organization: {},
            organizations: [],
            organizationsAttached: [],
            filter: {
                organization: {},
                organization_id: 0,
            },
            search: {
                organization: '',
            },
            searched: {
                organization: '',
            },
            proccessing: {
                struct: false,
            },
        };
    },
    computed: {},
    watch: {
        'search.organization': function (val) {
            if (val.length && Math.abs(val.length - this.searched.organization.length) > 2) {
                this.searched.organization = val;
                if (typeof this.filter.organization.id === 'undefined') {
                    this.getOrganizations('local');
                }
            } else if (!val.length) {
                this.searched.organization = '';
                this.filter.organization_id = 0;
                this.filter.organization = {};
            }
        },
        'filter.organization': function (val) {
            if (typeof val.id !== 'undefined') {
                this.filter.organization_id = val.id;
            } else {
                this.filter.organization_id = 0;
            }
        },
        'struct.organization_id': function (val) {
            if (typeof val === 'number' && val) {
                this.getOrganization('local');
            }
            this.changeStruct();
        },
        'struct.id': function () {
            this.changeStruct();
        },
    },
    created() {},
    mounted() {

    },
    methods: {
        changeStruct() {
            if ((typeof this.struct.organization_id === 'number' && this.struct.organization_id)
            && (typeof this.struct.id === 'number' && this.struct.id)
            && this.proccessing.struct === false) {
                this.getStruct('local');
            }
        },
        getOrganizations(loading) {
            const url = '/api/v1/organizations';
            const btn = '';
            const notify = false;

            let params = '?type=VIRO,EDU,EMPLOYER&';
            params += 'show=1&';
            params += 'qty=15&';
            params += 'without_paginate=1&';
            params += `search=${this.searched.organization}`;

            this.showProcessMessage(loading, btn);
            this.$axios.get(url + params, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { organizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organizations = organizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getOrganization(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}`;
            const btn = '';
            const notify = false;
            const params = '?without_role=1&without_permission=1';

            this.showProcessMessage(loading, btn);
            this.$axios.get(url + params, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { organization } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organization = organization;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        getStruct(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = '';
            const notify = false;
            const params = '?response_with_attached_organization=1';

            this.proccessing.struct = true;
            this.showProcessMessage(loading, btn);
            this.$axios.get(url + params, { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { attachedOgranizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.organizationsAttached = attachedOgranizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                    this.proccessing.struct = false;
                });
        },
        submit() {
            if (typeof this.filter.organization_id === 'number' && this.filter.organization_id) {
                this.attachOrganization('local');
            }
        },
        attachOrganization(loading) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = 'save';
            const notify = false;
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'attach-to-organization');
            formData.append('organization_id', this.filter.organization_id);
            formData.append('response_with_attached_organization', 1);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { attachedOgranizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshStruct();
                    this.organizationsAttached = attachedOgranizations;
                    this.clearVbt();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        detachOrganization(organizationId) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = '';
            const notify = false;
            const loading = 'global';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'detach-to-organization');
            formData.append('organization_id', organizationId);
            formData.append('response_with_attached_organization', 1);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { attachedOgranizations } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshStruct();
                    this.organizationsAttached = attachedOgranizations;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.organizationsAttached = [];
            this.clearMixModal();
            this.clearVbt();
        },
        clearVbt() {
            this.filter.organization_id = 0;
            this.filter.organization = {};
            this.search.organization = '';
            this.searched.organization = '';
            this.$refs.vbtStructOrganization.inputValue = '';
        },
    },
};
</script>
