<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ 'Категории ' + struct.name }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div
                                        v-if="categories.length !== 'undefined' && categories.length"
                                        class="form-group"
                                    >
                                        <label
                                            class="title gray"
                                        >Категории</label>
                                        <select
                                            v-model="category_id"
                                            class="form-control"
                                            :class="('category_id' in invalid) ? 'is-invalid' : ''"
                                            required
                                        >
                                            <option
                                                :value="0"
                                                disabled
                                            >
                                                Выберите категорию
                                            </option>
                                            <option
                                                v-for="(cat, k) in categories"
                                                :key="k"
                                                :value="cat.id"
                                            >
                                                {{ cat.type.toLowerCase() + ' | ' + cat.name }}
                                            </option>
                                        </select>
                                        <div
                                            v-if="'category_id' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.category_id"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                    <div v-if="typeof categories.length === 'undefined' || !categories.length">
                                        <div class="alert alert-warning">
                                            У структуры нет доступных категорий
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-12">
                                <div class="col-lg-10 m-auto">
                                    <label class="title gray upper">Категории структуры</label>
                                    <div v-if="typeof structCategories.length !== 'undefined' && structCategories.length">
                                        <div
                                            v-for="(cat, k) in structCategories"
                                            :key="k"
                                            class="alert alert-secondary fade show"
                                        >
                                            <strong>
                                                <i
                                                    v-if="cat.type === 'PUBLIC'"
                                                    v-tooltip.top-center="tooltip.category.unlock"
                                                    class="fa fa-unlock pr-10"
                                                    aria-hidden="true"
                                                />
                                                <i
                                                    v-if="cat.type === 'PRIVATE'"
                                                    v-tooltip.top-center="tooltip.category.lock"
                                                    class="fa fa-lock pr-10"
                                                    aria-hidden="true"
                                                />
                                                {{ cat.name }}
                                            </strong>
                                            <button
                                                type="button"
                                                class="close"
                                                @click="detachCategory(cat.id)"
                                            >
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="typeof structCategories.length === 'undefined' || !structCategories.length">
                                        <div class="alert alert-warning">
                                            У структуры нет категорий
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="not_success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-warning alert-dismissible fade show"
                                        role="alert"
                                    >
                                        <strong>Ошибка!</strong>&nbsp;
                                        <span>Данные не обновлены.</span>
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="not_success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div
                                v-if="success"
                                class="row pt-2"
                            >
                                <div class="col-lg-10 m-auto">
                                    <div
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"
                                    >
                                        Данные обновлены.
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="alert"
                                            aria-label="Close"
                                            @click="success = false"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import { defStruct } from '@base/inc/defaults/db';
import Proccess from '@base/components/inc/mixin/Proccess.vue';

export default {
    name: 'AdminManageStructCategory',
    mixins: [Proccess],
    props: {
        struct: {
            type: Object,
            default: defStruct,
        },
        show: {
            type: Boolean,
            default: false,
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
        fnRefreshStruct: {
            type: Function,
            default: () => {},
        },
    },
    data() {
        return {
            tooltip: {
                category: {
                    lock: 'PRIVATE',
                    unlock: 'PUBLIC',
                },
            },
            structCategories: [],
            category_id: 0,
            categories: [],
            proccessing: {
                struct: false,
            },
        };
    },
    computed: {
    },
    watch: {
        'struct.organization_id': function (val) {
            if (typeof val === 'number' && val) {
                this.changeStruct();
            }
        },
        'struct.id': function () {
            this.changeStruct();
        },
    },
    methods: {
        changeStruct() {
            if ((typeof this.struct.organization_id === 'number' && this.struct.organization_id)
            && (typeof this.struct.id === 'number' && this.struct.id)
            && this.proccessing.struct === false) {
                this.structCategories = this.struct.struct_categories;
                this.getCategories();
            }
        },
        getCategories() {
            const url = `/api/v1/organizations/${this.struct.organization_id}/struct-categories`;
            const btn = '';
            const loading = 'local';
            const notify = false;
            const params = {
                show: 1,
                type: 'all',
            };

            this.proccessing.struct = true;
            this.showProcessMessage(loading, btn);
            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { categories } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.categories = categories;
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                    this.proccessing.struct = false;
                });
        },
        attachCategory() {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = 'save';
            const loading = 'local';
            const notify = true;
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'move-to-category');
            formData.append('case_action', 'attach');
            formData.append('category_id', this.category_id);
            formData.append('response_with_struct_category', 1);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { structCategories } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.structCategories = structCategories;
                    this.category_id = 0;
                    this.fnRefreshStruct();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        detachCategory(categoryId) {
            const url = `/api/v1/organizations/${this.struct.organization_id}/structs/${this.struct.id}`;
            const btn = '';
            const loading = 'global';
            const notify = true;
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'move-to-category');
            formData.append('case_action', 'detach');
            formData.append('category_id', categoryId);
            formData.append('response_with_struct_category', 1);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { structCategories } } }) => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.structCategories = structCategories;
                    this.category_id = 0;
                    this.fnRefreshStruct();
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        submit() {
            if (this.category_id) {
                this.attachCategory();
            }
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.clearMixModal();
            this.structCategories = [];
            this.category_id = 0;
        },
    },
};
</script>

<style scoped>

</style>
