<template>
    <div class="head-my">
        <div class="page-head user-info">
            <div class="container">
                <div class="row user-discount">
                    <div class="col-lg-6 pt-32 d-flex flex-wrap user">
                        <div
                            class="user-avatar medium"
                            :style="user.avatar ? `background-image: url(${user.avatar})` : ''"
                        />
                        <div class="user-info d-flex flex-column align-self-center">
                            <div
                                class="fs-32"
                                :style="user.firstname ? '' : 'visibility: hidden;'"
                            >
                                {{ user.firstname + ' ' + user.lastname }}
                            </div>
                            <div class="professions">
                                <!--Элетромонтёр (2 разряд)-->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div>
            <div class="container" v-if="status == 'ok'">
                <div class="user-portfolio" v-if="portfolio == []"></div>
                <div v-if="portfolio.portfolio" class="my-4">
                    <div class="pt-20 overflow-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Описание</th>
                                <th></th>
                                <th width="140px">Дата достижения</th>
                                <th width="160px">Дата загрузки</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, k) in portfolio.items.data">
                                <td>{{ item.id }}</td>
                                <td>{{ item.description }}</td>
                                <td v-if="item.type == 'photo'">
                                    <a v-for="(url, id) in item.photos_original" :href="url" target="_blank">
                                        <img :src="url" height="100px" />
                                    </a>
                                </td>
                                <td v-if="item.type == 'file'">
                                    <a v-for="(file, id) in item.files_original" :href="file.url" target="_blank">
                                        {{ file.name }}
                                    </a>
                                </td>
                                <td v-if="item.type == 'url'">
                                    <a
                                        target="_blank"
                                        :href="item.data.url">
                                        {{ item.data.url }}
                                    </a>
                                </td>
                                <td>{{ item.achievement }}</td>
                                <td>{{ item.updated_at }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row my-2" v-if="portfolio.portfolio">
                    <div class="col-lg-2 d-flex align-items-center">
                        <div class="text-nowrap">На странице</div>
                        <select
                            v-model="qty"
                            class="custom-select ml-20"
                        >
                            <option value="9">
                                9
                            </option>
                            <option value="12">
                                12
                            </option>
                            <option value="15">
                                15
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-8 m-auto">
                        <paginate-cmp
                            :route-name="'me.portfolio'"
                            :route-params="{ page: 2 }"
                            :pagination="pagination"
                        />
                    </div>
                </div>
            </div>
            <div class="container" v-if="status == 'nocreate'">
                <div class="d-flex mt-40 mb-40">
                    <div class="m-auto">
                        <a class="btn btn-create" @click="sendPortfolioRequest">Подать заявку на просмотр портфолио</a>
                    </div>
                </div>
            </div>
            <div class="container" v-if="status == 'created'">
                <div class="d-flex mt-40 mb-40">
                    <h4 class="m-auto">Ваша заявка на расссмотрении!</h4>
                </div>
            </div>
            <div class="container" v-if="status == 'rejected'">
                <div class="d-flex mt-40 mb-40">
                    <h4 class="m-auto">Ваша заявка отклонена!</h4>
                </div>
            </div>
            <div class="container" v-if="status == 'hidden'">
                <div class="d-flex mt-40 mb-40">
                    <h4 class="m-auto">Портфолио скрыто!</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { loadPortfolio, sendPortfolioRequest } from '@base/api/portfolio';
    import PaginateCmp from '@base/components/inc/Paginate.vue';
    import Paginate from '@base/inc/func/Paginate';

    export default {
        name: "PortfolioShow",
        components: {
            PaginateCmp
        },
        props: [],
        data() {
            return {
                status: null,
                user: {},
                portfolio: {},
                pagination: {
                    page: {},
                    page_current: 0,
                    prev: { show: false, page: 0 },
                    next: { show: false, page: 0 },
                },
                page: 1,
                qty: 12,
            }
        },
        watch: {
            $route(to) {
                if (typeof to.params.page !== 'undefined' && to.params.page !== this.page) {
                    this.page = to.params.page;
                } else {
                    this.page = 1;
                }
            }
        },
        mounted() {
            this.loadList();
        },
        methods: {
            sendPortfolioRequest(){
                sendPortfolioRequest(this.$route.params.id)
                .then(() => {
                    location.reload();
                });
            },
            loadList(){
                loadPortfolio({
                    'qty': this.qty,
                    'page': this.page,
                    'id': this.$route.params.id,
                }).then((data) => {
                    if (data.status == 'ok'){
                        this.status = data.status;
                        this.portfolio = data.data;
                        this.user = data.data.user;
                        this.pagination = Paginate.calculate(data.data.items);
                    }else{
                        this.status = data.data.data.status;
                        this.user = data.data.data.user;
                    }
                });
            },
        }
    }
</script>
