<!-- Bashinsky --> 
<template>
    <div
        class="course ml-auto mr-auto"
    >
        <router-link
            :to="{ name: 'org.edu.course.view', params: { course: element.id, program: 1 } }"
        >
            <div
                class="course-head d-flex flex-column"
                :style="(element.preview) ? 'background-image: url(' + element.preview + ')'
                    : 'background-image: url(\'/images/logos/default_logo.svg\')'"
            />
            <div class="course-info">
                <div class="fs-16 pt-12 pb-12">
                    {{ element.name }}
                </div>
                <div>
                    Количество модулей: {{ element.children ? element.children.length : 0 }}
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    props: {
        element: {
            type: Object,
            default: ({}),
        }
    },
    name: 'course',
    data() {
        return {

        }
    }
}
</script>