<template>
    <div>
        <table
            v-if="data.organizations"
            class="table table-bordered"
        >
            <tr>
                <td colspan="2">
                    <b>Организации</b>
                </td>
            </tr>
            <tr>
                <td>
                    Учебных
                </td>
                <td>
                    {{ data.organizations['edu'] }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Пользователи</b>
                </td>
            </tr>
            <tr>
                <td>
                    Всего
                </td>
                <td>
                    {{ data.users['count'] }}
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "AdminStatisticGeneral",
        data() {
            return {
                data: {
                }
            }
        },
        mounted() {
            const formData = {

            };
            this.$axios.get(`/api/v1/admin/statistic`, {params: formData})
                .then((response) => {
                    this.data = response.data.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        }
    }
</script>
