<template>
    <main class="pt-2">
        <div class="container admin-role">
            <a
                v-tooltip.top-center="tooltip.role.add"
                class="btn btn-create mb-10"
                href="javascript:void(0)"
                @click="showManage(0)"
            > Добавить</a>
            <v-server-table
                ref="tableRole"
                url="/api/v1/vue/table"
                :columns="table.columns"
                :options="table.options"
            >
                <div
                    slot="child_row"
                    slot-scope="props"
                >
                    <div class="mb-20">
                        <SuccessError
                            :show="{
                                not_success: not_success.permissions.includes(props.row.id),
                                success: success.permissions.includes(props.row.id),
                            }"
                        />
                    </div>
                    <div class="card">
                        <h5 class="card-header card-header-permission">
                            Права
                            <button
                                :disabled="!allowSave.permissions.includes(props.row.id)"
                                type="button"
                                class="btn btn-red form-group ml-20"
                                @click="syncPermissions(props.row.id)"
                            >
                                <span
                                    v-if="spinner.permissions.save.includes(props.row.id)"
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                />
                                {{ 'Сохранить' }}
                            </button>
                        </h5>
                        <div class="card-body card-body-permission">
                            <div class="form-group">
                                <b-form-checkbox-group
                                    v-model="attachedPermissions[props.row.id]"
                                    :options="permissions.map((perm) => { return {
                                        value: perm.id,
                                        text: perm.label ? perm.label : perm.name,
                                    } })"
                                    switches
                                    stacked
                                    @input="changePermission(props.row.id)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <i
                    slot="h__position"
                    v-tooltip.top-center="tooltip.role.position"
                    class="fa fa-sort-numeric-asc"
                    aria-hidden="true"
                />
                <i
                    slot="h__show"
                    v-tooltip.top-center="tooltip.role.show"
                    class="fa fa-eye"
                    aria-hidden="true"
                />
                <span
                    slot="show"
                    slot-scope="props"
                >
                    <i
                        v-if="props.row.show"
                        v-tooltip.top-center="tooltip.show"
                        class="fa fa-check"
                        aria-hidden="true"
                    />
                    <i
                        v-else
                        v-tooltip.top-center="tooltip.hide"
                        class="fa fa-times"
                        aria-hidden="true"
                    />
                </span>
                <span
                    slot="action"
                    slot-scope="props"
                >
                    <i
                        class="fa fa-pencil pointer"
                        aria-hidden="true"
                        @click="showManage(props.row.id)"
                    />
                </span>
            </v-server-table>
        </div>
        <ManageRole
            :show="showModalManage.role"
            :role="currentRole"
            :fn-modal-hide="hideManage"
            :fn-refresh-table="refreshTable"
        />
    </main>
</template>

<script>
import deepClone from 'clonedeep';
import { BFormCheckboxGroup } from 'bootstrap-vue';
import ManageRole from '@base/components/admin/role/manage/Index';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import { defRole } from '@base/inc/defaults/app';

export default {
    name: 'AdminRole',
    components: {
        ManageRole,
        SuccessError,
        BFormCheckboxGroup,
    },
    data() {
        return {
            tooltip: {
                show: 'Видимая',
                hide: 'Скрытая',
                role: {
                    add: 'Создать новою роль',
                    show: 'Показывать',
                    position: 'Порядок отображения',
                },
            },
            not_success: {
                permissions: [],
            },
            success: {
                permissions: [],
            },
            showModalManage: {
                role: false,
            },
            allowSave: {
                permissions: [],
            },
            spinner: {
                permissions: {
                    save: [],
                },
            },
            attachedPermissions: {},
            permissions: [],
            currentRole: {},
            tableData: [],
            table: {
                columns: ['id', 'name', 'label', 'position', 'show', 'action'],
                options: {
                    headings: {
                        id: 'ID',
                        name: 'Тег',
                        label: 'Название',
                        position: '',
                        show: '',
                        action: '',
                    },
                    sortable: ['id'],
                    filterable: ['name', 'label'],
                    filterByColumn: true,
                    listColumns: {},
                    perPage: 25,
                    orderBy: {
                        ascending: 1,
                        column: 'position',
                    },
                    requestFunction(data) {

                        return this.$axios.post(this.url, {
                            params: data,
                            columns: ['id', 'name', 'label', 'position', 'show', 'action'],
                            relations: ['permissions'],
                            additionally: [],
                            model: 'Role',
                            modelVue: 'VueTable\\WithRelation',
                        }).catch((e) => {
                            this.dispatch('error', e);

                        });
                    },
                    responseAdapter: ({ data: { data: { data, count } } }) => {

                        this.tableData = data;

                        this.attachedPermissions = {};
                        data.forEach((role) => {
                            if (typeof role.permissions.length !== 'undefined' && role.permissions.length) {
                                this.attachedPermissions[role.id] = role.permissions.map((perm) => perm.id);
                            }
                        });

                        return { data, count };
                    },
                },
            },
        };
    },
    computed: {},
    watch: {},
    created() {
        this.currentRole = deepClone(defRole);
    },
    mounted() {
        this.getPermissions();
    },
    methods: {
        getPermissions() {
            const url = '/api/v1/permission';
            const loading = 'local';
            const params = {
                without_paginate: 1,
                without_limit: 1,
            };


            this.$axios.get(url, { params, headers: { 'Content-Type': 'multipart/form-data' } })
                .then(({ data: { data: { permissions } } }) => {

                    this.permissions = permissions;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        changePermission(roleId) {
            if (!this.allowSave.permissions.includes(roleId)) {
                this.allowSave.permissions.push(roleId);
            }
        },
        syncPermissions(roleId) {
            if (typeof this.attachedPermissions[roleId] !== 'undefined') {
                const url = `/api/v1/role/${roleId}`;
                const loading = 'local';
                const formData = new FormData();

                formData.append('_method', 'patch');
                formData.append('action', 'sync-permissions');

                this.attachedPermissions[roleId].forEach((permissionId, index) => {
                    formData.append(`permission_ids[${index}]`, permissionId);
                });

                this.messageErrorPermission(false, roleId);
                this.btnProcessPermission(true, roleId);

                this.$axios.post(url, formData,
                    { headers: { 'Content-Type': 'multipart/form-data' } })
                    .then(() => {
                        this.messageSuccessPermission(true, roleId);
                        this.btnProcessPermission(false, roleId);


                        setTimeout(() => {
                            this.messageSuccessPermission(false, roleId);
                        }, 3000);
                    })
                    .catch(() => {
                        this.messageErrorPermission(true, roleId);
                        this.btnProcessPermission(false, roleId);

                    })
                    .finally(() => {
                    });
            }
        },
        messageSuccessPermission(show, roleId) {
            const visible = this.success.permissions.includes(roleId);
            if (show) {
                if (!visible) {
                    this.success.permissions.push(roleId);
                }
            } else if (visible) {
                this.success.permissions.pop(roleId);
            }
        },
        messageErrorPermission(show, roleId) {
            const visible = this.not_success.permissions.includes(roleId);
            if (show) {
                if (!visible) {
                    this.not_success.permissions.push(roleId);
                }
            } else if (visible) {
                this.not_success.permissions.pop(roleId);
            }
        },
        btnProcessPermission(show, roleId) {
            const process = this.spinner.permissions.save.includes(roleId);
            if (show) {
                if (!process) {
                    this.spinner.permissions.save.push(roleId);
                }
            } else if (process) {
                this.spinner.permissions.save.pop(roleId);
            }
        },
        refreshTable() {
            this.$refs.tableRole.refresh();
        },
        hideManage() {
            this.showModalManage.role = false;
            this.currentRole = deepClone(defRole);
        },
        showManage(roleId) {
            if (roleId) {
                const rowData = this.tableData.find((item) => item.id === roleId);
                if (rowData) {
                    this.currentRole = deepClone(rowData);
                    this.showModalManage.role = true;
                }
            } else {
                this.currentRole = deepClone(defRole);
                this.showModalManage.role = true;
            }
        },
    },
};
</script>

<style scoped>

</style>
