<template>
    <div class="container">
        <CourseHeader
            :course="course"
            :lessons="lessons"
            :program="program"
            :organization="organization"
            :permissions="permissions"
            :program_selected="program_selected"
        />
        <div class="course-modules">
            <div class="title gray upper center fs-18 mt-40 mb-32">
                Программа дисциплины
            </div>
            <div class="ml-sm-auto py-3 d-flex align-items-center justify-content-center mb-10">
                <a
                    v-if="permissions.moderation_org_prog_courses"
                    class="btn btn-create"
                    @click="showModalDiscipline({ 'add': $route.params.course })"
                >Добавить модуль</a>
            </div>
            <div
                v-if="course !== null"
                class="modules"
            >
                <div v-if="disciplines !== null">
                    <div
                        v-for="(modul, mk) in disciplines"
                        :key="mk"
                        class="module"
                    >
                        <div class="module-head row align-items-center">
                            <div class="col-lg-8 pb-10">
                                <span class="fs-24 title gray">{{ modul.name }}</span>
                            </div>
                            <div class="col-lg-2 pb-10 module-success">
                                <!--<img src="/images/check-mark.svg">Пройден-->
                            </div>

                            <div class="col-lg-2 pb-10 d-flex align-items-center">
                                <div class="ml-auto">
                                    <a
                                        v-if="permissions.moderation_org_prog_courses"
                                        id="navbarDropdown"
                                        data-toggle="dropdown"
                                        class="btn btn-more"
                                        href="#"
                                    />
                                    <div
                                        v-if="permissions.moderation_org_prog_courses"
                                        aria-labelledby="navbarDropdown"
                                        class="dropdown-menu dropdown-menu-right"
                                    >
                                        <a
                                            class="dropdown-item"
                                            @click="showModalDiscipline({ 'update': modul.id })"
                                        >Редактировать модуль</a>
                                        <a
                                            v-if="permissions.moderation_org_prog_courses"
                                            class="dropdown-item"
                                            @click="deleteDiscipline(modul.id)"
                                        >Удалить модуль</a>
                                    </div>
                                </div>

                                <div>
                                    <a
                                        class="title gray lessons-hide"
                                        data-hide="Свернуть"
                                        data-show="Развернуть"
                                        style="display: none"
                                    >Свернуть</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div
                                v-if="lessons"
                                class="lessons active"
                            >
                                <div
                                    v-for="(lesson, lk) in lessons.filter(el => el.course_id === modul.id)"
                                    :key="lk"
                                    class="lesson"
                                >
                                    <div class="row no-gutters">
                                        <div
                                            class="col-lg-12 fs-18 d-flex align-items-center"
                                            v-if="!permissions.moderation_org_prog_courses"
                                        >
                                            <div>
                                                Занятие: <b>{{ lesson.name }}</b>
                                            </div>
                                            <div
                                                v-if="haveScore(modul.id, lesson.id)"
                                                class="ml-auto"
                                            >
                                                <div

                                                    v-if="scores[modul.id][lesson.id][0].presence === 'п'"
                                                >
                                                    <img src="/images/check-mark.svg">
                                                    <span>Присутствовал</span>
                                                </div>
                                                <div
                                                    v-else-if="scores[modul.id][lesson.id][0].presence === 'о'"
                                                >
                                                    <img src="/images/icons/delete.svg">
                                                    <span>Отсутствовал</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div
                                            class="col-lg-11 col-md-10 fs-18"
                                            v-else
                                        >
                                            Занятие: <b>{{ lesson.name }}</b>
                                        </div>
                                        <div
                                            class="col-lg-1 col-md-2 d-flex"
                                            v-if="permissions.moderation_org_prog_courses"
                                        >

                                            <!--
                                            <div class="fs-14 lesson-date">
                                               15 ноября 2019  в 10:00
                                            </div>-->
                                            <div class="ml-auto">
                                                <a
                                                    id="navbarDropdown"
                                                    data-toggle="dropdown"
                                                    class="btn btn-more"
                                                    href="#"
                                                />
                                                <div
                                                    v-if="permissions.moderation_lessons"
                                                    aria-labelledby="navbarDropdown"
                                                    class="dropdown-menu dropdown-menu-right"
                                                >
                                                    <a
                                                        class="dropdown-item title pointer"
                                                        @click="showModalLesson({ 'update': lesson.id})"
                                                    >Редактировать занятие</a>
                                                    <a
                                                        class="dropdown-item title pointer"
                                                        @click="showModalTask({ lessonId: lesson.id, taskId: 0 })"
                                                    >Добавить задание</a>
                                                    <a
                                                        class="dropdown-item title pointer"
                                                        @click="showModalElement(lesson.id)"
                                                    >Добавить элемент</a>
                                                    <a
                                                        class="dropdown-item title pointer"
                                                        @click="deleteLesson(lesson.id)"
                                                    >Удалить</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            Количество часов: {{ lesson.couples_count }}
                                        </div>
                                    </div>
                                    <div
                                        v-if="program_selected || permissions.moderation_lessons"
                                        class="mt-40 lesson-info row"
                                    >
                                        <!-- eslint-disable -->

                                        <div
                                            class="col-lg-3 row"

                                        >
                                            <div
                                                v-for="(teacher, tk) in teachers.filter(el => el.lesson_id === lesson.id)"
                                                :key="tk"
                                                class="col-lg-12 lesson-teacher pb-10"
                                            >
                                                <div class="d-flex align-items-center">
                                                    <div
                                                        class="teacher-avatar "
                                                        :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                                                        : 'background-image: url(/images/user_avatar.svg)'"
                                                    />
                                                    <div>
                                                        {{ teacher.firstname + ' ' + teacher.lastname }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-7  align-content-start lesson-content row no-gutters">
                                            <!-- <div v-for="(el, ek) in lesson.elements" -->
                                            <div
                                                v-for="(el, ek) in lesson.elements"
                                                :key="ek"
                                            >
                                                <div
                                                    class="lesson-item"
                                                    :class="`lesson-`+el.type.system_name"
                                                >
                                                    <a v-if="el.type.system_name == 'hyperlink'" target="_blank" :href="el.value">
                                                        {{ el.name }}
                                                    </a>
                                                    <a v-else-if="el.type.system_name == 'file'" target="_blank" :href="el.content">
                                                        {{ el.name }}
                                                    </a>
                                                    <a v-else-if="el.type.system_name == 'image'" target="_blank" :href="el.content">
                                                        {{ el.name }}
                                                    </a>
                                                    <a v-else-if="el.type.system_name == 'page'" class="title blue pointer" @click="showModalElementHtmlPage(el)">
                                                        {{ el.name }}
                                                    </a>
                                                    <router-link
                                                        v-else-if="el.type.system_name == 'test' && el.content"
                                                        :to="{ name: 'org.edu.course.test', params: { test_id: el.content.id, course_id: course_id }}"
                                                    >
                                                        {{ el.name }}
                                                    </router-link>

                                                    <router-link
                                                        v-else-if="el.type.system_name == 'task' && el.content"
                                                        :to="{ name: 'org.edu.course.task', params: { task_id: el.content.id }}"
                                                    >
                                                        {{ el.name }}
                                                    </router-link>
                                                    <i
                                                        v-if="permissions.moderation_org_prog_courses"
                                                        class="fa fa-trash-o pointer"
                                                        aria-hidden="true"
                                                        @click="deleteElement({ element_id: el.id, lesson_id: lesson.id})"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 align-items-center ml-auto">
                                            <div class="d-flex justify-content-end align-items-center lesson-test-result ml-auto score" v-if="haveScore(modul.id, lesson.id)">
                                                <div
                                                    v-if="scores[modul.id][lesson.id][0].scores.length > 0"
                                                    v-for="score in scores[modul.id][lesson.id][0].scores"
                                                    class="score__rating fs-20 mr-5"
                                                    :class="'score__rating--' + scoreStyle(score)"
                                                >
                                                    {{ score }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <EduAddTask
                                        :lesson="lesson"
                                    />
                                </div>
                            </div>
                        </div>
                        <div
                            v-if="permissions.moderation_lessons"
                            class="add-lesson py-4 d-flex justify-content-center"
                        >
                            <div>
                                <a
                                    class="btn btn-create"
                                    @click="showModalLesson({ 'add': modul.id })"
                                >Добавить занятие</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <EduManageDiscipline
                :program_id="parseInt($route.params.id_program)"
            />
            <EduManageLesson />
            <EduManageElement
                v-if="visibleElement"
                @closePopup="closeElement"
                :lessonId = "lessonId"
            />
            <EduManageElementHtmlPage
                v-if="visibleElementHtmlPage"
                :element="element"
                @closePopup="closeElementHtmlPage"
            />
        </div>
    </div>

</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';

import EduManageDiscipline from '@base/components/course/manage/Discipline';
import EduManageLesson from '@base/components/course/manage/Lesson';
import EduAddTask from '@base/components/course/manage/Task';
import EduManageElement from '@base/components/course/manage/Element';
import EduManageElementHtmlPage from '@base/components/course/manage/ElementHtmlPage';
import { getGradeBook } from '@base/api/gradebook';
import mixScore from '@base/components/course/gradebook/mixScore';
import CourseHeader from '@base/components/course/Header';

const programs = createNamespacedHelpers('programs');
const courses = createNamespacedHelpers('courses');
const disciplines = createNamespacedHelpers('disciplines');
const organization = createNamespacedHelpers('organization');
const lessons = createNamespacedHelpers('lessons');
const lessonTask = createNamespacedHelpers('lessonTask');

export default {
    name: 'OrgEduViewContent',
    mixins: [mixScore],
    components: {
        EduManageDiscipline,
        EduManageLesson,
        EduAddTask,
        EduManageElement,
        EduManageElementHtmlPage,
        CourseHeader
    },
    data() {
        return {
            visibleElement: false,
            visibleElementHtmlPage: false,
            visibleElementTaskPopup: false,
            lesson_id: 0,
        };
    },
    computed: {
        ...mapGetters({
            auth: 'auth',
        }),
        ...programs.mapGetters({
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...courses.mapGetters({
            course: 'COURSE_DETAIL',
        }),
        ...organization.mapGetters({
            organization: 'ORGANIZATION',
            permissions: 'PERMISSIONS',
        }),
        ...lessons.mapGetters({
            lessons: 'LESSONS',
            scores: 'SCORES',
            teachers: 'TEACHERS',
            elementsLesson: 'ELEMENTS_LESSON',
        }),
        ...disciplines.mapGetters({
            disciplines: 'DISCIPLINES',
        }),
        course_id() {
            return Number(this.$route.params.course);
        },
    },
    watch: {
        scores(val) {
            this.gradeBook = val;
        }
    },
    async created() {
        this.getDisciplines(this.$route.params.course)
            .then((response) => {
                const disciplinesId = response.map(el => el.id);
                this.getLessons(disciplinesId);
                this.getScores(disciplinesId);
            });
        this.getProgram({ id: this.$route.params.id_program });
    },
    methods: {
        ...programs.mapActions({
            getProgram: 'GET_PROGRAM',
        }),
        ...disciplines.mapActions({
            showModalDiscipline: 'SHOW_MODAL',
            deleteDiscipline: 'DELETE_DISCIPLINE',
            getDisciplines: 'GET_DISCIPLINES_WITH_COURSES',
        }),
        ...lessons.mapActions({
            deleteElement: 'DELETE_ELEMENT',
            showModalLesson: 'SHOW_MODAL',
            getLessons: 'GET_LESSONS_WITH_DISCIPLINE',
            getScores: 'GET_SCORES',
            deleteLesson: 'DELETE_LESSON',
        }),
        ...lessonTask.mapActions({
            showModalTask: 'MODAL_SHOW',
        }),
        closeElement() {
            this.visibleElement = false;
            this.lessonId = 0;
        },
        showModalElement(id) {
            this.visibleElement = true;
            this.lessonId = id;
        },
        showModalElementHtmlPage(element) {
            this.visibleElementHtmlPage = true;
            this.element = element;
        },
        closeElementHtmlPage() {
            this.visibleElementHtmlPage = false;
            this.lessonId = 0;
        },
        showElementTaskPopup(element) {
            this.visibleElementTaskPopup = true;
            this.element = element;
        },
        closeElementTaskPopup() {
            this.visibleElementTaskPopup = false;
        },
        haveScore(modulId, lessonId) {
            return (this.scores[modulId] && this.scores[modulId][lessonId]);
        }
    },
};
</script>
