<template>
    <div class="course-info">
        <div class="row align-items-center">
            <div class="col-lg-4 pb-2 ">
                <span class="fs-16 title gray upper">О дисциплине:</span>
            </div>

            <div class="col-lg-4 pb-2 d-flex">
                <div class="m-auto">
                    <span class="title gray">Модулей: </span>
                    <b class="pr-2">
                        {{ (course && course.sub_courses) ? course.sub_courses.length : 0 }}
                    </b>
                    <span class="title gray">Занятий: </span>
                    <b class="pr-2">
                        {{ (lessons) ? lessons.length : 0 }}
                    </b>
                    <span class="title gray">Часов: </span>
                    <b>
                        {{ hours }}
                    </b>
                </div>
            </div>
            <div class="col-lg-4 pb-2 d-flex align-items-center">
                <!--<div class="ml-lg-auto">
                    <span class="title gray">Компетенций: </span><b class="pr-32">5</b>
                    <a
                        class="btn"
                        href="#"
                    >Смотреть все</a>
                </div>-->

                <div
                    v-if="permissions.moderation_org_prog_courses || permissions.checker_org_prog_courses"
                    class="ml-auto "
                >
                    <a
                        class="btn btn-edit"
                        @click="showModal({id: program.id })"
                    >Редактировать</a>
                </div>
            </div>
        </div>

        <div class="additional-course-information show">
            <div class="edu-info row no-gutters">
                <div
                    class="logo"
                    :style="organization ? 'background-image: url(\''+organization.logo+'\')'
                                        : 'background-image: url(/images/logos/default_logo.svg)'"
                />
                <div class="d-flex flex-column align-self-center">
                    <div class="fs-16 ">
                        <a
                            class="title black"
                        >{{ organization ? organization.name : '' }}</a>
                    </div>
                    <div class="fs-14 title gray">
                        Организация
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="courseTeachers && courseTeachers.length"
            class="teachers pb-30"
        >
            <div class="teacher title gray">
                Преподаватели:
            </div>
            <div class="row no-gutters">
                <div
                    v-for="(teacher, id) in courseTeachers"
                    :key="id"
                    class="teacher d-flex pb-2"
                >
                    <div
                        class="teacher-avatar"
                        :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                            : 'background-image: url(\'/images/user_avatar.svg\')'"
                    />
                    <div class="d-flex align-self-center">
                        <div class="fs-16 align-self-center pr-2">
                            {{ teacher.firstname + " " + teacher.lastname }}
                        </div>
                        <div>
                            <a
                                v-if="program_selected && auth"
                                :href="`/chats/start/`+teacher.id"
                                class="btn"
                            >
                                <img src="/images/icons/comment.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <nav
            class="nav  red flex-row flex-nowrap justify-content-xxl-center"
        >
            <li
                v-if="permissions.moderation_org_prog || permissions.moderation_org_prog_main"
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="$route.name === 'org.edu.program.course.view' ? 'active' : ''"
                    :to="{ name: 'org.edu.program.course.view', params: { program: parseInt($route.params.id_program)} }"
                >
                    Программа дисциплины
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    v-if="permissions.moderation_gradebooks"
                    class="nav-link"
                    :to="{ name: 'org.edu.course.gradebooklist' }"

                >
                    Журнал
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    v-if="permissions.moderation_org_prog"
                    class="nav-link"
                    :class="[($route.name === 'org.edu.course.bank-question') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.edu.course.bank-question'}"

                >
                    Банк вопросов
                </router-link>
            </li>
        </nav>
        <EduManageCourse
            :program_id="parseInt($route.params.id_program)"
            :program="program"
            :course_id="course.id"
            :course_prop="course"
        />
    </div>
</template>

<script>
    import {createNamespacedHelpers, mapGetters} from "vuex";
    import EduManageCourse from '@base/components/program/manage/Course';

    const courses = createNamespacedHelpers('courses');
    const organization = createNamespacedHelpers('organization');

    export default {
        name: "CourseHeader",
        components: {
            EduManageCourse,
        },
        data() {
            return {
                show: false,
                hours: 0
            }
        },
        props:{
            program: {},
            course: {},
            organization: {},
            lessons: {},
            permissions: {},
            program_selected: {}
        },
        watch:{
            lessons(val) {
                if (val) {
                    let count = 0;
                    val.forEach((element) => {
                        count += parseInt(element.couples_count, 10);
                    });
                    this.hours = count;
                }
            },
        },
        methods:{
            // showModal(){
            //     this.show = true;
            // },
            ...courses.mapActions({
                showModal: 'SHOW_MODAL',
            }),
        },
        computed: {
            ...mapGetters([
                'auth',
            ]),
            ...courses.mapGetters({
                courseTeachers: 'COURSE_TEACHERS',
            }),
        }
    }
</script>
