<template>
    <div>
        <div
            v-if="$route.name.indexOf('org.edu.course.test')"
            class="head-course"
            :style="(course && course.preview !== null) ? 'background-image: url(' + course.preview + ')'
                : ''"
        >
            <div
                class="page-head course-info"
            >
                <div
                    class="container pt-24 pb-30"
                >
                    <div class="row no-gutters">
                        <div class="">
                            <div class="title gray">
                                Программа
                            </div>
                            <div class="title white fs-32 fs-sm">
                                <router-link
                                    v-if="program"
                                    :to="{
                                        name: 'org.edu.programview',
                                        params: { id_program: program.id, id: program.organization_id, page: 1 }
                                    }"
                                    class="title white"
                                >
                                    {{ program ? program.name : '' }}
                                </router-link>
                            </div>

                            <div class="title gray">
                                Дисциплина
                            </div>
                            <div class="title white fs-24 fs-sm">
                                <router-link
                                    v-if="course && program"
                                    :to="{
                                        name: 'org.edu.program.course.view',
                                        params: { id_program: program.id, id: program.organization_id, course: course.id}
                                    }"
                                    class="title white"
                                >
                                    {{ course ? course.name : '' }}
                                </router-link>
                            </div>
                        </div>
                        <div
                            class="ml-sm-auto d-flex flex-wrap align-content-center course-completed"
                            style="display: none !important;"
                        >
                            <span class="title gray">Завершено</span>

                            <div class="course-completed-area title white fs-16 align-content-center">
                                <svg
                                    width="60"
                                    height="60"
                                    viewBox="0 0 60 60"
                                    class="progress-area"
                                >
                                    <circle
                                        cx="30"
                                        cy="30"
                                        r="29"
                                        stroke-width="2"
                                        class="progress__meter"
                                    />
                                    <circle
                                        cx="-30"
                                        cy="30"
                                        r="29"
                                        stroke-width="2"
                                        data-max-dashoffset="339.292"
                                        class="progress__value progress__value_15"
                                        style="stroke-dasharray: 339.292; stroke-dashoffset: 339.292;"
                                    />
                                    <text
                                        x="50%"
                                        y="50%"
                                        text-anchor="middle"
                                        dy=".3em"
                                        class="progres__value"
                                    >15%</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main class="course">

                <div class="course-content">
                    <router-view
                        :permission="permissions"
                    />
                </div>

        </main>
    </div>
</template>

<script>
import { createNamespacedHelpers, mapGetters } from 'vuex';
import CourseViewContent from '@base/components/program/course/Content';

const programs = createNamespacedHelpers('programs');
const courses = createNamespacedHelpers('courses');
const organization = createNamespacedHelpers('organization');
const lessons = createNamespacedHelpers('lessons');

export default {
    name: 'OrgEduViewCourse',
    components: {
        CourseViewContent,
    },
    data() {
        return {
            show: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        ...programs.mapGetters({
            program: 'PROGRAM',
            program_selected: 'PROGRAM_SELECTED',
            teachers: 'TEACHERS',
        }),
        ...courses.mapGetters({
            course: 'COURSE_DETAIL',
            courseTeachers: 'COURSE_TEACHERS',
        }),
        ...organization.mapGetters({
            organization: 'ORGANIZATION',
            permissions: 'PERMISSIONS',
        }),
        ...lessons.mapGetters({
            lessons: 'LESSONS',
        }),
        course_id() {
            return Number(this.$route.params.course);
        },
    },
    watch: {
        course(val) {
            this.getOrganization({ id: val.organization_id });
        },
    },
    created() {
        this.getCourseDetail({ id: this.$route.params.course });
        this.getProgram({ id: this.$route.params.id_program });
    },
    mounted() {

    },
    methods: {
        ...programs.mapActions({
            getProgram: 'GET_PROGRAM',
            showAddProgram: 'SHOW_MODAL',
        }),
        ...courses.mapActions({
            getCourseDetail: 'GET_COURSE_DETAIL',
        }),
        ...organization.mapActions({
            getOrganization: 'GET_ORGANIZATION',
        }),
    },
};
</script>
