<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Обновить настройки
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="preModalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Название</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        v-model="test.name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Количество попыток</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        v-model="test.quiz.params.count_attempts"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Время прохождения теста</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        v-model="test.quiz.lead_time"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Проходной балл</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        v-model="test.quiz.passing_score"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Просматривать подробный отчет об ошибках</label>
                                    <input
                                        class="custom-checkbox"
                                        type="checkbox"
                                        v-model="test.quiz.params.see_result_questions"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Изменять ответы в процессе выполнения</label>
                                    <input
                                        class="custom-checkbox"
                                        type="checkbox"
                                        v-model="test.quiz.params.change_answers"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Дата начала теста</label>

                                    <datetime
                                        format="YYYY-MM-DD H:i"
                                        v-model="test.quiz.start_time_availability"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6" v-if="test.quiz">
                                <div class="form-group">
                                    <label>Дата окончания теста</label>

                                    <datetime
                                        format="YYYY-MM-DD H:i"
                                        v-model="test.quiz.end_time_availability"
                                    />
                                </div>
                            </div>


                            <div class="col-lg-12" v-if="errors">
                                <div
                                    class="alert alert-danger mb-5" role="alert"
                                    v-for="error in errors"
                                >
                                    <div
                                        v-for="e in error"
                                    >
                                        {{ e }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex">
                                <a
                                    @click="updateTest"
                                    class="m-auto btn btn-red"
                                >
                                    Сохранить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import datetime from '@base/components/base/datetime-picker';

    export default {
        name: "testUpdate",
        components:{
            datetime
        },
        props: {
            show: {
                type: Boolean,
                default: false
            },
            test: {
                type: Object,
                default: {
                    name: "",
                    quiz: {
                        lead_time: 0,
                        passing_score: 1,
                        start_time_availability: null,
                        end_time_availability: null,
                        params: {
                            count_attempts: 0,
                            change_answers: false,
                            see_result_questions: false
                        }
                    }
                }
            }
        },
        data() {
            return {
                errors: {

                }
            }
        },
        computed:{
            end_time_availability: {
                get: function() {
                    return new Date(this.test.quiz.end_time_availability).toISOString().substring(0, 16);
                },
                set: function(value) {
                    this.test.quiz.end_time_availability = value;
                }
            }
        },
        methods: {
            updateTest(){
                update(this.test.quiz.id, {
                    'name': this.test.name,
                    'end_time_availability': this.test.quiz.end_time_availability,
                    'lead_time': this.test.quiz.lead_time,
                    'passing_score': this.test.quiz.passing_score,

                    'count_attempts': this.test.quiz.params.count_attempts,
                    'change_answers': this.test.quiz.params.change_answers,
                    'see_result_questions': this.test.quiz.params.see_result_questions ? 1 : 0,
                    'protected': 0,
                }).then((response) => {
                    if (response.status == 200){
                        this.preModalHide(true);
                    }else{
                        this.errors = response.data.errors;
                    }
                });
            },
            preModalHide(update = false) {
                this.errors = {};
                this.$emit('closePopup', {'update': update});
            },
        }
    }
</script>

<style scoped>

</style>
