<template>
    <popup :caption="'Пароль на тест'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="form-group">
                        <label>Пароль</label>
                        <input
                            class="form-control"
                            type="password"
                            v-model="password"
                        />
                    </div>
                </div>
                            <!--<div class="col-lg-12" v-if="errors">
                                <div
                                    class="alert alert-danger mb-5" role="alert"
                                    v-for="error in errors"
                                >
                                    <div
                                        v-for="e in error"
                                    >
                                        {{ e }}
                                    </div>
                                </div>
                            </div>-->
                        </div>
        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="start(password)">
                Начать тест
            </button>
        </template>
    </popup>
</template>

<script>
import Popup from '@base/components/base/Popup';

export default {
    name: 'testPasswordPopup',
    components: {
        Popup,
    },
    data() {
        return {
            password: '',
        }
    },
    methods: {
        start(password) {
            this.$emit('start', { password: this.password });
        },
        closePopup() {
            this.$emit('closePopup');
        },
    },

}
</script>