<template>
    <popup
        :caption="row.description"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div>
                <div v-if="row.type == 'integer'">
                    <input
                        class="form-control"
                        type="number"
                        v-model="row.value"
                    />
                </div>
                <div v-if="row.type == 'string'">
                    <input
                        class="form-control"
                        type="text"
                        v-model="row.value"
                    />
                </div>
                <div v-if="row.type == 'html'">
                    <htmlEditor
                        :content.sync="row.value"
                    />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a class="btn btn-success" @click="save">Сохранить</a>
        </template>
    </popup>
</template>

<script>
    import popup from '@base/components/base/Popup'
    import htmlEditor from '@base/components/base/vueEditor';

    export default {
        name: 'EditSettingsPopup',
        components: {
            popup,
            htmlEditor
        },
        props: {
            row: {
                type: Object,
                default: {
                    description: ''
                }
            }
        },
        methods: {
            closePopup() {
                this.$emit('closePopup')
            },
            save(){
                axios.post('/api/v1/admin/settings/' + this.row.id, {
                    _method: "PATCH",
                    value: this.row.value
                })
                    .then((response) => {

                    });
            }
        }
    };
</script>

<style scoped>

</style>
