<template>
    <div class="container my-3">
        <div class="row">
            <div>
                <a
                    class="btn"
                    @click="showCategoriesPopup"
                >
                    Категория: {{ bank_select.name }} <img src="/images/icons/drop_down.svg">
                </a>
            </div>
            <div class="ml-auto">
                <a
                    class="btn"
                    @click="visibleQuestionPopup = true"
                >
                    Создать вопрос
                </a>
            </div>
        </div>
        <div class="row py-2">
            <table
                class="table"
            >
                <thead>
                <tr>
                    <td>#</td>
                    <td>Название вопроса</td>
                    <td>Тип</td>
                    <td></td>
                </tr>
                </thead>
                <tr
                    v-for="(question, id) in questions"
                    :key="id"
                >
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.question_type.name }}</td>
                    <td>
                        <a
                            class="btn"
                            v-if="question.can_deletable"
                            @click="deleteQuestion(question.id)"
                        >
                            Удалить
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row py-2">
            <b-pagination
                v-model.lazy="currentPage"
                :total-rows="pagination.total"
                :per-page="pagination.perPage"
                aria-controls="my-table"
                class="m-auto"
            ></b-pagination>
        </div>
        <question-popup
            v-if="visibleQuestionPopup"
            :question="question"
            :bank_id="bank_select.id"
            :treeBankObject="bankQuestion"
            @closePopup="closeQuestionPopup"
        />
        <categories-popup
            :show="visibleCategoriesPopup"
            :bankCategory="bankQuestion"
            :category_id="bank_id"
            @closePopup="closeCategoriesPopup"
            @selectedId="selectedId"
            @createdTreeEl="createdTreeEl"
        />
    </div>
</template>

<script>

    import { getListQuestions } from '@base/api/bank-question/question.js'
    import { getListBank } from '@base/api/bank-question/bank.js'
    import QuestionPopup from '@base/components/course/bank-question/QuestionPopup';
    import CategoriesPopup from './manage/CategoriesPopup';

    export default {
        name: 'AdminQuestionBankIndex',
        data() {
            return {
                visibleCategoriesPopup: false,
                bankQuestion: {

                },
                question: null,
                visibleQuestionPopup: false,
                category: null,
                questions: [],
                pagination: {
                    currentPage: 1,
                    total: 0,
                    perPage: 1
                },
                bank_id: 6,
                bank_select: {
                    id: null,
                    name: null
                },
                currentPage: 1,
            }
        },
        components: {
            CategoriesPopup,
            QuestionPopup,
        },
        created() {
            getListBank({
                id: this.bank_id,
                'with[]': 'tree-childs'
            }).then((data) => {
                this.bank_select = data[0];
                this.bankQuestion = data[0];
                this.getQuestionList();
            })
        },
        watch: {
            currentPage(val) {
                this.getQuestionList();
            }
        },
        methods: {
            createdTreeEl(){
                getListBank({
                    id: this.bank_id,
                    'with[]': 'tree-childs'
                }).then((data) => {
                    this.bank_select = data[0];
                    this.bankQuestion = data[0];
                    this.getQuestionList();
                })
            },
            selectedId(item){

                this.bank_select = item;

                this.getQuestionList();
            },
            showCategoriesPopup(){
                this.visibleCategoriesPopup = true;
            },
            closeCategoriesPopup(){
                this.visibleCategoriesPopup = false;
            },
            getQuestionList(){
                getListQuestions({
                    bank_id: this.bank_select.id,
                    paginated: 1,
                    page: this.currentPage,
                    qty: 15,
                }).then((response) => {
                    this.questions = response.questions.data;
                    this.pagination.total = response.questions.total;
                    this.$set(this.pagination, 'perPage', Number(response.questions.per_page));
                })
            },

            closeQuestionPopup() {
                this.visibleQuestionPopup = false;
                this.getQuestionList();
            },
        }
    };
</script>
