<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
export default {
    name: 'AdminQuestionBankNav',
    components: {
        NavTab
    },
    data() {
        return {
            routes: [
                { name: 'admin.question_bank.questions', description: 'Вопросы', visible: true },
                { name: 'admin.question_bank.categories', description: 'Категории', visible: true },
            ]
        };
    },
};
</script>
