<template>
    <div class="container">
        <div class="row">
            <div>
                <a
                    class="btn"
                    @click="showCategoriesPopup"
                >
                    {{ bank_select.name }} <img src="/images/icons/drop_down.svg">
                </a>
            </div>
            <div class="ml-auto">
                <a
                    class="btn"
                    @click="visibleQuestionPopup = true"
                >
                    Создать вопрос
                </a>
            </div>
        </div>
        <div class="row py-2">
            <table
                class="table"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Название вопроса</td>
                        <td>Тип</td>
                    </tr>
                </thead>
                <tr
                    v-for="(question, id) in questions"
                    :key="id"
                >
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.type.name }}</td>
                </tr>
            </table>
        </div>
        <div class="row py-2">
            <b-pagination
                v-model="paginate"
                :total-rows="pagination.total"
                :per-page="pagination.perPage"
                aria-controls="my-table"
                class="m-auto"
            ></b-pagination>
        </div>
        <question-popup
            v-if="visibleQuestionPopup"
            :question="question"
            :bank_id="bankQuestion.id"
            :treeBankObject="bankQuestion"
            @closePopup="closeQuestionPopup"
        />
        <categories-popup
            :show="visibleCategoriesPopup"
            :bankCategory="bankQuestion"
            :category_id="bank_id"
            @closePopup="closeCategoriesPopup"
            @selectedId="selectedId"
            @createdTreeEl="createdTreeEl"
        />
    </div>
</template>

<script>
    import AdminQuestionBankNav from '@base/components/admin/question_bank/Nav';

    import { getListQuestions } from '@base/api/bank-question/question.js'
    import { getListBank } from '@base/api/bank-question/bank.js'
    import QuestionPopup from '@base/components/course/bank-question/QuestionPopup';
    import CategoriesPopup from './manage/CategoriesPopup';

    export default {
        name: 'AdminQuestionBankIndex',
        comments: {
            QuestionPopup
        },
        data() {
            return {
                visibleCategoriesPopup: false,
                bankQuestion: {

                },
                question: null,
                visibleQuestionPopup: false,
                category: null,
                questions: [],
                pagination: {
                    currentPage: 1,
                    total: 0,
                    perPage: 12
                },
                paginate: 1,
                bank_id: 6,
                bank_select: {
                    id: null,
                    name: null
                },
            }
        },
        components: {
            CategoriesPopup,
            QuestionPopup,
            AdminQuestionBankNav
        },
        created() {
            getListBank({
                id: this.bank_id,
                'with[]': 'tree-childs'
            }).then((data) => {
                this.bank_select = data[0];
                this.bankQuestion = data[0];
                this.getQuestionList();
            })
        },
        watch: {
            paginate(val) {
                try {
                    const response = getListQuestions({ bank_id: this.bank_select.id, qty: 15, page: val, paginated: 1 });
                    this.questions = response.questions.data;
                    this.pagination.total = response.questions.total;
                } catch (e) {
                    throw e;
                }
            }
        },
        methods: {
            createdTreeEl(){
                getListBank({
                    id: this.bank_id,
                    'with[]': 'tree-childs'
                }).then((data) => {
                    this.bank_select = data[0];
                    this.bankQuestion = data[0];
                    this.getQuestionList();
                })
            },
            selectedId(item){

                this.bank_select = item;

                this.getQuestionList();
            },
            showCategoriesPopup(){
                this.visibleCategoriesPopup = true;
            },
            closeCategoriesPopup(){
                this.visibleCategoriesPopup = false;
            },
            getQuestionList(){
                getListQuestions({ bank_id: this.bank_select.id }).then((response) => {
                    this.questions = response.questions.data;
                    this.pagination.total = response.questions.total;
                })
            },

            closeQuestionPopup() {
                this.visibleQuestionPopup = false;
                this.getQuestionList();
            },
        }
    };
</script>
