<template>
    <popup :caption="(camera.id) ? 'Обновить камеру' : 'Создать камеру'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-12">
                    <label>Для подключения нужен логин/пароль </label>
                    <input type="checkbox" v-model="use_user">
                </div>
                <div class="col-lg-12">
                    <div class="input-group">
                        <select
                            v-model="camera.protocol"
                            class="form-control"
                            :class="('protocol' in errors) ? 'is-invalid' : ''"
                        >
                            <option value="rtsp">rtsp</option>
                            <option value="onvif">onvif</option>
                        </select>

                        <div class="input-group-prepend">
                            <span class="input-group-text">://</span>
                        </div>

                        <input
                            placeholder="Логин"
                            v-model="camera.user"
                            type="text"
                            class="form-control"
                            v-if="use_user"
                        />
                        <div class="input-group-prepend" v-if="use_user">
                            <span class="input-group-text">:</span>
                        </div>
                        <input
                            placeholder="Пароль"
                            v-model="camera.password"
                            type="text"
                            class="form-control"
                            v-if="use_user"
                        />
                        <div class="input-group-prepend" v-if="use_user">
                            <span class="input-group-text">@</span>
                        </div>

                        <input
                            placeholder="IP"
                            v-model="camera.ip"
                            type="text"
                            class="form-control"
                            :class="('ip' in errors) ? 'is-invalid' : ''"
                        />
                        <div class="input-group-prepend">
                            <span class="input-group-text">:</span>
                        </div>
                        <input
                            placeholder="Порт"
                            v-model="camera.port"
                            type="text"
                            class="form-control"
                            :class="('port' in errors) ? 'is-invalid' : ''"
                        />
                        <div class="input-group-prepend">
                            <span class="input-group-text">/</span>
                        </div>
                        <input
                            placeholder="Имя потока"
                            v-model="camera.name"
                            type="text"
                            class="form-control"
                            :class="('name' in errors) ? 'is-invalid' : ''"
                        />
                    </div>
                </div>

<!--                <div class="col-lg-12 mt-2">-->
<!--                    <div>-->
<!--                        <label>Пример:</label>-->
<!--                        <b>протокол://ip:port/имя_потока</b>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label>Ваш адрес:</label>-->
<!--                        <b>{{camera.protocol}}://{{camera.ip}}:{{camera.port}}/{{camera.name}}</b>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="row pt-2">
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>

        </template>
        <template v-slot:footer>
            <button class="btn btn-red" @click="save()">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';

    import Popup from "@base/components/base/Popup"
    import validSign from '@base/components/base/validSign';

    export default {
        name: "ProfileCamerasCreate",
        components: {
            Popup,
            validSign,
            SuccessError
        },
        mixins: [mixSuccess],
        props: {
            camera: {
                type: Object,
                default: {
                    id: null,
                    ip: null,
                    user: '',
                    password: '',
                    port: null,
                    protocol: "rtsp",
                    name: null,
                }
            },
            organization_id: {}
        },
        data() {
            return {
                errors: {},
                use_user: this.camera.user ? true : false,
            }
        },
        methods: {
            save(){
                if (this.camera.id){
                    axios.post('/api/v1/organization/'+this.organization_id+'/organization-cameras/'+this.camera.id,
                        {
                                ...{_method: 'patch'},
                                ...this.camera,
                                ...{organization_id: this.organization_id}
                            }
                        )
                        .then((response) => {
                            this.errors = {}
                            this.mixShow('success');
                        }).catch((error) => {
                            this.errors = error.response?.data.errors || {};
                            this.mixShow('error');
                        });
                }else{
                    axios.post('/api/v1/organization/'+this.organization_id+'/organization-cameras', { ...this.camera, ...{organization_id: this.organization_id}})
                        .then((response) => {
                            this.errors = {}
                            this.mixShow('success');
                        }).catch((error) => {
                            this.errors = error.response?.data.errors || {};
                            this.mixShow('error');
                        });
                }
            },
            closePopup() {
                this.$emit('closePopup');
            },
        }
    }
</script>
