<template>
    <popup
        :caption="(interval.id) ? 'Обновить интервал' : 'Добавить интервал'"
        @closePopup="closePopup"
    >
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Описание</label>
                        <textarea
                            class="form-control"
                            v-model="interval.description"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>День</label>
                        <v-date-picker
                            v-model="interval.started_at"
                            mode="date"
                            :model-config="{
                                type: 'string',
                                mask: 'YYYY-MM-DD', // Uses 'iso' if missing
                              }"
                        >
                            <template v-slot="{ inputValue, inputEvents }">
                                <input
                                    class="form-control"
                                    :value="inputValue"
                                    v-on="inputEvents"
                                />
                            </template>
                        </v-date-picker>

                    </div>
                </div>
<!--                <div class="col-lg-6">-->
<!--                    <div class="form-group">-->
<!--                        <label>Дата по</label>-->
<!--                        <datetime-->
<!--                            format="YYYY-MM-DD H:i"-->
<!--                            v-model="interval.ended_at"-->
<!--                        />-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="row pt-2">
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <a
                class="btn btn-success"
                @click="save"
            >
                {{ (interval.id) ? 'Обновить' : 'Добавить' }}
            </a>
        </template>
    </popup>
</template>

<script>
    import Popup from "@base/components/base/Popup"
    import datetime from '@base/components/base/datetime-picker';
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';

    export default {
        name: "CreateCameraInterval",
        mixins: [mixSuccess],
        components: {
            Popup, datetime, SuccessError
        },
        props: {
            organization_id: {
                default: 0,
                type: Number
            },
            interval: {
                id: null,
                description: null,
                started_at: null,
                ended_at: null,
            }
        },
        data() {
            return {
                errors: {},
            }
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            save(){
                const formData = new FormData();

                if (this.interval.id)
                    formData.append('_method', 'patch');

                if (this.interval.description)
                    formData.append('description', this.interval.description);

                formData.append('started_at', this.interval.started_at);
                formData.append('ended_at', this.interval.ended_at);


                this.$axios.post('/api/v1/organization/'+this.organization_id+'/camera-intervals' + (this.interval.id ? '/'+this.interval.id : '')
                    , formData)
                    .then(()=>{
                        this.errors = {}
                        this.mixShow('success');
                        this.closePopup();
                    })
                    .catch((error) => {
                        this.mixShow('error');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
