<template>
    <div class="container pt-2 pb-4">

        <div
            class="row"
        >
            <div class="col-lg-2" v-if="permissions.organization_camera_store">
                <a
                    class="btn btn-danger"
                    @click="closeCreateShow = true"
                >
                    Создать
                </a>
            </div>

            <div class="col-lg-1 ml-auto">
                <a
                    class="btn btn-success fa fa-refresh"
                    @click="reloadCamerasA"
                    v-b-tooltip="'Обновить статус камер'"
                >
                </a>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-lg-12">
                <table
                    class="table"
                >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>URL</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(camera,key) in cameras.data"
                            :key="'camera_'+key"
                        >
                            <td>
                                {{ camera.id }}
                            </td>
                            <td>
                                {{ camera.url }}
                            </td>
                            <td>
                                <div
                                    class="state"
                                    :class="(camera.status) ? 'connect' : 'error'"
                                />

                            </td>
                            <td>
                                <button
                                    class="btn fa fa-edit pointer"
                                    @click="editCamera(camera)"
                                    v-if="permissions.organization_camera_update"
                                />
                                <button
                                    v-if="permissions.organization_camera_destroy"
                                    class="btn ml-2 fa fa-edit fa-trash"
                                    @click="deleteCamera(camera)"
                                />
                                <button
                                    @click="openWindows(camera)"
                                    class="btn ml-2 fa fa-eye"
                                />
                                <button
                                    v-if="permissions.organization_camera_violation_index"
                                    class="btn ml-2 fa fa-edit fa-table"
                                    @click="openViolationsList(camera)"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <profile-cameras-create
            v-if="closeCreateShow"
            :camera="item"
            :organization_id="organization_id"
            @closePopup="closeCreatePopup"
        />
        <violationPopup
            v-if="violationPopupShow"
            :camera="currentCamera"
            @closePopup="closeViolationPopup"
            :organization="organization"
        />
    </div>
</template>

<script>
import violationPopup from '@base/components/admin/organization/manage/violationsPopup'
import ProfileCamerasCreate from './CameraCreate';
import { mapGetters } from 'vuex';

export default {
    name: "ProfileCamerasIndex",
    components:{
        ProfileCamerasCreate,
        violationPopup,
    },
    props: {
        organization_id: {},
        organization: {},
        permissions: {
            type: Object,
            default: {
                organization_camera_store: false,
                organization_camera_update: false,
                organization_camera_destroy: false,
                organization_camera_violation_index: false,
            }
        }
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
        ]),
    },
    data() {
        return {
            currentCamera: {},
            violationPopupShow: false,
            item: {
                id: null,
                ip: null,
                user: '',
                password: '',
                port: null,
                protocol: "rtsp",
                name: null,
            },
            cameras: {
                per_page: 15,
                total: 0,
                page: 1,
                data: [

                ]
            },
            closeCreateShow: false
        }
    },
    created() {
        this.loadCameras();
    },
    methods: {
        editCamera(item){
            this.item = item;
            this.closeCreateShow = true;
        },
        closeCreatePopup(){
            this.item = {};
            this.closeCreateShow = false;
            this.loadCameras();
        },
        reloadCamerasA(){
            this.cameras.data.forEach(camera => this.checkCameraAvailable(camera));
        },
        checkCameraAvailable(camera){
            axios.get('/api/v1/organization/'+this.organization_id+'/organization-cameras/'+camera.id+'/checkCameraAvailable')
                .then((response) => {
                    camera.status = true;
                })
                .catch(error => {
                    camera.status = false;
                })
        },
        deleteCamera(camera){
            axios.post('/api/v1/organization/'+this.organization_id+'/organization-cameras/'+camera.id, {
                _method: 'delete'
            })
                .then((response) => {
                    this.loadCameras();
                });
        },
        openWindows(camera){
            let href = '/api/v1/organization/'+this.organization_id+'/organization-cameras/'+camera.id;
            window.open(href, camera.id, 'width=640,height=480');
        },
        loadCameras(){
            let data = {
                organization_id: this.organization_id,
                page: this.cameras.page,
                qty: this.cameras.per_page
            };
            axios.get('/api/v1/organization/'+this.organization_id+'/organization-cameras', { params: data })
                .then((response) => {
                    this.cameras = response.data.data.organizationCameras;
                    this.reloadCamerasA();
                });
        },
        openViolationsList(camera) {
            this.violationPopupShow = true
            this.currentCamera = camera
        },
        closeViolationPopup() {
             this.violationPopupShow = false
        }
    }
}
</script>
<style>
    .state {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .state.connect {
        background-color: #38c172;
    }
    .state.error {
        background-color: #e72222;
    }
</style>
