<template>
    <div class="container pt-2 pb-4">
        <div
            class="row"
            v-if="permissions.organization_camera_schedule_store"
        >
            <div class="col-lg-2">
                <a
                    class="btn btn-danger"
                    @click="showAddInterval = true"
                >
                    Создать
                </a>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-lg-12">
                <table
                    class="table"
                >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Описание</th>
                            <th>C</th>
                            <th>По</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(interval,key) in intervals.data"
                            :key="'camera_'+key"
                        >
                            <td>{{ interval.id }}</td>
                            <td>{{ interval.description }}</td>
                            <td>{{ interval.started_at }}</td>
                            <td>{{ interval.ended_at }}</td>
                            <td>
                                <button
                                    class="btn fa fa-edit pointer"
                                    @click="editInterval(interval)"
                                    v-if="permissions.organization_camera_schedule_update"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row py-2">
            <b-pagination v-model="intervals.page" :total-rows="intervals.total" :per-page="intervals.per_page" class="m-auto"></b-pagination>
        </div>

        <create-camera-interval
            v-if="showAddInterval"
            :interval="item"
            :organization_id="organization_id"
            @closePopup="closeAddInterval"
        />
    </div>
</template>

<script>
import CreateCameraInterval from './CreateCameraInterval';
import deepClone from 'clonedeep';

export default {
    name: 'Schedule',
    components: {
        CreateCameraInterval
    },
    props: {
        organization_id: {
            default: null,
            type: Number
        },
        permissions: {
            type: Object,
            default: {
                organization_camera_schedule_store: false,
                organization_camera_schedule_update: false,
            }
        }
    },
    data() {
        return {
            showAddInterval: false,
            intervals: {
                page: 1,
                per_page: 15,
                total: 0,
                data: [

                ]
            },
            item: {
                id: null,
            }
        }
    },
    created() {
        this.loadSchedule();
    },
    methods: {
        loadSchedule(){
            let data = {
                organization_id: this.organization_id,
                page: this.intervals.page,
                qty: this.intervals.per_page
            };
            axios.get('/api/v1/organization/'+this.organization_id+'/camera-intervals', { params: data })
                .then((response) => {

                    this.intervals.data = response.data.data.organizationCamerasIntervals.data;
                    this.intervals.total = response.data.data.organizationCamerasIntervals.total;

                });
        },
        closeAddInterval(){
            this.item = {}
            this.showAddInterval = false
            this.loadSchedule();
        },
        editInterval(interval){
            this.item = deepClone(interval);
            this.showAddInterval = true;
        }
    }
};
</script>
