<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view
                :organization="organization"
                :permissions="permissions"
            />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";
export default {
    name: 'Navigation',
    components: {
        NavTab
    },
    props: {
        organization_id: {},
        organization: {},
        permissions: {
            type: Object,
            default: {
                organization_camera_index: false,
                organization_camera_schedule_index: false,
                organization_camera_store: false,
                organization_camera_update: false,
                organization_camera_destroy: false,
                organization_camera_violation_index: false,
            }
        }
    },

    computed: {
        routes() {
            return [
                { name: 'org.edu.cameras.index', description: "Камеры", visible: this.permissions.organization_camera_index },
                { name: 'org.edu.cameras.schedule', description: 'График', visible: this.permissions.organization_camera_schedule_index }
            ];
        }
    }
};
</script>
