<!-- Bashinsky --> 
<template>
<div class="container my-4">
    <div class="col-lg-12">
        <h2 class="pb-3">
            Формы анкеты #{{ form_id }}
        </h2>
    </div>
    <div class="col-lg-12">
        <button class="btn" @click="openFieldPopup()">Добавить поле в анкету</button>
    </div>
    <div class="col-lg-12 py-2">
        <table class="table table-bordered table-adaptive table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Поле</th>
                    <th>Тип поля</th>
                    <th>Var name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="field in currentFormIom.fields" :key="field.id">
                    <td data-label="#">
                        {{ field.id }}
                    </td>
                    <td data-label="Поле">
                        {{ field.name }}
                    </td>
                    <td data-label="Тип поля">
                        {{ field.type }}
                    </td>
                    <td data-label="Var name">
                        {{ field.var_name }}
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <i class="mr-1 btn fa fa-edit" v-tooltip.top-center="'Редактировать поле'" @click="openFieldPopup(field)">
                            </i>
                            <i class="mr-1 btn btn-red fa fa-trash" v-tooltip.top-center="'Удалить поле'" @click="deleteField(field.id)">
                            </i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <FormFieldPopup v-if="visibleFieldPopup" v-model="currentField" :update="submitField" @closePopup="closeFieldPopup">

    </FormFieldPopup>
</div>
</template>

<script>
import {
    mapGetters,
    createNamespacedHelpers
} from 'vuex';
const iom = createNamespacedHelpers('iom');
import deepClone from 'clonedeep'
import FormFieldPopup from './manage/formFieldPopup';
export default {
    name: 'AdminIomForm',
    props: {
        form_id: {
            type: Number,
            default: 0,
        },
    },
    components: {
        FormFieldPopup,
    },
    data() {
        return {
            currentField: {
                id: 0,
                name: '',
                var_name: '',
                type: '',
            },
            visibleFieldPopup: false,
        }
    },
    computed: {
        currentFormIom() {
            return this.$store.state.iom.currentForm;
        },
        formsIom() {
            return this.$store.state.iom.formsIom;
        }
    },
    async mounted() {
        if (this.formsIom) {
            await this.getForms();
            const form = this.formsIom.find(el => el.id === this.form_id);
            this.setCurentForm(form);
        }
    },
    methods: {
        ...iom.mapActions({
            submitFieldIom: 'SUBMIT_FIELD',
            deleteFieldIom: 'DELETE_FIELD',
            getFormsIom: 'GET_FORMS',
        }),
        ...iom.mapMutations({
            setCurentForm: 'SET_CURRENT_FORM',
        }),
        async submitField() {
            try {
                await this.submitFieldIom({
                    form_id: this.form_id,
                    value: this.currentField
                });
                setTimeout(() => {
                    this.closeFieldPopup();
                }, 2000)
            } catch (e) {
                throw e;
            }
        },
        closeFieldPopup() {
            this.currentField = {
                id: 0,
                name: '',
                var_name: '',
                type: '',
            };
            this.visibleFieldPopup = false;
        },
        openFieldPopup(field) {
            if (field) {
                this.currentField = deepClone(field);
            }
            this.visibleFieldPopup = true;
        },
        async deleteField(id) {
            try {
                await this.deleteFieldIom({
                    field_id: id,
                    form_id: this.currentFormIom.id
                });
            } catch (e) {
                throw e;
            }
        },
        async getForms() {
            try {
                await this.getFormsIom();
            } catch (e) {
                console.warn(e);
            }
        },
    },
}
</script>
