<!-- Bashinsky --> 
<template>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn" @click="showCreateFormIomPopup">Создать форму анкеты ИОМ</button>
        </div>
        <div class="col-lg-12 py-2">
            <table class="table table-bordered table-striped tadble-adaptive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Форма</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="form in formsIom" :key="form.id">
                        <td data-label="#">
                            {{ form.id }}
                        </td>
                        <td data-label="Форма">
                            {{ form.name }}
                        </td>
                        <td data-label="">
                            <div class="d-flex justify-content-end">
                                <button v-if="!form.active" class="mr-1 btn" @click="setActiveForm(form.id)">
                                    Сделать форму активной
                                </button>
                                <div v-else class="mr-2">
                                    <span class="fs-20 badge badge-pill badge-info text-white">Активная</span>
                                </div>
                                <i class="mr-1 btn fa fa-eye" v-tooltip.top-center="'Просмотреть форму анкеты'" @click="toForm(form)">
                                </i>
                                <i class="mr-1 btn fa fa-edit" v-tooltip.top-center="'Редактировать'" @click="editFormIom(form)">
                                </i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <formIomPopup v-if="visibleCreateFormIomPopup" v-model="currentFormIom" :update="submitForm" @closePopup="closeFormIomPopup" />
</div>
</template>

<script>
import {
    mapGetters,
    createNamespacedHelpers
} from 'vuex';
const iom = createNamespacedHelpers('iom');
import formIomPopup from './manage/formIomPopup';

export default {
    name: "AdminIomForms",
    data() {
        return {
            visibleCreateFormIomPopup: false,
        }
    },
    components: {
        formIomPopup,
    },
    async mounted() {
        this.getForms();
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
        formsIom() {
            return this.$store.state.iom.formsIom;
        },

        currentFormIom: {
            get() {
                return this.$store.state.iom.currentForm;
            },
            set(val) {
                this.setCurentForm(val);
            }
        },
    },
    methods: {
        ...iom.mapActions({
            getFormsIom: 'GET_FORMS',
            submitFormIom: 'SUBMIT_FORM',
            setActiveFormIom: 'SET_ACTIVE_FORM',
        }),
        ...iom.mapMutations({
            setCurentForm: 'SET_CURRENT_FORM',
        }),
        async submitForm() {
            try {
                this.submitFormIom(this.currentFormIom);
                setTimeout(() => {
                    this.closeFormIomPopup();
                }, 2000)
            } catch (e) {
                throw e;
            }
        },
        showCreateFormIomPopup() {
            this.visibleCreateFormIomPopup = true;
        },
        closeFormIomPopup() {
            this.visibleCreateFormIomPopup = false;
            this.clearFormPopup();
        },

        async getForms() {
            try {
                await this.getFormsIom();
            } catch (e) {
                console.warn(e);
            }
        },

        editFormIom(form) {
            this.currentFormIom = form;
            this.showCreateFormIomPopup();
        },

        clearFormPopup() {
            this.currentFormIom = {
                id: 0,
                name: '',
            }
        },
        toForm(form) {
            this.setCurentForm(form);
            this.$router.push({
                name: 'admin.iom.forms.show',
                params: {
                    form_id: form.id
                }
            });
        },
        async setActiveForm(form_id) {
            try {
                await this.setActiveFormIom(form_id);
            } catch (e) {
                throw e;
            }
        },
    }
}
</script>
