<!-- Bashinsky --> 
<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">
            <router-view />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";

export default {
    name: "AdminIom",
    components: {
        NavTab,
    },
    data() {
        return {
            routes: [{
                    description: 'Анкета',
                    name: 'admin.iom.forms',
                    visible: true,
                },
                {
                    description: 'Маршруты',
                    name: 'admin.iom.routes',
                    visible: true,
                },
            ]
        }
    }
}
</script>
