<!-- Bashinsky --> 
<template>
    <Popup
        :caption="caption"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="container">
                    <div class="row pb-3">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Название</label>
                                <input
                                    type="text"
                                    name="name"
                                    :value="value.name"
                                    class="form-control"
                                    :class="('name' in errors) ? 'is-invalid' : ''"
                                    @input="change"
                                />
                                <valid-sign
                                    :name="'name'"
                                    :invalid="errors"
                                />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Шаблон</label>

                                <htmlEditor
                                    :content.sync="value.doc_template"
                                    name="text"
                                    :class="('doc_template' in errors) ? 'is-invalid' : ''"
                                />

                                <valid-sign
                                    :name="'doc_template'"
                                    :invalid="errors"
                                />
                            </div>
                            <div v-pre>
                                {{director_fio}} - ФИО директора <br>
                                {{teacher_fio}} - ФИО учителя подающего заявку на ИОМ<br>
                                {{organization_name}} - Название организации<br>
                                {{iom_list}} - таблица с курсами ИОМ <br>
                            </div>
                        </div>

                        <div class="col-lg-12 mb-3" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button class="btn" @click="submit()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
        </template>
    </Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';
import htmlEditor from '@base/components/base/vueEditor';

export default {
    name: 'formIomPopup',
    props: {
        value: {
            type: Object,
            default: () => {}
        },
        update: {
            type: Function,
        }
    },
    mixins: [mixSuccess],
    components: {
        validSign,
        SuccessError,
        Popup,
        htmlEditor
    },
    data() {
        return {
            errors: {},
        }
    },
    computed: {
        caption() {
            return this.value.id ? 'Обновить форму анкеты' : 'Создать форму анкеты';
        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        change(evt) {
            console.log('evt', evt.target.value);
            this.$emit('input', { ...this.value, ...{ name: evt.target.value } } );
        },
        async submit() {
            try {
                await this.update();
                this.mixShow('success');
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
    }
}
</script>
