<!-- Bashinsky --> 
<template>
    <Popup
        :caption="caption"
        @closePopup="closePopup"
        :modalType="'modal-lg'"
    >
        <template v-slot:body>
            <div class="container">
                    <div class="row pb-3">
                        <div class="col-lg-8 ml-auto mr-auto">
                            <div class="form-group">
                                <label>Название</label>
                                <input
                                    type="text"
                                    name="name"
                                    :value="value.name"
                                    class="form-control"
                                    :class="('name' in errors) ? 'is-invalid' : ''"
                                    @input="change"
                                />
                                <valid-sign
                                    :name="'name'"
                                    :invalid="errors"
                                />
                            </div>
                        </div>
                        <div class="col-lg-8 ml-auto mr-auto">
                            <div class="form-group">
                                <label>Var name</label>
                                <input
                                    type="text"
                                    name="name"
                                    v-model="value.var_name"
                                    class="form-control"
                                    :class="('var_name' in errors) ? 'is-invalid' : ''"
                                />
                                <valid-sign
                                    :name="'var_name'"
                                    :invalid="errors"
                                />
                            </div>
                        </div>
                        <div class="col-lg-8 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Тип</label>
                                        <select
                                            v-model="type"
                                            class="form-control"
                                            :class="('name' in errors) ? 'is-invalid' : ''"
                                        >
                                            <option :value="typeField" v-for="(typeField, id) in fieldTypes" :key="id">{{ typeField }}</option>
                                        </select>
                                        <valid-sign
                                            :name="'type'"
                                            :invalid="errors"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" v-if="type === 'select'">
                                    <div class="form-group">
                                        <label>Добавить содержимое поля</label>
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <input
                                                    type="text"
                                                    name="name"
                                                    v-model="selectData"
                                                    class="form-control"
                                                />
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="btn" @click="pushIntoValueData">Добавить</button>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-lg-12 d-flex mt-2" v-for="(dataSelect, id) in value.data" :key="id">
                                                <input
                                                    type="text"
                                                    name="name"
                                                    disabled
                                                    :value="dataSelect"
                                                    class="form-control"
                                                />
                                                <i
                                                    class="ml-2 btn fa fa-trash"
                                                    @click="deleteValueData(id)"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ml-auto mr-auto">
                        </div>
                        <div class="col-lg-12 mb-3" v-if="errors">
                            <SuccessError :show="{success, not_success}" />
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button class="btn" @click="submit()">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
        </template>
    </Popup>
</template>

<script>
import validSign from '@base/components/base/validSign';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import Popup from '@base/components/base/Popup';

export default {
    name: 'formIomPopup',
    props: {
        value: {
            type: Object,
            default: () => {}
        },
        update: {
            type: Function,
        }
    },
    mixins: [mixSuccess],
    components: {
        validSign,
        SuccessError,
        Popup,
    },
    data() {
        return {
            errors: {},
            fieldTypes: [ 'text', 'textarea', 'checkbox', 'select', 'number', 'date' ],
            selectData: '',
        }
    },
    computed: {
        caption() {
            return this.value.id ? 'Обновить поле в форме' : 'Создать поле в форме';
        },
        type: {
            get() {
                return this.value.type ? this.value.type : '';
            },
            set(val) {
                this.$emit('input', { ...this.value, ...{ type: val } } );
            }
        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        pushIntoValueData() {
            const data = this.value.data ? this.value.data : [];
            data.push(this.selectData);
            this.$emit('input', { ...this.value, ...{ data: data } } );
            this.selectData = '';
        },
        deleteValueData(id) {
            const data = this.value.data ? this.value.data : [];
            data.splice(id, 1);
            this.$emit('input', { ...this.value, ...{ data: data } } );
            this.selectData = '';
        },

        change(evt) {
            this.$emit('input', { ...this.value, ...{ name: evt.target.value } } );
        },
        async submit() {
            try {
                await this.update();
                this.mixShow('success');
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
    }
}
</script>
