<template>
    <nav>
        <ul
            v-if="1 in pagination.page"
            class="pagination justify-content-center"
        >
            <li
                class="page-item"
                :class="pagination.prev.show ? '' : 'disabled'"
            >
                <router-link
                    v-if="pagination.prev.show"
                    :to="{ name: routeName, params: { ...routeParams, page: pagination.prev.page }}"
                    rel="prev"
                    class="page-link"
                >
                    ‹
                </router-link>
                <span
                    v-else
                    class="page-link"
                >‹</span>
            </li>
            <li
                v-for="(page, k) in pagination.page"
                :key="k"
                aria-current="page"
                class="page-item"
                :class="page == pagination.page_current ? 'active' : ''"
            >
                <router-link
                    v-if="page != pagination.page_current"
                    class="page-link"
                    :to="{ name: routeName, params: { ...routeParams, page: page }}"
                >
                    {{ page }}
                </router-link>
                <span
                    v-else
                    class="page-link"
                >{{ pagination.page_current }}</span>
            </li>
            <li
                class="page-item"
                :class="pagination.next.show ? '' : 'disabled'"
            >
                <router-link
                    v-if="pagination.next.show"
                    :to="{ name: routeName, params: { ...routeParams, page: pagination.next.page }}"
                    rel="next"
                    class="page-link"
                >
                    ›
                </router-link>
                <span
                    v-else
                    class="page-link"
                >›</span>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'IncPagePaginate',
    props: {
        routeName: {
            type: String,
            default: '',
        },
        routeParams: {
            type: Object,
            default() {
                return {
                    page: 1,
                };
            },
        },
        pagination: {
            type: Object,
            default() {
                return {
                    page: {},
                    page_current: 0,
                    prev: { show: false, page: 0 },
                    next: { show: false, page: 0 },
                };
            },
        },
    },
};
</script>
