<template>
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-1">
                <router-link
                    class="btn"
                    :to="{ name: 'me.edu-organization' }"
                >
                    Назад
                </router-link>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        v-model="search"
                        placeholder="Поиск..."
                    />
                    <div class="input-group-append">
                        <a
                            class="input-group-text pointer"
                            @click="loadUsersMiud"
                        >
                            <i class="fa fa-search"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <select
                    class="ml-4 form-control"
                    v-model="quiz_id"
                >
                    <option value="">Все</option>
                    <option value="7">Комплексные работы 4 класс</option>
                    <option value="8">Комплексные работы 5 класс</option>
                    <option value="9">Комплексные работы 6 класс</option>
                    <option value="10">Комплексные работы 7 класс</option>
                    <option value="11">Комплексные работы 8 класс</option>
                </select>
            </div>
            <div class="col-lg-2">
                <a
                    class="btn btn-danger"
                    :href="'/api/v1/me/miud?organization_id='+organization_id + '&quiz_id=' + quiz_id + '&save_to_file=true'"
                >
                    Скачать
                </a>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                Всего попыток: {{ attemts.length }}
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12">
                <table
                    class="table"
                >
                    <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Статус</th>
                        <th>Оценка</th>
                        <th>Дата конца попытки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        v-for="(attemt,key) in attemts"
                        :key="'attempt_'+key"
                    >
                        <td>
                            {{ attemt.user.login }}
                        </td>
                        <td>
                            {{ result_statuses[attemt.status] }}
                        </td>
                        <td>
                            {{ attemt.attempt_result ? attemt.attempt_result.score : '' }} /
                            {{ attemt.quiz ? attemt.quiz.max_score : '' }}
                        </td>
                        <td>
                            {{ attemt.finished_at }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "MiudIndex",
    props: {
        organization_id: {

        }
    },
    data() {
        return {
            search: '',
            attemts: [],
            quiz_id: 7,
            result_statuses: {
                'SUCCESS': 'Оценен',
                'PENDING': 'Ожидает оценки',
                'FAILED': 'Не пройден',
                'WAITING_CALC': 'Расчитывается',
                'ACTIVE': 'Прохождение',
            },
        }
    },
    watch: {
        quiz_id() {
            this.loadUsersMiud();
        }
    },
    created() {
        this.loadUsersMiud();
    },
    methods: {
        loadUsersMiud(){
            let data = {
                organization_id: this.organization_id,
                quiz_id: this.quiz_id,
                search: this.search
            };
            axios.get('/api/v1/me/miud', { params: data })
                .then((response) => {
                    this.attemts = response.data.data.attemts;
                });
        }
    }
}
</script>

