<template>
    <popup :caption="'Заявка регистрации учеников'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            Ученики 5 класс
                        </label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="users[5]"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            Ученики 6 класс
                        </label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="users[6]"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            Ученики 7 класс
                        </label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="users[7]"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            Ученики 8 класс
                        </label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="users[8]"
                        />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            Ученики 9 класс
                        </label>
                        <input
                            type="number"
                            class="form-control"
                            v-model="users[9]"
                        />
                    </div>
                </div>
                <div class="col-lg-12">
                    <a
                        @click="save"
                        class="btn btn-success"
                    >
                        Сохранить
                    </a>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-lg-12" v-if="errors">
                    <SuccessError :show="{success, not_success}" />
                </div>
            </div>
        </template>
    </popup>
</template>

<script>
    import Popup from "@base/components/base/Popup"
    import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
    import SuccessError from '@base/components/inc/message/SuccessError.vue';
    export default {
        name: "NewUsersPopup",
        components: {
            Popup,
            SuccessError
        },
        mixins: [mixSuccess],
        props: {
            organization: {}
        },
        data() {
            return {
                errors: {},
                users: {
                    1: null, 2: null, 3:null, 4:null, 5: null, 6: null, 7: null, 8: null, 9: null, 10: null, 11: null
                },
            }
        },
        methods: {
            closePopup() {
                this.$emit('closePopup');
            },
            save(){
                axios.post('/api/v1/organization/'+this.organization.id+'/miud-users', this.users)
                    .then((response) => {
                        this.errors = {}
                        this.mixShow('success');
                    }).catch((error) => {
                        this.errors = error.response?.data.errors || {};
                        this.mixShow('error');
                    });
            }
        },
        created() {
            axios.get('/api/v1/organization/'+this.organization.id+'/miud-users')
                .then((response) => {
                    this.users = response.data.data.users;
                }).catch((error) => {

                });
        },
    }
</script>
