<template>
    <div>
        <div class="container py-5" v-if="!auth">
            <div class="col-lg-8 m-auto box border bg-white rounded p-3">
                <div class="container-fluid">
                    <form
                        class="col-lg-12"
                    >
                        <div class="row pt-12">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Логин</label>
                                    <input
                                        v-model="login"
                                        type="text"
                                        autocomplete="login"
                                        class="form-control"
                                        :class="(('login' in invalid) || ('email' in invalid)) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'login' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.login"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                    <div
                                        v-if="'email' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-6">
                            <div class="col-lg-6 m-auto">
                                <div class="form-group">
                                    <label class="title gray">Пароль</label>
                                    <input
                                        v-model="password"
                                        type="password"
                                        autocomplete="current-password"
                                        class="form-control"
                                        :class="('password' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <div
                                        v-if="'password' in invalid"
                                        class="invalid-feedback"
                                    >
                                        <span
                                            v-for="(message, k) in invalid.password"
                                            :key="k"
                                        >{{ message }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2 ">
                            <div class="col-md-6 m-auto">
                                <div class="form-check">
                                    <input
                                        v-model="remember"
                                        class="form-check-input"
                                        type="checkbox"
                                    >
                                    <label class="form-check-label">Запомнить меня</label>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6 m-auto d-flex">
                                <a
                                    class="btn btn-primary"
                                    @click="submit()"
                                >
                                    Войти
                                </a>

                                <a
                                    href="/api/v1/olympiad/test_user"
                                    class="btn btn-danger ml-auto"
                                    v-if="structure['test-login'] && structure['test-login'] == 'true'"
                                >
                                    Тестовый вход
                                </a>



                            </div>
                        </div>
                        <div class="text-center">
                            Авторизуясь на сайте вы подтверждаете
                            <a
                                class="title blue"
                                href="/policy.html"
                                target="_blank"
                            >
                                согласие на обработку данных
                            </a>.
                        </div>

                        <div class="mt-4 d-flex">
                            <a
                                class="btn btn-danger"
                                @click="showMainRegisterPopup = true"
                            >
                                Регистрация
                            </a>


                            <a
                                class="btn btn-danger ml-auto"
                                @click="showMainRegisterOrganizationPopup = true"
                            >
                                Заявка на регистрацию организации
                            </a>
                        </div>
                        <div
                            v-if="not_success"
                            class="row"
                        >
                            <div class="col-lg-6 m-auto">
                                <div
                                    class="alert alert-warning alert-dismissible fade show"
                                    role="alert"
                                >
                                    <strong>Ошибка!</strong>&nbsp;
                                    <span>Данные не обновлены.</span>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        @click="not_success = false"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <main-register-popup
                v-if="showMainRegisterPopup"
                @closePopup="closeRegisterPopup"
            />
            <register-organization
                v-if="showMainRegisterOrganizationPopup"
                @closePopup="closeRegisterOrganizationPopup"
            />
        </div>
        <div class="container py-5" v-else>
            <div class="col-lg-5 m-auto box border bg-white rounded p-3">
                <h4>Здравствуйте: </h4>
                <div class="pt-1 pb-3">
                    <img
                        class="avatar avatar40"
                        :src="auth.avatar ? auth.avatar.small : '/images/icons/user_avatar.svg'"
                    />
                    <b class="pl-2">{{ auth.lastname }} {{ auth.firstname }}</b>
                </div>
                <div class="d-flex">
                    <router-link
                        :to="{ name: 'me.profile' }"
                        class="btn btn-sm btn-success"
                    >
                        Личный кабинет
                    </router-link>
                    <a
                        class="ml-auto btn btn-sm btn-danger"
                        @click="logout()"
                    >Выйти</a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex';
import MainRegisterPopup from './register/Index';
import RegisterOrganization from './register/RegisterOrganization';

export default {
    name: 'MainIndex',
    components: { RegisterOrganization, MainRegisterPopup },
    props: {
        structure: {
            type: Object,
            default: () => ({}),
        }
    },
    data() {
        return {
            news: {},
            courses: {},
            programs: {},
            organizations: {},
            login: '',
            password: '',
            invalid: {},
            remember: false,
            not_success: false,
            showMainRegisterPopup: false,
            showMainRegisterOrganizationPopup: false,
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },
    created() {},
    mounted() {
        //this.getNews('global');
        //this.getEduOrganizations('global');
        //this.getEduPrograms('global');
        // this.getCourses();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        submit() {
            const data = {
                login: this.login,
                password: this.password,
                remember: this.remember,
            };


            this.$axios.post('/login', data)
                .then(() => {

                    //document.location.href = '/me/course';
                    this.$router.push({ name: 'me.profile' });
                })
                .catch((e) => {

                    this.invalid = e.response.data.errors;
                })
                .finally(() => {
                });
            return false;
        },
        logout() {
            this.$store.dispatch('animateLoading', { type: 'local', action: 'start' });
            this.$axios.post('/logout', { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.$store.dispatch('clearAuth');
                    this.$store.dispatch('animateLoading', { type: 'local', action: 'finish' });
                    this.$router.push({ name: 'main' });
                })
                .catch(() => {
                    this.$store.dispatch('animateLoading', { type: 'local', action: 'error' });
                })
                .finally(() => {
                });
        },
        getCourses(loading) {

            this.$axios.get('/api/v1///', {})
                .then((response) => {

                    this.courses = response.data.data.courses.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
        getEduOrganizations(loading) {

            this.$axios.get('/api/v1/organizations?type=EDU&qty=9')
                .then((response) => {

                    this.organizations = response.data.data.organizations.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
        closeRegisterPopup(){
            this.showMainRegisterPopup = false;
        },
        closeRegisterOrganizationPopup(){
            this.showMainRegisterOrganizationPopup = false
        },
        getEduPrograms(loading) {

            this.$axios.get('/api/v1/programs?show=1')
                .then((response) => {

                    this.programs = response.data.data.programs.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
        getNews(loading) {

            this.$axios.get('/api/v1/news?qty=4&status=ACTIVE')
                .then((response) => {

                    this.news = response.data.data.news.data;
                })
                .catch((error) => {

                })
                .finally(() => {
                });
        },
    },
};

</script>
<style>
    /*.app-content, #app {*/
    /*    background: #929EBC;*/
    /*}*/
</style>
