<template>
    <div>
        <div
            class="modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog"
                role="document"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            {{ role.id ? 'Редактирование роли' : 'Создание роли'  }}
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="modalHide()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row pt-32">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Тег</label>
                                        <input
                                            v-model="role.name"
                                            class="form-control"
                                            :disabled="role.id ? true : false"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.email"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">Название</label>
                                        <input
                                            v-model="role.label"
                                            class="form-control"
                                            :class="('label' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'label' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.label"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-lg-10 m-auto">
                                    <div class="form-group">
                                        <label class="title gray">
                                            Порядок отображения
                                            <i
                                                class="fa fa-sort-numeric-asc ml-10"
                                                aria-hidden="true"
                                            />
                                        </label>
                                        <input
                                            v-model="role.position"
                                            class="form-control"
                                            :class="('position' in invalid) ? 'is-invalid' : ''"
                                            type="text"
                                        >
                                        <div
                                            v-if="'position' in invalid"
                                            class="invalid-feedback"
                                        >
                                        <span
                                            v-for="(message, k) in invalid.position"
                                            :key="k"
                                        >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-2 pl-18">
                                <div class="col-lg-10 m-auto form-group form-check">
                                    <input
                                        v-model="role.show"
                                        type="checkbox"
                                        class="form-check-input"
                                        :class="('show' in invalid) ? 'is-invalid' : ''"
                                    >
                                    <label class="title gray upper form-check-label">Показывать</label>
                                    <div
                                        v-if="'show' in invalid"
                                        class="invalid-feedback"
                                    >
                                    <span
                                        v-for="(message, k) in invalid.show"
                                        :key="k"
                                    >{{ message }}</span>
                                    </div>
                                </div>
                            </div>
                            <SuccessError :show="{ not_success, success, }"/>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            ::disabled="spinner.save"
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                            {{ 'Сохранить' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import { defRole } from '@base/inc/defaults/app';

export default {
    name: 'AdminManageRole',
    mixins: [Proccess],
    components: {
        SuccessError,
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        role: {
            type: Object,
            default: defRole,
        },
        fnRefreshTable: {
            type: Function,
            default: () => {},
        },
        fnModalHide: {
            type: Function,
            default: () => {},
        },
    },
    methods: {
        submit() {
            if (this.role.id) {
                this.update();
            } else {
                this.create();
            }
        },
        update() {
            const url = `/api/v1/role/${this.role.id}`;
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('_method', 'patch');
            formData.append('action', 'data');
            formData.append('label', this.role.label);
            formData.append('position', this.role.position);
            formData.append('show', this.role.show ? 1 : 0);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        create() {
            const url = '/api/v1/role';
            const btn = 'save';
            const notify = true;
            const loading = 'local';
            const formData = new FormData();

            formData.append('name', this.role.name);
            formData.append('label', this.role.label);
            formData.append('position', this.role.position);
            formData.append('show', this.role.show ? 1 : 0);

            this.showProcessMessage(loading, btn);
            this.$axios.post(url, formData,
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.fnRefreshTable();
                    setTimeout(() => { this.modalHide(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
                .finally(() => {
                });
        },
        modalHide() {
            this.fnModalHide();
            this.clearModal();
        },
        clearModal() {
            this.clearMixModal();
        },
    },
};
</script>

<style scoped>

</style>
