
<template>
    <main class="edu-about ff-rb">

        <ManageContact
            v-if="permissions.moderation_org"
            :organization="organization"
        />
    </main>
</template>

<script>
import { defOrganization } from '@base/inc/defaults/app';
import { mapGetters, mapMutations } from 'vuex';
import ManageContact from '@base/components/org/edu/tab/manage/Contact';

export default {
    name: 'OrgEduTabContact',
    components: {
        ManageContact,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
    },
    data() {
        return {};
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
    },
    watch: {

    },
    created() {

    },
    mounted() {

    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        showManageContact() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.contact');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.org.contact', data: modal });
            }
        },
    },
};
</script>
