<template>
    <div class="container">
        <div class="row align-items-center py-3">
            <div class="col-lg-2">
                <select
                    v-model="typeFilter"
                    class="custom-select mr-2"
                >
                    <option value="null">Отфильтровать по типу</option>
                    <option value="course">Курсы</option>
                    <option value="event">Мероприятия</option>
                </select>
            </div>
            <div class="col-lg-2">
                <div class="input-group system-search mr-2">
                    <input
                        v-model="search"
                        type="text"
                        placeholder="Искать"
                        aria-label="Искать"
                        class="form-control"
                    >

                    <div
                        class="input-group-append mr-auto"
                        @click="getSearchProgram(pagination.currentPage)"
                    >
                            <span
                                id="search"
                                class="input-group-text title pointer"
                            >
                                <img src="/images/icons/search.svg" width="90%">
                            </span>
                    </div>
                </div>
            </div>

            <div
                class="col ml-auto d-flex"
            >
                <button
                    class="ml-auto btn btn-danger"
                    v-if="$attrs.permissions.moderation_org_prog_courses"
                    @click="visibleCoursePopup = true"
                >
                    Создать
                </button>
            </div>
        </div>

        <div class="row courses py-3" v-if="typeFilter === 'course'">
            <div
                v-for="(course, k) in courses"
                :key="k"
                class="course col-lg-3"
            >
                <card-course :course="course" />
            </div>
        </div>

        <div class="row courses" v-if="typeFilter === 'event'">
            <div
                v-for="(course, k) in courses"
                :key="k"
                class="course col-lg-4"
            >
                <event-card :event="course"></event-card>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-lg-2 d-flex align-items-center">
                <div class="text-nowrap">На странице</div>
                <select
                    v-model="pagination.perPage"
                    class="custom-select mr-2"
                >
                    <option
                        value="6"
                        selected
                    >
                        6
                    </option>
                    <option value="9">
                        9
                    </option>
                    <option value="12">
                        12
                    </option>
                    <option value="15">
                        15
                    </option>
                </select>
            </div>
            <div class="col-lg-7 d-flex m-auto">
                <b-pagination
                    v-model="pagination.currentPage"
                    :total-rows="pagination.total"
                    :per-page="pagination.perPage"
                    aria-controls="my-table"
                    class="m-auto"
                ></b-pagination>
            </div>
            <div class="col-lg-3" />
        </div>
        <coursePopup
            v-if="visibleCoursePopup"
            @closePopup="closePopup"
            :organization_id="$attrs.organization_id"
        ></coursePopup>
    </div>
</template>

<script>
import { getCourses } from '@base/api/marketplace';
import cardCourse from '@base/components/base/Card/cardCourse';
import coursePopup from '@base/components/program/manage/Course.vue';
import eventCard from '@base/components/marketplace/EventCard';

export default {
    name: 'Course',
    components: {
        cardCourse,
        coursePopup,
        eventCard,
    },
    data() {
        return {
            courses: [

            ],
            search: null,
            pagination: {
                total: 0,
                currentPage: 1,
                perPage: 12,
                items: 0,
            },
            visibleCoursePopup: false,
            typeFilter: 'course',
        }
    },
    watch: {
        'search': function (val){
            if (val == ''){
                this.getSearchProgram(this.pagination.currentPage);
            }
        },
        'pagination.currentPage': function (val) {
            this.getSearchProgram(this.pagination.currentPage);
        },
        'pagination.perPage': function (val) {
            this.getSearchProgram(this.pagination.currentPage);
        },
        'typeFilter': function () {
            this.getSearchProgram(this.pagination.currentPage);
        }
    },
    mounted() {
        this.getSearchProgram(this.pagination.currentPage);
    },
    methods: {
        getSearchProgram(page) {
            this.pagination.currentPage = page;
            getCourses({
                organization_id: this.$route.params.id,
                search: this.search,
                group_type: this.group_type,
                type: this.typeFilter,
                speciality_type: this.speciality_type,
                qty: this.pagination.perPage,
                page: this.pagination.currentPage,
            })
                .then((response) => {
                    this.courses = response.data.courses.data;
                    this.pagination.total = response.data.courses.total;
                });
        },
        closePopup() {
            this.visibleCoursePopup = false;
            this.getSearchProgram(this.pagination.currentPage);
        },
    },
};
</script>

