<template>
    <div class="container">
        <div v-if="permissions.moderation_organization_rooms">
            <div class="pt-20 d-flex justify-content-between">
                <div class="fs-32 fs-sm" />
                <div>
                    <a
                        id="btnAddLectureRoom"
                        class="btn btn-create"
                        href="javascript:void(0)"
                        @click="showAddLectureRoom()"
                    > Добавить</a>
                </div>
            </div>
        </div>
        <main class="edu-timetable py-4">
            <div class="container">
                <div class="timetable">
                    <div
                        class="lesson row"
                    >
                        <div class="col-lg-2 m-auto pb-10">
                            <span class="fs-sm fs-20">Название</span>
                        </div>

                        <div class="col-lg-2 m-auto pb-10">
                            <span class="fs-16">Номер аудитори</span>
                        </div>

                        <div class="col-lg-2 m-auto pb-10">
                            <span class="fs-16">Этаж</span>
                        </div>
                        <div
                            v-if="permissions.moderation_organization_rooms"
                            class="col-lg-2 m-auto pb-10"
                        >
                        </div>
                    </div>
                    <div
                        v-for="(row, k) in lectureRoom"
                        :key="k"
                        class="lesson row"
                    >
                        <div class="col-lg-2 m-auto pt-32 pb-10">
                            <span class="fs-sm fs-16">{{ row.name }}</span>
                        </div>

                        <div class="col-lg-2 m-auto pt-32 pb-10">
                            <span class="fs-14">{{ row.number }}</span>
                        </div>

                        <div class="col-lg-2 m-auto pt-32 pb-10">
                            <span class="fs-14">{{ row.floor }}</span>
                        </div>
                        <div
                            v-if="permissions.moderation_organization_rooms"
                            class="col-lg-2 m-auto pt-32 pb-10"
                        >
                            <i
                                class="btn-fa fa fa-lg fa-pencil-square-o"
                                aria-hidden="true"
                                @click="updateLectureRoom(row.id)"
                            />
                            <i
                                class="btn-fa fa fa-lg fa-trash"
                                aria-hidden="true"
                                @click="deleteLectureRoom(row.id)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <EduManageLectureRoom
            :organization="organization"
            :permissions="permissions"
            :lecture-room_id="lectureRoom_id"
            :roles="hasRole"
            :set-null-room-i-d="setNullRoomID"
        />
    </div>
</template>

<script>
import EduManageLectureRoom from '@base/components/org/edu/tab/manage/LectureRoom.vue';
import { defOrganization } from '@base/inc/defaults/app';
import { mapMutations, mapGetters } from 'vuex';

export default {
    name: 'OrgEduTabLectureRoom',
    components: {
        EduManageLectureRoom,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
        hasRole: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            lectureRoom_id: null,
            lectureRoom: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasUpdateLectureRoom() {
            return this.getStore('update.org.lectureRoom');
        },
    },
    watch: {
        hasUpdateLectureRoom(val) {
            if (val.includes(this.organization.id)) {
                val.pop(this.organization.id);
                this.getLectureRoom('local');
            }
        },
        'organization.id': function (val) {
            if (val !== 'undefined') {
                this.getLectureRoom('local');
            }
        },
    },
    mounted() {
        if (typeof this.organization.id !== 'undefined') {
            this.getLectureRoom('local');
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        setNullRoomID() {
            this.lectureRoom_id = 0;
        },
        showAddLectureRoom() {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                const modal = this.getStore('modal.org.addLectureRoom');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.lectureRoom_id = 0;
                this.setStore({ key: 'modal.org.addLectureRoom', data: modal });
            }
        },
        deleteLectureRoom(id) {
            const url = `/api/v1/organizations/${this.organization.id}/rooms/${id}`;

            this.$axios.delete(url)
                .then(() => {
                    this.getLectureRoom('local');
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        updateLectureRoom(id) {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.addLectureRoom');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.lectureRoom_id = id;
                this.setStore({ key: 'modal.org.addLectureRoom', data: modal });
            }
        },
        getLectureRoom(loading) {
            const url = `/api/v1/organizations/${this.organization.id}/rooms`;
            const params = {
            };


            this.$axios.get(url, { params },
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.lectureRoom = response.data.data.rooms;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
    },
};
</script>
