<template>
    <main class="edu-teachers">
        <div class="container">
            <nav
                v-if="permissions.moderation_org_teacher"
                class="nav red pt-2 flex-row flex-nowrap justify-content-xxl-center"
            >
                <li
                    class="nav-item"
                    :class="tab === 'user' ? 'active' : ''"
                >
                    <a
                        class="nav-link pointer"
                        :class="tab === 'user' ? 'router-link-exact-active router-link-active' : ''"
                        @click="tab = 'user'"
                    >Просмотр</a>
                </li>
                <li
                    class="nav-item"
                    :class="tab === 'edit' ? 'active' : ''"
                >
                    <a
                        class="nav-link pointer"
                        :class="tab === 'edit' ? 'router-link-exact-active router-link-active' : ''"
                        @click="tab = 'edit'"
                    >Редактирование</a>
                </li>
            </nav>

            <div class="teachers py-3">
                <filter-user
                    :tab="tab"
                    :hasRole="hasRole"
                    :permissions="permissions"
                    @changeFilter="changeFilter"
                    @searchUser="searchUser"
                    @changeView="changeView"
                    @showModalAddUser="showModalAddUser"
                    @showModalImportUser="showModalImportUser"
                    @showModalGetTemplateImportUser="showModalGetTemplateImportUser"
                />

                <userlist
                    v-if="users"
                    :users="users"
                    :view="filterView"
                    @actionUser="actionTeacher"
                    class="no-gutters my-3 edu-users-list"
                    :class="filterView === 'dots' ? 'row' : ''"
                />

                <div class="pt-5 center">
                    <PagePagination
                        :route-name="'org.edu.user'"
                        :route-params="{ page: 1 }"
                        :pagination="pagination"
                    />
                </div>
            </div>
        </div>

        <import-users-modal
            v-if="permissions.moderation_org_teacher"
            :show="showModal.importUsersModal"
            :organization="organization"
            @closePopup="closeModalImportUser"
        />

        <get-template-import-user-modal
            v-if="permissions.moderation_org_teacher"
            :show="showModal.getTemplateImportUser"
            :organization="organization"
            @closePopup="hideModalGetTemplateImportUser"
        />
        <EduManageUser
            v-if="permissions.moderation_org_teacher"
            :organization="organization"
            :permissions="permissions"
            :user="editUser"
            :roles="hasRole"
        />
        <EduAddUser
            v-if="permissions.moderation_org_teacher"
            :organization="organization"
            :permissions="permissions"
            :roles="hasRole"
            :show="showModal.addUser"
            :fn-modal-hide="hideModalAddUser"
            :fn-refresh-user-list="refreshUserList"
        />
    </main>
</template>

<script>
import EduManageUser from '@base/components/org/edu/tab/manage/User';
import EduAddUser from '@base/components/org/edu/tab/manage/add/User';
import { defOrganization, defNews } from '@base/inc/defaults/app';
import Paginate from '@base/inc/func/Paginate';
import PagePagination from '@base/components/inc/Paginate';
import { mapGetters, mapMutations } from 'vuex';
import userlist from '@base/components/org/base/User/Userlist';
import FilterUser from '@base/components/org/base/User/filter';
import GetTemplateImportUserModal from '../../base/User/getTemplateImportUserModal';
import ImportUsersModal from '../../base/User/importUsersModal';

export default {
    name: 'OrgEduTabUser',
    components: {
        GetTemplateImportUserModal,
        EduAddUser,
        EduManageUser,
        PagePagination,
        userlist,
        User,
        FilterUser,
        ImportUsersModal
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                    moderation_org_show: false,
                    moderation_org_teacher: false,
                };
            },
        },
        hasRole: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            showModal: {
                addUser: false,
                getTemplateImportUser: false,
                importUsersModal: false,
            },
            users: [],
            editUser: {},
            competencies: [],
            tab: 'user',
            filter: {
                table: 'dots',
                attached: false,
                role_id: 0,
                user: '',
                url: '',
                competence: {},
                order: 'asc',
                page: 1,
                per_page: 16,
            },
            search: {
                user: '',
                competence: '',
            },
            searched: {
                user: '',
                competence: '',
            },
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            filterView: 'dots',
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasUpdateTeacher() {
            return this.getStore('update.org.teacher');
        },
    },
    watch: {
        'organization.id': function (val) {
            if (typeof val === 'number' && val) {
                this.updateUser();
            }
        },
        tab() {
            if (this.$route.params.page != "1" ) {
                this.$router.push({ name: 'org.edu.user', params: { page: '1', id:  this.organization.id } })
                                .catch((error) => {});
            }
            this.filter.page=1;
            this.updateUser();
        },
        hasUpdateTeacher(val) {
            if (typeof this.organization.id === 'number') {
                if (val.includes(this.organization.id)) {
                    val.pop(this.organization.id);
                    this.setStore({ key: 'update.org.teacher', data: val });
                    this.getUsers();
                }
            }
        },
    },
    created() {
        this.editUser = defNews;
    },
    mounted() {
        this.updateUser();
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        changeView(val) {
            this.filterView = val;
        },
        changeFilter(val) {
            this.filter = { ...this.filter, ...val };
            this.getUsers();
        },
        searchUser(val) {
            this.search.user = val;
            this.getUsers();
        },
        updateUser() {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                this.filter.url = `/api/v1/organizations/${this.organization.id}/users`;
                if (this.tab === 'edit') {
                    this.filter.url = '/api/v1/users';
                }
                this.getUsers();
            }
        },
        getUsers() {
            const params = {};
            params.search = this.search.user;
            if (this.filter.order) {
                params.order_by = 'firstname';
                params.order_direction = this.filter.order;
            }
            if (this.filter.competence_id) {
                params.competence_id = this.filter.competence_id;
            }
            if (this.tab === 'edit') {
                params.attached = this.filter.attached ? 1 : 0;
                params.organization_id = this.organization.id;

                if (this.filter.attached && this.filter.role_id) {
                    params.organization_role_id = this.filter.role_id;
                }
            } else if (this.filter.role_id) {
                params.role_id = this.filter.role_id;
            }

            params.with_competence = 1;
            params.page = this.filter.page;
            params.qty = this.filter.per_page;


            this.$axios.get(this.filter.url, { params })
                .then((response) => {

                    this.users = response.data.data.users.data;
                    this.pagination = Paginate.calculate(response.data.data.users);
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        actionTeacher(user) {
            if (this.tab === 'edit') {
                this.editUser = user;
                this.showManageTeacher();
            } else {
                this.editUser = {};
            }
        },
        showManageTeacher() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.teacher');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.setStore({ key: 'modal.org.teacher', data: modal });
            }
        },
        findTeacherRoleIds() {
            const result = [];
            const teacher = this.hasRole.find((role) => role.name === 'teacher');
            if (teacher) {
                result.push(teacher.id);
            }
            return result;
        },
        showModalAddUser() {
            this.showModal.addUser = true;
        },
        showModalImportUser(){
            this.showModal.importUsersModal = true;
        },
        closeModalImportUser(){
            this.showModal.importUsersModal = false;
        },
        showModalGetTemplateImportUser(){
            this.showModal.getTemplateImportUser = true;
        },
        hideModalGetTemplateImportUser(){
            this.showModal.getTemplateImportUser = false;
        },
        hideModalAddUser() {
            this.showModal.addUser = false;
        },
        refreshUserList() {
            this.getUsers();
        },
        updateRoute(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getUsers();
        },
    },
        beforeRouteUpdate (to, from, next) { // eslint-disable-line
        this.updateRoute(to);
        next();
    },
};
</script>

<style>
</style>
