<template>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 pt-20  input-group system-search">
                <input
                    v-model="search"
                    type="text"
                    placeholder="Искать ОП"
                    aria-label="Искать ОП"
                    class="form-control"
                >
                <div
                    class="input-group-append mr-auto"
                    @click="getProgram('local', 1)"
                >
                    <span
                        id="search"
                        class="input-group-text"
                    >
                        <img src="/images/search.svg">
                    </span>
                </div>
            </div>
            <div
                v-if="permissions.moderation_org_prog"
                class="col-lg-2 pt-20 "
            >
                <select
                    v-model="show"
                    class="custom-select"
                >
                    <option
                        value="1"
                        selected
                    >
                        Показать видимые
                    </option>
                    <option value="0">
                        Показать скрытые
                    </option>
                </select>
            </div>
            <div class="col-lg-2 pt-20 ">
                <select
                    v-model="order"
                    class="custom-select"
                >
                    <option
                        value="desc"
                        selected
                    >
                        Популярные наверх
                    </option>
                    <option value="asc">
                        Популярные вниз
                    </option>
                </select>
            </div>

            <div
                v-if="permissions.moderation_org_prog"
                class="pt-20  d-flex ml-auto"
            >
                <a
                    id="btnAddLectureRoom"
                    class="btn btn-create"
                    href="javascript:void(0)"
                    @click="showModalProgram({ 'add': $route.params.id })"
                > Добавить</a>
            </div>
        </div>
        <main>
            <div class="pt-3 pb-40 edu-programs">
                <div
                    v-for="(row, k) in programs"
                    :key="k"
                >
                    <div class="edu-program">
                        <router-link
                            :to="{
                                name: 'org.edu.programview',
                                params: { id_program: row.id, id: organization.id, page: 1 }
                            }"
                            class="title white"
                        >
                            <div>
                                <div
                                    class="m-auto logo"
                                    :style="(organization.logo) ? 'background-image: url(' + organization.logo + ')'
                                        : 'background-image: url(\'/images/logos/default_logo.svg\')'"
                                />
                            </div>
                            <div class="pt-20 title gray">
                                Образовательная программа
                            </div>
                            <div class="fs-18 fs-sm lh-32">
                                {{ row.name }}
                            </div>
                            <div class="d-flex justify-content-between pt-32 title gray">
                                <div v-if="program.type == 'long'">
                                    СПО
                                </div>
                                <div v-if="program.type == 'short'">
                                    Краткосрочная
                                </div>
                                <div>
                                    Дисциплин: {{ row.courses_count }}
                                </div>
                                <div style="display: none">
                                    Модулей:
                                </div>
                                <div style="display: none;">
                                    Занятий:
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row pb-20">
                <div class="col-lg-2 d-flex flex-row align-items-center">
                    <span>Программ</span>
                    <select
                        v-model="qte"
                        class="custom-select ml-20"
                    >
                        <option
                            value="6"
                            selected
                        >
                            6
                        </option>
                        <option value="12">
                            12
                        </option>
                        <option value="18">
                            18
                        </option>
                    </select>
                </div>
                <div class="col-lg-8 m-auto align-items-center">
                    <paginate-cmp
                        :route-name="'org.edu.program'"
                        :route-params="{ page: 2 }"
                        :pagination="pagination"
                    />
                </div>
                <div class="col-lg-2 d-flex flex-row" />
            </div>
        </main>
        <EduManageProgram
            :organization_id="organization.id"
            :permissions="permissions"
            :program_id="program_id"
            :set-null-program-i-d="setNullProgramID"
            :program-prop="program"
        />
    </div>
</template>

<script>
import EduManageProgram from '@base/components/program/manage/Program.vue';
import { defOrganization, defProgram } from '@base/inc/defaults/app';
import { mapGetters, mapMutations, createNamespacedHelpers } from 'vuex';
import deepClonestart from 'clonedeep';
import PaginateCmp from '@base/components/inc/Paginate.vue';
import Paginate from '@base/inc/func/Paginate';

const programs = createNamespacedHelpers('programs');
export default {
    name: 'OrgEduTabProgram',
    components: { EduManageProgram, PaginateCmp },
    props: {
        organization: {
            type: Object,
            default: () => ({ defOrganization }),
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
    },
    data() {
        return {
            program_id: null,
            programs: [],
            program: {},
            pagination: {
                page: {},
                page_current: 0,
                prev: { show: false, page: 0 },
                next: { show: false, page: 0 },
            },
            filter: {
                page: 1,
                per_page: 2,
            },
            order: 'desc',
            search: null,
            qte: 6,
            show: 1,
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
        hasUpdateProgram() {
            return this.getStore('updata.org.program');
        },
    },
    watch: {
        $route(to) {
            if (typeof to.params.page !== 'undefined' && to.params.page !== this.filter.page) {
                this.filter.page = to.params.page;
            } else {
                this.filter.page = 1;
            }
            this.getProgram('local');
        },
        order() {
            this.getProgram('local');
        },
        qte() {
            if (this.$route.params.page != 1) { // eslint-disable-line
                this.$router.push({ name: 'org.edu.program', params: { page: '1' } });
            } else {
                this.getProgram('local');
            }
        },
        show() {
            this.getProgram('local');
        },
        hasUpdateProgram(val) {
            if (val.includes(this.organization.id)) {
                val.pop(this.organization.id);
                this.getProgram('local');
            }
        },
        'organization.id': function (val) {
            if (val !== 'undefined') {
                this.getProgram('local');
            }
        },
    },
    created() {
        if (this.$route.params.page !== 1) {
            this.filter.page = this.$route.params.page;
        }
    },
    mounted() {
        if (typeof this.organization.id !== 'undefined') {
            this.getProgram('local');
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        ...programs.mapActions({
            showModalProgram: 'SHOW_MODAL',
        }),
        setNullProgramID() {
            this.program_id = 0;
            this.program = { ...defProgram };
            this.getProgram('local');
        },
        showAddProgram() {
            if (typeof this.organization.id === 'number' && this.organization.id) {
                const modal = this.getStore('modal.org.addProgram');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.program_id = 0;
                this.setStore({ key: 'modal.org.addProgram', data: modal });
            }
        },
        deleteProgram(id) {
            const url = `/api/v1/programs/${id}`;

            this.$axios.delete(url, { _method: 'DELETE' })
                .then(() => {
                    this.getProgram('local');
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        updateProgram(id) {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.addProgram');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.program_id = id;
                this.program = deepClonestart(...this.programs.filter((el) => el.id === id));
                this.setStore({ key: 'modal.org.addProgram', data: modal });
            }
        },
        getProgram(loading, page) {
            if (page) {
                this.filter.page = page;
            }

            this.$axios.get('/api/v1/programs/', {
                params: {
                    order_by: 'popularity',
                    order: this.order,
                    show: this.show,
                    search: this.search,
                    organization_id: this.organization.id,
                    qty: this.qte,
                    page: this.filter.page,
                },
            },
            { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.programs = response.data.data.programs.data;
                    this.pagination = Paginate.calculate(response.data.data.programs);
                })
                .catch(() => {

                })
                .finally(() => {

                });
        },
    },
};

</script>
