<template>
    <div class="container">
        <div v-if="permissions.moderation_organization_schedule">
            <div class="pt-2 d-flex justify-content-between">
                <div class="fs-32 fs-sm" />
                <div>
                    <a
                        id="btnAddNews"
                        class="btn btn-create"
                        href="javascript:void(0)"
                        @click="showAddSchedule()"
                    > Добавить</a>
                </div>
            </div>
        </div>
        <main class="timetable  py-4">
            <div class="row">
                <base-grid
                    class="col-lg-8"
                    :columns="gridColumns"
                    :filter-key="searchQuery"
                    :prop-data="schedule"
                    :title-column="gridTitleColumns"
                    :update-schedule="updateSchedule"
                    :delete-schedule="deleteSchedule"
                    :permission="permissions.moderation_organization_schedule"
                >
                </base-grid>
            </div>
        </main>
        <EduManageSchedule
            :organization="organization"
            :permissions="permissions"
            :schedule_id="schedule_id"
            :roles="hasRole"
        />
    </div>
</template>

<script>
import EduManageSchedule from '@base/components/org/edu/tab/manage/Schedule.vue';
import { mapMutations, mapGetters } from 'vuex';
import { defOrganization } from '@base/inc/defaults/app';
import BaseGrid from '@base/components/org/edu/tab/base/Grid';

export default {
    name: 'OrgEduTabSchedule',
    components: {
        EduManageSchedule,
        BaseGrid,
    },
    props: {
        organization: {
            type: Object,
            default: defOrganization,
        },
        permissions: {
            type: Object,
            default() {
                return {
                    moderation_org: false,
                };
            },
        },
        hasRole: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            schedule_id: null,
            schedule: [],
            searchQuery: '',
            gridColumns: ['lesson_number', 'started_at', 'finished_at', 'break'],
            gridTitleColumns: ['№ пары', 'Начало', 'Окончание', 'Перерыв'],
            invalid: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'getStore',
        ]),
        hasUpdateShedule() {
            return this.getStore('update.org.schedule');
        },
    },
    watch: {
        hasUpdateShedule(val) {
            if (val.includes(this.organization.id)) {
                val.pop(this.organization.id);
                this.getSchedule('local');
            }
        },
        'organization.id': function (val) {
            if (val !== 'undefined') {
                this.getSchedule('local');
            }
        },
    },
    mounted() {
        if (typeof this.organization.id !== 'undefined') {
            this.getSchedule('local');
        }
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        showAddSchedule() {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.addSchedule');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.schedule_id = 0;
                this.setStore({ key: 'modal.org.addSchedule', data: modal });
            }
        },
        deleteSchedule(id) {
            const url = `/api/v1/organizations/${this.organization.id}/schedules/${id}`;

            this.$axios.post(url, {
                _method: 'DELETE',
            }).then(() => {
                this.getSchedule('local');
            })
                .catch(() => {

                })
                .finally(() => {
                });
        },
        updateSchedule(id) {
            if (typeof this.organization.id === 'number') {
                const modal = this.getStore('modal.org.addSchedule');
                if (!modal.includes(this.organization.id)) {
                    modal.push(this.organization.id);
                }
                this.schedule_id = id;
                this.setStore({ key: 'modal.org.addSchedule', data: modal });
            }
        },
        getSchedule(loading) {
            const url = `/api/v1/organizations/${this.organization.id}/schedules`;
            const params = {

            };



            this.$axios.get(url, { params },
                { headers: { 'Content-Type': 'multipart/form-data' } })
                .then((response) => {

                    this.schedule = response.data.data.schedules;
                })
                .catch(() => {

                })
                .finally(() => {
                });
        },
    },
};
</script>
