<template>
<popup :caption="caption" @closePopup="closePopup">
    <template v-slot:body>


        <b-tabs content-class="mt-3">
            <b-tab title="Основные" active>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-2">
                            <label
                                class="title gray"
                                for="course_name"
                            >Название</label>
                            <input
                                id="course_name"
                                v-model="currCourse.name"
                                type="text"
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-2">
                            <label>Логотип</label>
                            <input
                                ref="logo"
                                type="file"
                                class="form-control btn btn-download"
                                @change="handleFileUpload()"
                            >

                            <img
                                v-if="currCourse.preview"
                                class="w-100 my-2"
                                :src="currCourse.preview"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-2">
                            <b-form-checkbox
                                v-model="currCourse.free_enroll"
                                switches
                                stacked
                            >
                                Свободная запись
                            </b-form-checkbox>
                        </div>
                        <div class="form-group mb-2">
                            <b-form-checkbox
                                v-model="currCourse.certificate"
                                switches
                                stacked
                            >
                                Выдается сертификат
                            </b-form-checkbox>
                        </div>
                    </div>

                    <div
                        class="col-lg-6"
                        v-if="typeCourse === 'course'"
                    >
                        <div class="form-group mb-2">
                            <label>Количество часов</label>
                            <input
                                class="form-control"
                                type="number"
                                v-model="currCourse.couples_count"
                            >
                        </div>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Индикаторы">
                <label>Добавленные индикаторы</label>
                <div class="d-flex flex-wrap">
                    <div
                        v-for="(row,k) in currCourse.indicator_levels"
                        class="alert alert-secondary justify-content-center fade show d-flex mr-2 mb-2"
                    >
                        <div>
                            i{{ row.indicator_id }}.{{ row.level}} {{ row.name }}
                            <input
                                v-if="currCourse.type == 'event'"
                                type="checkbox"
                                v-model="row.pivot.can_teaching"
                                v-b-tooltip="'Может быть спикером'"
                            />
                        </div>
                        <div class="ml-2">
                            <a
                                @click="deleteIndicatorLevelFromCourse(k)"
                                class="fa fa-trash"
                            />
                        </div>
                    </div>
                </div>
                <div
                    class="pt-2"
                    v-if="indicator_levels_add_show"
                >
                    <label>Индикаторы в системе</label>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Индикатор</td>
                            <td>Уровни</td>
                        </tr>
                        </thead>
                        <tr
                            v-for="(indicator, id) in indicators"
                            :key="id"
                        >
                            <td>
                                {{ indicator.id }}
                            </td>
                            <td>
                                {{ indicator.name }}
                            </td>
                            <td>

                                <div
                                    v-for="level in indicator.levels"
                                >
                                    {{ level.level }}
                                    <a
                                        @click="addIndicatorLevelToCourse(level)"
                                        class="fa fa-plus-circle"
                                        v-if="currCourse.indicator_levels.filter((item) => { return item.id == level.id }).length == 0"
                                    />
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="col-lg-12 row py-2">
                        <b-pagination
                            v-model="page"
                            :total-rows="pagination.total"
                            :per-page="pagination.perPage"
                            aria-controls="my-table"
                            class="m-auto"
                        ></b-pagination>
                    </div>
                </div>
            </b-tab>
            <b-tab title="Редактор формулы индикаторов">
                <div class="col-lg-12">
                    <FormulaConstructor :visibleKeyCalculate="['operatorLogic']" v-model="formula">
                        <template v-slot:customIndicator>
                            <div v-if="indicator_levels_add_show">
                                <draggable
                                    :list="currCourse.indicator_levels"
                                    :group="{ name: 'calculator', pull: 'clone', put: false }"
                                    :clone="cloneLog"
                                    class="calculator__indicator"
                                >
                                    <div  v-for="(el, id) in currCourse.indicator_levels" :key="id">
                                        <div class="calculator-key calculator-key__indicator">
                                            <span class="fs-20 mt-2 ml-4 mr-4">{{ indicatorLevelFormula(el) }}</span>
                                        </div>
                                    </div>
                                </draggable>
                            </div>
                        </template>
                    </FormulaConstructor>

                </div>
            </b-tab>

            <b-tab title="Доступ к курсу" v-if="currCourse.type == 'course'">
                <div class="row mb-2">
                    <div class="col-lg-3">
                        <select
                            class="form-control"
                            v-model="addCardId"
                        >
                            <option v-for="row in userCardTemplates.data" :value="row.id">{{ row.name }}</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <a
                            class="btn btn-success"
                            @click="addCard"
                        >
                            Добавить
                        </a>
                    </div>
                </div>

                <div v-for="(access,k) in currCourse.access_by_user_cards">
                    <div class="card mb-2">
                        <div class="card-header d-flex">
                            {{ access.id }}
                            <div class="ml-auto">
                                <a @click="removeCard(access.id)" class="fa fa-trash"/>
                            </div>
                        </div>
                        <div
                            class="card-body"
                            v-if="cardTemplates[access.user_card_template_id]"
                        >
                            <div class="row">
                                <div v-for="field in cardTemplates[access.user_card_template_id]" class="col-lg-6">
                                    <div class="form-group">
                                        <label>
                                            {{ field.name }}
                                        </label>
                                        <input
                                            v-if="field.type == 'text' || field.type == 'date' || field.type == 'number'"
                                            class="form-control"
                                            :type="field.type"
                                            v-model="currCourse.access_by_user_cards[k].filter[field.id]"
                                        />

                                        <select
                                            v-if="field.type == 'select'"
                                            class="form-control"
                                            v-model="currCourse.access_by_user_cards[k].filter[field.id]"
                                        >
                                            <option :value="null">Выбрать</option>
                                            <option v-for="val in field.data" :value="val">{{ val }}</option>
                                        </select>
                                        <div
                                            v-if="field.type == 'checkbox'"
                                            v-model="currCourse.access_by_user_cards[k].filter[field.id]"
                                        >
                                            <input
                                                class="custom-checkbox"
                                                :type="field.type"
                                                :disabled="!field.editable"
                                            />
                                        </div>
                                        <textarea
                                            v-model="currCourse.access_by_user_cards[k].filter[field.id]"
                                            class="form-control"
                                            v-if="field.type == 'textarea'"
                                            :type="field.type"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </b-tab>
        </b-tabs>



        <div class="row pt-32">
            <div class="col-lg-12 py-2">
                <SuccessError :show="{success, not_success}" />
            </div>
        </div>
    </template>

    <template v-slot:footer>
        <button class="btn" @click="submit()">
            Сохранить
        </button>
    </template>
</Popup>
</template>

<script>
import { mapGetters, mapMutations, createNamespacedHelpers } from 'vuex';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import { getIndicators } from '@base/api/indicators.js';
import Popup from '@base/components/base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import FormulaConstructor from "@base/components/formula-constructor/FormulaConstructor";
import deepClone from 'clonedeep';

import {
    getCardTemplate,
} from '@base/api/user-card';

import {
    updateCourseV2,
} from '@base/api/courses';

const courses = createNamespacedHelpers('courses');

export default {
    name: 'CourseUpdateInfo',
    components: {
        SuccessError,
        Popup,
        FormulaConstructor,
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        course: {},
        typeCourse: {
            type: String,
            default: 'course',
        }
    },
    mixins: [mixSuccess],
    data() {
        return {
            indicator_levels_add_show: false,
            name: '',
            type: 'course',
            indicators: [],
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 12
            },
            page: 1,
            currCourse: deepClone(this.course),
            formula: {
                formula: this.course.indicator_level_formula,
                structure: this.course.indicator_level_formula_structure,
            },
            userCardTemplates: {
                data: [],
                per_page: 10,
                current_page: 1
            },
            addCardId: null,
            filtersData: {}
        };
    },
    watch: {
        page(val) {
            this.getIndicators();
        }
    },
    computed: {
        caption() {
            if (this.typeCourse === 'event') {
                return this.currCourse.id ? 'Обновить мероприятие' : 'Добавить мероприятие'
            } else {
                return this.currCourse.id ? 'Обновить курс' : 'Добавить курс'
            }
        },
        cardTemplates(){
            var data = {};
            this.userCardTemplates.data.forEach(card => {
                data[card.id] = card.fields
            })
            return data
        },
    },
    created() {
        this.showIndicatorLevelsAdd();
        this.getCards();
    },
    methods: {
        // calcFiltersData(){
        //     this.course.access_by_user_cards.forEach(row => {
        //         var filterData = {};
        //         this.cardTemplates[row.user_card_template_id].forEach(f => {
        //             filterData[f.id] = row[f.id]
        //         })
        //     })
        // },
        ...courses.mapActions({
            updateCourse: 'UPDATE_COURSE',
        }),
        cloneLog(el) {
            return { indicator:  this.indicatorLevelFormula(el), name: 'custom-indicator', level_id: el.id };
        },
        changeProps(val) {
            //this.getCourse(val);
        },
        indicatorLevelFormula(el) {
            return 'i' + el.indicator_id + '.' +  el.level;
        },
        submit() {
            this.updateCourse({ ...this.currCourse, ...{formula: this.formula}, ...{ id: this.currCourse.id } }).then(data => {
                this.currCourse.preview = data.preview;
                this.mixShow('success');
            })
            .catch((e) => {
                this.mixShow('error');
            });


        },
        showIndicatorLevelsAdd(){
            this.indicator_levels_add_show = true;
            this.getIndicators();
        },
        handleFileUpload() {
            if (this.$refs.logo.files[0]) {
                this.currCourse.programPreview = this.$refs.logo.files[0];
            }
        },
        closePopup() {
            this.$emit('closePopup')
        },
        addIndicatorLevelToCourse(item){
            item.pivot = {};
            item.pivot.can_teaching = false;
            this.currCourse.indicator_levels.push(item);
        },
        deleteIndicatorLevelFromCourse(k){
            this.currCourse.indicator_levels.splice(k,1);
        },
        getIndicators(){
            getIndicators({
                page: this.page,
                with: [
                    'levels'
                ]
            }).then(response => {
                this.indicators = response.data.data.indicators.data;
                this.pagination.total = response.data.data.indicators.total;
            })
        },
        getCards() {
            getCardTemplate({
                qty: 999,
                'with[]': 'fields',
                page: 1,
            }).then((response) => {
                this.userCardTemplates = response.userCardTemplates;
            });
        },
        addCard(){
            var data = {};
            data._method = 'patch'
            data.id = this.currCourse.id
            data.action = "add-access-by-user-card";
            data.card_id = this.addCardId;

            updateCourseV2(data).then((response) => {
                this.currCourse.access_by_user_cards = response.data.data.course.access_by_user_cards
                this.addCardId = null
            })
        },
        removeCard(access_id){
            var data = {};
            data._method = 'patch'
            data.id = this.currCourse.id
            data.action = "remove-access-by-user-card";
            data.access_id = access_id;

            updateCourseV2(data).then((response) => {
                this.currCourse.access_by_user_cards = response.data.data.course.access_by_user_cards
            })
        }
    },
};
</script>

<style>
    .nav {
        overflow-x: unset;
    }
</style>
