<template>
    <popup :caption="'Создать курс'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row pt-32">
                <div class="col-lg-6 m-auto">
                    <div class="form-group mb-2">
                        <label
                            class="title gray"
                            for="name_program"
                        >Название</label>
                        <input
                            id="name_program"
                            v-model="course.name"
                            type="text"
                            class="form-control"
                            :class="('name' in errors) ? 'is-invalid' : ''"
                        >
                        <div
                            v-if="'type' in errors"
                            class="invalid-feedback"
                        >
                        <span
                            v-for="(message, k) in errors.name"
                            :key="k"
                        >{{ message }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <label
                            class="title gray"
                            for="name_program"
                        >Тип</label>
                        <select
                            v-model="course.type"
                            class="custom-select mr-2"
                            :class="('type' in errors) ? 'is-invalid' : ''"
                        >
                            <option value="course">Курсы</option>
                            <option value="event">Мероприятия</option>
                        </select>
                </div>
                <div class="col-lg-3">
                    <label class="title gray upper">Логотип</label>
                    <input
                        ref="logo"
                        type="file"
                        class="form-control btn btn-download"
                        :class="('logo' in errors) ? 'is-invalid' : ''"
                        @change="handleFileUpload()"
                    >
                    <div
                        v-if="'logo' in errors"
                        class="invalid-feedback"
                    >
                    <span
                        v-for="(message, k) in errors.logo"
                        :key="k"
                    >{{ message }}</span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label
                            class="title gray"
                        >Описание</label>
                        <textarea
                            v-model="course.description"
                            rows="8"
                            class="form-control"
                            :class="('name' in errors) ? 'is-invalid' : ''"
                        />
                    </div>
                </div>
            </div>
            <div
                v-if="program && program.type == 'long'"
                class="row pt-32"
            >
                <div class="col-lg-6 m-auto row">
                    <div class="col-lg-12">
                        Семестры:
                    </div>
                    <div
                        v-for="(count, id) in program.count_semesters"
                        :key="id"
                    >
                        <div
                            v-if="course.semesters"
                            class="col-lg-2"
                        >
                            <input
                                v-model="course.semesters[count]"
                                type="checkbox"
                                class=""
                                :class="('show' in errors) ? 'is-invalid' : ''"
                            > {{ count }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6 m-auto">
                    <SuccessError :show="{ not_success, success }" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn" @click="submit()">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import { mapGetters, mapMutations, createNamespacedHelpers } from 'vuex';
import { defCourse } from '@base/inc/defaults/app';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Popup from '@base/components/base/Popup';
const courses = createNamespacedHelpers('courses');

import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

export default {
    name: 'CourseCreate',
    components: {
        SuccessError,
        Popup,
        validSign,
    },
    mixins: [mixSuccess],
    props: {
        program: {},
        course_prop: {},
        course_id: {
            type: Number,
            default: 0,
        },
        organization_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            name: '',
            course: {
                type: 'event',
            },
            show: false,
            errors: [],
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
        hasAddCourse() {
            return this.getStore('modal.org.addCourse');
        },
    },
    watch: {
        hasAddCourse(val) {
            if (typeof this.program_id === 'number') {
                this.show = val.includes(this.program_id);
            }
        },
        show(val) {
            if (val) {
                if (!this.course) {
                    this.course = {};
                }
                if (!this.course.semesters) {
                    this.course.semesters = [];
                }
                for (let i = 1; i <= this.program.count_semesters; i += 1) { // выведет 0, затем 1, затем 2
                    if (!this.course.semesters[i]) {
                        this.course.semesters[i] = false;
                    }
                }
            }

            if (val) {
                if (this.course_prop) {
                    this.course = this.course_prop;
                }
            }
        },
        course_id(val) {
            if (typeof val === 'number' && val > 0) {
                this.changeProps(val);
            }
        },
    },
    methods: {
        ...mapMutations([
            'setStore',
        ]),
        ...courses.mapActions({
            addCourse: 'ADD_COURSE',
            updateCourse: 'UPDATE_COURSE',
        }),

        async submit() {
            if (this.$route.params.course !== undefined) {
                try {
                    await this.updateCourse({ ...this.course, ...{ id: this.$route.params.course } });
                    this.mixShow('success');
                } catch (e) {
                    this.mixShow('error');
                }

            } else if (this.organization_id) {
                this.course.organization_id = this.organization_id;
                try {
                    await this.addCourse(this.course);
                    this.mixShow('success');
                } catch (e) {
                    this.mixShow('error');
                }
            }
        },
        handleFileUpload() {
            if (this.$refs.logo.files[0]) {
                this.course.programPreview = this.$refs.logo.files[0];
            }
        },
        closePopup() {
            this.$emit('closePopup');
        },
    },
};
</script>
