<template>
    <div>
        <div
            class="show modal fade"
            :class="show ? 'show' : ''"
            :style="show ? 'display: block; overflow-x: hidden; overflow-y: auto;' : 'display: none'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Создание группу
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div
                            class="container"
                            v-if="schedule.length === 0"
                        >
                            <div class="row">
                                <div class="m-auto center">
                                    <h4>Невозможно создать группу:</h4>
                                    <router-link
                                        :to="{name: 'org.edu.schedule', params: {id: organization_id}}"
                                        class="btn btn-red"
                                    >
                                        Заполните расписание звонков
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div
                            class="container"
                            v-else
                        >
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="name">Название группы</label>
                                        <input
                                            id="name"
                                            type="text"
                                            class="form-control"
                                            v-model="group.name"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            placeholder="Отображаемое название"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="name">Видимая</label>
                                        <input
                                            id="show"
                                            type="checkbox"
                                            v-model="group.show"
                                            class="custom-checkbox"
                                            :class="('show' in invalid) ? 'is-invalid' : ''"
                                        >
                                        <div
                                            v-if="'show' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.show"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="started_at">Дата начала обучения</label>
                                        <input
                                            id="started_at"
                                            type="date"
                                            v-model="group.started_at"
                                            :class="('started_at' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'started_at' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.started_at"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="finished_at">Дата конца обучения</label>
                                        <input
                                            id="finished_at"
                                            type="date"
                                            v-model="group.finished_at"
                                            class="form-control"
                                            :class="('finished_at' in invalid) ? 'is-invalid' : ''"
                                        >
                                        <div
                                            v-if="'finished_at' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.finished_at"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="date_check_filling">Крайний день подачи заявок</label>
                                        <input
                                            id="date_check_filling"
                                            type="date"
                                            v-model="group.date_check_filling"
                                            :class="('date_check_filling' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'date_check_filling' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.date_check_filling"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6" />
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="min">Минимальное ко-во людей для набора</label>
                                        <input
                                            id="min"
                                            type="number"
                                            min="1"
                                            v-model="group.min"
                                            :class="('min' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'min' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.min"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="max">Максимальное ко-во людей в группе</label>
                                        <input
                                            id="max"
                                            type="number"
                                            min="1"
                                            v-model="group.max"
                                            :class="('max' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'max' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.max"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div v-if="!group.show">
                                        <b>Группа скрыта, студенты не смогут подавать заявки на обучение в эту группу!</b>
                                    </div>
                                    <div>
                                        Студенты смогут подавать заявки на обучение в эту группу до <b>{{ group.date_check_filling | moment('DD.MM.YYYY')}}</b>.
                                        Если количество заявок на обучение в эту группу будет больше <b>{{ group.min}}</b> - группа будет считаться набранной! <br>
                                        В случае набора, <b>{{ group.started_at | moment('DD.MM.YYYY')}}</b> группа передет в статус "в процессе обучения".<br>
                                        <b>{{ group.finished_at | moment('DD.MM.YYYY')}}</b> группа передет в статус "закончили обучение".<br>
                                        Для последующей корректной работы системы <i>Дата начала обучения</i> <b>должна быть позже</b> <i>Крайний день подачи заявок на обучение</i>.
                                        <br>
                                        <b>Временно разрешено перемещать студентов из одной группы в другую!</b>
                                    </div>
                                </div>
                            </div>


                            <hr>
                            <table class="table" :class="('schedules' in invalid) ? 'is-invalid' : 'table-bordered'">
                                <tr>
                                    <td></td>
                                    <td
                                        v-for="(s, j) in schedule"
                                        :key="j"
                                    >
                                        <div>
                                            Пара {{ s.lesson_number }}
                                        </div>
                                        <div>
                                            {{ s.started_at }} - {{ s.finished_at }}
                                        </div>
                                    </td>
                                </tr>
                                <tr
                                    v-for="(day, k) in days"
                                    :key="k"
                                >
                                    <td class="center">
                                        {{ day }}
                                    </td>
                                    <td
                                        v-for="(s, j) in schedule"
                                        :key="j"
                                    >
                                        <div>
                                            <input
                                                type="checkbox"
                                                v-model="group_schedules[k][s.lesson_number]"
                                            >
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div
                                v-if="'schedules' in invalid"
                                class="invalid-feedback table"
                            >
                                <span
                                    v-for="(message, k) in invalid.schedules"
                                    :key="k"
                                >{{ message }}</span>
                            </div>
                            <div class="row pt-32">
                                <div class="col pb-16 m-auto">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                role="status"
                                aria-hidden="true"
                            />
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="show"
            class="modal-backdrop fade show"
        ></div>
    </div>

</template>

<script>
import { createGroup } from '@base/api/group_course';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';

export default {
    name: 'CourseCreateGroup',
    components: {
        SuccessError,
    },
    data() {
        return {
            schedule: [
            ],
            group_schedules: {
                mon: {},
                tue: {},
                wed: {},
                thu: {},
                fri: {},
                sat: {},
            },
            days: {
                mon: 'Пн',
                tue: 'Вт',
                wed: 'Ср',
                thu: 'Чт',
                fri: 'Пт',
                sat: 'Сб',
            },
            group: {},
        };
    },
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        organization_id: null,
        course_id: null,
    },
    mixins: [Proccess],
    watch: {
        open(val){
            //console.log(val);
        }
    },
    computed: {
        new_schedules() {
            let array_shedules = [];
            for (let [day, lessons] of Object.entries(this.group_schedules)) {
                for (let [id, active] of Object.entries(lessons)) {
                    if (active) {
                        array_shedules.push({ day_week: day, schedule_id: id, week: 1, active: active });
                    }
                }
            }
            return array_shedules;
        }
    },
    mounted() {

        axios.get(`/api/v1/organizations/${this.organization_id}/schedules`)
            .then((response) => {
                this.schedule = response.data.data.schedules;
            })
            .catch(() => {

            });

        let a = {};
        for (let [key, value] of Object.entries(this.days)) {
            a[key] = {};
            for (let [k, v] of Object.entries(this.schedule)) {
                a[key][v.lesson_number] = false;
            }
        }
        this.group_schedules = a;
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            createGroup({ ...this.group, ...{ course_id: this.course_id },  ...{ schedules: this.new_schedules }})
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    setTimeout(() => { this.closePopup(); }, 3000);
                })
                .catch((error) => {
                    this.showErrorMessage(loading, btn, notify, error);
                })
        },
    },
};
</script>
