<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Обновить группу
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div
                            class="container"
                        >
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="name">Название группы</label>
                                        <input
                                            id="name"
                                            type="text"
                                            class="form-control"
                                            v-model="group.name"
                                            :class="('name' in invalid) ? 'is-invalid' : ''"
                                            placeholder="Отображаемое название"
                                        >
                                        <div
                                            v-if="'name' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.name"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" />

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="date_check_filling">Крайний день подачи заявок на обучение</label>
                                        <input
                                            id="date_check_filling"
                                            type="date"
                                            v-model="group.date_check_filling"
                                            :class="('date_check_filling' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'date_check_filling' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.date_check_filling"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="started_at">Дата начала обучения</label>
                                        <input
                                            id="started_at"
                                            type="date"
                                            v-model="group.started_at"
                                            :class="('started_at' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'started_at' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.started_at"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="finished_at">Дата конца обучения</label>
                                        <input
                                            id="finished_at"
                                            type="date"
                                            v-model="group.finished_at"
                                            class="form-control"
                                            :class="('finished_at' in invalid) ? 'is-invalid' : ''"
                                        >
                                        <div
                                            v-if="'finished_at' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.finished_at"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="min">Минимальное ко-во людей для набора</label>
                                        <input
                                            id="min"
                                            type="number"
                                            min="1"
                                            v-model="group.min"
                                            :class="('min' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'min' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.min"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="max">Максимальное ко-во людей в группе</label>
                                        <input
                                            id="max"
                                            type="number"
                                            min="1"
                                            v-model="group.max"
                                            :class="('max' in invalid) ? 'is-invalid' : ''"
                                            class="form-control"
                                        >
                                        <div
                                            v-if="'max' in invalid"
                                            class="invalid-feedback"
                                        >
                                            <span
                                                v-for="(message, k) in invalid.max"
                                                :key="k"
                                            >{{ message }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div v-if="!group.show">
                                    <b>Группа скрыта, студенты не смогут подавать заявки на обучение в эту группу!</b>
                                </div>
                                <div v-if="group.show">
                                    Студенты смогут подавать заявки на обучение в эту группу до <b>{{ group.date_check_filling | moment('DD.MM.YYYY')}}</b>.
                                    Если количество заявок на обучение в эту группу будет больше <b>{{ group.min}}</b> - группа будет считаться набранной! <br>
                                    В случае набора, <b>{{ group.started_at | moment('DD.MM.YYYY')}}</b> группа передет в статус "в процессе обучения".<br>
                                    <b>{{ group.finished_at | moment('DD.MM.YYYY')}}</b> группа передет в статус "закончили обучение".<br>
                                    Для последующей корректной работы системы <i>Дата начала обучения</i> <b>должна быть позже</b> <i>Крайний день подачи заявок на обучение</i>.
                                    <br>
                                    <b>Временно разрешено перемещать студентов из одной группы в другую!</b>
                                </div>
                            </div>

                            <div
                                v-if="'schedules' in invalid"
                                class="invalid-feedback table"
                            >
                                <span
                                    v-for="(message, k) in invalid.schedules"
                                    :key="k"
                                >{{ message }}</span>
                            </div>
                            <div class="row pt-32">
                                <div class="col pb-16 m-auto">
                                    <SuccessError :show="{ not_success, success }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pb-32">
                        <button
                            type="button"
                            class="btn btn-red m-auto"
                            @click="submit()"
                        >
                            <span
                                v-if="spinner.save"
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                            />
                            Обновить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>

</template>

<script>
import { updateGroup, createGroup } from '@base/api/group_course';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import SuccessError from '@base/components/inc/message/SuccessError.vue';

export default {
    name: 'CourseGroupUpdateSchedule',
    components: {
        SuccessError,
    },
    props: {
        prop_group: null,
    },
    mixins: [Proccess],
    watch: {
        open(val){
        }
    },
    data() {
        return {
            spinner: {
                save: false,
            },
            group: {
                id: null,
                name: null,
                max: null,
                min: null,
                started_at: null,
                finished_at: null,
                date_check_filling: null,
                show: false,
            },
        };
    },
    mounted() {
        for(var k in this.group){
            if (this.prop_group[k]){
                this.group[k] = this.prop_group[k];
            }
        }
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
        submit() {
            const loading = 'local';
            const btn = 'save';
            const notify = true;
            this.showProcessMessage(loading, btn);
            this.spinner.save = true;

            updateGroup(this.group)
                .then(() => {
                    this.showSuccessMessage(loading, btn, notify);
                    this.spinner.save = false;
                    setTimeout(() => { this.closePopup(); }, 3000);
                })
                .catch((error) => {
                    this.spinner.save = false;
                    this.showErrorMessage(loading, btn, notify, error);
                })
        },
    },
};
</script>
