<template>
    <popup :caption="caption" @closePopup="closePopup">
        <template v-slot:body>
                <div class="row pt-32">
                    <div class="col-lg-6 m-auto">
                        <div class="form-group mb-2">
                            <label
                                class="title gray"
                                for="name_program"
                            >Название</label>
                            <input
                                id="name_program"
                                v-model="discipline.name"
                                type="text"
                                class="form-control"
                                :class="('name' in invalid) ? 'is-invalid' : ''"
                            >
                            <div
                                v-if="'name' in invalid"
                                class="invalid-feedback"
                            >
                            <span
                                v-for="(message, k) in invalid.name"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-6 m-auto">
                    <SuccessError :show="{ not_success, success }" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn" @click="submit()">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import { mapGetters, createNamespacedHelpers } from 'vuex';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Proccess from '@base/components/inc/mixin/Proccess.vue';
import Popup from '@base/components/base/Popup';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';

const disciplines = createNamespacedHelpers('disciplines');
const courses = createNamespacedHelpers('courses');

export default {
    name: 'EduManageDiscipline',
    components: {
        SuccessError,
        Popup,
    },
    mixins: [mixSuccess],
    props: {
        course_id: {
            type: Number,
            default: 0,
        },
        modul: {
            type: Object,
            default: () => ({})
        },
        disciplineType: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            name: '',
            type: 'course',
            show: false,
            invalid: {},
            spinner: {},
            discipline: { id: this.modul.id, name: this.modul.name },
        };
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
        ...courses.mapGetters({
            course: 'COURSE_DETAIL',
        }),
        caption() {
            return this.disciplineType === 'event' ? ( this.discipline.id ? 'Обновить в рассписании событие' : 'Добавить в рассписание событие'  ) 
            : ( this.discipline.id ? 'Обновить дисциплину' : 'Создать дисциплину');
        }
    },
    methods: {
        ...courses.mapActions({
            addDiscipline: 'ADD_DISCIPLINE',
            updateDiscipline: 'UPDATE_DISCIPLINE',
        }),
        async submit() {
            try {
                if (this.discipline.id) {
                    
                    await this.updateDiscipline({
                        id: this.discipline.id,
                        name: this.discipline.name,
                    })

                } else {

                    await this.addDiscipline({
                        name: this.discipline.name,
                        parent_id: this.course_id,
                    });
                }
                this.mixShow('success');
                setTimeout(() => { this.closePopup() }, 2000);
            } catch (e) {
                this.mixShow('error');
            }
        },
        closePopup() {
            this.$emit('closePopup');
        }
    },
};
</script>
