<template>
    <div>
        <div
            class="show modal fade"
            :style="'display: block; overflow-x: hidden; overflow-y: auto;'"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-xl"
                role="document"
            >
                <div
                    class="modal-content edu-program"
                >
                    <div class="modal-header">
                        <h5
                            id="exampleModalLabel"
                            class="modal-title"
                        >
                            Страница: <b>{{ element.name }}</b>
                        </h5>
                        <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            @click="closePopup"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body teachers">
                        <div v-html="element.content.content" />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-backdrop fade show"
        ></div>
    </div>
</template>

<script>
export default {
    name: 'ElementHtmlPage',
    props: {
        element: {

        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup');
        },
    },
};
</script>
