<template>
    <Popup :caption="'Выберите тип материала'" @closePopup="closePopup">
        <template v-slot:body>
            <div
                v-if="currElement === 0"
                class="row pt-3"
            >
                <div
                    v-for="(el, id) in elClassName"
                    :key="id"
                    class="col-lg-6 lesson-content pb-2"
                >
                    <div
                        class="lesson-item btn"
                        :class="el"
                        @click="uploadElement(id)"
                    >
                        {{ elName[id] }}
                    </div>
                </div>
            </div>

            <div
                v-if="currElement === 2 "
                class="row pt-3"
            >
                <div class="col-lg-12 m-auto">
                    <div class="form-group mb-2">
                        <label class="title gray upper">Добавить материал</label>
                        <input
                            id="file"
                            ref="material"
                            type="file"
                            name="file"
                            multiple
                            class=" btn btn-create form-control"
                            @change="filesInputChange()"
                        >
                    </div>
                </div>
                <div class="col-lg-4 m-auto">
                    <button
                        class="form-control btn btn-red m-auto"
                        @click="attachElementLesson()"
                    >
                        <span
                            aria-hidden="true"
                        />
                            Прикрепить файлы
                    </button>
                </div>
            </div>

            <div
                v-if="currElement === 1 "
                class="row pt-3"
            >
                <div class="col-lg-12 m-auto">
                    <div class="form-group mb-10">
                        <label
                            for="hyperlink_name"
                            class="title gray upper"
                        >Название элемента</label>
                        <input
                            id="hyperlink_name"
                            v-model="linkElement.name"
                            type="text"
                            name="hyperlink_name"
                            multiple
                            class="form-control"
                        >
                    </div>
                    <div class="form-group mb-10">
                        <label
                            for="hyperlink_link"
                            class="title gray upper"
                        >Ссылка</label>
                        <input
                            id="hyperlink_link"
                            v-model="linkElement.url"
                            type="text"
                            name="hyperlink_link"
                            multiple
                            class="form-control"
                        >
                    </div>
                    <div class="row">
                        <div class="col-3 ml-auto mr-auto mb-10 mt-10">
                            <button
                                class="form-control btn btn-red m-auto"
                                @click="addLink()"
                            >
                            <span
                                aria-hidden="true"
                            />
                                {{ 'Добавить' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                v-if="currElement === 3 "
                class="row pt-3"
            >
                <div class="col-lg-12 m-auto">
                    <div class="form-group mb-10">
                        <label
                            class="title gray"
                        >Название страницы</label>
                        <input
                            v-model="page.title"
                            class="form-control m-auto"
                            type="text"
                        >
                    </div>

                    <label
                        class="title gray"
                    >Заголовок</label>
                    <input
                        v-model="page.label"
                        class="form-control mb-2"
                        type="text"
                    >

                    <label class="title gray">Содержимое страницы</label>
                    <htmlEditor
                        :content.sync="page.content"
                        name="content"
                        :class="('content' in invalid) ? 'is-invalid' : ''"
                    />
                </div>
                <div class="col-lg-3 ml-auto mr-auto">
                    <button
                        class="form-control mt-20 mb-10 btn btn-red m-auto"
                        @click="addPage({...page, ...{ lesson_id: lesson_id}})"
                    >
                    <span
                        aria-hidden="true"
                    />
                        {{ 'Добавить' }}
                    </button>
                </div>
            </div>

            <div
                v-if="currElement === 4 "
                class="row pt-3"
            >
                <div class="col-lg-6">
                    <label
                        class="title gray"
                    >Тест</label>
                    <input
                        v-model="test.name"
                        class="form-control m-auto"
                        :class="('name' in errors) ? 'is-invalid' : ''"
                        type="text"
                    >
                    <valid-sign
                        :name="'name'"
                        :invalid="errors"
                    />

                    <label
                        class="title gray"
                    >Минут отведено на тестирование</label>
                    <input
                        v-model="test['test[lead_time]']"
                        class="form-control mb-2"
                        type="number"
                    >
                    <valid-sign
                        :name="'test.lead_time'"
                        :invalid="errors"
                    />
                </div>

                <div class="col-lg-6">
                    <label
                        class="title gray"
                    >C какого момента тест доступен</label>
                    <datetime
                        type="datetime"
                        v-model="testStartTime"
                        :class="('test.start_time_availability' in errors) ? 'is-invalid' : ''"
                    />
                    <!--<input
                        v-model="test['test[start_time_availability]']"
                        class="form-control mb-2"
                        type="datetime-local"
                    >-->

                    <label
                        class="title gray"
                    >C какого момента тест не доступен</label>
                    <datetime
                        format="YYYY-MM-DD H:i"
                        v-model="testEndTime"
                        :class="('test.end_time_availability' in errors) ? 'is-invalid' : ''"
                    />
                    <!--<input
                        v-model="test['test[end_time_availability]']"
                        class="form-control mb-2"
                        type="datetime-local"
                    >-->
                    <button
                        class="form-control mt-20 btn btn-red m-auto"
                        @click="addTest()"
                    >
                    <span
                        aria-hidden="true"
                    />
                        {{ 'Добавить' }}
                    </button>
                </div>
            </div>
            <div class="col-lg-12" v-if="errors">
                <SuccessError :show="{success, not_success}" />
            </div>
        </template>
        <template v-slot:footer>
            <!--<button class="btn" @click="submit()">
                Сохранить
            </button>-->
        </template>
    </Popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import htmlEditor from '@base/components/base/vueEditor';
import datetime from '@base/components/base/datetime-picker';
import dateManager from '@base/inc/func/dateManager/index';
import Popup from '@base/components/base/Popup';

import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess.vue';
import validSign from '@base/components/base/validSign';

const lessons = createNamespacedHelpers('lessons');
const courses = createNamespacedHelpers('courses');

export default {
    name: 'Element',
    components: {
        htmlEditor,
        datetime,
        SuccessError,
        validSign,
        Popup,
    },
    props: {
        lesson_id: {
            type: Number,
            default: 0,
        },
    },
    mixins: [mixSuccess],
    data() {
        return {
            invalid: {},
            spinner: {},
            selectedUsers: [],

            elClassName: [
                'lesson-hyperlink',
                'lesson-file',
                'lesson-page',
                'lesson-test',
            ],
            elName: [
                'Гиперссылка',
                'Файл',
                'Страница',
                'Тест',
            ],
            currElement: 0,
            show: '',
            filesMaterial: [],
            linkElement: {
                name: '',
                url: '',
            },
            page: {
                name: '',
                title: '',
                label: '',
                content: '',
                meta: '',
            },
            test: {
                name: '',
                type_id: 0,
                lesson_id: 0,
                'test[lead_time]': 0,
                'test[start_time_availability]': '',
                'test[end_time_availability]': '',
            },
            testStartTime: '',
            testEndTime: '',
            errors: {},
        };
    },
    methods: {
        ...courses.mapActions({
            uploadElementLink: 'UPLOAD_ELEMENT_LINK',
            uploadElementImg: 'UPLOAD_ELEMENT_IMG',
            uploadElementFile: 'UPLOAD_ELEMENT_FILE',
            uploadElementPage: 'UPLOAD_ELEMENT_PAGE',
            uploadElementTest: 'UPLOAD_ELEMENT_TEST',
        }),
        closePopup() {
            this.$emit('closePopup');
        },
        submit() {
            this.closePopup();
        },
        uploadElement(el) {
            this.currElement = parseInt(el, 10) + 1;
        },
        async addPage(val) {
            try {
                await this.uploadElementPage(val)
                this.page = {
                    title: '',
                    label: '',
                    content: '',
                    meta: '',
                };
                this.mixShow('success');
                setTimeout(() => { this.currElement = 0; }, 1500);
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
            

        },
        async addLink() {
            try {
                await this.uploadElementLink({ ...this.linkElement, lesson_id: this.lesson_id});
                this.linkElement = {
                    name: '',
                    url: '',
                };
                this.mixShow('success');
                setTimeout(() => { this.currElement = 0; }, 1500);
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
        async addTest() {
            this.test['test[start_time_availability]'] = dateManager.customDataFormat(this.testStartTime);
            //this.test['test[start_time_availability]'] = this.testStartTime;
            this.test['test[end_time_availability]'] = dateManager.customDataFormat(this.testEndTime);
            //this.test['test[end_time_availability]'] = this.testEndTime;
            try {
                await this.uploadElementTest({ ...this.test, ...{ lesson_id: this.lesson_id, type_id: 6 } });
                    this.test = {
                        name: '',
                        type_id: 0,
                        lesson_id: 0,
                        'test[lead_time]': 0,
                        'test[start_time_availability]': '',
                        'test[end_time_availability]': '',
                    };
                    this.testStartTime='';
                    this.endStartTime='';
                    this.mixShow('success');
                    setTimeout(() => { this.currElement = 0; }, 1500);
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
        async filesInputChange() {
            this.filesMaterial = [];
            const files = this.$refs.material.files; // eslint-disable-line
            for (let i = 0; i < files.length; i++) { // eslint-disable-line
                this.filesMaterial.push(files[i]);
            }
        },
        async attachElementLesson() {
            const request = []; // eslint-disable-line
            for (let i = 0; i < this.filesMaterial.length; i++) { // eslint-disable-line
                switch (this.filesMaterial[i].type) {
                case 'application/pdf':
                    request.push(this.uploadElementFile({ file: this.filesMaterial[i], lesson_id: this.lesson_id }));
                    break;
                case 'image/jpeg':
                case 'image/png':
                    request.push(this.uploadElementImg({image: this.filesMaterial[i], lesson_id: this.lesson_id }));
                    break;
                default:
                    request.push(this.uploadElementFile({ file: this.filesMaterial[i], lesson_id: this.lesson_id }));
                }
            }
            try {
                await Promise.all(request)
                this.filesMaterial = [];
                this.$refs.material.value = '';
                this.mixShow('success');
                setTimeout(() => { this.currElement = 0; }, 1500);
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
    },
};
</script>
