<template>
    <popup :caption="header" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row pt-16">
                <div class="col-lg-6 m-auto">
                    <div class="form-group mb-2">
                        <label
                            class="title gray"
                            for="name_lesson"
                        >{{ label[typeLesson].name }}</label>
                        <input
                            id="name_lesson"
                            v-model="localLesson.name"
                            type="text"
                            class="form-control"
                            :class="('name' in invalid) ? 'is-invalid' : ''"
                        >
                        <div
                            v-if="'name' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.name"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 m-auto" v-if="localLesson.id">
                    <div class="form-group mb-2">
                        <label
                            class="title gray"
                            for="teacher_lesson"
                        >
                            Добавить {{ (typeLesson == 'event') ? 'спикера' : 'учителя' }}
                        </label>
                        <div class="input-group">
                            <select
                                id="teacher_lesson"
                                v-model="selectedTeacher"
                                class="form-control"
                            >
                                <option :value="null">Выбрать...</option>
                                <option
                                    v-for="(option, id) in teachers"
                                    :key="id"
                                    :value="option.id"
                                >
                                    {{ option.firstname + ' ' + option.lastname }}
                                </option>
                            </select>
                            <div class="input-group-append">
                                <i class="input-group-text pointer" @click="addUserToLesson">
                                    <i class="fa fa-plus" />
                                </i>
                            </div>
                        </div>

                        <div
                            v-if="'name' in invalid"
                            class="invalid-feedback"
                        >
                        <span
                            v-for="(message, k) in invalid.name"
                            :key="k"
                        >{{ message }}</span>
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-6"
                    v-if="typeLesson == 'course'"
                >
                    <div class="form-group mb-2">
                        <label>
                            Часов
                        </label>
                        <input
                            v-model="localLesson.couples_count"
                            type="text"
                            class="form-control"
                            :class="('couples_count' in invalid) ? 'is-invalid' : ''"
                        >
                        <div
                            v-if="'couples_count' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.couples_count"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-16">
                <div class="col-lg-12 m-auto">
                    <div class="form-group mb-2">
                        <label
                            class="title gray"
                            for="name_lesson"
                        >{{ label[typeLesson].description }}</label>
                        <textarea
                            v-model="localLesson.description"
                            class="form-control"
                            rows="8"
                            :class="('description' in invalid) ? 'is-invalid' : ''"
                        />
                        <div
                            v-if="'description' in invalid"
                            class="invalid-feedback"
                        >
                            <span
                                v-for="(message, k) in invalid.description"
                                :key="k"
                            >{{ message }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 lesson-teacher">
                    <label>Добавленные учителя:</label>
                    <div class="row">
                        <div
                            v-for="(teacher, id) in lesson.users"
                            :key="id"
                            class="col-lg-4 lesson-teacher pb-3"
                        >
                            <div class="d-flex align-items-center">
                                <div
                                    class="avatar avatar40 mr-2"
                                    :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                                    : ''"
                                />
                                <div>
                                    {{ teacher.firstname + ' ' + teacher.lastname }}
                                </div>
                                <span>
                                <i
                                    class="fa fa-trash-o pointer m-3"
                                    aria-hidden="true"
                                    @click="detachTeacher(teacher.id)"
                                />
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-16 lesson">
                <div
                    v-if="elementsLesson(lesson.id)[0]"
                    class="col-lg-6 lesson-content row no-gutters m-auto"
                >
                    <div
                        v-for="(el, id) in elementsLesson(lesson.id)[0].data"
                        :key="id"
                        class="lesson-item"
                        :class="elClassName[el.type.id]"
                    >
                        {{ el.name }}
                    </div>
                    <i
                        class="fa fa-trash-o pointer"
                        @click="() => {}"
                    />
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6 m-auto">
                    <SuccessError :show="{ not_success, success }" />
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <button class="btn" @click="submit()">
                Сохранить
            </button>
        </template>
    </popup>
</template>

<script>
import { mapGetters, createNamespacedHelpers } from 'vuex';

import { uploadElementFile, uploadElementImg } from '@base/api/lesson';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import Popup from '@base/components/base/Popup';
import mixShow from '@base/components/inc/message/mixSuccess.vue';

const courses = createNamespacedHelpers('courses');
const lessons = createNamespacedHelpers('lessons');
const programs = createNamespacedHelpers('programs');


export default {
    name: 'EduManageLesson',
    components: {
        SuccessError,
        Popup,
    },
    props: {
        discipline_id: {
            type: Number,
            default: 0,
        },
        typeLesson: {
            type: String,
            default: 'course',
        },
        lesson: {
            type: Object,
            default: () => ({}),
        },
    },
    mixins: [mixShow],
    data() {
        return {
            name: '',
            type: 'course',
            show: false,
            selectedTeacher: null,
            couples_count: 0,
            filesMaterial: [],
            elClassName: [
                'lesson-hyperlink',
                'lesson-gallery',
                'lesson-file',
                'lesson-folder',
                'lesson-presentation',
                'lesson-video',
                'lesson-task',
                'lesson-test',
                'lesson-file',
                'lesson-book',
            ],
            invalid: [],
            localLesson: {
                id: this.lesson.id,
                name: this.lesson.name,
                description: this.lesson.description,
                couples_count: this.lesson.couples_count,
            },
            label: {
                'event': { name: 'Название выступления', description: "Описание выступления" },
                'course': { name: 'Название занятия', description: "Описание занятия" },
            },
        };
    },
    watch: {
        'lesson': function (){
            this.localLesson.id = this.lesson.id;
            this.localLesson.name = this.lesson.name;
            this.localLesson.description = this.lesson.description;
        }
    },
    computed: {
        ...mapGetters([
            'getStore',
        ]),
        ...courses.mapGetters({
            course: 'COURSE_DETAIL',
        }),
        ...lessons.mapGetters({
            currLesson: 'LESSON',
            lessonTeachers: 'LESSON_TEACHERS',
            elementsLesson: 'ELEMENTS_LESSON',
        }),
        teachers() {
            return this.$store.state.courses.currentCourseDetail.curr_course.users;
        },
        header() {
            if (this.typeLesson === 'event') {
                return (this.localLesson.id ? 'Обновить выступление' : 'Создать выступление');
            } else {
                return (this.localLesson.id ? 'Обновить занятие' : 'Создать занятие');
            }
        },
    },
    methods: {
        ...courses.mapActions({
            getCourseDetail: 'GET_COURSE_DETAIL',
            addLesson: 'ADD_LESSON',
            manageLessonUser: 'MANAGE_LESSON_USER',
            updateLesson: 'UPDATE_LESSON',
        }),
        ...lessons.mapActions({
            deleteElement: 'DELETE_ELEMENT',
        }),
        ...lessons.mapMutations({
            addTeachers: 'UPDATE_TEACHERS',
            deleteTeacher: 'DELETE_TEACHER',
        }),
        detachTeacher(teacherId) {
            this.manageLessonUser({
                lesson_id: this.lesson.id,
                to: 'lessons',
                user_id: teacherId,
                action: 'detach-user'
            })
                .then((data) => {
                    this.lesson.users = data.users
                });
        },
        closePopup() {
            this.$emit('closePopup');
        },
        async filesInputChange() {
            const files = this.$refs.material.files; // eslint-disable-line
            for (let i = 0; i < files.length; i++) { // eslint-disable-line
                this.filesMaterial.push(files[i]);
            }
        },
        async attachElementLesson() {
            const request = []; // eslint-disable-line
            for (let i = 0; i < this.filesMaterial.length; i++) { // eslint-disable-line
                switch (this.filesMaterial[i].type) {
                case 'application/pdf':
                    request.push(uploadElementFile(this.filesMaterial[i], this.lesson.id));
                    break;
                case 'image/jpeg':
                case 'image/png':
                    request.push(uploadElementImg(this.filesMaterial[i], this.lesson.id));
                    break;
                default:
                    request.push(uploadElementFile(this.filesMaterial[i], this.lesson.id));
                }
            }
            await Promise.all(request);
            this.filesMaterial = [];
            this.$refs.material.value = '';
        },
        async addUserToLesson(){
            if (this.selectedTeacher && this.localLesson.id) {
                await this.manageLessonUser({
                    lesson_id: this.localLesson.id,
                    to: 'lessons',
                    user_id: this.selectedTeacher,
                    action: 'attach-user'
                }).then((data) => {
                    this.lesson.users = data.users
                    this.selectedTeacher = null
                });


                this.mixShow('success');
            }
        },
        async submit() {
            try {
                let response;
                if (this.localLesson.id) {
                    response = await this.updateLesson({ name: this.localLesson.name,
                                              id: this.localLesson.id,
                                              description: this.localLesson.description,
                                              couples_count: this.localLesson.couples_count });
                } else {
                    response = await this.addLesson({
                        name: this.localLesson.name,
                        description: this.localLesson.description,
                        course_id: this.discipline_id,
                        couples_count: this.localLesson.couples_count
                    });
                }



                this.mixShow('success');
                setTimeout(() => { this.closePopup() }, 1500);
            } catch (e) {
                console.warn(e);
                this.invalid = e;
                this.mixShow('error');
            }
        },
    },
};
</script>
