<template>
<Popup :caption="'Создать задание'" @closePopup="closePopup">
    <template v-slot:body>
        <div class="row pt-32">
            <div class="col-lg-10 m-auto">
                <div class="form-group">
                    <label class="title gray">Название</label>
                    <input
                        v-model="task.name"
                        class="form-control"
                        :class="('name' in errors) ? 'is-invalid' : ''"
                        type="text"
                    >
                    <valid-sign
                        :name="'name'"
                        :invalid="errors"
                    />
                </div>
            </div>
        </div>
        <div class="row pt-16">
            <div class="col-lg-10 m-auto">
                <label class="title gray">Описание</label>
                <htmlEditor
                    :content.sync="task.description"
                    name="task.description"
                    :class="('task.description' in errors) ? 'is-invalid' : ''"
                />
                <valid-sign
                    :name="'task.description'"
                    :invalid="errors"
                />
            </div>
        </div>
        <div class="row pt-16">
            <div class="col-lg-4 m-auto">
                <div class="form-group mb-2">
                    <label class="title gray label-with-icon">
                        Добавить файл(ы)
                        <i
                            v-tooltip.top-center="tooltip.file"
                            class="fa fa-question-circle-o pointer ml-8"
                            aria-hidden="true"
                        />
                    </label>
                    <input
                        ref="documents"
                        type="file"
                        multiple
                        class="form-control btn btn-create"
                        :class="('file' in errors) ? 'is-invalid' : ''"
                        @change="filesInputChange()"
                    >
                    <valid-sign
                        :name="'file'"
                        :invalid="errors"
                    />
                </div>
            </div>
        </div>

        <SuccessError :show="{ not_success, success }" />
    </template>
    <template v-slot:footer>
        <button class="btn" @click="submit()">
            Сохранить
        </button>
    </template>
</Popup>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import deepClone from 'clonedeep';
import htmlEditor from '@base/components/base/vueEditor';
import { defLesson, defLessonTask } from '@base/inc/defaults/app';
import SuccessError from '@base/components/inc/message/SuccessError.vue';
import mixSuccess from '@base/components/inc/message/mixSuccess';
import Popup from '@base/components/base/Popup';
import validSign from '@base/components/base/validSign';
const lessons = createNamespacedHelpers('lessons');
const courses = createNamespacedHelpers('courses');

export default {
    name: 'OrgEduManageTask',
    components: {
        SuccessError,
        htmlEditor,
        Popup,
        validSign,
    },
    mixins: [mixSuccess],
    props: {
        lesson_id: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            task: {},
            show: false,
            tooltip: {
                file: 'Вы можете выбрать несколько файлов',
            },
            errors: {},
        };
    },
    created() {
        this.task = deepClone(defLessonTask);
    },
    methods: {
        ...courses.mapActions({
            createTask: 'CREATE_ELEMENT_TASK',
        }),
        submit() {
            this.create();
        },
        async create() {
            try {
                await this.createTask({ task: this.task, lesson_id: this.lesson_id });
                this.mixShow('success');
                setTimeout(() => { this.closePopup(); }, 1500);
            } catch (e) {
                this.errors = e;
                this.mixShow('error');
            }
        },
        filesInputChange() {
            this.task.documents = this.$refs.documents.files;
        },
        closePopup() {
            this.$emit('closePopup');
        },
    },
};
</script>
