<template>
    <Popup :caption="'Преподаватели курса'" @closePopup="closePopup">
        <template v-slot:body>
            <div
                v-for="teacher in teachers"
                :key="teacher.id"
                class="col-lg-6 modal-teacher"
            >
                <div
                    class="avatar avatar60 mr-4"
                    :style="(teacher && teacher.avatar) ? 'background-image: url(' + teacher.avatar.medium + ')'
                        : ''"
                />
                <div class="modal-teacher__desc my-auto">
                    <div>
                        {{ teacher.firstname + " " + teacher.lastname }}
                    </div>
                    <div
                        v-if="(permissions.moderation_org_prog || permissions.moderation_org_prog_main) && can_edit_course"
                        class="mt-10"
                        ::disabled="spinner.save"
                    >
                        <i
                            @click="detach_teacher(teacher.id)"
                            class="fa fa-trash pointer"
                        />
                        <span
                            v-if="spinner.save"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                        />
                    </div>
                </div>
                <div
                    v-if="auth.id"
                    class="modal-teacher__desc ml-auto my-auto mr-20"
                >
                    <a
                        :href="'/chats/start/'+ teacher.id"
                        class="btn btn-danger text-white"
                    >
                        <i class="fa fa-comment"/>
                    </a>
                </div>
            </div>
        </template>
    </Popup>
</template>

<script>
import {mapGetters} from "vuex";
import Popup from "@base/components/base/Popup";

export default {
    name: 'TeachersListModal',
    props: {
        course: {},
        permissions: {},
        teachers: {
            type: Array,
            required: true,
            default: () => [],
        },
        can_edit_course: {
            type: Boolean,
            default: false
        }
    },
    components: {
        Popup,
    },
    data() {
        return {
            spinner: {},
            selectedTeachers: [],
            invalid: {},
        };
    },
    computed: {
        ...mapGetters([
            'auth',
        ]),
    },
    methods: {
        detach_teacher(id) {
            this.$emit('fetch', id);
        },
        closePopup() {
            this.$emit('closePopup');
        },
    },
};
</script>
