<template>
    <div class="competences">
        <div class="title gray">
            <!--Компетенции:-->
        </div>
        <div class="row no-gutters">
            <div
                v-for="(competence, k) in authCompetencies"
                :key="k"
                class="competence"
            >
                {{ competence.name }}
            </div>
        </div>
    </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
    name: 'ProfileCompetence',
    props: [],
    data() {
        return {};
    },
    computed: {
        ...mapGetters([
            'authCompetencies',
        ]),
    },
    created() {

    },
    mounted() {

    },
    methods: {

    },
};

</script>
