<template>
    <div>
        <div :class="showOrganizationStyle ? 'head-edu' : 'head-my'">
            <div
                class="page-head"
                :class="showOrganizationStyle ? 'edu-info' : 'user-info'"
            >
                <div
                    v-if="!showOrganizationStyle"
                    class="container"
                >
                    <div class="row user-discount">
                        <div class="col-lg-6 pt-3 d-flex flex-wrap user">
                            <div
                                class="user-avatar medium"
                                :style="(auth && auth.avatar && auth.avatar.medium) ? `background-image: url(${auth.avatar.medium})` : '/images/icons/user_avatar.svg'"
                            />
                            <div class="user-info d-flex flex-column align-self-center">
                                <div
                                    class="fs-32"
                                    :style="auth.firstname ? '' : 'visibility: hidden;'"
                                >

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="d-flex pb-4">
                        <div class="pr-3">
                            <img
                                class="avatar avatar96"
                                :src="(auth.avatar && auth.avatar.medium) ? auth.avatar.medium : '/images/icons/user_avatar.svg'"
                            />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div class="fs-32 px-2 block цвет-текста-1 fw-light pt-1 mb-1">
                                {{ auth.lastname + ' ' + auth.firstname + ' ' + (auth.patronymic ? auth.patronymic : '') }}
                            </div>
                            <div class="d-flex">
                                <div class="fs-16 px-2 block основной-1 fw-light pr-2">

                                </div>
                            </div>
                        </div>
                    </div>

                    <vue-profile-competence />
                </div>


                <div class="container">
                    <NavTab :value="tabs"/>
                </div>
            </div>
        </div>
        <router-view />
    </div>
</template>

<script>

import { mapGetters } from 'vuex';

import VueProfileCompetence from './Competence.vue';
import NavTab from '@base/components/base/NavTab.vue';

export default {
    name: 'ProfileIndex',
    components: {
        VueProfileCompetence,
        NavTab,
    },
    props: [],
    data() {
        return {
            vacancyResponsesCount: 0,
            viro_organizations_show: false,
            permission: {
                admin_index_show: false,
            },
        };
    },
    computed: {
        ...mapGetters([
            'auth',
            'authOrganizations',
        ]),
        globalPermissions() {
            return this.$store.state.globalPermissions;
        },
        showOrganizationStyle() {
            return false;
        },
        tabs() {
            return [
                // { name: "me.main", description: "Главная", visible: true },

                // { name: "me.course", description: "Мои курсы", visible: true, params: {type: 'studying'} },

                // { name: "me.chat", description: "Сообщения", visible: true },
                { name: "me.profile", description: "Профиль", visible: true },

                // { name: "me.portfolio", description: "Портфолио", visible: true },
                { name: "me.edu-organization", description: "Мои организации", visible: this.edu_organizations_show },
                { name: "me.districts", description: "Мои муниципалитеты", visible: this.districts_show },
                // { name: "org.viro.about", description: "ВИРО", visible: this.viro_organizations_show},
                // { name: "me.setting", description: "Профиль", visible: true},
                { name: "me.camera_reviewer", description: "Камеры", visible: this.organization_camera_review },
                { name: "me.routes", description: "Проф рост",
                    visible: this.is_view_my_iom && !this.globalPermissions.iom_regional_tutoring,
                },
                { name: "me.routes", description: "Муниципалитеты ИОМ", visible: this.globalPermissions.iom_municipal_tutoring },
                { name: "me.routes", description: "Региональные ИОМ", visible: this.globalPermissions.iom_regional_tutoring },
                { name: "me.tests", description: "Доступные тесты", visible: true },
            ];
        },
        districts_show() {
            if (this.auth && this.auth.districts && this.auth.districts.length > 0){
                return true;
            }
            return false;
        },
        edu_organizations_show() {
            if (this.auth && this.auth.organizations){
                for (const org of this.auth.organizations) { // eslint-disable-line
                    return true
                }
            }
            return false
        },
        organization_camera_review() {
            if (this.auth && this.auth.roles){
                for (const roles of this.auth.roles){
                    for (const permission of roles.permissions){
                        if (permission.name == 'organization_camera_review') return true
                    }
                }
            }
            return false
        },
        is_view_my_iom() {
            if (this.auth && this.auth.organizations){
                for (const org of this.auth.organizations){
                    if (org.permissions){
                        for (var prop in org.permissions) {
                            if (prop == 'organization_user_can_start_iom' && org.permissions[prop]) return true
                        }
                    }
                }
            }
            return false
        }
    },
    watch: {
        $route(to) {
            if (to.name === 'me') {
                this.loadPage();
            }
        },
    },
    created() {},
    mounted() {
        // todo разобраться с setStore
        //this.$store.dispatch('getAuth', { loading: { type: 'local' } });
        // переделать !!!!!!
        // for (const element of this.auth.permissions) { // eslint-disable-line
        //     this.permission[element.name] = true;
        // }
        //this.loadPage();
        // getVacancyResponses({
        //     action: 'count'
        // }).then((data) => {
        //     this.vacancyResponsesCount = data.count;
        // });
    },
    methods: {
        async loadPage() {
            if (!this.auth) {
                await this.$store.dispatch('getAuth', { loading: { type: 'local' } });
            }
            if (this.$route.name === 'me') {
                this.$router.push({ name: 'me.profile' });
            }
        },
    },
};

</script>
