
<template>
    <popup :caption="'Проверка ответа в свободной форме'" @closePopup="closePopup">
        <template v-slot:body>
            <div class="row">
                <div class="col">
                    <h3>{{ currentQuestion.userFio }}</h3>
                    <div class="form-group mb-10">
                        <label
                            class="title gray"
                        >{{ currentQuestion.description }}</label>
                        <textarea class="form-control mt-2" v-model="currentQuestion.value" disabled rows="6"/>
                        <div v-if="exposed">
                            <h2>Вопрос оценен на: <b-badge>{{ сurrentBall }}</b-badge><span>баллов</span></h2>
                        </div>
                        <div v-else>
                            <div class="row align-items-center justify-content-center mt-2">
                                <div class="col-lg-3">
                                    <input class="form-control" type="number" v-model="currentScore" min="0" max="100" />
                                </div>
                                <div class="col-lg-1 d-flex">
                                    <img class="m-auto" src="/images/icons/arrows-diagonals-bltr.svg" />
                                </div>
                                <div class="col-lg-3 ">
                                    <div class="d-flex h4 m-0">
                                        <b-badge>{{ сurrentBall }}</b-badge>
                                        <span> из </span>
                                        <b-badge>{{ currentQuestion.point_count }}</b-badge>
                                        <span> баллов</span>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <button
                                        type="button"
                                        class="btn btn-red align-items-center justify-content-center"
                                        @click="grade()"
                                    >
                                        <span aria-hidden="true">Оценить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:footer>
            <b-pagination
                v-model="Pagination.currentPage"
                :total-rows="questions.length"
                :per-page="Pagination.perPage"
                aria-controls="my-table"
            ></b-pagination>
        </template>
    </popup>
</template>

<script>
import Popup from '@base/components/base/Popup';
import validSign from '@base/components/base/validSign';
import { getAnswerCheck, setGrade } from '@base/api/test/test-attempt';
export default {
    name: 'CheckingAnswerPopup',
    components: {
        Popup,
        validSign,
    },
    props: {
        currentResultAttempt: {
            type: Number,
            default: 0,
        }
    },
    data() {
        return {
            Pagination: {
                currentPage: 1,
                perPage: 1,
                items: 0,
            },
            questions: [],
            scores: {
            },
            update: false,
        }
    },
    watch: {
        questions(val) {
            return val ? val : null;
        },
    },
    computed: {
        currentScore: {
            get() {
                const currentScore = this.scores[this.Pagination.currentPage];
                return currentScore ? this.scores[this.Pagination.currentPage].score : 0;
            },
            set(val) {
                this.$set(this.scores, this.Pagination.currentPage, { ...this.scores[this.Pagination.currentPage], ...{ score: val }} );
            },
        },
        сurrentBall() {
            return Math.floor((this.currentQuestion.point_count * this.currentScore )/ 100);
        },
        exposed() {
            return this.scores[this.Pagination.currentPage] ? this.scores[this.Pagination.currentPage].exposed : false;
        },
        currentQuestion() {
            if (this.questions.length)
            {
                const currentQuestion = this.questions[this.Pagination.currentPage - 1];
                return {
                    description: currentQuestion.attempt_answer.attempt_question.common_question.name,
                    value: currentQuestion.attempt_answer.value,
                    answer_id: currentQuestion.attempt_answer.id,
                    attempt_id: currentQuestion.attempt.id,
                    point_count: currentQuestion.point_count,
                    userFio: currentQuestion.attempt.user.firstname + ' ' + currentQuestion.attempt.user.lastname
                }
            } else {
                return {
                    description: '',
                    value: '',
                    answer_id: 0,
                    attempt_id: 0,
                    userFio: '',
                }
            }
        },
    },
    methods: {
        closePopup() {
            this.$emit('closePopup', this.update);
        },
        grade(answer_id, attempt_id) {
            setGrade({
                answer_id: this.currentQuestion.answer_id,
                score: this.scores[this.Pagination.currentPage].score,
                attempt_id:  this.currentQuestion.attempt_id,
            })
            .then(() => {
                this.$set(this.scores, this.Pagination.currentPage, { ...this.scores[this.Pagination.currentPage], ...{ exposed: true }} );
                this.update=true;
                }
            );
        },
    },
    created() {
        getAnswerCheck({ attempt_id: this.currentResultAttempt })
            .then(response => {
                const noQuestion = ({ questions, data, ...rest }) => rest;
                this.questions = response.questions.data;
            })
            .catch(error => {

            });
    },
}
</script>
