<template>
    <div class="container">
        <NavTab  :value="routes" class="red mt-3"/>
        <div class="container mt-2">       
            <router-view
                :permissions="permissions"
                :organization="organization"
            />
        </div>
    </div>
</template>

<script>
import NavTab from "@base/components/base/NavTab";

export default {
    name: "IndexNav",
    props:{
        permissions: {},
        organization: {}
    },
    components: {
        NavTab,
    },
    data() {
        return {
            routes: [
                { name: 'org.viro.test.list', description: 'Тесты', visible: true },
                { name: 'org.viro.test.all.results', description: 'Результаты', visible: true },
                { name: 'org.viro.test.all.reviewers', description: 'Проверяющие', visible: true },
            ]
        }
    },
}
</script>
