<template>
<div class="container py-2">
    <div class="row">
        <div class="col-lg-2">
            <a class="btn" @click="openCreateTest">
                Создать
            </a>
        </div>
    </div>
    <div class="py-2">
        <table class="table table-striped table-bordered table-adaptive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <!--                        <th>Профили</th>-->
                    <th>Правил</th>
                    <th>Ответов</th>
                    <th>Доступ по времени</th>
                    <th />
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, id) in tests" :key="id">
                    <td data-label="#">{{ item.id }}</td>
                    <td data-label="">
                        <b>
                            <router-link :to="{ name: 'org.viro.test.show', params: { test_id: item.id }}">
                                {{ item.name }}
                            </router-link>
                        </b>
                    </td>
                    <td data-label="Название" v-if="false">
                        <div v-for="(profile, id) in item.profiles" :key="id">
                            {{ profile.name }}
                        </div>
                    </td>
                    <td data-label="Правил">
                        {{ item.count_rules }}
                    </td>
                    <td data-label="Ответов">
                        <router-link :to="{ name: 'org.viro.test.results', params: {
                                    test_id: item.id
                                }}">
                            {{ item.attempts_count }}
                        </router-link>
                    </td>
                    <td data-label="Доступ по времени">{{ item.start_time_availability }} - {{ item.end_time_availability }}</td>
                    <td data-label="Название">
                        <router-link :to="{ name: 'org.viro.test.show', params: { test_id: item.id }}" class="btn fa fa-eye" />
                        <a class="ml-2 btn fa fa-trash" @click="deleteTest(item)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row py-2">
        <b-pagination v-model="pagination.currentPage" :total-rows="pagination.total" :per-page="pagination.perPage" aria-controls="my-table" class="m-auto" />
    </div>
    <test-create :show="adminTestCreate" :organization_id="$route.params.id" @closePopup="closeCreateTest" />
</div>
</template>

<script>
import {
    getProfiles
} from '@base/api/profiles';
import {
    getOrganizationQuizzes
} from '@base/api/organization';
import { delete_v2 } from '@base/api/test/test-update';

import TestCreate from '@base/components/org/base/tests/manage/TestCreate';

export default {
    name: 'EduTestsIndex',
    components: {
        TestCreate,
    },
    data() {
        return {
            filter: {
                profile_id: null,
            },
            profiles: [],
            adminTestCreate: false,
            tests: [],
            pagination: {
                currentPage: 1,
                total: 0,
                perPage: 12,
            },
        };
    },
    watch: {
        'pagination.currentPage': function (val) {
            this.getOrganizationQuizzes();
        },
        'filter.profile_id': function (val) {
            this.getOrganizationQuizzes();
        },
    },
    created() {
        //this.getProfiles();
        this.getOrganizationQuizzes();
    },
    methods: {
        deleteTest(test) {
            delete_v2(test.id).then((data) => {
                this.getOrganizationQuizzes();
            }).catch((error) => {


                this.$bvToast.toast(error.response.data.msg.join(), {
                    autoHideDelay: 3000,
                    toaster: 'b-toaster-top-center',
                    title: 'Ошибка!',
                    variant: 'danger',
                    appendToast: true,
                })
            })
        },
        getProfiles() {
            getProfiles().then((response) => {
                this.profiles = response.data.data.profiles.data;
            });
        },
        openCreateTest() {
            this.adminTestCreate = true;
        },
        closeCreateTest() {
            this.adminTestCreate = false;
            this.getOrganizationQuizzes();
        },
        getOrganizationQuizzes() {
            getOrganizationQuizzes({
                organization_id: this.$route.params.id,
                paginated: 1,
                with: [
                    'quizTest',
                    'profiles',
                    'access',
                    'attempts_count',
                ],
                //profile_id: this.filter.profile_id,
                page: this.pagination.currentPage,
            }).then((response) => {
                this.tests = response.data.data.quizzes.data;
                this.pagination.total = response.data.data.quizzes.total;
            });
        },
    },
};
</script>
