<template>
    <div class="container pb-3">
        <div class="row">
            <a
                class="btn"
                @click="adminTestAddIndicatorShow = true"
            >
                Добавить
            </a>
        </div>
        <div class="row py-2">
            <table
                v-if="test && test.indicators"
                class="table"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Индикатор</td>
                        <td>Формула из индикатора</td>
                        <td>Формула*</td>
                        <td>Макс значение</td>
                        <td>Уровней</td>
                        <td></td>
                    </tr>
                </thead>
                <tr
                    v-for="(indicator, id) in test.indicators"
                    :key="id"
                >
                    <td>
                        {{ indicator.id }}
                    </td>
                    <td>
                        <router-link
                            :to="{name: 'admin.indicators.show', params: {id: indicator.id}}"
                        >
                            {{ indicator.name }}
                        </router-link>
                    </td>
                    <td>
                        {{ indicator.formula }}
                    </td>


                    <td>
                        <div
                            class="input-group"
                        >
                            <input
                                class="form-control"
                                v-model="indicator.pivot.formula"
                            />
                            <div class="input-group-append">
                                <span
                                    @click="saveIndicatorFormula(indicator)"
                                    class="input-group-text pointer"
                                >
                                    <i class="fa fa-floppy-o"/>
                                </span>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div
                            class="input-group"
                        >
                            <input
                                class="form-control"
                                v-model="indicator.pivot.max_value"
                            />
                            <div class="input-group-append">
                                <span
                                    @click="updateIndicator(indicator)"
                                    class="input-group-text pointer"
                                >
                                    <i class="fa fa-floppy-o"/>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>{{ indicator.levels ? indicator.levels.length : 0 }}</td>
                    <td>
                        <i
                            @click="deleteIndicator(indicator)"
                            class="btn fa fa-trash"
                        ></i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row py-2">
            <div
                class="col-lg-12"
            >
                * - при рассчете результата теста будет использоваться данная формула
            </div>
        </div>
        <test-add-indicator
            v-if="adminTestAddIndicatorShow"
            :show="adminTestAddIndicatorShow"
            :testIndicators="test.indicators"
            @closePopup="adminTestAddIndicatorClose"
        />
    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import testAddIndicator from './manage/testAddIndicator';
    export default {
        name: 'TestsShowIndicators',
        components: { testAddIndicator },
        props: {
            test: {
                indicators: [

                ]
            }
        },
        data() {
            return {
                adminTestAddIndicatorShow: false,
                indicators: []
            }
        },
        created() {
            this.getIndicators();
        },
        methods: {
            adminTestAddIndicatorClose(){
                this.adminTestAddIndicatorShow = false;
                this.$emit('reload');
            },
            saveIndicatorFormula(indicator){

                update(this.$route.params.test_id, {
                    action: 'update-indicator-formula',
                    indicator_id: indicator.id,
                    formula: indicator.pivot.formula
                }).then((data) => {

                })
            },
            updateIndicator(indicator){
                update(this.$route.params.test_id, {
                    action: 'update-indicator',
                    indicator_id: indicator.id,
                    formula: indicator.pivot.formula,
                    max_value: indicator.pivot.max_value,
                }).then((data) => {

                })
            },
            getIndicators(){

            },
            deleteIndicator(indicator){
                update(this.$route.params.test_id, {
                    action: 'delete-indicator',
                    indicator_id: indicator.id
                }).then((data) => {
                    this.$emit('reload');
                })
            }
        }
    };
</script>
