<template>
    <div class="container">
        <div class="row">
            <table class="table table-adaptive">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Тесты</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="user in users.data"
                    >
                        <td>
                            <div style="min-width: 100px">
                                {{ user.firstname }} {{ user.lastname }} {{ (user.patronymic ? user.patronymic : '') }}
                            </div>
                        </td>
                        <td>
                            <div
                                class="d-flex flex-wrap"
                            >
                                <div class="mr-2 mb-2">
                                    <div class="input-group">
                                        <select class="form-control" v-model="quiz_id[user.id]">
                                            <option :value="null">Выбрать тест</option>
                                            <option
                                                v-for="qiuz in tests"
                                                :value="qiuz.id"
                                                :disabled="user.quizzes && user.quizzes.map(a => a.id).includes(qiuz.id)"
                                            >
                                                {{ qiuz.name }}
                                            </option>
                                        </select>
                                        <div class="input-group-append">
                                            <span
                                                class="input-group-text pointer"
                                                @click="attachQuiz(user.id)"
                                            >
                                                <i class="fa fa-plus" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span
                                        class="input-group-text pointer"
                                        @click="openTestReviewersPopup(user)"
                                    >
                                        <span class="pr-2">{{ user.quizzes.length }}</span>
                                        <i class="fa fa-eye" />
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row py-2">
            <div class="col m-auto">
                <b-pagination  aria-controls="my-table" align="center" class="m-auto" v-model="users.current_page" :total-rows="users.total" :per-page="users.per_page"></b-pagination>
            </div>
        </div>
        <TestReviewersPopup v-if="visibleTestReviewersPopup" @detachQuiz="detachQuiz" @closePopup="closeTestReviewersPopup" :user="currentUser" />
    </div>
</template>

<script>
import { getOrganizationQuizzes } from '@base/api/organization';
import { updateUser } from '@base/api/user';
import TestReviewersPopup from './manage/testReviewersPopup';
export default {
    name: 'OrganizationTestsReviewers',
    props: {
        organization: {
        }
    },
    components: {
        TestReviewersPopup,
    },
    data() {
        return {
            tests: [],
            users: {
                current_page: 1
            },
            quiz_id: {},
            currentUser: 0,
            visibleTestReviewersPopup: false,
        }
    },
    watch: {
        organization: function() {
            this.getUsers();
        },
        'users.current_page': function () {
            this.getUsers();
        }
    },
    created() {
        this.getOrganizationQuizzes();
        if (this.organization && this.organization.id) this.getUsers();
    },
    methods: {
        attachQuiz(user_id){
            updateUser(user_id, {
                _method: 'PATCH',
                action: 'attach-quiz',
                quiz_id: this.quiz_id[user_id],
                with: [
                    'quizzes'
                ]
            }).then((response) => {
                this.quiz_id[user_id] = null
                this.users.data.filter((el) => {
                    if (el.id == user_id) {
                        el.quizzes = response.quizzes
                    }
                });
            })
        },
        detachQuiz(user_id, quiz_id){
            updateUser(user_id, {
                _method: 'PATCH',
                action: 'detach-quiz',
                quiz_id: quiz_id,
                with: [
                    'quizzes'
                ]
            }).then((response) => {
                this.quiz_id[user_id] = null
                this.users.data.filter((el) => {
                    if (el.id == user_id) {
                        el.quizzes = response.quizzes
                    }
                });
            })
        },
        openTestReviewersPopup(user) {
            this.visibleTestReviewersPopup = true;
            this.currentUser = user;
        },
        closeTestReviewersPopup() {
            this.visibleTestReviewersPopup = false;
            this.currentUser = {};
        },
        getOrganizationQuizzes() {
            getOrganizationQuizzes({
                organization_id: this.$route.params.id,
                with: [
                    'users'
                ]
            }).then((response) => {
                this.tests = response.data.data.quizzes;
            });
        },
        getUsers(){
            if (this.organization.id){
                let params = {
                    permission: 'organization_quiz_review_index',
                    with_quizzes: true,
                    page: this.users.current_page
                };
                this.$axios.get(`/api/v1/organizations/${this.organization.id}/users`, { params: params })
                    .then((response) => {
                        this.users = response.data.data.users;
                    })
                    .catch(() => {

                    })
                    .finally(() => {
                    });
            }
        },
    }
};
</script>
