<template>
<div class="container">
    <div class="row pb-2">
        <div class="col-lg-2">
            <select class="form-control" v-model="quiz_id">
                <option :value="null">Выбрать тест</option>
                <option v-for="qiuz in tests" :value="qiuz.id">
                    {{ qiuz.name }}
                </option>
            </select>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <input type="text" class="form-control" v-model="filters.login" placeholder="Логин" />
                <div class="input-group-append">
                    <a class="input-group-text pointer" @click="loadResults">
                        <i class="fa fa-search" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" v-model="filters.deleted">
                    </div>
                </div>
                <input value="Показать удаленные" class="form-control" disabled />
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-adaptive py-2">
        <thead>
            <tr>
                <th>№</th>
                <th v-if="!quiz_id">
                    Тест
                </th>
                <th>
                    Логин
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Время прохождения
                </th>
                <th>
                    Статус
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(result, id) in resultAttemptUser.data" :key="id">
                <td data-label="№">
                    {{ result.id }}
                </td>
                <td data-label="Тест" v-if="!quiz_id">
                    {{ result.quiz.name }}
                </td>
                <td data-label="Логин">
                    {{ result.user.login }}
                </td>
                <td data-label="Фамилия">
                    {{ result.user.lastname }}
                </td>
                <td data-label="Имя">
                    {{ result.user.firstname }}
                </td>
                <td data-label="Время прохождения">
                    <timer-end v-if="result.status != 'ACTIVE'" :totalTime="result.duration_time" />
                </td>
                <td data-label="№">
                    <button class="btn btn-red" v-if="canRate(result)" @click="checkingPopup(result.id)">
                        Оценить
                    </button>
                    <p v-else>{{ result_statuses[result.status]}}</p>
                </td>
                <td data-label="Статус">
                    <div v-if="(result.status == 'SUCCESS' || result.status == 'FAILED') && !result.deleted_at">
                        <a @click="quizAttemptDelete(result)" class="btn fa fa-trash" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row py-2">
        <div class="col m-auto">
            <b-pagination v-if="resultAttemptUser.paginate" aria-controls="my-table" align="center" class="m-auto" v-model="currentPage" :total-rows="resultAttemptUser.paginate.total" :per-page="resultAttemptUser.paginate.per_page"></b-pagination>
        </div>
    </div>
</div>
</template>

<script>
import {
    getOrganizationQuizzes
} from '@base/api/organization';
import {
    createNamespacedHelpers
} from 'vuex';
const test = createNamespacedHelpers('test');
import {
    quizAttemptDelete
} from '@base/api/test/test-attempt';
import TimerEnd from '@base/components/course/test/testComponent/TimerEnd';
import CheckingPopup from './CheckingAnswerPopup';

export default {
    name: 'OrganizationTestsResults',
    data() {
        return {
            quiz_id: null,
            tests: [],
            filters: {
                login: '',
                deleted: false,
            },
            currentPage: 1,
            paginate: 1,
            qty: 10,
            result_statuses: {
                'SUCCESS': 'Оценен',
                'PENDING': 'Ожидает оценки',
                'FAILED': 'Не пройден',
                'WAITING_CALC': 'Расчитывается',
                'ACTIVE': 'Прохождение',
            },
        }
    },
    components: {
        TimerEnd,
        CheckingPopup
    },
    props: {
        permissions: {
            teaching: false
        }
    },
    created() {
        this.getOrganizationQuizzes();
        this.loadResults();
    },
    computed: {
        ...test.mapGetters({
            resultAttemptUser: 'RESULTS_ATTEMPT_USER',
        }),
    },
    watch: {
        quiz_id: function () {
            this.loadResults();
        },
        'filters.login': function () {
            if (this.filters.login == "") {
                this.loadResults();
            }
        },
        'filters.deleted': function () {
            this.loadResults();
        },
        'currentPage': function () {
            this.loadResults();
        }

    },
    methods: {
        ...test.mapActions({
            getResultAttemptUser: 'GET_RESULTS_ATTEMPT_USER',
        }),
        loadResults() {
            this.getResultAttemptUser({
                organization_id: this.$route.params.id,
                quiz_id: this.quiz_id,
                filters: {
                    'filters[login]': this.filters.login,
                    'filters[deleted]': this.filters.deleted
                },
                with: [
                    'indicatorLevels',
                    'user'
                ],
                page: this.currentPage,
                qty: this.qty
            });
        },
        canRate(result) {
            return (this.permissions.teaching && result.attempt_result && result.attempt_result.status === 'PENDING')
        },
        getOrganizationQuizzes() {
            getOrganizationQuizzes({
                organization_id: this.$route.params.id,
            }).then((response) => {
                this.tests = response.data.data.quizzes;
            });
        },
        quizAttemptDelete(attempt) {
            quizAttemptDelete({
                attempt_id: attempt.id
            }).then((response) => {
                this.loadResults();
            })
        }
    }
};
</script>
