<template>
    <div class="container py-2">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>

        <div class="row py-2">
            <div class="col-lg-12">
                <table class="table table-striped table-bordered table-adaptive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тест</th>
                            <th>Доступ по времени</th>
                            <th>Тип доступа</th>
                        </tr>
                    </thead>
                    <tr v-for="row in accesses.data">
                        <td data-label="#">
                            {{ row.id }}
                        </td>
                        <td data-label="Тест">
                            {{ row.quiz.name }}
                        </td>
                        <td data-label="Доступ по времени">
                            {{ row.quiz.start_time_availability }} - {{ row.quiz.end_time_availability }}
                        </td>
                        <td data-label="Тип доступа">
                            <div v-if="row.type == 'all'">
                                Для всех
                            </div>
                            <div v-if="row.type == 'select'" class="d-flex">
                                Пользователи добавленные к доступу {{ row.users.length }} из {{ row.count }}
                                <div v-if="permissions.moderation_org_test_access" class="ml-2">
                                    <a
                                        @click="openTestAccess(row)"
                                        class="fa fa-user pointer"
                                    />

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <test-access-users
            :access="access"
            :show="testAccessUsersShow"
            @closePopup="closeTestAccessUsers"
        />
    </div>
</template>

<script>
    import { getOrganizationAccess } from "@base/api/test/organization-access";
    import TestAccessUsers from './manage/testAccessUsers';

    export default {
        name: "OrgEduTestAccess",
        components: { TestAccessUsers },
        props: {
            permissions: {

            },
            organization: {

            }
        },
        data(){
            return {
                testAccessUsersShow: false,
                access: {
                    id: null,
                    quiz: {
                        name: ''
                    },
                    users: []
                },
                accesses: {
                    data: [

                    ],
                    per_page: 10,
                    total: 0,
                    current_page: 1,
                }
            }
        },
        watch: {
            'organization.id': function(){
                this.getOrganizationAccess();
            }
        },
        mounted() {
            if (this.organization.id){
                this.getOrganizationAccess();
            }
        },
        methods: {
            getOrganizationAccess(){
                getOrganizationAccess({
                    organization_id: this.organization.id,
                    qty: this.accesses.per_page,
                    page: this.accesses.current_page,
                    with: [
                        'quiz',
                        'users',
                        'model'
                    ]
                }).then((response) => {
                    this.accesses = response.data.quizAccess;
                });
            },
            openTestAccess(item){
                this.access = item;
                this.testAccessUsersShow = true;
            },
            closeTestAccessUsers(){
                this.testAccessUsersShow = false;
            }
        }
    }
</script>

