<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a
                    class="btn btn-create"
                    @click="visibleAddingQuestionPopup = true"
                >Добавить вопросы в тест</a>
            </div>
            <div class="ml-auto col-lg-2 d-flex">
                <a
                    class="ml-auto btn"
                    @click="visibleChangeSettingTestPopup = true"
                >
                    Редактировать
                </a>
            </div>
        </div>
        <div class="py-2">
            <table class="table" v-if="test">
                <thead>
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Тип
                        </th>
                        <th>
                            Баллы
                        </th>
                        <th>
                            Вопрос/Категория
                        </th>

                        <th>
                            Создан
                        <th>
                            Последнее изменение
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(ruleTestQuestion, id) in test.questions" :key="id">
                        <td>
                            {{ ruleTestQuestion.id }}
                        </td>
                        <td>
                            {{ types[ruleTestQuestion.type_rule] }}
                            <div v-if="ruleTestQuestion.props.rand">
                                Кол-во: {{ ruleTestQuestion.props.rand ? ruleTestQuestion.props.rand : '' }}
                            </div>
                            <div v-if="ruleTestQuestion.props.questions == 'all'">
                                Вопросов в банке: {{ ruleTestQuestion.count_questions }} шт.
                            </div>
                        </td>
                        <td>
                            <div class="input-group"
                                 v-if="test"
                            >
                                <input
                                    class="form-control"
                                    v-model="ruleTestQuestion.props.point_count"
                                    :disabled="(test.attempts_count != 0)"
                                />
                                <div
                                    v-if="test.attempts_count == 0"
                                    class="input-group-append"
                                >
                                    <a class="input-group-text pointer" @click="updateRule(ruleTestQuestion)">
                                        <i class="fa fa-save"  />
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div
                                style="max-height: 60px; overflow: auto"
                                v-html="ruleTestQuestion.model.name"
                            >

                            </div>
                        </td>
                        <td>
                            {{ ruleTestQuestion.created_at }}
                        </td>
                        <td>
                            {{ ruleTestQuestion.updated_at }}
                        </td>
                        <td>
                            <button
                                class="btn fa fa-trash"
                                @click="deleteQuestion({question_id: ruleTestQuestion.id, quiz_id: test.id})"
                            >

                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <addingQuestionPopup
            v-if="visibleAddingQuestionPopup"
            :treeBankObject="bankQuestion"
            @closePopup="closePopup"
        />
        <change-test-settings
            v-if="visibleChangeSettingTestPopup"
            :test="test"
            @closePopup="closeChangeSettingTestPopup"
        />
    </div>
</template>

<script>
    import addingQuestionPopup from './addingQuestionPopup';
    import { getListBank } from '@base/api/bank-question/bank'

    import { removeQuestionRule, updateQuestionRule } from '@base/api/test/adding-questions';

    import ChangeTestSettings from './manage/changeTestSettings';


    export default {
        name: 'OrgTestShowQuestions',
        props: {
            test: {}
        },
        components: {
            ChangeTestSettings,
            addingQuestionPopup,
        },
        created() {
            this.getBank();
            //this.$emit('reload');
        },
        watch: {
            test() {
                this.getBank();
            }
        },
        data() {
            return {
                bankQuestion: {

                },
                testModel:{},
                update_setting_popup_show: false,
                types: {
                    'specific-question': 'Конкретный вопрос',
                    'all-questions-from-bank': 'Все вопросы из банка',
                    'random-questions-from-bank': 'Рандомные вопросы из банка',
                },
                visibleAddingQuestionPopup: false,
                visibleChangeSettingTestPopup: false,
            }
        },
        methods: {
            updateRule(ruleTestQuestion){
                updateQuestionRule({
                    question_id: ruleTestQuestion.id,
                    quiz_id: this.test.id,
                    point_count: ruleTestQuestion.props.point_count
                })
            },
            getBank(){
                if (this.test && this.test.model_id){
                    getListBank({
                        organization_id: this.test.model_id,
                        'with[]': 'tree-childs'
                    }).then((data) => {
                        this.bankQuestion = data[0];
                    })
                }
            },
            deleteQuestion(payload){
                removeQuestionRule(payload).then((data) => {
                    this.$emit('reload')
                }).catch((error) => {

                    this.$bvToast.toast(error.response.data.msg, {
                        autoHideDelay: 5000,
                        toaster: 'b-toaster-bottom-right',
                        title: 'Ошибка!',
                        variant: 'danger',
                        appendToast: true
                    });
                })
            },
            async closePopup(){
                this.visibleAddingQuestionPopup = false;
                getListBank({
                    organization_id: this.test.model_id,
                    'with[]': 'tree-childs'
                }).then((data) => {
                    this.bankQuestion = data[0];
                })
                this.$emit('reload')
            },
            closeChangeSettingTestPopup() {
                this.visibleChangeSettingTestPopup = false;
            }
        }
    };
</script>
