<template>
<div class="py-2">
    <div class="row pb-4">
        <div class="col-lg-2">
            <div class="input-group">
                <input type="text" class="form-control" v-model="filters.login" placeholder="Логин" />
                <div class="input-group-append">
                    <a class="input-group-text pointer" @click="loadResults">
                        <i class="fa fa-search" />
                    </a>
                </div>
            </div>
        </div>
        <div
            class="col-lg-3 ml-auto"
        >
            <div class="input-group">
                <select class="form-control" v-model="quiz_export_type">
                    <option value="full">
                        Отчет: Полный
                    </option>
                    <option value="full_without_categories">
                        Отчет: Полный (без дерева категорий)
                    </option>
                    <option value="full_without_categories_vs_card">
                        Отчет: Полный (без дерева категорий, с карточкой пользователя)
                    </option>
<!--                    <option value="school_count_average">-->
<!--                        Отчет: Школа, кол-во, сред балл.-->
<!--                    </option>-->
<!--                    <option value="category_questions_average">-->
<!--                        Отчет: Категории, средний балл.-->
<!--                    </option>-->
                </select>
                <div
                    class="input-group-append"
                    v-if="test"
                >
                    <a
                        v-b-tooltip="'Скачать Excel'"
                        class="input-group-text pointer"
                        target="_blank"
                        @click="sendExportJob"
                    >
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-adaptive" v-if="test">
        <thead>
            <tr>
                <th>№</th>
                <th>
                    Логин
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Время прохождения
                </th>
                <th>
                    Статус
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(result, id) in resultAttemptUser.data" :key="id">
                <td data-label="№">
                    {{ result.id }}
                </td>
                <td data-label="Логин">
                    {{ result.user.login }}
                </td>
                <td data-label="ФИО">
                    {{ result.user.fio }}
                </td>
                <td data-label="Время прохождения">
                    <timer-end v-if="result.status != 'ACTIVE'" :totalTime="result.duration_time" />
                </td>
                <td data-label="Статус">
                    <button class="btn btn-red" v-if="canRate(result)" @click="checkingPopup(result.id)">
                        Оценить
                    </button>
                    <p v-else>{{ result_statuses[result.status]}}</p>
                </td>
                <td data-label="№">
                    <div v-if="result.status == 'SUCCESS' || result.status == 'FAILED'">
                        <a @click="quizAttemptDelete(result)" class="btn fa fa-trash" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row py-4">
        <div class="col">
<!--            <a v-if="test" :href="'/api/v2/quizzes/'+test.id+'?action=excel'" class="btn" target="_blank">-->
<!--                Скачать результаты-->
<!--            </a>-->
        </div>
        <div class="col m-auto">
            <b-pagination v-if="resultAttemptUser.paginate" aria-controls="my-table" align="center" class="m-auto" v-model="currentPage" :total-rows="resultAttemptUser.paginate.total" :per-page="resultAttemptUser.paginate.per_page"></b-pagination>
        </div>
        <div class="col">

        </div>
    </div>
    <checking-popup v-if="visibleCheckingPopup" :currentResultAttempt="currentResultAttempt" @closePopup="closePopup" />
</div>
</template>

<script>
import {
    createNamespacedHelpers,
    mapGetters
} from 'vuex';
import TimerEnd from '@base/components/course/test/testComponent/TimerEnd';
import CheckingPopup from './CheckingAnswerPopup.vue';

import {
    quizAttemptDelete
} from '@base/api/test/test-attempt';

const organization = createNamespacedHelpers('organization');
const test = createNamespacedHelpers('test');

export default {
    name: "OrgTestsResults",
    components: {
        TimerEnd,
        CheckingPopup
    },
    props: {
        test: {

        },
        permissions: {
            teaching: false
        }
    },
    data() {
        return {
            quiz_export_type: 'full_without_categories',
            filters: {
                login: '',
            },
            result_statuses: {
                'SUCCESS': 'Оценен',
                'PENDING': 'Ожидает оценки',
                'FAILED': 'Не пройден',
                'WAITING_CALC': 'Расчитывается',
                'ACTIVE': 'Прохождение',
            },
            attemptsResult: {},
            visibleCheckingPopup: false,
            currentResultAttempt: 0,
            visiblePopupPassword: false,
            currentPage: 1,
            paginate: 1,
            qty: 5,
            show_attempt_results: false
        }
    },
    computed: {
        ...test.mapGetters({
            resultAttemptUser: 'RESULTS_ATTEMPT_USER',
        }),
    },
    methods: {
        ...test.mapActions({
            getResultAttemptUser: 'GET_RESULTS_ATTEMPT_USER',
        }),
        sendExportJob(){

            return axios.get('/api/v2/quiz-export/'+this.test.id, {
                params: {
                    action: this.quiz_export_type,
                    users_type: 'all'
                }
            })
                .then(response => {
                    this.makeToast({
                        variant: 'success',
                        title: 'Экспорт',
                        description: 'Ожидайте оповещения со ссылкой на файл'
                    });
                })
        },
        makeToast(message) {
            this.$bvToast.toast(message.description, {
                autoHideDelay: 3000,
                toaster: 'b-toaster-top-center',
                title: message.title,
                variant: message.variant,
                appendToast: true,
            });
        },
        loadResults() {
            if (this.test && this.test.id) {
                this.getResultAttemptUser({
                    quiz_id: this.test.id,
                    filters: {
                        'filters[login]': this.filters.login
                    },
                    with: [
                        'indicatorLevels',
                        'user'
                    ],
                    page: this.currentPage,
                    qty: this.qty
                });
            }
        },
        checkingPopup(id) {
            this.currentResultAttempt = id;
            this.visibleCheckingPopup = true;
        },
        canRate(result) {
            return (this.permissions.teaching && result.attempt_result && result.attempt_result.status === 'PENDING')
        },
        closePopup(val) {
            if (val) {
                this.loadResults();
            }
            this.visibleCheckingPopup = false;
        },
        quizAttemptDelete(attempt) {
            quizAttemptDelete({
                attempt_id: attempt.id
            }).then((response) => {
                this.loadResults();
            })
        }
    },
    watch: {
        'filters.login': function () {
            if (this.filters.login == "") {
                this.loadResults();
            }
        },
        'test': function () {
            this.loadResults();
        },
        currentPage: function () {
            this.loadResults();
        }
    },
    created() {
        this.loadResults();
    }
}
</script>
