<template>
    <div>
        <test-navigation
        />
        <main class="course">
            <div class="container">
                <router-view
                    :test="test"
                    :permissions="permissions"
                    @reload="reloadQuiz"
                />
            </div>
        </main>
    </div>
</template>

<script>
    import TestNavigation from './TestNavigation';
    import { getOrganizationQuizzes } from '@base/api/organization';

    export default {
        name: 'OrgTestsShow',
        components: { TestNavigation },
        props:{
            permissions: {}
        },
        data() {
            return {
                test: null,
            };
        },
        computed: {
            test_id() {
                return this.$route.params.test_id;
            }
        },
        created(){
            this.getQuiz();
        },
        methods: {
            reloadQuiz(){
                this.getQuiz();
            },
            getQuiz(){
                getOrganizationQuizzes({
                    id: this.test_id,
                    with: [
                        'indicators',
                        'indicators.levels',
                        'access',
                        'questions',
                        'result_accesses'
                    ],
                }).then(response => {
                    this.test = response.data.data.quizzes[0];
                    //this.pagination.total = response.data.data.quizzes.total;
                });
            }
        }
    };
</script>
