<template>
    <div class="container pb-2">
        <nav
            class="nav red flex-row flex-nowrap justify-content-xxl-center mt-3"
        >
            <li
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="[($route.name === 'org.viro.test.questions') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.viro.test.questions'}"

                >
                    Вопросы
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="[($route.name === 'org.viro.test.indicators') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.viro.test.indicators'}"

                >
                    Индикаторы
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="[($route.name === 'org.viro.test.access') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.viro.test.access'}"

                >
                    Доступ
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="[($route.name === 'org.viro.test.result-access') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.viro.test.result-access'}"

                >
                    Доступ к результатам
                </router-link>
            </li>
            <li
                class="nav-item"
            >
                <router-link
                    class="nav-link"
                    :class="[($route.name === 'org.viro.test.results') && 'router-link-exact-active router-link-active']"
                    :to="{ name: 'org.viro.test.results'}"

                >
                    Результаты
                </router-link>
            </li>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'TestNavigation',
    data() {
        return {

        }
    }
}
</script>
