<template>
    <div>
        <div class="row">
            <a
                class="btn"
                @click="testAddAccessShow = true"
            >
                Добавить
            </a>
        </div>
        <div class="row py-2">
            <table
                v-if="test && test.accesses"
                class="table"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Модель</td>
                        <td>Тип</td>
                        <td>Параметры</td>
                        <td></td>
                    </tr>
                </thead>
                <tr
                    v-for="(row, id) in test.accesses"
                    :key="id"
                >
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                        <div v-if="row.model_type == 'App\\Models\\Organization'">
                            {{ row.model ? row.model.name : '' }}
                        </div>
                        <div v-if="row.model_type == 'App\\Models\\User'">
                            {{ row.model.lastname }} {{ row.model.firstname }}
                        </div>
                        <div v-if="row.type == 'card_dynamic_filter'">
                            {{ row.card_template.name }}
                        </div>

                    </td>
                    <td>
                        <div v-if="row.type == 'all'">
                            Все пользователи организации
                        </div>
                        <div v-if="row.type == 'role'">
                            Пользователи организации с определенной ролью
                        </div>
                        <div v-if="row.type == 'card'">
                            Пользователи организации с определенной карточкой
                        </div>
                        <div v-if="row.type == 'card_filter'">
                            Пользователи организации с определенной ролью и фильтром
                        </div>
                        <div v-if="row.type == 'select'">
                            Пользователей должно быть назначено: <b>{{ row.count }}</b>
                        </div>
                        <div v-if="row.type == 'by_class_number'">
                            by_class_number
                        </div>
                        <div v-if="row.type == 'card_dynamic_filter'">
                            card_dynamic_filter
                        </div>
                        <div v-if="row.type == 'organizations_role'">
                            К пользователям всех организаций с определенной ролью
                        </div>
                    </td>
                    <td>
                        <div v-if="row.type == 'role'">
                            <b>{{ row.role.label }}</b>
                        </div>
                        <div v-if="row.type == 'organizations_role'">
                            <b>{{ row.role.label }}</b>
                        </div>
                        <div v-if="row.type == 'card'">
                            <b>{{ row.card_template.name }}</b>
                        </div>
                        <div v-if="row.type == 'select'">
                            Назначено: {{row.users.length}}
                            <a
                                @click="openTestAccessUsers(row)"
                                class="fa fa-user pointer"
                            />
                        </div>
                        <div v-if="row.type == 'card_filter'">
                            Назначено: {{row.users.length}}
                            <a
                                @click="openTestAccessUsers(row)"
                                class="fa fa-user pointer"
                            />
                        </div>
                        <div
                            v-if="row.type == 'card_dynamic_filter' && row.filter"
                        >
                            <div
                                v-for="(f,k) in row.filter.fields"
                            >
                                <label>
                                    {{ (row.card_template.fields.find(el => el.id == k)) ? row.card_template.fields.find(el => el.id == k).name : '' }}:
                                </label>
                                <b>
                                    {{ f }}
                                </b>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a
                            @click="openAccessUsersPopup(row)"
                            class="btn fa fa-users"
                        />
                        <a
                            @click="deleteAccess(row)"
                            class="ml-2 btn fa fa-trash"
                        />
                    </td>
                </tr>
            </table>
        </div>

        <test-add-access
            :test="test"
            v-if="testAddAccessShow"
            @closePopup="testAddAccessClose"
        />

        <test-access-users
            :access="access"
            :show="testAccessUsersShow"
            @closePopup="closeTestAccessUsers"
        />
        <test-access-users-popup
            :access="access"
            v-if="testAccessUsersPopupShow"
            @closePopup="closeAccessUsersPopup"
        />
    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import TestAddAccess from './manage/testAddAccess';
    import TestAccessUsers from './manage/testAccessUsers';
    import TestAccessUsersPopup from './manage/testAccessUsersPopup';

    export default {
        name: "TestsShowAccess",
        components: { TestAccessUsers, TestAddAccess, TestAccessUsersPopup },
        props: {
            test: {
                accesses: [
                ],
            },
        },
        data() {
            return {
                access: {
                    id: null,
                    quiz: {
                        name: ''
                    },
                    users: []
                },
                testAddAccessShow: false,
                testAccessUsersShow: false,
                testAccessUsersPopupShow: false,
            }
        },
        methods: {
            deleteAccess(item){
                let data = {};
                data.action = 'remove-access';
                data.quiz_access_id = item.id;
                update(this.test.id, data).then((response) => {
                    if (response.status == 200){
                        this.$emit('reload');
                    } else {
                        //this.errors = response.data.errors;
                    }
                });
            },
            testAddAccessClose(){
                this.testAddAccessShow = false;
                this.$emit('reload');
            },
            openTestAccessUsers(item){
                this.access = item;
                this.testAccessUsersShow = true;

            },
            closeTestAccessUsers(){
                this.testAccessUsersShow = false;
                this.$emit('reload');
            },
            openAccessUsersPopup(item){
                this.access = item;
                this.testAccessUsersPopupShow = true;
            },
            closeAccessUsersPopup(){
                this.testAccessUsersPopupShow = false;
            }
        }
    }
</script>
