<template>
    <div>
        <div class="row">
            <a
                class="btn"
                @click="testAddResultAccessShow = true"
            >
                Добавить
            </a>
        </div>
        <div class="row py-2">
            <table
                v-if="test && test.result_accesses"
                class="table"
            >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Тип</td>
                        <td>Модель</td>
                        <td></td>
                    </tr>
                </thead>
                <tr
                    v-for="(row, id) in test.result_accesses"
                    :key="id"
                >
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                         {{ types[row.type] }}
                    </td>
                    <td>
                        {{ row.model_name }}
                    </td>
                    <td>
                        <a
                            @click="deleteAccess(row)"
                            class="ml-2 btn fa fa-trash"
                        />
                    </td>
                </tr>
            </table>
        </div>

        <test-add-result-access
            :test="test"
            v-if="testAddResultAccessShow"
            @closePopup="testAddResultAccessClose"
        />


    </div>
</template>

<script>
    import { update } from '@base/api/test/test-update';
    import TestAddResultAccess from './manage/testAddResultAccess';


    export default {
        name: "TestsShowResultAccess",
        components: { TestAddResultAccess },
        props: {
            test: {
                result_accesses: [
                ],
            },
        },
        data() {
            return {
                access: {
                    id: null,
                    quiz: {
                        name: ''
                    },
                    users: []
                },
                types: {
                    all: 'Все организации',
                    district: 'Район',
                    organization: 'Организация',
                },
                testAddResultAccessShow: false,
            }
        },
        methods: {
            deleteAccess(item){
                let data = {};
                data.action = 'remove-result-access';
                data.quiz_result_access_id = item.id;
                update(this.test.id, data).then((response) => {
                    if (response.status == 200){
                        this.$emit('reload');
                    } else {
                        //this.errors = response.data.errors;
                    }
                });
            },
            testAddResultAccessClose(){
                this.testAddResultAccessShow = false;
                this.$emit('reload');
            },
        }
    }
</script>
